/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-Images-Store-fb-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -1px;
}
.sprite-Images-Store-fb-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -44px;
}
.sprite-Images-Store-tw-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -87px;
}
.sprite-Images-Store-tw-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -130px;
}
.sprite-Images-Store-yt-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -173px;
}
.sprite-Images-Store-yt-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') -1px -216px;
}
.sprite-Images-Store-logo() {
/* You may have to set 'display: block' */
	width: 210px;
	height: 40px;
	background: url('social.png') -1px -259px;
}
.sprite-Images-Store-close() {
/* You may have to set 'display: block' */
	width: 25px;
	height: 25px;
	background: url('social.png') -1px -300px;
}
.sprite-Images-Store-envelop() {
/* You may have to set 'display: block' */
	width: 31px;
	height: 26px;
	background: url('social.png') -1px -326px;
}
