/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-Images-Store-fb-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 0;
}
@mixin sprite-Images-Store-fb-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 -42px;
}
@mixin sprite-Images-Store-tw-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 -84px;
}
@mixin sprite-Images-Store-tw-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 -126px;
}
@mixin sprite-Images-Store-yt-off() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 -168px;
}
@mixin sprite-Images-Store-yt-on() {
/* You may have to set 'display: block' */
	width: 42px;
	height: 42px;
	background: url('social.png') 0 -210px;
}
@mixin sprite-Images-Store-logo() {
/* You may have to set 'display: block' */
	width: 210px;
	height: 40px;
	background: url('social.png') 0 -252px;
}
@mixin sprite-Images-Store-close() {
/* You may have to set 'display: block' */
	width: 25px;
	height: 25px;
	background: url('social.png') 0 -292px;
}
@mixin sprite-Images-Store-envelop() {
/* You may have to set 'display: block' */
	width: 31px;
	height: 26px;
	background: url('social.png') 0 -317px;
}
