<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spitballtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>spitballtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>spitballtest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$spitballtest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Zbang.Zbox.Infrastructure.Security.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False" Name="Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Zbang.Zbox.Infrastructure.Security.ApplicationDbContext, Zbang.Zbox.Infrastructure.Security" MigrationConfiguration="Zbang.Zbox.Infrastructure.Security.Migrations.Configuration, Zbang.Zbox.Infrastructure.Security" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZBox" Order="2" Enabled="False">
          <Destination Path="Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False" Name="Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False;MultipleActiveResultSets=true" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:on0rodxe8f.database.windows.net;Initial Catalog=ZBoxNew;Integrated Security=False;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ZBox_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBoxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;Asynchronous Processing=True;Connection Timeout=30;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Zbang.Zbox.Infrastructure.Security.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZBox-Web.config Connection String">
      <ParameterValue>Data Source=on0rodxe8f.database.windows.net;Initial Catalog=ZboxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Asynchronous Processing=True;TrustServerCertificate=False;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Zbang.Zbox.Infrastructure.Security.ApplicationDbContext" />
  </ItemGroup>
</Project>