@using Zbang.Zbox.Mvc3WebRole.Views.Item.Resources
<div class="itemsSection" id="items" data-strap="boxItem">
    <h4 class="sectiontitle" data-bind="text: countofItemsdisplay"></h4>
    <div data-bind="visible: noResult()" class="emptyState">
        @ItemsResources.NothingHereYet
        <div>
            <input type="button" value="@ItemsResources.Upload" id="esUpload" /><span>&nbsp;@ItemsResources.SomeFilesOr&nbsp;</span>
            <input type="button" value="@ItemsResources.Links" id="esLink" />
        </div>
    </div>
    <ul id="BoxItemList" data-bind=" template : {name: 'items-thumb-template', foreach:items, afterRender: changeLayoutAfterRender}">
    </ul>
   
</div>
@{Html.RenderPartial("_Template");}

