@using Zbang.Zbox.Mvc3WebRole.Views.Box.Resources

<div class="popupWrppr tagsAll txtshd1" data-strap="tags">
    <header class="popupHeader popupGradient">@IndexResources.Tags</header>

    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>
                <span class="tagNameSelected">@tag</span>
                <button class="tagSelectedX"></button>
            </li>
        }
    </ul>

    <button class="closeDialog shareSprite"></button>
    
</div>