@using Zbang.Zbox.Mvc3WebRole.Views.Item.Resources

<script type="text/html" id="items-thumb-template">
    <li class="boxItem">
        <a data-bind="attr: { href: itemUrl}">
            <div class="boxName txtshd2 elps tooltip" data-bind="attr: {title: name}, text: name"></div>
            <div class="boxOwner txtshd2 elps" data-bind="text: uploader"></div>
            <img data-bind="attr: {src: thumbnailUrl}" alt="" width="186" height="133" />
        </a>
        <div class="actionBtns">
            <a data-bind="attr:{ href: download}" target="_blank" class="downloadBtn tooltip"><span class="downloadBtnImg"></span>
                <span class="callout" data-bind="css:{ downloadOnly: !deleteAllow}">@IndexResources.Download</span>
            </a>
            <!-- ko if: deleteAllow -->
            <button class="deleteBtn tooltip" data-bind="click: $root.removeItem"><span class="deleteBtnImg"></span>
            <span class="callout">@IndexResources.Delete</span>
            </button>
            <!-- /ko -->
        </div>
        <div class="boxHoverProps">
            &lrm;<span class="fileSize" data-bind="text: itemSize"></span>
            <span class="comments"></span><span class="count" data-bind="text: commentCount"></span>
        </div>
    </li>
</script>
