
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.University.Resources
<div class="box-style box-style-form">
    <form name="createDepartment" class="create-department" novalidate ng-submit="l.createDepartment(createDepartment)">
        <md-content>
            <md-input-container flex>
                <label>@UniversityResources.EnterDepName</label>
                <input id="createDepartmentInput" focus-me="l.focusCreateDepartment" autocomplete="off" name="name" required md-no-asterisk ng-model="l.departmentName" ng-change="createDepartment.name.$setValidity('server',true)" />
                <div ng-messages="createDepartment.name.$error" ng-show="createDepartment.name.$dirty">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                    <div ng-message="server">{{l.error}}</div>
                </div>
            </md-input-container>
        </md-content>
        <div class="buttons" layout="row" layout-align="end center text-capitalize">
            <button type="button" class="cancel-btn" ng-click="l.departmentCancel(createDepartment)" ga-track-event="['university', 'cancel new department']">@GeneralResources.Cancel</button>
            <button type="submit" class="action-btn space-before" ng-disabled="!createDepartment.$valid || l.submitDisabled" ga-track-event="['university', 'create new department']">@GeneralResources.Create</button>
        </div>
    </form>
</div>
