<div>
    <!--Artboard 1 copy-->
    <h1></h1>
    <form name="classChooseFrom" novalidate ng-submit="cc.universitySearch" layout="row" layout-wrap>
        <input spellcheck="false" autofocus ng-disabled="cc.createUniversity" type="search" placeholder="Search by class name or department"
               ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.universitySearch(libraryChooseForm)" ng-minlength="2" />
        <div class="clear"></div>
        <button type="submit" class="search-button" ng-disabled="!cc.term.length">
            <md-icon md-svg-icon="t:searchIcon"></md-icon>
        </button>
    </form>
    <img src="" />
    <div></div>
</div>

<div>
    <!--Artboard 1 copy 6-->
    <h1></h1>
    <form name="classChooseFrom" novalidate ng-submit="cc.universitySearch" layout="row" layout-wrap>
        <input spellcheck="false" autofocus ng-disabled="cc.createUniversity" type="search" placeholder="Search by class name or department"
               ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.universitySearch(libraryChooseForm)" ng-minlength="2" />
        <div class="clear"></div>
        <button type="submit" class="search-button" ng-disabled="!cc.term.length">
            <md-icon md-svg-icon="t:searchIcon"></md-icon>
        </button>
    </form>
    <div class="result">
        <h2 class="course-name"></h2>
        <div class="instructor"></div>
        <div class="number"></div>
    </div>
</div>