<div><!--pic 9-->
    <form name="classChooseFrom" novalidate ng-submit="cc.classSearch" layout="row" layout-wrap>
        <input spellcheck="false" autofocus type="search" placeholder="Search by class name or department"
               ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.classSearch" ng-minlength="2" />
        <button type="submit" class="search-button" ng-disabled="!cc.term.length">
            <md-icon md-svg-icon="t:searchIcon"></md-icon>
        </button>
    </form>
</div>

