<ng-pluralize class="title" count="cc.stepTitle" when="{
               '1' : 'Let us help you find the classes you are taking',
               '2' : 'Select your first class',
               '3' : 'Good job!',
               '4' : 'One done. One more to go!',
               '5' : '' }">
</ng-pluralize>
<form class="search-form" name="classChooseFrom" novalidate ng-submit="cc.classSearch()" layout="row" layout-wrap>
    <input spellcheck="false" autofocus type="search" placeholder="Search by class name or department"
           ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.classSearch()" ng-minlength="2" required />
    <button type="submit" class="search-button" ng-disabled="classChooseFrom.$invalid">
        <md-icon md-svg-icon="t:searchIcon"></md-icon>
    </button>
</form>
<div ng-switch="2">
    <div ng-switch-when="1" class="content">
        <!--Artboard 1 copy / copy 7 / copy 8 -->

        <div class="search-image">
            <img src="@Url.CdnContent("/Images/Site/search_uni.png?v=3")" />
            <div class="text">Advance to the next level...</div>
        </div>
        <div class="empty-state">
            <div class="text"></div>
            <button type="button" class="create-class"></button>
        </div>
    </div>

    <div ng-switch-when="2" layout="row" layout-padding layout-wrap class="content search-results">
        <!--Artboard 1 copy 6-->
        <div class="wrapper" flex="50" flex-xs="100">
            <div class="result box-style">
                <h2 class="course-name" d-color="{{::box.name.length}}">Philosophy</h2>
                <div class="number">123456</div>
                <div class="instructor">instructor</div>
            </div>
        </div>
        <div class="wrapper" flex="50" flex-xs="100">
            <div class="result box-style">
                <h2 class="course-name" d-color="{{::box.name.length}}">Philosophy</h2>
                <div class="number">123456</div>
                <div class="instructor">instructor</div>
            </div>
        </div>
    </div>

    <div ng-switch-when="3" class="content">
        <!--Artboard 1 copy 5-->
        <h1></h1>
        <h2></h2>
        <div>
            <div class="counter header">
                <div class="text"></div>
                <div class="progress"></div>
            </div>
            <div class="boxes">
                <div class="selected">
                    <div class="name"></div>
                </div>
                <div class="empty">
                    <div class="name"></div>
                </div>
            </div>
        </div>
        <button class="select-more" type="button"></button>
        <button class="done" type="submit"></button>
    </div>


    <div ng-switch-when="4" class="content">
        <!--Artboard 1 copy 4-->
        <h1></h1>
        <div class="department"></div>
        <form @*name="classChooseFrom"*@ novalidate @*ng-submit="cc.classSearch"*@ layout="row" layout-wrap>

            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <button type="button"></button>
            <button type="submit"></button>
        </form>
    </div>

    <div ng-switch-when="5" class="content">
        <!--Artboard 1 copy 3-->
        <h1></h1>
        <div class="department"></div>
        <button type="button"></button>
    </div>
</div>