<ng-pluralize class="title" count="cc.step" when="{
               '1' : 'Let us help you find the classes you are taking',
               '2' : 'Select your first class',
               '3' : 'Good job!',
               '4' : 'One done. One more to go!',
               '5' : '' }">
</ng-pluralize>
<form ng-show="[1,2,4].indexOf(cc.step) !== -1" class="search-form" name="classChooseFrom" novalidate ng-submit="cc.classSearch()" layout="row" layout-wrap>
    <input spellcheck="false" autofocus type="search" placeholder="Search by class name or department"
           ng-model="cc.term" ng-model-options="{debounce : 350}" ng-change="cc.classSearch()" ng-minlength="2" required />
    <button type="submit" class="search-button" ng-disabled="classChooseFrom.$invalid">
        <md-icon md-svg-icon="t:searchIcon"></md-icon>
    </button>
</form>
<div ng-switch="cc.step">
    <div ng-switch-when="1" class="content">
        <!--Artboard 1 copy / copy 7 / copy 8 -->

        <div class="search-image">
            <img src="@Url.CdnContent("/Images/Site/search_uni.png?v=3")" />
            <div class="text">Advance to the next level...</div>
        </div>
        <div class="empty-state">
            <div class="text"></div>
            <button type="button" class="create-class"></button>
        </div>
    </div>

    <div ng-switch-multiple-when="[2,4]" layout="row" layout-padding layout-wrap class="content search-results">
        <!--Artboard 1 copy 6-->
        <div class="wrapper" ng-repeat="c in cc.searchResult track by c.id" flex="50" flex-xs="100">
            <div class="result box-style" ng-click="cc.chose(c)">
                <h2 class="course-name ellipsis" d-color="{{::c.name.length}}" ng-bind="::c.name"></h2>
                <div class="number" ng-bind="::c.courseCode"></div>
                <div class="instructor" ng-bind="::c.professor"></div>
            </div>
        </div>
    </div>

    <div ng-switch-multiple-when="[3,5]" class="content selected-boxes">
        <!--Artboard 1 copy 5-->
            <div class="counter header">
                <div class="text"></div>
                <div class="progress">{{::cc.selectedCourses.length}}/2</div>
            </div>
            <div class="boxes" layout="row" layout-padding layout-wrap>
                <div class="wrapper" flex="50" flex-xs="100" ng-repeat="c in ::cc.selectedCourses track by c.id">
                    <div class="selected box-style">
                        <h2 class="course-name ellipsis" d-color="{{::c.name.length}}" ng-bind="::c.name"></h2>
                        <div class="number" ng-bind="::c.courseCode"></div>
                        <div class="instructor" ng-bind="::c.professor"></div>
                    </div>
                </div>
                
                <div class="wrapper" flex="50" flex-xs="100" ng-repeat="i in ::cc.getRemainingElement() track by $index">
                    <div class="empty box-style">
                        <h2 class="course-name ellipsis" ng-bind="::$index + cc.selectedCourses.length + 1"></h2>
                    </div>
                </div>
            </div>
        <div class="buttons">
            <button class="select-more action-btn" type="button" ng-click="cc.step = cc.step + 1">Select another class</button>
            <button class="done action-btn" type="submit" ng-if="cc.step === 5"></button>
        </div>
    </div>
    <div ng-switch-when="6" class="content">
        <!--Artboard 1 copy 4-->
        <h1></h1>
        <div class="department"></div>
        <form @*name="classChooseFrom"*@ novalidate @*ng-submit="cc.classSearch"*@ layout="row" layout-wrap>
            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <div>
                <div class="title"></div>
                <input type="text" />
            </div>
            <button type="button"></button>
            <button type="submit"></button>
        </form>
    </div>

    <div ng-switch-when="7" class="content">
        <!--Artboard 1 copy 3-->
        <h1></h1>
        <div class="department"></div>
        <button type="button"></button>
    </div>
</div>
