/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-Images-HomePage-academic() {
/* You may have to set 'display: block' */
	width: 125px;
	height: 86px;
	background: url('HomePageBottom.png') -1px -1px;
}
@mixin sprite-Images-HomePage-achva() {
/* You may have to set 'display: block' */
	width: 142px;
	height: 89px;
	background: url('HomePageBottom.png') -1px -88px;
}
@mixin sprite-Images-HomePage-asva() {
/* You may have to set 'display: block' */
	width: 147px;
	height: 61px;
	background: url('HomePageBottom.png') -1px -178px;
}
@mixin sprite-Images-HomePage-berel() {
/* You may have to set 'display: block' */
	width: 143px;
	height: 90px;
	background: url('HomePageBottom.png') -1px -240px;
}
@mixin sprite-Images-HomePage-gsb() {
/* You may have to set 'display: block' */
	width: 102px;
	height: 95px;
	background: url('HomePageBottom.png') -1px -331px;
}
@mixin sprite-Images-HomePage-haGlobe() {
/* You may have to set 'display: block' */
	width: 141px;
	height: 87px;
	background: url('HomePageBottom.png') -1px -427px;
}
@mixin sprite-Images-HomePage-idius() {
/* You may have to set 'display: block' */
	width: 139px;
	height: 74px;
	background: url('HomePageBottom.png') -1px -515px;
}
@mixin sprite-Images-HomePage-openU() {
/* You may have to set 'display: block' */
	width: 124px;
	height: 96px;
	background: url('HomePageBottom.png') -1px -590px;
}
@mixin sprite-Images-HomePage-peres() {
/* You may have to set 'display: block' */
	width: 140px;
	height: 46px;
	background: url('HomePageBottom.png') -1px -687px;
}
@mixin sprite-Images-HomePage-srvu() {
/* You may have to set 'display: block' */
	width: 95px;
	height: 117px;
	background: url('HomePageBottom.png') -1px -734px;
}
