.videos-wrapper {
  .video-holder{
    background: #ffffff;
    padding: 16px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    min-width: 388px;
    border-radius: 16px;
    margin-bottom: 6px;
  }
  .video-size-ctrl {
    cursor: pointer;
  }
  #remoteTrack {
    video {
      border: 3px solid rgb(124, 129, 124);
      background-repeat: no-repeat;
    }
  }
  #localTrack {
    video {
      border: 3px solid rgb(124, 129, 124);
      background-repeat: no-repeat;
    }
  }
  .spacing {
    padding: 20px;
    width: 100%;
  }
  .roomTitle {
    padding: 4px;
    color: dodgerblue;
  }
}