@using Zbang.Cloudents.Mvc4WebRole.Views.Comment.Resources
@*<div class="sectionHeader"><span data-bind="text: commentCount"></span>&nbsp;@CommentResources.Comments</div>*@

<form data-bind="submit: addComment" class="addComment">
    <textarea data-id="CommentText" placeholder="@CommentResources.ShareYourThoughts" class="commentText"></textarea>
    <button class="btn1 rFloat" type="submit" style="display: none;">@CommentResources.Send</button>
</form>

<ol class="commentsList" data-bind="foreach: comments">
    <li>
        <img class="lFloat" data-bind="attr: { src: userImg }" width="32" height="32" />
        <div class="comment">
            <span class="boldFont" data-bind="text: userName"></span>&nbsp;<span class="commentTime" data-bind="text: date"></span>
            <div data-bind="html: comment"></div>
            @*<button class="reply">@CommentResources.Reply</button>*@
        </div>
    </li>
    <ol class="replyList" data-bind="foreach: replies">
        <li>
            <img class="lFloat" data-bind="attr: { src: userImg }" width="32" height="32" />
            <div class="comment">
                <span class="boldFont" data-bind="text: userName"></span>&nbsp;<span class="commentTime" data-bind="text: date"></span>
                <div data-bind="html: comment"></div>
            </div>
            @*<!-- ko if: isComment -->*@
           @* <div class="reply">@CommentResources.Reply</div>*@
            @*<!-- /ko--> *@
        </li>
    </ol>
</ol>

@*<div class="showHeader">All Comments</div>*@
