@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<script defer="defer" type="text/html" id="comment-template">
    <li class="comment clearfix">
        <!-- ko if: deleteAllow -->
        <span class="commentDelete" data-bind="click: $root.removeComment"></span>
        <!-- /ko -->
        <img alt="" class="userImg calloutTrgr" data-bind="attr: { src: userImg, 'data-img': userImg, 'data-name': userName, 'data-uid': userUid }" width="32" height="32" />
        <div class="commentDetails">
            <span class="commentH1 elps dotChar" data-bind="text: userName"></span><span class="commentTime" data-bind="text:date"></span>
            <!-- ko if: item -->
            <a class="commentH2 elps" data-bind="text: itemName, attr: { href : itemurl}"></a>
            <!-- /ko -->
            <div class="commentText" data-bind="html: comment">
            </div>
        </div>
        <!-- ko if: isComment -->
        <a class="rFloat commentAction">@SharedResources.Reply</a>
        <!-- /ko -->
    </li>
    <!-- ko if: isComment -->
    <li class="commentReply clearfix" style="display: none">
        <form data-bind="submit: $root.addReply">
            <img alt="" class="lFloat userImg" src="@Url.CdnContent("/images/user-pic.png")" width="32" height="32" />
            <div class="textAreaCtrl">
                <textarea class="inputText commentTextarea clearfix" placeholder="@SharedResources.WriteComment"></textarea>
            </div>
            <button class="rFloat btn2" type="submit">@SharedResources.Reply</button>
        </form>
    </li>

    <ol class="reply" data-bind="template: { name:'comment-template', foreach: replies }"></ol>
    <!-- /ko -->
</script>