@model string
<div class="boxContent">
    <div>The preview of this file type isn't available yet.</div>
    <br />
    <div>
        We are working on making it possible to preview all file types<br />
        but haven't gotten to this one yet.
         Meanwhile, you can try downloading<br />
        the file to your computer to view
    </div>
    <a target="_Blank" href="@Model">Download</a>
</div>
