<html>
<head>
    <style>
        .page-wrapper {
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        form {
            min-width: 400px;
            padding: 8px 16px;
            background: white;
            border-radius: 4px;
            box-shadow: 0px 0 4px grey;
        }
        h2 {
            margin: 16px 0 8px 0;
        }
        input#amount {
            border: 1px solid grey;
            margin: 16px;
            display: block;
            margin-left: 0;
        }
        input.button {
            float: right;
            background: #302eb5;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
        }
    </style>

</head>
<body>
    <div class="page-wrapper">
        <form>
            <h2>From</h2>
            <input id="0" type="radio" name="from" />
            <label for="0">Hadar</label>
            <input id="1" type="radio" name="from" />
            <label for="1">Ubuntu</label>
            <input id="2" type="radio" name="from" />
            <label for="2">Ram</label>

            <h2>To</h2>
            <input id="0" type="radio" name="to" />
            <label for="0">Hadar</label>
            <input id="1" type="radio" name="to" />
            <label for="1">Ubuntu</label>
            <input id="2" type="radio" name="to" />
            <label for="2">Ram</label>
            <br />
            <h2>Transfer:</h2>
            <input type="number" style="background: white" id="amount" />
            <input class="button" type="submit" onclick="sendTx" value="Submit" id="send" />
            <input class="button" type="submit" onclick="getBalance" value="Balance" id="getbalance" />
            <input class="button" type="submit" onclick="createAccount" value="createAccount" id="createaccount" />
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("send").addEventListener("click", function (e) {
            e.preventDefault();
            sendTx()

        })
        function sendTx() {

            var From = $('input[name=from]:checked').attr('id');
            var To = $('input[name=to]:checked').attr('id');
           
            var ContractInput = {
                fromPK: From,
                toAddress: To
                , amount: $("#amount").val()
            };

            $.post("blockchain/TransferMoney", ContractInput).then(function (result) {
                alert(result);

            })
           
        }


        document.getElementById("getbalance").addEventListener("click", function (e) {
            e.preventDefault();
            getBalance();
        })
        function getBalance() {
            var From = $('input[name=from]:checked').attr('id');

            var ContractInput = { fromPK: From };
            
            var Balance = $.get("blockchain/GetBalance", ContractInput).then(function (result) {
                alert(result / Math.pow(10,18));

            });
            
           
        }
        document.getElementById("createaccount").addEventListener("click", function (e) {
            e.preventDefault();
            createAccount();
        })

        function createAccount() {
            var Account = $.post("blockchain/CreateAccount").then(function (result) {
                alert(result);
            })
        };
    </script>

</body>
</html>