<html>
<head>
    <style>

    </style>

</head>
<body>
    <form>
        <h2>From</div>
        <input id="irena" type="radio" name="from" />
        <label for="irena">Irena</label>
        <input id="irena" type="radio" name="from" />
        <label for="irena">Ram</label>
        <input id="irena" type="radio" name="from" />
        <label for="irena">Eidan</label>

        <br />
        <h2>To</h2>
        <input id="irena" type="radio" name="to" />
        <label for="irena">Irena</label>
        <input id="irena" type="radio" name="to" />
        <label for="irena">Ram</label>
        <input id="irena" type="radio" name="to" />
        <label for="irena">Eidan</label>
        <br />
        <label for="amount">Transfer</label>
        <input type="number" style="background: white" id="amount" />
        <br />
        <input class="button" type="submit" value="Submit"/>
    </form>


</body>
</html>