
.fade-total-enter-active {
  transition: all 1.2s;

}

.fade-total-leave-active {
  transition: all 0.1s;
}

.fade-total-enter, .fade-total-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.list-enter-active {
  transition: all 0.6s;
}

.list-leave-active {
  transition: all 0.6s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}