.dissapear-total-chip-enter-active {
  transition: all 1.8s;
  opacity: 1;
}

.dissapear-total-chip-leave-active {
  transition: all 0.1s;
}

.dissapear-total-chip-enter, .dissapear-total-chip-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(100%);
}

.list-enter-active {
  transition: all 0.6s;
  //transition-delay: 3s;
}

.list-leave-active {
  transition: all 0.6s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  //transform: translateY(100%);
  transform: translateX(100%);

}