@import "../../styles/mixin.less";
//scroll style start
.school-block::-webkit-scrollbar {
  width: 4px !important;
}

/* Track */
.school-block::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #F5F5F5 !important;
}

/* Handle */
.school-block::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0 !important;
  border-radius: 3px !important;
  background: lighten(@color-main-purple, 30%) !important;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.5) !important;
}

.school-block::-webkit-scrollbar-thumb:window-inactive {
  background: lighten(@color-main-purple, 30%) !important;
}

//scroll style end

.school-block {
  &.v-navigation-drawer {
    background-image: linear-gradient(170deg, #2b3063, #131634);
    z-index: 102;
    &.hebrew-drawer {
      // swap of right and left is going to be done by webpack RTL, so real vals are oposite
      right: unset;
      left: 0;
    }
  }
  .v-list {
    //&.class-list{
    //    .scrollBarStyle(4px, #2B3063, none, none)!important;
    //}
    background: transparent;
    .group-header {
      .v-list__tile {
        font-family: @fontOpenSans;
        font-size: 14px !important;
        font-weight: 600;
        letter-spacing: -0.3px;
        color: rgba(255, 255, 255, 0.87);
        .v-list__tile__action {
          min-width: 21px;
          i {
            font-size: 14px;
            color: #ffffff;
          }
          &.edit-course {
            i {
              transform: rotate(45deg);
              opacity: 0.54;
              font-size: 10px;
              cursor: pointer;
            }
          }
                        &.edit-university{
                            i{
                                opacity: 0.54;
                                font-size: 10px;
                                cursor: pointer;
                            }
                        }
        }
        .v-list__tile__title {
          cursor: pointer;
                        padding-right: 15px;
        }
      }

    }
    .group-items {
      margin-left: 20px;
      border-radius: 4px 0 0 4px;
      &.active {
        background-color: #545ca5;
      }

      .v-list__tile {
        font-family: @fontOpenSans;

        letter-spacing: -0.3px;
        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}
