@import "../../styles/mixin.less";

.school-block{
        &.v-navigation-drawer{
            background-image: linear-gradient(170deg, #2b3063, #131634);
            z-index: 102;
            &.hebrew-drawer{
                // swap of right and left is going to be done by webpack RTL, so real vals are oposite
                right: unset;
                left: 0;
              }
        }
        .v-list{
            background: transparent;
            .group-header{
                .v-list__tile{
                    font-family: @fontOpenSans;
                    font-size: 14px !important;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    color: rgba(255, 255, 255, 0.87);
                    .v-list__tile__action{
                        min-width: 21px;
                        i{
                            font-size: 14px;
                            color:#ffffff;
                        }
                        &.edit-course{
                            i{
                                transform: rotate(45deg);
                                opacity: 0.54;
                                font-size: 10px;
                                cursor: pointer;
                            }
                        }
                        &.edit-university{
                            i{
                                opacity: 0.54;
                                font-size: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                    .v-list__tile__title{
                        cursor: pointer;
                        padding-right: 15px;
                    }
                }
                
            }
            .group-items{
                margin-left: 20px;
                border-radius: 4px 0 0 4px;
                &.active{
                    background-color: #545ca5;
                }
                
                
                .v-list__tile{
                    font-family: @fontOpenSans;
                    
                    letter-spacing: -0.3px;
                    color: rgba(255, 255, 255, 0.87);
                }
            }        
        }
    }
