@import "../../../styles/mixin.less";

.newIsraeliPop{
    direction: rtl;
    width:81%;
    background-image: url('./img/splash.png');
    background-size: cover;
    max-width: 850px !important;
    max-height: 520px !important;
    min-width: 670px !important;
    min-height: 520px !important;
    height: 100%;
    box-shadow: none;
    color:white;
    position:relative;
    @media(max-width: @screen-xs){
        width: 100%;
        max-width: unset !important;
        max-height: unset !important;
        min-width: unset !important;
        min-height: unset !important;
        background-image: url('./img/splashMobile.jpg');
        background-size: cover;
    }
    &.rtl{
        direction: ltr !important;
    }
    .newIsraeli-close{
        position:absolute;
        position: absolute;
        right: 25px;
        top: 25px;
        @media(max-width: @screen-xs){
            right: 16px;
            top: 14px;
        }
        cursor: pointer;
        &.rtl{
            left: 25px;
        }
        i{
            font-size: 16px;
            opacity: 0.54;
            color:#FFF;
            @media(max-width: @screen-xs){
                font-size: 13px;
            }
        }
    }
    .splash{
        width:100%;
        
        padding: 25px 55px;
        @media(max-width: @screen-md-plus){
            //box-shadow: 0 2px 3px 0 rgba(25, 37, 171, 0.96);
            padding:40px;
        }
        .newIsraeli-spitball{
            font-size: 40px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.3px;
            i{
                color: #fff;
                font-size: 20px;
            }
            @media(max-width: @screen-xs){
                font-size: 24px;
                text-align: center;
                i{
                    font-size: 22px;
                }
            }
        }
        .newIsraeli-title{
            font-family: 'Assistant';
            font-size: 32px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: normal;
            color: rgba(255, 255, 255, 0.87);
            margin-top: 2%;
            @media(max-width: @screen-xs){
                font-size: 22px;
                text-align: center;
            }
        }
        .newIsraeli-explain{
            font-family: 'Assistant';
            font-size: 22px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.54;
            letter-spacing: normal;
            color: #ffca54;
            @media(max-width: @screen-xs){
                font-size: 20px;
                text-align: center;
            }
        }
        .newIsraeli-buy-thumb{
            display: none;
            @media(max-width: @screen-xs){
                display: block;
                display: flex;
                img{
                    width: 89px;
                    height: 80px;
                    margin: 25% auto;
                }
            }
        }
        .newIsraeli-take-me{
            margin-top:10%;
            width: 270px;
            height: 40px;
            border-radius: 24px;
            box-shadow: 0 6px 13px 0 #228972;
            background-color: #50e3c2;
            display: flex;
            cursor: pointer;
            @media(max-width: @screen-xs){
                width: unset;
                margin:0 -20px;
                border-radius: 24px;
                box-shadow: 0 6px 13px 0 #228972;
                background-color: #50e3c2;
            }
            
            span{
                font-family: 'Alef';
                font-size: 25px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.04;
                letter-spacing: -0.6px;
                text-align: center;
                color: rgba(0, 0, 0, 0.87);
                margin: auto;
            }
        }
        .newIsraeli-leave-me{
            font-family: 'Alef';
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: normal;
            color: #50e3c2;
            margin-top: 3%;
            margin-right: 5px;
            display: flex;
            cursor: pointer;
            width: fit-content;
            @media(max-width: @screen-xs){
                text-align: center;
                margin: 20px auto;
            }
            &.rtl{
                margin-left: 5px;
            }
            i{
                color: #50e3c2;
                font-size: 10px;
                margin-right: 10px;
                margin-top: 2px;
                @media(max-width: @screen-xs){
                    display: none;
                }
                &.rtl{
                    margin-left: 10px;
                }
            }
        }
        .newIsraeli-stats{
            font-family: 'Assistant';
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.04;
            letter-spacing: normal;
            color: #50e3c2;
            display: flex;
            width: 335px;
            justify-content: space-between;
            margin-top: 13%;
            margin-right: 5px;
            @media(max-width: @screen-xs){
                width: 100%;
                margin: 0px -20px;
                bottom: 10px;
                position: absolute;
                .newIsraeli-courses{
                    display: none;
                }
            }
            .border-sep{
                border-left:1px solid rgba(255, 255, 255, 0.38);
            }
            &.rtl{
                margin-left: 5px;
            }
            .stats-bold{
                font-weight: bold;
                margin-bottom: 5px;
            }            
        }
    }
}