@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="ad.size" content="width=300,height=250"/>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
    @Styles.Render("~/My/Css")
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'7fd51bd7-eb8b-4f0b-8ba8-03f30ac3dad6'
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
	</head>
<body>
<header>
	<div class="grid">
		<div class="logo">
			<picture>
				<source media="(min-width: 641px) and (max-width: 1365px)" srcset="/App_Themes/Images/small-logo.svg">
				<img  src="/App_Themes/Images/normal-logo.svg" alt="logo">
			</picture>
		</div>
		<div id="searchArea">
			<span id="searchInput">
				<span class="section-icon">
					<svg class="icon icon-flashcard">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-flashcard"></use>
					</svg>
					</span>
				<input id="transcript" class="speech-input" type="search">
			</span>
			<button id="mic" class="speech-icon" onclick="startDictation(event)">
				<svg class="icon icon-mic">
					<use xlink:href="/App_Themes/Images/icons.svg#icon-white-mic"></use>
				</svg>
			</button>
			<button id="search" class="search">
				<svg class="icon icon-search-icon">
					<use xlink:href="/App_Themes/Images/icons.svg#icon-search-icon"></use>
				</svg><span class="capitalize Search-text">search</span>
			</button>
		</div>
		<div id="notification">
			<svg class="icon icon-path">
				<use xlink:href="/App_Themes/Images/icons.svg#icon-path"></use>
			</svg>
		</div>
		<div id="menu" class="hide_641">
			<svg class="icon icon-menu">
				<use xlink:href="/App_Themes/Images/icons.svg#icon-menu"></use>
			</svg>
		</div>
	</div>
</header>
<section>
	<input id="menu-checkbox" type="checkbox" class="hide_641" />
	<aside>
		<label class="upper">search type</label>
		<ul>
			<li>
				<div class="ask">
					<svg class="icon icon-ask-copy">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-ask-copy"></use>
					</svg>
				</div><span>ask</span>
			</li>
			<li>
				<div class="note">
					<svg class="icon icon-note">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-note"></use>
					</svg>
				</div><span>notes</span>
			</li>
			<li>
				<div class="flashcard">
					<svg class="icon icon-flashcard">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-flashcard"></use>
					</svg>
				</div><span>flashcards</span>
			</li>
			<li>
				<div class="tutor">
					<svg class="icon icon-tutor-copy">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-tutor-copy"></use>
					</svg>
				</div><span>tutor</span>
			</li>
		</ul>
		<label class="upper">contribute</label>
		<ul>
			<li>
				<div class="ask">
					<img src="/App_Themes/Images/icons.svg#icon-ask-copy">
					<svg class="icon icon-upload">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-upload"></use>
					</svg>
				</div><span>upload</span>
			</li>
			<li>
				<div class="note">
					<svg class="icon icon-post">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-post"></use>
					</svg>
				</div><span>post</span>
			</li>
		</ul>
		<label class="upper">class talk</label>
		<ul>
			<li>
				<div class="ask">
					<img src="/App_Themes/Images/icons.svg#icon-ask-copy">
					<svg class="icon icon-chat">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-chat"></use>
					</svg>
				</div><span>chat</span>
			</li>
		</ul>
		<label class="upper">personal info</label>
		<ul>
			<li>
				<div class="ask">
					<svg class="icon icon-settings">
						<use xlink:href="/App_Themes/Images/icons.svg#icon-settings"></use>
					</svg>
				</div><span>settings</span>
			</li>
		</ul>
	</aside>
	<div class="content">@RenderBody()</div>
</section>
@Scripts.Render("~/bundles/angularjs")
<script>
	function startDictation() {

		if (window.hasOwnProperty('webkitSpeechRecognition')) {

			var recognition = new (window.SpeechRecognition ||
				window.webkitSpeechRecognition ||
				window.mozSpeechRecognition ||
				window.msSpeechRecognition)();

			recognition.continuous = false;
			recognition.interimResults = false;

			recognition.lang = "en-US";
			recognition.start();

			recognition.onresult = function(e) {
				document.getElementById('transcript').value = e.results[0][0].transcript;
				recognition.stop();
			};

			recognition.onerror = function(e) {
				recognition.stop();
			}

		}
	}
</script>
</body>
</html>
