
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
<link href="~/App_Themes/site.css" rel="stylesheet"/>
	</head>
<body>
<header>
	<div>
	<picture>
		<source media="(min-width: 641px) and (max-width: 1365px)" srcset="~/App_Themes/Images/small-logo.svg">
		<img class="logo" src="~/App_Themes/Images/normal-logo.svg" alt="logo"/>
	</picture>
	<input type="checkbox"/>
	<input type="search" id="transcript" class="speech-input"/>
	<button id="mic" class="speech-icon" onclick="startDictation(event)">mic</button>
		<button id="search" class="search">
			<svg class="icon icon-search-icon">
				<use xlink:href="~/App_Themes/Images/icons.svg#icon-search-icon"></use>
			</svg><span class="capitalize">search</span>
		</button>
	</div>
	@*<img srcset="~/App_Themes/Images/normal-logo.svg 400w, ~/App_Themes/Images/small-logo.svg 400w" src="~/App_Themes/Images/normal-logo.svg"*@
</header>
@*<div class="grid">
	<div>item 1</div>
	<div>item 2</div>
	<div>item 3</div>
</div>*@
	<section>
		<aside>
			<label class="upper">search type</label>
			<ul>
				<li>
					<div class="ask">
						<svg class="icon icon-ask-copy">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-ask-copy"></use>
						</svg>
					</div><span>ask</span>
				</li>
				<li>
					<div class="note">
						<svg class="icon icon-note">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-note"></use>
						</svg>
					</div><span>notes</span>
				</li>
				<li>
					<div class="flashcard">
						<svg class="icon icon-flashcard">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-flashcard"></use>
						</svg>
					</div><span>flashcards</span>
				</li>
				<li>
					<div class="tutor">
						<svg class="icon icon-tutor-copy">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-tutor-copy"></use>
						</svg>
					</div><span>tutor</span>
				</li>
			</ul>
			<label class="upper">contribute</label>
			<ul>
				<li>
					<div class="ask">
						<img src="~/App_Themes/Images/icons.svg#icon-ask-copy">
						<svg class="icon icon-upload">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-upload"></use>
						</svg>
					</div><span>upload</span>
				</li>
				<li>
					<div class="note">
						<svg class="icon icon-post">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-post"></use>
						</svg>
					</div><span>post</span>
				</li>
			</ul>
			<label class="upper">class talk</label>
			<ul>
				<li>
					<div class="ask">
						<img src="~/App_Themes/Images/icons.svg#icon-ask-copy">
						<svg class="icon icon-chat">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-chat"></use>
						</svg>
					</div><span>chat</span>
				</li>
			</ul>
			<label class="upper">personal info</label>
			<ul>
				<li>
					<div class="ask">
						<svg class="icon icon-settings">
							<use xlink:href="~/App_Themes/Images/icons.svg#icon-settings"></use>
						</svg>
					</div><span>settings</span>
				</li>
			</ul>
		</aside>
	</section>
<script>
	function startDictation() {
			var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();

			recognition.continuous = false;
			recognition.interimResults = false;

			recognition.lang = "en-US";
			recognition.start();

			recognition.onresult = function(e) {
				document.getElementById('transcript').value = e.results[0][0].transcript;
				recognition.stop();
			};

			recognition.onerror = function(e) {
				recognition.stop();
			}
	}
</script>
</body>
</html>
