
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
<link href="~/App_Themes/site.css" rel="stylesheet"/>
	</head>
<body>
<header>
	<picture>
		<source media="(min-width: 641px) and (max-width: 1365px)" srcset="~/App_Themes/Images/small-logo.svg">
		<img src="~/App_Themes/Images/normal-logo.svg" alt="Space Needle">
	</picture>
	<input type="search" id="transcript" class="speech-input" />
	<button id="mic" class="speech-icon" onclick="startDictation(event)">mic</button>
	<button id="search" class="search"><img src="~/App_Themes/Images/search-icon.svg"><span class="capitalize">search</span></button>
	@*<img srcset="~/App_Themes/Images/normal-logo.svg 400w, ~/App_Themes/Images/small-logo.svg 400w" src="~/App_Themes/Images/normal-logo.svg"*@
</header>
@*<div class="grid">
	<div>item 1</div>
	<div>item 2</div>
	<div>item 3</div>
</div>*@
<aside>
	<label class="upper">search type</label>
	<ul>
		<li>
			<div class="ask"><img src="~/App_Themes/Images/ask-copy.svg">
			</div><span>ask</span></li>
		<li>
			<div class="note"><img src="~/App_Themes/Images/note.svg">
			</div><span>notes</span></li>
		<li>
			<div class="flashcard"><img src="~/App_Themes/Images/flashcard.svg">
			</div><span>flashcards</span></li>
		<li>
			<div class="tutor"><img src="~/App_Themes/Images/tutor-copy.svg">
			</div><span>tutor</span></li>
	</ul>
	<label class="upper">contribute</label>
	<ul>
		<li>
			<div class="ask"><img src="~/App_Themes/Images/ask-copy.svg">
			</div><span>upload</span></li>
		<li>
			<div class="note"><img src="~/App_Themes/Images/note.svg">
			</div><span>post</span></li>
	</ul>
	<label class="upper">class talk</label>
	<ul>
		<li>
			<div class="ask"><img src="~/App_Themes/Images/ask-copy.svg">
			</div><span>chat</span></li>
	</ul>
	<label class="upper">personal info</label>
	<ul>
		<li>
			<div class="ask"><img src="~/App_Themes/Images/ask-copy.svg">
			</div><span>settings</span></li>
	</ul>
</aside>
<script>
	function startDictation() {

		if (window.hasOwnProperty('webkitSpeechRecognition')) {

			var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();

			recognition.continuous = false;
			recognition.interimResults = false;

			recognition.lang = "en-US";
			recognition.start();

			recognition.onresult = function(e) {
				document.getElementById('transcript').value = e.results[0][0].transcript;
				recognition.stop();
			};

			recognition.onerror = function(e) {
				recognition.stop();
			}

		}
	}
</script>
</body>
</html>
