<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="app">
    <div class="container body-content" ng-controller="AppController as st">
        @RenderBody()
        @*<hr />*@
       @*<footer>
            <p>&copy; @DateTime.Now.Year - Yifat and Jared Application</p>
        </footer>*@
    </div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Js/app.js"></script>
    <script src="~/Js/ajaxService.js"></script>
    <script src="~/Js/app.service.js"></script>
    <script src="~/Js/app.controller.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Js/main.js"></script>
</body>
</html>
