<div class="portlet box" ng-controller="inviteController as ctrl">
    <div class="portlet-title">
        <div class="caption">
            Invite your friends to spitball
        </div>
        <button type="button" class="close closeFrom" ng-click="d.inviteToSpitball = false">X</button>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal">
            <div class="form-body">
                <div layout="column" ng-cloak class="chipsdemoContactChips">
                    <md-content class="md-padding autocomplete" layout="column">
                        <md-contact-chips ng-model="ctrl.contacts"
                                          md-contacts="ctrl.querySearch($query)"
                                          md-contact-name="name"
                                          md-contact-image="image"
                                          md-contact-email="email"
                                          md-require-match="true"
                                          md-highlight-flags="i"
                                          filter-selected="ctrl.filterSelected"
                                          placeholder="To">
                        </md-contact-chips>
                        <md-list class="fixedRows">
                            <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in ctrl.allContacts"
                                          ng-if="ctrl.contacts.indexOf(contact) < 0">
                                <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{contact.name}}</h3>
                                    <p>{{contact.email}}</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
                                <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{contact.name}}</h3>
                                    <p>{{contact.email}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>

