@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="margin-bottom-20 upload-wrapper" ng-controller="UploadWrapper as u1" uib-collapse="!u1.open" expanding="u1.uploadOpen()"
     collapsed="u1.uploadCollapsed()" compile-html="u1.html">
</div>
@*TODO: we can bring that async as well - focus on feed bring that as well as upload click*@
<script defer type="text/ng-template" id="file-upload.html">
    <span class="check-mark" ng-if="file.complete">
        <md-icon md-svg-icon="u:checkMark"></md-icon>
    </span>
    <span class="check-mark error" ng-if="file.error"><md-icon md-svg-icon="t:close"></md-icon>@*@Html.Svg("~/images/site/icons.svg", "close")*@</span>
    <div class="file" layout="column" layout-align="space-between center">
        <div class="file-name">
            <div ng-if="!file.content" class="multi-line-ellipsis limit-three">
                {{::file.name}}
            </div>
            <img width="95" height="105" ng-if="file.content" ng-src="{{file.content}}" />
            <md-progress-linear class="file-upload-progress" value="{{file.percent}}" ng-if="!file.complete" md-mode="determinate">
            </md-progress-linear>
        </div>
        <div class="file-footer">
            <div class="file-size">{{::file.sizeFormated}}</div>
            <button type="button" ng-click="file.remove()">@IndexResources.Remove</button>
        </div>
    </div>
</script>
