<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />

    </environment>
</head>
<body>
<div>
    hi
    @RenderBody()
</div>
    
</body>
</html>
