@import "../../mixin.less";

.landing-page-wrapper {
  display: flex;
  color: #ffffff;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .responsive-property(padding, 32px, 24px, null);

  @media (max-width: @screen-xs) {
    padding: 16px 16px 56px 16px;
    &.collapse {
      .landing-page {
        justify-content: flex-start;
      }
      .collapsible {
        margin: 0;
        height: 0;
        overflow: hidden;
        //transition: height 0.3s ease;
      }
    }

  }
  &.landing-tutor-v1 {
    h1 {
      .responsive-property(margin-bottom, 16px, null, 20px);
    }
    h2{
      @media (max-width: @screen-xs) {
        margin-bottom: 22px;
      }
    }
  }
  &.landing-study-docs, &.landing-jobs {
    h1 {
      text-shadow: 0 2px 4px #000000;
      .responsive-property(margin-bottom, 40px, null, 18px);
      .responsive-property(margin-left, 0, null, -4px);
      //margin-left: 6px;

      b {
        .responsive-property(letter-spacing, -0.5px, null, 0.8px);
      }
    }
  }
  &.landing-jobs {
    @media(max-width: @screen-xs){
      background-position-x: 72%;
    }
    h1 {
      .responsive-property(margin-bottom, 26px, null, 8px);
      .responsive-property(font-size, 70px, null, 40px);
      .responsive-property(line-height, 0.93, null, 1);
    }
    h2{
      .responsive-property(margin-bottom, 32px, null, 22px);
    }
  }
  &.landing-study-docs{
    h1{
      .responsive-property(margin-bottom, 44px, null, 20px);
    }
    h2{
      .responsive-property(margin-bottom, 16px, null, 32px);
    }
    p {
      margin-bottom: 16px;
    }
  }
  .landing-page {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-link {
    display: inline-block;
    svg {
      fill: white;
      .responsive-property(width, 210px, null, 158px);
      .responsive-property(height, 42px, null, 32px)
    }
  }
  h1 {
    .responsive-property(font-size, 100px, null, 50px);
    .responsive-property(margin-left, -6px, 0, null);
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: -0.5px;

    //margin-top: 34px;

  }

  h2 {
    .responsive-property(font-size, 22px, null, 20px);
    .responsive-property(line-height, 1.09, null, 20px);
    font-weight: 100;
    line-height: 1.09;

    .responsive-property(margin-bottom, 22px, null, 32px);
    //letter-spacing: -0.3px;
    @media (max-width: @screen-xs) {
      max-width: 258px;
    }
  }
  p {
    font-size: 16px;
    line-height: 2;
    //letter-spacing: -0.3px;
    font-weight: 100;
    margin-bottom: 24px;
  }

  .search-wrapper {
    max-width: 528px;

    .search-b-wrapper {
      margin-bottom: 16px;
    }
    .search-b {
      border: solid 1px #302eb5;

      &.input-group--disabled {
        background: #dddddd;
      }
      .responsive-property(height, 56px, null, 48px);
      .input-group__input {
        align-items: center;
        padding: 8px 24px;

        i{
          display: none;
        }

        @media (max-width: @screen-xs) {
          padding: 8px 16px;
        }

        input {
          .responsive-property(font-size, 16px, null, 18px);
          .placeholder-color(#9b9b9b);
        }
      }
    }

    button {
      width: 100%;
      padding: 0 8px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.4px;
      text-align: center;
      .responsive-property(line-height, 56px, null, 48px);
      background-color: #f5a623;
      margin-top: 16px;
    }

    .search-b, button {
      border-radius: 4px;
      @media (max-width: @screen-xs) {
        border-radius: 0;
        border: none;
      }
    }

    .search-menu {
      z-index: 999;
      @media (min-width: @screen-xs) {
        top: -16px;
        transform: translate(0, -100%);
      }
    }
  }
}