@import "../../mixin.less";

.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100vw;
  min-height: 100vh;

  &.no-bg{
    .logo-link svg{
      fill: @color-main-purple;
    }
    h1, h2{
      text-shadow: none;
      color: @color-main-purple;
    }
    h2{
      font-weight: normal;
    }
    .search-wrapper{
      background-color: rgba(53, 50, 213, 0.2);
      .search-b{
        box-shadow: none;
      }
       button{
         background: @color-main-purple;
       }
    }
    footer .partners > img {
      top: -85px;
      left: ~"calc(50% - 76px)";
    }

  }

  @media (max-width: @screen-xs) {
    &.collapse {
      .landing-page {
        justify-content: flex-start;
      }
      .collapsible {
        margin: 0;
        height: 0;
        overflow: hidden;
        //transition: height 0.3s ease;
      }
    }

  }
  .top {
    background-image: linear-gradient(to top, #d1e3f6, #f0f0f0 41%, #f0f0f0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .landing-page {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 130px;
  }
  .logo-link {
    align-self: flex-start;
    padding: 22px 0 0 32px;
    svg {
      fill: white;
      .responsive-property(width, 210px, null, 158px);
      .responsive-property(height, 42px, null, 32px)
    }
  }

  .page-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    .responsive-property(font-size, 66px, null, 50px);
    letter-spacing: -0.5px;
    line-height: 1.21;
    letter-spacing: -0.4px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 20px #000000;
  }

  h2 {
    text-align: center;
    .responsive-property(font-size, 20px, null, 20px);
    .responsive-property(line-height, 1.4, null, 20px);
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    @media (max-width: @screen-xs) {
      max-width: 258px;
    }
  }
  p {
    font-size: 16px;
    line-height: 2;
    //letter-spacing: -0.3px;
    font-weight: 100;
    margin-bottom: 24px;
  }

  .search-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 26px auto 32px auto;
    background-color: rgba(0, 0, 0, .46);
    padding: 16px;
    border-radius: 4px;

    form {
      display: flex;
      align-items: center;
      .search-b-wrapper {
        flex-grow: 1;
      }
    }
    .search-b {
      .responsive-property(height, 48px, null, 48px);

      &.input-group--disabled {
        background: #dddddd;
      }
      .input-group__input {
        align-items: center;
        padding: 8px 12px;

        .sbf-mic {
          display: none;
        }

        @media (max-width: @screen-xs) {
          padding: 8px 16px;
        }

        input {
          .responsive-property(font-size, 18px, null, 18px);
          .placeholder-color(#9b9b9b);
        }
      }
    }

    button {
      width: 106px;
      padding: 0 8px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.4px;
      text-align: center;
      .responsive-property(line-height, 48px, null, 48px);
      background-color: #f5a623;
      margin-top: 16px;
    }

    .search-b, button {
      border-radius: 4px;
      @media (max-width: @screen-xs) {
        border-radius: 0;
        border: none;
      }
    }

    .search-menu {
      z-index: 999;
      @media (min-width: @screen-xs) {
        top: -16px;
        transform: translate(0, -100%);
      }
    }
  }
  footer {
    background: white;
    text-align: center;
    .partners {
      padding-top: 10px;
      position: relative;
      > img {
        position: absolute;
        top: -52px;
        left: ~"calc(50% - 168px)";
      }
      .text {
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: -0.3px;
        color: #4a4a4a;
      }
      .logos {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin: 10px 22px;

          &:nth-child(3) {
            height: 26px;
          }
        }
      }
    }
    .subfooter {
      background-color: #4a4a4a;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      .c-icon {
        margin: 0 4px;
        font-size: 22px;
      }
      span, a {
        color: #dddddd;
      }
      a:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0 12px;
        border-radius: 100%;
        background: #3293f6;
      }
    }
  }
}