
.registration .step-wrapper {
  .step-title{
    margin-bottom: 22px;
  }
  .input-wrapper{
    margin-top: 24px;
  }
  .recaptcha-wrapper{
    margin-top: 32px;
  }
  .continue-btn{
    margin-top: 40px;
  }

  .code-field input{
    margin-top: 0;
    padding-left: 50px;
    margin-bottom: 4px;

    ~ i {
      position: absolute;
      top: 14px;
      left: 16px;
    }
  }
  .sigin-strip{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #888b8e;
  }

  /* For Firefox */
  input[type='number'] {
    -moz-appearance:textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}