@import "../../styles/mixin.less";
.request-tutor-container{
  width:100%;
  .alignEnd{
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    @media (max-width: @screen-xs) {
      align-items: center;
    }
  }
}
