@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<form novalidate name="startForm" ng-submit="s.intent()">
    <md-input-container layout="row">
        <div flex="50">
            <input type="text" placeholder="What do you want to do" autocomplete="off" name="name" ng-model="s.term" required md-no-asterisk />
        </div>
        <button flex="none" type="submit" class="md-button">
            <md-icon style="width: 22px; height: 22px; fill: #000;" md-svg-icon="t:searchIcon" class="searchIcon"></md-icon>
        </button>

        @*<button type="submit" class="md-button">Submit</button>*@

    </md-input-container>
    @*<div ng-messages="startForm.name.$error" ng-show="startForm.name.$dirty">
        <div ng-message="required">@GeneralResources.RequiredField</div>
    </div>*@
</form>
<md-progress-linear md-mode="query" ng-disabled="!s.loading"></md-progress-linear>
<div ng-hide="s.loading">{{s.sentence}}</div>




