@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Tabs.CreateBoxItemTab

<div class="modal-header">
    <h3 class="modal-title"><span>{{params.title}}</span></h3>
</div>
<div class="modal-body">
    <form name="createTabForm" ng-submit="create(createTabForm.$valid)" novalidate>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "inputText required", autofocus = "autofocus", required="required", ng_model ="formData.name" })
        @*<label for="createTabName">Name</label>
        <input id="createTabName" name="name" type="text" class="inputText required" ng-model="formData.name" required autofocus />*@
        @*add ERROR label*@
        <button type="submit" class="btn1 next">{{params.action}}</button>
        <button type="button" class="btn2 cancel" ng-click="cancel()">@DialogResources.Cancel</button>
    </form>
    <button type="button" class="closeDialog" ng-click="cancel()"></button>
</div>
    @*@using (Html.BeginForm("CreateTab", "Box", FormMethod.Post, new { @class = "type personal" }))
    
    {*@
        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(false)*@


        
@*    }*@