@*feed*@
<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">feed</span>
                </div>
            </div>
            <div class="portlet-body" id="chats">
                <div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1">
                    <ul class="chats">
                        <li class="in" ng-repeat="post in f.data">
                            <img class="avatar" alt="" src="{{post.userImage}}" />
                            <div class="message">
                                <span class="arrow">
                                </span>
                                <a href="javascript:;" class="name">
                                    {{post.userName}}
                                </a>
                                <span class="datetime">
                                    at 20:09
                                </span>
                                <span class="body">
                                    {{post.content}}
                                </span>
                            </div>
                            <ul>
                                <li class="out" ng-repeat="reply in post.answers">
                                    <img class="avatar" alt="" src="{{reply.userImage}}" />
                                    <div class="message">
                                        <span class="arrow">
                                        </span>
                                        <a href="javascript:;" class="name">
                                            {{reply.userName}}
                                        </a>
                                        <span class="datetime">
                                            at 20:11
                                        </span>
                                        <span class="body">
                                            {{reply.content}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="chat-form">
                    <div class="input-cont">
                        <input class="form-control" type="text" placeholder="Type a message here..." />
                    </div>
                    <div class="btn-cont">
                        <span class="arrow">
                        </span>
                        <a href="" class="btn blue icn-only">
                            <i class="fa fa-check icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <div class="leaderBoardTitle">
                        The
                        king
                        of
                        school
                    </div>
                    <table class="table table-hover table-light">
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                            </td>
                            <td>
                                Brain
                            </td>
                            <td class="leaderbordPosition">
                                $345
                            </td>
                            <td>
                                45
                            </td>


                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar5.jpg">
                            </td>
                            <td>
                                Nick
                            </td>
                            <td class="leaderbordPosition">
                                $560
                            </td>
                            <td>
                                12
                            </td>


                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar6.jpg">
                            </td>
                            <td>
                                Tim
                            </td>
                            <td class="leaderbordPosition">
                                $1,345
                            </td>
                            <td>
                                450
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*end feed*@