@*feed*@
<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            <!--<div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">feed</span>
                </div>
            </div>-->
            <div class="portlet-body" id="chats">
                @*<div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1">*@
                <div class="chat-form">
                    <div class="input-cont">
                        <input class="form-control" type="text" placeholder="Type a message here..." />
                    </div>
                    <div class="btn-cont">
                        <span class="arrow">
                        </span>
                        <a href="" class="btn blue icn-only">
                            <i class="fa fa-check icon-white"></i>
                        </a>
                    </div>
                </div>
                <ul class="chats">
                    <li class="in" ng-repeat="post in f.data">
                        <img class="avatar" alt="" src="{{::post.userImage}}" />
                        <div class="message">
                            <span class="arrow">
                            </span>
                            <a href="javascript:;" class="name">
                                {{::post.userName}}
                            </a>
                            <span class="datetime">
                                at 20:09
                            </span>
                            <span class="body" ng-bind-html="::post.content"></span>
                            <div class="row mix-grid" style="background: rgba(0, 0, 0, 0.48);margin-left: -8px; margin-top: 8px;">
                                <!-- ngRepeat: item in i.data --><div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block; margin-top: 8px; opacity: 1;">
                                    <a href="/item/האוניברסיטה-הפתוחה/8632/אנגלית-a-למדעי-החברה/308085/ממן-14אנגלית.doc/">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="https://az779114.vo.msecnd.net/preview/e8942e88-e013-4dd5-b480-e5e25ae29740.doc.jpg?width=368&amp;height=520&amp;mode=crop" alt="">
                                            <div class="extraDetails">
                                                <span class="">62</span>
                                                <span class="">0</span>
                                            </div>
                                            <div class="mix-details">
                                                <h4 class="">ממן 14אנגלית.doc</h4>
                                                <div class="mix-subDetails">
                                                    <span class="">אלהאם קיס</span>
                                                    <br>
                                                    <span class="">2015-03-29T05:49:15Z</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div><!-- end ngRepeat: item in i.data --><div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block; margin-top: 8px; opacity: 1;">
    <a href="/item/האוניברסיטה-הפתוחה/8632/אנגלית-a-למדעי-החברה/160249/maman-13-the-social-psycholgy-of-modern-slavery-ציון-96.doc/">
        <div class="mix-inner">
            <img class="img-responsive" src="https://az779114.vo.msecnd.net/preview/3fbd6754-fe6c-4bfd-b01d-8426bf344e69.doc.jpg?width=368&amp;height=520&amp;mode=crop" alt="">
            <div class="extraDetails">
                <span class="">285</span>
                <span class="">5</span>
            </div>
            <div class="mix-details">
                <h4 class="">Maman 13 -The Social Psycholgy of Modern Slavery -ציון 96.doc</h4>
                <div class="mix-subDetails">
                    <span class="">satsits</span>
                    <br>
                    <span class="">2014-08-19T04:44:59Z</span>
                </div>
            </div>
        </div>
    </a>
</div><!-- end ngRepeat: item in i.data --><div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block; margin-top: 8px; opacity: 1;">
    <a href="/item/האוניברסיטה-הפתוחה/8632/אנגלית-a-למדעי-החברה/160131/mamman-12-level-a-french-anti-americanism-and-mcdonalds-ציון-97.doc/">
        <div class="mix-inner">
            <img class="img-responsive" src="https://az779114.vo.msecnd.net/preview/ad75aa46-99b2-4d45-9988-77a48a3efbaa.doc.jpg?width=368&amp;height=520&amp;mode=crop" alt="">
            <div class="extraDetails">
                <span class="">255</span>
                <span class="">5</span>
            </div>
            <div class="mix-details">
                <h4 class="">Mamman 12-Level A-French Anti-Americanism and McDonald's ציון 97.doc</h4>
                <div class="mix-subDetails">
                    <span class="">satsits</span>
                    <br>
                    <span class="">2014-08-13T05:33:17Z</span>
                </div>
            </div>
        </div>
    </a>
</div><!-- end ngRepeat: item in i.data --><div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" sstyle="display: block; margin-top: 8px; opacity: 1;">
    <a href="/item/האוניברסיטה-הפתוחה/8632/אנגלית-a-למדעי-החברה/159515/אנגלית-רמה-a-ממן-11-ציון-8811.doc/">
        <div class="mix-inner">
            <img class="img-responsive" src="https://az779114.vo.msecnd.net/preview/ddbf7435-b450-46a3-a20a-18c80044dd00.doc.jpg?width=368&amp;height=520&amp;mode=crop" alt="">
            <div class="extraDetails">
                <span class="">389</span>
                <span class="">5</span>
            </div>
            <div class="mix-details">
                <h4 class="">אנגלית רמה A ממן 11 ציון 88(1)(1).doc</h4>
                <div class="mix-subDetails">
                    <span class="">satsits</span>
                    <br>
                    <span class="">2014-08-04T13:05:51Z</span>
                </div>
            </div>
        </div>
    </a>
</div><!-- end ngRepeat: item in i.data -->

                            </div>
                          
                        </div>
                        <ul>
                            <li class="out" ng-repeat="reply in post.answers">
                                <img class="avatar" alt="" src="{{::reply.userImage}}" />
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{::reply.userName}}
                                    </a>
                                    <span class="datetime">
                                        at 20:11
                                    </span>
                                    <span class="body" ng-bind-html="::reply.content">
                                    </span>
                                    <div class="row mix-grid" mixitup="">
                                        <!-- ngRepeat: item in i.data --><div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block;  opacity: 1;">
                                            <a href="/item/האוניברסיטה-הפתוחה/8632/אנגלית-a-למדעי-החברה/308085/ממן-14אנגלית.doc/">
                                                <div class="mix-inner" style="margin-top=8px">
                                                    <img class="img-responsive" src="https://az779114.vo.msecnd.net/preview/e8942e88-e013-4dd5-b480-e5e25ae29740.doc.jpg?width=368&amp;height=520&amp;mode=crop" alt="">
                                                    <div class="extraDetails">
                                                        <span class="">62</span>
                                                        <span class="">0</span>
                                                    </div>
                                                    <div class="mix-details">
                                                        <h4 class="">ממן 14אנגלית.doc</h4>
                                                        <div class="mix-subDetails">
                                                            <span class="">אלהאם קיס</span>
                                                            <br>
                                                            <span class=""></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                @*</div>*@

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <div class="leaderBoardTitle">
                        The
                        king
                        of
                        school
                    </div>
                    <table class="table table-hover table-light">
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar4.jpg">
                            </td>
                            <td>
                                Brain
                            </td>
                            <td class="leaderbordPosition">
                                $345
                            </td>
                            <td>
                                45
                            </td>


                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar5.jpg">
                            </td>
                            <td>
                                Nick
                            </td>
                            <td class="leaderbordPosition">
                                $560
                            </td>
                            <td>
                                12
                            </td>


                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="../../assets/admin/layout3/img/avatar6.jpg">
                            </td>
                            <td>
                                Tim
                            </td>
                            <td class="leaderbordPosition">
                                $1,345
                            </td>
                            <td>
                                450
                            </td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row margin-top-10" ng-controller="Recommended as r">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="box in r.boxes">
                <a href="{{box.url}}" class="dashboard-stat2" d-color="{{box.name.length}}">
                    <div class="display">
                        <div class="number">
                            <h3>{{box.name}}</h3>
                            @*<small>{{box.professor}}</small><br />*@
                            <small>{{box.courseCode}}</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                        </div>
                        <div class="status">
                            <div class="status-title">
                                {{box.membersCount}} members
                            </div>
                            <div class="status-number">
                                {{box.itemCount}} items
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
@*end feed*@