<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-body" id="chats">
                @*<div class="scroller" style="height: 341px;" data-always-visible="1" data-rail-visible1="1">*@
                <div class="chat-form">
                    <div class="input-cont">
                        <input class="form-control" type="text" placeholder="Type a message here..." />
                    </div>
                    <div class="btn-cont">
                        <span class="arrow">
                        </span>
                        <a href="" class="btn blue icn-only">
                            <i class="fa fa-check icon-white"></i>
                        </a>
                    </div>
                </div>
                <ul class="chats">
                    <li class="in" ng-repeat="post in f.data">
                        <user-image class="avatar" name="::post.userName" image="::post.userImage" width="45" height="45"></user-image>
                        @*<img class="avatar" alt="" src="{{::post.userImage}}" />*@
                        <div class="message">
                            <span class="arrow">
                            </span>
                            <a href="javascript:;" class="name">
                                {{::post.userName}}
                            </a>
                            <span class="datetime">
                                at 20:09
                            </span>
                            <span class="body" ng-bind-html="::post.content"></span>
                            <div class="row mix-grid attach">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block; margin-top: 8px; opacity: 1;" ng-repeat="item in post.files">
                                    <a href="{{::item.url}}">
                                        <div class="mix-inner">
                                            <img class="img-responsive" src="{{::item.thumbnail}}" alt="">
                                            <div class="mix-details">
                                                <h4 class="">{{::item.name}}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="likes">
                                <div class="pull-left btn btn blue">
                                    15 Likes
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="comment">
                                    <span>Comments</span>
                                </div>
                                <div class="share">
                                    
                                </div>
                            </div>

                        </div>
                        <ul>
                            <li class="out" ng-repeat="reply in post.answers">
                                <user-image class="avatar" name="::reply.userName" image="::reply.userImage" width="45" height="45"></user-image>
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                        {{::reply.userName}}
                                    </a>
                                    <span class="datetime">
                                        at 20:11
                                    </span>
                                    <span class="body" ng-bind-html="::reply.content">
                                    </span>
                                    <div class="row mix-grid">
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix mix_all" style="display: block;  opacity: 1;" ng-repeat="file in reply.files">
                                            <a href="{{::file.url}}">
                                                <div class="mix-inner" style="margin-top:8px">
                                                    <img class="img-responsive" src="{{::item.thumbnail}}" alt="">
                                                    <div class="mix-details">
                                                        <h4 class="">{{::file.name}}</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>
                </ul>
                @*</div>*@

            </div>
        </div>
    </div>
    <div class="col-md-6" ng-controller="Recommended as r">
        <div class="portlet light leaderboad">
            <div class="portlet-body">
                <h4 class="uppercase">the BEST IN school</h4>
                <div class="r-table">
                    <div class="r-table-row" ng-repeat="l in r.leaderBoard">
                        <div class="r-table-cell">
                            <user-image class="img-circle" name="l.name" image="l.image" width="30" height="30"></user-image>
                            <span>{{::l.name}}</span>
                        </div>
                        <div class="r-table-cell">1st</div>
                        <div class="r-table-cell last">{{::l.score}} pts</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-10" ng-controller="Recommended as r">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="box in r.boxes">
                <a href="{{box.url}}" class="dashboard-stat2" d-color="{{box.name.length}}">
                    <div class="display">
                        <div class="number">
                            <h3>{{box.name}}</h3>
                            @*<small>{{box.professor}}</small><br />*@
                            <small>{{box.courseCode}}</small>
                        </div>
                    </div>
                    <div class="progress-info">
                        <div class="progress">
                        </div>
                        <div class="status">
                            <div class="status-title">
                                {{box.membersCount}} members
                            </div>
                            <div class="status-number">
                                {{box.itemCount}} items
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
