@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@{
    //const string url = "~/images/site/uploadIcons.svg";
}
<form class="add-comment new-post" ng-submit="f.add.createComment()">
    <div class="user-comment" layout="row">
        <div class="top" flex-none>
            <a href="{{::b.user.url}}" user-not-register-popup="click" class="username userblock" ga-track-event="['box-feed', 'userNameImage']">
                <user-image class="img-circle c-img" name="b.user.name" image="b.user.image" width="52" height="52" noremove="true"></user-image>
            </a>
        </div>
        <div class="new-comment-border" flex-grow>
            <md-input-container md-no-float>
                <textarea user-not-register-popup="focus" ng-model="f.add.newText" ng-focus="b.closeCollapse()" placeholder="@BoxResources.Whats" class=""></textarea>
            </md-input-container>
            <ul class="list-inline file-upload-area" ng-if="f.add.files.length">
                <li class="file-upload" ng-repeat="file in f.add.files | filter:{postId: '!'}" ng-include="'file-upload.html'">
            </ul>
        </div>
    </div>
    <div class="actions" layout="row" layout-align="space-between center">
        <div user-not-register-popup="click" class="upload-options feed-upload" layout="row" layout-wrap layout-align="space-between start">
            <a plupload="f.add.fileUpload.url" @*ng-click="f.add.upload()"*@
               plupload-options="f.add.fileUpload.options()" plupload-callbacks="f.add.fileUpload.callbacks"
               ga-track-event="['box-new-commnet', 'addFile']">
                <md-icon md-svg-icon="u:file" class="file"></md-icon>
                @*@Html.Svg(url, "file", new {@class = "file"})*@
            </a>
            <button type="button" class="google" ng-mouseover="f.add.init()" @*ng-disabled="f.add.googleDisabled"*@ ng-click="f.add.google()" ga-track-event="['box-new-commnet', 'googleDrive']">
                <md-icon md-svg-icon="u:googleDrive"></md-icon>
                <md-icon md-svg-icon="u:googleDriveClean"></md-icon>
                @*@Html.Svg(url, "googleDrive")
                @Html.Svg(url, "googleDriveClean")*@
            </button>
            <button type="button" ng-mouseover="f.add.init()" @*ng-disabled="f.add.dropboxDisabled"*@ ng-click="f.add.dropbox()" ga-track-event="['box-new-commnet', 'dropbox']">
                <md-icon md-svg-icon="u:dropbox" class="dropbox"></md-icon>
                @*@Html.Svg(url, "dropbox", new {@class = "dropbox"})*@
            </button>
        </div>
        <div layout="row" layout-align="space-between center">
            <input type="checkbox" ng-model="f.add.anonymous" id="anonymous" />
            <label class="anonymous-wrapper" title="@BoxResources.Anonymous" for="anonymous" ga-track-event="['box-new-commnet', 'anonymous']"><span class="text">@BoxResources.Anonymous</span><md-icon md-svg-icon="b:anonymous" class="anonymous"></md-icon>@*@Html.Svg("~/images/site/box-icons.svg", "anonymous", new { @class = "anonymous" })*@</label>
            <button type="submit" class="action-btn no-text post-comment" ng-disabled="f.add.disabled" ga-track-event="['box-new-commnet', 'postComment']">
                <md-icon md-svg-icon="u:post"></md-icon>
                @*@Html.Svg(url, "post")*@
            </button>
        </div>
    </div>
</form>
