<div class="modal-header">
    <h3 class="modal-title"><span>Invie</span></h3>
</div>

<div class="modal-body">
    @{Html.RenderPartial("_SocialInvite");}
    <button class="closeDialog" ng-click="cancel()"></button>
</div>
