
<div class="row">
    <div class="col-md-12">
        <div class="tabbable margin-bottom-20">
            <ul class="mix-filter">
                <li ng-class="{active: i.tabSelectedId === undefined}" ng-click="i.changeTab()">
                    All
                </li>
                <li ng-class="{active: i.tabSelectedId == tab.id}" ng-repeat="tab in i.tabs" ng-click="i.changeTab(tab.id)">
                    {{::tab.name}}
                </li>
            </ul>
        </div>
        <ul class="row list-unstyled" infinite-scroll="i.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
            <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item-animate" ng-repeat="item in i.items track by item.id " ng-include="'item-template.html'">

            </li>
        </ul>
    </div>
</div>
