
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder no-background">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="margin-top-10">
                        <ul class="mix-filter">
                            <li class="filter" data-filter="all">
                                All
                            </li>
                            <li class="filter" data-filter="{{::tab.id}}" ng-repeat="tab in i.tabs">
                                {{::tab.name}}
                            </li>
                        </ul>
                        <div class="row mix-grid" mixitup>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mix {{::item.tabId}}" ng-repeat="item in i.data">
                                <a href="{{::item.url}}">
                                    <div class="mix-inner">
                                        <img class="img-responsive" src="{{::item.thumbnail}}" alt="">
                                        <div class="extraDetails">
                                            <span>{{::item.numOfViews}}</span>
                                            <span>{{::item.rate}}</span>
                                        </div>
                                        <div class="mix-details">
                                            <h4>{{::item.name}}</h4>
                                            <div class="mix-subDetails">
                                                <span>{{::item.owner}}</span>
                                                <br />
                                                <span>{{::item.date}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

