@*<ul class="row list-unstyled" infinite-scroll="i.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
        <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item-animate item-create add-button" ng-click="b.toggleUpload(true)">
            <div>
                <button type="button">
                    @Html.Svg("~/images/site/icons.svg", "add")
                    upload files
                </button>
            </div>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item-animate" ng-repeat="e in i.items track by e.id " ng-include="'item-template.html'"></li>
    </ul>*@
<md-input-container>
    <label>filter...</label>
    <input type="search" ng-model="i.term" ng-model-options="{debounce : 250}" ng-change="i.filter()" ng-minlength="2" />
</md-input-container>
<ul layout="row" layout-fill layout-wrap class="list-unstyled" infinite-scroll="i.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" class="item-animate hidden-xs add-button i-q-wrapper" ng-click="i.openUpload()">
        <div class="content">
            <button type="button">
                @Html.Svg("~/images/site/icons.svg", "add")
                upload files
            </button>
        </div>
    </li>
    <li flex-gt-lg="15" flex-lg="20" flex-md="25" flex-sm="50" class="item-animate i-q-wrapper" ng-repeat="e in i.items track by e.id ">
        <div ng-include="'item-template.html'"></div>
        <md-menu ng-if="b.canDelete(e.ownerId)">
            <md-button aria-label="open menu" class="md-icon-button delete" ng-click="b.openMenu($mdOpenMenu, $event)">
                @Html.Svg("~/images/site/icons.svg", "3-dots", new { @class = "dots-3" })
            </md-button>
            <md-menu-content width="1">
                <md-menu-item>
                    <md-button aria-label="delete post" ng-click="i.deleteItem($event,e)">
                        @Html.Svg("~/images/site/icons.svg", "delete", new { @class = "delete-icon" })
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </li>
</ul>
<button type="button" class="add visible-xs-block" ng-click="i.openUpload()" ng-show="i.uploadShow">+</button>
