<div class="class">
    <div class="row">
        <div class="col-md-3 boxMember" ng-repeat="member in m.members">
            <user-image class="img-circle" id="member.id" name="::member.name" image="::member.image" width="45" height="45"></user-image>
            <div class="boxMemberName">{{::member.name}}</div>
        </div>
    </div>
</div>