@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
<div layout="row" layout-padding class="members">
    <div flex-gt-md="25" flex-md="33" flex-sm="50" hide-xs ng-if="b.canInvite">
        <button type="button" ng-click="b.inviteToBox()" class="inviteBtn box-style action" ng-class="{'active' :b.inviteOpen}" ga-track-event="['box-members', 'inviteFriends']">
            <div class="wrapper">
                <md-icon md-svg-icon="t:invite" class="icon"></md-icon>
                <span class="text">@BoxResources.InviteFriendsMember</span>
            </div>
        </button>
    </div>
</div>
<div layout-padding layout="row" layout-wrap>
    <div flex-gt-lg="25" flex-lg="33" flex-md="33" flex-sm="50" flex-xs="100" ng-repeat="e in m.members" class="member-wrapper">
        <div class="user-section" ng-include="'user-template.html'"></div>
        <span class="admin" ng-if="b.data.boxType==='box' && e.userStatus === 'owner'">@BoxResources.BoxAdmin</span>
    </div>
</div>

<button type="button" class="invite-container invite-members" ng-if="b.canInvite" ng-class="{hideMobile: b.inviteOpen}" hide show-xs ng-click="b.inviteToBox()" ga-track-event="['box-members', 'inviteFriends']">
    <md-icon md-svg-icon="t:invite"></md-icon>
</button>