<div class="class">
    <div class="row">
        <div class="col-md-3 margin-bottom-10 member" ng-repeat="member in m.members">
            <user-image class="img-circle" id="member.id" name="::member.name" image="::member.image" width="45" height="45"></user-image>
            <span class="member-name">{{::member.name}}</span>
        </div>
    </div>
</div>