<div class="class">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin-bottom-20" ng-repeat="member in m.members">
            <user-image class="img-circle" id="member.id" name="::member.name" image="::member.image" width="35" height="35"></user-image>
            <span class="member-name">{{::member.name}}</span>
        </div>
    </div>
</div>