<div class="class">
    <ul class="row list-unstyled">
        <li class="col-lg-2 col-md-4 col-sm-4 col-xs-6 margin-bottom-20" ng-repeat="e in q.quizzes" ng-include="'quiz-template.html'"></li>
    </ul>
</div>