@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div ng-controller="TabsController as t">
    <div class="folder-selected" layout="row" layout-align="start center" ng-if="stateParams.tabId" flex="100" flex-gt-xs="50">
        <md-icon md-svg-icon="t:arrow" flex="none" class="arrow" ng-click="t.upDir()"></md-icon>
        <div class="folder-name" flex="100">
            <div layout="row" layout-align="start center" class="folder-name-inner">
                <div class="name-and-icon" layout="row" layout-align="start center">
                    <div class="text ellipsis" ng-if="!t.openRenameTab" ng-bind="t.tabSelected.name">
                    </div>
                    <form class="content" ng-if="t.openRenameTab" ng-submit="t.renameTab()">
                        <input autofocus class="designed-input" type="text" required ng-model="t.tabNewName" ng-blur="t.renameTab()"/>
                    </form>
                </div>
                <md-menu ng-if="!b.needFollow">
                    <md-button aria-label="open menu" class="md-icon-button" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['box-tabs', 'deleteTab']">
                        <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                    </md-button>
                    <md-menu-content width="1">
                        <md-menu-item>
                            <md-button ng-click="t.renameTabOpen()" ga-track-event="['box-tab', 'rename']">
                                @GeneralResources.Rename
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="t.deleteTab($event)" ga-track-event="['box-tabs', 'didDelete']">
                                @GeneralResources.Delete
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
    <ul id="tabSection" ng-if="!t.tabSelected" layout-padding layout-wrap class="list-unstyled folders" layout="row" layout-align="start stretch">
        <li flex-gt-lg="10" flex-lg="20" flex-md="25" flex-sm="33" flex-xs="50" ui-on-drop="i.addItemToTab($data,e)" class="folder-name i-q-wrapper" ng-repeat="e in t.tabs" ng-click="t.tabChange(e)">
            <div class="name-and-icon content">
                <div class="text ellipsis name" ng-bind="::e.name"></div>
                <div class="counter">{{e.count}} @IndexResources.Items</div>
            </div>
        </li>
        <li flex-gt-lg="10" flex-lg="20" flex-md="25" flex-sm="33" flex-xs="50" class="add-folder folder-name item-animate i-q-wrapper">
            <button type="button" ga-track-event="['box-Tabs', 'addFolder']" class="content" ng-if="!t.newFolderTabOpened" user-not-register-popup="click" ng-click="t.newFolderTabOpened = true">
                <md-icon md-svg-icon="t:add"></md-icon>
                <span>
                    @BoxResources.AddFolder
                </span>
            </button>
            <form class="content" ng-if="t.newFolderTabOpened" ng-submit="t.addTab()" name="addTabForm">
                <input required focus-me="t.newFolderTabOpened" type="text" class="designed-input" ng-model="t.newFolderName" ng-blur="t.addTab()"/>
            </form>
        </li>
    </ul>
</div>