@{ Html.RenderPartial("_Create");}
<div class="class">
    <div class="page-head">
        <div class="page-title">
            <h1>{{b.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box">
                <div class="portlet-body">
                    <ul class="nav nav-tabs tabbable tabbable-tabdrop">
                        <li ui-sref-active="active"><a ui-sref="box.feed">Feed</a></li>
                        <li ui-sref-active="active"><a ui-sref="box.items">Items</a></li>
                        <li ui-sref-active="active"><a ui-sref="box.quiz">Quizzes</a></li>
                        <li ui-sref-active="active"><a ui-sref="box.members">Members</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <button type="button" class="add" ng-click="b.uploadOn = true" ng-hide="b.uploadOn">+</button>
</div>

