<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>{{b.name}} @*<small>blank page</small>*@</h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box">
            <div class="portlet-body">
                <div class="tabbable tabbable-tabdrop">
                    @*<ul class="nav nav-tabs">
                        <li class="active">
                            <a ui-sref="box.feed" data-toggle="tab">feed</a>
                        </li>
                        <li>
                            <a ui-sref="box.items" data-toggle="tab">items</a>
                        </li>
                        <li>
                            <a ui-sref="box.quizzes" data-toggle="tab">quiz</a>
                        </li>
                        <li>
                            <a ui-sref="box.members" data-toggle="tab">members</a>
                        </li>
                    </ul>*@
                    @*<div class="tab-content">
                <div class="tab-pane active" id="feed">
                    <p>
                        I'm in Section 1.
                    </p>
                </div>
                <div class="tab-pane" id="items">
                    <p>
                        Howdy, I'm in Section 2.
                    </p>
                </div>
                <div class="tab-pane" id="quizzes">
                    <p>
                        Howdy, I'm in Section 3.
                    </p>
                </div>
                <div class="tab-pane" id="members">
                    <p>
                        Howdy, I'm in Section 4.
                    </p>
                </div>
            </div>*@

                    <tabset>
                        <tab ui-sref="box.feed" heading="feed"></tab>
                        <tab ui-sref="box.items" heading="items"></tab>
                        <tab ui-sref="box.quiz" heading="quiz"></tab>
                        <tab ui-sref="box.members" heading="members"></tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<ui-view></ui-view>
@*@{Html.RenderPartial("_Feed");}*@
<!-- END PAGE CONTENT-->
