@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
<md-dialog class="like-dialog">
    <md-toolbar layout="row" layout-align="space-between center">
        <h2>@BoxResources.likeUsersDialogHeader</h2>
        <md-button aria-label="close" ng-click="lc.close()">
            <md-icon md-svg-icon="t:close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content>
        <ul class="list-unstyled" ng-scrollbars>
            <li ng-repeat="e in ::lc.users" ng-include="'user-template.html'"></li>
        </ul>
    </md-dialog-content>
</md-dialog>

