@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
<md-dialog class="like-dialog">
    <md-toolbar layout="row" layout-align="space-between center" class="backgroundTC3">
        <h2>@BoxResources.likeUsersDialogHeader</h2>
        <md-button aria-label="close" ng-click="lc.close()">
            @Html.Svg("~/images/site/icons.svg", "close", new { @class = "svgTC4" })
        </md-button>
    </md-toolbar>
    <md-dialog-content class="backgroundTC1">
        <ul class="list-unstyled" ng-scrollbars>
            <li class="borderTC2" ng-repeat="e in ::lc.users" ng-include="'user-template.html'"></li>
        </ul>
    </md-dialog-content>
</md-dialog>

