<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'zbox' in resource group 'Group' -->
  <InstrumentationKey>f877396f-f06b-4b06-890d-242282700508</InstrumentationKey>
</ApplicationInsights>