.s-main-page {
    // max-width: 800px;
    // margin: 0 auto;
    height: 100%;
    background-image: linear-gradient(to top, #9ccdff, #f0f0f0);

    .wrapper {
        max-width: 800px;
        margin: 32px auto 0;
        
    }
    .h-icon {
        margin: 0 auto;
    }
}
