.term {
    h2 {
        font-size: 24px;
        color:#302eb5;
    }
    margin: 0 auto;
    margin-top: 24px;
    
    max-width: 800px;
    font-size:18px;
    line-height: 30px;
    letter-spacing: -0.3px;
}