@import "../../mixin.less";

@logoWidth: 215px;
@iconWidth: 70px;


.header {
    background-image: linear-gradient(276deg, @Spitball-Main-color, #3023ae);

    .toolbar__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing:border-box;
        margin-left:0 !important; //override
        //.inTheMiddle();
    }

    .logo {
        .filler {
            fill: #fff;
        }

        width: 165px;
        height: 32px;
        // .inTheMiddle();
    }

    .search-b{
        max-width:784px;
    } 
    .settings {
        width: 24px;
        height: 24px;
    }
    /*.logo-link {
        width: @logoWidth; //note this is the navbar width as on navbar.vue
        .inTheMiddle();
    }

    .line {
        border: 1px solid #ddd;
        //height:100%;
    }

    .toolbar__content {
        border-bottom: 1px solid #ddd;
    }

    background-color: #fff !important; //override style

    .first-header {
        //  border-bottom: 1px solid #ddd;
    }


    .logo {
        width: 128px;
        height: 24.6px;
    }

    .icon {
        width: @iconWidth;
    }

    .item {
        width: 34.6px;
        height: 24px;
    }

    .verticals {
        margin-left: @iconWidth + @logoWidth;
    }

    .box-header-search {
        flex-grow: 2;
        display: flex;
        align-items: stretch;
        align-content: center;

        input {
            flex-grow: 2;
            font-size: 16px;
            color: @Class-Material;
            letter-spacing: -0.4px;
        }
        //width:100%;
    }

    .notification {
        width: 62px;
        .inTheMiddle();

        .badge--overlap .badge__badge {
            top: -10px;
            right: -10px;
            background: @Notificaion-Text-Circle !important; //TODO: override
            border: 1px solid #fff !important;
            box-sizing: content-box;
        }

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .chip {
        background: #bbb;
        color: #FFF;
        letter-spacing: -0.3px;
        font-size: 14px;
        border-radius: 8px;
        text-transform: capitalize;
        height: 24px;
        line-height: 24px;

        &.chip--selected {
            background: #0455a8;
        }
    }*/
}
