@import "../../mixin.less";

@iconWidth: 70px;
@logoWidth: 215px;


.header {
    //background-image: linear-gradient(276deg, @Spitball-Main-color, #3023ae);
    &.toolbar {
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .toolbar__items {
        flex-grow: 1;
        .inTheMiddle();
    }

    .toolbar__content > .layout {
        height: 100%;
    }

    .toolbar__title {
        .inTheMiddle();
    }


    .logo-link {
        //.inTheMiddle();
        display: flex;
        align-items: center;
        width: @logoWidth;
        padding-left: 16px;

        @media(max-width: 959px) {
            padding-left: 0;

            svg {
                width: 114px;
            }
        }
    }

    .gap {
        width: @logoWidth;
        .flexSameSize();
    }

    .tabs__item {
        text-transform: capitalize;
        padding: 0 !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.2px;
        opacity: 1;
    }

    .toolbar__content > *:not(.btn):not(.menu):last-child,
    .toolbar__content > *:not(.btn):not(.menu):first-child {
        @media(max-width: 599px) {
            margin: 0;
        }
    }

    .line {
        @media(max-width: 959px) {
            margin-left: 8px;
            margin-right: 0;

            &:nth-child(2) {
                align-items: center;
            }

            form {
                margin-right: 14px;

                @media (max-width: 599px) {
                    margin-right: 8px;
                }

                .search-b {
                    max-width: 100%;
                }

                .sbf-search {
                    min-width: 35px;
                }
            }
        }

        flex: 1;
        //.inTheMiddle();
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /*> * {
            height:100%;
        }*/
    }

    .settings-wrapper .btn--icon {
        @media(max-width: 959px) {
            margin-right: 0;
        }
    }

    form {
        flex-grow: 1;
        width: 100%;
    }


    .search-b {
        height: 40px;
        min-height: 40px;
        max-width: 784px;
        border-radius: 4px;
        background-color: #f0f0f0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border: solid 0.5px #bbbbbb;
        color: #000;
        letter-spacing: -0.4px;
        font-size: 16px;

        .sbf-mic {
            color: @color-blue !important;
        }

        .sbf-search {
            min-width: 34px;
        }

        .input-group__input {
            padding-right: 8px;
            padding-left: 12px;

            input {
                letter-spacing: -0.4px;
            }
        }
    }

    .btn {
        .sbf-3-dot {
            color: #3293f6;
        }
    }

    .verticals-bar {
        padding-left: 10px;

        @media(max-width: 959px) {
            padding-left: 0;
        }

        .tabs__bar {
            height: 60px;

            .tabs__slider {
                height: 3px;
            }
        }
    }
}

.settings-list .list__tile__title{
    text-transform: capitalize;
}