@import "../../mixin.less";

.verticals.line {
    @media(max-width: @screen-sm) {
        align-items: stretch;
    }

    .tabs__item {
        text-transform: capitalize;
        padding: 0 !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.2px;
        opacity: 1;
    }


    .gap {
        width: @logoWidth;
        .flexSameSize();
    }

    .verticals-bar {
        padding-left: 4px;
        @media(max-width: @screen-sm) {
            padding-left: 8px;
        }

        .tabs__bar {
            height: 100%;
            .tabs__slider {
                height: 3px;
            }
        }

        .tabs__bar .tabs__li {
            flex-basis: auto;
            padding-bottom: 14px;
            @media(max-width: @screen-xs){
                margin-right: 8px !important;
                margin-bottom: 3px;
                padding-bottom: 0;
            }
        }
    }
}
