@import "../../styles/mixin.less";

.information-box{
  background-color: #fff;
  align-items: center;
  line-height: 64px;
  padding-left: 48px;
  .gamburger-icon{
    font-size: 12px;
    line-height: 22px;
    color: #3e45a0;
    margin-right: 5px;
  }
  .information-box-text{
    font-family: @fontFiraSans;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #3e45a0;
  }
}
.verticals.line {
  padding-right: 0px !important;
  padding-left: 48px!important;
  border-bottom: 1.5px solid rgba(62, 69, 160, 0.22);
  @media (max-width: @screen-sm) {
    align-items: stretch;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .v-tabs{
    width: 100%;
    .v-tabs__bar {
      background-color: transparent !important;
    }
  }
  .v-tabs__container {
    height: 36px;
  }

  .v-tabs__item {
    text-transform: capitalize;
    padding:0 !important; 
    font-family: @fontOpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: rgba(0, 0, 0, 0.87);
    &.v-tabs__item--active {
      color: @color-main-purple;
      font-weight: 600;
    }
  }


  .verticals-bar {
    .v-tabs__bar {
      height: 100%;
      background-color: transparent !important;
      .v-tabs__wrapper {
        .v-tabs__container {
          //transform wont fix the problem

          // .v-tabs__slider-wrapper {
          //   bottom: 4px;
          // }
          .v-tabs__slider {
            height: 3px;
            bottom: 4px;
          }
        }
      }

      .v-tabs__bar .v-tabs__li {
        flex-basis: auto;
        padding-bottom: 14px;
        @media (max-width: @screen-xs) {
          margin-right: 16px !important;
          margin-bottom: 3px;
          padding-bottom: 0;
        }
      }
    }

    //remove the background added to the button when clicking on it
    .v-ripple__animation {
      display: none;
    }
  }
}
