<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ZBox"
       connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBoxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;"
       providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <log4net xdt:Transform="Remove"></log4net>
  <appSettings>
    <add key="DataCache" value="AzureMVC1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="pushUrl" value="https://connect.cloudents.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StudentUnionToAddId" value="64805" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.diagnostics xdt:Transform="Replace">
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState cookieless="UseCookies" xdt:Transform="Insert" mode="Custom" customProvider="CloudentsSessionStateStore">
      <providers>
        <add name="CloudentsSessionStateStore"
             type="Zbang.Cloudents.Mvc4WebRole.Helpers.CloudentsSessionStateStore, Zbang.Cloudents.Mvc4WebRole"
             applicationName="cloudents"
             cacheName="default"
             useBlobMode="true"
             retryInterval="5"
             dataCacheClientName="default" />
      </providers>
    </sessionState>
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms loginUrl="/account/" domain="cloudents.com" requireSSL="true" slidingExpiration="true" timeout="2880" name="cdA6" cookieless="UseCookies" />
    </authentication>
    <caching >
      <outputCache defaultProvider="CloudentsOutsputCacheProvider" xdt:Transform="Insert">
        <providers>
          <add name="CloudentsOutsputCacheProvider" type="Zbang.Cloudents.Mvc4WebRole.Helpers.CloudentsOutsputCacheProvider, Zbang.Cloudents.Mvc4WebRole"
            cacheName="default"
            dataCacheClientName="default"
            applicationName="AFCacheOutputCache"/>
        </providers>
      </outputCache>
    </caching>
  </system.web>
  <system.webServer xdt:Transform="Insert">
    <httpCompression>
      <!--<dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>-->
      <staticTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <!-- this is making issue with cache header-->
    <!--<caching>
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>-->
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
      <add name="ApplicationInsights" type="Microsoft.ApplicationInsights.Telemetry.Web.ApplicationInsightsModule" />
    </modules>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-599" />
        </add>
      </traceFailedRequests>
    </tracing>
    <rewrite>
      <rules>
        <rule name="non www to wwww" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="cloudents.com" />
          </conditions>
          <action type="Redirect" url="http://www.cloudents.com/{R:0}" />
        </rule>
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.aspx$" negate="true" />
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{REQUEST_URI}" pattern="/(cdn|images|js|scripts|content)/" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.png$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.jpg$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.xml$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.ico$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
        <!--<rule name="Redirect to HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_CLUSTER_HTTPS}" pattern="^on$" negate="true" />
            <add input="{HTTP_CLUSTER_HTTPS}" pattern=".+" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{SCRIPT_NAME}" redirectType="SeeOther" />
        </rule>-->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
    <!--<httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="/Error" responseMode="Redirect"  />
      <error statusCode="500" path="/Error" responseMode="Redirect" />
    </httpErrors>-->
    <!--<httpProtocol allowKeepAlive="true">
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>-->
    <!--<urlCompression dynamicCompressionBeforeCache="true"/>-->
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />-->

  </system.webServer>
</configuration>