<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ZBox"
       connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBoxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;Asynchronous Processing=True;Connection Timeout=30;MultipleActiveResultSets=true;"
       providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <log4net xdt:Transform="Remove"></log4net>
  <appSettings>
    <add key="DataCache" value="AzureMVC1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StudentUnionToAddId" value="64805" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SearchProduction" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.diagnostics xdt:Transform="Replace">
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 name="AzureDiagnostics">
          <filter type="" />
        </add>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />

      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <httpCookies requireSSL="true" xdt:Transform="Replace" domain="spitball.co" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <caching >
      <outputCache defaultProvider="CloudentsOutputCacheProvider" xdt:Transform="Insert">
        <providers>
          <add name="CloudentsOutputCacheProvider" type="Zbang.Cloudents.Mvc4WebRole.Helpers.CloudentsOutputCacheProvider, Zbang.Cloudents.Mvc4WebRole"
            host="zboxcache.redis.cache.windows.net"
            port="6380"
            applicationName="cloudents"
            accessKey="CxHKyXDx40vIS5EEYT0UfnVIR1OJQSPrNnXFFdi3UGI="
            ssl="true" />
        </providers>
      </outputCache>
      <outputCacheSettings xdt:Transform="Replace">
        <outputCacheProfiles>
          <add name="NoCache" duration="0" varyByParam="none" location="Server" noStore="true" />
          <add name="PartialPage" duration="86400" location="ServerAndClient" varyByParam="lang;version"  />
          <add name="FullPage" duration="86400" varyByParam="none" varyByCustom="Auth;Lang"/>
          <add name="HomePage" duration="86400" varyByParam="invId;universityName;step" varyByCustom="Auth;Lang;Uni;Promo" location="Server"/>
          <add name="ItemPage" duration="3600" varyByParam="itemid" varyByCustom="Lang;Auth;" location="Server" />
          <add name="BoxPage" duration="3600" varyByParam="boxId;part" varyByCustom="Lang;Auth;" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer >
    <!-- this is making issue with cache header-->
    <!--<caching>
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>-->
    <tracing xdt:Transform="Insert">
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,Rewrite" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-599" />
        </add>
      </traceFailedRequests>
    </tracing>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="non www to wwww" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="spitball.co" />
          </conditions>
          <action type="Redirect" url="http://www.spitball.co/{R:0}" />
        </rule>
        <rule name="Add trailing slash" stopProcessing="true">
          <match url="(.*[^/])$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.aspx$" negate="true" />
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{REQUEST_URI}" pattern="/(cdn|images|js|scripts|content)/" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.png$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.jpg$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.xml$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="(.*?)\.ico$" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}/" />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
        <rule name="RemoveDoubleSlash" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <action type="Redirect" url="{C:1}/{C:2}" />
          <conditions>
            <add input="{UNENCODED_URL}" pattern="(.*)//(.*)" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
   
    <httpCompression> <!--need to be on application host-->
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" xdt:Transform="Replace"/>
    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Strict-Transport-Security" value="max-age=2628000" />
      </customHeaders>
    </httpProtocol>
    <applicationInitialization xdt:Transform="Insert" doAppInitAfterRestart="true" skipManagedModules="true">
      <add initializationPage="/" />
    </applicationInitialization>
  </system.webServer>
  <runtime>
    <gcServer enabled="true" xdt:Transform="Insert" />
  </runtime>
</configuration>