@import "../../mixin.less";

.list__tile__title {
    color: #fff;
    font-size: 12px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

li /deep/ .list__tile--active {
    background-color: @Selected-Vertical;
    color:#fff;
}

v-subheader {
    font-size: 10px;
    color: @Chat;
    text-transform: capitalize;
}

.vertical-cycle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    .inTheMiddle();
}
/*svg {
    /deep/ .fill {
        fill: #fff;
    }
}*/

.bg-ask {
  //  background-color: @Ask-a-Question;

    svg {
        width: 18.7px;
        height: 13px;

       
    }
}


.bg-note {

    svg {
        width: 11.8px;
        height: 14.3px;

        /*/deep/ .fill {
            fill: #fff;
        }*/
    }
}

.bg-flashcard {

    svg {
        width: 16px;
        height: 13px;
    }
}

.bg-tutor {

    svg {
        width: 14.2px;
        height: 17.8px;
    }
}

.bg-job {

    svg {
        width: 8px;
        height: 17.8px;
    }
}

.bg-book {

    svg {
        width: 17.8px;
        height: 14.2px;
    }
}

.bg-food {

    svg {
        width: 12.5px;
        height: 15.6px;
    }
}
.bg-upload {

    svg {
        width: 13.5px;
        height: 16px;
    }
}
.bg-post {

    svg {
        width: 14.3px;
        height: 14.3px;
    }
}
.bg-create {

    svg {
        width: 19.2px;
        height: 15.6px;
    }
}
.bg-chat {

    svg {
        width: 14.7px;
        height: 12.7px;
    }
}
.bg-chat {

    svg {
        width: 14.7px;
        height: 12.7px;
    }
}
.bg-course {

    svg {
        width: 16px;
        height: 16px;
    }
}
.bg-like {

    svg {
        width: 13.4px;
        height: 16px;
    }
}
.bg-setting {

    svg {
        width: 16.8px;
        height: 16.8px;
    }
}

