@using Microsoft.AspNetCore.Mvc.Localization
@model IList<Team>
@inject IViewLocalizer Localizer
<div class="section section-pad-md section-bg-light-alt section-bg-patern team-section section-fix bg-fixed" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-head-s5 text-center">
                    <h2 class="section-title  animated" data-animate="fadeInUp" data-delay=".0">@Localizer["The Leadership Team"]</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".1">
                        @Localizer["The Spitball Team combines a passion for education, industry expertise, and a track record of building and marketing successful consumer products."]

                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @* ReSharper disable once Mvc.PartialViewNotResolved - this is how compile told me to do *@
            @for (int i = 0; i < Model.Count; i++)
            {
                @await Html.PartialAsync("_Team", Model[i], new ViewDataDictionary(ViewData)
                {
                    { "index", i }
                })
            }

        </div>
    </div>
</div>
      