@using Zbang.Cloudents.Mobile.Views.Shared.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.Tabs.CreateBoxItemTab

<div class="modal-header">
    <h3 class="modal-title"><span>{{params.title}}</span></h3>
</div>
<div class="modal-body">
    <form name="createTabForm" ng-submit="create(createTabForm.$valid)" novalidate ng-class="{submitted : submitted }">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "inputText required", autofocus = "autofocus", required = "required", ng_model = "formData.name", autocomplete = "off" })
        @*add ERROR label*@
        <button type="submit" class="btn1 next">{{params.action}}</button>
        <button type="button" class="btn2 cancel" ng-click="cancel()">@DialogResources.Cancel</button>
    </form>
    <button type="button" class="closeModal" ng-click="cancel()">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </button>
</div>
   