@using Zbang.Cloudents.Mobile.Views.Box.Resources

<div class="boxItems" ng-switch-when="items" ng-controller="ItemsController as boxItems">
    <div inner-scroll="{{boxItems.loading}}"></div>
    <select ng-model="boxItems.currentTabId" ng-change="boxItems.getItems(false)">
        <option value="">@BoxResources.AllItems</option>
        <option ng-repeat="tab in boxItems.tabs" value="{{tab.id}}">{{tab.name}}</option>
    </select>
    <ul class="boxList" scroll-paging on-scroll="boxItems.getItems(true)">
        <li ng-repeat="item in boxItems.items">
            <a class="boxLink" href="{{::item.url}}" target="_self"
               analytics-on analytics-event="Click on item" analytics-category="Box items page" analytics-label="User clicked on a item">
                <img ng-src="{{::item.thumbnail}}" />
            </a>
            <div class="itemName">{{::item.name}}</div>
            <div class="elps itemOwner">{{::item.owner}}</div>
        </li>
    </ul>
    <div class="emptyBox" ng-if="boxItems.noResults">
        <div>@BoxResources.BoxEmpty</div>
        <button type="button" class="uploadBtn" pl-fileinput>
            @BoxResources.UploadFiles
            @Html.Svg("~/Images/Defs.svg", "attachment", new { @class = "svg-attachment" })
        </button>
    </div>
</div>
