@darkBlue: #003b78;
@lightBlue: #3293f6;
@grey: #f2f2f2;

@headerHeight: 186px;

.body-content {
    font-size: 14px;

    button {
        cursor: pointer;
    }

    .loader-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .loader {
            border: 16px solid #b3b2b2;
            border-top: 16px solid @lightBlue;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
    }


    .search-form {
        background: @darkBlue;
        padding: 8px 16px;
        margin: 0;

        .row {
            margin: 0;
        }

        .field, button {
            margin: 8px 10px;
            border-radius: 8px;
            outline: none;
        }

        .field {
            border: none;
            min-height: 32px;
        }

        button {
            width: 120px;
            background: @lightBlue;
            color: white;
            border: none;
        }

        .checkboxes {
            color: white;

            label {
                display: flex;
                align-items: center;
                font-size: 12px;
                max-width: 150px;

                span {
                    margin-left: 10px;
                }
            }
        }
    }

    .results-header {
        background: @grey;
        padding: 4px 16px;
        margin: 0;

        .save {
            background: url(../images1/combined-shape.png) no-repeat;
            background-position: 10px 50%;
            background-size: 24px;
            padding: 4px 10px 4px 50px;
            border: none;
            color: @lightBlue;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #d8d8d8;
            }
        }

        .results-nav {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .counter {
                padding: 0 20px;
                width: ~"calc(70% - 50px)";
                /*font-size: 14px;*/
            }

            button {
                width: 0;
                height: 0;
                background: none;
                border-style: solid;

                &:disabled {
                    cursor: default;
                }

                &[name="next_btn"] {
                    border-width: 12px 0 12px 24px;
                    border-color: transparent transparent transparent @lightBlue;

                    &:disabled {
                        border-color: transparent transparent transparent #d8d8d8;
                    }
                }


                &[name="back_btn"] {
                    border-width: 12px 24px 12px 0;
                    border-color: transparent @lightBlue transparent transparent;

                    &:disabled {
                        border-color: transparent #d8d8d8 transparent transparent;
                    }
                }
            }
        }
    }

    .messages {
        position: relative;

        .message {
            padding-top: 50px;
            font-size: 30px;
            text-align: center;
        }

        .saved {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: @lightBlue;
            height: 50px;
            z-index: 1;
            font-size: 22px;
            line-height: 50px;
            color: white;
            text-align: center;
            box-shadow: 0 0 4px black;
        }
    }

    .result-data {
        margin: 0;
        position: absolute;
        top: @headerHeight;
        right: 0;
        left: 0;

        .info {
            section {
                padding: 20px 0;

                &:not(:last-child) {
                    border-bottom: 3px solid black;
                }

                &.doc-type select {
                    min-width: 220px;
                    height: 38px;
                    margin: 10px 0;
                    border-radius: 8px;
                    padding: 0 10px;
                    outline: none;
                }

                &.tags {
                    .tag .name {
                        border: 1px solid #979797;
                        color: @darkBlue;
                    }

                    input {
                        border: 1px dashed #979797;
                        background: @grey;
                        color: #9b9b9b;

                        &:focus {
                            outline: none;
                        }
                    }

                    input, .tag .name {
                        line-height: 32px;
                        width: 100%;
                        padding: 0 8px;
                        border-radius: 8px;
                    }

                    .tag {
                        position: relative;
                        margin-bottom: 5px;

                        .delete-tag {
                            position: absolute;
                            right: -20px;
                            top: 0;
                            bottom: 0;
                            width: 20px;
                            background: url(../images1/shape.png) no-repeat;
                            background-position: 50% 50%;
                            border: none;
                        }
                    }
                }
            }

            h1 {
                color: @darkBlue;
                font-size: 14px;
                margin-bottom: 20px;
            }

            .detail {
                margin-bottom: 20px;
                height: 28px;
                display: flex;
                align-items: baseline;

                input {
                    padding: 0;
                    cursor: auto;
                    border: none;
                    flex-grow: 1;
                    margin-left: 4px;
                    text-overflow: ellipsis;

                    &:focus {
                        border-bottom: 1px solid @darkBlue;
                        outline: none;
                    }
                }
            }

            .delete-doc {
                color: #ff0000;
                font-weight: bold;
                position: absolute;
                top: 16px;
                right: 0;
                background: none;
                border: none;
                outline: none;
            }
        }

        .preview {
            height: ~"calc(100vh - @{headerHeight} - 10px)";
            overflow-y: scroll;

            .preview-image {
                width: 100%;
                text-align: center;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
