.body-content {
  font-size: 14px;
}
.body-content button {
  cursor: pointer;
}
.body-content .search-form {
  background: #003b78;
  padding: 8px 16px;
  margin: 0;
}
.body-content .search-form .row {
  margin: 0;
}
.body-content .search-form .field,
.body-content .search-form button {
  margin: 8px 10px;
  border-radius: 8px;
  outline: none;
}
.body-content .search-form .field {
  border: none;
  min-height: 32px;
}
.body-content .search-form button {
  width: 120px;
  background: #3293f6;
  color: white;
  border: none;
}
.body-content .search-form .checkboxes {
  color: white;
}
.body-content .search-form .checkboxes label {
  display: flex;
  align-items: center;
  font-size: 12px;
  max-width: 150px;
}
.body-content .search-form .checkboxes label span {
  margin-left: 10px;
}
.body-content .results-header {
  background: #f2f2f2;
  padding: 4px 16px;
  margin: 0;
}
.body-content .results-header .save {
  background: url(../images1/combined-shape.png) no-repeat;
  background-position: 10px 50%;
  background-size: 24px;
  padding: 4px 10px 4px 50px;
  border: none;
  color: #3293f6;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.body-content .results-header .save:hover {
  background-color: #d8d8d8;
}
.body-content .results-header .results-nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-content .results-header .results-nav .counter {
  padding: 0 20px;
  width: calc(70% - 50px);
  /*font-size: 14px;*/
}
.body-content .results-header .results-nav button {
  width: 0;
  height: 0;
  background: none;
  border-style: solid;
}
.body-content .results-header .results-nav button:disabled {
  cursor: default;
}
.body-content .results-header .results-nav button[name="next_btn"] {
  border-width: 12px 0 12px 24px;
  border-color: transparent transparent transparent #3293f6;
}
.body-content .results-header .results-nav button[name="next_btn"]:disabled {
  border-color: transparent transparent transparent #d8d8d8;
}
.body-content .results-header .results-nav button[name="back_btn"] {
  border-width: 12px 24px 12px 0;
  border-color: transparent #3293f6 transparent transparent;
}
.body-content .results-header .results-nav button[name="back_btn"]:disabled {
  border-color: transparent #d8d8d8 transparent transparent;
}
.body-content .messages {
  position: relative;
}
.body-content .messages .message {
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}
.body-content .messages .saved {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #3293f6;
  height: 50px;
  z-index: 999;
  font-size: 22px;
  line-height: 50px;
  color: white;
  text-align: center;
  box-shadow: 0 0 4px black;
}
.body-content .result-data {
  margin: 0;
  position: absolute;
  top: 186px;
  right: 0;
  left: 0;
}
.body-content .result-data .info section {
  padding: 20px 0;
}
.body-content .result-data .info section:not(:last-child) {
  border-bottom: 3px solid black;
}
.body-content .result-data .info section.doc-type select {
  min-width: 220px;
  height: 38px;
  margin: 10px 0;
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
}
.body-content .result-data .info section.tags .tag .name {
  border: 1px solid #979797;
  color: #003b78;
}
.body-content .result-data .info section.tags input {
  border: 1px dashed #979797;
  background: #f2f2f2;
  color: #9b9b9b;
}
.body-content .result-data .info section.tags input:focus {
  outline: none;
}
.body-content .result-data .info section.tags input,
.body-content .result-data .info section.tags .tag .name {
  line-height: 32px;
  width: 100%;
  padding: 0 8px;
  border-radius: 8px;
}
.body-content .result-data .info section.tags .tag {
  position: relative;
  margin-bottom: 5px;
}
.body-content .result-data .info section.tags .tag .delete-tag {
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../images1/shape.png) no-repeat;
  background-position: 50% 50%;
  border: none;
}
.body-content .result-data .info h1 {
  color: #003b78;
  font-size: 14px;
  margin-bottom: 20px;
}
.body-content .result-data .info .detail {
  margin-bottom: 20px;
  height: 28px;
  display: flex;
  align-items: baseline;
}
.body-content .result-data .info .detail input {
  padding: 0;
  cursor: auto;
  border: none;
  flex-grow: 1;
  margin-left: 4px;
  text-overflow: ellipsis;
}
.body-content .result-data .info .detail input:focus {
  border-bottom: 1px solid #003b78;
  outline: none;
}
.body-content .result-data .info .delete-doc {
  color: #ff0000;
  font-weight: bold;
  position: absolute;
  top: 16px;
  right: 0;
  background: none;
  border: none;
  outline: none;
}
.body-content .result-data .preview {
  height: calc(100vh - 186px - 10px);
  overflow-y: scroll;
}
.body-content .result-data .preview .preview-image {
  width: 100%;
  text-align: center;
}
.body-content .result-data .preview .preview-image img {
  max-width: 100%;
}