body{
    font-family: sans-serif;
    margin: 0;
}

.top{
    text-align: center;
    padding-bottom: 50px;
    background: #3293f6;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 26px;
    color: white;
    margin: 0;
    padding: 20px;
}

h2 {    
    margin-top: 32px;
    font-size: 16px;
}

p{
    display: inline;
}

table {
    width: 100%;
    margin-top: 80px;
}

tr{
        vertical-align: top;
}

img{
    max-width: 250px;
}

td {
    width: 50%;
    padding: 0 20px;
}

#wikiResult {
    border-left: 1px solid black;
}

input[type="text"]{
    width: 500px;
    font-size: 18px;
    padding: 0 10px;
    height: 30px;
}


input[type="submit"]{
    font-size: 16px;
    text-transform: capitalize;
    width: 100px;
    margin-left: 0;
    }

.search{
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    justify-content: center;
}

h2.error{
    text-align: center;
    color: #ff5722;
}

#loader{
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    color: black;
    font-weight: bolder;
}