/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
@-webkit-keyframes slideleft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes slideleft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-ms-keyframes slideleft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes slideleft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideleft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slideright {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes slideright {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-ms-keyframes slideright {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes slideright {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes slideright {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
