@import "varsAndMixins";

.box {
    .backBtn {
        margin: 12px 10px 0 0; //rtl
    }
    select{
        padding-left: 0;
        padding-right:2px;
    }
}
.inviteBtn {
    margin: 8px 0 0 10px; //rtl
}

.boxList {
    li {
        float: right; //rtl //for odd items
        margin: 0 0 0 4%; //rtl //for odd items
        &:nth-child(even) {
            float: left; //rtl
        }
    }
}
.uploadBtn {
    padding: 0 44px 0 10px; //rtl
    .svg-attachment {
        right: 10px; //rtl
        left: auto;
    }
}
