/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.box .backBtn {
  margin: 12px 0 0 10px;
}
.box select {
  padding-right: 0;
  padding-left: 2px;
}
.inviteBtn {
  margin: 8px 10px 0 0;
}
.boxList li {
  float: left;
  margin: 0 4% 0 0;
}
.boxList li:nth-child(even) {
  float: right;
}
.uploadBtn {
  padding: 0 10px 0 44px;
}
.uploadBtn .svg-attachment {
  left: 10px;
  right: auto;
}
