/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.recommended li,
.searchResults li {
  text-align: left;
}
.uniImg {
  left: 6%;
  right: auto;
}
.uniName {
  padding: 0 0 0 65px;
}
.userPics {
  right: 11%;
  left: auto;
}
.userPics:after {
  right: -18px;
  left: auto;
}
.userPics img {
  float: left;
}
