/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region Choose School */
.choose {
  display: inline-block;
  width: 88%;
  font-size: 13px;
}
.choose h1 {
  color: #383838;
  max-width: none;
  letter-spacing: normal;
  margin: 25px 0 0 0;
}
.recommended li,
.searchResults li {
  height: 70px;
  position: relative;
  text-align: left;
}
.recommended li:before,
.searchResults li:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #c2c2c2;
  position: absolute;
  bottom: 0;
  left: 0;
}
.recommended .uniName,
.searchResults .uniName,
.recommended .btn1,
.searchResults .btn1 {
  display: inline-block;
  vertical-align: middle;
}
.recommended .btn1,
.searchResults .btn1 {
  color: #fff;
  background: #3399ff;
  width: auto;
  height: auto;
  line-height: normal;
  padding: 3px 8px;
  font-size: 13px;
}
.recommended li {
  text-align: justify;
  width: 100%;
}
.recommended li:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.uniImg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 8px;
}
.uniName {
  max-width: 30%;
  max-height: 31px;
  overflow: hidden;
}
.userPics {
  width: 56px;
  display: inline-block;
  vertical-align: middle;
}
.userPics:after {
  content: '+' attr(data-numusers);
  display: inline-block;
  float: right;
  font-size: 12px;
  position: relative;
  top: -6px;
}
.userPics img {
  display: inline-block;
  margin: 1px;
  top: 0;
  float: left;
}
.userPics img:nth-child(3) {
  clear: both;
}
