@import "varsAndMixins";

.dashboard, .box {
    .svg-logo {
        
    }

    h3 {
        color: @color;
        font-weight: normal;
        font-size: 12px;
    }
    
}
.dashboard {
    &:after { //used for the menu
        .pseudo;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0; //rtl
        .transition(opacity .3s);
        z-index: -1;
    }

    &.menuOpen {
        overflow: hidden;
        height: 100%;

        &:after {
            opacity: .7;
            background: #111;
            z-index: 0;
        }

        ~ .menu {
            //left: 0; //rtl
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
    }
}
.welcome {
    position: relative;
    padding: 0 5%;
    background: #282828;
    .boxSizing;
    //top:36px; //If the header is fixed
    h1 {
        font-size: 28px;
        max-width: none;
        letter-spacing: 0; //override
        padding-top: 30px;
    }
    &.closed {
        padding: 0 12px;
        h1, h3, .featureTxt, .closeBtn {
            display: none;
        }
        .searchLink {
            width: 96%;
        }
        ~ .recommendedClasses {
            h2 {
                margin-top: 0; //override
            }
        }
    }
    .searchLink {
        margin: 15px auto;
        width: 270px;
        height: 27px;
        line-height: 27px;
    }
}
.menuBtn {
    height:100%;
    margin-right:10px;
    position: relative;
  
}
/*.msgCounter {
    position: absolute;
    top: -3px;
    right: 100%; //rtl
    margin-right: -5px; //rtl
    min-width: 6px;
    height: 6px;
    line-height: 6px;
    border-radius: 8px;
    background: #d1294d;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}*/
.featureTxt {
    color: #fff;
    display: table;
    width: 50%;
    margin: 0 auto;
    padding: 11px 0 26px;
    + .featureTxt {
        padding-top: 0; //override
    }
    .svg-doc {
        width: 44px;
        height: 46px;
        display: table-cell;
        fill: @color;
    }
    span {
        display: table-cell;
        vertical-align: top;
    }
}
.searchLink {
    .svg-search {
        position: absolute;
        right: 10px; //rtl
        top: 4px;
        width: 17px;
        height: 17px;
    }
}
.searchLinkTxt {
    color: @borderColor;
    font-size: 13px;
}
/*#region Dashboard recommended courses */

.list {   
    a {
        display: table;
        height: 100%;
        width:100%;
    }
    li {
        width: 100%;
        /*overflow-x: hidden;*/ //breaks drag view
        height: 80px;
        position: relative;
        ~ li {
            border-top: 1px solid #eee;
        }
    }
    .courseName {
        font-weight: bold;
        max-width: 220px; //fallback
        max-width: 70vw;
        font-size: 16px;
        -ms-word-break: break-word;
        word-break: break-word;       
    }
    .vCentered {
        display:table-cell;
        vertical-align:middle;
        padding-left: 62px; //rtl
        &:before {
            content:attr(data-box-letter);
            width: 46px;
            height: 46px;
            line-height: 46px;
            border-radius: 50%;
            color: #fff;
            display: inline-block;
            text-align:center;
            text-transform: capitalize;
            position: absolute;
            top:0;bottom:0;
            margin: auto;
            left: 8px; //rtl
            font-size: 25px;
        }
    }
}
.color1 {
    &:before {
        background: #00bfa5;
    } 
}
.color2 {
    &:before {
        background: #f06292;
    }  
}
.color3 {
    &:before {
        background: #b388ff;
    } 
}
.color4 {
    &:before {
        background: #ff6e40;
    } 
}
.color5 {
    &:before {
        background: #e06055;
    }  
}
.color6 {
    &:before {
        background: #8e8e8e;
    } 
}
.color7 {
    &:before {
        background: #f9a825;
    }  
}
.color8 {
    &:before {
        background: #00c853;
    }     
}
.recommendedClasses {
    h2 {
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        font-weight: normal;
        background: #eee;
        margin-top: 7px;
    }
}
.recommendedList {
    overflow: hidden;
}
.recommendedItem {
    .boxSizing;
    position: relative;
    font-size: 15px;
    display: block;
    margin-right: -12px; //rtl
    white-space: nowrap;

    .courseLink {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 13px;
    }
    .courseName {
        color: @color;
    }
    .rcDetails {
        .boxSizing;
        display: inline-block;
        background: #fff;
        margin: 0;
        position: relative; //img to move on hover
        &.rcFull {
            .prof{
                max-width: 130px; 
                display: inline-block;
                vertical-align: bottom;
            }
            .courseId {
                &:before {
                    content: '\00a0' '|' '\00a0';
                    color: @textColor;
                }
            }
        }
    }

    .rcStats {
        width: 115px;
        height: 60px;
        display: inline-block;
        background: #282828;
        color: #fff;
        position: relative;
        top: 10px;
        svg {
            position: absolute;
            left: 4px; //rtl
            top: 0;
        }
    }
    .prof {
        font-size: 13px;
        max-width: 220px; //fallback
        max-width: 70vw;
        display: inline-block;
    }
    .vCentered {
        max-width: 200px;
    }
    .friends, .files {
        position: relative;
        padding-left: 26px; //rtl
        &:before {
            content: attr(data-friends-count);
            display: inline-block;
        }
    }
    .friends {
        margin-top: 11px;
    }

    .files {
        margin-top: 7px;

        &:before {
            content: attr(data-files-count);
        }
    }
}


/*#endregion */

/*#region menu */

.menu {

    padding-left: 10px; //rtl
    .boxSizing;
    font-size: 13px;
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    color: #fff;
    background: #fff;
    box-shadow: 5px 0 10px 0 rgba(0,0,0,0.9); //rtl
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0); //rtl
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    left: -5px; //rtl to account for box-shadow
    //margin-left: -5px; //rtl to account for box-shadow
    //left: -80%;
    //.transition(left .3s);
    //margin-left: -5px;


    &:before {
        .pseudo;
        width: 100%;
        height: 38px;
        position: absolute;
        top: 0;
        left: 0; //rtl
        background: #282828;
        z-index: -1;
    }
    h2 {
        font-size: 13px;
        font-weight: normal;
        margin: 12px 0 0 12px; //rtl
    }
    img {
        border: 2px solid #fff;
        margin-left: 8px; //rtl
    }
}
.userDetailsWpr {
    margin: 11px 0 25px;
}
.userDetails {
    text-align: left; //rtl
    padding-left: 70px; //rtl
    font-size: 12px;
    line-height: 13px;
}
.menuItems {
    font-size: 15px;
    clear: both;
    color: @textColor;
    text-align: left; //rtl
    li {
        position: relative;
        top: 10px;
        
        &:last-child {
            border-top: 1px solid @borderColor;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: auto;
        }
    }
    svg {
        fill: @color;
        position: absolute;
        top: 14px;
        left: 28px; //rtl
        width:25px;
        height:25px;
    }
    a {
        padding-left: 70px; //rtl
        height: 50px;
        line-height: 50px;
        display: block;
        text-transform: capitalize;
    }
}

.userCoupon {
  font-size: 24px;
  color: #3293f6;
  border: 3px solid #3293f6;
  border-radius: 6px;
  text-align: center;
  width: 140px;
  margin-top: 20px;
  margin: 20px auto 0;
}
/*#endregion */