/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.feed {
  background: #bbc3cc;
}
.feedForm {
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
  background: #fff;
}
.feedTA {
  border: none;
  padding: 10px 8px 10px 45px;
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}
.attachBtn,
.postBtn {
  position: absolute;
  top: 8px;
  left: 10px;
}
.postBtn {
  top: 7px;
}
.boxFeedList {
  color: #383838;
  display: inline-block;
  width: 92%;
  margin-top: 15px;
}
.boxFeedList .feedForm {
  margin: 0 0 10px 0;
  background: transparent;
}
.boxFeedList .feedForm .feedTA {
  border-radius: 5px;
}
.feedWpr {
  padding: 8px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: -1px 1px 2px #c2c2c2;
  text-align: right;
  font-size: 13px;
  position: relative;
}
.feedWpr .userName {
  color: #0f9d58;
  font-weight: 700;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
.feedTop {
  height: 27px;
  line-height: 27px;
}
.createTime {
  color: #999;
}
.commentBtn {
  display: inline-block;
  color: #3399ff;
  margin: 0;
  font-size: 12px;
}
.feedContent {
  margin-top: 15px;
  font-size: 15px;
  white-space: normal;
  word-wrap: break-word;
}
.feedContent a {
  color: #07c;
}
.feedContent img {
  border-radius: 0;
  width: 100%;
}
.feedReplies {
  width: 90%;
  margin-right: 10%;
}
.feedReplies .feedWpr {
  background: #eee;
  padding: 8px 10px 8px 42px;
  text-align: left;
}
.feedReplies .feedImg {
  position: absolute;
  left: 8px;
  top: 6px;
}
.emptyFeed {
  width: 80%;
  margin: 100px auto 0;
  padding: 10px;
  color: #383838;
  font-size: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.qaAttach {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 10px 0 20px;
}
.qaAttach img {
  border-radius: 5px;
}
.qaAttachItem {
  border: 1px solid #c2c2c2;
  margin: 12px 0 0 7px;
  display: inline-block;
  height: 125px;
  position: relative;
}
