@import "varsAndMixins";

.feedTA {
    padding: 10px 8px 10px 45px; //rtl
}

.attachBtn, .postBtn {
    left: 10px; //rtl
    right: auto;
}

.feedWpr {
    box-shadow: -1px 1px 2px @borderColor; //rtl
    text-align: right; //rtl
}

.feedReplies {
    margin-left: 0;
    margin-right: 10%;

    .feedWpr {
        padding: 8px 10px 8px 42px; //rtl
        text-align: left; //rtl
    }

    .feedImg {
        left: 8px;
        right: auto;
    }
}
