@media only screen and (max-width: 353px) {
  .emailBtn {
    font-size: 16px;
  }
}
q {
  quotes: '\00AB' '\00BB' '\201E' '\201C';
  font-weight: normal;
}
.homepage .svg-logo {
  margin: 13px auto 6px;
}
.homepage h1.header {
  font-size: 26px;
  line-height: 26px;
}
.homepage h2.header.first {
  margin-top: 20px;
}
.homepage h2.header {
  font-size: 14px;
}
.homepage h3.header {
  margin-top: 20px;
  font-size: 14px;
}
.homepage h4.header {
  margin-top: 0;
}
.homepage .app-download {
  height: 185px;
  overflow: hidden;
}
.homepage .download_text,
.homepage .download_text2 {
  font-size: 1.5em;
}
.homepage .download_store {
  top: 32%;
}
.homepage .download_play {
  top: 56%;
}
.bottom .lang {
  margin: 15px auto 0;
}
