@media only screen and (max-width: 353px) {
    .emailBtn {
        font-size:16px;
        }
}
q {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    font-weight: normal;
}

.homepage {
    .svg-logo {
        margin: 13px auto 6px;
    }
    h1.header {
        font-size:26px;
        line-height:26px;
    }

    h2.header.first {
        margin-top:20px;
    }
    h2.header {
         font-size:14px;
    }

    h3.header {
        margin-top:20px;
        font-size:14px;             
    }

    h4.header {
       margin-top:0;
    }

    .app-download {
        height:185px;
        overflow:hidden;
    }
    .download_text,.download_text2 {
        font-size:1.5em;
    }

    .download_store {
        top:32%;
    }

    .download_play {
        top:56%;
    }
}

.bottom {
    .lang {
        margin: 15px auto 0;
    }
}