@import "varsAndMixins";

body {
    direction: rtl;
}
.logoHeader {
    .backBtn {
        margin: 11px 4% 0 0; //rtl
    }
}
/*#region helper classes */

.lFloat {
    float:right; //rtl
}
.rFloat {
    float: left; //rtl
}
.inputText {
    padding: 0 8px 0 4px; //rtl
}
.closeBtn {
    left: 10px; //rtl
    right: auto;
}

.radio {
    + label {
        margin: 0 0 0 10px; //rtl
        &:before {
            margin: 0 0 0 3px; //rtl
        }
    }
}
.checkbox {
    ~ .cbLabel {
        .svg-checked {
            left:auto;
            right:-50px;
            }
    }
    &:checked {
        ~ .cbLabel {
            .svg-checked {
                right: 3px; //rtl
                left: auto;
            }
        }
        ~ .marketLabel {
            .svg-checked {
                right: -2px; //rtl
                left: auto;
            }
        }
    }
}
/*#endregion */

/*#region SVG */
svg.rtl {
    .flipH(1); //rtl
}
svg.ltr {
    .flipH;
}
/*#endregion */