/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
body {
  direction: rtl;
}
/*#region helper classes */
.lFloat {
  float: right;
}
.rFloat {
  float: left;
}
.inputText {
  padding: 0 8px 0 4px;
}
.closeBtn {
  left: 10px;
  right: auto;
}
.radio + label {
  margin: 0 0 0 3px;
}
.radio + label:before {
  margin: 0 0 0 3px;
}
.checkbox:checked ~ .cbLabel .svg-checked {
  right: 3px;
  left: auto;
}
/*#endregion */
/*#region SVG */
svg.rtl {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
svg.ltr {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
