@import "varsAndMixins";

.homepage {
    &:after {
        right:0; //rtl
        left: auto;
    }
}

.facebook, .emailBtn {
    padding: 0 55px 0 15px; /*rtl*/
}
.fbImg, .emailImg {
    right: 16px; /*rtl*/
    left: auto;
    &:after {
        right: 12px; //rtl
        left: auto;
    }
}

.emailImg {
    right: 8px; //rtl
    left: auto;
    &:after {
        right: 6px; //rtl
        left: auto;
    }
}
.lang{
    text-align: right; //rtl
    &:after {
        left:0; //rtl
        right: auto;
    }
}