/*#region Registration */
.register, .signIn {
    h1 {
        margin: 15px 0; //diff rtl
    }
}
.register {
    .bottom {
        text-align: right; //rtl //override
    }
}
.marketLabel {
    text-align: right; //rtl
    margin: 0 6px 0 0;
    &:before {
        left: 6px; //rtl
        right: auto;
    }
}
.validation-summary-errors, .regError, .loginError {
    text-align: right; //rtl
}
.ng-message-errors {
    clear: left;  //rtl
}

.ng-message-error {
    right:0; //rtl
    left: auto;
}
.ng-message-error.ng-enter.ng-enter-active {
    right:0; //rtl
    left: auto;
}
.ng-message-error.ng-enter {
    right:-100%; //rtl
    left: auto;
}

.ng-message-error.ng-leave {
    right:0;
    left: auto;
}
/*#endregion */