/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.register,
.signIn {
  display: inline-block;
  width: 92%;
}
.register h1,
.signIn h1 {
  color: #383838;
  max-width: none;
  letter-spacing: normal;
  margin: 25px 0;
  font-size: 22px;
}
.register .btn1,
.signIn .btn1 {
  margin-top: 16px;
}
.signIn .inputText {
  margin: 15px 0 20px;
}
.register .bottom {
  width: 100%;
  text-align: left;
  position: static;
}
.register .homeTxt1 {
  color: #383838;
}
.register .searchWpr {
  overflow: visible;
  background: none;
  position: relative;
}
.register .searchBtn {
  position: absolute;
}
.register .emptySearch.emptySearch,
.register .svg-noResults.svg-noResults {
  display: none;
}
.search .topReg {
  opacity: 0;
  visibility: hidden;
  margin-top: -220px;
}
.search .bottom,
.search .checkbox,
.search .cbLabel,
.search .marketLabel.marketLabel {
  display: none;
}
.search .inputText {
  margin-top: 2px;
}
.search .searchResults {
  display: block;
}
.search .noResults ~ .emptySearch {
  display: inline-block;
}
.search .noResults ~ .svg-noResults {
  display: block;
}
.topReg {
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
  visibility: visible;
  opacity: 1;
  top: 0;
}
.radioWpr {
  margin-top: 6px;
}
.marketLabel {
  display: none;
  text-align: left;
  font-size: 14px;
}
[data-culture="he-IL"] .marketLabel {
  display: block;
}
.acceptTerms {
  font-size: 11px;
  line-height: 15px;
  display: inline-block;
}
.loginTxt {
  margin-top: 10px;
  display: inline-block;
  color: #0f9d58;
}
.welcomeTxt1 {
  font-size: 13px;
  text-align: center;
  margin: 10px 0;
}
.ng-message-errors {
  position: relative;
  top: -2px;
  width: 100%;
  color: #d1294d;
  clear: right;
}
.ng-message-errors.rFloat,
.ng-message-errors.lFloat {
  width: 48%;
  display: inline-block;
}
.ng-message-error {
  font-size: 13px;
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  line-height: 12px;
}
.ng-message-error.ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
}
.ng-message-error.ng-enter {
  opacity: 0;
  left: -100%;
}
.ng-message-error.ng-leave {
  opacity: 1;
  left: 0;
}
.ng-message-error.ng-leave.ng-leave-active {
  opacity: 0;
  bottom: 8px;
}
