@import "varsAndMixins";

/*#region Search Page */
.searchInput {
    //padding-top: 7px;
}
.searchBtn {
    position: relative;
    right: 10px; //rtl
    top: 5px;
    .svg-close {
        fill: #282828;
        width: 14px;
        height: 14px;
        position: relative;
        top: -2px;
    }
}
.noResults {
    .emptySearch, ~ .emptySearch {
        display: inline-block;
    }
    .svg-noResults, ~ .svg-noResults {
        display: block;
        margin: 25px auto 10px;
    }     
}
.emptySearch {
    display: none;
    position: relative;
    text-align: center;
    font-size: 15px;
}
.searchWpr {
    background: #282828;
    overflow: hidden; //clear float
}
.searchForm, .searchLink {
    position: relative;
    display: inline-block;
    width: 78%;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin: 15px 0 15px 40px; //rtl
    background: #fff;
    border: 1px solid @borderColor;
    text-align: left; //rtl
    padding-left: 15px; //rtl
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.searchForm {
    margin: 15px 10px 10px 0; //rtl
}
.backBtn {
    display: inline-block;
    margin: 24px 0 0 10px; //rtl
}
.searchContent {
    img {
        position: absolute;
        top:0;bottom:0;
        margin: auto;
        border-radius: 8px;
    }
    .ghost {
        display: block;
        height: 100%;
    }
    ul {
        text-align: left; //rtl
    }
    li {
        font-size: 13px;
        position: relative;
        ~ li {
            border-top: 1px solid @borderColor;
        }
    }
}
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center; 
    background: #282828; 
    font-size: 16px;
    text-transform: capitalize;  
}
.tab {
    color: #a5a5a5;
    height: 36px;
    line-height: 36px;
    display: table-cell;
    position: relative;
    .transition(color .3s);
    padding-bottom: 5px;
    &:after {
        .pseudo;
        position: absolute;
        bottom:0;
        left:0; //rtl
        width: 100%;
        height:0;
        background: @color;
        .transition(height .3s);
    }
    &.active {
        color: @color;
        &:after {
            height: 5px;
        }
    }
}
.courseList, .itemsList, .membersList, .boxItems {
    text-align: left; //rtl
}

.itemsList {
    li {
        height: 104px;
    }
    .details {
        width: 60%;
        max-height: 33px; // 2lines
        padding-left: 90px; //rtl
        overflow: hidden;
    }
    .fileName {
        font-size: 15px;
    }
    img {
        height: 78px;
        left: 16px; //rtl
    }
}
.membersList {
    li {
        height: 56px;
    }
    .userName {
        width: 50%;
        max-height: 31px; // 2lines
        padding-left: 60px; //rtl
        overflow: hidden;
    }
    img {
        height: 40px;
        left: 10px; //rtl
        border-radius: 50%;
    }
}

/*#endregion */