@import "varsAndMixins";

/*#region Search Page */

.searchInput {
    //padding-top: 7px;
}
.searchBtn {
    position: relative;
    right: 10px;
    top: 5px;
}
.noResults {
    .emptySearch {
        display: inline-block;
    }
    .svg-noResults {
        display: block;
        margin: 25px auto 10px;
    }     
}
.emptySearch {
    display: none;
    position: relative;
    text-align: center;
    font-size: 15px;
}
.searchWpr {
    background: #282828;
    overflow: hidden; //clear float
}
.searchForm, .searchLink {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    width: 78%;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin: 15px 0;
    background: #fff;
    border: 1px solid @borderColor;
    text-align: left;
    padding-left: 15px;
}
.searchForm {
    margin-right: 10px;
}
.backBtn {
    display: inline-block;
    margin: 20px 0 0 10px;
}
.searchContent {
    img {
        position: absolute;
        top:0;bottom:0;
        margin: auto;
        border-radius: 8px;
    }
    .ghost {
        display: block;
        height: 100%;
    }
    ul {
        text-align: left;
        //display: none;
    }
    li {
        font-size: 13px;
        position: relative;
        ~ li {
            border-top: 1px solid @borderColor;
        }
    }
}
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center; 
    background: #282828;   
    &.courseTab, &.feedTab {
        ~ .courseList, ~ .feed {
            //display: block;
            /*opacity:1;
            visibility: visible;
            height: auto;*/
        }
        .tab:nth-child(1) {
            color: @color;
            &:after {
                height: 5px;
            }
        }
    }
    &.itemsTab, &.boxItemsTab {
        ~ .itemsList, ~ .boxItems  {
            //display: block;
            /*opacity:1;
            visibility: visible;
            height: auto;*/
        }
        .tab:nth-child(2) {
            color: @color;
            &:after {
                height: 5px;
            }
        }
    }
    &.membersTab {
        ~ .membersList {
            //display: block;
            /*opacity:1;
            visibility: visible;
            height: auto;*/
        }
        .tab:nth-child(3) {
            color: @color;
            &:after {
                height: 5px;
            }
        }
    }
}
.tab {
    color: #a5a5a5;
    height: 36px;
    line-height: 36px;
    display: table-cell;
    position: relative;
    .transition(color .3s);
    &:after {
        .pseudo;
        position: absolute;
        bottom:0;
        left:0;
        width: 100%;
        height:0;
        background: @color;
        .transition(height .3s);
    }
    /*&.active {
        color: @color;
        &:after {
            height: 5px;
        }
    }*/
}
.courseList, .itemsList, .membersList, .feed, .boxItems {
    /*opacity:0;
    visibility: hidden;
    height: 0;*/
    text-align: left;
}
.courseList {
    li {
        height: 70px;
    }
    .courseName {
        width: 40%;
        max-height: 31px; // 2lines
        padding-left: 60px;
        overflow: hidden;
    }
    img {
        height: 40px;
        left: 10px;
    }
}
.itemsList {
    li {
        height: 104px;
    }
    .details {
        width: 60%;
        max-height: 33px; // 2lines
        padding-left: 90px;
        overflow: hidden;
    }
    .fileName {
        font-size: 15px;
    }
    img {
        height: 78px;
        left: 16px;
    }
}
.membersList {
    li {
        height: 56px;
    }
    .userName {
        width: 50%;
        max-height: 31px; // 2lines
        padding-left: 60px;
        overflow: hidden;
    }
    img {
        height: 40px;
        left: 10px;
        border-radius: 50%;
    }
}

/*#endregion */