@import "varsAndMixins";

.searchBtn {
    left: 10px; //rtl
    right: auto;
}

.searchForm, .searchLink {
    margin: 15px 40px 15px 0; //rtl
    text-align: right; //rtl
    padding: 0 15px 0 0; //rtl
}
.searchForm {
    margin: 15px 0 15px 10px; //rtl
}
.backBtn {
    display: inline-block;
    margin: 24px 10px 0 0; //rtl
}
.searchContent {
    ul {
        text-align: right; //rtl
    }
}
.tab {
    &:after {
        right:0; //rtl
        left: auto;
    }
}
.courseList, .itemsList, .membersList, .boxItems {
    text-align: right; //rtl
}

.itemsList {
    .details {
        padding: 0 90px 0 0; //rtl
    }
    img {
        right: 16px; //rtl
        left: auto;
    }
}
.membersList {
    .userName {
        padding: 0 60px 0 0; //rtl
    }
    img {
        right: 10px; //rtl
        left: auto;
    }
}