/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region Search Page */
.searchInput {
  font-size: 16px;
}
.searchBtn {
  position: relative;
  left: 10px;
  top: 5px;
}
.searchBtn .svg-close {
  fill: #282828;
  width: 14px;
  height: 14px;
  position: relative;
  top: -4px;
}
.noResults .emptySearch,
.noResults ~ .emptySearch {
  display: inline-block;
}
.noResults .svg-noResults,
.noResults ~ .svg-noResults {
  display: block;
  margin: 25px auto 10px;
}
.emptySearch {
  display: none;
  position: relative;
  text-align: center;
  font-size: 15px;
}
.searchWpr {
  background: #282828;
  overflow: hidden;
}
.searchForm,
.searchLink {
  position: relative;
  display: inline-block;
  width: 78%;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  margin: 15px 40px 15px 0;
  background: #fff;
  border: 1px solid #c2c2c2;
  text-align: right;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchForm {
  margin: 15px 0 10px 10px;
}
.backBtn {
  display: inline-block;
  margin: 24px 10px 0 0;
}
.searchContent img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
}
.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  background: #282828;
  font-size: 16px;
  text-transform: capitalize;
}
.tab {
  color: #a5a5a5;
  height: 36px;
  line-height: 36px;
  display: table-cell;
  position: relative;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  padding-bottom: 5px;
}
.tab:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: #3293f6;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.tab.active {
  color: #3293f6;
}
.tab.active:after {
  height: 5px;
}
.list,
.boxItems {
  text-align: right;
}
.itemsList li {
  height: 104px;
}
.itemsList .vCentered {
  max-width: 20px;
  max-width: 65vw;
  padding-right: 90px;
  overflow: hidden;
}
.itemsList .vCentered:before {
  display: none;
}
.itemsList .fileName {
  font-size: 16px;
  font-weight: bold;
}
.itemsList img {
  height: 78px;
  right: 16px;
}
