@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<div id="regPopup" style="display:none;">
    <div class="popupWrppr registerNow" title="@SharedResources.JoinNow">
        <div class="message">@SharedResources.SignUpAsMember</div>
        <button class="btn1 join next addRegister">@SharedResources.SignUpNow</button>
        <button id="cancelRegisterPopup" class="btn2 cancel">@SharedResources.JoinLater</button>
    </div>
    <div class="modal2"></div>
</div>
