
@{
    ViewBag.Title = "WinMoney";
    Layout = "~/Views/Alex/_LayoutStatic.cshtml";
}

<section class="main">
    <div class="page-content">
        <article>
            <h1>Spitball 2017 Sweepstakes (“Sweepstakes”) Official Rules</h1>
            <p>No purchase necessary to enter or win. Purchase made through Spitball does not increase chances of winning the Spitball 2017 Sweepstakes. Sponsored by Cloudents US Inc, 79 Madison, Fl. 2, New York, NY 10016 (the “Sponsor”).</p>
        </article>
        <article>
            <h1>Dates of Sweepstakes</h1>
            <p>The Spitball 2017 Sweepstakes begins on September 1st, 2017 at 12:00 am Eastern Time (“ET”) and continues until December 15th, 2017 at 11:59 pm ET (The “Sweepstakes Period”). </p>
        </article>
        <article>
            <h1>Eligibility</h1>
            <p>Sweepstakes is open only to legal residents of the fifty (50) United States, the District of Columbia or Puerto Rico, who are eighteen (18) years of age or older as of the date of entry (the “Entrant”). Void outside of the fifty (50) United States, the District of Columbia or Puerto Rico, and where prohibited, taxed or restricted by law. Sweepstakes may only be entered in or from the fifty (50) United States, the District of Columbia or Puerto Rico, and entries originating from any other jurisdiction are not eligible for entry. All federal, state and local laws and regulations apply. In order to enter, the Entrant must be a current student at one of the following universities: Auburn University, Iowa State University, Michigan State University, Ohio State University, Pennsylvania State University, Texas A&amp;M University, University of Florida, University of Iowa, University of Michigan, University of Missouri, University of North Carolina, University of Wisconsin, or Vanderbilt University. </p>
        </article>
        <article>
            <h1>Prizes</h1>
            <p>One (1) prize will be awarded, consisting of a check for $1000 USD (the “Prize”)</p>
        </article>
        <article>
            <h1>How to Enter (there are two ways to enter)</h1>
            <p>(i) <b>Download</b> - Entrants downloading the Spitball app during the Sweepstakes Period receive an automatic entry to the Sweepstakes.
<br>(ii) <b>Sharing Spitball</b> - Entrants who share their unique sharing link (the “Link”) to download Spitball gain additional entries to the Sweepstakes for each user who successfully downloads the Spitball app through that link. The Link can be found within the Spitball app. No limits apply for number of entries. </p>
        </article>
        <article>
            <h1>Drawing/Odds</h1>
            <p>On December 15th, 2017 (the “Drawing Day”), a potential prize winner will be selected in a random drawing from all eligible entries received by Spitball and the Sponsor. Odds of winning depend on the number of eligible entries received for the Sweepstakes. By entering the Sweepstakes, Entrants fully and unconditionally agree to be bound by these official rules and the decisions of Spitball or the Sponsor, which will be final and binding in all matters relating to the Sweepstakes.To be eligible to receive a prize, all Entrants must have the App downloaded on Drawing Day. </p>
        </article>
        <article>
            <h1>Notifications/Claims</h1>
            <p>Spitball will contact the potential winner through in-app notification, and the winner has two (2) days to respond to accept their prize.  In the event that an Entrant does not respond within the two (2) day period, the Entrant will be disqualified and an alternate prize winner will be selected in a random drawing from all remaining eligible entries. The winner’s first name and university name will be available on the website for thirty (30) days following selection.</p>
        </article>
        <article>
            <h1>No Liability</h1>
            <p>By participating, Entrants and prize winners agree to release, discharge, indemnify and hold harmless Spitball, the Sponsor and each of the respective officers, directors, employees, representatives and agents (collectively the “Released Parties”) from and against any claims made by any Entrant, prize winner, or any other third parties, relating in any way to the operation of this Sweepstakes as well as any other claims, damages or liability due to any injuries, damages or losses to any person (including death) or property of any kind resulting in whole or in part, directly or indirectly, from receipt, acceptance, possession, misuse or use of a prize or participation in any promotion related activity or participation in this Sweepstakes. Entrants and prize winners agree to release, discharge, indemnify and hold harmless the Released Parties from any obligation to award the Prize in the circumstance that Spitball goes out of business during the Sweepstakes Period. </p>
        </article>
        <article>
            <h1>Privacy</h1>
            <p>Spitball will be collecting personal data about Entrants online, in accordance with the privacy policy. Please review the privacy policy at https://www.spitball.co/new/privacy. By participating in the Sweepstakes, Entrants hereby agree to Spitball’s collection and usage of their personal information and acknowledge that they have read and accept Spitball’s privacy policy. </p>
        </article>
        <article>
            <h1>Social Network No Liability</h1>
            <p>In the event that Spitball promotes or communicates the Sweepstakes on Facebook, Instagram, or Twitter (the “Social Networks”), Entrants and prize winners understand that the Sweepstakes is in no way sponsored, endorsed, administered by, or associated with any of the respective Social Networks and agree to release, discharge, indemnify and hold harmless the Social Networks and each of the respective officers, directors, employees, representative and agents from and against any claims made by any Entrant, prize winner, or any other third parties, relating in any way to the operation of this Sweepstakes as well as any other claims, damages or liability due to any injuries, damages or losses to any person (including death) or property of any kind resulting in whole or in part, directly or indirectly, from receipt, acceptance, possession, misuse or use of a prize or participation in any promotion related activity or participation in this Sweepstakes.</p>
        </article>
    </div>
</section>

