<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Cloudents.Ico</title>
    <link rel="shortcut icon" href="images/favicon.png">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/theme.css" />
        <link rel="stylesheet" href="~/css/vendor.bundle.css" />
    </environment>
    <environment exclude="Development">
     
    </environment>
</head>
<body>
  
  
        @RenderBody()
     
       
  

    <environment include="Development">
    </environment>
    <environment exclude="Development">
       
    </environment>


</body>
</html>
