input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.btn > .m-icon-swapright {
  margin-top: 2px;
}
.rtlFix .m-icon-swapright {
  margin-top: 3px;
  background-position: -8px -10px;
}
