input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
a {
  color: #3293f6;
}
a:hover {
  color: #337ab7;
}
.btn > .m-icon-swapright {
  margin-top: 2px;
}
.login .content {
  background: rgba(56, 56, 56, 0.8);
  width: 430px;
}
.rtlFix .m-icon-swapright {
  margin-top: 3px;
  background-position: -8px -10px;
}
