input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login .alert-danger {
  margin-top: 23px;
  margin-bottom: 0;
}
.login .logo {
  margin-bottom: 7px;
}
.facebook {
  background: #3a5795;
  border: none;
  padding: 10px;
  width: 100%;
  color: #fff;
  outline: 0;
  font-size: 1.5em;
}
.facebook img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.form-group h4 {
  text-align: center;
}
a {
  color: #3293f6;
}
a:hover {
  color: #337ab7;
}
.btn > .m-icon-swapright {
  margin-top: 2px;
}
.login .content {
  background: rgba(56, 56, 56, 0.8);
}
@media (max-width: 480px) {
  .login .content {
    width: 95%;
  }
}
