/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */
.login {
  background-color: #364150;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
}
.login .wrapper {
  width: 100%;
}
.login .logo {
  padding: 15px;
  text-align: center;
}
.login .logo svg {
  fill: white;
  width: 180px;
  height: 43px;
}
.login .content {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.login .content p {
  padding-bottom: 5px;
}
.login .content h4 {
  color: #8c99a6;
  float: left;
  font-size: 18px;
  white-space: nowrap;
}
.login .content h3 {
  color: #3598dc;
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
}
.login .content .create-account p,
.login .content .login-account p {
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 0;
}
.login .content .forget-password {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.login .content .forget-password p {
  color: #8c99a6;
  font-size: 11px;
  margin: 0;
  margin-left: 15px;
}
.login .content .form-actions-container label {
  color: #8c99a6;
  font-size: 11px;
}
.login .checker {
  margin-left: -2px;
}
.login .content .login-form,
.login .content .forget-form {
  padding: 0;
  margin: 0;
}
.login .content .form-control {
  padding-right: 1em;
  background-color: #dde3ec;
  color: #212325;
  border: 1px solid #dde3ec;
  border-radius: 0;
  padding-left: 15px;
}
.login .content .form-control:focus {
  border-color: #c3ccda;
}
.login .content .forget-form {
  display: none;
}
.login .content .register-form {
  display: none;
}
.login .content .form-group {
  margin-bottom: 20px;
}
.login .content .form-group.first {
  width: 44%;
  float: left;
}
.login .content .form-group.second {
  width: calc(56% - 10px);
  float: right;
}
.login .content .form-group input {
  height: 48px;
}
.login .form-group input::-webkit-input-placeholder {
  color: #8c99a6;
}
.login .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #8c99a6;
}
.login .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8c99a6;
}
.login .form-group input:-ms-input-placeholder {
  color: #8c99a6;
}
.form-actions-container {
  display: flex;
  margin-top: 25px;
  padding-right: 6px;
}
.form-actions-container .form-group {
  align-self: center;
}
.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}
.login .content .password-update-form .form-actions {
  margin-bottom: 55px;
  float: right;
}
.login .content .forgot-password-form .text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  color: #8c99a6;
}
.login .content .forgot-password-form .form-actions {
  margin-bottom: 55px;
  float: right;
}
.login .content .forgot-password-form .form-actions .cancel {
  margin-left: 10px;
}
.login .content .check-email-message {
  text-align: center;
}
.login .content .check-email-message .form-title {
  margin-left: 0;
  margin-bottom: 38px;
}
.login .content .check-email-message .text {
  margin-bottom: 145px;
  font-size: 18px;
  line-height: 22px;
}
.login .content .check-email-message .text p {
  color: #8c99a6;
}
.login .content .check-email-message .text .bold {
  color: #6a737d;
}
.login .content .check-email-message .text svg {
  fill: #5f6871;
  width: 45px;
  height: 45px;
  margin-top: 25px;
}
.login .content .check-email-message .text button {
  color: #3293f6;
  background: none;
  border: none;
}
.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0;
  padding: 0 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.login .content .form-actions .checkbox-design {
  display: inline-block;
  width: inherit;
  color: #8c99a6;
}
.login .content .form-actions .checkbox-design .remember-me {
  display: inline-flex;
  width: 12px;
  height: 12px;
  border: 1px solid #888b8e;
  padding: 0;
  border-radius: 3px;
  background: grey;
  background: -webkit-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #cccccc 100%);
  background: -moz-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #cccccc 100%);
  background: -o-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #cccccc 100%);
  background: -ms-linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #cccccc 100%);
  background: linear-gradient(top, #fcfff4 0, #dfe5d7 40%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  margin: 20px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px white, 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.login .content .form-actions .checkbox-design .remember-me:before {
  opacity: 0;
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 2px;
  left: 1px;
  border: 2px solid #000;
  border-top: none;
  border-right: none /*rtl:ignore*/;
  -webkit-transform: rotate(-45deg) /*rtl:ignore*/;
  -moz-transform: rotate(-45deg) /*rtl:ignore*/;
  -o-transform: rotate(-45deg) /*rtl:ignore*/;
  -ms-transform: rotate(-45deg) /*rtl:ignore*/;
  transform: rotate(-45deg) /*rtl:ignore*/;
}
.login .content .form-actions .checkbox-design input[type="checkbox"] {
  display: none;
}
.login .content .form-actions .checkbox-design input[type=checkbox]:checked ~ label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.login .content .form-actions .btn-default {
  margin-left: 10px;
}
#forget-password {
  color: #3293f6;
}
#forget-password:hover {
  color: #337ab7;
  cursor: pointer;
  text-decoration: underline;
}
.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
}
.login .content .form-actions .cancel-btn,
.login .content .form-actions .action-btn {
  margin-top: 1px;
  border-radius: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
  padding: 7px 24px;
  border: none;
}
.login .content .form-actions .action-btn {
  color: #fff;
  background-color: #00BCD4;
  margin-left: 10px;
}
.login .content .form-actions .action-btn:hover {
  background-color: #009cb0;
}
.login .content .form-actions .cancel-btn {
  color: #666666;
  background-color: #E6E6E6;
}
.login .content .form-actions .cancel-btn:hover {
  background-color: #d4d4d4;
}
.login .content .create-account {
  padding-top: 10px;
  margin-top: 15px;
  min-height: 50px;
}
.login .content .login-account,
.login .content .create-account {
  padding-top: 10px;
  clear: both;
  background: #6c7a8d;
  margin: -30px;
  text-align: center;
  border: none;
}
.login .content .create-account a,
.login .content .login-account a {
  display: inline-block;
  margin-top: 5px;
  color: #ffffff;
}
/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0 -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.login .content .has-error .select2-container i,
.field-validation-error {
  color: #b94a48;
}
.login .content .select2-container a span {
  font-size: 13px;
}
.login .content .select2-container a span img {
  margin-left: 4px;
}
#ssIFrame_google {
  left: -9999px !important;
}
/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px;
}
.login .login-options {
  clear: both;
}
.login .login-options .facebook,
.login .login-options .google {
  background: none;
  border: none;
  padding: 0;
  margin-right: 0;
  width: inherit;
  float: right;
}
.login .login-options .facebook svg {
  fill: #8493B3;
}
.login .login-options .google svg {
  fill: #E07B6F;
}
.login .login-options svg {
  width: 37px;
  height: 37px;
  margin-right: 0;
}
.login label a {
  color: #30333A;
}
@media (max-width: 480px) {
  /***
  Login page
  ***/
  /*.login .logo {
    margin-top: 10px;
  }*/
  .login .content {
    padding: 30px;
    width: 222px;
  }
  .login .content h3 {
    font-size: 22px;
  }
  .login .checkbox {
    font-size: 13px;
  }
}
