/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */
.login {
  background-color: #364150;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login .logo {
  padding: 15px;
  text-align: center;
}
.login .content {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.login .content p {
  padding-bottom: 5px;
}
.login .content h4 {
  color: #8c99a6;
  float: left;
  font-size: 18px;
  margin-bottom: 20px;
}
.login .content h3 {
  color: #3598dc;
  margin-top: 0;
  margin-bottom: 28px;
  margin-left: 14%;
}
.login .content .create-account p,
.login .content .login-account p {
  color: #f5f5f5;
  line-height: 40px;
}
.login .content .forget-password {
  display: flex;
}
.login .content .forget-password p {
  color: #8c99a6;
  font-size: 11px;
  padding-left: 5%;
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  margin: 0;
  align-self: center;
}
.login .content .form-actions-container label {
  color: #8c99a6;
  font-size: 11px;
}
.login .content label {
  padding-right: 20%;
}
.login .checker {
  margin-left: -2px;
}
.login .content .login-form,
.login .content .forget-form {
  padding: 0;
  margin: 0;
}
.login .content .form-control {
  padding-right: 1em;
  background-color: #dde3ec;
  color: #8c99a6;
  border: 1px solid #dde3ec;
  border-radius: 0;
  padding-left: 15px;
}
.login .content .form-control:focus {
  border-color: #c3ccda;
}
.login .content .forget-form {
  display: none;
}
.login .content .register-form {
  display: none;
}
.login .content .form-group {
  margin-bottom: 20px;
}
.login .content .form-group.first {
  width: 44%;
  float: left;
}
.login .content .form-group.second {
  width: calc(56% - 10px);
  float: right;
}
.login .content .form-group input {
  height: 48px;
}
.login .form-group input::-webkit-input-placeholder {
  color: #8c99a6;
}
.login .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #8c99a6;
}
.login .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8c99a6;
}
.login .form-group input:-ms-input-placeholder {
  color: #8c99a6;
}
.form-actions-container {
  display: flex;
  margin-top: 25px;
  padding-right: 6px;
}
.form-actions-container .form-group {
  align-self: center;
}
.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}
.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0;
  padding: 0 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}
.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
  margin-top: 8px;
  display: inline-block;
  color: #8c99a6;
}
.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 30px;
  padding-bottom: 0;
}
.login .content .form-actions .btn {
  margin-top: 1px;
  border-radius: 0;
  box-shadow: none;
  font-size: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 7px 24px;
}
.login .content .create-account {
  padding-top: 10px;
  margin-top: 15px;
}
.login .content .login-account,
.login .content .create-account {
  padding-top: 10px;
  clear: both;
  background: #6c7a8d;
  margin: -30px;
  padding: 0 30px 0 80px;
  border: none;
}
.login .content .create-account a,
.login .content .login-account a {
  display: inline-block;
  margin-top: 5px;
  color: #f5f5f5;
}
/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #cccccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0 -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.login .content .has-error .select2-container i {
  color: #b94a48;
}
.login .content .select2-container a span {
  font-size: 13px;
}
.login .content .select2-container a span img {
  margin-left: 4px;
}
#ssIFrame_google {
  left: -9999px !important;
}
/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px;
}
.login .login-options {
  clear: both;
}
.login .login-options .facebook,
.login .login-options .google {
  background: none;
  border: none;
  padding: 0;
  margin-right: 0;
  width: inherit;
  float: right;
}
.login .login-options .facebook svg {
  fill: #8493B3;
}
.login .login-options .google svg {
  fill: #E07B6F;
}
.login .login-options svg {
  width: 37px;
  height: 37px;
  margin-right: 10px;
  margin-left: -8px;
}
.login label a {
  color: #30333A;
}
@media (max-width: 480px) {
  /***
  Login page
  ***/
  /*.login .logo {
    margin-top: 10px;
  }*/
  .login .content {
    padding: 30px;
    width: 222px;
  }
  .login .content h3 {
    font-size: 22px;
  }
  .login .checkbox {
    font-size: 13px;
  }
}
