@using Zbang.Cloudents.Mvc4WebRole.Models
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources
@model Zbang.Zbox.ViewModel.Dto.Store.ProductCheckOutDto
<div class="storeWpr page">
    @{
        Html.RenderPartial("_Navigation");
        Html.RenderPartial("_CheckOutStep1", Model);
        Html.RenderPartial("_CheckOutStep2", new StoreOrder());
        Html.RenderPartial("_Footer");
    }
</div>