
<header class="siteHeader">
    @{Html.RenderPartial("_Header");}
</header>

<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}

    <h2>Sales</h2>
    @{Html.RenderPartial("_Footer");}
</div>