<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}
    <div class="widget">
        <div class="lFloat banner">

        </div>
    </div>

    <div class="terms">
        <h2>
            כללי
        </h2>
        <p>
            לפני שתבצע רכישה באתר, הנך מתבקש לקרוא בעיון את התנאים המפורטים בתקנון האתר, שכן הם מהווים בסיס משפטי מחייב לכל התקשרות המתבצעת באמצעות האתר.
            התנאים המפורטים להלן מתייחסים לכל מוצר, מידע ושירות המוצעים באתר, ע"י כל אחד מן הספקים המציגים באתר, אלא אם נאמר אחרת.
            כל המבצע פעולה באתר מסכים כי הנו מודע לתקנון האתר ולכללי המסחר בו, וכי לא תהיה לו או למי מטעמו כל טענה או תביעה כנגד בעלי האתר ו/או מפעיליו ו/או מי מטעמם, מלבד טענות הקשורות בהפרת התחייבויות מפורשות שנתנו ע"י בעל האתר ו/או מפעיליו ו/או מי מטעמם.
            האמור בתקנון זה מתייחס באופן שווה לשני המינים, והשימוש בלשון זכר הוא מטעמי נוחות בלבד.
        </p>
        <h2>
            1. הגבלת אחריות מפעיל האתר:
        </h2>
        <p>
            א.    המידע המוצג באתר נמסר ל- בעלי האתר ו/או מפעיליו ו/או מי מטעמם  מספקי המוצרים והנו באחריותם המלאה,לפיכך, לא תהא בעלי האתר ו/או מפעיליו ו/או מי מטעמם  אחראית בשום צורה ואופן לכל מצג שנעשה באתר בכל הנוגע למהות המוצרים, שמות היצרנים, איכות המוצרים, טיב המוצרים, תכונות המוצרים, מחיר המוצרים, דרך התשלום, זמני אספקתם, יכולת הספק לספקם וכיו"ב (להלן: "מפרט הרכישה"). לרוכש מוצר לא תעמוד כל טענה כלפי בעלי האתר ו/או מפעיליו ו/או מי מטעמם  בכל הנוגע למפרט הרכישה. האחריות הבלעדית למוצרים ו/או לשירותים, אספקתם, איכותם, טיבם, עמידותם ותכולתם חלה על הספקים, המשווקים והיצרנים של המוצרים בהתאם לחוקי האחריות למוצרים וחוקי הגנת הצרכן באשר לכל מוצר או שירות שיירכשו באמצעות האתר. להסרת ספקות – המוצרים הנרכשים באתר לא נרכשים מ-  בעלי האתר ו/או מפעיליו ו/או מי מטעמם  אלא מהספק באופן ישיר ואין יריבות בין הרוכש לבין בעלי האתר ו/או מפעיליו ו/או מי מטעמם  בנוגע לתנאי ההתקשרות ורכישת המוצר.
        </p>
        <p>
            ב.   המוצרים השירותים והמידע המוצגים באתר זה מוצגים בתום לב ואין בהצגתם משום המלצה או הבעת דעה לגבי אופי המוצרים, תכונותיהם, טיבם וכיו"ב.
        </p>
        <p>
            ג.    בעלי האתר ו/או מפעיליו ו/או מי מטעמם אינם ולא יהיו אחראים לכל טעות, בבחירת הפריט או השירות שיירכשו דרך האתר, הנובעת מביצוע פעולה באתר, בהקלדת נתוני הרכישה, לרבות פרטיו האישיים והמזהים של מבצע הפעולה באתר ,זאת במהלך כל הליך הרכישה.
        </p>
        <p>
            ד.   בעלי האתר ו/או מפעיליו ו/או מי מטעמם אינם ולא יהיו אחראים לכל שימוש לרעה, שלא כדין, במרמה או בלתי מורשה שנעשה בקוד הכניסה, לשם ביצוע פעולה באתר זה.
        </p>
        <p>
            ה.    בעלי האתר ו/או מפעיליו ו/או מי מטעמם אינם ולא יהיו אחראים כלפי הרוכש בגין כל נזק עקיף ו/או תוצאתי ו/או פיזי ו/או גוף כלשהו, אובדן רווחים ישירים או עקיפים, אובדן חסכונות או נזקים אקראיים, לא ישירים, מיוחדים או עקיפים, הנובעים מהשימוש או מאי היכולת לעשות שימוש במוצר או בשירות או מידע שירכשו על ידו במסגרת האתר.
        </p>
        <p>
            ו.   נפלה טעות קולמוס בתיאור המוצר ו\או במחיר המוצר, לא יחייב הדבר את בעלי האתר ו/או מפעיליו ו/או מי מטעמם.
        </p>
        <p>
            ז.   תמונות המוצרים באתר נועדו להמחשה בלבד וייתכנו הבדלים בין התמונות המוצגות בזירה לבין המוצרים הנמכרים בפועל.
        </p>
        <h2>
            2. אנשי הקשר
        </h2>
        <p>
            אנשי הקשר לצורך מימוש הרכישה יהיו נציגי הספק בלבד, אשר פרטיהם יועברו ללקוח דרך האתר או בכל דרך אחרת על פי שיקול דעתה של  ביזפוינט.
        </p>
        <h2>
            3. ביטול עסקה/החזרת/החלפת מוצר
        </h2>
        <p>
            ביטול עסקה/החזרת/החלפת מוצר תעשה על פי תקנון הספק ממנו נרכש המוצר.
        </p>
        <h2>
            4. ברירת דין ומקום שיפוט
        </h2>
        <p>
            כל התנאים המפורטים בתקנון זה, פרשנותם ואכיפתם נשלטים על ידי חוקי מדינת ישראל בלבד. כל העסקאות המתבצעות באמצעות אתר זה כפופות לדין הישראלי בלבד וכל הליך משפטי בגין כל עילה שמקורה בפעולה משפטית שהתבצעה באתר זה יתברר בבית המשפט המוסמך במחוז תל אביב בלבד. הגישה לאתר זה וביצוע עסקאות באמצעותו מוגבלת אך ורק למשתמשים מישראל.
        </p>
        <h2>
            5. הגנה על זכויות קניין, קניין רוחני וסודות מסחר:
        </h2>
        <p>
            כל זכויות הקניין והקניין הרוחני, בתוכנה, באתר האינטרנט, בשם המסחרי : " ביזפוינט " או "ביזפוינט בע"מ"  ובכל מידע אחר הקשור לאתר, הנם בבעלות הבלעדית של ביזפוינט  ולאף אדם לא תהא כל זכות, דרישה או תביעה כלפי ביזפוינט  בנוגע לזכויות אלה ולא יותר לו לעשות שימוש כלשהו בזכויות אלה, אלה באמצעות ובאישור  ביזפוינט בלבד.
            כל חמר טכנולוגי הכולל תוכנות, חומרות, תוכניות, מפרטים, נתונים, תהליכים, המצאות ושיפורים,סימני מסחר, סודות מסחר וכל מידע אחר אשר ניתן לזהותו בדרך כלשהי כמידע הקשור לאתר יהוו רכוש ביזפוינט ולא תהיה לאף אדם כל זכות בהם לרבות זכות שימוש.
        </p>
        <h2>
            6. תנאים נוספים
        </h2>
        <p>
            במידה ואירועים שאינם בשליטת בעלי האתר ו/או מפעיליו יעכבו או ימנעו את קיום המסחר באתר בכל דרך שהיא, או אספקת מוצרים ו/או שירותים שפורסמו באתר, או אם יפגעו תקלות במחשוב/במערכת הטלפון/במערכת התקשורת בהשלמת תהליך הרכישה, או אם בשל פעולות איבה ימנעו קיום רכישת המוצרים ו/או השירותים ו/או אספקתם במועד, רשאית ביזפוינט להודיע על ביטול הרכישה (כולה או חלקה).
        </p>
        <h2>
            7. שאלות ובירורים
        </h2>
        <p>
            לבירורים ושאלות ניתן לפנות לנציגי השירות של ביזפוינט  באמצעות דואר אלקטרוני: letters@bizpoint.co.il
        </p>
    </div>

    @{Html.RenderPartial("_Footer");}
</div>


