@using Zbang.Cloudents.Mvc4WebRole.Views.Store.Resources

<div class="storeWpr page">
    @{Html.RenderPartial("_Navigation");}

    <h1 class="thanksTxt1">@StoreResources.ThankyouFor</h1>
    <h2 class="thanksTxt2">@StoreResources.ProcessingOrder</h2>
    <a href="~/" class="btn1">@StoreResources.BackTo</a>

    @{Html.RenderPartial("_Footer");}
</div>
