
// start spread loud svg animation
@SpreadColor: #4452fc;
@keyframes spread-loud {
 from{
    transform: translate(0px, 0px); fill: lighten(@SpreadColor, 100%)
  }
  to{
    transform: translate(4px, 0px ); fill: lighten(@SpreadColor, 0%)
  }
}

.spread {
  animation: spread-loud 0.8s steps(5) infinite alternate;
  animation-timing-function: ease-in-out;
}
// end spread loud svg animation

@-webkit-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-moz-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-ms-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-o-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

/**
* ==============================================
* Dot Flashing
* ==============================================
*/
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color:  #4452fc;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}


