
// start spread loud svg animation
@SpreadColor: @color-blue-new;
@keyframes spread-loud {
 from{
    transform: translate(0px, 0px); fill: lighten(@SpreadColor, 100%)
  }
  to{
    transform: translate(4px, 0px ); fill: lighten(@SpreadColor, 0%)
  }
}

.spread {
  animation: spread-loud 0.8s steps(5) infinite alternate;
  animation-timing-function: ease-in-out;
}
// end spread loud svg animation

@-webkit-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-moz-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-ms-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-o-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

//custom progress bar
//.progress-line, .progress-line:before {
//  height: 8px;
//  width: 100%;
//  margin: 0;
//}
//.progress-line:before {
//  background-color: rgb(92, 187, 246);
//  content: '';
//  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
//  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
//}
//@-webkit-keyframes running-progress {
//  0% { margin-left: 0px; margin-right: 100%; }
//  50% { margin-left: 25%; margin-right: 0%; }
//  100% { margin-left: 100%; margin-right: 0; }
//}
//@keyframes running-progress {
//  0% { margin-left: 0px; margin-right: 100%; }
//  50% { margin-left: 25%; margin-right: 0%; }
//  100% { margin-left: 100%; margin-right: 0; }
//}