<uib-accordion>
    <uib-accordion-group is-open="dep.isOpen" ng-repeat="dep in ad.departments track by dep.id"
                         heading="{{::dep.name}}">
        <div ng-controller="accountSettingsDepController">
            <ul class="list-unstyled">
                <li ng-repeat="user in ::dep.users track by user.id" layout="row">
                    <user-image name="::user.name" image="::user.image" width="40" height="40"></user-image>
                    <div>{{::user.name}}</div>
                    <md-button ng-if="user.userType === 1" ng-click="ad.approve(dep,user)">pending</md-button>
                </li>
            </ul>
        </div>
    </uib-accordion-group>
</uib-accordion>
