@using Zbang.Cloudents.Mvc4WebRole.Models.Account.Resources
<uib-accordion class="private-departments">
    <uib-accordion-group is-open="dep.isOpen" ng-repeat="dep in ad.departments track by dep.id"
                         heading="{{::dep.name}}">
        <div class="requests-wrapper" ng-scrollbars>
            <div ng-controller="accountSettingsDepController">
                <ul class="requests list-unstyled" layout-wrap layout="row" layout-align="space-between center">
                    <li ng-repeat="user in ::dep.users track by user.id">
                        <div layout="row" layout-align="space-between center">
                            @*<user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="125" height="125"></user-image>*@

                            <a layout="row" layout-align="start center" class="user-details" href="{{::user.url}}">
                                <user-image flex="none" class="img-circle" name="::user.name" image="::user.image" width="40" height="40"></user-image>
                                <div class="user-name">{{::user.name}}</div>
                            </a>
                            <div>
                                <md-button ng-disabled="ad.disabled" class="action-btn text-uppercase" ng-if="user.userType === 'pending'" ng-click="ad.approve(dep,user)">
                                    @AccountSettingsResources.AcceptUserRequest
                                </md-button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
