@using Zbang.Zbox.Infrastructure.Enums
<div class="tab-pane active" id="info">
    <div class="form-group">
        <div class="fileinput" data-provides="fileinput">
            <div class="thumbnail" style="width: 150px; height: 150px;">
                <img src="{{i.data.image}}" alt="" width="150" height="150" />
                <a plupload="i.fileUpload.url" plupload-options="i.fileUpload.options" class="bg-grey-cascade ontop" plupload-callbacks="i.fileUpload.callbacks">
                    Update Picture
                </a>
            </div>

        </div>
        <form role="form" ng-submit="i.submit()">
            <div ng-if="i.done" class="alert alert-success" role="alert">Saved</div>
            <md-input-container>
                <label>First Name</label>
                <input type="text" autocomplete="off" ng-model="i.data.firstName" />
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input type="text" autocomplete="off" ng-model="i.data.lastName" />
            </md-input-container>

            <div class="form-group">
                <label class="control-label" for="email">Change mail</label>
                <input type="email" id="email" placeholder="{{::i.data.email}}" class="form-control" />
            </div>
            <a ui-sref="universityChoose">change univeristy</a>
            
            <md-input-container>
                <label>language:</label>
                <md-select name="notification" md-on-close="i.changeLanguage()" ng-model="i.data.language" md-container-class="dd-list" ng-model-options="{trackBy: '$value'}">
                    @foreach (var lang in Zbang.Zbox.Infrastructure.Culture.Languages.SupportedCultures)
                    {
                        <md-option value="@lang.Culture">@lang.Name</md-option>
                    }
                </md-select>

            </md-input-container>

            <div class="margin-top-10 text-right">

                <button type="submit" class="btn blue">Save changes</button>
                <button type="reset" class="btn default">Cancel</button>
            </div>
        </form>
    </div>
</div>
