
<div class="tab-pane" id="notification">
    <ul class="list-unstyled notification-list">
        <li>
            <div>Research in applied economics</div>
            <small>owner: Shlomi Kastoryano</small>
            <select class="pull-right">
                <option>once a day</option>
                <option>once a day</option>
                <option>once a day</option>
            </select>

        </li>
    </ul>
</div>