<div class="tab-pane" id="password">
    <form name="passwordForm" novalidate ng-submit="p.submit()">
        <div class="form-group">
            <label class="control-label" for="p-old">current password</label>
            <input required id="p-old" type="password" class="form-control" ng-model="p.old" />
        </div>
        <div class="form-group">
            <label class="control-label" for="p-new">new password</label>
            <input required id="p-new" type="password" class="form-control" ng-model="p.new" />
        </div>
        <div class="margin-top-10 text-right">
            <button type="submit" class="btn blue" ng-disabled="!passwordForm.$valid">Save Changes</button>
        </div>
    </form>
</div>
