<div class="tab-pane" id="password">
    <form name="passwordForm" novalidate ng-submit="p.submit()">
        <md-input-container>
            <label class="control-label" for="p-old">Current password</label>
            <input required id="p-old" type="password" class="form-control" ng-model="p.old" />
        </md-input-container>
        <md-input-container>
            <label class="control-label" for="p-new">New password</label>
            <input required id="p-new" type="password" class="form-control" ng-model="p.new" />
        </md-input-container>
        <div class="margin-top-10 text-right">
            <button type="reset" class="btn grey">Cancel</button>
            <button type="submit" class="btn blue" ng-disabled="!passwordForm.$valid">Save Changes</button>
        </div>
    </form>
</div>
