@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources;
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="tab-pane" id="password">
    <form name="passwordForm" novalidate ng-submit="p.submit()">
        <md-input-container>
            <label class="control-label text-capitalize" for="p-old">@AccountResource.CurrentPassword</label>
            <input required id="p-old" type="password" class="form-control" ng-model="p.old" />
        </md-input-container>
        <md-input-container>
            <label class="control-label text-capitalize" for="p-new">@AccountResource.NewPassword</label>
            <input required id="p-new" type="password" class="form-control" ng-model="p.new" />
        </md-input-container>
        <div class="margin-top-10 text-right">
            <button type="reset" class="btn grey text-capitalize">@GeneralResources.Cancel</button>
            <button type="submit" class="btn blue text-capitalize" ng-disabled="!passwordForm.$valid">@GeneralResources.SaveChanges</button>
        </div>
    </form>
</div>
