<div class="tab-pane" id="password">
    <form role="form" action="#">
        <div class="form-group">
            <label class="control-label">current password</label>
            <input type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">new password</label>
            <input type="password" class="form-control" />
        </div>
        <div class="margin-top-10 floatright">
            <a href="javascript:;" class="btn blue">
                Save Changes
            </a>
            <a href="javascript:;" class="btn default">
                Cancel
            </a>
        </div>
    </form>
</div>
