<div class="page-head">
    <div class="page-title">
        <h1>Account Page @*<small>blank page</small>*@</h1>
    </div>
</div>
<div class="row accountPage">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width: 250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="{{::a.data.image}}" class="img-responsive" alt="" style="max-width:150px;">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{::a.data.firstName + a.data.lastName}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{::a.data.university}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="@*{{::u.details.url}}*@">
                                @Html.Svg("~/images/site/icons.svg", "houseMenu")
                                Presonal data
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.RouteUrl("AccountSettings")">
                                @Html.Svg("~/images/site/icons.svg", "settingMenu")
                                Account Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject  bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Personal info</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Change password</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Notification</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form action="#" role="form">
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                                                    <img src="{{a.data.image}}" alt="" width="150" height="150" />
                                                </div>
                                                @*<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                                    </div>*@
                                                <div>
                                                    <span class="btn default blue">
                                                        <span class="fileinput-new">
                                                            Select image
                                                        </span>
                                                        <!--<span class="fileinput-exists">
                                                             Change
                                                         </span>-->
                                                        <input type="file" name="...">
                                                    </span>
                                                    <!-- <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                         Remove
                                                     </a>-->
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="margin-top-10">
                                                <a href="javascript:;" class="btn blue">
                                                    Submit
                                                </a>
                                                <a href="javascript:;" class="btn default">
                                                    Cancel
                                                </a>
                                            </div>*@
                                    </form>
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <input type="text" placeholder="{{::a.data.firstName}}" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" placeholder="{{::a.data.lastName}}" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Change mail</label>
                                            <input type="email" placeholder="{{::a.data.email}}" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">change university</label>
                                            <md-autocomplete ng-disabled="ctrl.isDisabled"
                                                             md-no-cache="false"
                                                             md-selected-item="a.selectedItem"
                                                             md-search-text-change="a.searchTextChange(ctrl.searchText)"
                                                             md-search-text="a.searchText"
                                                             md-selected-item-change="a.selectedItemChange(item)"
                                                             md-items="item in a.querySearch(a.searchText)"
                                                             md-item-text="item.display"
                                                             md-min-length="2"
                                                             md-delay="250"
                                                             placeholder="choose university">
                                                <md-item-template>
                                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found for "{{a.searchText}}".
                                                </md-not-found>
                                            </md-autocomplete>
                                            @*<input type="text" placeholder="{{::a.data.university}}" class="form-control" />*@
                                        </div>

                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn blue">
                                                Save Changes
                                            </a>
                                            <a href="javascript:;" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">current password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">new password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn blue">
                                                Save Changes
                                            </a>
                                            <a href="javascript:;" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form action="#">
                                        <div class="form-group">
                                            <label class="control-label">Current Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">New Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Re-type New Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn blue">
                                                Save Changes
                                            </a>
                                            <a href="javascript:;" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                                <!-- PRIVACY SETTINGS TAB -->
                                @*<div class="tab-pane" id="tab_1_4">
                                        <form action="#">
                                            <table class="table table-light table-hover">
                                                <tr>
                                                    <td>
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
                                                    </td>
                                                    <td>
                                                        <label class="uniform-inline">
                                                            <input type="radio" name="optionsRadios1" value="option1" />
                                                            Yes
                                                        </label>
                                                        <label class="uniform-inline">
                                                            <input type="radio" name="optionsRadios1" value="option2" checked />
                                                            No
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                    </td>
                                                    <td>
                                                        <label class="uniform-inline">
                                                            <input type="checkbox" value="" /> Yes
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                    </td>
                                                    <td>
                                                        <label class="uniform-inline">
                                                            <input type="checkbox" value="" /> Yes
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                                    </td>
                                                    <td>
                                                        <label class="uniform-inline">
                                                            <input type="checkbox" value="" /> Yes
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!--end profile-settings-->
                                            <div class="margin-top-10">
                                                <a href="javascript:;" class="btn blue">
                                                    Save Changes
                                                </a>
                                                <a href="javascript:;" class="btn default">
                                                    Cancel
                                                </a>
                                            </div>
                                        </form>
                                    </div>*@
                                <!-- END PRIVACY SETTINGS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

