@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Models.Account.Settings
@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserAccountDto

<div id="account" class="page" ng-controller="AccountSettingsCtrl">
    <div class="settingsMenu lFloat">
        <ul>
            <li ng-class="{selected : params.currentTab === 'profile'}" ng-click="selectTab('profile')">@AccountSettingsResources.ProfileInfo</li>
            <li ng-class="{selected : params.currentTab === 'settings'}" ng-click="selectTab('settings')">@AccountSettingsResources.AccountSettings</li>
            <li ng-class="{selected : params.currentTab === 'storage'}" ng-click="selectTab('storage')">@AccountSettingsResources.Storage</li>
            <li ng-class="{selected : params.currentTab === 'notification'}" ng-click="selectTab('notification')">@AccountSettingsResources.Notifications</li>
        </ul>
    </div>
    <div class="settingsContent">       
            <div ng-switch="params.currentTab">
                <div ng-switch-when="profile">
                    @{Html.RenderPartial("_AccountProfile", new Profile { Image = Model.Image, University = Model.University, UniversityImage = Model.UniversityPic, FirstName = Model.FirstName, MiddleName = Model.MiddleName, LastName = Model.LastName });}
                </div>
                <div ng-switch-when="settings">
                    @{Html.RenderPartial("_AccountSettings", new AccountSettings { Language = new UserLanguage { Language = Model.Language } });}
                </div>
                <div ng-switch-when="storage">
                    @{Html.RenderPartial("_AccountStorage");}
                </div>
                <div ng-switch-when="notification">
                    @{Html.RenderPartial("_AccountNotification");}
                </div>
            </div>                                                
    </div>
</div>