<div class="page-head">
    <div class="page-title">
        <h1>Account Page @*<small>blank page</small>*@</h1>
    </div>
</div>
<div class="row accountPage">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width: 250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <img src="{{a.data.image}}" class="img-responsive" alt="" style="max-width:150px;">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{::a.data.firstName + a.data.lastName}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{::a.data.university}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="@*{{::u.details.url}}*@">
                                @Html.Svg("~/images/site/icons.svg", "houseMenu")
                                Presonal data
                            </a>
                        </li>
                        <li class="active">
                            <a href="@Url.RouteUrl("AccountSettings")">
                                @Html.Svg("~/images/site/icons.svg", "settingMenu")
                                Account Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject  bold uppercase">Profile Account</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#info" data-toggle="tab">Personal info</a>
                                </li>
                                <li>
                                    <a href="#password" data-toggle="tab">Change password</a>
                                </li>
                                <li>
                                    <a href="#notification" data-toggle="tab">Notification</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="info">
                                    <div class="form-group">
                                        <div class="fileinput">
                                            <div class="thumbnail" style="width: 150px; height: 150px;">
                                                <img src="{{a.data.image}}" alt="" width="150" height="150" />
                                            </div>
                                            <a plupload="a.fileUpload.url" plupload-options="a.fileUpload.options" plupload-callbacks="a.fileUpload.callbacks">
                                                select image
                                            </a>

                                        </div>
                                    </div>
                                    <form role="form" ng-submit="a.submit()">
                                        <div class="form-group">
                                            <label class="control-label" for="firstName">First Name</label>
                                            <input type="text" id="firstName" placeholder="{{a.data.firstName}}" ng-model="a.firstName" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="lastName">Last Name</label>
                                            <input type="text" id="lastName" placeholder="{{a.data.lastName}}" ng-model="a.lastName" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="email">Change mail</label>
                                            <input type="email" id="email" placeholder="{{::a.data.email}}" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="univeristy">change university</label>
                                            <md-autocomplete 
                                                             md-input-id="university"
                                                             md-no-cache="false"
                                                             md-selected-item="a.selectedItem.name"
                                                             @*md-search-text-change="a.searchTextChange(ctrl.searchText)"*@
                                                             md-search-text="a.searchText"
                                                             md-selected-item-change="a.selectedItemChange(item)"
                                                             md-items="item in a.querySearch(a.searchText)"
                                                             md-item-text="item.name"
                                                             md-min-length="2"
                                                             md-delay="250"
                                                             placeholder="{{::a.data.university}}">
                                                <md-item-template>
                                                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                                </md-item-template>
                                                <md-not-found>
                                                    No matches found for "{{a.searchText}}".
                                                </md-not-found>
                                            </md-autocomplete>
                                            @*<input type="text" placeholder="{{::a.data.university}}" class="form-control" />*@
                                        </div>

                                        <div class="margin-top-10">
                                            <button type="submit" class="btn blue">Save changes</button>
                                            <button type="reset" class="btn default">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="password">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">current password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">new password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn blue">
                                                Save Changes
                                            </a>
                                            <a href="javascript:;" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="notification">
                                    <form action="#">
                                        <div class="form-group">
                                            <label class="control-label">Current Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">New Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Re-type New Password</label>
                                            <input type="password" class="form-control" />
                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn blue">
                                                Save Changes
                                            </a>
                                            <a href="javascript:;" class="btn default">
                                                Cancel
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

