@using Cloudents.Web.Services
@using Cloudents.Web.Views
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Configuration
@inject WebPackChunkName Provider
@inject IConfiguration Environment
@inject IViewLocalizer Localizer
@{
    var main = Provider.GetClientTag(System.Threading.Thread.CurrentThread.CurrentUICulture.TextInfo.IsRightToLeft);
}

<div id="app" style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
    <svg style="width: 150px; height: 150px;" width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                <stop stop-color="#3e45a0" stop-opacity="0" offset="0%" />
                <stop stop-color="#3e45a0" stop-opacity=".631" offset="63.146%" />
                <stop stop-color="#3e45a0" offset="100%" />
            </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                    <animateTransform attributeName="transform"
                                      type="rotate"
                                      from="0 18 18"
                                      to="360 18 18"
                                      dur="0.9s"
                                      repeatCount="indefinite" />
                </path>
                <circle fill="#fff" cx="36" cy="18" r="1">
                    <animateTransform attributeName="transform"
                                      type="rotate"
                                      from="0 18 18"
                                      to="360 18 18"
                                      dur="0.9s"
                                      repeatCount="indefinite" />
                </circle>


            </g>
        </g>
        <text x="50%" y="50%" font-size="5" text-anchor="middle" alignment-baseline="central">@Localizer["Loading...."]</text>
    </svg>

</div>
<div class="cdn-only2"></div>



@section scripts {
    @*@await Component.InvokeAsync("Resource")*@
    @*<environment include="Development">
        <script src="~/dist/@main.Js"></script>
    </environment>*@
    @*<environment exclude="Development">*@
        <script src="@Constants.GetCdnEndpoint(Environment)/dist/@main.Js" crossorigin="anonymous"
                asp-fallback-src="~/dist/@main.Js"
                asp-fallback-test="window.mainCdn">
        </script>
    @*</environment>*@
}
