.tutoring-page{
  .tutoring-tab{
    .v-tabs__item{
      text-transform: capitalize;
    }
  }
  /*rtl:ignore*/
  direction: ltr;
  height: 100%;
  &.gridBackground{
    background-color:  #F8F8F8;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    background-repeat: initial;
    background-blend-mode: color-burn;
  }
}