@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <form class="search-form" name="searchTrigger" novalidate>
        <div class="row">
            <input class="field col" name="university" placeholder="University" ng-model="st.formData.university">
            <input class="field col" name="department" placeholder="Department" ng-model="st.formData.department">
            <input class="field col" name="class" placeholder="Class" ng-model="st.formData.box">
            <input class="field col" name="boxId" placeholder="BoxID" ng-model="st.formData.boxId">
        </div>
        <div class="row">
            <input class="field col" placeholder="Item Name" name="item name"
                   ng-model="st.formData.name" />
            <button name="search_btn" ng-click="st.search()">
                Search
            </button>
        </div>
        <div class="row checkboxes">
            <label class="col">
                <input type="checkbox"
                       name="isReviewed" ng-model="st.formData.isReviewed">
                <span>Was Reviewd</span>
            </label>
            <label class="col">
                <input type="checkbox" ng-model="st.formData.isSearchType"
                       name="isSearchType">
                <span>No search Type</span>
            </label>
        </div>
    </form>
    <div class="results-header row">
        <div class="col-5">
            <button class="save" name="img_btn" ng-click="st.Save()">Save</button>
        </div>
        <div class="results-nav col-7">
            <button ng-disabled="st.counter==0" ng-click="st.prevPage()" name="back_btn"></button>
            <span name="results_num" class="counter">
                Results number: {{st.counter}}/{{st.resNum}}
            </span>
            <button ng-disabled="st.counter==st.resNum"
                    ng-click="st.nextPage()" name="next_btn"
                    type="submit" class="md-raised md-primary md-button md-ink-ripple"></button>
        </div>
    </div>
    <div class="result-data row">
        <div class="info col-5">
            <section class="general-info">
                <h1>Document info</h1>
                <label class="detail">
                    Name:
                    <input id="myItemName" class="form-check-label" type="text" ng-model="st.doc.ItemName" value={{st.doc.ItemName}}>
                </label>
                <div class="detail">Box name: {{st.doc.BoxName}}</div>
                <div class="detail">Department: {{st.doc.Department}}</div>
            </section>
            <section class="doc-type">
                <h1>Document Type</h1>
                <select id="mySelect" ng-model="st.doc.TypeId">
                    <option value="" disabled selected>Search type</option>
                    <option ng-repeat="option in st.optionalTabs" value="{{option.Id}}">{{option.Name}}</option>
                </select>
            </section>
            <section class="tags">
                <h1>Document Tag</h1>
                <div ng-repeat="t in st.doc.Tags" class="tag">
                    <div class="name">{{t}}</div>
                    <button class="delete-tag" ng-click="st.deleteTag($index)"></button>
                </div>
                <form>
                    <input ng-model="st.newTag" ng-keyup="$event.keyCode == 13 && st.AddNewTag()" name="ttt111" placeholder="+ Add Tag" type="text">
                </form>
            </section>
        </div>
        <div class="preview col-7">
            <div class="preview-image" ng-repeat="s in st.documents">
                <img class="imageContent" src="{{s}}" />
            </div>
        </div>
    </div>
</body>
</html>
