
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div class="form-group">
            <form ng-submit="st.search()" name="searchTrigger"
              novalidate>
                <md-content md-theme="docs-dark" >
                    <div class="form">
                  
                            <input name="university" placeholder="University" ng-model="st.formData.university"> 
     
                    
                            <input name="department" placeholder="Department" ng-model="st.formData.department">
                      
                        
                            <input name="class" placeholder="Class" ng-model="st.formData.box">


                            <input name="boxId" placeholder="BoxID" ng-model="st.formData.boxId">
                    
                    </div>
                </md-content>



                <div class="form-group">
                    <input class="form-control"  placeholder="Item Name" name="item name" ng-model="st.formData.name"/>
                </div>
                              
                <div class="form-actions">
                    <button name="search_btn" type="submit" class="md-raised md-primary md-button md-ink-ripple">
                        Search
                    </button>
                </div>


                <div1 class="form-group row">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label1 class="form-check-label">
                            <input ng-class="form-check-input" type="checkbox"
                                   name="isReviewed" ng-model="st.formData.isReviewed"> Was Reviewd
                        </label1>
                    </div>


                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" ng-model="st.formData.isSearchType"
                                   name="isSearchType"> No search Type
                        </label>
                    </div>
                </div1>

                
                     


               
            </form>
        </div>
</body>
</html>
 
