
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <style type="text/css">
	   
	   * { margin: 0; padding: 0; }
	   p { padding: 10px; }
	   #left { position: absolute; left: 0; width: 50%; }
	   #right { position: absolute; right: 0;  width: 50%; margin-right:27px;margin-left:27px;margin-top:36px; }
		</style>

</head>
<body>
    
            <form ng-submit="st.search()" name="searchTrigger"
              novalidate>
                <md-content md-theme="docs-dark" >
                    <div class="form">
                  
                            <input name="university" placeholder="University" ng-model="st.formData.university"> 
     
                    
                            <input name="department" placeholder="Department" ng-model="st.formData.department">
                      
                        
                            <input name="class" placeholder="Class" ng-model="st.formData.box">


                            <input name="boxId" placeholder="BoxID" ng-model="st.formData.boxId">
                    
                    </div>
                </md-content>



                <div class="form-group">
                    <input class="form-control"  placeholder="Item Name" name="item name" ng-model="st.formData.name"/>
                </div>
                              
                <div class="form-actions">
                    <button name="search_btn" type="submit" class="md-raised md-primary md-button md-ink-ripple">
                        Search
                    </button>
                </div>


                    <div0 class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input ng-class="form-check-input" type="checkbox"
                                   name="isReviewed" ng-model="st.formData.isReviewed"> Was Reviewd
                        </label>

                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" ng-model="st.formData.isSearchType"
                                   name="isSearchType"> No search Type
                        </label>
                    </div0>

                
               
            </form>




        <div1 class="form" style="background-color: #f2f2f2">
            <button id="saveB" name="img_btn">  </button>

            <label name="save_btn">
                Save
            </label>


            <button ng-click="st.prevPage()" name="back_btn"></button>


            <label name="results_num" class="form-check-label">
                Results number: {{st.counter}}/{{st.resNum}}
            </label>

            <button ng-click="st.nextPage()" name="next_btn" type="submit" class="md-raised md-primary md-button md-ink-ripple"></button>

        </div1>



  

    <div id="left">
    

        <h3> Document info </h3>


        <div >
            <label class="form-check-label" style="margin-top:17px;">
                Name:    {{st.doc.itemName}}
            </label>
        </div>


        <div style="margin-top:26px;">
            <label class="form-check-label">
                Box name:   {{st.doc.boxName}}
            </label>
        </div>

        <div style="margin-top:20px;">
            <label class="form-check-label">
                Department:   {{st.doc.department}}
            </label>
        </div>


        <svg height="40" width="460px">
            <line x1="0" y1="15" x2="200" y2="15" style="stroke:rgb(0, 0, 0);stroke-width:2" />
        </svg>

        <div>
            <h3> Document Type </h3>
            
            
            <select ng-model="st.doc.docType">
                <option value="" disabled selected>Search type</option>               
                <option value="1">Class Notes</option>
                <option value="2">Homework</option>
                <option value="3">Lectures</option>
                <option value="4">Study Guides</option> 
                <option value="0">Tests & Exams</option>
            </select>

            <br>
            <svg height="40" width="460px">
                <line x1="0" y1="15" x2="200" y2="15" style="stroke:rgb(0, 0, 0);stroke-width:2" />
            </svg>


            <h3> Document Tag </h3>
            {{st.doc.tags[0]}}
        </div>
            
    </div>

    <div id="right">    
        <img src="/images1/1.jpg" style="width:760px;height:826px;">    
    </div>









</body>
</html>
 
