
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    
            <form ng-submit="st.search()" name="searchTrigger"
              novalidate>
                <md-content md-theme="docs-dark" >
                    <div class="form">
                  
                            <input name="university" placeholder="University" ng-model="st.formData.university"> 
     
                    
                            <input name="department" placeholder="Department" ng-model="st.formData.department">
                      
                        
                            <input name="class" placeholder="Class" ng-model="st.formData.box">


                            <input name="boxId" placeholder="BoxID" ng-model="st.formData.boxId">
                    
                    </div>
                </md-content>



                <div class="form-group">
                    <input class="form-control"  placeholder="Item Name" name="item name" ng-model="st.formData.name"/>
                </div>
                              
                <div class="form-actions">
                    <button name="search_btn" type="submit" class="md-raised md-primary md-button md-ink-ripple">
                        Search
                    </button>
                </div>


                    <div0 class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input ng-class="form-check-input" type="checkbox"
                                   name="isReviewed" ng-model="st.formData.isReviewed"> Was Reviewd
                        </label>

                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" ng-model="st.formData.isSearchType"
                                   name="isSearchType"> No search Type
                        </label>
                    </div0>

                
               
            </form>
    <div style="width:100%">

        <div class="form" style="background-color: #f2f2f2">
            <button id="saveB" name="img_btn">  </button>

            <label name="save_btn">
                Save
            </label>


            <button name="back_btn"></button>


            <label name="results_num" class="form-check-label">
                Results number: 0/2000
            </label>

            <button name="next_btn" type="submit" class="md-raised md-primary md-button md-ink-ripple"></button>

        </div>

    </div>





    <div style="margin-left:35px;">
        <h3> Document info </h3>
        <div>
            <label class="form-check-label"  style="margin-top:17px;">
                Name: {{st.doc.itemName}}
            </label>
        </div>
     
      
        <div  style="margin-top:26px;">
            <label class="form-check-label">
                Box name:{{st.doc.boxName}}
            </label>
        </div>

        <div  style="margin-top:20px;">
            <label class="form-check-label">
                Department:{{st.doc.department}}
            </label>
        </div>

        <h3> Document Type </h3>
        <select>
            <option value="" disabled selected>Search type</option>
            <option value="hurr">Durr</option>
            <option value= "bla">>{{st.doc.docType}}</option>
           
        </select>





        <h3> Document Tag </h3>
        {{st.doc.tags[0]}}
        </div>

        
</body>
</html>
 
