@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="staticPage aboutUs">
<h1>About Us</h1>
<h3>What is Cloudents?</h3>

<p>Cloudents, tailored for students, is the most advanced free online and mobile social studying platform. Powered by students, it inspires to share, learn, connect and assist others to succeed through social studying.
</p>

<h3>Why Cloudents?</h3>

<p>At Cloudents we believe that working together is the key to success. Two people working together can achieve more than double what a single person could ever achieve.</p>

<p>Whether it’s what others have discovered long before you have or what a friend happens to be an expert in, shared knowledge equals more knowledge. Shared knowledge means not having to reinvent the wheel. Shared knowledge means starting from a high level, leaving more time to create something new.</p>


<p>For a student, shared knowledge can make a great difference to workload, quality and grades. Working closely together with students and student groups, we wanted to create a powerful social studying platform that is focused on student needs. We listened to students to hear what doesn’t work about using regular social networks to study effectively. We heard how hard it can be to find something if you don’t know what to look for. We heard how they would benefit from connecting with students dealing with the same topics.</p>

<p>To address these issues we developed Cloudents. It is the most advanced online and mobile free social studying platform. Powered by students, Cloudents offers tools to improve grades such as sharing and searching notes, providing questions and answers and working together on assignments. All these and other tools are integrated on a single, easy to use and free social studying platform.
</p>


<h3>Our mission statement</h3>

<p>Inspiring students to share, learn, connect and assist others by using online and mobile tools to help students succeed through social studying.</p>


<h3>Our company</h3>
<p>The Cloudents platform is developed by Zbang It Ltd., a young bunch of specialists in online platforms. Our combined background includes various online platforms such as AVG MultiMi and Yahoo!’s client facing applications such as Mail, Messenger, Groups and My Yahoo!
</p>
</div>
