@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@{
    ViewBag.Title = "About Us | Spitball";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="static-page">
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-capitalize">Modal title</h4>
                </div>
                <div class="modal-body">
                    Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">@HomeResources.SaveChanges</button>
                    <button type="button" class="btn default" data-dismiss="modal">@HomeResources.Close</button>
                </div>
            </div>
        </div>
    </div>
  

    <h1>@GeneralResources.AboutUs</h1>

    <!-- END PAGE TITLE -->
  
    <div>
        <p>The text will go here</p>
    </div>
</div>

