@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    ViewBag.Title = "About Us | Spitball";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .static-page h1 {
        background: #4190B9;
        color: #f5f5f5;
        margin-top: 0;
        font-size: 18px;
        padding: 10px;
    }

    .static-page > div {
        margin: 10px;
    }

    .static-page {
        background: #f5f5f5;
        color: #181C1D;
        border-radius: 7px;
        overflow: hidden;
    }

    .content {
        background: #f5f5f5;
        color: #181C1D;
    }
</style>
<div class="static-page">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-capitalize">Modal title</h4>
                </div>
                <div class="modal-body">
                    Widget settings form goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue">Save changes</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <!-- BEGIN PAGE TITLE -->

    <h1>About Us</h1>

    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->

    <!-- END PAGE TOOLBAR -->
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div>
        <p>The thext will go here</p>
    </div>
</div>
<!-- END PAGE CONTENT-->
