@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";

}
<div class="static-page class-notes-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.ClassNotesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>@StaticPagesResources.ClassNotesSubtitle</h2>
        <ul class="items">
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="clearfix item" href="">
                    <div class="wrapper">
                        <div class="data">
                            <img src="https://az779114.vo.msecnd.net/preview/ae014a3f-2efd-4de9-bd12-12f014c23226.doc.jpg?width=300&height=424&mode=crop&scale=both" width="368" height="520" alt="{{::e.nameExtension}}" />
                            <div class="extra">
                                <h3 class="multi-line-ellipsis">lecture 1</h3>
                            </div>
                        </div>
                        <div class="stats">
                            <div>
                                20 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#eye" /></svg>
                            </div>
                            <div>
                                50 <svg><use xlink:href="/images/site/box-icons.svg?16.3.8#like" /></svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
