<div class=" modal-body">
    this isi asdojsadflksdjflksdjf;lksxmfcvl;ksdxmdfvg;lksdjgf;lksjedf;lk
    
    <button class="closeModal" ng-click="cancel()">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </button>
</div>
