@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<div class="staticPage contactUs">
    <h1>Contact Us</h1>

<h3>Students</h3>
<p>If you are a student and have questions about Cloudents, perhaps you can’t find your school on the system yet or you have trouble joining, let us know via <a href="mailto:students@cloudents.com">students@cloudents.com</a> and we’ll get on it.</p>
<p>For technical support you’re better off using the built-in help and feedback feature.</p>
<h3>Student Organizations</h3>
<p>At Cloudents we work closely with a great variety of student organizations. They help us fine-tune the Cloudents experience, adapt it to local requirements and manage the section for their university. They can even be featured with their own branding in Cloudents for all students at their university - for free.</p>
<p>If you represent the local student organization at your school or university, get in touch via <a  href="mailto:studentorgs@cloudents.com">studentorgs@cloudents.com</a> to discuss how your organization can become a Cloudents partner.</p>
<h3>Media</h3>
<p>For any media enquiries, please use <a href="mailto:press@cloudents.com">press@cloudents.com</a> and we’ll get back to you.</p>

</div>
