
@using Zbang.Cloudents.Mvc4WebRole.Views.Home.Resources

@{
    //Layout = null;
    ViewBag.Title = "Courses | Spitball";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";

}
<div class="static-page courses-page">
    <div class="top-image">
        <div class="text"><h1>@StaticPagesResources.CoursesTitle</h1></div>
    </div>
    <div class="page-content">
        <h2>@StaticPagesResources.CoursesSubtitle</h2>
        <div class="boxes">
        </div>

    </div>
</div>
