@model IEnumerable<Zbang.Cloudents.Mvc4WebRole.Models.FAQ.Category>
@{
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="help-page static-page">
    <div class="static-body">
        @* ReSharper disable once Mvc.PartialViewNotResolved *@
        @{Html.RenderPartial("_StaticPageNav");}
        <div class="page-content">
            <div class="panel-group" id="main-accordion" role="tablist" aria-multiselectable="true">
                @{
                    int i = 1;

                    foreach (var category in Model)
                    {
                        var j = 1;
                        <div class="category-wrapper">
                            <input id="toggle-@i" class="toggle-level-1" type="radio" name="toggle" />
                            <label for="toggle-@i">@category.Name</label>
                            <section id="content-@i" class="content-level-1">
                                @foreach (var faq in category.QuestionNAnswers)
                                {
                                    <div class="category-wrapper">
                                        <input id="toggle-@i@j" class="toggle-level-2" type="radio" name="toggle-inner" />
                                        <label for="toggle-@i@j">@faq.Question</label>
                                        <section id="content-@i@j" class="content-level-2">
                                            <p><span>@Html.Raw(faq.Answer)</span></p>
                                        </section>
                                    </div>
                                    j++;
                                }
                            </section>
                        </div>
                        i++;
                    }
                }
            </div>
        </div>
    </div>
</div>