@{
    Layout = "~/Views/Shared/_Layout3.mobile.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div id="Library" data-header="Library" class="page" style="display: none">
        @{Html.RenderAction("MainView", "Library", true);}
    </div>
    <div id="My" data-header="My area" class="page" style="display: none">
        @{Html.RenderPartial("~/Views/Dashboard/_MainView.mobile.cshtml");}
    </div>
}

@*<div id="Box" class="page" style="display: none">
    @{Html.RenderPartial("~/Views/Box/_MainView.cshtml");}
</div>
<div id="Item" class="page" style="display: none">
    @{Html.RenderPartial("~/Views/Item/_MainView.cshtml");}
</div>*@
