
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cloudents is hiring</title>
    <style>
        html {
            font-family: Arial;
        }
        body {
            margin:0;
        }
        .logo {
            line-height: normal;
        }
        ul {
            padding-left: 18px;
        }
        li {
            line-height: 23px;
        }
        h2 {
            color: #0f9d58;
            margin-bottom:0;
        }
        h3 {
            color: #676767;
            font-size: 16px;
            font-weight: normal;
            margin:0;
        }
        p {
            width: 500px;
        }
        .lFloat {
            float:left;
        }
        .rFloat {
            float: right;
            color: #0f9d58;
        }
        .title {
            font-weight: bold;
        }
        .jobsTopWpr, .jobsContentWpr {
            width: 1024px;
            margin: 0 auto;
            padding: 0 20px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .jobsTopWpr {
            height: 77px;
            line-height: 77px;
        }
        .svg-logo {
            fill: #0f9d58;
            width: 183px;
            height: 31px;
            position: relative;
            top: 20px;
        }
        .jobsImg {
            width: 100%;
            min-width: 1024px;
            height: 320px;
            position: relative;
    
        }
        .jobsImg:before {
            content: '';
            display: inline-block;
            margin: 0 auto;
            background: url(/Images/hiring.png) center center no-repeat #538583;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
        }
        .mail {
            font-weight: bold;
            font-size: 14px;
            margin-top: 32px;
        }
    </style>
</head>

<body>

    <div class="jobsTopWpr">
        <a class="lFloat logo" href="@Url.Action("Index", "Account")" target="_self">
            <svg class="svg-logo" viewBox="0 0 630.649 106.962">
                <path d="M108.004,67.818c0-10.338-7.026-18.789-15.875-19.434c-1.758-4.694-4.975-8.495-8.997-10.656
	c-2.955-8.717-10.331-14.898-18.959-14.898c-4.61,0-8.857,1.761-12.266,4.725c-3.124-1.859-6.669-2.915-10.43-2.915
	c-11.77,0-21.446,10.283-22.581,23.447c-0.551-0.061-1.109-0.095-1.673-0.095C7.714,47.992,0,56.841,0,67.755
	C0,77.953,6.752,86.208,15.409,87.23v0.02c0.059,0,0.125,0,0.197,0c0.533,0.056,1.072,0.088,1.617,0.088
	c0.545,0,1.083-0.032,1.616-0.088c1.641,0,3.93,0,7.103,0c2.424,0-0.109,19.712,2.394,19.712c4.418,0,20.073-19.712,24.461-19.712
	c13.421,0,30.845,0,37.273,0c0.322,0.021,0.646,0.034,0.973,0.034c0.327,0,0.65-0.013,0.972-0.034c0.379,0,0.58,0,0.58,0V87.2
	C101.224,86.298,108.004,77.966,108.004,67.818z" />
                <path d="M184.568,30.455l-5.989,10.468c-3.283-3.098-7.69-4.647-13.212-4.647c-5.299,0-9.486,1.765-12.568,5.292
	c-3.078,3.525-4.619,8.405-4.619,14.639c0,12.578,5.991,18.864,17.973,18.864c5.185,0,9.757-1.717,13.711-5.15l5.153,11.026
	c-4.069,2.54-7.623,4.145-10.665,4.815c-3.041,0.674-6.634,1.011-10.776,1.011c-9.256,0-16.564-2.699-21.918-8.091
	c-5.354-5.391-8.031-12.885-8.031-22.476c0-9.441,2.929-17.075,8.789-22.898c5.86-5.821,13.847-8.731,23.958-8.731
	C173.353,24.579,179.418,26.537,184.568,30.455z" />
                <path d="M194.503,3.362L208.501,0v67.404c0,7.387,2.2,11.793,6.606,13.21c-2.167,4.106-5.862,6.16-11.085,6.16
	c-6.349,0-9.519-4.406-9.519-13.212V3.362z" />
                <path d="M219.512,55.533c0-9.143,2.641-16.586,7.922-22.333c5.28-5.748,12.25-8.622,20.911-8.622
	c9.104,0,16.176,2.762,21.216,8.284c5.038,5.523,7.555,13.082,7.555,22.671c0,9.556-2.565,17.149-7.695,22.789
	c-5.133,5.632-12.158,8.452-21.076,8.452c-9.109,0-16.188-2.846-21.245-8.539C222.041,72.543,219.512,64.98,219.512,55.533z
		M234.07,55.533c0,13.212,4.757,19.819,14.276,19.819c4.363,0,7.824-1.717,10.383-5.151c2.554-3.432,3.833-8.321,3.833-14.668
	c0-13.021-4.74-19.535-14.217-19.535c-4.367,0-7.838,1.715-10.415,5.149C235.357,44.582,234.07,49.376,234.07,55.533z" />
                <path d="M325.568,85.707V80.67c-1.98,1.682-4.704,3.118-8.173,4.312c-3.475,1.192-6.662,1.793-9.575,1.793
	c-13.92,0-20.88-7.392-20.88-22.17V25.695h13.993V63.54c0,7.69,3.452,11.532,10.359,11.532c3.171,0,6.121-0.819,8.845-2.465
	c2.726-1.639,4.536-3.544,5.432-5.708V25.695h13.994v60.012H325.568z" />
                <path d="M391.411,85.651v-3.637c-1.156,1.269-3.116,2.38-5.877,3.328c-2.762,0.955-5.618,1.432-8.564,1.432
	c-8.361,0-14.94-2.652-19.735-7.951c-4.793-5.301-7.192-12.691-7.192-22.17c0-9.477,2.753-17.195,8.259-23.147
	c5.503-5.953,12.399-8.927,20.684-8.927c4.551,0,8.694,0.932,12.426,2.795V3.362L405.409,0v85.651H391.411z M391.411,40.027
	c-2.986-2.388-6.101-3.583-9.348-3.583c-5.599,0-9.911,1.706-12.929,5.125c-3.026,3.413-4.536,8.313-4.536,14.695
	c0,12.466,6.006,18.696,18.026,18.696c1.344,0,2.994-0.399,4.954-1.201c1.958-0.802,3.238-1.617,3.833-2.437V40.027z" />
                <path d="M472.292,59.956h-42.826c0.258,4.78,1.903,8.492,4.926,11.141c3.023,2.65,7.092,3.975,12.205,3.975
	c6.381,0,11.23-1.661,14.553-4.982l5.43,10.693c-4.925,3.993-12.277,5.991-22.055,5.991c-9.146,0-16.376-2.68-21.693-8.034
	c-5.318-5.358-7.976-12.829-7.976-22.421c0-9.441,2.918-17.094,8.761-22.954c5.837-5.857,12.846-8.787,21.02-8.787
	c8.695,0,15.675,2.593,20.936,7.78c5.262,5.19,7.891,11.792,7.891,19.818C473.464,53.894,473.074,56.488,472.292,59.956z
		M429.968,49.432h29.448c-0.971-8.768-5.821-13.156-14.555-13.156C436.872,36.276,431.908,40.665,429.968,49.432z" />
                <path d="M521.594,85.651V51c0-5.113-0.979-8.849-2.94-11.197c-1.959-2.349-5.158-3.528-9.599-3.528
	c-2.054,0-4.246,0.581-6.578,1.737c-2.335,1.159-4.153,2.595-5.458,4.31v43.328h-13.996V25.695h10.076l2.575,5.599
	c3.809-4.479,9.425-6.716,16.851-6.716c7.127,0,12.755,2.132,16.877,6.41c4.126,4.271,6.188,10.232,6.188,17.885v36.778H521.594z" />
                <path d="M549.898,36.949h-6.94V25.695h6.94V13.494l13.995-5.153v17.355h16.457v11.254h-16.457v26.254
	c0,4.291,0.671,7.325,2.016,9.099c1.341,1.771,3.692,2.657,7.054,2.657c3.357,0,6.492-0.914,9.403-2.742v12.875
	c-3.245,1.12-7.876,1.681-13.882,1.681c-5.972,0-10.563-1.69-13.773-5.069c-3.207-3.378-4.813-8.183-4.813-14.413V36.949z" />
                <path d="M588.775,81.79l4.983-11.141c4.18,3.323,8.902,4.984,14.162,4.984c5.45,0,8.175-1.942,8.175-5.824
	c0-2.276-0.822-4.143-2.462-5.599c-1.643-1.453-4.837-3.171-9.574-5.147C593.72,54.77,588.55,48.762,588.55,41.036
	c0-5.187,1.979-9.228,5.936-12.121c3.954-2.891,9.012-4.337,15.172-4.337c6.232,0,12.09,1.398,17.575,4.199l-4.029,10.86
	c-3.06-2.613-7.313-3.92-12.764-3.92c-4.889,0-7.333,1.939-7.333,5.824c0,1.529,0.8,2.91,2.408,4.141
	c1.602,1.229,5.038,2.882,10.299,4.954c5.263,2.071,9.052,4.583,11.363,7.53c2.316,2.947,3.472,6.514,3.472,10.693
	c0,5.562-2.063,9.938-6.185,13.128c-4.127,3.191-9.73,4.788-16.822,4.788c-3.993,0-7.195-0.332-9.601-0.982
	C595.633,85.141,592.544,83.805,588.775,81.79z" />
            </svg>
        </a>
        <a class="rFloat" href="@Url.Action("Index", "Account")" target="_self">
            Back to home page
        </a>
    </div>

    <div class="jobsImg"></div>
    <div class="jobsContentWpr">
        <h2>Student Ambassador</h2>
        <h3>USA</h3>

        <p>We invite to you to take a part in Cloudent’s academic world revolution, earn experience as an intern and make some money.</p>
        <p>With the Cloudents’ platform and its built-in tools, <span>students meet classmates to study, save and share study materials, ask and answer questions, and solve and create quizzes.</span></p>
        <p>This is an opportunity to join our team of college ambassadors from all over the world that want to gain real life experience as a part of a young start-up company and make the college learning experience enjoyable and meaningful.</p>

        <div class="title">We offer you:</div>
        <ul>
            <li>To be a Cloudents ambassador in your campus</li>
            <li>Internship credit for your work</li>
            <li>Gain professional experience with an growing innovative start-up.</li>
            <li>Receive a recommendation letter from our CEO</li>
            <li>Make some money while meeting goals</li>
        </ul>

        <p class="mail">Apply now: <a href="mailto:matan@cloudents.com" target="_self">matan@cloudents.com</a></p>
    </div>
</body>
</html>
