@{
    ViewBag.Title = "Product | Spitball";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var imageSrc = (ViewBag.lang == "he") ? @Url.CdnContent("/images/HomePage2/infographics_heb.png?v=1") : @Url.CdnContent("/images/HomePage2/infographics_eng.png?v=1");

}

<div class="product-page">
    <a class="close" href=@Url.Action("Index", "dashboard" )>@Html.Svg("~/images/site/icons.svg", "close")</a>
    <img src="@imageSrc" />
</div>