@{
    ViewBag.Title = "Product | Spitball";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var imageSrc = (ViewBag.lang == "he") ? "/images/HomePage2/infographics_heb.png" : "/images/HomePage2/infographics_eng.png";

}

<div class="product-page">
    <img src="@imageSrc"/>
</div>