@{
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
    ViewBag.Title = "Terms of Service | Cloudents | Study better by working together";
}
<div class="staticPage terms">
<h1>Terms of Service</h1>
<div class="lastModified">Last Modified 10/20/2011</div>

<p>These terms of service govern your access to and use of Cloudents websites and services (the "Services"), so please carefully read them before using the Services.</p>

<p><b>By using the Services you agree to be bound by these Terms.</b> If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these terms. In that case, "you" and "your" will refer to that organization.</p>
<p>You may use the Services only in compliance with these Terms. You may use the Services only if you have the power to form a contract with Cloudents and are not barred under any applicable laws from doing so. The Services may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Services at any time without prior notice to you. We may also remove any content from our Services at our discretion.</p>

<h3>Your Stuff &amp; Your Privacy</h3>
<p>By using our Services you provide us with information, folders, and files that you submit to Cloudents (together, "your stuff"). You retain full ownership to your stuff. We don't claim any ownership to any of it. These Terms do not grant us any rights to your stuff or intellectual property except for the limited rights that are needed to run the Services, as explained below.</p>
<p>We may need your permission to do things you ask us to do with your stuff, for example, hosting your files, or sharing them at your direction. This includes product features visible to you, for example, image thumbnails or document previews. It also includes design choices we make to technically administer our Services, for example, how we redundantly backup data to keep it safe. You give us the permissions we need to do those things solely to provide the Services. This permission also extends to trusted third parties we work with to provide the Services, for example Amazon, which provides our storage space (again, only to provide the Services).</p>
<p>To be clear, aside from the rare exceptions we identify in our Privacy Policy, no matter how the Services change, we won't share your content with others, including law enforcement, for any purpose unless you direct us to. How we gather and use your information generally is also explained in our Privacy Policy.</p>
<p>You are solely responsible for your conduct, the content of your files and folders, and your communications with others while using the Services. For example, it's your responsibility to ensure that you have the rights or permission needed to comply with these Terms.</p>
<p>We may choose to review public content for compliance with our community guidelines, but you acknowledge that Cloudents has no obligation to monitor any information on the Services. We are not responsible for the accuracy, completeness, appropriateness, or legality of files, user posts, or any other information you may be able to access using the Services.</p>

<h3>Sharing Your Stuff</h3>
<p>The Services provide features that allow you to share your stuff with others or to make it public. There are many things that users may do with that stuff (for example, copy it, modify it, re-share it). Please consider carefully what you choose to share or make public. Cloudents has no responsibility for that activity.</p>

<h3>Your Responsibilities</h3>
<p>Files and other content in the Services may be protected by intellectual property rights of others. Please do not copy, upload, download, or share files unless you have the right to do so. You, not Cloudents, will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using the Services. You must not upload spyware or any other malicious software to the Service.</p>
<p>You, and not Cloudents, are responsible for maintaining and protecting all of your stuff. Cloudents will not be liable for any loss or corruption of your stuff, or for any costs or expenses associated with backing up or restoring any of your stuff.</p>
<p>If your contact information, or other information related to your account, changes, you must notify us promptly and keep your information current. The Services are not intended for use by you if you are under 13 years of age. By agreeing to these Terms, you are representing to us that you are over 13.</p>

<h3>Account Security</h3>
<p>You are responsible for safeguarding the password that you use to access the Services and you agree not to disclose your password to any third party. You are responsible for any activity using your account, whether or not you authorized that activity. You should immediately notify Cloudents of any unauthorized use of your account. You acknowledge that if you wish to protect your transmission of data or files to Cloudents, it is your responsibility to use a secure encrypted connection to communicate with the Services.</p>

<h3>Software and Updates</h3>
<p>Some use of our Service requires you to download a client software package. Cloudents hereby grants you a limited, nonexclusive, nontransferable, revocable license to use the Software, solely to access the Services. Your license to use the Software is automatically revoked if you violate these Terms in a manner that implicates our intellectual property rights. We hereby reserve all rights not expressly granted in these Terms. You must not reverse engineer or decompile the Software, nor attempt to do so, nor assist anyone else to do so. Our Services may update the Software on your device automatically when a new version is available. Our pause syncing feature pauses syncing of your files, but may not cease all data transfer, so you should exit the desktop client if you'd like to stop data transfer.</p>

<h3>Cloudents Property and Feedback</h3>
<p>These terms do not grant you any right, title, or interest in the Services, Software, or the content in the Services. While we appreciate it when users send us feedback, please be aware that we may use any feedback, comments, or suggestions you send us or post in our forums without any obligation to you. The Software and other technology we use to provide the Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. These Terms do not grant you any rights to use the Cloudents trademarks, logos, domain names, or other brand features.</p>

<h3>Acceptable Use Policy</h3>
<p>You will not, and will not attempt to, misuse the Services, and will use the Services only in a manner consistent with the Cloudents Acceptable Use Policy.</p>

<h3>Copyright</h3>
<p>Cloudents respects others' intellectual property and asks that you do too. We will respond to notices of alleged copyright infringement if they comply with the law and are properly provided to us. Such notices should be reported using our DMCA Process. We reserve the right to delete or disable content alleged to be infringing and to terminate repeat infringers. Our designated agent for notice of alleged copyright infringement on the Services is:</p>
<br />
<p>Copyright Agent</p>
<p>Zbang It LTD.</p>
<p>Hanasi Harishon, 38</p>
<p>Rehovot, Israel</p>
<p>support@zbang.it</p>


<h3>Other Content</h3>
<p>The Services may contain links to third-party websites or resources. Cloudents does not endorse and is not responsible or liable for their availability, accuracy, the related content, products, or services. You are solely responsible for your use of any such websites or resources. Also, if we provide you with any software under an open source license, there may be provisions in those licenses that expressly conflict with these Terms, in which case the open source provisions will apply.</p>


<h3>Termination</h3>
<p>Though we'd much rather you stay, you can stop using our Services any time. We reserve the right to suspend or end the Services at any time, with or without cause, and with or without notice. For example, we may suspend or terminate your use if you are not complying with these Terms, or use the Services in any way that would cause us legal liability or disrupt others' use of the Services. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve data, though there may be some cases (for example, repeatedly or flagrantly violating these Terms, a court order, or danger to other users) where we may suspend immediately.</p>

<h3>Cloudents is Available "AS-IS"</h3>
<p>Though we want to provide a great service, there are certain things about the service we can't promise. For example, THE SERVICES AND SOFTWARE ARE PROVIDED "AS IS", AT YOUR OWN RISK, WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. Cloudents will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Services or Software. Some states do not allow the types of disclaimers in this paragraph, so they may not apply to you.</p>

<h3>Limitation of Liability</h3>
<p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL Cloudents, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT Cloudents HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $15 OR THE AMOUNTS PAID BY YOU TO Cloudents FOR THE PAST THREE MONTHS OF THE SERVICES IN QUESTION. Some states do not allow the types of limitations in this paragraph, so they may not apply to you.</p>

<h3>Export Restrictions</h3>
<p>The export and re-export of the Software may be controlled by the United States Export Administration Regulations. The Software may not be used in Cuba; Iran; North Korea; Sudan; or Syria or any country that is subject to an embargo by the United States. If you are a resident or national of, or a business located in, any of those countries, you may not download or use the Software. In addition, the Software may not be distributed to persons on the Table of Denial Orders; the Entity List; or the List of Specially Designated Nationals.</p>

<h3>Modifications</h3>
<p>We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services.</p>


<div class="subHeaderUnderline">Acceptable Use Terms and Use Policy</div>

<h3>Cloudents Acceptable Use Terms and Use Policy</h3>
<p>Cloudents takes privacy very seriously and we are constantly improving our services to better serve our customers.</p>
<p>You agree not to misuse the Cloudents services. For example, you must not, and must not attempt to, use the services to do the following things.</p>
<ul>
<li> probe, scan, or test the vulnerability of any system or network;</li>
<li>breach or otherwise circumvent any security or authentication measures;</li>
<li>access, tamper with, or use non-public areas of the Service, shared areas of the Service you have not been invited to, Cloudents (or our service providers') computer systems;</li>
<li>interfere with or disrupt any user, host, or network, for example by sending a virus, overloading, flooding, spamming, or mail-bombing any part of the Services;</li>
<li>plant malware or otherwise use the Services to distribute malware;</li>
<li>access or search the Services by any means other than our publicly supported interfaces (for example, "scraping");</li>
<li>send unsolicited communications, promotions or advertisements, or spam;</li>
<li>send altered, deceptive or false source-identifying information, including "spoofing" or "phishing";</li>
<li>publish anything that is fraudulent, misleading, or infringes another's rights;</li>
<li>promote or advertise products or services other than your own without appropriate authorization;</li>
<li>impersonate or misrepresent your affiliation with any person or entity;</li>
<li>abuse Cloudents referrals to get more credit for referrals than deserved;</li>
<li>publish or share materials that are unlawfully pornographic or indecent, or that advocate bigotry, religious, racial or ethnic hatred;</li>
<li>violate the law in any way, or to violate the privacy of others, or to defame others.</li>
</ul>

<div class="subHeaderUnderline">DMCA Policy</div>

<h3>Copyright</h3>
<p>Cloudents respects others' intellectual property and asks that you do too. We will respond to notices of alleged copyright infringement if they comply with the law and are properly provided to us. Such notices should be reported using our DMCA Process. We reserve the right to delete or disable content alleged to be infringing and to terminate repeat infringers. Our designated agent for notice of alleged copyright infringement on the Services is:</p>

<h3>Cloudents DMCA Policy</h3>
<p>Cloudents ("<em><b>Cloudents</b></em>") respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at <a href="http://www.copyright.gov/legislation/dmca.pdf">http://www.copyright.gov/legislation/dmca.pdf</a>, Cloudents will respond expeditiously to claims of copyright infringement committed using the Cloudents service and/or the Cloudents website (the "<em><b>Site</b></em>") if such claims are reported to Cloudents's Designated Copyright Agent identified in the sample notice below.</p>
<p>If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to Cloudents's Designated Copyright Agent. Upon receipt of Notice as described below, Cloudents will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged content from the Site.</p>
<p>&nbsp;</p>
<p style="text-align: center;">DMCA Notice of Alleged Infringement ("<em><b>Notice</b></em>")</p>
<p>1. Identify the copyrighted work that you claim has been infringed, or - if multiple copyrighted works are covered by this Notice - you may provide a representative list of the copyrighted works that you claim have been infringed.</p>
<p>2. Identify the material or link you claim is infringing (or the subject of infringing activity) and to which access is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site or the exact location where such material may be found.</p>
<p>3. Provide your company affiliation (if applicable), mailing address, telephone number, and, if available, email address.</p>
<p>4. Include both of the following statements in the body of the Notice:</p>
<br />
<ul>
<li>&nbsp;"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
<li>&nbsp;"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
</ul>
<br />
<p>5. Provide your full legal name and your electronic or physical signature.</p>
<p>Deliver this Notice, with all items completed, to Cloudents's Designated Copyright Agent:</p>

<p>&nbsp;</p>
<p>Copyright Agent</p>
<p>Zbang It LTD.</p>
<p>Hanasi Harishon, 38</p>
<p>Rehovot, Israel</p>
<p>support@cloudents.com</p>

</div>


