<md-sidenav ng-show="app.chatOpened" ng-cloak class="chat md-sidenav-right"
            md-component-id="chat" close-menu="right">
    <md-content ng-controller="ChatController as c">
        <div class="menu-content">
            <div class="header">
                <div class="chat-icon" ng-click="app.toggleChat()">
                    @Html.Svg("~/images/site/icons.svg", "chat")
                    <div class="chat-counter">16</div>
                </div>
                <div class="tabs">
                    <div class="messages tab">Messages</div>
                    <div class="friends tab">Friends</div>
                </div>
            </div>
            <div class="tab-content" @*ng-class="{noChats: !c.chats.length}"*@>
                <div class="empty-state">
                    @Html.Svg("~/images/site/icons.svg", "empty-chat")
                    <div class="text">
                        <span>No Messages, yet.</span>
                        Start chatting with your friends in Spitball
                    </div>
                </div>
                <form class="search-friend">
                    <input type="search" placeholder="Search for students" />
                    <button type="submit" class="search-btn">
                        @Html.Svg("~/images/site/icons.svg", "searchIcon", new { @class = "searchIcon" })
                    </button>
                </form>
                <ul class="users-list" ng-slimscroll height="calc(100vh - 155px)" color="#BBB">
                    <li class="online">
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת</span>
                        <span class="chat-counter">21</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים </span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> 013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>

                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>

                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                    <li>
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת הסטודנטים הקריה האקדמית אונו - 2013 תמיר פרץ יו"ר האגודה</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="conversasion" style="display:none">
            <div class="header">
                <div class="user-side">
                    <div class="back"></div>
                    <div class="online">
                        <img alt="" class="img-circle" height="35" width="35" src="https://zboxstorage.blob.core.windows.net/zboxprofilepic/S100X100/1e887dc3-4e04-4817-8a75-fc6edf2c8706.jpg">
                        <span class="member-name ellipsis"> אגודת</span>
                    </div>
                </div>
                <div class="attach">
                    
                </div>
            </div>
            <div class="chat-content">

            </div>
        </div>
    </md-content>
</md-sidenav>