<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        @{Html.RenderPartial("_Head");}
        @Html.Css2("signin")

        <meta name="google-signin-client_id" content="997823384046-ddhrphigu0hsgkk1dglajaifcg2rggbm.apps.googleusercontent.com" />
    </head>
@RenderBody()
@*<body>
    <div>
       
    </div>
</body>*@
</html>
