<!DOCTYPE html>

<html>
<head>
    @{Html.RenderPartial("_Head");}
    @RenderSection("head", false)
    </head>
    <body class="@ViewBag.bodyClass">
        @RenderBody()
        <div id="cssCheck"></div>
        <script type="text/javascript" src="~/js/CDNFallback.js?v=@VersionHelper.CurrentVersion(true)"></script>
        @RenderSection("scripts", false)
    </body>
</html>
