@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<section class="uploadFiles">
    <header>@DialogResources.UploadFiles</header>

    <div class="dragDropArea">@DialogResources.DragAndDrop</div>

    <div class="uploadSrcWpr">
        <button type="button" class="driveBtn"></button>
        <button type="button" class="dropBoxBtn"></button>
        <button type="button" class="linkBtn"></button>
    </div>
</section>