<div ui-view="menu"></div>
@{ Html.RenderPartial("_Menu");}
<div class="ad">
    <adsense ad-client="ca-pub-1215688692145777"
             ad-slot="1334764954"
             inline-style="display:block;" ad-class="mainAd"
             ad-format="auto"></adsense>
</div>
<div flex>
    @*<div class="ad">
        <adsense ad-client="ca-pub-1215688692145777" ad-slot="8210510557" inline-style="display:block;" ad-format="auto"></adsense>
    </div>*@
    @* ReSharper disable once Mvc.PartialViewNotResolved *@
    @{ Html.RenderPartial("_Upload");}
    <div ui-view animation-location></div>
</div>
<div ui-view="chat" class="chat-side-nav"></div>
@section scripts
{
    @Html.AngularLocale()
}
