@import "../../styles/mixin.less";

html {
  overflow-y: auto;
}
.hideFooter {
  display: none;
}

.v-tooltip__content{
  z-index: 202 !important;
}

// .set-class-dropdown-container {
//   .v-chip__content {
//     cursor: pointer !important;
//   }
// }

//Section to get stuff from vuetify theme since we disabled it
.v-application .error--text {
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}

.v-application .info {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}
 //we have an issue with fieldset and labels on input on vuetify on rtl - this solve the issue
html[dir="rtl"] {
  .v-text-field__slot >  label, .v-select__slot > label { 
    /*rtl:ignore */
    left: unset !important;
  }
   fieldset+.v-text-field__slot > label  {
    /*rtl:ignore */
    left :unset !important ;
  }
  .v-input__prepend-inner+fieldset+.v-text-field__slot>label {
     /*rtl:ignore */
    right: -27px !important;
  }
}



.v-menu__content{
  .v-list__tile__content{
    .v-list__tile__mask{
      color: rgba(0, 0, 0, 1);
      font-weight: bold;
      background: unset;
    }
  }
}
.voted {
  color: #FBB205 !important;
}

.site-content {
  transition: none !important;
  background-color: #f5f5f5;
  @media (max-width: @screen-xs) {
    background-color: #E6E6E6;
  }
  &.hidden-sideMenu{
    // width="220" mini-variant-width="62"
    padding-left: 220px !important;
    @media (max-width: @screen-md) {
      // padding-left: 62px !important;
      padding-left: 0px !important;
    }
  }
}

.loader {
  .inTheMiddle();
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  .v-progress-circular {
    color: #302eb5;
  }

}

.noscroll {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.flex-fix {
  min-width: 0;
}

.cdn-only2 {
  position: absolute;
}

.v-overlay--active::before {
  opacity: 0.6 !important;
}

.s-cookie-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #5d5d5d;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 12;

  animation: slide-up-animation .8s ease-in-out;

  .cookie-approve {
    border: 1px solid white;
    padding: 5px;
    padding-right: 17px;
    padding-left: 17px;
    border-radius: 20px;
    outline: none;
    min-width: 80px;
  }
}

@-webkit-keyframes slide-up-animation {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes slide-up-animation {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 0px;
  }
}

@-o-keyframes slide-up-animation {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes slide-up-animation {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 0;
  }
}

.v-snack--top {
  margin-top: 37px;
  position: fixed;
  @media (max-width: @screen-xs) {
    margin-top: 0;
  }
  .v-snack__wrapper{
    max-width: 600px; // asked for this fix SPITBALL-1163 Toaster width - Need to do it more wider
  }
}

.error-toaster{
  .v-snack__content{
    background-image: linear-gradient(93deg, #db3e3e, #be0303) !important;
  }
}

.v-snack__content {
  // width: 616px;
  height: 48px;
  background-image: linear-gradient(93deg, #4b8ffe, #4452fc);
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: -0.4px;
  color: #ffffff;
  
  .text-wrap {
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }
  
  .undo-btn {
    text-decoration: underline;
    margin-left: 42px;
  }
  .close-btn {
    font-size: 0;
    padding: 10px;
    margin-right: -10px;
    i {
      color: @color-white;
      font-size: 14px !important;
    }
  }
  a {
    color: @color-white;
    text-decoration: underline;
  }
  a.toast_action {
    height: 32px;
    width: 60px;
    padding: 3px 20px;
    border-radius: 26.5px;
    border: solid 1px @color-white;
    font-size: 16px;
    font-weight: 200;
    outline: none;
    align-items: center;
    justify-content: center;
    color: @color-white;
    letter-spacing: -0.5px;
    line-height: 1.39;
    min-width: 104px;
    background-color: transparent;
    text-decoration: none;
    &:first-child {
      margin-left: 14px;
    }
    @media (max-width: @screen-xs) {
      display: inline-block;
    }
  }
  span.toast-helper {
    padding: 0 18px;
    font-weight: 200;
    @media (max-width: @screen-xs) {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}



//fab animation
@-webkit-keyframes fade {
  0% {opacity: 0.25}
  25% {opacity: 0.5}
  50% {opacity: 0.75}
  100% {opacity: 1}
}

@-moz-keyframes fade{
  0% {opacity: 0.25}
  25% {opacity: 0.5}
  50% {opacity: 0.75}
  100% {opacity:1}
}

@keyframes fade {
  0% {opacity: 0.25}
  25% {opacity: 0.5}
  50% {opacity: 0.75}
  100%{opacity: 1}
}
@-o-keyframes fade {
  0% {opacity: 0.25}
  25% {opacity: 0.5}
  50% {opacity: 0.75}
  100%{opacity: 1}

}

@-webkit-keyframes fadeIn {
  0% {opacity: 0.2}
  50% {opacity: 0.75}
  100% {opacity:1}
}

@-moz-keyframes fadeIn{
  0% {opacity: 0.2}
  50% {opacity: 0.75}
  100% {opacity:1}
}

@keyframes fadeIn {
  0% {opacity: 0.2}
  50% {opacity: 0.75}
  100% {opacity:1}
}
@-o-keyframes fadeIn {
  0% {opacity: 0.2}
  50% {opacity: 0.75}
  100% {opacity:1}

}
