@import "../../mixin.less";

.loader {
  .inTheMiddle();
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  .v-progress-circular {
    color: #302eb5;
  }

}
.noscroll{
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.loading {
  .left-side-bar, .side-bar {
    opacity: 0;
  }
}

.flex-fix {
  min-width: 0;
}

.cdn-only2 {
  position: absolute;
}

.v-overlay--active::before {
  opacity: 0.6 !important;
}
.s-cookie-container{
  position:fixed;
  bottom:0;
  width:100%;
  height: 60px;
  background-color:#5d5d5d;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  animation: slide-up-animation .8s ease-in-out;

  .cookie-approve{
    border: 1px solid white;
    padding: 5px;
    padding-right: 17px;
    padding-left: 17px;
    border-radius: 20px;
    outline: none;
    min-width: 80px;
  }
}

.s-cookie-hide{
  display:none;
}

@-webkit-keyframes slide-up-animation {
  0%   { bottom: -60px; }
  100% { bottom: 0px; }
}
@-moz-keyframes slide-up-animation {
  0%   { bottom: -60px; }
  100% { bottom: 0px; }
}
@-o-keyframes slide-up-animation {
  0%   { bottom: -60px; }
  100% { bottom: 0px; }
}
@keyframes slide-up-animation {
  0%   { bottom: -60px; }
  100% { bottom: 0; }
}

