@import "../../mixin.less";

.loader {
    .inTheMiddle();
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;

    .progress-circular {
        color: #302eb5;
    }
}

.loading {
    main.content {
        padding-top: 0 !important;
    }

    .p-result {
        opacity: 0;
    }
}

.flex-fix {
    min-width: 0;
}

.cdn-only2 {
    position: absolute;
}
