@import "../../styles/mixin.less";
.main-container{
  background-color: #f5f5f5;
  @media (max-width: @screen-xs) {
    background-color: #E6E6E6;
    overflow: hidden;
  }
  .p-result {    
    .limited-width();
    @media(max-width: @screen-md) and (min-width: @screen-xs) {
      margin-left: 10px;
    }
    .first-grid {
      .flexSameSize();
    }
  }
  .p-result-layout {
    justify-content: center;
  }
}

@marginTop: 24px;
.main-section {
  min-width: 0;
  margin-top: 24px;
  @media (max-width: @screen-sm) {
    margin-right: 20px;
  }
  @media (max-width: @screen-xs) {
    margin-right: 0;
    margin-top: 0;
    margin-left: unset;
  }
  @media (min-width: (@screen-xs+1)) {
    margin-top: 24px;
  }
}

.sec-result {
  min-width: 0;
  max-width: @cellWidth;
  width: 100%;
  &.tutor-result{
    max-width: 720px;
  }
  .result-cell {
    margin-bottom: 16px;
    border-radius: 4px;
    @media (max-width: @screen-xs) {
      border-radius: 0px;
    }
    position: relative;
    width: 100%;
    max-width: @cellWidth;

    .show-btn {
      pointer-events: none;
      background-color: @color-blue-new;
      border-color: @color-blue-new;
       .cellActionBtnMixin();
    }

    .question-viewer {
      pointer-events: none;
       .cellActionViewerMixin();
    }

    .cell-video,
    .cell {
      &:not(.note-block) {
        border-color: #fff !important;
      }
    }

    &:not(:hover) {
      .show-btn {
        display: none;
      }

      .question-viewer {
        .responsive-property(bottom, 15px, null, 40px);
        .responsive-property(right, 16px, null, 8px);
      }

      @media (min-width: @screen-sm) {
        .cell .show-btn, .show-btn {
          display: none;
        }
      }

      @media (max-width: @screen-xs) {
        .cell .show-btn, .show-btn {
          display: block;
        }
      }

    }

    &:hover {
      // .question-viewer {
      //   animation: fade-in-animation .8s forwards;
      // }
    }
  }

  .personalize-wrapper .sbf-search {
    display: none;
  }
  .cell {
    background: #fff;
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px 12px 12px;
    @media (max-width: @screen-sm) {
        border-color: #fff !important;
        padding: 12px;
      }
      @media (max-width: @screen-xs) {
        border-radius: 0px;
      }
    
  }

  .filter-container{
    flex-direction: row;
    align-items: center;
    .v-btn__content {
      flex-direction: row-reverse;
    }
    //remove the eliptic shape when clicking the sort ans filter button on mobile
    .v-btn:before {
      display: none;
    }
    .v-ripple__container {
      display: none;

    }
  }
  .filter-container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
    .result-filter-text{
        margin-left: 5px;
        margin-bottom: 4px;
        white-space: nowrap;
        width: 85%;
        text-overflow: ellipsis;
        overflow: hidden;
      @media (max-width: @screen-sm) {
        margin-left: 15px;
        font-size:12px;
      }
      .result-filter-text-bold{
        font-weight: 600;
      }
    }
    .filter-button-container{
      margin-left: auto;
    }
  }
}

.side-bar {
  @upperSpace: @navBarHeightMdAndUp + @marginTop; //TODO: check why content--wrap containes margin of -8 pixels
  //position: -webkit-sticky;
  //position: sticky;
  // max-height: ~"calc(100vh - @{upperSpace} - 16px)"; //container padding from bottom is 16
  top: @upperSpace;
  margin: 0 32px;
  max-width: 320px;
  width: 100%;
  .edgeStatic();
  .side-bar-wrapper {
    max-width: 300px;
  }
}

.loading-skeleton .show-btn {
  display: none !important;
}
