@import "../../mixin.less";

//.wrap {
//margin-top: 2%;
//}
/*.navigation-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background: #eee;
}*/

/*.application--wrap {
    background: #eeeeee;
}*/

.p-result {

    .first-grid {
        width: @resultsFilterWidth;
        .flexSameSize();
        padding: 0 50px 0 20px;
    }
    // .results-section{
    //     padding-top: 30px;
    // }
}

/*.results-section {
    margin: 0;
}*/

@spaceFromNavBar: @resultsTabsHeight + 40; //40 px of space according to Shlomi's request

.sec-result {
    max-width: 504px;
    margin-top: 36px;
    //margin-top: @spaceFromTop;
    .result-cell {
        border-radius: 4px;
        overflow: hidden
    }

    .cell {
        background: #fff;
        border-radius: 4px;
    }
}


.side-bar {
    @upperSpace: @navBarHeightDesktop + @spaceFromNavBar + 8; //TODO: check why content--wrap containes margin of -8 pixels
    position: -webkit-sticky;
    position: sticky;
    max-height: ~"calc(100vh - @{upperSpace} - 16px)"; //container padding from bottom is 16
    top: @upperSpace;
}

.chip.filter-chip {
    margin: 0 8px 0 0;

    &:focus {
        box-shadow: none;

        &:after {
            content: none;
        }
    }

    .chip__content {
        cursor: pointer;
        padding: 0 4px 0 8px;
        letter-spacing: -0.8px;
        min-width: 102px;
        border-radius: 4px;
        color: @color-grey;
        z-index:0;
    }
    /*.chip {
        background-color: @Dividers;
    }*/
    //border-radius: 4px;
    //background-color: @Dividers;
    //font-size: 12px;
    //letter-spacing: -0.2px;
    //color: #4a4a4a;
    i {
        margin: 0 4px 0 16px;
        font-size: 10px;
        color: @color-grey;
    }
}
