@import "../../mixin.less";

.p-result {
    .first-grid {
        width: @resultsFilterWidth;
        .flexSameSize();
        padding: 0 42px 0 22px;
    }
}


//@spaceFromNavBar: @resultsTabsHeight + 40; //40 px of space according to Shlomi's request

@marginTop: 42px;
.main-section {
    min-width: 0;
    margin-top: @marginTop;
    @media(max-width: @screen-xs){
        margin-top: 0
    }
}
.sec-result {
    max-width: 504px;
    //margin-top: @marginTop;
    min-width: 0;

    @media(max-width: @screen-xs) {
        margin: 0 8px;
    }
    //margin-top: @spaceFromTop;
    .result-cell {
        border-radius: 4px;
        overflow: hidden;
        /*@media(max-width: 599px) {
            margin-left: 8px;
            margin-right: 8px;
        }*/
    }

    .personalize-wrapper .sbf-search {
        display: none;
    }

    .cell {
        background: #fff;
        border-radius: 4px;
        width: 100%;
    }

    .mobile-filter {
        flex-direction: row-reverse;

        @media(max-width: @screen-xs) {
            min-height: 42px;
        }

        button {
            @media(max-width: @screen-xs) {
                margin: 13px 0 10px 0;
            }
        }
    }
}


.side-bar {
    @upperSpace: @navBarHeightMdAndUp + @marginTop; //TODO: check why content--wrap containes margin of -8 pixels
    position: -webkit-sticky;
    position: sticky;
    max-height: ~"calc(100vh - @{upperSpace} - 16px)"; //container padding from bottom is 16
    top: @upperSpace;

    .side-bar-wrapper {
        max-width: 300px;
        //max-height: 250px;
    }
}

.chip.filter-chip {
    margin: 0 8px 8px 0;
    border: none;

    &:focus {
        box-shadow: none;

        &:after {
            content: none;
        }
    }

    .chip__content {
        cursor: pointer;
        padding: 0 4px 0 8px;
        letter-spacing: -0.8px;
        min-width: 102px;
        border-radius: 4px;
        background: white;
        color: @color-grey;
        z-index: 0;
    }
    /*.chip {
        background-color: @Dividers;
    }*/
    //border-radius: 4px;
    //background-color: @Dividers;
    //font-size: 12px;
    //letter-spacing: -0.2px;
    //color: #4a4a4a;
    i {
        margin: 0 4px 0 16px;
        font-size: 10px;
        color: #bbb;
    }
}
