@import "../../mixin.less";



.expansion-panel {
    box-shadow: none;

    .expansion-panel__container {
        background-color: transparent;

        .expansion-panel__header {
            padding: 8px 4px;
            font-weight: bold;
            border-top: 2px solid;
            border-bottom: 2px solid;
            border-image: linear-gradient(to right, #3023ae, #3293f6) 10;
            text-transform: capitalize;
            margin-bottom: 8px;

            i {
                font-size: 8px;
                color: @color-dark-blue
            }
        }

        .sort-filter {
            .filter {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                label {
                    text-transform: capitalize;
                    margin-left: 6px;
                    line-height: 24px;
                }
            }
        }
    }
}
