@import "../../mixin.less";

.highlight {
  font-weight: bold;
  color: #0ead91;
}

.search-b-wrapper {
  position: relative;
}

.search-b, .search-menu {
  z-index: 3;
}

.menu-toggler {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .4s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
}

.search-menu {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff !important;
  border-radius: 4px;
  margin-top: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

  @media(max-width: @screen-sm){
    overflow: scroll;
  }

  .list {
    padding: 6px 0;
  }

  .subheader {
    color: @color-grey;
    letter-spacing: -0.3px;
    font-size: 18px;
    line-height: 2.22;
    height: 20px;
    padding-left: 10px;
    margin-bottom: 12px;

    @media (max-width: @screen-sm) {
      font-size: 14px;
      height: 24px;
      margin-bottom: 8px;
    }
  }

  .list__tile__title {
    color: #302eb5;
    height: 36px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.3px;

    @media (max-width: @screen-sm) {
      font-size: 12px;
      letter-spacing: -0.2px;
    }
  }
  /*.list__tile__title {
          line-height: normal;
      }*/
  .list__tile {
    height: 36px;

    @media (max-width: @screen-sm) {
      height: 27px;
    }
  }

  .list__tile--link {
    padding-left: 10px;

    @media (max-width: @screen-sm) {
      padding-left: 8px;
    }

    .list__tile__action {
      min-width: 0;
      padding-right: 16px;
      width: 40px;

      i, svg {
        margin: 0 auto;
      }

      @media (max-width: @screen-sm) {
        min-width: 24px;

        .icon {
          font-size: 16px;
        }

        svg {
          width: 12px;
        }
      }
    }
  }
}
