.sort-switch {
    background: linear-gradient(102deg, #3023ae, #3293f6);
    display: flex;
    align-items: stretch;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 16px;

    input {
        display: none;

        &:checked + label {
            background: white;
            color: black;
        }
    }

    label {
        flex-grow: 1;
        text-align: center;
        line-height: 26px;
        color: white;
    }
}
