<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlchemyAPIClient" version="1.5.1608.252" targetFramework="net451" />
  <package id="Autofac" version="4.2.1" targetFramework="net451" />
  <package id="Dapper" version="1.50.2" targetFramework="net451" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NHibernate" version="4.1.0.4000" targetFramework="net451" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="8.0.0" targetFramework="net451" />
</packages>