@import '../../../../styles/mixin.less';

.tutor-card-wrap-desk {
  width: 100%;
  margin: 0 auto;
  display: flex;
  .rating-number{
    font-weight: bold;
  }

  .section-tutor-info {
    width: @cellWidth;
    background-color: @color-white;
    border-radius: 4px;
    padding: 16px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);

    .image-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 166px;
      height: 186px;
      color: #5D62FD;
    }
    @media (max-width: @screen-xs) {
      padding: 12px;
    }
  }
  .user-rating-val {
    font-weight: bold;
  }
  .section-tutor-price-review {
    width: 260px;
    background-color: @color-white;
    border-radius: 4px;
    padding: 16px;
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    @media (max-width: @screen-xs) {
      padding: 12px;
    }
  }
  .btn-bottom-holder {
    justify-self: flex-end;
    margin-top: auto;
    justify-content: center;

  }
  .blue-btn {
    background-color: @colorBlue !important;
    color: @color-white;
    height: 42px;
    max-width: 80%;
  }
  .tutor-image {
    border-radius: 4px;
    width: 166px;
    height: 186px;
  }
  .pricing{
    color: @textColor;
    &.striked-price{
      color: @colorBlackNew;
    }
  }
  .strike-through{
    //text-decoration: line-through;
    font-size: 18px;
    position: relative;
    color: @colorBlackNew;
    display:table;

    &:after {
      content: '';
      width: 100%;
      border-bottom: solid 1px @colorBlackNew;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }
  }
  .tutor-name {
    opacity: 0.9;
    font-size: 18px;
    letter-spacing: -0.4px;
    color: @textColor;
    .giveMeEllipsis(1, 17)
  }
  .tutor-about {
    color: @profileTextColor;
    .giveMeEllipsis(2, 22)
  }
  .tutor-courses{
    span{
    .giveMeEllipsis(1, 17)
    }
  }
  .blue-text {
    color: @colorBlue;
    line-height: 20px !important;
    max-height: 20px !important;
  }

}
