@import "../../../mixin.less";
.cash-out-card {
  border: solid 1px #dddddd;
  max-width: 577px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 8px;
  &.active {
    border: 1px dashed #9b9b9b;
    .points {
      .num, .data .text {
        color: #3532d5;
      }
    }
    .redeem-btn {
      background-color: #3532d5;
    }
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .points {
    display: flex;
    align-items: center;

    @media(max-width: @screen-xs){
      flex-direction: column;
      align-items: flex-start;
    }

    .num {
      font-weight: bold;
      .responsive-property(font-size, 42px, null, 38px);
      .responsive-property(line-height, 0.48, null, 30px);
      letter-spacing: -0.6px;
      color: #5d5d5d;
    }

    .data {
      text-align: left;
      @media(min-width: @screen-xs){
        margin-left: 4px;
      }
      .text {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        letter-spacing: -0.3px;
        color: #5d5d5d;
      }

      .dollar-val {
        font-size: 14px;
        line-height: 1;
        letter-spacing: -0.3px;
        color: #5d5d5d;
      }
    }
  }

  .redeem-btn {
    border-radius: 2px;
    background-color: #d8d8d8;
    width: 112px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #ffffff;
  }
}