@import "../../styles/mixin.less";

@table-width: 846px;
.wallet-page {
  position: relative;
  max-width: @table-width;
  // margin: 0 auto;
  margin-left: 50px;
  @media (max-width: @screen-xs) {
    margin: 0;
    height: 100%;
    background-color: @color-white;
  }
  .data-section {
    background-color: @color-white;

    @media (min-width: @screen-xs) {
      margin: 48px auto auto;
      box-shadow: 0 0 2px 0 #888b8e;
      position: relative;
    }

    .v-tabs__slider.white {
      margin-bottom: 8px;
    }
    .header {
      height: 76px;
      padding: 0 16px;
      .responsive-property(height, 76px, null, 56px);
      background-color: @color-main-purple;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-title {
        font-size: 20px;
        line-height: 1.25;
        letter-spacing: -0.5px;
        text-align: center;
        color: #ffffff;

      }

      .back-button.wallet {
        margin-bottom: 2px;
        position: relative;
        outline: none;
        top: 0;
        @media (max-width: @screen-sm) {
          top: 0;
        }
        .v-icon {
          color: @color-white;
          font-size: 16px;
        }
      }
    }
    .tabs-wrapper, v-tabs__wrapper {
      background-color: @color-main-purple;
      color: @color-white;
      margin-bottom: 11px;
      @media (max-width: @screen-xs) {
        padding-left: 0;
      }
    }

    .v-tabs__bar {
      height: 42px;
      background-color: @color-main-purple;
      i.icon--right{
        display: none!important;
      }
      @media (max-width: @screen-xs) {
        height: 42px;
        margin-top: 0;
      }

    }
    .v-tabs{
      margin: 0;

      .v-tabs__li {
        margin-right: 16px;
      }
      .v-tabs__item {
        color: @color-white !important;
        font-size: 16px;
        letter-spacing: -0.2px;
        text-transform: none;
        padding: 0 16px 8px 16px;
        @media (max-width: @screen-xs) {
          padding: 6px 12px;
        }
        &.v-tabs__item--active {
          font-weight: bold;
          letter-spacing: -0.3px;
        }
      }


    }

    .custom-table {
      width: 100%;
      font-size: 16px;
      letter-spacing: -0.4px;
      border: none;
      thead {
        background-color: #f3f3ff;
      }

      .total, th {
        color: @color-main-purple;
        font-weight: normal;
      }
      .number {
        border-right: solid 2px @color-medium-grey;
      }

      tr {
        height: 48px;
      }
      td {
        text-align: center;
      }
      tr:nth-child(2n) {
        background-color: @color-light-grey;
      }

      &.balances {
        td:nth-child(2) {
          text-align: left;
          padding-left: 34px;
          @media (max-width: @screen-xs) {
            padding-left: 16px;
          }
        }
        td:nth-child(4), th:nth-child(4) {
          text-align: right;
          @media (max-width: @screen-xs) {
            padding-right: 22px;
          }
        }

        @media (max-width: @screen-xs) {
          td:nth-child(1), th:nth-child(1), td:nth-child(5), th:nth-child(5) {
            display: none;
          }
        }
      }

      &.transaction {
        @media (max-width: @screen-xs) {
          td:nth-child(1), th:nth-child(1), td:nth-child(4), th:nth-child(4), td:nth-child(6), th:nth-child(6) {
            display: none;
          }
        }
      }

    }
    .wallet-table {
      height: 100%;
      max-height: 344px;
      text-transform: capitalize;
      overflow:auto;
      .v-table__overflow{
        width: inherit;
        @media (max-width: @screen-xs) {
          width: inherit;
        }
      }
      .v-table {
        thead {
          background-color: #f3f3ff;
          tr {
            border: none;
            height: 48px;
          }
        }
        th {
          height: 48px;
          &:focus {
            outline: none;
          }
          i {
            display: none !important;
          }

          .table-header {
            font-size: 16px;
            line-height: 1.56;
            letter-spacing: -0.4px;
            color: @color-main-purple;
          }
        }

        tbody {
          td {
            font-size: 16px;
            line-height: 1.56;
            letter-spacing: -0.4px;
            color: #000000;
            white-space: pre;
          }
          tr {
            border: none;
            &:nth-child(2n) {
              background-color: @color-light-grey;
            }
            &:hover {
              background: #d7d7ff;
            }
          }
        }
      }
    }

    .bold, .Balance-header, .Value-header {
      font-weight: bold;
    }

    .balance-table .table {
      tbody tr:last-child {
        border-top: solid 1px @color-main-purple;
        td {
          color: @color-main-purple;
          font-weight: bold;
        }
      }
      th, td {
        &:last-child {
          padding-right: 185px;
          .responsive-property(width, @table-width * 0.4, null, 33vw);
        }
      }
    }
    @media (max-width: @screen-xs) {
      .wallet-table .table {
        th, td {
          &:first-child {
            padding-left: 12px;
          }
          &:nth-child(2) {
            padding: 0;
          }
          &:last-child {
            padding-right: 22px;
          }
        }
      }
    }
    //.cash-out-big {
    //  width: 88px;
    //  height: 24px;
    //  border-radius: 4px;
    //  background-color: #d0021b;
    //  color: @color-white;
    //  font-size: 14px;
    //  font-weight: bold;
    //  outline: none;
    //  letter-spacing: -0.2px;
    //  display: block;
    //  margin: 0 auto;
    //}
    .bottom-area {
      //position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cash-out-btn {
        background: #d0021b;
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        margin: 16px;
      }

      .v-pagination {
        i.sbf {
          font-size: 17px;
          color: @color-main-purple;
          &.left {
            transform: scale(-1, 1);
          }
        }
        .v-pagination__item, .v-pagination__navigation, .v-pagination__item--active.primary {
          background: none !important;
          border: none;
          box-shadow: none;
          width: auto;
          height: auto;
          line-height: 1.79;
          font-size: 14px;
          letter-spacing: -0.4px;
          color: #000000;
          outline: none;
        }
        .v-pagination__navigation {
          margin: 0 17px;
        }
        .v-pagination__item--active.primary {
          color: #000000;
          font-weight: bold;

        }
      }
    }
  }

  .cash-out-wrapper {
    text-align: center;
    padding: 0 8px;
    .responsive-property(margin-top, 22px, null, 16px);
    padding-bottom: 32px;
    .text-wrap {
      .responsive-property(margin-bottom, 32px, null, 16px);
      .responsive-property(font-size, 24px, null, 20px);
      color: @color-grey;
      letter-spacing: -0.7px;
      text-align: center;
      .main-text {
        font-weight: bold;
      }
      .points-text span {
        font-weight: bold;
        color: @color-main-purple;
      }
    }
    .cash-out-option {
      margin-bottom: 8px;
    }
  }

  .cash-out {
    white-space: nowrap;
    .responsive-property(width, 456px, null, 350px);
    right: 0;
    margin-left: auto;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding-left: 27px;
    color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: linear-gradient(to right, @color-main-purple, @color-blue);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.5px;
    @media (max-width: @screen-xs) {
    }
    .btn-wrap {
      .responsive-property(width, @table-width * 0.4, null, 100%);
      text-align: right;
      display: flex;
      .cash-out-val-wrap {
        flex-grow: 1;
      }
      .button-wrap {
        display: inline-block;
        .responsive-property(width, 185px, null, 33vw);
        text-align: center;
        button {
          .responsive-property(width, 136px, null, 96px);
          line-height: 32px;
          border-radius: 4px;
          background: #fff;
          color: @color-main-purple;
          font-size: 16px;
          letter-spacing: -0.3px;
          text-align: center;
        }
      }
    }

  }

  //remove the blue line below the wallet nav buttons case: 10603
  .v-tabs__slider-wrapper{
    display: none;
  }
}


