@import "../../mixin.less";

.profile-page{

    margin-top: 16px;

    .user-question {
        margin-bottom: 17px;
    }

    .web-content{margin-left: 16px;}

    .main-block{
        // height: 290px;
        border-radius: 4px;
        background-color: @color-white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 14px;
        color: #5d5d5d;
        text-align: center;

        .user-block{
            .avatar{
                width: 64px;
                height: 64px;
                background-color: @color-white;
                border-radius: 35px;
                outline: none;
                margin: 17px 0 7px;
            }
            .name{
                display: block;
                color:@color-main-purple;
                line-height: 1.69;
                letter-spacing: -0.3px;
            }
        }
          
        

        .menu{
            width: 100%;
            .tabs{
                width: 100%;
                text-align: left;
                list-style-type: none;
                li{
                    height: 40px;
                    padding: 6px 20px;
                    line-height: 1.79;
                    border-left: 4px solid @color-white; 
                    cursor: pointer;
                    &.active{
                        color:@color-main-purple;
                        border-color: @color-main-purple;
                        background-color: #f0f0f0;
                    }
                }
            }
        }

    }



    .tab-padding{
        .tabs__bar{background-color: @color-white; border-top: solid 1px #bbbbbb;}
        .tabs__container{
            .tabs__item{
                text-transform: none;
                &.tabs__item--active{ color: @color-main-purple!important;font-weight: bold;}
            }         
            .tabs__slider.blue{
                border-bottom: 2px solid @color-main-purple;
            }
        }
    }
    
    
   
}



