<md-dialog ng-cloak class="chat-item-preview">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="ellipsis">Mango (Fruit)</h2>
            <span flex></span>
            <md-button class="close-btn" ng-click="lc.close()">
                @Html.Svg("~/images/site/icons.svg", "close", new { @class = "svgTC4" })
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        @*test*@
        <img src="https://az779114.vo.msecnd.net/images/Icons_720_image.png"/>
        @*test - end*@
    </md-dialog-content>
</md-dialog>
