<md-dialog ng-cloak class="chat-item-preview">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="ellipsis">Mango (Fruit)</h2>
            <span flex></span>
            <md-button aria-label="close" class="close-btn" ng-click="lc.close()">
                @Html.Svg("~/images/site/icons.svg", "close", new { @class = "svgTC4" })
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div ng-repeat="e in lc.items" ng-include="'chat-{{lc.view}}.html'"></div>
    </md-dialog-content>


</md-dialog>
<script type="text/ng-template" id="chat-Image.html">
    <img ng-src="{{::e}}" />
</script>
<script type="text/ng-template" id="chat-Svg.html">
    <img ng-src="{{::e}}" />
</script>