<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="8.5.0" targetFramework="net451" />
  <package id="Aspose.Imaging" version="3.0.0" targetFramework="net451" />
  <package id="Aspose.Pdf" version="10.5.1" targetFramework="net451" />
  <package id="Aspose.Slides.NET" version="15.5.0" targetFramework="net451" />
  <package id="Aspose.Words" version="15.6.0" targetFramework="net451" />
  <package id="Autofac" version="4.6.1" targetFramework="net462" />
  <package id="ImageResizer" version="4.0.4" targetFramework="net451" />
  <package id="SimMetrics" version="1.1.4118.23231" targetFramework="net462" />
</packages>