@{
    ViewData["Title"] = "Home Page";
}


<ul>
    <li>
        <a asp-page="/MarkAsCorrect">Mark as correct</a>
    </li>
    <li>
        <a asp-page="/DeleteQuestion">Delete question</a>
    </li>

    <li>
        <a asp-page="/AddQuestion">Add Question</a>
    </li>

    <li>
        <a asp-page="/SendTokens">Send Tokens</a>
    </li>

    <li>
        <a asp-page="/CashOut">Cash Out</a>
    </li>

    @*<li>
        <a asp-page="/DeleteUser">Delete User</a>
    </li>*@
</ul>
<div class="container" id="vue-app">
    <todo-component></todo-component>


    <h1>Hello App!</h1>
    <p>
        <!-- use router-link component for navigation. -->
        <!-- specify the link by passing the `to` prop. -->
        <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
        <router-link to="/foo">Go to Foo</router-link>
        <router-link to="/bar">Go to Bar</router-link>
    </p>
    <!-- route outlet -->
    <!-- component matched by the route will render here -->
    <router-view></router-view>
</div>

<script type="x-template" id="todo-component">
    <div>
        <h3>Example todo component</h3>
        <div v-for="item in items" class="form-group" :class="{'has-success': item.completed}">
            <div class="input-group">
                <div class="input-group-addon">
                    <input type="checkbox" v-model="item.completed">
                </div>
                <input type="text" v-model="item.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" v-model="newItem" class="form-control">
                <div class="input-group-btn">
                    <button class="btn" :class="{'btn-primary': newItem}" @@click="addItem()">add!</button>
                </div>
            </div>
        </div>
    </div>
</script>

@section Scripts{
    <script>
        const Foo = { template: '<div>foo</div>' }
        const Bar = { template: '<div>bar</div>' }

        const routes = [
            { path: '/foo', component: Foo },
            { path: '/bar', component: Bar }
        ]
        const router = new VueRouter({
            routes // short for `routes: routes`
        })
        Vue.component('todo-component', {
            template: '#todo-component',
            data: function () {
                return {
                    items: [
                        {
                            id: 'item-1',
                            title: 'Checkout vue',
                            completed: false
                        }, {
                            id: 'item-2',
                            title: 'Use this stuff!!',
                            completed: false
                        }
                    ],
                    newItem: ''

                };
            },
            methods: {
                addItem: function () {
                    if (this.newItem) {
                        var item = {
                            id: Math.random(0, 10000),
                            title: this.newItem,
                            completed: false
                        };

                        this.items.push(item);
                        this.newItem = '';
                    }
                }
            }
        });
        var app = new Vue({
            router,
            el: '#vue-app'
        });

    </script>
}

