@{
    ViewBag.Title = "Internal server error";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="error-500-page">
    <img src="@Url.CdnContent("~/Images/Site/500_image.png")" alt="Internal server error">
    <div class="text">
        <h2>
            Oops!<br/>Something went wrong.
        </h2>
    </div>
</div>