@{
    ViewBag.Title = "Members only";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="members-only-page">
    <img src="@Url.CdnContent("~/Images/Site/membersOnly.png")" alt="Members only">
    <div class="text">
        <h2>
            You need permission to access this content
        </h2>
        <p>The owner has made this content - invitation only</p>
    </div>
</div>