
@{
    ViewBag.Title = "P404";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="error-page">
    <h2>
        404
        <span>OOPS THE FILE FLEW </span>
    </h2>
    <img src="/Images/404_image.png" alt="Page not found">
</div>


