@using Zbang.Cloudents.Mvc4WebRole.Views.Error.Resources

@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="error-page">
    <h2>
        404
        <span class="text-capitalize">@IndexResources.FileFlew</span>
    </h2>
    
    <div class="image">
        <img src="@Url.CdnContent("~/Images/Site/404_image.png")" alt="Page not found">
        <a target="_self" href="@Url.Action("Index","Dashboard")" class="text-capitalize">@IndexResources.Back</a>
    </div>
</div>


