
@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="error-page">
    <h2>
        404
        <span>Oops the file flew </span>
    </h2>
    
    <div class="image">
        <img src="@Url.CdnContent("~/Images/Site/404_image.png")" alt="Page not found">
        <a href="@Url.Action("Index","Dashboard")">Back to dashboard</a>
    </div>
</div>


