@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Zbang.Cloudents.Mvc4WebRole.Views.Error.Resources



<div class="unsupported-error">

    <div class="text">
        <h2>
            Spitball<br />doesn't support your browser version
        </h2>
        <p>Please update your version of Internet Explorer or use fufferent browser</p>
    </div>
    <div class="browsers">
        <div class="ie">
            @Html.Svg("/images/Site/browsers.svg", "IE")
            <p>Explorer</p>
        </div>
        <div class="ff">
            @Html.Svg("/images/Site/browsers.svg", "FF")
            <p>Firefox</p>
        </div>
        <div class="chrome">
            @Html.Svg("/images/Site/browsers.svg", "chrome")
            <p>Chrome</p>
        </div>
    </div>
</div>