@color-blue: #3293f6;
@color-dark-blue: #0455a8;
@color-white: #fff;
@color-grey: #4a4a4a;
@color-light-grey: #f0f0f0;
@color-light-grey-2: #fbfbfb;
@color-green: #52ab15;
@color-orange: #f5a623;
@color-purple: #8c3fbf;
@color-dark-purple: #320161;


@color-pink-gradient: fade(#f14d4d, 15%);
@color-purple-gradient: fade(@color-purple, 15%);
@color-green-gradient: fade(@color-green, 15%);
@color-orange-gradient: fade(@color-orange, 15%);

.gradient (@startColor: @color-white, @endColor: @color-purple) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}



//new stuff



@Ask-a-Question: #0455a8;
@Class-Material: #320161;
@Flashcards: #f14d4d;
@Tutors: #52ab15;
@Textbooks: #8c3fbf;
@Jobs: #f49c20;
@Food: #2cbfa5;
@Upload: #94b7cb;
@Post: #414141;
@Create-Flashcards: #a40115;
@Chat: #9ccdff;
@My-Courses: #2adaff;
@My-Likes: #7ed321;
@Settings: #07305a;
@Site-Background: #eeeeee;
@PersonalizationStrip: #f5a623;
@Notificaion-Text-Circle: #c30000;
@Spitball-Text: #003b78;
@Sub-Filter: #1e59a8;
@Suggestion-Title-Background: #bbbbbb;
@Feed-Body-Text: #222222;
@Chat-Suggestion-Icon-Background: #ebbc18;
@Tutor-Price: #ff6f00;
@Book-Info: #000000;
@Spitball-Main-color: #3293f6;
@Dividers: #dddddd;
@Replay-bubble-on-chat: #cdffc4;
@Post-massege-on-chat: #caedff;
@Chat-Background: #e2e0d5;
@Feed-Like-count: #5d5d5d;
@Selected-Vertical: #2a7bcf;
@Feed-Date: #888b8e;





.inTheMiddle() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giveMeEllipsis(@lines,@line-height) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @lines; /* number of lines to show */
    line-height: @line-height; /* fallback */
    max-height: (@lines*@line-height); /* fallback */
}

.giveMeEllipsisOne() {
    white-space: nowrap; //TODO: IRENA - need to fix that
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageWrapper(@width,@height,@svgSize: 100%) {
    .img-wrap {
        width: @width;
        height: @height;
        .inTheMiddle();


        > img, .defaultImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        svg.defaultImage {
            height: @svgSize;
        }
    }
}

.placeholder-color(@color) {

    &::-webkit-input-placeholder {
        color: @color !important;
    }

    &::-moz-placeholder {
        color: @color !important;
    }

    &:-ms-input-placeholder {
        color: @color !important;
    }

    &:-moz-placeholder {
        color: @color !important;
    }
}

.responsive-property(@property, @desktop, @tablet: null, @mobile: null) {
    @{property}: @desktop;

    & when (ispixel(@tablet)) or (iscolor(@tablet)) or (ispercentage(@tablet)) or (isnumber(@tablet)) or (iscolor(@tablet)) {
        @media(max-width:@screen-sm) {
            @{property}: @tablet;
        }
    }

    & when (ispixel( @mobile )) or (iscolor(@mobile)) or (ispercentage(@mobile)) or (isnumber(@mobile)) or (iscolor(@mobile)) {

        @media(max-width:@screen-xs) {
            @{property}: @mobile;
        }
    }
}

.flexSameSize() {
    flex-grow: 0;
    flex-shrink: 0;
}

.postitionSticky() {
    position: -webkit-sticky; // safari
    position: sticky;
}

// Size constants
@navBarHeightMdAndUp: 120px;
//@navBarHeightMobile: 96px;
@resultsFilterWidth: 222px;
//@resultsTabsHeight: 52px;
@screen-xs: 599px;
@screen-sm: 959px;
