@color-blue: #3293f6;
@color-dark-blue: #0455a8;
@color-white: #fff;
@color-grey: #4a4a4a;
@color-medium-grey: #bbbbbb;
@color-light-grey: #f0f0f0;
@color-light-grey-2: #fbfbfb;
@color-divider-grey: #cccccc;
@color-green: #52ab15;
@color-orange: #f5a623;
@color-purple: #8c3fbf;
@color-dark-purple: #320161;
@color-main-purple: #3532d5;
@color-red: #FF5252;
@color-transparent: transparent;
@color-black: #000000;
@color-red-heavy: #d0021b;
@color-grey-icon-static: #888b8e;
@color-AB-test-background : #E7E8F7;
@color-AB-test-text: #4452fc;
@colorUploadBlue: #4452fc;
/*
@color-pink-gradient: fade(#f14d4d, 15%);
@color-purple-gradient: fade(@color-purple, 15%);
@color-green-gradient: fade(@color-green, 15%);
@color-orange-gradient: fade(@color-orange, 15%);

.gradient (@startColor: @color-white, @endColor: @color-purple) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}*/

@Ask-a-Question: #0455a8;
@Class-Material: #320161;
@Flashcards: #f14d4d;
@Tutors: #52ab15;
@Textbooks: #8c3fbf;
@Jobs: #f49c20;
@Upload: #94b7cb;
@Post: #414141;
@Create-Flashcards: #a40115;
@Chat: #9ccdff;
@My-Courses: #2adaff;
@My-Likes: #7ed321;
@Settings: #07305a;
@Site-Background: #eeeeee;
@PersonalizationStrip: #f5a623;
@Notificaion-Text-Circle: #c30000;
@Spitball-Text: #003b78;
@Sub-Filter: #1e59a8;
@Suggestion-Title-Background: #bbbbbb;
@Feed-Body-Text: #222222;
@Chat-Suggestion-Icon-Background: #ebbc18;
@Tutor-Price: #ff6f00;
@Book-Info: #000000;
@Spitball-Main-color: #3293f6;
@Dividers: #dddddd;
@Replay-bubble-on-chat: #cdffc4;
@Post-massege-on-chat: #caedff;
@Chat-Background: #e2e0d5;
@Feed-Like-count: #5d5d5d;
@Selected-Vertical: #2a7bcf;
@Feed-Date: #888b8e;
@Question-Answer-Bg: #f6f6f6;

@Pass-Weak-Color:#ff6f00;
@Pass-Strong-Color: #7ed321;
@Pass-Strongest-Color: #7ed321;
.inTheMiddle() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//updated version TODO rework and remove previous
.giveEllipsisUpdated(@fontSize, @lineHeigh, @lines, @maxHeight: 96px){
  display: -webkit-box;
  // display: block; /* Fallback for non-webkit */
  max-height: @maxHeight; /* Fallback for non-webkit */
  font-size: @fontSize;
  line-height: @lineHeigh;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -o-text-overflow: ellipsis;	/* required for Opera */
  -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
  // white-space: nowrap;
}


//.checkboxStyle(){
//  -webkit-appearance: none;
//  background-color: #fafafa;
//  border: 1px solid #cacece;
//  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
//  padding: 9px;
//  border-radius: 3px;
//  display: inline-block;
//  position: relative;
//}



.widthMinMax(@width, @minWidth: @width, @maxWidth: @width){
  width: @width;
  min-width: @minWidth;
  max-width: @maxWidth;
}


.giveMeEllipsis(@lines, @line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lines; /* number of lines to show */
  line-height: @line-height; /* fallback */
  max-height: (@lines*@line-height); /* fallback */
}

.giveMeEllipsisOne() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// animation end
.imageWrapper(@width,@height,@svgSize: 100%) {
  .img-wrap {
    width: @width;
    height: @height;
    .inTheMiddle();

    > img, .defaultImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg.defaultImage {
      height: @svgSize;
    }
  }
}
// generate classes for question card  based on user selced color, background and font color
@colors: #ffffff, #6bc248, #a757db, #e5455d, #edaf2e, #7472ff, #3bbda4, #53a0fd, #a09c9c, #abb55e, #d251ae;
@names: default, green, purple, red, yellow, blue, turquoise, lightblue, grey, olive, pink;
@fontColors: #000, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff;
@length: length(@colors);
.user-question-style(@names; @colors; @fontColors; @index) when (iscolor(extract(@colors, @index))) and (@index > 0) {
  .user-question-style(@names; @colors; @fontColors; (@index - 1)); // decrement.

  @name: extract(@names, @index);
  @color: extract(@colors, @index);
  @fontColor: extract(@fontColors, @index);

  .sbf-card-@{name} {
    background-color: @color;
  }

  .sbf-font-@{name} {
    color: @fontColor!important;
  }
}
.user-question-style(@names, @colors, @fontColors, @length );
//end function

.placeholder-color(@color, @opacity:1 ) {

  &::-webkit-input-placeholder {
    color: @color !important;
    opacity: @opacity!important;
  }

  &::-moz-placeholder {
    color: @color !important;
    opacity: @opacity!important;
  }

  &:-ms-input-placeholder {
    color: @color !important;
    opacity: @opacity!important;
  }

  &:-moz-placeholder {
    color: @color !important;
    opacity: @opacity!important;
  }
}

.responsive-property(@property, @desktop, @tablet: null, @mobile: null) {
    @{property}: @desktop;

  & when (ispixel(@tablet)) or (iscolor(@tablet)) or (ispercentage(@tablet)) or (isnumber(@tablet)) or (iscolor(@tablet)) {
    @media (max-width: @screen-sm) {
        @{property}: @tablet;
    }
  }

  & when (ispixel( @mobile )) or (iscolor(@mobile)) or (ispercentage(@mobile)) or (isnumber(@mobile)) or (iscolor(@mobile)) {

    @media (max-width: @screen-xs) {
        @{property}: @mobile;
    }
  }
}

.cellActionBtnMixin(){
  position: absolute;
  .responsive-property(bottom, 16px, null, 8px);
  .responsive-property(right, 16px, null, 8px);
  padding: 3px 20px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.cellActionViewerMixin(){
  position: absolute;
  .transition(all .2s ease-in-out);
  .responsive-property(bottom, 50px, null, 8px);
  .responsive-property(right, 16px, null, 8px);
  //padding: 0px 100px 3px 0px;
  color: #707070;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #8888d5;
}

.cellActionBtnMixinAnswer(){
  position: absolute;
  .responsive-property(bottom, 8px, null, 8px);
  .responsive-property(right, 25px, null, 33px);
  padding: 3px 20px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.flexSameSize() {
  flex-grow: 0;
  flex-shrink: 0;
}

.postitionSticky() {
  position: -webkit-sticky; // safari
  position: sticky;
}
//transition mixin
.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.flashcard-icon(@width, @frontColor, @backColor, @borderColor, @frontHover, @backHover, @frontText,@height: 0.88*@width) {
  //@height: 0.88*@width;
  position: relative;
  width: @width;
  height: @height;

  &:before, &:after {
    display: block;
    width: 0.8*@width;
    height: 0.72*@height;
    border-radius: @height/6;
    border: 0.048*@width solid @borderColor;
    position: absolute;
  }

  &:before {
    content: '';
    bottom: 0;
    left: @width/4;
    background: @backColor;
  }

  &:after {
    content: @frontText;
    text-align: center;
    line-height: 0.62*@height;
    color: @backColor;
    transform: rotate(-20deg);
    bottom: @height/4;
    left: 0;
    background: @frontColor;
  }

  &:hover {
    &:before {
      background: @backHover;
    }

    &:after {
      background: @frontHover;
    }
  }
}

.item-page-width() {
  max-width: 756px;
  width: 100%;
  padding: 0 8px;
  margin: 0 auto !important;
}

.clear-field-btn() { // Note: this is not supported by Firefox yet.
  &::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
  &::-ms-clear {
    display: block;
  }
}

.general-cell {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.limited-width(){
  width: 100%;
  @contentWidth: 1280px;
  @desktopPadding: 24px;
  @tabletPadding: 16px;
  @mobilePadding: 8px;
  .responsive-property(max-width,@contentWidth + @desktopPadding, @contentWidth + @tabletPadding, @contentWidth + @mobilePadding);
  .responsive-property(padding-right, @desktopPadding, @tabletPadding, @mobilePadding);
  .responsive-property(padding-left, @desktopPadding, @tabletPadding, @mobilePadding);
  //max-width: 1328px;
  margin: 0 auto;
  //padding: 0 24px;
}

// Size constants
@btnHeight : 40px;
@navBarHeightMdAndUp: 104px;
@mainNavHeightXsOnly: 120px;
@mainNavHeightSmAndUp: 60px;
//@navBarHeightMobile: 96px;
@resultsFilterWidth: 192px;
//@resultsTabsHeight: 52px;
@registrationFieldHeight: 48px;
@screen-xs: 599px;
@screen-sm: 959px;
@screen-sm-960: 960px;
@screen-xss: 375px;
@screen-md: 1263px;
@screen-md-plus: 1280px;
@screen-lg: 1904px;
@logoWidth: 192px;
@cellWidth: 500px;


@-webkit-keyframes fade-in-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in-animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}