@import "../../../../mixin.less";

.step-account .step-wrapper, .dialog .limited-width.custom {
  .blue-points{
    color: @color-main-purple;
    font-size: 32px;
  }
  .money-done-img{
    max-width: 220px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .continue-btn {
    margin-top: 13px;
    @media (max-width: @screen-xs) {
      margin-top: 0px;
    }
  }
  .done {
    p.congrats{
      margin-bottom: 8px;

    }
    h1 {
      margin-bottom: 26px;
      color: @color-main-purple;
      font-size: 26px;
    }
    .congrats-heading{
      color: @color-main-purple;
      font-size: 26px;
      margin-bottom: 1px;
    }
    .continue-btn {
      margin-top: 100px;
    }
  }

  .input-wrapper {
    margin-top: 30px;
    @media (max-width: @screen-xs) {
      margin-top: 0px;
    }
    input {
      margin-top: 0;
      padding-left: 52px;

      ~ i {
        position: absolute;
        top: 14px;
        left: 16px;
      }
    }
  }

  .small-button{
    box-shadow: none;
    outline: none;
    .sbf-copy{color: @color-main-purple;}
  }


}

.overlay.overlay--active:before {  
  @media (max-width: @screen-xs) {
    opacity: 1;
  }
}