@import "../../../../mixin.less";

.step-account .step-wrapper {
  .continue-btn {
    margin-top: 50px;
  }

  .done {
    h1 {
      margin-bottom: 6px;
    }
    .continue-btn {
      margin-top: 140px;
    }
  }

  .input-wrapper {
    margin-top: 30px;
    input {
      margin-top: 0;
      padding-left: 52px;

      ~ i {
        position: absolute;
        top: 14px;
        left: 16px;
      }
    }
  }
}