@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div style="display:flex;justify-content: center;align-items: center;max-width: 600px;margin: 100px auto;flex-direction: column;padding:60px;box-shadow:0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12)">
    <h2>Welcome to admin dashboard</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>


@section head
{
    <meta name="google-signin-client_id" content="341737442078-ajaf5f42pajkosgu9p3i1bcvgibvicbq.apps.googleusercontent.com">
}
@section scripts
{
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'account/logInGoogle');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    location.href="/";
                }
                if (xhr.status === 401) {
                    alert("unauthorized");
                }
            };
            xhr.send(JSON.stringify({
                token: id_token
            }));
        }
    </script>
    
}