<md-dialog style="background:black">
    <md-toolbar>
        <md-button class="close" ng-click="sd.close()">
            <md-icon md-svg-icon="t:close"></md-icon>
        </md-button>
        <h1>Promote flashcard set</h1>
    </md-toolbar>
    <md-dialog-content >
        <span>share with others</span>
        <div>
            <button type="button" ng-click="sd.twitter()">Twitter</button>
            <button type="button" ng-click="sd.facebook()">Facebook</button>
            <button type="button" ng-click="sd.whatsapp()">Whatsapp</button>
        </div>
        <hr />
        <span>Copy this short url to share</span>
        <input id="shareUrl" type="text" ng-model="sd.url"/>
        <button type="button" ngclipboard data-clipboard-target="#shareUrl">Copy link</button>
    </md-dialog-content>
</md-dialog>
