<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <dataCacheClients>
    <dataCacheClient name="default">
      <!--<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="100000" />-->
      <hosts>
        <host name="ZbangZbox.cache.windows.net" cachePort="22233" />
      </hosts>
      <securityProperties mode="Message">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vemJhbmd6Ym94LWNhY2hlLmFjY2Vzc2NvbnRyb2wud2luZG93cy5uZXQvV1JBUHYwLjkvJm93bmVyJmdxRDFrQ2p3ZUJBR3h3TzJrck85dndyOE9EYm1hZFZiTVVOV21wY2xjMHM9Jmh0dHA6Ly9aYmFuZ1pib3guY2FjaGUud2luZG93cy5uZXQ="></messageSecurity>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">

    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>

      <property name="connection.connection_string_name">ZBox</property>

      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="use_proxy_validator">false</property>
      <property name="default_schema">Zbox</property>
      <property name="show_sql">false</property>
      <property name="hbm2ddl.auto">update</property>
      <mapping assembly="Zbang.Zbox.Domain" />
      <mapping assembly="Zbang.Zbox.ViewModel" />

    </session-factory>

  </hibernate-configuration>
  

  <!--  To collect diagnostic traces, uncomment the section below.  
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments. 
   -->
  <system.diagnostics>
  <trace>
    <listeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        <filter type="" />
      </add>
    </listeners>
  </trace>
  </system.diagnostics>

  <connectionStrings>

    <!--SQL Azure ZBang's  Account -->
    <!--<add name="ZBox" connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBox;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />-->
    <add name="ZBox"
          connectionString="Data Source=(local);Initial Catalog=ZBox;Integrated Security=SSPI;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataCache" value="RamComputer" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2097151" maxQueryStringLength="2097151"/>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ZBox"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Zbox" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" />
    </authentication>
    <machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="06A793D354081A18ECA003C3CB494CF5A872BD8C9DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" />

  </system.web>

  <system.web.extensions>

    <scripting>
      <webServices>
        <!-- requireSSL should be true -->
        <authenticationService enabled="true" requireSSL="false" />
      </webServices>
    </scripting>

  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment  aspNetCompatibilityEnabled="true" />    
    <behaviors>
      <endpointBehaviors>
        <behavior name="webhttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Zbox.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>      
    </behaviors>
    <services>
      <service name="System.Web.ApplicationServices.AuthenticationService"
              behaviorConfiguration="AuthenticationServiceTypeBehaviors">

        <endpoint contract="System.Web.ApplicationServices.AuthenticationService" binding="basicHttpBinding"
                  bindingConfiguration="Authorize"
                  bindingNamespace="http://asp.net/ApplicationServices/v200"/>
      </service>
      
      <service name="Zbang.Zbox.WCFServiceWebRole.WcfZboxService" behaviorConfiguration="Zbox.ServiceBehavior" >        
        <endpoint binding="basicHttpBinding" bindingConfiguration="userHttps"
                  contract="Zbang.Zbox.WCFServiceWebRole.IWcfZboxService" />
        
      </service>
    </services>
    <bindings>      
      <basicHttpBinding>
        <binding name="Authorize" messageEncoding="Text" textEncoding="utf-8">
          <security mode="None" />
        </binding>
        <binding name="userHttps" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
