<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="ZBox" connectionString="Server=tcp:sb-dev.database.windows.net,1433;Initial Catalog=ZboxNew_Develop;Persist Security Info=False;User ID=sb-dev;Password=Pa$$W0rd123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="ZBoxProd" connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBoxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="MailGun" connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=spamgun;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;Asynchronous Processing=True;Connection Timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AzureSearchKey" value="5B0433BFBBE625C9D60F7330CFF103F0" />
    <add key="AzureSearchServiceName" value="cloudents" />
    <add key="ServiceBus" value="Endpoint=sb://spitball-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=CACOBTEeKVemCY7ScVBHYXBwDkClQcCKUW7QGq8dNfA="/>
    <add key="Redis" value="sb-dev.redis.cache.windows.net:6380,password=SggEokcdmQnaS5RFkkl5js4nV0LLXjvXEypeEEFCAo8=,ssl=True,abortConnect=False" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=spitballdev;AccountKey=fEzJ1MJZyIQMCoGRK/8lnwCHRLm3A3g0+ZnvoIxed7Bl5MlWw/FkbPKrDhCIlWzasWVCK6q0U4HQZ3qCLnXelg==;EndpointSuffix=core.windows.net" />
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />-->

    <add key="StorageConnectionStringProd" value ="DefaultEndpointsProtocol=https;AccountName=zboxstorage;AccountKey=HQQ2v9EJ0E+7WpkraKJwGyQ7pZ/yXK6YclCeA3e4bki1GnQoTJSNVXDtBZa/5tuEMgzczqgrH9VztfFaNxyiiw=="/>
  </appSettings>

  <log4net>
    <!--<appender name="NHibernateLogFile" type="log4net.Appender.FileAppender">
    <file value="C:/temp/Logs/NHibernate.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss.fff}%m%n==========%n" />
    </layout>
  </appender>
  <appender name="NHibernateLogFile2" type="log4net.Appender.FileAppender">
    <file value="C:/temp/Logs/NHibernate-sql.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss.fff}%m%n==========%n" />
    </layout>
  </appender>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss.ffff} [%thread] %level %logger%exception - %message%newline" />
    </layout>
  </appender>-->
    <appender name="DebugSQL" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--<logger name="NHibernate" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="DebugSQL" />
  </logger>-->
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="DebugSQL" />
    </logger>
    <root>
      <level value="ALL" />
    </root>
    <!--<appender name="trace"
            type="log4net.Appender.TraceAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern"
             value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
  </appender>

  <appender name="console"
            type="log4net.Appender.ConsoleAppender, log4net">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern"
             value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
  </appender>

  <appender name="rollingFile"
            type="log4net.Appender.RollingFileAppender,log4net" >

    <param name="File" value="C:/temp/Logs/NHibernate.log" />
    <param name="AppendToFile" value="false" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyy.MM.dd" />
    <param name="StaticLogFileName" value="true" />

    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern"
             value="%d [%t] %-5p %c - %m%n" />
    </layout>
  </appender>

  -->
    <!-- Setup the root category, add the appenders and set the default priority -->
    <!--
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="console" />
  </root>-->
  </log4net>
</configuration>