<section class="fbRegister">
    <h1>Welcome to Cloudents</h1>
    <div>Please complete registration by filling in the following information</div>

    <input type="search" class="searchInput" ng-keyup="search()" ng-blur="searchFocusOut()" ng-focus="searchFocus()" name="query" required ng-model="formData.query" />
    <button class="searchBtn" type="submit" ng-disabled="newSearch.query.$invalid">
        @Html.Svg("~/Images/Defs.svg", "search", new { @class = "svg-search" })
    </button>

    <form class="" ng-submit="fullSearch(newSearch.$valid)" novalidate>
        <input class="searchInput" placeholder="Search for your school" ng-keyup="search()"
               ng-blur="searchFocusOut()" ng-focus="searchFocus()" type="search" name="query" required ng-model="formData.query" />
        <button class="searchBtn" type="submit" ng-disabled="newSearch.query.$invalid">
            @Html.Svg("~/Images/Defs.svg", "search", new { @class = "svg-search ltr" })
        </button>
    </form>

    <ul class="recommended">
        <li>
            <img src="" width="53" height="53" />
        </li>
    </ul>

    <ul class="searchResults">

    </ul>
</section>