<template >
    <div id='sections'>
        Yifat
        <div class="overlay" v-show="isOpen" v-click="isOpen=false"></div>
        <app-aside :is-open="true"></app-aside>
    <!--<AppHeader></AppHeader>
    <section>
        <input id="menu-checkbox" type="checkbox" class="hide_641" v-model="isOpen" v-class="{'section-open':sectionOpen}" />
        
        <div class="content"></div>
    </section>-->
        </div>
</template>
<style src="./sections.less" lang="less"></style>
<!--<script src="./sections.js"></script>-->

