@using Zbang.Zbox.Mvc3WebRole.Views.Shared.Resources

<div class="popupWrppr confirm txtshd1" id="ConfirmPop">
    <header class="popupHeader popupGradient"></header>
    <div class="message"></div>
    
    <input type="submit" class="btn1 next"/>
    <input type="button" class="btn2 cancel" value="@UploadDialogResources.Cancel" />
    
    <button class="closeDialog shareSprite"></button>
</div>