@using Zbang.Zbox.Mvc3WebRole.Views.Global.Resources

<div id="regPopup">
    <div class="joinNow">@RegisterPopupResources.JoinNow</div>
    <div>@RegisterPopupResources.SignUpAsMember</div>
    <div class="regPopupBtns">
        <button class="btn2" id="signUpNow">@RegisterPopupResources.SignUpNow</button>
        <button id="joinLater" class="btn3">@RegisterPopupResources.OrJoinLater</button>
    </div>
</div>
