<script type="text/ng-template" id="userboxes.html">
    this is a text
</script>
<div class="page-head">
    <div class="page-title">
        <h1>user page </h1>
    </div>
</div>
<div class="row userPage">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width: 250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="150" height="150"></user-image>
                </div>
                <div class="profile-usertitle">
                    <h3 class="profile-usertitle-name">
                        {{::u.details.name}}
                    </h3>
                    <h4 class="profile-usertitle-job">
                        {{::u.details.universityName}}
                    </h4>
                </div>
            </div>
            <div>
                <h5 count-up id="points" end-val="{{u.details.score}}" duration="3"></h5>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <ul class="nav nav-tabs tabbable">
                            <li ng-class="{active: s.tab === 'b'}">
                                <button type="button" ng-click="s.tab = 'b'">
                                    <h6>Classes</h6> 4
                                </button>
                            </li>
                            <li ng-class="{active: s.tab === 'i'}">
                                <button type="button" ng-click="s.tab = 'i'"><h6>Classes</h6> 4</button>
                            </li>
                            <li ng-class="{active: s.tab === 'q'}">
                                <button type="button" ng-click="s.tab = 'q'"><h6>Classes</h6> 4</button>
                            </li>
                            <li ng-class="{active: s.tab === 'q'}">
                                <button type="button" ng-click="s.tab = 'q'"><h6>Classes</h6> 4</button>
                            </li>
                            <li ng-class="{active: s.tab === 'q'}">
                                <button type="button" ng-click="s.tab = 'q'"><h6>Classes</h6> 4</button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
