<script type="text/ng-template" id="userboxes.html">
    this is a text
</script>
<div class="page-head">
    <div class="page-title">
        <h1>user page </h1>
    </div>
</div>
<div class="row userPage">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width: 250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="150" height="150"></user-image>
                </div>
                <div class="profile-usertitle">
                    <h3 class="profile-usertitle-name">
                        {{::u.details.name}}
                    </h3>
                    <h4 class="profile-usertitle-job">
                        {{::u.details.universityName}}
                    </h4>
                </div>
            </div>
            <div class="points-container">
                <h5 count-up id="points" end-val="{{u.details.score}}" duration="3"></h5>
                <h5>points</h5>
            </div>
            <div class="points-awards">
                <span class="earn">Earn points by:</span>
                <hr />
                <ul class="list-unstyled">
                    <li>300 pts Creating a quiz</li>
                    <li>150 pts Each accepted invite</li>
                    <li>50 pts Each accepted invite to course</li>
                    <li>100 pts Upload an item to a course</li>
                    <li>100 pts Answering a question</li>
                    <li>50 pts Asking a question</li>
                    <li>150 pts Receiving a 5 star rating</li>
                    <li>100 pts Receiving a 4 star rating</li>
                    <li>50 pts Receiving a 3 star rating</li>
                    <li>50 pts Sharing on FB</li>
                </ul>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <ul class="nav nav-tabs tabbable">
                            <li ng-class="{active: u.tab === u.state.box}">
                                <button type="button" ng-click="u.changeTab(u.state.box)">
                                    <h3 class="text-capitalize">Classes</h3> {{::u.details.numClass | megaNumber}}
                                </button>
                            </li>
                            <li ng-class="{active:u.tab === u.state.item}">
                                <button type="button" ng-click="u.changeTab(u.state.item)"><h3 class="text-capitalize">uploads</h3> {{::u.details.numItem | megaNumber}}</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.post}">
                                <button type="button" ng-click="u.changeTab(u.state.post)"><h3 class="text-capitalize">posts</h3> {{::u.details.numFeed | megaNumber}}</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.quiz}">
                                <button type="button" ng-click="u.changeTab(u.state.quiz)"><h3 class="text-capitalize">quizzes</h3> {{::u.details.numQuiz | megaNumber}}</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.friend}">
                                <button type="button" ng-click="u.changeTab(u.state.friend)"><h3 class="text-capitalize">friends</h3> {{::u.details.numFriend | megaNumber}}</button>
                            </li>
                        </ul>
                    </div>
                    <div class="row" infinite-scroll="u.myPagingFunction()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
                        <div class="{{u.bootstrapClass}}" ng-repeat="e in u.elements" ng-include="u.template()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="user-feed-template.html">
    <a class="posts" href="{{::e.url}}">
        <div>
            <span class="post-headline" d-color="{{::e.boxName.length}}">{{::e.boxName}}</span>
            <span class="post-content">{{::e.content}}</span>
        </div>
        <span class="time-ago">{{::e.creationTime | date : 'MMM d,yyyy H:m'}}</span>
    </a>
</script>
