<script type="text/ng-template" id="userboxes.html">
    this is a text
</script>
<div class="page-head">
    <div class="page-title">
        <h1>user page </h1>
    </div>
</div>
<div class="row userPage">
    <div class="col-md-12">
        <div class="profile-sidebar" style="width: 250px;">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile-userpic">
                    <user-image ng-if="u.details" class="img-responsive" name="u.details.name" image="u.details.image" width="150" height="150"></user-image>
                </div>
                <div class="profile-usertitle">
                    <h3 class="profile-usertitle-name">
                        {{::u.details.name}}
                    </h3>
                    <h4 class="profile-usertitle-job">
                        {{::u.details.universityName}}
                    </h4>
                </div>
            </div>
            <div>
                <h5 count-up id="points" end-val="{{u.details.score}}" duration="3"></h5>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <ul class="nav nav-tabs tabbable">
                            <li ng-class="{active: u.tab === u.state.box}">
                                <button type="button" ng-click="u.changeTab(u.state.box)">
                                    <h3>Classes</h3> 4
                                </button>
                            </li>
                            <li ng-class="{active:u.tab === u.state.item}">
                                <button type="button" ng-click="u.changeTab(u.state.item)"><h3>uploads</h3> 4</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.post}">
                                <button type="button" ng-click="u.changeTab(u.state.post)"><h3>posts</h3> 4</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.quiz}">
                                <button type="button" ng-click="u.changeTab(u.state.quiz)"><h3>quizzes</h3> 4</button>
                            </li>
                            <li ng-class="{active: u.tab === u.state.friend}">
                                <button type="button" ng-click="u.changeTab(u.state.friend)"><h3>friends</h3> 4</button>
                            </li>
                        </ul>
                    </div>
                    <div ng-repeat="e in u.elements" ng-include="u.template()"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="user-feed-template.html">
    this is a feed template
</script>
