@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
@*<script type="text/ng-template" id="user-item.html">*@
<div @*ng-switch-when="u"*@>
    <div layout="row" layout-padding layout-fill layout-wrap srph-infinite-scroll="i.item()">
        <div flex-xs="50" flex-xl="15" flex="20" flex-sm="33" flex-md="33" class="file angular-animate fade-in-repeat i-q-wrapper" ng-repeat="e in i.files">
            <div ng-include="'item-template.html'"></div>
            <md-menu class="item-menu">
                <md-button aria-label="open menu" class="md-icon-button delete" ng-click="app.openMenu($mdOpenMenu, $event)" ga-track-event="['user-uploads', 'deleteFile']">
                    <md-icon md-svg-icon="t:ThreeDots" class="dots-3"></md-icon>
                </md-button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-href="{{::e.downloadLink}}" @*ng-click="u.downloadItem()"*@ target="_blank" ga-track-event="['user-uploads', 'download']">
                            <span ng-if="::e.type!=='Link'">@ItemsResources.Download</span>
                            <span ng-if="::e.type==='Link'">@GeneralResources.View</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="::u.isUserProfile">
                        <md-button ng-click="i.deleteItem($event,e)" ga-track-event="['user-items', 'didDelete']">
                            @GeneralResources.Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>
@*</script>*@