@import "../../../mixin.less";

.content-message{
    border-radius: 4px;
    background-color: #f6f6f6;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

    .header{       
        height: 54px;
        background-color: @color-white;      
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 10px 13px 17px;    
        
    }


    .container-message{
        
        background: url("./../img/chat-background.png") repeat;
        background-color: #f0f0f0;
        background-size: cover;
        display: flex;

        min-height: ~"calc(100vh - 200px - 55px - 68px)";
        max-height: ~"calc(100vh - 200px - 55px - 68px)";

        @media(max-width: @screen-xs){
            min-height: ~"calc(100vh - 48px - 55px - 68px)";
            max-height: ~"calc(100vh - 48px - 55px - 68px)";
          }

        .no-messages{
            margin: auto;
            width: 100%;
            height: 300px;
            text-align: center;
            overflow: hidden;

            p{
                font-size: 20px;
                font-weight: bold;
                line-height: 1.25;
                color: @color-main-purple;
            }
        }

        ul{
            list-style: none;
            margin: 20px 0;
            padding: 0;
            width: 100%;
            overflow-y: auto;

            li{
                margin-bottom: 20px;
                overflow: hidden;

                .text{
                    background: @color-white;
                    border-radius: 0px 15px 15px 15px;
                    float: left;
                    margin: 0 20px 0;
                    padding: 8px 17px 8px;
                    position: relative;       
                    word-break: break-all;         

                    p{
                        color: #4a4a4a;
                        margin: 0;
                        font-size: 14px;
                    }

                    .time{    
                        color: #80919e;
                        font-size: 10px;
                    }
                }

                &.my-message{
                    .text{
                        border-radius: 15px 0px 15px 15px;
                        background-color: #9ccdff;
                        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
                        float: right;
                    }
                }
            }
        }
    }

    .bottom-chat{
        background-color: #d8d8d8;
        padding: 9px 8px;
        height: 65px;

        .form-message{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 5px 6px 0 14px;
            border-radius: 4px;
            background-color: @color-white;
            height: 100%;
    
            input[type="text"]{
                outline: none;
                width: ~"calc(100% - 55px)";
                height: 33px;
                font-size: 16px;
                color: #5d5d5d;
                letter-spacing: -0.9px;
                
            }
            .send-btn{              
                font-size: 14px;
                font-weight: bold;
                color: @color-white;
                height: 33px;
                width: 49px;
                border-radius: 4px;
                background-color: @color-main-purple; 
            }
        }
    }
    
}

