@import "../../mixin.less";

.features {
    color: white;
    text-align: center;
    margin-top: 98px;
    max-width: 1128px;

    @media(max-width: 600px) {
        margin-top: 16px;
    }


    h3 {
        font-weight: bold;
        line-height: normal;
    }

    .feature {
        @media(min-width: 600px) {
            max-width: 340px;
        }

        .icon-wrapper {
            height: 64px;
            margin-bottom: 12px;

            @media(max-width: 600px) {
                height: 50px;
            }
        }

        svg {
            fill: #302eb5;
        }

        &.document {
            svg {
                transform: rotate(-15deg);
                width: 54px;
                height: auto;

                @media(max-width: 600px) {
                    width: 28px;
                }
            }
        }

        &.textbook {
            svg {
                width: 68px;
                height: auto;

                @media(max-width: 600px) {
                    width: 32px;
                    padding-top: 6px;
                }
            }
        }

        &.homework {
            svg {
                transform: rotate(-12.5deg);
                width: 60px;
                height: auto;
                margin-top: -14px;
                margin-left: -20px;

                @media(max-width: 600px) {
                    width: 26px;
                    padding-bottom: 12px;
                }
            }
        }

        .wrapper {
            @media(max-width: 600px) {
                flex-wrap: nowrap;
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

    .data {
        font-size: 18px;
        letter-spacing: -0.3px;

        @media(max-width: 600px) {
            font-size: 14px;

            h3, p {
                margin: 0
            }
        }

        h3 {
            letter-spacing: -1.4px;
            font-size: 20px;
            font-weight: 600;
            color: #302eb5;
        }
        /*h3, p {
            font-size: inherit;
        }*/
        p {
            color: #4a4a4a;
            line-height: 1.65;
            font-size: 16px;
            //font-weight: 100;
        }
    }
}
