.h-p-header {
    
    &.toolbar {
        background-color: transparent;
        }

    &.scroll {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    .toolbar__content {
        max-width: 1280px;
        margin: 0 auto;
    }

    .link-menu {
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #302eb5;
        text-transform: capitalize;
    }
}
