@import "../../mixin.less";

@maxWidth959: 768px;

.h-p-header {
z-index: 4;
    &.toolbar {
        background-color: #f0f0f0;
    }

    &.scroll {
        @media (min-width: @screen-sm) {
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5) !important;
        }
    }

    .toolbar__title {
        .inTheMiddle();
    }

    .toolbar__extension {
        @media(max-width: @screen-sm) {
            padding: 0 8px;
        }
    }

    .toolbar__content {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 20px;

        @media(max-width: @screen-sm) {
            max-width: @maxWidth959;
            padding-left: 0;
        }

        .btn__content {
            padding: 0 20px 4px 20px;
        }
    }

    .spacing {
        width: 30px;
    }

    .link-menu {
        font-size: 14px;
        letter-spacing: -0.3px;
        color: #302eb5;
        text-transform: capitalize;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to  {
        opacity: 0
    }


    /*.sbf-3-dot {
        color: #3293F6;
    }*/

    .logo {
        margin-right: 10px;
        fill: #3532D5;

        @media(max-width: @screen-sm) {
            width:114px;
            height:23px;
        }
    }
}
