@import "../../mixin.less";



.h-p {
    &.wrapper {
        width: 100%;
        background: #fff;
    }

    .header {
    }
    /*.limited-width {
        max-width: 1280px;
        margin: 0 auto;
    }*/
    /*.mic {
    .flexSameSize();
}*/
    .box-header {
        /*background: @color-blue url("./img/doodels.png") no-repeat 50% 50%;*/
        //background-image: linear-gradient(317deg, #3293f6, #3023ae);
        background-image: linear-gradient(to top, #d1e3f6, #f0f0f0 41%, #f0f0f0);
        background-size: cover;
        padding-bottom: 24px;

        @media(max-width: 960px) {
            padding-bottom: 88px;
        }
        /*.logo-wrapper {
            .flexSameSize();
            padding: 12px 12px 10px 12px;
            border-radius: 0 0 8px 8px;
            margin-left: 36px;
            .inTheMiddle();

            /*.logo {
                width: 165px;
                // fill: @color-blue;
            }

            @media(max-width:600px) {
                background: none;
                margin: 2px 0 0 0;
                align-items: flex-start;

                .logo {
                    width: 100px;
                    fill: white;
                }
            }
        }*/
        /*header {
            li {
                float: left;
                list-style: none;
            }

            nav a {
                color: #302eb5;
                font-size: 14px;
                padding-left: 34px;
                letter-spacing: -0.3px;
            }
        }*/
        > .container {
            padding: 0;
        }

        .box-inner-header {
            color: #302eb5;
            text-align: center;

            .box-title {
                font-size: 50px;
                line-height: normal;
                padding: 38px 0 5px;
                font-weight: 300;
                letter-spacing: -0.5px;


                @media(max-width:600px) {
                    font-size: 40px;
                    margin-top: 20px;
                }
            }

            h4 {
                font-size: 24px;
                line-height: normal;
                margin: 0 0 54px;
                letter-spacing: -0.4px;
                font-weight: 300;

                b {
                    font-weight: 700;
                }
            }
        }
    }



    .box-small-container {
        margin: 0 auto;
        max-width: 800px;
    }

    .websites-section {
        padding: 8px;
        background-image: linear-gradient(to bottom, #ffffff, rgba(182,215,250,0.5));

        .websites {
            padding: 18px 0 0;
        }

        .logos {
            padding: 38px 0 22px 0;
        }

        h2 {
            font-size: 16px;
            font-weight: normal;

            @media(max-width: 600px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
            padding-bottom: 0;

            @media(max-width: 600px) {
                font-size: 16px;
            }
        }

        .site img {
            padding: 8px;

            @media(max-width: 960px) {
                width: 80%;
            }
        }
    }

    .box-section {
        margin: 20px 0 0;
        position: relative;

        .title {
            display: block;
            font-size: 30px !important;
            padding: 56px 0 12px !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            img {
                vertical-align: middle;
            }
        }

        .demo-icon {
            font-size: 41px;
        }

        p {
            color: @color-grey;
            font-size: 20px;
        }
    }

    .img img {
        display: block;
        height: auto;
        width: auto;
        max-width: 100%;
    }

    .box-class-materials {
        background: url("./img/cm-image.png") no-repeat top right;

        .title {
            color: @color-dark-purple;
        }

        p {
            padding: 0;
        }
    }
    /*.vertical-pink {
        .gradient (@startColor: @color-white, @endColor: @color-pink-gradient)
    }

    .vertical-purple {
        .gradient (@startColor: @color-white, @endColor: @color-purple-gradient)
    }

    .vertical-green {
        .gradient (@startColor: @color-green-gradient, @endColor: @color-white)
    }

    .vertical-orange {
        .gradient (@startColor: @color-orange-gradient, @endColor: @color-white )
    }*/
    .box-substrate {
        height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    .box-substrate .md6 {
        height: 100%;
        position: absolute;
        top: 0;
        width: calc(~'50% - 10px');
    }

    .box-substrate .vertical-orange {
        right: 0;
    }

    .up-box {
        position: relative;
        z-index: 1;
    }

    .box-tutors {
        background: url("./img/tutors-image.png") no-repeat top right 10px;
        padding: 0 15px 0 60px;

        .title {
            color: @color-green;
            padding: 145px 0 0 !important;
        }
    }

    .box-jobs {
        background: url("./img/jobs-image.png") no-repeat top right;
        padding: 0 15px 0 60px;

        .title {
            color: @color-orange;
            padding: 145px 0 0 !important;
        }
    }

    .box-textbooks {
        background: url("./img/textbooks-image.png") no-repeat top right;

        .title {
            color: @color-purple;
            padding: 90px 0 0 !important;
        }

        p {
            padding: 0;
        }
    }

    .testimonials {
        background: @color-light-grey-2;
        padding: 0;
        text-align: center;

        @media(max-width: 600px) {
            padding: 0;
        }

        .carousel {
            // height: auto;
            box-shadow: none;
            margin: 0 auto;
            padding: 0;

            @media(max-width: 600px) {
                padding: 0 16px;

                .carousel__right, .carousel__left {
                    display: none;
                }
            }


            .sbf-arrow-right {
                color: #bbb !important;
            }

            .carousel__left {
                .sbf-arrow-right {
                    transform: rotate(-180deg);
                }
            }
        }

        .testimonial-text {
            font-size: 20px;
            max-width: 720px;
            padding: 0 0 40px 0;
        }

        .author {
            img {
                margin-bottom: 16px;
                width: 80px;
                height: 80px;
                border-radius: 100%
            }

            .name, .uni {
                color: @color-grey;
                font-size: 14px;
            }

            .uni {
                margin-left: 4px;
                font-weight: bold;
            }
        }
    }

    .box-websites {
        background: @color-light-grey;
        text-align: center;
        padding-bottom: 38px;

        .title {
            display: inline-block;
            font-size: 28px !important;
            line-height: normal !important;
            color: @color-grey;
            margin: 0 0 35px;
            white-space: normal;
        }
    }

    footer {
        background: @color-grey;
        color: @color-white;
        padding: 24px 0;

        .container {
            max-width: 960px;
        }

        @media(max-width: 600px) {
            margin: 0;
            padding: 12px 0;
        }

        a {
            color: @color-white;
        }

        .app {
            display: block;
        }

        li {
            list-style: none;
        }
    }


    .box-app {
        max-width: 460px;

        .footer-title {
            //font-family: @font-bold;
            font-size: 39px !important;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: bold;
        }

        p {
            font-size: 20px;
            margin-bottom: 46px;
            font-weight: 300;
        }
    }

    .box-links {
        max-width: 400px;

        .box-list {
            font-size: 20px;

            .title {
                //font-family: @font-bold;
                line-height: 54px !important;
                text-transform: uppercase;
                font-weight: bold;
            }

            li {
                line-height: 40px;
            }

            a {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 100;
            }
        }
    }

    .list-social-links {
        max-width: 420px;
        margin: 20px 0 0 auto;

        a {
            color: @color-white;
            font-size: 32px;
        }
    }

    @media screen and (max-width: 960px) {
        .container {
            padding: 0 40px;
            width: 100%;
        }

        .box-header {
            header {
                padding: 40px 0 0;
            }
        }

        .box-section {
            .row {
                margin: 0 !important;
            }
        }

        .box-tutors,
        .box-jobs,
        .box-textbooks,
        .box-class-materials {
            background-image: none;
            padding: 0;
            text-align: center;

            .title {
                font-size: 27px !important;
                padding: 35px 15px 9px !important;

                img {
                    height: 32px;
                }
            }

            p {
                font-size: 16px;
                padding: 0 40px;
            }

            .img {
                margin: 0 40px;

                img {
                    width: 100%;
                }
            }
        }

        .box-substrate {
            display: none;
        }

        .container.up-box {
            padding: 0;
        }

        .box-tutors {
            .gradient (@startColor: @color-green-gradient, @endColor: @color-white)
        }

        .box-jobs {
            .gradient (@startColor: @color-orange-gradient, @endColor: @color-white)
        }

        .box-websites .md2 {
            margin: 0 0 20px;
        }

        .box-app {
            .title {
                //font-family: @font-bold;
                font-size: 28px !important;
            }
        }

        .box-list {
            .title {
                //font-family: @font-bold;
                font-size: 14px !important;
                line-height: 24px !important;
            }

            li {
                line-height: 24px;
            }
        }

        footer {
            a {
                font-size: 14px;
            }

            .app {
                margin: 0 0 15px;
            }
        }

        .box-nav-circle {
            span {
                font-size: 24px;
                height: 60px;
                line-height: 56px;
                width: 60px;

                img {
                    height: 26px;
                    width: auto;
                }
            }

            img {
                display: inline-block;
                vertical-align: middle;
            }

            li {
                .hover {
                    width: 78px;
                }
            }
        }
    }


    @media screen and (max-width: 600px) {
        .container {
            padding: 0 16px;
        }
    }
}
