@import "../../mixin.less";


.box-header {
    background-image: linear-gradient(to top, #d1e3f6, #f0f0f0 41%, #f0f0f0);
    background-size: cover;
    padding-bottom: 24px;

    .box-inner-header {
        color: #302eb5;

        .box-title {
            .responsive-property(font-size, 50px, null, 36px);
            line-height: normal;
            padding: 16px 0 5px;
            font-weight: 300;
            letter-spacing: -0.5px;
        }

        h4 {
            .responsive-property(font-size, 24px, 24px, 16px);
            .responsive-property(letter-spacing, -0.4px, -0.3px, null);
            .responsive-property(margin-bottom, 36px, 0px, null);
            letter-spacing: -0.4px;
            font-weight: 300;

            b {
                font-weight: 600;
            }
        }
    }
}

.box-small-container {
    margin: 0 auto;
    max-width: 800px;
}

.websites-section {
    background-image: linear-gradient(to bottom, #ffffff, #DBEBFC);


    h2, p {
        padding: 0 32px;
        font-weight: normal;
        font-size: 16px;
        color: @color-grey;
    }

    .site img {
        .responsive-property(padding-top, 16px, null, 20px);
        .responsive-property(padding-bottom, 16px, null, 20px);
    }

    .logos {
        min-height: 128px;
    }
}

.testimonials {
    background: @color-light-grey-2;
    padding: 0;
    text-align: center;

    .carousel {
        height: 376px;
        box-shadow: none;
        margin: 0 auto;
        padding: 0;
        max-width: 1280px;
        position: relative;


        @media(max-width: @screen-xs) {
            margin: 0 16px;
            max-width: ~"calc(100% - 32px)";

            .carousel__right, .carousel__left {
                display: none;
            }
        }


        .sbf-arrow-right {
            color: #bbb !important;
        }

        .carousel__left {
            left: 62px;

            .sbf-arrow-right {
                transform: rotate(-180deg);
            }
        }

        .carousel__right {
            right: 62px;
        }

        .carousel__left, .carousel__right {
            top: 57%;

            .btn i {
                font-size: 40px;
            }
        }

        .carousel__item {
            &:nth-child(6n+3) .testimonial-image {
                background-position: -2px -2px;
            }
        }

        .carousel__item {
            &:nth-child(6n+4) .testimonial-image {
                background-position: -2px -86px;
            }
        }

        .carousel__item {
            &:nth-child(6n+5) .testimonial-image {
                background-position: -2px -168px;
            }
        }

        .carousel__item {
            &:nth-child(6n+6) .testimonial-image {
                background-position: -2px -250px;
            }
        }

        .fade-animation {
            &-enter-active, &-leave-active, &-leave-to {
                transition: .3s ease-out;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                opacity: 1;
            }

            &-enter, &-leave, &-leave-to {
                opacity: 0;
            }
        }
    }

    .testimonial-text {
        .responsive-property(font-size, 20px, 20px,16px);
        max-width: 720px;
        letter-spacing: -0.4px;
        line-height: 33px;
        padding: 0 0 22px 0;
        color: @color-grey;
    }

    .author {
        .testimonial-image {
            margin: 0 auto 16px auto;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-image: url('./img/testimonials-combined.jpg');
            background-size: 84px;
        }

        .name, .uni {
            color: @color-grey;
            font-size: 14px;
        }

        .uni {
            margin-left: 4px;
            font-weight: bold;
        }
    }
}


footer {
    background: @color-grey;
    color: white;

    .footer-content {
        margin: 0 auto;
        .responsive-property(max-width, 952px, 796px, null);
        .responsive-property(padding-right, 32px, 8px, 8px);
        .responsive-property(padding-left, 32px, 8px, 8px);


        .footer-title {
            .responsive-property(font-size, 40px, 32px, 28px);
            font-weight: 600;
        }

        p {
            .responsive-property(font-size, 20px, 16px, null);
            font-weight: 300;
            max-width: 440px;
            .responsive-property(margin-bottom, 45px, 27px, 16px);
        }

        .box-list {
            flex-grow: 0;

            .list-title, ul li {
                .responsive-property(font-size, 20px, 16px, 14px);
                .responsive-property(line-height, 2.44, 24px, 24px);
                letter-spacing: -0.3px;
            }

            .list-title {
                font-weight: bold;
                .responsive-property(line-height, 42px, 24px, 24px);
                .responsive-property(margin-top, 8px, null, null);
            }

            ul {
                list-style: none;
                font-weight: 100;

                li {
                    line-height: 1.95;

                    a {
                        color: white;
                    }
                }
            }

            .list-social-links {
                max-width: 380px;
            }
        }
    }

    .social-icon {
        fill: #fff;
    }
}

.limited-width {
    .responsive-property(max-width, 1280px, 768px, 375px);
    margin: 0 auto;
}
