@import "../../mixin.less";
.box-header {
    background: @color-blue url("./img/doodels.png") no-repeat 50% 50%;
    background-size: cover;
    padding-bottom: 128px;

    header {
        padding: 40px 40px 0;

        li {
            float: left;
            list-style: none;
        }

        nav a {
            color: @color-white;
            font-size: 14px;
            padding-left: 34px;
        }
    }

    .box-inner-header {
        color: @color-white;
        text-align: center;

        .title {
            //font-family: @font-bold;
            font-size: 30px !important;
            line-height: normal !important;
            margin: 113px 0 4px;
        }

        .sub-title {
            font-size: 24px;
            line-height: normal;
            margin: 0 0 30px;
        }
    }
}

.box-search {
    background: rgba(255,255,255, 0.3);
    margin: 0 0 60px;
    .rounded-all(4px);
    padding: 16px;
    position: relative;

    input,
    button[type="submit"] {
        border: none;
        display: inline-block;
        height: 48px;
        font-size: 20px;
    }

    input::-webkit-input-placeholder {
        color: @color-blue;
    }

    input::-moz-placeholder {
        color: @color-blue;
    }

    input:-ms-input-placeholder {
        color: @color-blue;
    }

    input:-moz-placeholder {
        color: @color-blue;
    }

    input[type="text"] {
        background: #fff;
        color: @color-blue;
        .rounded-all(4px);
        padding: 0 60px 0 20px;
        width: calc(~'100% - 180px');
    }

    button[type="submit"] {
        background: @color-dark-blue;
        color: @color-white;
        //font-family: @font-bold;
        margin: 0 0 0 20px;
        padding: 0 24px;
        width: 140px;
        .rounded-all(4px);
    }

    .demo-icon-mic {
        background: transparent;
        border: none;
        color: @color-blue;
        font-size: 27px;
        padding: 0;
        position: absolute;
        right: 200px;
        top: 16px;
        line-height: 48px;

        &:hover {
            cursor: pointer;
        }
    }
}

.box-small-container {
    margin: 0 auto;
    max-width: 800px;
}



.box-section {
    margin: 20px 0 0;
    position: relative;

    .title {
        display: block;
        font-size: 30px !important;
        padding: 56px 0 12px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        img {
            vertical-align: middle;
        }
    }

    .demo-icon {
        font-size: 41px;
    }

    p {
        color: @color-grey;
        font-size: 20px;
        line-height: 1.65;
        height: 130px;
        margin: 0 0 40px;
        padding-right: 110px;
        overflow: hidden;
    }
}

.img img {
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
}

.box-class-materials {
    background: url("./img/cm-image.png") no-repeat top right;

    .title {
        color: @color-dark-purple;
    }

    p {
        padding: 0;
    }
}

.vertical-pink {
    .gradient (@startColor: @color-white, @endColor: @color-pink-gradient)
}

.vertical-purple {
    .gradient (@startColor: @color-white, @endColor: @color-purple-gradient)
}

.vertical-green {
    .gradient (@startColor: @color-green-gradient, @endColor: @color-white)
}

.vertical-orange {
    .gradient (@startColor: @color-orange-gradient, @endColor: @color-white )
}

.box-substrate {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.box-substrate .md6 {
    height: 100%;
    position: absolute;
    top: 0;
    width: calc(~'50% - 10px');
}

.box-substrate .vertical-orange {
    right: 0;
}

.up-box {
    position: relative;
    z-index: 1;
}

.box-tutors {
    background: url("./img/tutors-image.png") no-repeat top right 10px;
    padding: 0 15px 0 60px;

    .title {
        color: @color-green;
        padding: 145px 0 0 !important;
    }
}

.box-jobs {
    background: url("./img/jobs-image.png") no-repeat top right;
    padding: 0 15px 0 60px;

    .title {
        color: @color-orange;
        padding: 145px 0 0 !important;
    }
}

.box-textbooks {
    background: url("./img/textbooks-image.png") no-repeat top right;

    .title {
        color: @color-purple;
        padding: 90px 0 0 !important;
    }

    p {
        padding: 0;
    }
}

.box-testimonials {
    background: @color-light-grey-2;
    padding: 34px 0;
    text-align: center;

    p {
        margin: 0;
        padding: 0;
    }

    img {
        margin: 56px 0 12px;
    }

    .author span {
        color: @color-grey;
        //font-family: @font-bold;
    }
}

.box-websites {
    background: @color-light-grey;
    text-align: center;
    padding-bottom: 38px;

    .title {
        display: inline-block;
        font-size: 28px !important;
        line-height: normal !important;
        color: @color-grey;
        margin: 0 0 35px;
        white-space: normal;
    }
}

footer {
    background: @color-grey;
    color: @color-white;
    margin: 20px 0 0;
    padding: 56px 0;

    a {
        color: @color-white;
    }

    .app {
        display: block;
    }

    li {
        list-style: none;
    }

    .container {
        max-width: 926px;
    }
}

.box-app {
    .title {
        //font-family: @font-bold;
        font-size: 36px !important;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.box-list {
    font-size: 20px;

    .title {
        //font-family: @font-bold;
        line-height: 54px !important;
        text-transform: uppercase;
    }

    li {
        line-height: 40px;
    }

    a {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.box-websites {
    .flex {
        height: 58px;
        line-height: 58px;

        img {
            display: inline-block;
            max-height: 58px;
            vertical-align: middle;
        }
    }
}

.list-social-links {
    margin: 20px 0 0;

    li {
        display: inline-block;
        width: 18%;
    }

    a {
        color: @color-white;
        font-size: 32px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0 40px;
        width: 100%;
    }

    .box-header {
        header {
            padding: 40px 0 0;
        }
    }

    .box-section {
        .row {
            margin: 0 !important;
        }
    }

    .box-tutors,
    .box-jobs,
    .box-textbooks,
    .box-class-materials {
        background-image: none;
        padding: 0;
        text-align: center;

        .title {
            font-size: 27px !important;
            padding: 35px 15px 9px !important;

            img {
                height: 32px;
            }
        }

        p {
            font-size: 16px;
            padding: 0 40px;
        }

        .img {
            margin: 0 40px;

            img {
                width: 100%;
            }
        }
    }

    .box-substrate {
        display: none;
    }

    .container.up-box {
        padding: 0;
    }

    .box-tutors {
        .gradient (@startColor: @color-green-gradient, @endColor: @color-white)
    }

    .box-jobs {
        .gradient (@startColor: @color-orange-gradient, @endColor: @color-white)
    }

    .box-websites .md2 {
        margin: 0 0 20px;
    }

    .box-app {
        .title {
            //font-family: @font-bold;
            font-size: 28px !important;
        }
    }

    .box-list {
        .title {
            //font-family: @font-bold;
            font-size: 14px !important;
            line-height: 24px !important;
        }

        li {
            line-height: 24px;
        }
    }

    footer {
        a {
            font-size: 14px;
        }

        .app {
            margin: 0 0 15px;
        }
    }

    .box-nav-circle {
        span {
            font-size: 24px;
            height: 60px;
            line-height: 56px;
            width: 60px;

            img {
                height: 26px;
                width: auto;
            }
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }

        li {
            .hover {
                width: 78px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0 14px;
    }

    .box-tutors,
    .box-jobs,
    .box-textbooks,
    .box-class-materials {
        padding: 0;

        p {
            padding: 0 15px;
        }

        .img {
            margin: 0 15px;
        }
    }

    .box-search {
        background: transparent;
        padding: 0;

        input[type="text"] {
            width: 100%;
        }

        button[type="submit"] {
            display: none;
        }

        .demo-icon-mic {
            right: 20px;
            top: 0;
        }
    }
}

/*.animenu__toggle {
    background: transparent;
    display: none;
    cursor: pointer;
    border: 0;
    padding: 10px;
    height: 40px;
    width: 40px;

    &:hover {
    }
}*/

/*.animenu__toggle__bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: .15s cubic-bezier(0.75, -0.55, 0.25, 1.55);

    & + .animenu__toggle__bar {
        margin-top: 4px;
    }
}

.animenu__toggle--active {
    .animenu__toggle__bar {
        margin: 0;
        position: absolute;

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}*/

// Clear some defaults

@media screen and (max-width: 769px) {
    .box-header {
        padding-bottom: 44px;

        header {
            //position: relative;
           // z-index: 10;

            nav {
                a {
                    display: block;
                    padding-right: 34px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .sm9,
            .sm3 {
                width: 100%;
            }
        }

        .box-inner-header {
            .title {
                //font-family: @font-regular;
                font-size: 26px !important;
                line-height: normal !important;
                margin: 34px 0 0;
            }

            .sub-title {
                font-size: 20px;
            }
        }
    }

    /*.animenu {
        display: block;

        ul {
            padding: 0;
            list-style: none;
            font: 0 'Open Sans', Arial, Helvetica;
            left: 0;
            position: absolute;
            background: #fff;
            width: 100%;
            margin-top: 8px;
        }

        li, a {
            display: inline-block;
            font-size: 15px;
            color: @color-blue !important;
            line-height: 45px;
        }

        a {
            text-decoration: none;
        }
    }*/

    // First level -> main menu items
    // <nav class="animenu">
    //    <ul class="animenu__nav">
    //    ...
    //    </ul>
    //  </nav>
    /*.animenu__nav {

        > li {
            position: relative;

            > a {
                text-transform: uppercase;
                // https://bit.ly/SkmL1T & currentColor keyword
                &:first-child:nth-last-child(2):before {
                    content: "";
                    position: absolute;
                    border: 4px solid transparent;
                    border-bottom: 0;
                    border-top-color: currentColor;
                    top: 50%;
                    margin-top: -2px;
                    right: 10px;
                }
            }

            &:hover {
                > ul {
                    opacity: 1;
                    visibility: visible;
                    margin: 0;
                }

                > a {
                    color: #fff;
                }
            }
        }
    }*/

    // Second level
    // <nav class="animenu">
    //    <ul class="animenu__nav">
    //      <li>
    //        <ul class="animenu__nav__child"></ul>
    //      </li>
    //    </ul>
    //  </nav>
    /*.animenu__nav__child {
        min-width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: margin .15s, opacity .15s;
        width: 100%;

        > li {
            width: 100%;

            &:first-child::after {
                content: '';
                position: absolute;
                height: 0;
                width: 0;
                left: 1em;
                top: -6px;
                border: 6px solid transparent;
                border-top: 0;
                border-bottom-color: inherit;
            }

            &:last-child {
                border: 0;
            }
        }

        a {
            width: 100%;

            &:hover {
                color: #fff;
            }
        }
    }*/

    // The main breakpoint is 767px
    // Adjust the first and second levels display
    .logo {
        display: block;
        margin-left: 50px;
    }

    /*.animenu {
        position: absolute;
        top: 32px;
        width: auto;
        left: 0;
        right: 15px;
    }

    .animenu__toggle {
        display: inline-block;
    }

    .animenu__nav,
    .animenu__nav__child {
        display: none;
    }*/

    // First level -> main menu items
    // <nav class="animenu">
    //    <ul class="animenu__nav">
    //    ...
    //    </ul>
    //  </nav>
    /*.animenu__nav {

        > li {
            width: 100%;
            border-right: 0;

            &:last-child {
                border: 0;
            }

            &:first-child:after {
                color: @color-white;
                content: '';
                position: absolute;
                height: 0;
                width: 0;
                left: 1em;
                top: -6px;
                border: 6px solid transparent;
                border-top: 0;
                border-bottom-color: inherit;
            }

            > a {
                width: 100%;
                position: relative; //dropdown caret
            }
        }

        a:hover {
            color: #fff;
        }
    }*/

    // Second level
    // <nav class="animenu">
    //    <ul class="animenu__nav">
    //      <li>
    //        <ul class="animenu__nav__child"></ul>
    //      </li>
    //    </ul>
    //  </nav>
    /*.animenu__nav__child {
        position: static;
        background-color: @color-white;
        margin: 0;
        transition: none;
        visibility: visible;
        opacity: 1;

        > li:first-child > a:after {
            content: none;
        }

        a {
            width: 100%;
        }
    }*/
}

// Expanding the animenu
// <nav class="animenu">
//    <ul class="animenu__nav animenu__nav--open">
//      <li>
//        <ul class="animenu__nav__child"></ul>
//      </li>
//    </ul>
//  </nav>
/*.animenu__nav--open {
    display: block !important;

    & .animenu__nav__child {
        display: block;
    }
}*/
