@import "../../mixin.less";

.strips-section {
    background: white;

    .strip {
        .responsive-property(min-height,520px, 400px, null);
        .inTheMiddle;

        .strip-content {
            .responsive-property(max-width, 952px, 464px, 344px);
            .responsive-property(padding, 0px 8px, 0px 8px, 0px 8px);
        }

        &:nth-child(2n) .strip-content {
            flex-direction: row-reverse;
        }


        .description {
            .strip-title {
                @media(max-width: @screen-xs) {
                    justify-content: center;
                }

                .title-text {
                    padding-left: 12px;
                    .responsive-property(font-size, 30px, 20px, null);
                    font-weight: normal;
                    letter-spacing: -0.6px;
                }
            }

            .strip-text {
                line-height: 1.65;
                letter-spacing: -0.4px;
                color: #4a4a4a;
                .responsive-property(font-size, 20px, 16px, null);
            }
        }

        .floating-icons {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            svg {
                opacity: 0.5;

                @media(max-width: @screen-sm) {
                    width: 20%;
                    height: 20%;
                }
            }
        }

        &.documents { // Study documents
            background-image: linear-gradient(to bottom, rgba(38,0,75,0.1), rgba(249,249,249,0.1));

            .strip-title {
                .title-text {
                    color: @color-dark-purple;
                }

                svg {
                    .responsive-property(width,41px, 23px, null);
                    height: auto;
                    fill: @color-dark-purple;
                }
            }


            .floating-icons svg {
                position: absolute;
                fill: @color-dark-purple;
            }

            .icon-1 {
                .responsive-property(top, 9%, 26%, null);
                .responsive-property(left, -6%, 103%, null);

                @media(max-width: @screen-xs) {
                    transform: rotate(45deg);
                }
            }

            .icon-2 {
                .responsive-property(top, -6%, 0%, null);
                .responsive-property(right, 17%, 86%, null);
            }

            .icon-3 {
                .responsive-property(bottom, 0%, 9%, null);
                .responsive-property(right, 7%, 98%, null);
            }
        }


        &.tutors { // Tutors
            background-image: linear-gradient(to top, rgba(249,249,249,0.1) 10%, rgba(82,171,21,0.1) 98%);

            .strip-title {
                svg {
                    .responsive-property(width, 58px, 32px, null);
                    height: auto;
                    fill: @color-green;
                }

                .title-text {
                    color: @color-green;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: @color-green;
            }

            .icon-1 {
                .responsive-property(top, -5%, -5%, null);
                .responsive-property(right, 7%, -5%, null);

                @media(max-width: @screen-xs) {
                    width: 46px;
                    height: 38px;
                }
            }

            .icon-2 {
                .responsive-property(bottom, -12%, -12%, null);
                .responsive-property(right, 14%, -6%, null);
            }

            .icon-3 {
                .responsive-property(bottom, 7%, 40%, null);
                .responsive-property(left, -7.5%, -25%, null);

                @media(max-width: @screen-xs) {
                    width: 36px;
                    height: 44px;
                }
            }
        }

        &.food-deals { // Food and Deals
            background-image: linear-gradient(to bottom, rgba(44,191,165,0.1), rgba(249,249,249,0.1));

            .strip-title {
                svg {
                    .responsive-property(width, 52px, 33px, null);
                    height: auto;
                    fill: @Food;
                }

                .title-text {
                    color: @Food;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: #2CBFA5;
            }


            .icon-1 {
                .responsive-property(top, -20%, 11%, null);
                .responsive-property(left, 39%, -16%, null);

                @media(max-width: @screen-xs) {
                    width: 40px;
                    height: 40px;
                }
            }

            .icon-2 {
                .responsive-property(bottom, -11%, 81%, null);
                .responsive-property(right, -3%, -11%, null);

                @media(max-width: @screen-xs) {
                    width: 38px;
                    height: 50px;
                }
            }

            .icon-3 {
                .responsive-property(bottom, -19%, 0%, null);
                .responsive-property(left, 5%, 97%, null);

                @media(max-width: @screen-xs) {
                    width: 45px;
                    height: 35px;
                }
            }
        }

        &.textbooks { // Textbooks
            background-image: linear-gradient(to bottom, rgba(249,249,249,0.1), rgba(140,63,191,0.1));

            .strip-title {
                svg {
                    .responsive-property(width, 66px, 39px, null);
                    height: auto;
                    fill: @Textbooks;
                }

                .title-text {
                    color: @Textbooks;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: @color-purple;
            }

            .icon-1 {
                .responsive-property(top, -6.5%, -2%, null);
                .responsive-property(right, 9.5%, -20%, null);

                @media(max-width: @screen-xs) {
                    width: 34px;
                    height: 80px;
                }
            }

            .icon-2 {
                .responsive-property(bottom, -6.5%, -1%, null);
                .responsive-property(right, 18%, -18%, null);
            }

            .icon-3 {
                .responsive-property(bottom, 11%, 32%, null);
                .responsive-property(left, -18%, -25%, null);

                @media(max-width: @screen-xs) {
                    width: 40px;
                }
            }
        }
        //
        &.flashcards { // Flashcards
            background-image: linear-gradient(to top, rgba(241,77,77,0.1), rgba(249,249,249,0.1));

            .strip-title {
                svg {
                    .responsive-property(width, 62px, 37px, null);
                    height: auto;
                    fill: @Flashcards;
                }

                .title-text {
                    color: @Flashcards;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: #F14D4D;
            }

            .icon-1 {
                .responsive-property(top, 3%, 3%, null);
                .responsive-property(left, -1.5%, -20%, null);
            }

            .icon-2 {
                .responsive-property(top, -15%, 3%, null);
                .responsive-property(right, 23.5%, -18%, null);
            }

            .icon-3 {
                .responsive-property(bottom, -17%, 0%, null);
                .responsive-property(right, 53%, -19%, null);
            }
        }

        &.ask-question { // Ask a Question
            background-image: linear-gradient(to top, rgba(249,249,249,0.1), rgba(4,85,168,0.1));

            .strip-title {
                svg {
                    .responsive-property(width, 64px, 36px, null);
                    height: auto;
                    fill: @Ask-a-Question;
                }

                .title-text {
                    color: @Ask-a-Question;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: @color-dark-blue;
            }

            .icon-1 {
                .responsive-property(bottom, -7%, 8%, null);
                .responsive-property(right, 49%, -24%, null);
            }

            .icon-2 {
                .responsive-property(top, 15%, 42%, null);
                .responsive-property(right, 4%, 106%, null);

                @media(max-width: @screen-xs) {
                    width: 36px;
                    transform: rotate(-45deg);
                }
            }

            .icon-3 {
                .responsive-property(top, -13.5%, 6%, null);
                .responsive-property(left, 15.5%, 86%, null);

                @media(max-width: @screen-xs) {
                    transform: rotate(-90deg);
                }
            }
        }

        &.jobs { // Jobs
            background-image: linear-gradient(to top, rgba(245,166,35,0.1), rgba(249,249,249,0.1));

            .strip-title {
                svg {
                    .responsive-property(width, 32px, 18px, null);
                    height: auto;
                    fill: @Jobs;
                }

                .title-text {
                    color: @Jobs;
                }
            }

            .floating-icons svg {
                position: absolute;
                fill: @color-orange;
            }

            .icon-1 {
                .responsive-property(top, -7.5%, -5%, null);
                .responsive-property(left, 46%, 88%, null);

                @media(max-width: @screen-xs) {
                    width: 46px;
                    height: 40px;
                }
            }

            .icon-2 {
                .responsive-property(bottom, -18.5%, -7%, null);
                .responsive-property(right, 10%, -15%, null);

                @media(max-width: @screen-xs) {
                    width: 52px;
                    height: 52px;
                }
            }

            .icon-3 {
                .responsive-property(bottom, -17%, 36%, null);
                .responsive-property(left, 8.5%, -27%, null);

                @media(max-width: @screen-xs) {
                    width: 43px;
                    height: 38px;
                }
            }
        }

        .image-wrapper {
            .images {
                position: relative;
                .responsive-property(width,443px, 353px, 219px);

                @media(max-width: @screen-sm) {
                    margin: 0 auto;
                }
            }

            img {
                width: 100%;
            }
        }
    }
}
