@import "../../mixin.less";

.strip.container {
    padding-top: 72px;
    padding-bottom: 80px;
    margin: 0;
    max-width: 100%;
    min-height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 960px) {
        padding-top: 34px;
        padding-bottom: 20px;
        min-height: 400px;

        &:first-child {
            padding-top: 60px
        }

        .strip-content {
            flex-wrap: wrap;
        }
    }


    &:nth-child(2n) .strip-content {
        flex-direction: row-reverse;
    }


    &.documents { // Study documents
        background-image: linear-gradient(to bottom, rgba(38,0,75,0.2), rgba(249,249,249,0.2));

        .image-wrapper {
            width: 446px;
        }

        .strip-title {
            svg {
                width: 41px;
                height: auto;
                fill: @color-dark-purple;
            }
        }

        .floating-icons svg {
            fill: @color-dark-purple;
        }

        .icon-1 {
            top: 9%;
            left: -6%;
        }

        .icon-2 {
            top: -6%;
            right: 17%;
        }

        .icon-3 {
            bottom: 0;
            right: 7%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 23px;
            }

            .icon-1 {
                top: 10%;
                left: 97%;
            }

            .icon-2 {
                top: -7%;
                right: 82%;
            }

            .icon-3 {
                bottom: 6%;
                right: 98%;
            }
        }
    }

    &.tutors { // Tutors
        background-image: linear-gradient(to top, rgba(249,249,249,0.2) 10%, rgba(82,171,21,0.2) 98%);

        .image-wrapper {
            width: 452px;
        }

        .strip-title {
            svg {
                width: 58px;
                height: auto;
                fill: @color-green;
            }

            .title-text {
                color: @color-green;
            }
        }


        .floating-icons svg {
            fill: @color-green;
        }

        .icon-1 {
            top: -5%;
            right: 7%;
        }

        .icon-2 {
            bottom: -12%;
            right: 14%;
        }

        .icon-3 {
            bottom: 7%;
            left: -7.5%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 31px;
            }

            .icon-1 {
                top: -5%;
                right: -5%;
            }

            .icon-2 {
                bottom: -12%;
                right: -6%;
            }

            .icon-3 {
                bottom: 40%;
                left: -25%;
            }
        }
    }

    &.food-deals { // Food and Deals
        background-image: linear-gradient(to bottom, rgba(44,191,165,0.2), rgba(249,249,249,0.2));

        .image-wrapper {
            width: 438px;
        }

        .strip-title {
            svg {
                width: 52px;
                height: auto;
                fill: @Food;
            }

            .title-text {
                color: @Food;
            }
        }

        .floating-icons svg {
            fill: #2CBFA5;
        }


        .icon-1 {
            top: -20%;
            left: 39%;
        }

        .icon-2 {
            bottom: -11%;
            right: -3%;
        }

        .icon-3 {
            bottom: -19%;
            left: 5%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 33px;
            }

            .icon-1 {
                top: 11%;
                left: -16%;
            }

            .icon-2 {
                bottom: 81%;
                right: -8%;
            }

            .icon-3 {
                bottom: 0%;
                left: 97%;
            }
        }
    }

    &.textbooks { // Textbooks
        background-image: linear-gradient(to bottom, rgba(249,249,249,0.2), rgba(140,63,191,0.2));

        .image-wrapper {
            width: 454px;
        }

        .strip-title {
            svg {
                width: 66px;
                height: auto;
                fill: @Textbooks;
            }

            .title-text {
                color: @Textbooks;
            }
        }

        .floating-icons svg {
            fill: @color-purple;
        }

        .icon-1 {
            top: -6.5%;
            right: 9.5%;
        }

        .icon-2 {
            bottom: -6.5%;
            right: 18%;
        }

        .icon-3 {
            bottom: 11%;
            left: -18%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 39px;
            }

            .icon-1 {
                top: -2%;
                right: -20%;
            }

            .icon-2 {
                bottom: -1%;
                right: -18%;
            }

            .icon-3 {
                bottom: 32%;
                left: -25%;
            }
        }
    }

    &.flashcards { // Flashcards
        background-image: linear-gradient(to top, rgba(241,77,77,0.2), rgba(249,249,249,0.2));

        .image-wrapper {
            width: 438px;
        }

        .strip-title {
            svg {
                width: 62px;
                height: auto;
                fill: @Flashcards;
            }

            .title-text {
                color: @Flashcards;
            }
        }

        .floating-icons svg {
            fill: #F14D4D;
        }

        .icon-1 {
            top: 3%;
            left: 1.5%;
        }

        .icon-2 {
            top: -15%;
            right: 23.5%;
        }

        .icon-3 {
            bottom: -17%;
            right: 53%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 37px;
            }

            .icon-1 {
                top: 3%;
                left: -20%;
            }

            .icon-2 {
                top: 3%;
                right: -18%;
            }

            .icon-3 {
                bottom: 0%;
                right: -19%;
            }
        }
    }

    &.ask-question { // Ask a Question
        background-image: linear-gradient(to top, rgba(249,249,249,0.2), rgba(4,85,168,0.2));

        .image-wrapper {
            width: 434px;
        }

        .strip-title {
            svg {
                width: 64px;
                height: auto;
                fill: @Ask-a-Question;
            }

            .title-text {
                color: @Ask-a-Question;
            }
        }

        .floating-icons svg {
            fill: @color-dark-blue;
        }

        .icon-1 {
            bottom: -7%;
            right: 49%;
        }

        .icon-2 {
            top: 15%;
            right: 4%;
        }

        .icon-3 {
            top: -13.5%;
            left: 15.5%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 36px;
            }

            .icon-1 {
                bottom: -7%;
                right: -20%;
            }

            .icon-2 {
                top: 8%;
                right: 91%;
            }

            .icon-3 {
                top: 6%;
                left: 103%;
            }
        }
    }

    &.jobs { // Jobs
        background-image: linear-gradient(to top, rgba(245,166,35,0.2), rgba(249,249,249,0.2));

        .image-wrapper {
            width: 452px;
        }

        .strip-title {
            svg {
                width: 32px;
                height: auto;
                fill: @Jobs;
            }

            .title-text {
                color: @Jobs;
            }
        }

        .floating-icons svg {
            fill: @color-orange;
        }

        .icon-1 {
            top: -7.5%;
            left: 46%;
        }

        .icon-2 {
            bottom: -18.5%;
            right: 10%;
        }

        .icon-3 {
            bottom: -17%;
            left: 8.5%;
        }

        @media(max-width:960px) {
            .strip-title svg {
                width: 18px;
            }

            .icon-1 {
                top: -5%;
                left: 88%;
            }

            .icon-2 {
                bottom: -7%;
                right: -10%;
            }

            .icon-3 {
                bottom: 36%;
                left: -27%;
            }
        }
    }

    .image-wrapper, .description {
        flex-grow: 0;

        @media(max-width:960px) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    .image-wrapper {
        width: 446px;
        margin: 0 16px;

        @media(max-width:960px) {
            max-width: 219px;
        }

        .images {
            position: relative;
        }

        img {
            width: 100%;
        }

        .floating-icons svg {
            position: absolute;
            opacity: 0.5;

            @media(max-width: 960px) {
                width: 20%;
                height: 20%;
            }
        }
    }

    .description {
        padding: 0px 2px 8px 2px;

        @media(max-width: 960px) {
            padding: 8px 0;
        }

        .strip-title {

            @media(max-width: 960px) {
                justify-content: center;
                margin-bottom: 8px;
                margin-top: 16px;
            }

            svg {
                height: auto;
            }

            h3 {
                font-size: 30px;
                font-weight: normal;
                margin: 0 0 0 12px;
                letter-spacing: -0.6px;

                @media(max-width: 960px) {
                    font-size: 20px;
                    margin-left: 12px;
                }
            }
        }

        .strip-text {
            font-size: 20px;
            color: #4a4a4a;
            max-width: 450px;
            letter-spacing: -0.45px;
            margin: 6px 0 0 0;
            line-height: 33px;

            @media(max-width: 960px) {
                font-size: 16px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}
