/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.headerRightWpr {
  padding-left: 241px;
  /*rtl*/
  margin-left: -241px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.headerRightWpr .dashLibSearch {
  display: block;
  max-width: 550px;
  width: auto;
  height: auto;
  background: none;
  border-radius: 0;
}
.headerRightWpr .dashLibSearchInput {
  border-radius: 5px;
}
.headerRightWpr .userSection {
  margin-left: 70px;
  /*rtl*/
}
.userSection {
  line-height: 50px;
  height: 50px;
}
.headerInvites,
.feedBack,
.homeLink {
  width: 42px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
}
.headerInvites:hover,
.feedBack:hover,
.homeLink:hover {
  background: rgba(103, 103, 103, 0.45);
}
.feedBack,
.homeLink {
  width: 38px;
  position: relative;
}
.feedBack:before,
.homeLink:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 18px;
  background: #0b7843;
  vertical-align: top;
  position: absolute;
  right: -1px;
  /*rtl*/
  top: 16px;
}
.feedBack:after,
.homeLink:after {
  content: '';
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url(/Images/dash13-sprite.png) -234px -23px no-repeat;
  vertical-align: top;
}
.feedBack:hover:before,
.homeLink:hover:before {
  display: none;
}
.feedBack {
  text-align: center;
}
.feedBack:hover + .homeLink:before {
  display: none;
}
.feedBack:after {
  margin-top: 16px;
}
.homeLink {
  text-align: center;
}
.homeLink:after {
  width: 17px;
  height: 18px;
  background-position: -215px -24px;
  vertical-align: middle;
  margin-top: -2px;
}
.feedBack:hover + .headerInvites:before {
  display: none;
}
.signUp {
  display: inline-block;
  margin-right: 12px;
  /*rtl*/
}
.signUp .btn {
  display: inline-block;
  margin: 0 4px;
  font-size: 14px;
  min-width: 78px;
  height: 25px;
  line-height: 25px;
  background: #178b55;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.signUp .btn:first-child {
  background: #fff;
  color: #0f9d58;
}
.signUp .btn:hover {
  background: #168350;
}
.signUp .btn:hover:first-child {
  background: #e1fff0;
}
.newInvites {
  display: inline-block;
  width: 40px;
  height: 50px;
}
.newInvites:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10px;
  /*rtl*/
  background: url(/Images/dash13-sprite.png) -240px -46px no-repeat;
  width: 19px;
  height: 18px;
}
.newInvites.noInvites:after {
  cursor: default;
  opacity: 0.4;
  left: 11px;
  /*rtl*/
}
.invitesCounter {
  display: none;
  background: #d1294d;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  top: 5px;
  left: 18px;
  height: 12px;
  min-width: 12px;
  line-height: 11px;
  text-align: center;
  z-index: 1;
  padding: 4px;
}
.invitesCounterShow {
  display: inline;
}
.notifyWpr {
  width: 378px;
  position: absolute;
  top: 50px;
  margin-left: -167px;
  /*rtl*/
  border: 1px solid #c2c2c2;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
}
.notifyWpr .upArrow:before {
  background: #fff;
}
.notifyWpr.noResults .notifyEmpty {
  display: block;
}
.notifyWpr.noResults .notifyTop {
  text-align: left;
  /*rtl*/
}
.notifyTop {
  line-height: 13px;
  padding: 7px 10px;
  background: #fff;
  border-bottom: 1px solid #c2c2c2;
  margin-top: -10px;
  border-radius: 5px 5px 0 0;
}
.notifyEmpty {
  display: none;
}
.notifyEmpty:before {
  content: '';
  display: block;
  width: 99px;
  height: 99px;
  background: url(/Images/common15-sprite.png) -155px -89px no-repeat;
  margin: 10px auto;
}
.notifyList {
  background: #fff;
  max-height: 421px;
  overflow: auto;
  border-radius: 0 0 5px 5px;
}
.notifyItem {
  border-bottom: 1px solid #9f9e9d;
  border-bottom: 1px solid rgba(159, 158, 157, 0.5);
  box-shadow: 0 1px 0 #fff;
  padding: 0 8px 0 70px;
  /*rtl*/
  position: relative;
  height: 70px;
  background: #fff;
}
.notifyItem:not(.new):hover {
  background: #f9f9f9;
}
.notifyItem.new {
  background: #f2f2f2;
}
.notifyItem:last-child {
  border-bottom: 0;
}
.notifyItem a {
  padding: 8px 6px;
  line-height: normal;
  display: table-cell;
  color: #383838;
}
.notifyItem .semiFont {
  font-size: 15px;
}
.notifyItem .createTime {
  margin-top: 1px;
}
.notifyImg {
  position: absolute;
  left: 10px;
  /*rtl*/
  top: 10px;
}
.notifyMsg {
  line-height: 17px;
  margin-top: -16px;
}
.invboxName {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  max-width: 153px;
  line-height: 12px;
}
.ownerName {
  max-width: 132px;
  display: inline-block;
  padding-top: 2px;
  vertical-align: text-bottom;
}
