/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.boxFeed {
  width: 491px;
  color: #383838;
}
.feedForm {
  position: relative;
  clear: both;
}
.feedForm .btn1 {
  margin: 5px 8px 0 0;
}
.feedForm.feedOpen .feedTA {
  min-height: 169px;
  max-height: 250px;
  overflow: auto;
  padding: 9px 12px 2px 12px;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  margin-bottom: 35px;
  border-color: #282828;
}
.feedForm.feedOpen .feedTA ~ .bottomTA {
  display: block;
}
.feedForm.feedOpen .feedTA ~ .attachBtn {
  bottom: 2px;
  left: 70px;
  top: auto;
  right: auto;
}
.feedForm.feedOpen .svg-attachment {
  fill: #282828;
}
.feedImg {
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feedTA {
  width: 436px;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  margin-top: 2px;
  padding: 9px 55px 2px 12px;
  min-height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  -webkit-transition: min-height 0.3s ease-in;
  -moz-transition: min-height 0.3s ease-in;
  -o-transition: min-height 0.3s ease-in;
  transition: min-height 0.3s ease-in;
}
.attachBtn {
  position: absolute;
  top: 9px;
  right: 8px;
}
.svg-attachment {
  width: 34px;
  height: 25px;
  fill: #282828;
}
.bottomTA {
  display: none;
  height: 33px;
  position: absolute;
  bottom: 1px;
  left: 55px;
  width: 434px;
  background: #eee;
  border-radius: 0 0 3px 3px;
  border: 1px solid #282828;
  border-top: none;
}
.boxFeedList > li {
  clear: both;
  margin-top: 15px;
  position: relative;
}
.boxFeedList > li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 41px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 14px 7px 0;
  border-color: transparent #eeeeee transparent transparent;
}
.boxFeedList .svg-attachment {
  fill: #c2c2c2;
}
.boxFeedList .feedForm {
  padding-top: 15px;
}
.boxFeedList .feedForm .feedImg {
  margin: 0 0 0 15px;
}
.boxFeedList .feedTA {
  width: 380px;
  height: 38px;
  margin-left: 55px;
}
.boxFeedList .bottomTA {
  width: 378px;
}
.boxFeedList .attachBtn {
  top: 24px;
  right: 70px;
}
.feedWpr {
  background: #eee;
  padding: 8px 15px;
  display: block;
  vertical-align: top;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feedWpr .userName {
  color: #3399ff;
  max-width: 300px;
  font-size: 16px;
}
.feedWpr .createTime {
  color: #999;
  font-size: 16px;
}
.feedWpr .feedContent {
  margin-top: 15px;
  font-size: 16px;
}
.feedWpr .shareBtn {
  display: inline-block;
  color: #3399ff;
  font-size: 12px;
}
/*.feedActions {
    color: @itemBlue;
    
}*/
.feedReplies {
  width: 436px;
}
.feedReplies > li {
  margin-top: 15px;
  position: relative;
}
.feedReplies > li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 41px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #c2c2c2;
}
.feedReplies > li:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 44px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;
  z-index: 1;
}
.feedReplies .feedImg {
  margin: 0 0 0 15px;
}
.feedReplies .userName {
  color: #0f9d58;
}
.feedReplies .feedWpr {
  background: none;
  border: 1px solid #c2c2c2;
}
/*#region attachments */
.qaAttach {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 10px;
  /*rtl*/
}
.qaAttachItem {
  border: 1px solid #c2c2c2;
  margin: 12px 7px 0 0;
  /*rtl*/
  display: inline-block;
  height: 125px;
  position: relative;
}
.qaAttachItem:hover .attachActions {
  visibility: visible;
  bottom: 0;
}
.attachActions {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  /*rtl*/
  bottom: -25px;
  visibility: hidden;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
}
.attachFull {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(/Images/QnA-sprite.png?v=1) -2px -2px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachFull:hover {
  background-position: -2px -21px;
}
.attachDelete {
  display: inline-block;
  width: 13px;
  height: 16px;
  background: url(/Images/QnA-sprite.png?v=1) -22px -2px no-repeat;
  margin: -3px 3px 0 3px;
  vertical-align: middle;
}
.attachDelete:hover {
  background-position: -22px -21px;
}
.attachDownload {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(/Images/QnA-sprite.png?v=1) -38px -3px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachDownload:hover {
  background-position: -38px -22px;
}
/*#endregion */
