/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.boxFeed {
  width: 598px;
  color: #383838;
}
.boxFeed > .feedForm .feedTA {
  border-color: #282828;
}
.boxFeed ~ .recommendedWpr {
  position: relative;
  left: 30px;
  width: 336px;
  display: inline-block;
  border-radius: 5px;
}
.boxFeed ~ .recommendedWpr .recommended .rFloat {
  width: 95px;
  text-align: right;
}
.feedForm {
  position: relative;
  clear: both;
}
.feedForm .btn1 {
  margin: 8px 8px 0 0;
}
.feedForm.feedOpen .feedTA {
  min-height: 169px;
  max-height: 250px;
  overflow: auto;
  padding: 9px 12px 2px 12px;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  margin-bottom: 35px;
  border-color: #282828;
  direction: ltr !important;
}
.feedForm.feedOpen .feedTA ~ .bottomTA {
  display: block;
}
.feedForm.feedOpen .feedTA ~ .attachBtn {
  bottom: 2px;
  left: 70px;
  top: auto;
  right: auto;
}
.feedForm.feedOpen .svg-attachment {
  fill: #282828;
}
.feedForm.feedOpen .attachedList {
  display: block;
}
.feedForm .attachedList {
  display: none;
}
.feedImg {
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feedTA {
  width: 543px;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  margin-top: 2px;
  padding: 9px 55px 2px 12px;
  min-height: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  -webkit-transition: min-height 0.3s ease-in;
  -moz-transition: min-height 0.3s ease-in;
  -o-transition: min-height 0.3s ease-in;
  transition: min-height 0.3s ease-in;
  resize: none;
}
.attachBtn {
  position: absolute;
  top: 9px;
  right: 8px;
}
.svg-attachment {
  width: 34px;
  height: 25px;
  fill: #282828;
}
.svg-trash {
  width: 14px;
  height: 20px;
  fill: #aaa;
}
.bottomTA {
  display: none;
  height: 40px;
  position: absolute;
  bottom: 1px;
  left: 55px;
  width: 543px;
  background: #eee;
  border-radius: 0 0 3px 3px;
  border: 1px solid #282828;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feed-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}
.feed-enter.feed-enter-active {
  opacity: 1;
}
.boxFeedList {
  overflow: hidden;
}
.boxFeedList > li {
  clear: both;
  margin-top: 15px;
  position: relative;
  -webkit-animation: fadeinGrow 2s 0 ease;
  -moz-animation: fadeinGrow 2s 0 ease;
  -o-animation: fadeinGrow 2s 0 ease;
  animation: fadeinGrow 2s 0 ease;
  overflow: hidden;
}
.boxFeedList > li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 41px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 14px 7px 0;
  border-color: transparent #eeeeee transparent transparent;
}
.boxFeedList .svg-attachment {
  fill: #c2c2c2;
}
.boxFeedList .feedForm {
  padding-top: 15px;
}
.boxFeedList .feedForm .feedImg {
  margin: 0 0 0 15px;
}
.boxFeedList .feedTA {
  width: 487px;
  height: 38px;
  margin-left: 55px;
}
.boxFeedList .bottomTA {
  width: 487px;
}
.boxFeedList .attachBtn {
  top: 24px;
  right: 70px;
}
.boxFeedList:empty ~ .emptyFeed {
  display: block;
}
.feedWpr {
  background: #eee;
  padding: 8px 15px;
  display: block;
  vertical-align: top;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feedWpr .userName {
  color: #3399ff;
  max-width: 300px;
  font-size: 16px;
}
.feedWpr .createTime {
  color: #999;
  font-size: 16px;
}
.feedWpr .feedContent {
  margin-top: 15px;
  font-size: 16px;
}
.feedWpr .shareBtn {
  display: inline-block;
  color: #3399ff;
  font-size: 12px;
}
.feedWpr .trash {
  position: absolute;
  bottom: 8px;
  right: 15px;
  display: none;
}
.feedWpr:hover .trash {
  display: block;
}
.feedReplies {
  width: 543px;
}
.feedReplies > li {
  margin-top: 15px;
  position: relative;
  -webkit-animation: fadeinGrow 2s 0 ease;
  -moz-animation: fadeinGrow 2s 0 ease;
  -o-animation: fadeinGrow 2s 0 ease;
  animation: fadeinGrow 2s 0 ease;
}
.feedReplies > li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 41px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #c2c2c2;
}
.feedReplies > li:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 44px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;
  z-index: 1;
}
.feedReplies .feedImg {
  margin: 0 0 0 15px;
}
.feedReplies .userName {
  color: #0f9d58;
}
.feedReplies .feedWpr {
  background: none;
  border: 1px solid #c2c2c2;
}
.feedReplies ~ .feedForm .attachedList {
  width: 465px;
}
/*#region attachments */
.qaAttach {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 10px;
  /*rtl*/
}
.qaAttachItem {
  border: 1px solid #c2c2c2;
  margin: 12px 7px 0 0;
  display: inline-block;
  height: 125px;
  position: relative;
}
.qaAttachItem:hover .attachActions {
  visibility: visible;
  bottom: 0;
}
.attachActions {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  bottom: -25px;
  visibility: hidden;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
}
.attachFull {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(/Images/QnA-sprite.png?v=1) -2px -2px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachFull:hover {
  background-position: -2px -21px;
}
.attachDelete {
  display: inline-block;
  width: 13px;
  height: 16px;
  background: url(/Images/QnA-sprite.png?v=1) -22px -2px no-repeat;
  margin: -3px 3px 0 3px;
  vertical-align: middle;
}
.attachDelete:hover {
  background-position: -22px -21px;
}
.attachDownload {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(/Images/QnA-sprite.png?v=1) -38px -3px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachDownload:hover {
  background-position: -38px -22px;
}
.attachedList {
  margin-left: 55px;
  padding: 0 8px 3px 12px;
  position: relative;
  top: -35px;
  border-left: 1px solid #282828;
  border-right: 1px solid #282828;
}
.attachedItem {
  background: #f0f0f0;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  padding-left: 6px;
  /*rtl*/
  display: inline-block;
  margin: 3px 5px 3px 0;
  /*rtl*/
}
.attachName {
  display: inline-block;
  max-width: 100px;
  vertical-align: top;
  margin-top: 2px;
}
.removeAttach {
  width: 20px;
  height: 22px;
  position: relative;
  padding-bottom: 4px;
}
.removeAttach:before {
  content: '';
  display: inline-block;
  background: #c2c2c2;
  width: 1px;
  height: 22px;
  position: absolute;
  left: 0;
  /*rtl*/
  top: 0;
}
.removeAttach:after {
  content: '';
  display: inline-block;
  background: url(/Images/common17-sprite.png?v=4) -68px -15px no-repeat;
  width: 10px;
  height: 10px;
  vertical-align: top;
  margin-top: 5px;
}
/*#endregion */
/*#region empty feed */
.emptyFeed {
  display: none;
  width: 598px;
  height: -webkit-calc(100vh - 205px);
  height: calc(100vh - 205px);
  color: #c2c2c2;
  border: 3px dotted #c2c2c2;
  border-radius: 8px;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  white-space: pre-line;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#endregion */
/*#region leaderboard */
.leaderBoard {
  width: 336px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 3px 20px;
  position: relative;
  left: 30px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #282828;
  margin-bottom: 50px;
}
.leaderBoard header {
  color: #0f9d58;
  text-align: center;
  font-size: 20px;
}
.leaderBoard header svg {
  width: 32px;
  height: 25px;
  fill: #0f9d58;
}
.leaderBoard .lbText {
  display: inline-block;
  vertical-align: top;
}
.bestUserList {
  text-align: center;
  counter-reset: leaderBoard;
}
.bestUserList li {
  position: relative;
  border-top: 1px solid #c2c2c2;
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
}
.bestUserList li:nth-child(-n + 3) {
  width: auto;
  height: auto;
  line-height: normal;
  text-align: center;
  border: none;
  margin-bottom: 15px;
}
.bestUserList li:nth-child(-n + 3):before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 98px;
}
.bestUserList li:before {
  content: counter(leaderBoard) ".";
  counter-increment: leaderBoard;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.bestUserList img {
  border-radius: 100%;
  border: 1px solid #c2c2c2;
  display: inline-block;
  vertical-align: middle;
}
.bestUserList svg {
  position: absolute;
  fill: #ffc000;
}
.bestUserList .top3Img {
  border: 1px solid #0f9d58;
  display: block;
  margin: 10px 0 20px;
}
.firstUser .top3Img {
  left: -40px;
  top: -90px;
}
.firstUser svg {
  left: -20px;
  top: 115px;
}
.secondUser .top3Img {
  left: -40px;
  top: -90px;
  margin-top: 20px;
}
.secondUser svg {
  left: -10px;
  top: 112px;
}
.thirdUser .top3Img {
  left: -32px;
  top: -90px;
  margin-top: 30px;
}
.thirdUser svg {
  left: -12px;
  top: 115px;
}
.svg-crown {
  width: 36px;
  height: 23px;
}
.svg-trophy {
  width: 26px;
  height: 29px;
}
.svg-badge {
  width: 18px;
  height: 30px;
}
.rep {
  font-weight: bold;
  color: #0f9d58;
}
/*#endregion */
