/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.boxFeed {
  width: 491px;
  color: #383838;
  position: relative;
}
.feedForm {
  position: relative;
}
.feedForm .btn1 {
  margin: 5px 8px 0 0;
}
.feedImg {
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.feedTA {
  width: 430px;
  border-radius: 3px;
  border: 1px solid #282828;
  margin-top: 2px;
  padding: 9px 55px 2px 12px;
  min-height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  -webkit-transition: min-height 0.3s ease-in;
  -moz-transition: min-height 0.3s ease-in;
  -o-transition: min-height 0.3s ease-in;
  transition: min-height 0.3s ease-in;
}
.feedTA:focus {
  min-height: 169px;
  max-height: 250px;
  overflow: auto;
  padding: 9px 12px 2px 12px;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  margin-bottom: 35px;
}
.feedTA:focus ~ .bottomTA {
  display: block;
}
.feedTA:focus ~ .attachBtn {
  bottom: 2px;
  left: 70px;
  top: auto;
  right: auto;
}
.attachBtn {
  position: absolute;
  top: 9px;
  right: 8px;
}
.svg-attachment {
  width: 34px;
  height: 25px;
  fill: #282828;
}
.bottomTA {
  display: none;
  height: 33px;
  position: absolute;
  bottom: 1px;
  left: 56px;
  width: 428px;
  background: #eee;
  border-radius: 0 0 3px 3px;
  border: 1px solid #282828;
  border-top: none;
}
