/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-Images-Store-ball() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -1px;
}
.sprite-Images-Store-chair() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -108px;
}
.sprite-Images-Store-computer() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -215px;
}
.sprite-Images-Store-covers() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -322px;
}
.sprite-Images-Store-dic() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -429px;
}
.sprite-Images-Store-eco() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -536px;
}
.sprite-Images-Store-house() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -643px;
}
.sprite-Images-Store-smartphone() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -750px;
}
.sprite-Images-Store-tv() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -857px;
}
.sprite-Images-Store-printers() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -964px;
}
.sprite-Images-Store-martini() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -1071px;
}
.sprite-Images-Store-cal() {
/* You may have to set 'display: block' */
	width: 108px;
	height: 106px;
	background: url('../Images/Store/category.png') -1px -1178px;
}
