@import "varsAndMixins";
html {
    direction: rtl;
}
q {
    quotes: "\201D" "\201C"  "\2019" "\2018";
}
body
{
    font-family: Arial; //for V. 12.0.
}
/*#region radio input */
input[type="radio"] {
    + label, + .field-validation-error + label {
        &:before {
            margin: -2px 0 0 4px;
        }
    }
    &.radio { 
        + label {
            &:before {
                margin: -2px 0 0 8px;
            }
        }
        &:checked {
            + label {
                &:after {
                    top: 3px; //diff rtl
                    right: 4px; //rtl
                    left: auto;
                }
            }
        }
    }
}
/*#endregion */

/*#region checkbox */
.checkbox {
    ~ .cbLabel {
        &:before {
            margin: 0 0 0 5px;
        }
    }
    ~ .cbLabel2 {
        svg {
            top:0; //diff rtl
            right: 4px; //rtl
            left: auto;
        }
    }
}
/*#endregion */

/*#region validation errors */
.field-validation-error,.validation-summary-errors
{
    margin: 0 5px 0 0;
}
/*#endregion */

/*#region footer code */
.footer {
    li {
        ~ li:before {
            padding: 0 6px 0 3px;
        }
    }
}

/*#endregion */

/*#region delete email 'x' */
.removeItem, .closeItem {
    left: 5px;
    right: auto;
}
.emailText {
    margin: 0 0 0 6px;
}
/*#endregion */



/*#region popup */
/*#region Coupon popup */
.modal {
    .cancel {
        margin: 18px 10px 0 0; //rtl
    }
    &.couponPopup {
        &:before {
            margin: auto auto auto 32px; //rtl (because image is not symmetrical)
        }
        .signupBtns {
            right: -6px; //rtl
            left: auto;
        }
    }
}
.welcomeStore {
    right: -5px; //rtl
    left: auto;
}

.couponWpr { 
    .helpPopup {
        &:before {
            right: 20px; //rtl
            left: auto;
        }
    }
}
/*#endregion */

.popupForm
{
    .field-validation-error, .validation-summary-errors 
    {
        margin: 0 15px 0 0;
    }
}
.closeDialog
{
    left: 12px;
    right: auto;
}
.closeModal {
    left: 20px;
    right: auto;
}

.requestSentDiv
{
    padding: 0 18px 0 0; // override poppwrrpr
}

/*#endregion */

/*#region connect and register pages */
.fbImg, .emailImg {
    right: 16px;
    left: auto;
    &:after {
        right: 12px; //rtl
        left: auto;
    }
}
.emailImg {
    right: 8px;
    left: auto;
    &:after {
        right: 6px;
        left: auto;
    }
}

.emailBtn {
    padding: 7px 53px 8px 15px;
    text-align: right;
}
.enterForm {
    .firstError {
        right: 0;
        left: auto;
    }
}
.facebook
{
    padding: 8px 55px 9px 15px;
    text-align: right;
}
.signIn, .register
{
    text-align: right;
}
/*.register {
    .validation-summary-errors {
        right: 0; //rtl
        left: auto;
    }
}
.desktop {
    .firstName {
        + .field-validation-error {
            margin: 2px 4% 0 0; //rtl
        }
    }
}*/
.genderLabel {
    &.first {
        margin: 6px 0 6px 25px; //rtl
    }
}
.acceptTerms {
    text-align: right;
}

/*#endregion */

/*#region general svgs */
.svg-notification {
    .flipH; //from SVG.less
}
.svg-user, .svg-doc {
    right: 4px;
    left: auto
}
/*#endregion*/

/*#region side menu - SettingsBar partial */
.sidebarCb {
    &:checked {
        ~ .headerActions {
            .sideBar {
                left: 0; //rtl
                right: auto;
            }
        }
    }
}
aside.sideBar {
    left: -200px;
    right:auto;
    text-align: right;
    .closeMenuBtn {
        left: 10px; //rtl
        right: auto;
    }
    li {
        float: right;
    }
    

}
/*#endregion */

/*#region  dropdown-menu  (previously: editFolderMenu) */
.dropdown-menu {
    button {
        text-align: right;
    }
    &.userMenu {
        left: 0;
        right: auto;
    }
    .emailListWpr & {
        right: 25px!important;
        left: auto !important;
    }
}
/*#endregion */

/*#region dropdown */
.dropDown{
    text-align: right;
    &:before
    {
        right:0;
        left: auto;
    }
}
/*#endregion */

/*#region tooltip1 - "first time" */
// tooltip variables:
@arrowLeft: 135px; //change vertical offset of arrow
@arrowTop: 40px;  //change horizontal offset of arrow
@arrowHeight: 8px; // change arrow size

/*.quizGuideTemplate {
    .tooltip {
        right: 566px; 
        left: auto;
        + .tooltip {
            right: 263px; 
            left: auto;
        }
    }
}*/

.tooltip1 {
    li {
        margin: 0 15px 0 0;
    }
    &.icon {
        .stepTip {
            padding: 0 90px 0 0;
            &:before {
                right:15px;
                left: auto;
            }
        }
    }
    &.left {
        &:before {
            right: -@arrowHeight - 2;
            left: auto;
            border-width: @arrowHeight 0 @arrowHeight (@arrowHeight + 2);
        }
        &:after {
            right: -@arrowHeight;
            left: auto;
            border-width: (@arrowHeight - 2) 0 (@arrowHeight - 2) @arrowHeight;
        }
    }
    &.right {
        &:before {
            left: -@arrowHeight - 2;
            right: auto;
            border-width: @arrowHeight (@arrowHeight + 2) @arrowHeight 0;
        }
        &:after {
            left: -@arrowHeight;
            right: auto;
            border-width:(@arrowHeight - 2) @arrowHeight (@arrowHeight - 2) 0;
        }
    }
}
.ttBtns {
    right:0;
    left: auto;
}
/*#endregion */

/*#region User tooltip */
.userTooltip
{
    padding: 10px 110px 6px 10px;
    //padding: 17px 110px 6px 10px;
}

.ttImg
{   
    right:0;
    left: auto;
}

/*#endregion */

/*#region Bootstrap classes */

/*#region tooltip */
.tooltip{
    &.right {
        margin: 0 3px 0 0;
    }
    &.left {
        margin: 0 -3px 0 0;
    }
    &.left-bottom {
        right: 0!important;
        left: auto!important;
        .tooltip-arrow {
            right: 12px;
            left: auto;
        }
    }
    &.right-bottom {
        left: 0!important;
        right: auto!important;
        .tooltip-arrow {
            left: 12px;
            right: auto;
        }
    }
}
/*#endregion */

/*#region popover */
.popover {
    text-align: right;
    /*.userTooltip {
        padding: 10px 110px 6px 10px;
    }*/

    &.top {
        > .arrow {
            right: 50%; 
            left: auto;
            margin: 0 -11px 0 0; 
            
            &:after {
                margin: 0 -10px 0 0;
            }
        }
    }
    &.bottom {
        > .arrow {
            right: 50%;
            left: auto;
            margin: 0 -11px 0 0; 
            &:after {
                margin: 0 -10px 0 0; 
            }
        }
    }
    &.left {
        margin: 0 0 0 10px;  //diff rtl
        > .arrow {
            left: -12px; 
            right: auto;
            border-width: 12px 12px 12px 0; 
            border-right-color: @borderColor; 
            border-left-color: transparent;
            &:after {
                left: 2px; 
                right: auto;
                border-width: 10px 10px 10px 0; 
                border-right-color: #f5f5f5; 
                border-left-color: transparent;
            }
        }
    }
    &.right {
        margin: 0 0 0 -10px; // diff rtl
        > .arrow {
            right: -12px; 
            left: auto;
            border-width: 12px 0 12px 12px; 
            border-left-color: @borderColor; 
            border-right-color: transparent;
            &:after {
                right: 2px; 
                left: auto;
                border-width: 10px 0 10px 10px; 
                border-left-color: #f5f5f5; 
                border-right-color: transparent;
            }
        }
    }
}
/*#endregion */
             
/*#endregion */

/*#region general helper classes */
.lFloat {
    float: right;
}

.rFloat {
    float: left;
}
.semiFont{
    font-weight: normal;
}
.boldFont
{
    font-weight: bold; /*rtl (In english semi-bold font-weight is used)*/
}
.inputText {
    padding: 0 8px 0 4px; /* rtl */
}
.topBar {
    text-align: right;
    padding: 0 19px 0 45px;
}
.scrolling
{
    .barShadow {
        box-shadow: -2px 3px 7px rgba(0,0,0,.15);
    }
    #dash_right:before
    {
        margin: -10px -24px 0 0;
    }
}
.backWpr {
    text-align: right;
    //padding: 0 40px 0 0;
    //.flipH(1); //rtl
    /*&:before {
        .flipH;
        right: 0; //rtl
        left: auto;
    }*/
    &.noArrow {
        padding-right:0;
    }
    .svg-back {
        .flipH(1); //rtl
    }
}

.sectionHeader
{
    font-weight: normal; /*diff rtl*/
}
.inviteUsersBtn {
    right: 600px; //rtl
    left: auto;
    .boxPage & {
        right: 700px; //rtl
        left: auto;
    }
    .userPage & {
        left: 120px; //rtl
        right: auto;
    }
}
/*.emptySearch
{
    &:before
    {
        margin: -1px 0 0 6px; //rtl/
    }
    &:after
    {
        right: 7px; //rtl
        left: auto;
    }
}*/
/*.iconTxt:before
{
    margin: 0 0 0 6px; //rtl
}*/
.ptsPopup
{
    right: ~'-webkit-calc(50% - 112px)';
    right: ~'calc(50% - 112px)';
    left: auto;
    &:before
    {
        margin: 0 0 0 4px; /* diff rtl*/
    }
    &:after
    {
        margin: 0; /* diff rtl*/
    }
}

/*#endregion */

/*#region Firefox only CSS */
@-moz-document url-prefix() {
    body input.radio[type="radio"]:checked + label:after {
        top: 4px; //diff rtl
    } 
}
/*#endregion */

/*#region media queries */
@media (max-width: 1024px) {
    //Note: Repeated occurrances of the same simple selector are allowed and do increase specificity.(http://www.w3.org/TR/css3-selectors/#specificity)
    .quizTitle.quizTitle, .quizPrevWpr.quizPrevWpr {
        //margin: 0 20px 0 0; //rtl
    }
}
/*#region IPAD - SPECIFIC CODE */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .headingTexts.headingTexts {
        padding: 0 40px 0 0;
        top: 40px;
    }
    .logo.logo, .videoWpr.videoWpr {
        margin: 20px 40px 0 0; //rtl
    }
    .videoWpr.videoWpr {
        margin: 0 40px 0 0; //rtl
    }
    .language.language {
        margin-top: 209px; //diff rtl //arabic only
    }
    //Item page
    .middleActions.middleActions
    {
        margin: 0 50px 0 0; //rtl/
    }
}*/


/*#endregion */

/*//home page media queries

@media (max-width: 1024px) {
    .logo {
        margin: 20px 20px 0 0; //rtl
    }
    .headingTexts {
        padding: 0 20px 0 0; //rtl
    }
    .videoWpr {
        right: 20px; //rtl
        left: auto;
    }
}

//setupschool media queries
@media (max-width: 1165px) {
    .createSchool, .completeRegistration {
        right: auto; //rtl
    }
}*/

/*#endregion */




