@import "varsAndMixins";
html {
    direction: rtl;
}
q {
    quotes: "\201D" "\201C"  "\2019" "\2018";
}
body
{
    font-family: Arial; //for V. 12.0.
}

/*#region site header classes */
.navUser {
    margin: 0 30px 0 0; /*rtl*/
    .userName {
        text-align: right; /*rtl*/
        margin: 8px 36px 0 0; /*rtl*/
    }

}
.userPts{
    margin: 0 36px 0 0; /*rtl*/
}
.userSettings
{
    margin: 0 0 0 10px; /*rtl*/
}
.userDrpSettings {
    &:after {
        right: 0; /*rtl*/
        left: auto;
    }
}
.userMenuWrapper {
    left: 0; /*rtl*/
    right: auto;
}

.userMenu {
    left: 0; /*rtl*/
    right: auto;
}

.menuLink {
    text-align: right; /*rtl*/
}

/*#endregion */

/*#region popup */

.popupForm
{
    .field-validation-error, .validation-summary-errors 
    {
        margin: 0 15px 0 0; /*rtl*/
    }
}
.closeDialog
{
    left: 12px; /*rtl*/
    right: auto;
}
.popupWrppr
{
    .cancel
	{
        margin: 18px 10px 0 0; /*rtl*/
	}
    .inputText {
        padding: 0 8px 0 4px; /*rtl*/
    }
    .inviteMsg {
        padding: 8px 11px 5px 8px; /*rtl*/
    }
    &.enterCode
    {       
        form, .noCode{
            padding: 0 9px 25px 19px; /*rtl*/
        }
        .noCode
        {
            padding: 0 9px 25px 0; /*rtl*/
        }
        .btn1
        {
            margin: 0 8px 0 0; /*rtl*/
        }
    }
    &.addSchool
    {
        text-align: right; /*rtl*/
        .country
        {
            margin: 0 0 0 13px; /*rtl*/
        }
    }
    &.departmentChoose {
        .statusLabel
        {
            &.first {
                margin: 0 0 0 20px; /*rtl*/
            }
        }
        .dptDetail{
            &.first {
                margin: 20px 0 0 34px; /*rtl*/
            }
        }
    }
}

.requestSentDiv
{
    padding: 0 18px 0 0; /*rtl*/ // override poppwrrpr
}

/*#endregion */

/*#region connect and register pages */
.fbImg, .emailImg {
    right: 16px; /*rtl*/
    left: auto;
    &:after {
        right: 24px; /*rtl*/
        left: auto;
    }
}
.emailImg {
    right: 8px;
    left: auto;
    &:after {
        right: 31px; /*rtl*/
        left: auto;
    }
}
.emailBtn {
    padding: 7px 53px 8px 15px; /*rtl*/
    text-align: right; /*rtl*/
}
.enterForm {
    .firstError {
        right: 0; /*rtl*/
        left: auto;
    }
}
.facebook
{
    padding: 8px 55px 9px 15px; /*rtl*/
    text-align: right; /*rtl*/
}
.signIn, .register
{
    text-align: right; /*rtl*/
}
.register {
    .validation-summary-errors {
        right: 0; /*rtl*/
        left: auto;
    }
}
.desktop {
    .firstName {
        + .field-validation-error {
            margin: 2px 4% 0 0; /*rtl*/
        }
    }
}
.genderLabel
{
    &.first
    {
        margin: 20px 0 5px 25px; /*rtl*/
    }
}
.acceptTerms {
    text-align: right; /*rtl*/
}

/*#endregion */


.lFloat {
    float: right; /*rtl*/
}

.rFloat {
    float: left; /*rtl*/
}
.semiFont{
    font-weight: normal;
}
.boldFont
{
    font-weight: bold; /*rtl (In english semi-bold font-weight is used)*/
}
.inputText {
    padding: 0 8px 0 4px; /* rtl */
}
.topBar {
    text-align: right; /*rtl*/
    padding: 0 19px 0 45px; /*rtl*/
}
.scrolling
{
    .barShadow {
        box-shadow: -2px 3px 7px rgba(0,0,0,.15); /*rtl*/
    }
    #dash_right:before
    {
        margin: -10px -24px 0 0; /*rtl*/
    }
}
.backWpr {
    text-align: right; /*rtl*/
    padding: 0 40px 0 0; /*rtl*/
    &:before {
        .flipH;
        right: 0; /*rtl*/
        left: auto;
    }

    &.noArrow {
        padding-right:0;
    }
}
.dropDown{
    text-align: right; /*rtl*/
    &:before
    {
        right:0; /*rtl*/
        left: auto;
    }
}

/*#region tooltip */
// tooltip variables:
@arrowLeft: 135px; //change vertical offset of arrow
@arrowTop: 40px;  //change horizontal offset of arrow
@arrowHeight: 8px; // change arrow size

/*.quizGuideTemplate {
    .tooltip {
        right: 566px; 
        left: auto;
        + .tooltip {
            right: 263px; 
            left: auto;
        }
    }
}*/

.tooltip {
    li {
        margin: 0 15px 0 0; /*rtl*/
    }
    &.icon {
        .stepTip {
            padding: 0 90px 0 0; /*rtl*/
            &:before {
                right:15px; /*rtl*/
                left: auto;
            }
        }
    }
    &.left {
        &:before {
            right: -@arrowHeight - 2; /*rtl*/
            left: auto;
            border-width: @arrowHeight 0 @arrowHeight (@arrowHeight + 2); /*rtl*/
        }
        &:after {
            right: -@arrowHeight; /*rtl*/
            left: auto;
            border-width: (@arrowHeight - 2) 0 (@arrowHeight - 2) @arrowHeight; /*rtl*/
        }
    }
    &.right {
        &:before {
            left: -@arrowHeight - 2; /*rtl*/
            right: auto;
            border-width: @arrowHeight (@arrowHeight + 2) @arrowHeight 0; /*rtl*/
        }
        &:after {
            left: -@arrowHeight; /*rtl*/
            right: auto;
            border-width:(@arrowHeight - 2) @arrowHeight (@arrowHeight - 2) 0; /*rtl*/
        }
    }
}
.ttBtns {
    right:0; /*rtl*/
    left: auto;
}
/*#endregion */

.sectionHeader
{
    font-weight: normal; /*diff rtl*/
}
.emptySearch
{
    &:before
    {
        margin: -1px 0 0 6px; /*rtl*/
    }
    &:after
    {
        right: 7px; /*rtl*/
        left: auto;
    }
}
.iconTxt:before
{
    margin: 0 0 0 6px; /*rtl*/
}
.ptsPopup
{
    right: ~'-webkit-calc(50% - 112px)'; /*rtl*/
    right: ~'calc(50% - 112px)'; /*rtl*/
    left: auto;
    &:before
    {
        margin: 0 0 0 4px; /* diff rtl*/
    }
    &:after
    {
        margin: 0; /* diff rtl*/
    }
}


/*#region user items (used in search page and user page) */
.userItem
{
    margin: 0 0 20px 31px; /*rtl*/
}
/*#endregion */ 

/*#region radio input */
input[type="radio"] {
    + label {
        &:before {
            margin: -2px 0 0 4px; /*rtl*/
        }
    }
}
/*#endregion */

/*#region checkbox */
.checkbox {
    ~ .cbLabel {
        &:before {
            margin: 0 0 0 5px;
        }
    }
}
/*#endregion */

/*#region validation errors */
.field-validation-error,.validation-summary-errors
{
    margin: 0 5px 0 0; /*rtl*/
}
/*#endregion */
.removeItem, .closeItem {
    left: 5px; /*rtl*/
    right: auto;
}
.emailText {
    margin: 0 0 0 6px; /*rtl*/
}
/*#region AUTO COMPLETE */

ul.ui-autocomplete {
	text-align: right; /*rtl*/
}
#Library .ui-autocomplete
{
    .btn1
    {
        left: 10px; /*rtl*/
		right: auto;
    }
}

/*#endregion */


@media (max-width: 1024px) {
    //Note: Repeated occurrances of the same simple selector are allowed and do increase specificity.(http://www.w3.org/TR/css3-selectors/#specificity)
    .quizTitle.quizTitle, .quizPrevWpr.quizPrevWpr {
        margin: 0 20px 0 0; /*rtl*/
    }
}
// IPAD - SPECIFIC CODE
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .headingTexts.headingTexts {
        padding: 0 40px 0 0;
        top: 40px;
    }
    .logo.logo, .videoWpr.videoWpr {
        margin: 20px 40px 0 0; /*rtl*/
    }
    .videoWpr.videoWpr {
        margin: 0 40px 0 0; /*rtl*/
    }
    .language.language {
        margin-top: 209px; /*diff rtl*/ //arabic only
    }
    //Item page
    .middleActions.middleActions
    {
        margin: 0 50px 0 0; /*rtl*/
    }
}
/*#region User tooltip */
.userTooltip
{
    padding: 17px 110px 6px 10px; /*rtl*/
}

.ttImg
{   
    right:0; /*rtl*/
    left: auto;
}

/*#endregion */
