/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
html {
  direction: ltr;
}
q {
  quotes: "\201D" "\201C" "\2019" "\2018";
}
body {
  font-family: Arial;
}
/*#region radio input */
input[type="radio"] + label:before,
input[type="radio"] + .field-validation-error + label:before {
  margin: -2px 4px 0 0
  /*rtl*/
}
input[type="radio"].radio + label:before {
  margin: -2px 8px 0 0
  /*rtl*/
}
input[type="radio"].radio:checked + label:after {
  top: 3px;
  left: 4px;
  right: auto;
}
/*#endregion */
/*#region checkbox */
.checkbox ~ .cbLabel:before {
  margin: 0 5px 0 0;
}
.checkbox ~ .cbLabel2 svg {
  top: 0;
  left: 4px;
  right: auto;
}
/*#endregion */
/*#region validation errors */
.field-validation-error,
.validation-summary-errors {
  margin: 0 0 0 5px
  /*rtl*/
}
/*#endregion */
/*#region footer code */
.footer li ~ li:before {
  padding: 0 3px 0 6px
  /*rtl*/
}
/*#endregion */
/*#region delete email 'x' */
.removeItem,
.closeItem {
  right: 5px;
  /*rtl*/
  left: auto;
}
.emailText {
  margin: 0 6px 0 0
  /*rtl*/
}
/*#endregion */
/*#region popup */
/*#region Coupon popup */
.modal .cancel {
  margin: 18px 0 0 10px;
}
.modal.couponPopup:before {
  margin: auto 32px auto auto;
}
.modal.couponPopup .signupBtns {
  left: -6px;
  right: auto;
}
.welcomeStore {
  left: -5px;
  right: auto;
}
.couponWpr .helpPopup:before {
  left: 20px;
  right: auto;
}
/*#endregion */
.popupForm .field-validation-error,
.popupForm .validation-summary-errors {
  margin: 0 0 0 15px
  /*rtl*/
}
.closeDialog {
  right: 12px;
  /*rtl*/
  left: auto;
}
.closeModal {
  right: 20px;
  left: auto;
}
.requestSentDiv {
  padding: 0 0 0 18px
  /*rtl*/
}
/*#endregion */
/*#region connect and register pages */
.fbImg,
.emailImg {
  left: 16px;
  /*rtl*/
  right: auto;
}
.fbImg:after,
.emailImg:after {
  left: 12px;
  right: auto;
}
.emailImg {
  left: 8px;
  right: auto;
}
.emailImg:after {
  left: 6px;
  /*rtl*/
  right: auto;
}
.emailBtn {
  padding: 7px 15px 8px 53px;
  /*rtl*/
  text-align: left
  /*rtl*/
}
.enterForm .firstError {
  left: 0;
  /*rtl*/
  right: auto;
}
.facebook {
  padding: 8px 15px 9px 55px;
  /*rtl*/
  text-align: left
  /*rtl*/
}
.signIn,
.register {
  text-align: left
  /*rtl*/
}
/*.register {
    .validation-summary-errors {
        right: 0; //rtl
        left: auto;
    }
}
.desktop {
    .firstName {
        + .field-validation-error {
            margin: 2px 4% 0 0; //rtl
        }
    }
}*/
.genderLabel.first {
  margin: 6px 25px 6px 0;
}
.acceptTerms {
  text-align: left
  /*rtl*/
}
/*#endregion */
/*#region general svgs */
.svg-notification {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.svg-user,
.svg-doc {
  left: 4px;
  right: auto;
}
/*#endregion*/
/*#region side menu - SettingsBar partial */
.sidebarCb:checked ~ .headerActions .sideBar {
  right: 0;
  left: auto;
}
aside.sideBar {
  right: -200px;
  /*rtl*/
  left: auto;
  text-align: left
  /*rtl*/
}
aside.sideBar .closeMenuBtn {
  right: 10px;
  left: auto;
}
aside.sideBar li {
  float: left
  /*rtl*/
}
/*#endregion */
/*#region  dropdown-menu  (previously: editFolderMenu) */
.dropdown-menu button {
  text-align: left
  /*rtl*/
}
.dropdown-menu.userMenu {
  right: 0;
  /*rtl*/
  left: auto;
}
.emailListWpr .dropdown-menu {
  left: 25px!important;
  /*rtl*/
  right: auto !important;
}
/*#endregion */
/*#region dropdown */
.dropDown {
  text-align: left
  /*rtl*/
}
.dropDown:before {
  left: 0;
  /*rtl*/
  right: auto;
}
/*#endregion */
/*#region tooltip1 - "first time" */
/*.quizGuideTemplate {
    .tooltip {
        right: 566px; 
        left: auto;
        + .tooltip {
            right: 263px; 
            left: auto;
        }
    }
}*/
.tooltip1 li {
  margin: 0 0 0 15px
  /*rtl*/
}
.tooltip1.icon .stepTip {
  padding: 0 0 0 90px
  /*rtl*/
}
.tooltip1.icon .stepTip:before {
  left: 15px;
  /*rtl*/
  right: auto;
}
.tooltip1.left:before {
  left: -10px;
  /*rtl*/
  right: auto;
  border-width: 8px 10px 8px 0
  /*rtl*/
}
.tooltip1.left:after {
  left: -8px;
  /*rtl*/
  right: auto;
  border-width: 6px 8px 6px 0
  /*rtl*/
}
.tooltip1.right:before {
  right: -10px;
  /*rtl*/
  left: auto;
  border-width: 8px 0 8px 10px
  /*rtl*/
}
.tooltip1.right:after {
  right: -8px;
  /*rtl*/
  left: auto;
  border-width: 6px 0 6px 8px
  /*rtl*/
}
.ttBtns {
  left: 0;
  /*rtl*/
  right: auto;
}
/*#endregion */
/*#region User tooltip */
.userTooltip {
  padding: 10px 10px 6px 110px
  /*rtl*/
}
.ttImg {
  left: 0;
  /*rtl*/
  right: auto;
}
/*#endregion */
/*#region Bootstrap classes */
/*#region tooltip */
.tooltip.right {
  margin: 0 0 0 3px
  /*rtl*/
}
.tooltip.left {
  margin: 0 0 0 -3px
  /*rtl*/
}
.tooltip.left-bottom {
  left: 0!important;
  /*rtl*/
  right: auto!important
  /*rtl*/
}
.tooltip.left-bottom .tooltip-arrow {
  left: 12px;
  /*rtl*/
  right: auto;
}
.tooltip.right-bottom {
  right: 0!important;
  /*rtl*/
  left: auto!important
  /*rtl*/
}
.tooltip.right-bottom .tooltip-arrow {
  right: 12px;
  /*rtl*/
  left: auto;
}
/*#endregion */
/*#region popover */
.popover {
  text-align: left
  /*rtl*/
  /*.userTooltip {
        padding: 10px 110px 6px 10px;
    }*/
}
.popover.top > .arrow {
  left: 50%;
  /*rtl*/
  right: auto;
  margin: 0 0 0 -11px
  /*rtl*/
}
.popover.top > .arrow:after {
  margin: 0 0 0 -10px
  /*rtl*/
}
.popover.bottom > .arrow {
  left: 50%;
  /*rtl*/
  right: auto;
  margin: 0 0 0 -11px
  /*rtl*/
}
.popover.bottom > .arrow:after {
  margin: 0 0 0 -10px
  /*rtl*/
}
.popover.left {
  margin: 0 10px 0 0;
}
.popover.left > .arrow {
  right: -12px;
  left: auto;
  border-width: 12px 0 12px 12px;
  border-left-color: #c2c2c2;
  border-right-color: transparent;
}
.popover.left > .arrow:after {
  right: 2px;
  left: auto;
  border-width: 10px 0 10px 10px;
  border-left-color: #f5f5f5;
  border-right-color: transparent;
}
.popover.right {
  margin: 0 -10px 0 0;
}
.popover.right > .arrow {
  left: -12px;
  right: auto;
  border-width: 12px 12px 12px 0;
  border-right-color: #c2c2c2;
  border-left-color: transparent;
}
.popover.right > .arrow:after {
  left: 2px;
  right: auto;
  border-width: 10px 10px 10px 0;
  border-right-color: #f5f5f5;
  border-left-color: transparent;
}
/*#endregion */
/*#endregion */
/*#region general helper classes */
.lFloat {
  float: left
  /*rtl*/
}
.rFloat {
  float: right
  /*rtl*/
}
.semiFont {
  font-weight: normal;
}
.boldFont {
  font-weight: bold
  /*rtl (In english semi-bold font-weight is used)*/
}
.inputText {
  padding: 0 4px 0 8px
  /* rtl */
}
.topBar {
  text-align: left;
  /*rtl*/
  padding: 0 45px 0 19px
  /*rtl*/
}
.scrolling .barShadow {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15)
  /*rtl*/
}
.scrolling #dash_right:before {
  margin: -10px 0 0 -24px
  /*rtl*/
}
.backWpr {
  text-align: left
  /*rtl*/
  /*&:before {
        .flipH;
        right: 0; //rtl
        left: auto;
    }*/
}
.backWpr.noArrow {
  padding-left: 0;
}
.backWpr .svg-back {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.sectionHeader {
  font-weight: normal
  /*diff rtl*/
}
.inviteUsersBtn {
  left: 600px;
  right: auto;
}
.boxPage .inviteUsersBtn {
  left: 700px;
  right: auto;
}
.userPage .inviteUsersBtn {
  right: 120px;
  left: auto;
}
/*.emptySearch
{
    &:before
    {
        margin: -1px 0 0 6px; //rtl/
    }
    &:after
    {
        right: 7px; //rtl
        left: auto;
    }
}*/
/*.iconTxt:before
{
    margin: 0 0 0 6px; //rtl
}*/
.ptsPopup {
  left: -webkit-calc(50% - 112px);
  /*rtl*/
  left: calc(50% - 112px);
  /*rtl*/
  right: auto;
}
.ptsPopup:before {
  margin: 0 4px 0 0
  /* diff rtl*/
}
.ptsPopup:after {
  margin: 0
  /* diff rtl*/
}
/*#endregion */
/*#region Firefox only CSS */
@-moz-document url-prefix() {
  body input.radio[type="radio"]:checked + label:after {
    top: 4px;
  }
}
/*#endregion */
/*#region media queries */
