@import "varsAndMixins";
@import "../Images/site.png.less";
//@import "HomePage.png.less";

/*#region main header classes */
html, body {
    //height: 100%; //TODO CHECK THIS.
    // NB: I changed this to min-height because on devices like ipad
    // modals only had height of viewport and stopped when scrolled down
    height: 100%;
    direction: ltr;
}

body {
    overflow-y: scroll;
}

.pageHeading {
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.bodyContent {
    padding-top: @header-height;
    .boxSizing;
    height: 100%;
}

.moveToSpitBall {
    height: 50px;
    background: #f05a28;
    line-height: 50px;
    color: #fff;
    padding-left: 50px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    .boxSizing();
    font-size:18px;
    z-index:1;

    button {
        text-decoration: underline;
        color:#ffb648;
    }

    .closeButton {
        float: right;
        margin-right: 50px;
        line-height: 50px;
    }
}

.moveToSpitBallShow {
    display: block;
}
.accountPage .moveToSpitBall {
    position:absolute;
}
.moveToSpitBallShow ~ .dashboardHeader ~.page {
    margin-top:50px;
}



.siteHeader {
    height: @header-height;
    background-color: #282828;
    top: 0;
    width: 100%;
    z-index: 11;
    position: fixed;
    min-width: 1240px;

    &.headerBox {
        //background: #282828;
        // min-width: 1240px;
        .backWpr {
            margin: 16px 0 0 25px; //rtl
            padding: 0;
        }

        .shareBtn {
            display: inline-block;
            margin: 0 15px;
            top: -4px;
        }

        /*.logoWrapper {
            width: 242px;
        }*/
    }

    &.dashboardHeader {
        .barActions {
            margin: 7px 20px 0 0;
        }

        .svg-settings {
            width: 25px;
            height: 23px;
            fill: #c2c2c2;
        }

        &:hover {
            .boxRename {
                visibility: visible;
            }
        }
    }

    &.staticHeader {
        background-color: #3293F6;
    }
}

.logoWrapper {
    width: 289px;
    height: 65px;
    float: left;
    background-color: @color;
}

.siteLogo {
    //display: inline-block;
    //position: relative;
    //z-index: 1;
    //padding-left: 30px; //rtl
    //.boxSizing;
    .sprite-Images-logo2();
    margin: 0 auto;
    display: block;
}

@media (max-width: @minimunHeight) {
    .siteHeader {
        position: absolute;
    }
}

.headerActions {
    height: @header-height;
}

.headerSettings {
    height: @header-height; //override
}

.userNav {
    height: @header-height;
    display: inline-block;
    position: relative;
    font-size: 13px; // return the font-size to items
    .userName {
        font-size: 15px;
        max-width: 127px;
        min-width: 40px; // prevents pts from 'falling' on short user names
        display: inline-block;
        text-align: left;
        color: #fff;
        margin: 6px 0 0 40px;
        line-height: normal;
        vertical-align: top;
    }

    .userImg, .userLetter {
        vertical-align: top;
        margin-top: 6px;
        position: absolute;
        border: none;
        width: 36px;
        height: 36px;
    }

    [data-letter]:before {
        left: 0; //override;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 22px;
        .boxSizing;
    }

    .heb:before {
        font-size: 28px;
        line-height: 34px;
    }
}

.signUp {
    .btn {
        display: inline-block;
        margin: 0 4px;
        font-size: 14px;
        min-width: 78px;
        height: 25px;
        line-height: 25px;
        background: @attentionBlue;
        color: #fff;
        border-radius: 5px;
        padding: 0 20px;
        .boxSizing;

        &:first-child {
            background: #fff;
            color: @color;
        }

        &:hover {
            background: @attentionBlueHover;

            &:first-child {
                background: #e1fff0;
            }
        }
    }
}

.userAnchor {
    display: block;
    height: @header-height;
}

.userPts {
    font-size: 11px;
    color: #fff;
    line-height: normal;
    margin-left: 40px;
    position: relative;
    top: -24px;

    &:after {
        display: inline-block;
        content: attr(data-points);
    }
}
/*#endregion */

/*#region box page header */
.userSection {
    line-height: 50px;
    height: 50px;
    margin-top: 7px;
}

.headerRightWpr {
    height: @header-height; //for box page
    .userSection {
        margin-left: 20px; //rtl
    }
}

/*#region dashboard */
.dashHeader {
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
    background: #282828;
    margin: 0 -30px;
    padding: 0 30px;
    .boxSizing;
    white-space: nowrap; // so that the invite friends button doesn't disappear
    .open .svg-notification {
        fill: #d1294d;
    }

    &:hover {
        .boxRename {
            visibility: visible;
        }
    }

    .svg-settings {
        width: 25px;
        height: 23px;
        fill: @borderColor;
    }

    &.setup {
        height: 47px; //override
        line-height: 47px; //override
        .dhText, .svg-inviteUser {
            display: none;
        }

        .searchTrigger {
            position: absolute;
            top: 145px;
            left: 0;
            right: 0;
            margin: auto;
            width: 420px;
            z-index: 1;
        }

        .dashLibSearchInput {
            margin: 0;

            ~ button {
                float: right; //rtl
            }
        }

        .svg-search {
            right: 13px; //rtl
            top: 6px;
        }

        .barActions {
            position: absolute;
            right: 28px; //rtl
            z-index: 2; // notifications above search (bug 3466)
        }
    }
}


.helpLink {
    display: inline-block;
    vertical-align: middle;
    margin: 0 26px;
    line-height: normal;
    position: relative;
    top: 14px;
}

.storeLink {
    position: relative;
    top: 4px;
}

.dhText {
    font-size: 28px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 15px 0 0 31px;
}

.inviteUsersBtn {
    margin-top: 19px;

    .svg-inviteUser {
        &:hover {
            fill: @blue;
        }
    }
    /*.boxPage & {
        margin-top: 28px;
    }*/
    .userPage & {
        position: relative;
        top: -8px;
    }
}
/*#endregion */

/*#region notifications */
.newCounter {
    background: @errorColor;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    top: 1px;
    height: 12px;
    min-width: 12px;
    line-height: 11px;
    text-align: center;
    padding: 4px;
    display: inline-block;
    right: 10px;
    border: 2px solid #282828;
}

.notificationBtn {
    margin-top: 13px;

    &:hover {
        svg {
            fill: #d1294d;
        }
    }

    .newCounter {
        display: none;
    }

    .newCounterShow {
        display: inline;
    }
}


.notifyWpr {
    width: 400px;
    position: absolute;
    right: 30px; //rtl
    top: 22px;

    &.dropdown-menu {
        border: none; //override
        box-shadow: none; //override
        background: none;
    }
}

.notifyEmpty {
    display: none;
    background: #d1294d;
    text-align: center;
    width: 400px;
    height: 136px;
    color: #fff;
    border-radius: 10px;
    line-height: normal;
    border: none; //override
}

.notifyList {
    color: #fff;
    overflow-x: hidden;
    margin-right: -15px; //rtl (this is in order to move the scrollbar away from the item)
    background: #fff; // so that the elements under notification items don't show through between the items
}

.notifyItem {
    position: relative;
    font-size: 14px;
    width: 400px;
    height: 100px;
    background: #acacac;
    border-radius: 10px;
    line-height: normal;
    overflow: hidden;

    &:hover {
        background: #bbb;

        .trash {
            display: block;
        }
    }

    &.new {
        background: #d1294d;

        &:hover {
            background: #e25c6a;
        }
    }

    + .notifyItem {
        margin-top: 5px;
    }

    a {
        display: block; //fallback
        .flexAlignV;
        width: 100%;
        height: 100%;
        padding: 0 23px 0 100px;
        .boxSizing;
    }

    .notifyDetails {
        //margin-top: 12px;
    }

    .userImg.userImg, .userLetter.userLetter {
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 72px;
        height: 72px;
        .boxSizing;
        border: 3px solid #fff;
    }

    .notifier {
        max-width: 185px;
        display: inline-block;
        vertical-align: top;
    }

    .trash {
        position: absolute;
        bottom: 0;
        right: 20px; //rtl
        display: none;
        width: auto; //override
        padding: 0; //override
        &:hover {
            background: none; //override
            svg {
                fill: #282828;
            }
        }
    }

    .svg-trash {
        fill: #fff;
    }
}

.inviteTxtWpr {
    max-height: 48px;
    overflow: hidden;
}

.inviteTxt {
    white-space: normal;
    font-weight: bold;
}
/*#endregion */

/*#endregion */

/*#region jQuery custom content scroller  */
.mCSB_dragger_bar {
    background: rgba(103,103,103,.5) !important;
    width: 7px !important;
    border-radius: 3px;
}

.mCSB_draggerRail {
    display: none;
}
/*#endregion */

