/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region sticky footer */
html,
body {
  height: 100%;
}
body {
  overflow-y: scroll;
}
.header {
  font-size: 24px;
  font-weight: bold;
  color: #0f9d58;
}
.bodyContent {
  padding-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
/*#endregion */
/*#region header */
.siteHeader {
  height: 50px;
  background-color: #0f9d58;
  top: 0;
  width: 100%;
  z-index: 11;
  position: fixed;
}
.siteLogo {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.userNav {
  height: 50px;
}
.navItem {
  display: inline-block;
  position: relative;
  font-size: 13px;
}
.navItem.signUp {
  margin: 0 40px;
}
.navUser,
.userSettings {
  height: 50px;
  padding: 0 10px;
  cursor: pointer;
  vertical-align: top;
}
.navUser:hover,
.userSettings:hover {
  background: rgba(103, 103, 103, 0.45);
}
.navUser {
  margin-left: 30px;
  /*rtl*/
  line-height: 19px;
  position: relative;
}
.navUser .userName {
  font-size: 15px;
  max-width: 127px;
  min-width: 40px;
  display: inline-block;
  text-align: left;
  /*rtl*/
  color: #fff;
  margin: 8px 0 0 40px;
  /*rtl*/
}
.navUser .userImg {
  vertical-align: top;
  margin-top: 6px;
  border-radius: 100%;
  position: absolute;
}
.userAnchor {
  display: block;
  width: 100%;
  height: 100%;
}
.userPts {
  font-size: 11px;
  color: #fff;
  line-height: 7px;
  margin-left: 40px;
  /*rtl*/
}
.userPts:after {
  display: inline-block;
  content: attr(data-points);
}
.userSettings {
  margin-right: 10px;
  /*rtl*/
}
.userDrpSettings {
  cursor: pointer;
  height: 50px;
  position: relative;
  padding: 0 8px;
  display: inline-block;
}
.userMenuWrapper {
  width: 100%;
  position: absolute;
  right: 0;
  /*rtl*/
}
.menuItem {
  color: #0d864b;
  display: block;
}
.menuItem:hover {
  background: #c2c2c2;
}
.menuLink {
  width: 100%;
  display: block;
  padding: 10px 5px;
  text-align: left;
  /*rtl*/
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  /* or "normal" */
  overflow-wrap: break-word;
  line-height: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}
.dashLibSearch {
  display: block;
  width: 340px;
  height: 32px;
  line-height: 32px;
  background: #fff;
  margin-left: 70px;
  /*rtl*/
  border-radius: 5px;
  vertical-align: top;
  margin-top: 9px;
  position: relative;
  overflow: hidden;
  padding: 0 5px 5px 5px;
  /*&.showSearch {
        display: block;
    }*/
}
.dashLibSearch button {
  width: 19px;
  height: 20px;
  background: url(/Images/dash13-sprite.png?v=1) -213px -2px no-repeat;
  position: absolute;
  top: 6px;
  right: 12px;
  /*rtl*/
}
.dashLibSearch button:hover {
  background-position: -232px -2px;
}
.dashLibSearch button[disabled] {
  background-position: -213px -2px;
}
.dashLibSearchInput {
  width: 100%;
  height: 32px;
  padding: 0 35px 0 15px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  outline: none;
}
.dashLibSearchInput:focus {
  border: none;
  outline: none;
}
.dashLibSearchInput::-webkit-input-placeholder {
  color: #0f9d58;
}
.dashLibSearchInput::-moz-placeholder {
  color: #0f9d58;
  opacity: 1;
}
.dashLibSearchInput:-ms-input-placeholder {
  color: #0f9d58;
}
/*#endregion */
/*#region footer */
footer {
  width: 100%;
  height: 42px;
  text-align: center;
  padding: 12px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  color: #383838;
}
.footer li {
  display: inline;
  opacity: 0.5;
}
.footer li:hover {
  opacity: 1;
}
.footer li:first-child:hover {
  opacity: 0.5;
}
.footer li:after {
  content: '|';
  font-size: 10px;
  padding: 0 3px 0 6px;
  /*rtl*/
}
.footer li:last-child:after {
  display: none;
}
.footer a:hover {
  text-decoration: underline;
}
/*#endregion */
/*#region jQuery custom content scroller  */
.mCSB_dragger_bar {
  background: rgba(103, 103, 103, 0.5) !important;
  width: 7px !important;
  border-radius: 3px;
}
.mCSB_draggerRail {
  display: none;
}
/*#endregion */
