@import "varsAndMixins";
/*#region topHeader */


.navUser {
    margin: 0 30px 0 0; /*rtl*/
    .userName {
        text-align: right; /*rtl*/
        margin: 8px 40px 0 0; /*rtl*/
    }

}
.userPts{
    margin: 0 40px 0 0; /*rtl*/
}
.userSettings
{
    margin: 0 0 0 10px; /*rtl*/
}
/*.userDrpSettings {
    &:after {
        right: 0; 
        left: auto;
    }
}*/
.userMenuWrapper {
    left: 0; /*rtl*/
    right: auto;
}

.menuLink.menuLink {
    text-align: right; /*rtl*/
}

.dashLibSearch
{
    margin-right: @searchMargin; /*rtl*/
    margin-left: 0; // leave other margins alone.
    button
    {
        left: 12px; /*rtl*/
        right: auto;
    }   
}
.dashLibSearchInput
{
    padding: 0 15px 0 35px; /*rtl*/
}
/*#endregion */

.footer {
	li:after
	{
        padding: 0 6px 0 3px; /*rtl*/
    }

    li.addPipe:before {
        padding: 0 3px 0 6px; /*rtl*/
    }
}

/*#endregion */