/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.siteLogo {
  padding: 0 30px 0 0;
}
.userNav .userName {
  text-align: right;
  margin: 6px 40px 0 0;
}
.userPts {
  margin: 0 40px 0 0;
  /*rtl*/
}
.headerRightWpr .userSection {
  margin: 0 20px 0 0;
  /*rtl*/
}
.searchBtn {
  left: 10px;
  right: auto;
}
.dashLibSearchInput {
  padding: 0 10px 0 0;
  /*rtl*/
}
.dashHeader.setup .dashLibSearchInput ~ button {
  float: left;
}
.dashHeader.setup .svg-search {
  left: 13px;
  right: auto;
}
.dashHeader.setup .barActions {
  left: 28px;
  right: auto;
}
