/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-Images-app_store() {
/* You may have to set 'display: block' */
	width: 154px;
	height: 52px;
	background: url('HomePage.png') -1px -1px;
}
.sprite-Images-google_play() {
/* You may have to set 'display: block' */
	width: 154px;
	height: 52px;
	background: url('HomePage.png') -1px -54px;
}
.sprite-Images-logo1() {
/* You may have to set 'display: block' */
	width: 275px;
	height: 86px;
	background: url('HomePage.png') -1px -107px;
}
.sprite-Images-logo2() {
/* You may have to set 'display: block' */
	width: 222px;
	height: 65px;
	background: url('HomePage.png') -1px -194px;
}
