/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region layout */
.itemRight {
  padding: 0 290px 0 0;
}
.itemPage .topBar .mainPart {
  padding: 0 290px 0 0;
}
.itemPage .leftPart {
  right: 0;
  left: auto;
}
.itemPage .svg-back {
  right: 12px;
  left: auto;
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.itemPage .backWpr.backWpr {
  padding: 0 57px 0 0;
}
.itemPage .backWpr.backWpr:before {
  display: none;
}
/*#endregion */
/*#region svg icons */
.svg-next {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.svg-prev {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.svg-flag {
  margin: 0 0 0 5px;
}
/*#endregion */
/*#region item topBars */
/*#region topBar - main*/
.middleActionItem:first-child {
  margin: 0 0 0 22px;
}
.middleActionItem .svg-download {
  -webkit-transform: translateX(2px);
  -moz-transform: translateX(2px);
  -o-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
}
/*#endregion */
/*#region second bar - left */
.secondBar .svg-eye,
.secondBar .svg-download {
  margin: 0 0 0 5px;
}
.secondBar .mainPart {
  margin: 0 290px 0 0;
}
/*#endregion */
/*#region second bar - main */
.uploadInfo {
  text-align: right;
}
.itemRenameBtn {
  left: 0;
  right: auto;
}
.item-name {
  text-align: right;
  padding: 0 0 0 24px;
  margin: 10px 0 0 -24px;
}
/*#endregion */
/*#endregion */
/*#region left panel */
.leftPanel .svg-star {
  float: left;
}
.itemComments .addComBtn {
  text-align: right;
}
.itemComments .closeDialog {
  left: -5px;
  right: auto;
}
.itemComments .closeDialog:before {
  left: -4px;
  right: auto;
}
.itemComments .trash {
  left: -4px;
  right: auto;
}
.itemCommentsList {
  padding: 0 0 0 10px;
}
.itemCommentsList .itemComment li:hover > .closeDialog {
  left: 0;
  right: auto;
}
.itemCommentsList .user-name {
  padding: 0 5px 0 0;
}
.itemCommentsList p {
  padding: 14px 0 14px 7px;
}
/*#endregion */
/*#region item content */
.itemDisplay {
  box-shadow: -5px 5px 5px rgba(116, 100, 110, 0.3);
}
.mediaLoader .spinner {
  border-top: 10px solid rgba(56, 56, 56, 0.75);
  border-left: 10px solid rgba(56, 56, 56, 0.75);
}
.smallLoader .spinner {
  border-left: 10px solid rgba(56, 56, 56, 0.75);
}
.previewWrapper {
  right: 0;
  left: auto;
}
/*#endregion */
/*#region fullscreen */
.itemFulscrn .mediaLoader .spinner,
.itemFulscrn .smallLoader .spinner {
  border-left-color: #fff;
}
.exitFulscrn {
  left: 20px;
  right: auto;
}
.itemPrev,
.itemNext {
  right: 10px;
  left: auto;
}
.itemNext {
  left: 20px;
  right: auto;
}
/*#endregion */
