@import "varsAndMixins";

/*#region layout */
body.item {
    .siteHeader {
        background: #0f0f0f;
    }
}

.itemPage, .boxPage, .quizPage {
    width: 100%;
    height: 100%;
}
.itemRight, .boxRight {
    width: 100%;
    height: 100%;
    padding-left: @leftSideBarWidth; //rtl
    .boxSizing;
    text-align: center;
}
.itemRight
{
    background: #282828;
}
.itemPage {
    .topBar{
        color: #fff; //override
        border: none;
        padding:0; //override
        background: #1e1e1e;
        width: 100%;
        .mainPart {
            width: 100%;
            height: 80px;
            .boxSizing;
            padding-left: @leftSideBarWidth; //rtl
            text-align: center;
        }
    }
    .leftPart {
        position: absolute;
        left:0; //rtl
        top:0;
        width: @leftSideBarWidth;
        height: 80px;
        padding: 0 15px;
        .boxSizing;
    }
    
    .backWpr:before {
        display: none;
    }
    .shareDD{
        top: 75px;
        color: @itemBlue;
    }
    .leftPanel {
        @topOffset: @header-height + @topBarHeight + @secondBarHeight;
        height: ~'calc(100vh - @{topOffset})';
        margin-top: @topBarHeight + @secondBarHeight;
        background: #282828;
        position: fixed;
    }
    > h1 {
        margin-top: -50px;
        height: 50px;
        overflow:hidden;
    }
    .svg-back {
        display: inline-block;
        position: absolute;
        left: 0; //rtl
        top: 0;
        .flipH;
    }
}
/*#endregion */

/*#region svg icons */
.svg-download {
    width: 31px;
    height: 23px;
    fill: #fff;
}
.svg-back {
    width: 35px;
    height: 35px;
    fill: #fff;
}
.svg-print {
    width: 24px;
    height: 24px;
}
.svg-fullscreen {
    width: 19px;
    height: 19px;
}
.svg-smallscreen {
    width: 19px;
    height: 19px;
}
.svg-share {
    width: 24px;
    height: 21px;
}

.svg-eye {
    width: 29px;
    height: 17px;
    fill: #fff;
}
.svg-star {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.svg-prev, .svg-next {
    width: 13px;
    height: 18px;
    fill: @itemBlue;
     //rtl
}
.svg-prev {
    .flipH; //rtl
}
.svg-pencil {
    width: 17px;
    height: 21px;
    fill: #fff;
}
.svg-flag {
    width: 21px;
    height: 30px;
    fill: #fff;
    margin-right: 5px; //rtl
}
/*#endregion */

/*#region item topBars */

/*#region topBar - main */
.middleActionList{
    display: inline-block;
    height: 80px;
    vertical-align: top;
    svg {
        display: block;
        margin-bottom: 5px;
        fill: #fff;
        position: absolute;
        left:0;right:0;
        top: 20px;
        margin: auto;
    }
}

.middleActionItem{
    text-align: center;
    display: inline-block;
    margin: 0 15px;
    position: relative;

    .actionLink, > label, > button {
        color: #fff;
        padding-top: 45px;
        display: inline-block;
        cursor: pointer;
    }
    label svg {
        top: 15px;
    }
    &:hover {
        svg {
            fill: @itemBlue;
        }
    }
}

/*#endregion */

/*#region second bar - left */
.secondBar {
    width: 100%;
    height: @secondBarHeight;
    position: fixed;
    z-index: 1;
    background: #282828;
    color: @itemBlue;
    text-align: center;
    top: @header-height + @topBarHeight;
    .leftPart {
        height: @secondBarHeight;
        text-align: center;
        font-size: 15px;
    }
    .views {
        padding-top: 23px;
    }
    .downloads {
        padding-top: 17px;
        display: inline-block;
    }
    .rateWpr {
        width: 126px;
        position: relative;
        top: 23px;
        cursor: pointer;
    }
    .svg-eye{
        position: relative;
        top: 3px;
        margin-right: 5px; //rtl
    }
    .svg-download {
        position: relative;
        top: 6px;
        margin-right: 5px; //rtl
    }
    .svg-star {
        width: 25px; //width=20 but 25px for space between stars
        float: right; //rtl
        &:hover
        {
            fill: #ffc104;
            ~ .svg-star
            {
                fill: #ffc104;
            }
        }
    }
    .mainPart {
        width: 800px;
        height: @secondBarHeight;
        .boxSizing;
        margin-left: @leftSideBarWidth; //rtl
        display: inline-block;
        
        .navBtn {
            padding-top: 25px;
        }
    }
}


/*#endregion */

/*#region second bar - main */
.itemOwner {
    text-align: left; //rtl
    color: #fff;
    clear: both;
}
.itemNameWpr {
    display: inline-block;
    position: relative;
    &:hover {
        .itemRenameBtn {
            display: block;
        }
    }
}
.itemRenameBtn{
    display: none;
    position: absolute;
    top: 6px;
    right: 0; //rtl
}

.item-name {
    text-align: left; //rtl
    color: @itemBlue;
    font-size: 20px;
    max-width: 750px;
    padding-right: 24px; //rtl
    margin: 10px -24px 0 0; //rtl
    position: relative;
    .boxSizing;
    font-weight: normal;
}

/*#endregion */

/*#endregion */

/*#region left panel */

.leftPanel {
    width: @leftSideBarWidth;
    .boxSizing;
    padding: 0 15px;
}

.itemFlag
{   
    display: block;
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    &:hover {
        .svg-flag {
            fill: @itemBlue;
        }
    }
    /*&:before
    {
        .pseudo;
        width: 15px;
        height: 17px;
        background: @item-sprite1 -70px -2px no-repeat;
        vertical-align: middle;
        margin-right: 5px; //rtl
    }
    &:hover:before {
        background-position: -71px -21px;
    }*/
}
.itemComments {
    color: #fff;
    border-top: 1px solid #fff;
    header {
        font-size: 20px;
        color: @itemBlue;
        padding: 15px 0 10px;
    }
    > .itemCommentsForm {
        .textareaWpr {
            margin-bottom: 20px;
        }
    }
    .textareaWpr {
        /* background: #fff; */
        background: none;
        border: none;
        overflow: hidden;
        
    }
    textarea {
        border: 1px solid @borderColor;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 8px;
        height: 20px;
        padding: 0 5px;
    }
    .cancel, .post {
        font-size: 15px;
        color: @itemBlue;
        padding: 2px 15px;
    }
    .post {
        background: #fff;
        border-radius: 5px;
    }
    .addComBtn {
        padding-top: 5px;
        color: @itemBlue;
        display: block;
        width: 100%;
        text-align: left; //rtl
    }
    .closeDialog {
        top: 6px;
        right: 6px; //rtl
        display: none;
    }
    
}
.itemCommentsList {
    margin: 2px 0;
    .itemComment {
        position: relative;
        border: 1px solid @itemBlue;
        border-radius: 5px;
        margin-top: 35px;
        padding: 8px;
        .boxSizing;
        
        &:first-child {
            margin-top: 0;
        }
        &:hover {
            > .closeDialog {
                display: block;
            }
        }
        li {
            position: relative;
            &:hover {
                > .closeDialog {
                    display: block;
                    top: 0;
                    right: 0; //rtl
                }
            }
        }
    }
    .user-name {
        color: @itemBlue;
    }
    p {
        font-size: 15px;
        padding: 5px 0 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid @borderColor;
    }  
}
/*#endregion */

/*#region item content */
.pageLoader {
    margin: 21px 0;
    position: absolute;
    left: 0;right: 0;

    &.pageAnim {
        margin: -5px auto 0 auto;
        padding-top: 20px;
        padding-bottom: 21px;
        width: 101px;
        height: 9px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAS8AAAAJCAMAAABUglp1AAAAM1BMVEUAAADHx8e4ycGyyr6HzquHzqvHx8fHx8fHx8fHx8fHx8fHx8eHzqvHx8eHzquHzqvHx8f/0ROZAAAAD3RSTlMA3BADT9RKgFPPn/OfaXk/0XztAAAApUlEQVR4Xu3VwQ6EMAgE0NoWK+oK//+1u7SHSTy4HuDWdyIeGCcxkvxNlYTqGPN+HHse88rKa3Jw35ZPkTM2BE1Q0EsV0/cV1h8uPVvN5tUE2wpZHsWGoAkKOiExZOOmSFzULMkBtuH1pYaGoAkKvpHbk2RksLFp15/rkEx79PkTctt2SXdFhqAJCr4JSTC/Lwfz/+V3HzdW9mmCbbiPcSHR9xGmL9zPGLW9Hc1KAAAAAElFTkSuQmCC') /*/Images/loader1.png*/ no-repeat;
        -webkit-animation: loader 1.5s steps(3) infinite;
        -moz-animation: loader 1.5s steps(3) infinite;
        -ms-animation: loader 1.5s steps(3) infinite;
        -o-animation: loader 1.5s steps(3) infinite;
        animation: loader 1.5s steps(3) infinite;
    }
}

.itemDisplay {
    border: 1px solid #d2cbcf;
    box-shadow: 5px 5px 5px rgba(116, 100, 110, 0.3); //rtl
    .placement(absolute);
    max-height: 100%;
    max-width: 100%;
    margin: auto;

    &.frameContent {
        height: 100%;
        width: 100%;
    }
}
.previewFailed, .previewDenied h2, .mediaLoading, .mediaLoading h2 {
    color: #fff;
}
.previewFailed {
    margin: 0 auto 0;
    padding: 50px; // eliminate scroll
    text-align: center;
    &:before {
        content: '';
        display: block;
        width: 127px;
        height: 152px;
        background: @item-sprite1 -1px -40px no-repeat;
        margin: 0 auto 50px;
    }
}
.previewFailedText
{
    font-size: 16px;
    margin-top: 10px;
}
.actionText
{
    color: @color;
    &:hover
    {
        text-decoration: underline;
    }
}
 
.previewDenied {
    &:before
    {
        .pseudo;
        width: 303px;
        height: 200px;
        margin: 50px auto;
        background: url(/Images/no-preview.png?v=1) no-repeat;
    }
}
.previewDeniedBtn
{
    font-size: 15px;
    color: #fff;
    background: @attentionBlue;
    border-radius: 3px;
    padding: 0 25px;
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
    display: inline-block;
}
.mediaLoader {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 100px auto 60px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAA7BAMAAADYyYS+AAAAJ1BMVEUAAAADccgDccgDccgDccgDccgDccgDccgDccgDccgDccgDccgDcch97mMqAAAADHRSTlMAMjxKqBGDxSLhal2f5xiMAAAAtklEQVR4XtXSIQ7CQBCF4WnKkgYQ4BC9AAkeS1CIygaFQKEQHGAFggNwgB6BI1QBoaG8QzFN7c6zZH/7ZcRLRiItmYWa91gi3LtDV8HorDqA1Vd1b+pHNYeZ6jJqbXdMn3KlKguqcqfqTkwl80wlpSoF0xJERyCaVkSzArbqWqI1bH2tYvmrnOrExEZ1aOpDtMLSQ6djH8aN/LkSW6IeTRjI3nWnlaW3/toBuIhZjVbskuNU4ukHjk7x4qrijeAAAAAASUVORK5CYII=') /*/Images/loading-media.png*/ center center no-repeat;

    .spinner {
        border-top: 10px solid rgba(56, 56, 56,.75);
        border-left: 10px solid rgba(56, 56, 56,.75);
    }
}

.mediaLoading
{
    font-size: 15px;
    text-align: center;

    h2{
        margin-bottom: 5px;
    }
}
.smallLoader
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin:auto;
    z-index: 10;
    .spinner
    {
        width: 80px;
        height: 80px;
        border-top: 10px solid rgba(56, 56, 56,.75);
        border-left: 10px solid rgba(56, 56, 56,.75);
    }
}
.pageLoaderImg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}


/*New Item View*/
.itemPreview {
    text-align: center;
    overflow: auto;// We need this because want inner scroll and not page scroll
    height: ~"-webkit-calc(100% - 130px)"; 
    height: ~"calc(100% - 130px)";
    .boxSizing;
    padding-top: 10px;  
    //position: fixed;
    left: 0;right: 0;
}
//used for links
.iframeContent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 98%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.previewWrapper {
    -webkit-overflow-scrolling: touch;
    position: relative;
    left: 0; //rtl
    height: 100%; //used for links
    .transition(all .3s);
    //min-height: ~'-webkit-calc(100vh - 60px)';
    //min-height: ~'calc(100vh - 60px)';
    min-height: ~'-webkit-calc(100vh - 200px)';
    min-height: ~'calc(100vh - 200px)';
    margin-top: 140px;

    .boldFont{
        font-size: 22px;
        white-space:pre-wrap;
        line-height: 22px;
        font-weight: normal;
    }   
}

.divWrapper {
    border: 1px solid @borderColor;
    border-radius: 10px;
    background: #fff;
    width: 800px;
    margin: 0 auto 10px;
    position: relative;
    z-index:0;//bug 581
}

.imageContent {
    max-width: 800px;
    display: inline-block;
    margin: 10px 0;
    //bug 1982
    background:#fff;
    color:#fff;
}

.copyRightWarning {
    background: #fff;
    font: 15px Arial;
    line-height: 15px;
    color: #878788;
    //margin: 0 15px;
    padding: 15px;
    border-top: 1px solid #858585;
    border-radius: 0 0 10px 10px;
}
/*#endregion */

/*#region fullscreen */

.modal.fullscreen {
    background: rgba(0,0,0,.9);
    padding-top: @header-height;
    .modal-dialog {
        border: none;
        width: 800px;
        margin: 0 auto;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none; //override;
        padding: 0; //override;
    }
}
.itemFulscrn {
    text-align: center;
    height:100%;

    .copyRightWarning {
        display: none;
    }
    .previewWrapper {
        //z-index: 12;
        z-index: 13;
        text-align: center;
        display: inline-block;
    }
    .mediaLoader .spinner, .smallLoader .spinner {
        border-top-color: #fff;
        border-left-color: #fff;
    }

    .divWrapper {
        border: none;
        background:transparent;
    }

    .imageContent {
        margin: 0;
        width: auto;
        max-width: 100%;

        ~ .copyRightWarning, ~ .annotationList {
            display: none;
        }

        &.document {
            max-width: 900px;
        }
    }

    iframe {
        width: 90vw;
        height: 97vh;
        position: fixed;
        top: 10px;
        right: 0;left: 0;
        margin: auto;
    }

    .youtubeframe {
        width: 85vw;
        height: 90vh;
    }
}

.exitFulscrn{
    position: fixed;
    top: 20px;
    right: 20px; //rtl
    width: 10px;
    height: 10px;
    cursor: pointer;
    background: @common-sprite -79px -26px no-repeat;
    z-index: 13;
}
.itemPrev, .itemNext {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 10px; //rtl
    cursor: pointer;

    &.disabled{
        opacity:.4;
    }
}

.itemNext{
    right: 20px; //rtl
    left: auto;
}

.fulscrn {
    overflow:hidden;
    height: 100vh;
    margin-top: -50px;
}
/*#endregion */
