
q {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    font-weight: normal;
}

.membersOnly {
    width: 810px;
}

.userInfo .userName {
    width: 90px;
}

.inviteVia .facebook, .inviteVia .email {
    width: 342px;
}
.enterForm .small {
    display: block;
    margin-bottom: 4px;
    line-height: 10px;
}
.connect, .create
{
    font-size: 12px;
}
.popupWrppr.registerNow
{
    width: 485px;
}
.homeContent h1 {
    font-size: 32px;
}
/*#region item page */
.previewWrapper h2 {
    line-height: 12px;
    margin-bottom: 20px;
}

/*.itemActions .backWpr {
    max-width: -webkit-calc(50% - 240px);
    max-width: calc(50% - 240px);
}*/
/*#endregion */
/*#region box page */
.inviteFriendBtn.btn3 {
    width: 150px; // invite friends button
    padding: 7px 13px; //override - need this to keep text on one line
}

/*if < 4 items: float friendBtn right.*/
.friendItem:last-child:nth-child(-n + 4)
{
    float: right;
}
.friendItem:last-child:nth-child(5)
{
    float: none;
}
/*if > 11 items hide all further items*/
.friendItem:nth-child(n+11)
{
    display: none;
}
.friendItem:last-child
{
    display: inline-block;
}

.academic .boxSetting .editBoxName {
    width:540px;
}

.private .boxSetting .editBoxName {
    width:504px;
}

#box_settings .memberName {
    width:245px;
}

.boxSetting label {
    padding-right:10px;
}
/*#endregion */

/*#region invite page*/
.invItem  {

    .invName {
        max-width:160px;
    }
}

.invBtn {
    .invited {
        min-width:100px;    
    }
}

.invForm h3 {
    font-size:14px;   
}
/*#endregion*/

/*#region modal.less */

.tabArrow:before
{
    left: 50px;
    .tabMembers & {
        left: 163px;
    }
}

/*#endregion */

//Email Autocomplete
.emailUser .inputLabel
{
    width: 41px; //instead of 28px
} 
.gConnect
{
    width: 118px; //instead of 80px
}
