.register .cbLabel {
  display: block;
  /*rtl*/
}
.quizAnswersList {
  list-style-type: hebrew;
}
.chairman {
  display: block;
  /*rtl*/
}
.chairman ~ .page {
  padding-left: 450px;
}
.chairman ~ .page .libraryChoose {
  width: 85%;
}
