@import "varsAndMixins";

[data-letter] {
    &:before {
        content:attr(data-letter);
        width: 46px;
        height: 46px;
        line-height: 46px;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align:center;
        text-transform: capitalize;
        position: absolute;
        top:0;bottom:0;
        margin: auto;
        left: 8px; //rtl
        font-size: 25px;
    }
}
.userImg, .userLetter {
    border-radius: 50%;
}
.userImg {
    border: 1px solid @borderColor;
    .boxSizing;
    + .userLetter {
        display: none;
    }
}

.ttImg, .bestUserList img, .feedImg {
    + [data-letter] {
        display: none;
    }
}
//The following are the user image classes 
.bestUserList, .boxFeed, .userTooltip, .profileInfo, .memberItem,
.friendsPics, .topUser, .commentWpr, .singleEmailUserWpr,
.socialList, .notifyItem, .upTop, .upFriends, .upInvites,
.upMembersList, .upTabContent, .fbFriendsList, .userAnchor {
    [data-letter] {
        &:before {
            border: 1px solid @borderColor;
            background: #eee;
            //.boxSizing; //TODO: this needs testing
        }
    }
    .color1 {
        &:before {
            color: #00bfa5;
        } 
    }
    .color2 {
        &:before {
            color: #f06292;
        }  
    }
    .color3 {
        &:before {
            color: #b388ff;
        } 
    }
    .color4 {
        &:before {
            color: #ff6e40;
        } 
    }
    .color5 {
        &:before {
            color: #e06055;
        }  
    }
    .color6 {
        &:before {
            color: #8e8e8e;
        } 
    }
    .color7 {
        &:before {
            color: #f9a825;
        }  
    }
    .color8 {
        &:before {
            color: #00c853;
        }     
    }
}
.color1 {
    &:before {
        background: #00bfa5;
    } 
}
.color2 {
    &:before {
        background: #f06292;
    }  
}
.color3 {
    &:before {
        background: #b388ff;
    } 
}
.color4 {
    &:before {
        background: #ff6e40;
    } 
}
.color5 {
    &:before {
        background: #e06055;
    }  
}
.color6 {
    &:before {
        background: #8e8e8e;
    } 
}
.color7 {
    &:before {
        background: #f9a825;
    }  
}
.color8 {
    &:before {
        background: #00c853;
    }     
}


/*#region user tooltip */



/*#endregion */

/*#region Settings */
.profileInfo {
    [data-letter] {
        &:before {
            position: static;
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 70px;
        }
        
    }
    .heb:before {
        font-size: 80px;
        line-height: 90px;
    }
    .profilePhoto {
        + .profilePhoto {
            display: none;
        }
    } 
}
/*#endregion */

/*#region Box -> Members tab */
.memberItem {
    [data-letter] {
        &:before {
            position: static;
            width: 34px;
            height: 34px;
            line-height: 34px;
            font-size: 20px;
        }
        
    }
    .heb:before {
        font-size: 24px;
        line-height: 31px;
    }
    .friendImg {
        + .friendImg {
            display: none;
        }
    }
}
/*#endregion */

/*#region Quiz Dialog */
.friendsPics {
    [data-letter] {
        &:before {
            position: static;
            width: 51px;
            height: 51px;
            line-height: 51px;
            font-size: 30px;
        }
        
    }
    .heb:before {
        font-size: 35px;
        line-height: 46px;
    }
    img + .letter {
        display: none;
    }
    .letter {
        display: inline-block;
        margin-bottom: 1px;
        border-radius: 50%;
        //background: red; //TEMP!!!!
        
    }
    > span:nth-of-type(odd) {
        margin-right: 5px; //rtl
    }
}


/*#endregion */

/*#region Quiz page */
.topUser {
    [data-letter] {
        &:before {
            position: static;
            width: 37px;
            height: 37px;
            line-height: 37px;
            font-size: 25px;
        }
        
    }
    .heb:before {
        font-size: 28px;
        line-height: 34px;
    }
    img + .letter {
        display: none;
    }
    .letter {
        border-radius: 50%;
        height: 37px;
        width: 37px;
    }
}


/*#endregion */

/*#region Quiz Comments */
.commentWpr {
    [data-letter] {
        &:before {
            position: static;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
        }
        
    }
    .heb:before {
        font-size: 22px;
        line-height: 28px;
    }
    .imgBorder {
        + .imgBorder {
            display: none;
        }
    }
}

/*#endregion */

/*#region Box */
.boxTop {
    &[data-letter]:before {
        width: 74px;
        height: 74px;
        line-height: 74px;
        left:0;right:0;
        bottom: auto; //override
        margin: auto;
        font-size: 45px;
    }
    &.heb:before {
        line-height: 67px;
        font-size: 52px;
    }
}


/*#endregion */

/*#region Message popup; Share */
.singleEmailUserWpr, .invItem {
    [data-letter] {
        &:before {
            position: static;
            width: 34px;
            height: 34px;
            line-height: 34px;
            font-size: 22px;
        }
        
    }
    .heb:before {
        font-size: 25px;
        line-height: 30px;
    }
}
.singleEmailUserWpr {
    
    .eSingleImg {
        + .eSingleImg {
            display: none;
        }
    }
    
}
.invItem {
    .friendImg {
        + .friendImg {
            display: none;
        }
    }
}
/*#endregion */
/*#region Social List */
.socialList {
    [data-letter] {
        margin-bottom: 3px;
        display: inline-block;
        &:before {
            position: static;
            width: 64px;
            height: 64px;
            line-height: 64px;
            font-size: 40px;
        }
        
    }
    .heb:before {
        font-size: 49px;
        line-height: 60px;
    }
    img + .letter {
        display: none;
    }
}

/*#endregion */
/*#region Notify */
.notifyItem {
    [data-letter] {
        &:before {
            width: 72px;
            height: 72px;
            line-height: 72px;
            font-size: 45px;
        }
    }
    .heb:before {
        line-height: 67px;
        font-size: 52px;
    }
    .notifyImg {
        + .notifyImg {
            display: none;
        }
    }
}
/*#endregion */
/*#region User page */
.upTop {
    [data-letter] {
        &:before {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 70px;
            left: -1px; //override
        }
    }
    .heb:before {
        line-height: 87px;
        font-size: 80px;
    }
}
.upFriends, .upInvites {
    [data-letter] {
        margin-bottom: 10px;
        &:before {
            width: 74px;
            height: 74px;
            line-height: 74px;
            position: static;
            font-size: 45px;
            margin: -1px 0 0 -2px;
        }
    }
    .heb:before {
        line-height: 67px;
        font-size: 52px;
    }
}
.upMembersList, .upTabContent {
    [data-letter] {
        &:before {
            position: static;
            width: 34px;
            height: 34px;
            line-height: 34px;
            font-size: 20px;
            .boxSizing;
        }
    }
    .heb:before {
        font-size: 24px;
        line-height: 31px;
    }
}
/*#endregion */

/*#region SelectUni - fbFriendsList */
.fbFriendsList {
    [data-letter] {
        &:before {
            position: static;
            width: 34px;
            height: 34px;
            line-height: 34px;
            font-size: 22px;
        }
        
    }
    .heb:before {
        font-size: 25px;
        line-height: 30px;
    }
}
/*#endregion */

/*#region Site header user image */
.userAnchor {
    [data-letter] {
        &:before {
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 22px;
            .boxSizing;
            left: 0; //override
        }
        
    }
    .heb:before {
        font-size: 28px;
        line-height: 30px;
    }
}
/*#endregion */
