/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
[data-letter]:before {
  content: attr(data-letter);
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 8px;
  font-size: 25px;
}
.userImg,
.userLetter {
  border-radius: 50%;
}
.userImg {
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#region letters on boxes/courses/quizzes */
.box [data-letter]:before,
.recommended [data-letter]:before,
.itemList [data-letter]:before {
  width: 56px;
  height: 56px;
  line-height: 56px;
  right: 11px;
  font-size: 28px;
}
.box .heb:before,
.recommended .heb:before,
.itemList .heb:before {
  font-size: 34px;
  line-height: 50px;
}
.thumbItem [data-letter]:before,
.listItem [data-letter]:before {
  content: attr(data-letter);
  width: 52px;
  height: 52px;
  line-height: 52px;
  top: 54px;
  bottom: auto;
  right: 0;
  left: 0;
  margin: auto;
  color: #fff;
  font-size: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.thumbItem .heb:before,
.listItem .heb:before {
  font-size: 35px;
  line-height: 46px;
}
.thumbImg {
  position: relative;
  width: 94px;
  height: 94px;
}
.thumbImg[data-letter]:before {
  content: attr(data-letter);
  width: 94px;
  height: 94px;
  line-height: 94px;
  font-size: 66px;
}
.thumbImg.heb:before {
  line-height: 84px;
  font-size: 76px;
}
.boxTop[data-letter]:before {
  width: 74px;
  height: 74px;
  line-height: 74px;
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  font-size: 45px;
}
.boxTop.heb:before {
  line-height: 67px;
  font-size: 52px;
}
.quizList [data-letter]:before {
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 22px;
  bottom: auto;
  right: 0;
  left: 0;
  font-size: 16px;
}
.quizList .heb:before {
  line-height: 22px;
  font-size: 18px;
}
/*#endregion */
/*#region letter color / background color */
.bestUserList .userLetter:before,
.boxFeed .userLetter:before,
.userTooltip .userLetter:before,
.profileInfo .userLetter:before,
.memberItem .userLetter:before,
.friendsPics .userLetter:before,
.topUser .userLetter:before,
.commentWpr .userLetter:before,
.singleEmailUserWpr .userLetter:before,
.boxFeed .socialList .userLetter:before,
.notifyItem .userLetter:before,
.upTop .userLetter:before,
.upFriends .userLetter:before,
.upInvites .userLetter:before,
.upMembersList .userLetter:before,
.upTabContent .userLetter:before,
.fbFriendsList .userLetter:before,
.userAnchor .userLetter:before {
  border: 1px solid #c2c2c2;
  background: #eee;
}
.bestUserList .color1:before,
.boxFeed .color1:before,
.userTooltip .color1:before,
.profileInfo .color1:before,
.memberItem .color1:before,
.friendsPics .color1:before,
.topUser .color1:before,
.commentWpr .color1:before,
.singleEmailUserWpr .color1:before,
.boxFeed .socialList .color1:before,
.notifyItem .color1:before,
.upTop .color1:before,
.upFriends .color1:before,
.upInvites .color1:before,
.upMembersList .color1:before,
.upTabContent .color1:before,
.fbFriendsList .color1:before,
.userAnchor .color1:before {
  color: #00bfa5;
}
.bestUserList .color2:before,
.boxFeed .color2:before,
.userTooltip .color2:before,
.profileInfo .color2:before,
.memberItem .color2:before,
.friendsPics .color2:before,
.topUser .color2:before,
.commentWpr .color2:before,
.singleEmailUserWpr .color2:before,
.boxFeed .socialList .color2:before,
.notifyItem .color2:before,
.upTop .color2:before,
.upFriends .color2:before,
.upInvites .color2:before,
.upMembersList .color2:before,
.upTabContent .color2:before,
.fbFriendsList .color2:before,
.userAnchor .color2:before {
  color: #f06292;
}
.bestUserList .color3:before,
.boxFeed .color3:before,
.userTooltip .color3:before,
.profileInfo .color3:before,
.memberItem .color3:before,
.friendsPics .color3:before,
.topUser .color3:before,
.commentWpr .color3:before,
.singleEmailUserWpr .color3:before,
.boxFeed .socialList .color3:before,
.notifyItem .color3:before,
.upTop .color3:before,
.upFriends .color3:before,
.upInvites .color3:before,
.upMembersList .color3:before,
.upTabContent .color3:before,
.fbFriendsList .color3:before,
.userAnchor .color3:before {
  color: #b388ff;
}
.bestUserList .color4:before,
.boxFeed .color4:before,
.userTooltip .color4:before,
.profileInfo .color4:before,
.memberItem .color4:before,
.friendsPics .color4:before,
.topUser .color4:before,
.commentWpr .color4:before,
.singleEmailUserWpr .color4:before,
.boxFeed .socialList .color4:before,
.notifyItem .color4:before,
.upTop .color4:before,
.upFriends .color4:before,
.upInvites .color4:before,
.upMembersList .color4:before,
.upTabContent .color4:before,
.fbFriendsList .color4:before,
.userAnchor .color4:before {
  color: #ff6e40;
}
.bestUserList .color5:before,
.boxFeed .color5:before,
.userTooltip .color5:before,
.profileInfo .color5:before,
.memberItem .color5:before,
.friendsPics .color5:before,
.topUser .color5:before,
.commentWpr .color5:before,
.singleEmailUserWpr .color5:before,
.boxFeed .socialList .color5:before,
.notifyItem .color5:before,
.upTop .color5:before,
.upFriends .color5:before,
.upInvites .color5:before,
.upMembersList .color5:before,
.upTabContent .color5:before,
.fbFriendsList .color5:before,
.userAnchor .color5:before {
  color: #e06055;
}
.bestUserList .color6:before,
.boxFeed .color6:before,
.userTooltip .color6:before,
.profileInfo .color6:before,
.memberItem .color6:before,
.friendsPics .color6:before,
.topUser .color6:before,
.commentWpr .color6:before,
.singleEmailUserWpr .color6:before,
.boxFeed .socialList .color6:before,
.notifyItem .color6:before,
.upTop .color6:before,
.upFriends .color6:before,
.upInvites .color6:before,
.upMembersList .color6:before,
.upTabContent .color6:before,
.fbFriendsList .color6:before,
.userAnchor .color6:before {
  color: #8e8e8e;
}
.bestUserList .color7:before,
.boxFeed .color7:before,
.userTooltip .color7:before,
.profileInfo .color7:before,
.memberItem .color7:before,
.friendsPics .color7:before,
.topUser .color7:before,
.commentWpr .color7:before,
.singleEmailUserWpr .color7:before,
.boxFeed .socialList .color7:before,
.notifyItem .color7:before,
.upTop .color7:before,
.upFriends .color7:before,
.upInvites .color7:before,
.upMembersList .color7:before,
.upTabContent .color7:before,
.fbFriendsList .color7:before,
.userAnchor .color7:before {
  color: #f9a825;
}
.bestUserList .color8:before,
.boxFeed .color8:before,
.userTooltip .color8:before,
.profileInfo .color8:before,
.memberItem .color8:before,
.friendsPics .color8:before,
.topUser .color8:before,
.commentWpr .color8:before,
.singleEmailUserWpr .color8:before,
.boxFeed .socialList .color8:before,
.notifyItem .color8:before,
.upTop .color8:before,
.upFriends .color8:before,
.upInvites .color8:before,
.upMembersList .color8:before,
.upTabContent .color8:before,
.fbFriendsList .color8:before,
.userAnchor .color8:before {
  color: #00c853;
}
.color1:before {
  background: #00bfa5;
}
.color2:before {
  background: #f06292;
}
.color3:before {
  background: #b388ff;
}
.color4:before {
  background: #ff6e40;
}
.color5:before {
  background: #e06055;
}
.color6:before {
  background: #8e8e8e;
}
.color7:before {
  background: #f9a825;
}
.color8:before {
  background: #00c853;
}
/*#endregion */
/*#region bestUser List */
.bestUserList .userLetter:before {
  position: static;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bestUserList .heb:before {
  font-size: 35px;
  line-height: 46px;
}
.bestUserList li:nth-of-type(n + 4) .userLetter:before {
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 25px;
}
.bestUserList li:nth-of-type(n + 4) .heb:before {
  font-size: 28px;
  line-height: 34px;
}
/*#endregion */
/*#region user tooltip */
.userTooltip .userLetter:before {
  font-size: 36px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  right: -1px;
}
.userTooltip .heb:before {
  font-size: 40px;
  line-height: 65px;
}
/*#endregion */
/*#region Settings */
.profileInfo .userLetter:before {
  position: static;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
}
.profileInfo .heb:before {
  font-size: 80px;
  line-height: 90px;
}
/*#endregion */
/*#region Box -> Members tab */
.memberItem .userLetter:before {
  position: static;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
}
.memberItem .heb:before {
  font-size: 24px;
  line-height: 31px;
}
/*#endregion */
/*#region Quiz Dialog */
.friendsPics .userLetter:before {
  position: static;
  width: 51px;
  height: 51px;
  line-height: 51px;
  font-size: 30px;
}
.friendsPics .heb:before {
  font-size: 35px;
  line-height: 46px;
}
/*#endregion */
/*#region Quiz page */
.topUser .userLetter:before {
  position: static;
  width: 37px;
  height: 37px;
  line-height: 37px;
  font-size: 25px;
}
.topUser .heb:before {
  font-size: 28px;
  line-height: 34px;
}
/*#endregion */
/*#region Quiz Comments */
.commentWpr .userLetter:before {
  position: static;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
.commentWpr .heb:before {
  font-size: 22px;
  line-height: 28px;
}
/*#endregion */
/*#region Message popup; Share */
.singleEmailUserWpr .userLetter:before,
.invItem .userLetter:before {
  position: static;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 22px;
}
.singleEmailUserWpr .heb:before,
.invItem .heb:before {
  font-size: 25px;
  line-height: 30px;
}
/*#endregion */
/*#region Social List */
.socialList .userLetter {
  margin-bottom: 3px;
  display: inline-block;
}
.socialList .userLetter:before {
  position: static;
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 40px;
}
.socialList .heb:before {
  font-size: 49px;
  line-height: 60px;
}
/*#endregion */
/*#region Notify */
.notifyItem .userLetter:before {
  width: 72px;
  height: 72px;
  line-height: 72px;
  font-size: 45px;
  right: -4px;
}
.notifyItem .heb:before {
  line-height: 67px;
  font-size: 52px;
}
/*#endregion */
/*#region User page */
.upTop .userLetter:before {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
  right: -1px;
}
.upTop .heb:before {
  line-height: 87px;
  font-size: 80px;
}
.upFriends .userLetter,
.upInvites .userLetter {
  margin-bottom: 10px;
}
.upFriends .userLetter:before,
.upInvites .userLetter:before {
  width: 74px;
  height: 74px;
  line-height: 74px;
  position: static;
  font-size: 45px;
  margin: -1px -2px 0 0;
}
.upFriends .heb:before,
.upInvites .heb:before {
  line-height: 67px;
  font-size: 52px;
}
.upMembersList .userLetter:before,
.upTabContent .userLetter:before {
  position: static;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.upMembersList .heb:before,
.upTabContent .heb:before {
  font-size: 24px;
  line-height: 31px;
}
/*#endregion */
/*#region SelectUni - fbFriendsList */
.fbFriendsList .userLetter:before {
  position: static;
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 22px;
}
.fbFriendsList .heb:before {
  font-size: 25px;
  line-height: 30px;
}
/*#endregion */
/*#region box feed */
.boxFeed .userLetter:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.boxFeed .heb:before {
  font-size: 26px;
  line-height: 38px;
}
/*#endregion */
/*#region Site header user image */
.userAnchor .userLetter:before {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
}
.userAnchor .heb:before {
  font-size: 28px;
  line-height: 32px;
}
