/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region Q&A */
.QA {
  overflow: hidden;
  width: 366px;
  color: #383838;
  text-align: left;
  /*rtl*/
  position: fixed;
  -webkit-transition: top 1s ease-in;
  -moz-transition: top 1s ease-in;
  -o-transition: top 1s ease-in;
  transition: top 1s ease-in;
  top: 150px;
  right: 20px;
  /*rtl*/
  height: 100%;
  z-index: 1;
  background: url(/Images/gray_jean80.png) repeat #ffffff;
}
.QA.changeState .QWpr {
  left: -344px;
  /*rtl*/
  z-index: 0;
  opacity: 0;
}
.QA.changeState .AWpr {
  left: 0;
  /*rtl*/
  z-index: 2;
}
.QA.changeState .QForm {
  opacity: 0;
  visibility: hidden;
}
.QA.changeState .back {
  opacity: 1;
  visibility: visible;
}
.QA.flipTransition .QWpr,
.QA.flipTransition .AWpr {
  -webkit-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 1s;
  -moz-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 1s;
  -o-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 1s;
  transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 1s;
}
.QA.flipTransition .QForm {
  -webkit-transition: all, 0.5s ease 0s;
  -moz-transition: all, 0.5s ease 0s;
  -o-transition: all, 0.5s ease 0s;
  transition: all, 0.5s ease 0s;
}
.QA.flipTransition .back {
  -webkit-transition: all, 0.5s ease 0s;
  -moz-transition: all, 0.5s ease 0s;
  -o-transition: all, 0.5s ease 0s;
  transition: all, 0.5s ease 0s;
  /*-webkit-transition: visibility .5s ease 0s,opacity .5s ease 0s;
                -moz-transition: visibility .5s ease 0s,opacity .5s ease 0s;
                -o-transition: visibility .5s ease 0s,opacity .5s ease 0s;
                transition: visibility .5s ease 0s,opacity .5s ease 0s;*/
}
.QA.flipTransition .QItem {
  -webkit-transition: all, 0.2s ease 1s;
  -moz-transition: all, 0.2s ease 1s;
  -o-transition: all, 0.2s ease 1s;
  transition: all, 0.2s ease 1s;
}
.QA .back {
  margin-top: -6px;
  height: 29px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all, 0.5s ease 1.3s;
  -moz-transition: all, 0.5s ease 1.3s;
  -o-transition: all, 0.5s ease 1.3s;
  transition: all, 0.5s ease 1.3s;
  /*-moz-transition: visibility .5s ease 1.3s,opacity .5s ease 1.3s;
        -o-transition: visibility .5s ease 1.3s,opacity .5s ease 1.3s; 
        -webkit-transition: visibility .5s ease 1.3s,opacity .5s ease 1.3s;
        transition: visibility .5s ease 1.3s,opacity .5s ease 1.3s;*/
}
.QA .userName {
  max-width: 225px;
}
.QForm {
  -webkit-transition: all, 0.5s ease 1.3s;
  -moz-transition: all, 0.5s ease 1.3s;
  -o-transition: all, 0.5s ease 1.3s;
  transition: all, 0.5s ease 1.3s;
  opacity: 1;
  margin: 0 7px -20px 7px;
}
.QForm .textareaWpr {
  width: 350px;
  min-height: 40px;
}
.QForm .QTextarea {
  width: 308px;
  margin-top: 6px;
}
.QForm .QAImg {
  margin: 3px 0 0 8px;
  /*rtl*/
}
.QWpr {
  display: inline-block;
  position: absolute;
  left: 0;
  /*rtl*/
  margin-top: 6px;
  -webkit-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  -moz-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  -o-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  width: 365px;
}
.AWpr {
  width: 354px;
  margin: 6px 6px 0 6px;
  position: absolute;
  left: 376px;
  z-index: 10;
  -webkit-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  -moz-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  -o-transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
  transition: all, 0.8s cubic-bezier(0.46, 0.075, 0.725, 0.9) 0.2s;
}
textarea:invalid {
  box-shadow: none;
}
.qaText1 {
  font-size: 22px;
  color: #383838;
  text-align: center;
  padding-top: 20px;
  line-height: 24px;
  font-weight: 300;
}
.qaText2 {
  font-size: 14px;
  color: rgba(103, 103, 103, 0.5);
  text-align: center;
  margin-top: 70px;
}
.QAImg {
  width: 32px;
  height: 32px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}
.textareaWpr {
  background: #fff;
  display: inline-block;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  overflow: hidden;
}
.QTextarea {
  padding: 6px 5px 3px 8px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  line-height: 16px;
  width: 327px;
  height: 29px;
  max-height: 150px;
  font-size: 15px;
}
.QTextarea::-webkit-input-placeholder {
  color: #676767;
}
.QTextarea::-moz-placeholder {
  color: #676767;
  opacity: 1;
}
.QTextarea:-ms-input-placeholder {
  color: #676767;
}
.attachedList {
  padding: 0 8px 3px 50px;
  /*rtl*/
}
.attachedItem {
  background: #f0f0f0;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  padding-left: 6px;
  /*rtl*/
  display: inline-block;
  margin: 3px 5px 3px 0;
  /*rtl*/
}
.attachName {
  display: inline-block;
  max-width: 100px;
  vertical-align: top;
  margin-top: 2px;
}
.removeAttach {
  width: 20px;
  height: 22px;
  position: relative;
}
.removeAttach:before {
  content: '';
  display: inline-block;
  background: #c2c2c2;
  width: 1px;
  height: 22px;
  position: absolute;
  left: 0;
  /*rtl*/
  top: 0;
}
.removeAttach:after {
  content: '';
  display: inline-block;
  background: url(/Images/common14-sprite.png?v=1) -68px -15px no-repeat;
  width: 10px;
  height: 10px;
  vertical-align: top;
  margin-top: 5px;
}
.askBtn {
  border-radius: 5px;
  background: #0371c8;
  color: #fff;
  font-size: 15px;
  min-width: 80px;
  padding: 1px 13px;
  margin-top: 3px;
  display: none;
}
.askBtn:disabled {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(3, 113, 200, 0.5);
}
.attachBtn {
  width: 15px;
  height: 13px;
  margin: 8px 8px 0 8px;
  background: url(/Images/QnA-sprite.png) -85px -1px no-repeat;
  display: none;
  vertical-align: top;
}
.attachBtn:hover {
  background-position: -85px -16px;
}
.attachBtn:disabled {
  opacity: .5;
}
.commentFocused {
  min-height: 60px;
}
.QAContent {
  background: rgba(217, 217, 217, 0.65);
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  width: 366px;
  z-index: -1;
}
.QEmptyForm {
  margin: 20px 6px 0 6px;
  padding: 9px 9px 10px 6px;
  /*rtl*/
  background: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  position: relative;
}
.QEmptyForm:before {
  content: '';
  display: block;
  background: url(/Images/multi2.png) no-repeat;
  width: 332px;
  height: 49px;
  position: absolute;
  bottom: -50px;
}
.QEmptyForm .userName {
  font-size: 13px;
  line-height: 32px;
  padding-left: 8px;
  /*rtl*/
  display: inline-block;
}
.QEmptyForm .QTextarea {
  min-height: 29px;
  width: 298px;
}
.QEmptyForm .QTextarea::-webkit-input-placeholder {
  color: #0371c8;
}
.QEmptyForm .QTextarea:-moz-placeholder {
  color: #0371c8;
  opacity: 1;
}
.QEmptyForm .QTextarea::-moz-placeholder {
  color: #0371c8;
  opacity: 1;
}
.QEmptyForm .QTextarea:-ms-input-placeholder {
  color: #0371c8;
}
.QEmptyForm .askBtn {
  margin-bottom: 0;
}
.QEmptyForm .textareaWpr {
  margin-left: 3px;
  /*rtl*/
}
.QList {
  padding: 0 15px;
  width: 336px;
  position: relative;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.QItem {
  margin-bottom: 8px;
  background: #fff;
  -webkit-transition: all, 0.2s ease;
  -moz-transition: all, 0.2s ease;
  -o-transition: all, 0.2s ease;
  transition: all, 0.2s ease;
}
.QItem .textareaWpr {
  margin: 6px 0 0 0;
}
.QItem .QTextarea {
  width: 272px;
}
.QItem .askBtn {
  margin: 2px 6px 7px 0;
  /*rtl*/
}
.QItem .attachBtn {
  margin-top: 7px;
  vertical-align: top;
}
.QItem .tag {
  position: absolute;
  right: -3px;
  top: 11px;
  color: #F0F8FF;
  z-index: 1;
  padding: 1px 6px 2px 6px;
}
.QItem .tag:after {
  width: 4px;
  height: 22px;
  background-position: -25px -119px;
}
.QItem.selected {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  overflow: hidden;
}
.QItem.selected .QTop {
  background: #d9d9d9;
}
.QItem.selected .QBottom {
  background: #fafafa;
}
.QItem .userName {
  display: inline-block;
  margin: 7px 0 0 10px;
  /*rtl*/
}
.QItem .AUsername {
  display: inline-block;
  margin-top: 14px;
  max-width: 225px;
}
.QBottom {
  background: #f5f5f5;
}
.QBottom .seeMore {
  color: #66a1cf;
  clear: both;
  margin-left: 55px;
  /*rtl*/
  cursor: pointer;
}
.QBottom .upArrow:before {
  bottom: -6px;
}
.QBottom .QACreateTime {
  margin-top: 15px;
}
.answerBottom {
  border-bottom: 1px solid #c2c2c2;
  padding: 4px 3px;
  margin: -10px 15px 0 15px;
}
.answerBottom > button {
  color: #66a1cf;
  padding-right: 5px;
  /*rtl*/
}
.numAnswers {
  position: relative;
}
.numAnswers:after {
  content: '|';
  display: inline-block;
  width: 1px;
  height: 12px;
  color: #676767;
  margin: 0 2px 0 3px;
  /*rtl*/
}
.QTop {
  border-bottom: 1px solid #c2c2c2;
  padding: 6px 10px 2px 6px;
  /*rtl*/
  position: relative;
  background: #fff;
  cursor: pointer;
}
.QTop + div .QAImg,
.QTop + form .QAImg {
  margin: 6px 6px 6px 15px;
  /*rtl*/
}
.QTop.hasAttached {
  padding-bottom: 4px;
}
.QTop.hasAttached .attachBtn,
.QTop.hasAttached .numAttached {
  display: block;
  margin: 0 auto;
}
.QTop.hasAttached .attachBtn {
  width: 16px;
  height: 8px;
  background-position: -85px -30px;
}
.QTop.hasAttached .numAttached {
  display: none;
}
.QTopLeft {
  width: 32px;
  text-align: center;
}
.numAttached {
  display: none;
}
.QContent {
  padding: 0 0 10px 10px;
  /*rtl*/
  color: #383838;
  display: block;
  overflow: hidden;
  font-size: 15px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  /* or "normal" */
  overflow-wrap: break-word;
  line-height: 17px;
}
.QContent > a {
  -ms-word-break: break-all;
  word-break: break-all;
  color: #676767;
}
.QContent > a:hover {
  color: #0e68af;
}
.AContentWpr {
  max-height: 70px;
  overflow: hidden;
}
.AContent {
  font-size: 15px;
  display: block;
  overflow: hidden;
  padding: 7px 10px 7px 0;
  /*rtl*/
  line-height: 15px;
}
.AMore {
  color: #4f92c8;
  margin: 4px 0 8px 44px;
  /*rtl*/
  display: block;
}
.AMore:hover {
  color: #146eb5;
}
.attachLeft {
  width: 44px;
  text-align: center;
  margin-top: 12px;
}
.attachLeft .attachBtn,
.attachLeft .numAttached {
  display: block;
  margin: 0 auto;
}
.attachLeft .attachBtn {
  width: 16px;
  height: 8px;
  background-position: -85px -30px;
}
.attachLeft .numAttached {
  display: none;
}
.qaAttach {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  margin-left: 44px;
  /*rtl*/
}
.qaAttachItem {
  border: 1px solid #c2c2c2;
  margin: 12px 7px 0 0;
  /*rtl*/
  display: inline-block;
  height: 125px;
  position: relative;
}
.qaAttachItem:hover .attachActions {
  visibility: visible;
  bottom: 0;
}
.attachActions {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  left: 0;
  /*rtl*/
  bottom: -25px;
  visibility: hidden;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
}
.attachFull {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(/Images/QnA-sprite.png) -2px -2px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachFull:hover {
  background-position: -2px -21px;
}
.attachDelete {
  display: inline-block;
  width: 13px;
  height: 16px;
  background: url(/Images/QnA-sprite.png) -22px -2px no-repeat;
  margin: -3px 3px 0 3px;
  vertical-align: middle;
}
.attachDelete:hover {
  background-position: -22px -21px;
}
.attachDownload {
  display: inline-block;
  width: 14px;
  height: 15px;
  background: url(/Images/QnA-sprite.png) -38px -3px no-repeat;
  vertical-align: middle;
  margin: -2px 3px 0 3px;
}
.attachDownload:hover {
  background-position: -38px -22px;
}
.questions,
.answers {
  position: relative;
}
.question {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background: #fff;
  padding: 6px 6px 10px 6px;
  position: relative;
}
.question .questionRhs {
  overflow: hidden;
}
.question .QContent {
  font-size: 15px;
  color: #383838;
  padding: 0 0 0 8px;
  line-height: 17px;
  margin-top: -5px;
  /*&:hover {
            text-decoration: none;
        }*/
}
.question .views {
  padding-top: 5px;
  margin: 0;
}
.question .deleteBtn {
  position: absolute;
  top: 9px;
  right: 5px;
  /*rtl*/
}
.question .userName,
.AItem .userName {
  max-width: 215px;
  display: inline-block;
  margin-left: 8px;
  /*rtl*/
  line-height: 32px;
}
.AList {
  margin: 0 6px;
}
.AItem {
  padding: 8px 0;
  border-top: 1px solid #c2c2c2;
  position: relative;
}
.AItem.best {
  border-top: none;
  padding-top: 0;
}
.AItem.best .bestAnswer {
  display: block;
}
.AItem.best:first-child {
  margin-top: 3px;
}
.AItem.best .markAnswerBtn {
  display: block;
  background-position: -57px -85px;
  top: 55px;
}
.AItem.best .markAnswerBtn:hover,
.AItem.best .markAnswerBtn:active {
  background-color: transparent;
}
.AItem:hover .markAnswerBtn {
  display: block;
}
.AItem .AContent {
  padding: 0 0 0 44px;
  overflow: visible;
  max-height: none;
}
.AItem .deleteBtn {
  margin: 6px 7px 0 0;
  /*rtl*/
}
.question:hover .deleteBtn,
.AItem:hover .deleteBtn {
  display: block;
}
.question .deleteBtn,
.AItem .deleteBtn {
  border: none;
  opacity: 0.65;
  display: none;
}
.question .deleteBtn:hover,
.AItem .deleteBtn:hover {
  opacity: 1;
}
.AItem:first-child {
  border-top: none;
}
.bestAnswer {
  color: #84b937;
  display: none;
  font-size: 13px;
}
.voteBtn {
  line-height: 32px;
}
.voteBtn:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(/Images/QnA-sprite.png) -54px -1px no-repeat;
  vertical-align: middle;
}
.voteBtn:hover:before {
  background-position: -54px -13px;
}
.voteBtn:active:before {
  background-position: -54px -25px;
}
.aScore {
  margin-right: 5px;
  /*rtl*/
  line-height: 32px;
}
.markAnswerBtn {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 9px;
  /*rtl*/
  top: 45px;
  background: url(/Images/box-sprite14.png?v=1) -57px -47px no-repeat;
}
.markAnswerBtn:hover {
  background-position: -57px -66px;
}
.markAnswerBtn:active {
  background-position: -57px -85px;
}
.enterAnswer {
  margin: 6px 0;
  padding: 6px;
  background: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.enterAnswer .QTextarea {
  width: 300px;
}
.enterAnswer .textareaWpr {
  width: 300px;
  margin: 0 0 0 3px;
}
.QAfloatButton {
  position: fixed;
  bottom: -6px;
  right: 27px;
  /*rtl*/
  width: 340px;
}
.QACreateTime {
  font-size: 11px;
  color: #676767;
  display: inline-block;
  vertical-align: top;
  margin: 9px 0 0 5px;
  /*rtl*/
}
.QACreateTime.innerSection {
  margin-top: 9px;
}
/*#endregion */
