@import "varsAndMixins";

.bodyContent{
    &.noQuiz
    {
        .quizSideBar {
            right: -390px; /*rtl*/
        }
        
        .toggleQuiz{
            right: -22px; /*rtl*/
        }
    }
}
.quizSideBar {
    position: fixed;
    top: 50px;
    right: 0; /*rtl*/
    width: 383px;
    height: 100%;
    background: #e4e4e4;
    z-index: 5;
    .boxSizing;
    padding: 0 14px;
    border-left: 1px solid @borderColor; /*rtl*/
    box-shadow: -4px 0 4px rgba(0,0,0,.15); /*rtl*/
    .transition(right .4s); /*rtl*/
    &.error {
        .quizBottom .error {
            display: inline-block;
        }
    }
    
    header {
        height: 40px;
        background: @attentionBlue;
        color: #fff;
        font-size: 17px;
        margin: 0 -14px 0 -15px; /*rtl*/ //left padding + 1px border
        padding: 8px 0 0 24px; /*rtl*/
        .boxSizing;
    }

    .inputText {
        width: 270px;
        .boxSizing;

        &.quizName {
            width: 100%;
            margin: 10px 0 17px;
            height: 32px;
            font-size: 17px;
        }

        &.questionText {
            border: none;
            border-bottom: 1px solid #f1f1f1;
            padding: 0 20px 0 0; /*rtl*/ //override other props
            width: 100%;
            resize: none;
            font-size: 17px;
        }
    }
    &.nameReq .quizName {
        border: 1px solid #d1294d;
    }

    section {
        height: 100%;
    }
    .error{
        display: none;
        color: #d1294d;
    }
}

.toggleQuiz
{
    width: 22px;
    height: 22px;
    background: @common-sprite -294px -2px;
    position: fixed;
    right: 374px; /*rtl*/
    top: 78px;
    z-index: 6;
    .transition(all .4s);
    cursor: pointer;
}

.checkbox:checked
{
    ~ .toggleQuiz
    {
        .flipH;
        right: 3px; /*rtl*/
    }
    ~ .quizSideBar
    {
        right: -372px;  /*rtl*/
    }
}
.quizWpr
{
    overflow: auto;
    height: ~'-webkit-calc(100% - 130px)';
    height: ~'calc(100% - 130px)';
    padding-right: 4px; /*rtl*/
    margin-right: -12px; /*rtl*/
}
.quizLoc
{
    padding-top: 10px;
    .boxSizing;
    &:before
    {
        content: attr(data-quizin) "\00a0";
        display: inline-block;
    }
}
.questionHolder
{
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    padding: 12px;
    .boxSizing;
    &[class*='Req'] {
        border: 1px solid #d1294d;
    }
    &:hover
    {
        .closeDialog{
            display: block;
        }
    }
    .closeDialog{
        background-position: -68px -26px;
        display: none;
    }
    .lFloat{
        margin: 3px 5px 0 0; /*rtl*/
    }
    .answers{
        color: #676767;
    }
    .correct{
        width: 40px;
        font-size: 11px;
        margin-bottom: 9px;
        color: #676767;
    }
    .inputText{
        resize: none;
        margin: -5px 0 9px;
        padding-top: 3px;
        .boxSizing;
        &[readonly], &[readonly] ~ label
        {
            opacity: .5;
        }
    }
    label{
        position: absolute;
        right: 17px; /*rtl*/
    }
    &.answerReq {
        .addAnswer {
            display: inline-block;
        }
    }
    &.questionReq{
        .addQuestion{
            display: inline-block;
            margin: -2px 20px 0 0; /*rtl*/
        }
        .questionText {
            width: 65%;
            padding: 0;
        }
    }
    &.correctReq {
        .correct{
            color: #d1294d;
        }
    }
}

.quizAnswersList{
    list-style-type: decimal;
    clear: both;
    padding-left: 16px; /*rtl*/
}

.quizAddQuestion
{
    width: 100%;
    height: 40px;
    background: rgba(255,255,255,.5);
    text-align: left; /*rtl*/
    color: @attentionBlue;
    margin-bottom: 60px;
    padding: 0 12px;
    .boxSizing;
    &:hover
    {
        background: #fff;
    }
    &:before
    {
        width: 13px;
        height: 13px;
        background-position: -72px -122px;
    }
}
.quizBottom
{
    background: #fff;
    border-top: 1px solid @borderColor;
    height: 42px;
    margin: 0 -14px;
    padding: 0 14px;
    .error{
        margin: 10px;
    }
}
.saveQuiz{
    margin-top: 6px;
    padding: 3px 20px 4px 20px;
}
.quizPreview
{
    color: @attentionBlue;
    margin-top: 12px;
}