@import "varsAndMixins";

/*#region Create Quiz */
.bodyContent{
    &.noQuiz
    {
        .quizSideBar {
            right: -390px; /*rtl*/
        }
        
        .toggleQuiz{
            right: -22px; /*rtl*/
        }
    }
    &.previewQuiz
    {
        position: fixed; //remove the scroll from existing content of bodyContent
        width: 100%;
        ~ .quizPreview
        {
            margin-top: 0;
        }
    }
}
.quizSideBar {
    position: fixed;
    top: 50px;
    right: 0; /*rtl*/
    width: 383px;
    height: 100%;
    background: #e4e4e4;
    z-index: 5;
    .boxSizing;
    padding: 0 14px;
    border-left: 1px solid @borderColor; /*rtl*/
    box-shadow: -4px 0 4px rgba(0,0,0,.15); /*rtl*/
    .transition(right .4s); /*rtl*/
    &.error {
        .quizBottom .error {
            display: inline-block;
        }
    }
    
    header {
        height: 40px;
        background: @attentionBlue;
        color: #fff;
        font-size: 17px;
        margin: 0 -14px 0 -15px; /*rtl*/ //left padding + 1px border
        padding: 8px 0 0 24px; /*rtl*/
        .boxSizing;
    }

    .inputText {
        width: 270px;
        .boxSizing;

        &.quizName {
            width: 100%;
            margin: 10px 0 17px;
            height: 32px;
            font-size: 17px;
        }

        &.questionText {
            border: none;
            border-bottom: 1px solid #f1f1f1;
            padding: 0 20px 0 0; /*rtl*/ //override other props
            width: 100%;
            resize: none;
            font-size: 17px;
        }
        &.emptyText.questionAnswer {
            border: 1px solid @errorColor;
        }
    }
    &.nameReq .quizName {
        border: 1px solid @errorColor;
    }

    section {
        height: 100%;
    }
    .error{
        display: none;
        color: @errorColor;
    }
}

.toggleQuiz
{
    width: 22px;
    height: 22px;
    background: @common-sprite -294px -2px;
    position: fixed;
    right: 374px; /*rtl*/
    top: 78px;
    z-index: 6;
    .transition(all .4s);
    cursor: pointer;
}

.checkbox:checked
{
    ~ .toggleQuiz
    {
        .flipH;
        right: 3px; /*rtl*/
    }
    ~ .quizSideBar
    {
        right: -372px;  /*rtl*/
    }
}
.quizWpr
{
    overflow: auto;
    height: ~'-webkit-calc(100% - 130px)';
    height: ~'calc(100% - 130px)';
    padding-right: 4px; /*rtl*/
    margin-right: -12px; /*rtl*/
}
.quizLoc
{
    padding-top: 10px;
    .boxSizing;
    &:before
    {
        content: attr(data-quizin) "\00a0";
        display: inline-block;
    }
}
.questionHolder
{
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    padding: 12px;
    .boxSizing;
    &[class*='Req'] {
        border: 1px solid #d1294d;
    }    
    &:hover
    {
        .closeDialog{
            display: block;
        }
    }
    .closeDialog{
        background-position: -68px -26px;
        display: none;
    }
    .lFloat{
        margin: 3px 5px 0 0; /*rtl*/
    }
    .answers{
        color: #676767;
    }
    .correct{
        width: 40px;
        font-size: 11px;
        margin-bottom: 9px;
        color: #676767;
    }
    .inputText{
        resize: none;
        margin: -5px 0 9px;
        padding-top: 3px;
        .boxSizing;
        &[readonly], &[readonly] ~ label
        {
            opacity: .5;
        }
    }
    label{
        position: absolute;
        right: 17px; /*rtl*/
    }
    &.answerReq {
        .addAnswer {
            display: inline-block;
        }
    }
    &.questionReq{
        .addQuestion{
            display: inline-block;
            margin: -2px 20px 0 0; /*rtl*/
        }
        .questionText {
            width: 65%;
            padding: 0;
        }
    }
    &.correctReq {
        .correct{
            color: @errorColor;
        }
    }
}

.quizAnswersList{
    list-style-type: decimal;
    clear: both;
    padding-left: 16px; /*rtl*/
}

.quizAddQuestion
{
    width: 100%;
    height: 40px;
    background: rgba(255,255,255,.5);
    text-align: left; /*rtl*/
    color: @attentionBlue;
    margin-bottom: 60px;
    padding: 0 12px;
    .boxSizing;
    &:hover
    {
        background: #fff;
    }
    &:before
    {
        width: 13px;
        height: 13px;
        background-position: -72px -122px;
    }
}
.quizBottom
{
    background: #fff;
    border-top: 1px solid @borderColor;
    height: 42px;
    margin: 0 -14px;
    padding: 0 14px;
    .error{
        margin: 10px;
    }
}
.saveQuiz{
    margin-top: 6px;
    padding: 3px 20px 4px 20px;
}
.quizPreviewBtn
{
    color: @attentionBlue;
    margin-top: 12px;
}
/*#endregion */

/*#region Quiz Preview  */

.quizPreview
{
    margin-top: 100%;
    position: absolute;
    z-index: 14;
    left: 0; /*rtl*/
    top: 0;
    width: 100%;
    min-height: 100%;
    background: url(/Images/gray_jean80.png) repeat #fff;
    .transition(margin .7s ease-in);
    &:before
    {
        .pseudo;
        width: 100%;
        height: @header-height;
        background: #fff;
        border-bottom: 1px solid @borderColor;
        position: absolute;
        z-index: -1;
    }
    h2{
        font-size: 20px;
        font-weight: normal;
        width: 800px;
        margin: 0 auto;
        height: 50px;
        padding-top: 11px;
    }
    .closeDialog
    {
        background-position: -68px -26px;
        top: 20px;
    }

    .correct {
        display:inline;
        background: rgba(3, 113, 200, 0.2);
        &:before
        {
            content: '';
            display: list-item;
            float: left; /*rtl*/
        }
        + li {
            margin-top: 10px;
        }
    }
}
.quizPrevWpr
{
    width: 800px;
    margin: 0 auto 60px;
    background: #fff;
    border-radius: 5px;
    padding: 0 20px;
    .boxSizing;
    border: 1px solid @borderColor;
}
.quizTitle{
    font-size: 22px;
    width: 800px;
    margin: 10px auto 20px;
    &:before
    {
        content: attr(data-questioncount) "\00a0";
        display: inline-block;
    }
}
.quizQList
{
    list-style-type: decimal;
    font-size: 19px;
    padding: 0 25px;
    > li{
        position:relative; //for item view
        padding: 20px 0;
        //margin: 0 -20px;
        border-bottom: 1px solid #f1f1f1;
    }
}
.quizAList
{
    list-style-type: lower-latin;
    font-size: 15px;
    padding: 10px 20px;
    li{
        margin-bottom: 10px;
        &:last-child {
            margin-bottom:0;
        }
    }
}
/*#endregion */

/*#region Quiz item page */
.quizPage{
    &.page
    {
        display: block;//TEMPORARY!!
    }
    .sectionHeader {
        color: transparent;
    }
    .leftPanel
    {
        position: fixed;
        left:0; /*rtl*/
        top: @header-height;
        height: 100%;
    }
    .itemTop {
        background: #fff;
    }
    .itemPrint.iconTop {
        margin-top: 11px;
    }
    .itemRight
    {
        text-align: left; /*rtl*/
    }
    .quizAList {
        li:before {
            .pseudo;
            width: 13px;
            height: 13px;
            background: url(/Images/radioBtn.png) -15px -1px no-repeat;
            vertical-align: middle;
            margin: -2px 4px 0 0; /*rtl*/
            float: none; // override
        }
        .correct, .wrong {
            &:before
            {
                display: none;
                width: 17px;
                height: 16px;
                background-color: none;
                background: @common-sprite -18px -121px no-repeat;
            }
        }
        .wrong:before{
            background-position: -36px -121px;
        }
    } 
    .moreFilesThumb
    {
        background: @attentionBlue;
        &:after
        {
            .pseudo;
            width: 26px;
            height: 21px;
            vertical-align: middle;
            background: @boxSprite -48px -165px no-repeat;
        }
    }
    .btn1{
        padding: 5px 20px;
        margin: 20px 0;
    }
    &.checkQuiz {
        .userScore, .resultsWpr, .timeWpr {
            margin-top: 0;
            opacity:1;
        }
        .userCorrect, .userWrong, .correct, .wrong {
             &:before {
                display: inline-block;
            }
        }
        .sectionHeader {
            color: @textColor;
        }
        .quizPrevWpr .btn1 {
            display: none;
        }
        .timeWpr0 {
            margin-top: -95px;
        }
    }
}
.userCorrect, .userWrong
{
     &:before {
        content: '';
        display: none;
        position: absolute;
        left: -45px; /*rtl*/
        width: 3px;
        height: ~'-webkit-calc(100% - 40px)';
        height: ~'calc(100% - 40px)';
        background: @color;
    }
}
.userWrong:before
{
    background: @errorColor;
}
.timeWpr0{
    position: relative;
    z-index: -1;
    height: 95px;
    .boxSizing;
    padding: 26px 10px;
    border-bottom: 1px solid @borderColor;
    .transition(margin .5s ease-in);
    .quizTime {
        margin:0;
        &:before {
            content: attr(data-timer-label);
            display: block;
            font-size: 13px;
            text-transform: lowercase;
            position: absolute;
            top: -12px;
        }
    }
    .btn1 {
        margin: 11px 0;
    }
}
.userResults {
    text-align: center;
    margin: 7px;
    overflow: hidden;
}
.userScore{    
    background: #f5f5f5;
    text-align: center;
    height: 72px;
    padding-top: 18px;
    margin-bottom: 15px;
    position: relative;
    //top: -90px;
     margin-top: -90px;
    opacity: 0;
    z-index: 2;
    .transition(all .8s ease-in 1s);
    &:after {
        content: attr(data-user-score);
        display: block;
        font-size: 38px;
        margin-top: -5px;
    }
}
.resultsWpr {
    position: relative;
    //top:-210px;
    //margin-top: -114px;
    margin-top: -100px;
    opacity: 0;
    background: #fff;
    .transition(all .8s ease-in 1.8s);
    z-index: 1;
}
.results
{
    width: 48%;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    &.wrong {
        position: relative;
        &:before {
            .pseudo;
            position: absolute;
            left:0; /*rtl*/
            width: 1px;
            height: 55px;
            background: @borderColor;
        }
        &:after {
            color: @errorColor;
        }
    }
    &:after {
        content: attr(data-results);
        display: block;
        font-size: 38px;
        color: @color;
        margin: -5px 0 10px;
    }
}
.timeWpr {
    position: relative;
    //top:-341px;
    //margin-top: -142px;
    margin-top: -122px;
    opacity: 0;
    background: #fff;
    .transition(all .8s ease-in 2.6s);
}
.quizTime {
    width: 156px;
    position: relative;
    font-size: 38px;
    margin: 0 auto;
}
/*#endregion */
