/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.msg:before {
  margin: 0 0 0 3px;
  /*rtl*/
}
/*#region drag-drop*/
.drop {
  left: 8px;
  /*rtl */
  right: auto;
}
/*#endregion*/
.inputText {
  padding: 0 8px 0 4px;
  /*rtl*/
}
/*#region Modal.css */
.modal.boxInvitePopup .socialInvite {
  float: right;
}
.modal.boxInvitePopup .closeDialog {
  left: 8px;
  right: auto;
}
.modal.boxInvitePopup .invSidebar {
  margin: 0 0 0 30px;
}
.modal.rename {
  padding: 0 290px 0 0;
}
.modal.deptSettings .changeName .lFloat {
  padding: 0 35px 0 0;
}
.modal.deptSettings .changeName .lFloat:before {
  right: 0;
  left: auto;
  padding-top: 5px;
}
.modal.flagItem {
  right: 220px;
  left: auto;
}
.modal .closeDialog {
  left: 0;
  /*rtl*/
  right: auto;
}
.modal .enterCode form,
.modal .enterCode .noCode {
  padding: 0 9px 25px 19px;
  /*rtl*/
}
.modal .enterCode .noCode {
  padding: 0 9px 25px 0;
  /*rtl*/
}
.modal .enterCode .btn1 {
  margin: 0 8px 0 0;
  /*rtl*/
}
.modal .departmentChoose .closeDialog {
  left: 20px;
  right: auto;
}
.modal .departmentChoose .statusLabel.first {
  margin: 0 0 0 20px;
  /*rtl*/
}
.modal .departmentChoose .dptDetail.first {
  margin: 20px 0 0 34px;
  /*rtl*/
}
.modal2 {
  right: 0;
  /*rtl*/
  left: auto;
}
.popupForm .field-validation-error,
.popupForm .validation-summary-errors {
  margin: 0 15px 0 0;
  /*rtl*/
}
.popupWrppr .cancel {
  margin: 18px 10px 0 0;
  /*rtl*/
}
.popupWrppr.addSchool {
  text-align: right;
  /*rtl*/
}
.popupWrppr.addSchool .country {
  margin: 0 10px 0 13px;
  /*rtl*/
}
.requestSentDiv {
  padding-right: 18px;
  /*rtl*/
  padding-left: 6px;
}
.requestSentDiv.first {
  font-size: 32px;
}
.invHeader + q,
.popupHeader .boxName {
  padding: 0 8px 0 0;
  /*rtl*/
}
.private .labelExplain {
  margin: 0 17px 0 0;
}
.join.next {
  left: 165px;
  /*diff rtl*/
  right: auto;
}
.confirm .message {
  margin: 20px 12px 0 0;
  /*rtl*/
}
.confirm .inputText {
  padding: 0 8px 0 4px;
  /*rtl*/
}
/*#region box settings and members */
.boxSettings .inviteBtn:before {
  margin: 0 0 0 5px;
  /*rtl*/
}
.tabBtn:first-child {
  margin: 0 0 0 29px;
  /*rtl*/
}
.tabArrow:before {
  right: 32px;
  left: auto;
  -webkit-transition: right, 0.3s;
  -moz-transition: right, 0.3s;
  -o-transition: right, 0.3s;
  transition: right, 0.3s;
  /*rtl*/
}
.tabMembers .tabArrow:before {
  right: 107px;
  left: auto;
}
.boxSetting .changeImg {
  right: 0;
  /*rtl*/
  left: auto;
}
.boxSetting label {
  padding: 10px 0 0 20px;
  /*rtl*/
  text-align: left;
  /*rtl*/
}
.membersContent .memberName {
  padding: 11px 4px 0 0;
  /*rtl*/
}
.membersCount {
  border-left: 1px solid #c2c2c2;
  /*rtl*/
  border-right: none;
}
.membersList {
  margin: 0 -5px 0 -13px;
  padding: 0 5px 0 13px;
}
.memberItem {
  padding: 5px 5px 5px 0;
  /*rtl*/
  margin: 0 -5px 3px 0;
  /*rtl*/
}
.memberItem .btn1 {
  margin: 0 10px 0 0;
  /*rtl*/
}
.reinvite,
.uninvite {
  right: 0;
  left: auto;
}
.messageBtn {
  margin: 0 26px 0 0;
  /*rtl*/
}
.messageBtn:before {
  margin: 0 0 0 8px;
  /*rtl*/
}
.reinvited:before,
.uninvited:before {
  margin: 10px 0 0 6px;
  /*rtl*/
}
.removeUserBtn {
  margin: 0 10px 0 0;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region DashLib.css */
.hebFlip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.unionHeader {
  padding: 0 15px 0 0;
  /*rtl*/
}
.emptyLib .libEmpty label {
  text-align: right;
  /*rtl*/
}
.emptyDash {
  right: 0;
  /*rtl*/
  left: auto;
}
/*#region dashboard header */
/*.dashHeader { // Temporarily commented out
    > .rFloat {
        &:before {
            right: 60px; //rtl
        }
    }
}*/
/*#endregion */
/*#region new department look */
.deptItem {
  float: right;
}
.deptLink {
  margin: 0 0 35px 14px;
  /*rtl*/
  padding: 2px 15px 6px 9px;
  /*rtl*/
}
.deptLink:before {
  right: -1px;
  /*rtl*/
  left: auto;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.courseCount {
  right: 15px;
  /*rtl*/
  left: auto;
}
/*#endregion */
/*#region new dashboard */
.setupCourse {
  margin: 0 -14px 0 0;
}
.setupCourse .topWpr {
  margin: 0 -24px 0 -10px;
}
.featureTxt1:before,
.featureTxt2:before,
.featureTxt3:before {
  margin: 40px -15px 10px 0;
}
.featureTxt1:after,
.featureTxt2:after,
.featureTxt3:after {
  right: 7px;
  left: auto;
}
.featureTxt1 {
  margin: 0 15px 0 0;
}
.featureTxt2:after,
.featureTxt3:after {
  right: 12px;
  left: auto;
}
.browseCourses {
  padding: 0 0 0 8px;
}
.createCourse:first-child {
  padding: 0 0 0 8px;
}
/*#endregion */
/*#region setup course 'popups' */
.formWpr:after {
  right: -26px;
  left: auto;
  border-width: 24.5px 0 24.5px 26px;
  border-color: transparent transparent transparent #fff;
}
.formWpr .actionTxt {
  right: -190px;
  left: auto;
}
.formWpr .invSidebar {
  left: -290px;
  right: auto;
}
.formWpr .btn1 {
  margin: 10px 10px 0 0;
}
.courseType + .courseType {
  margin: 0 70px 0 0;
}
.courseType .labelExplain {
  padding: 0 30px 0 0;
}
.changeDeptBtn {
  left: 8px;
  right: auto;
}
.newAcademic .chooseDept .libraryList {
  right: -92px;
  left: auto;
}
/*#region social invite */
.socialInvite .btnWpr {
  margin: 25px -25px -25px 0;
}
.socialInvite.js-cloudState .socialContentWpr:before {
  left: auto;
  right: 172px;
}
.socialInvite.js-gmState .socialContentWpr:before {
  right: auto;
  left: 172px;
}
.socialContentWpr input {
  text-align: right;
}
.socialContentWpr .mCustomScrollbar.js-scrolling:after {
  position: fixed;
  left: 31px;
  right: 8px;
  top: 226px;
  border-top: 1px solid #bbb;
}
.socialList {
  width: 635px;
}
.socialList li {
  margin: 0 0 0 22px;
}
.socialList li:nth-child(7n + 1) {
  padding: 0 18px 0 0;
}
.socialList li:nth-child(7n) {
  margin-left: 0;
  padding: 0 0 0 8px;
}
.socialList li.jsInviteSent button:after {
  top: 3px;
}
/*#endregion */
/*#endregion */
.contentWpr {
  margin: 0 290px 0 0;
  /*rtl*/
}
.contentWpr.featured .unionFeatured {
  left: 10px;
  /*rtl*/
  right: auto;
}
.contentWpr.featured .libraryList {
  padding: 0 0 0 315px;
  /*rtl*/
}
.contentWpr.featured .emptyLib {
  padding: 0 0 0 290px;
  /*rtl*/
}
.addBtn:before {
  margin: -3px 0 0 11px;
  /*rtl*/
}
.boxHoverList {
  right: 0;
  left: auto;
}
.hoverItem {
  padding: 4px 5px 4px 0;
  /*rtl*/
}
.hoverItem:before {
  margin: 0 0 0 5px;
  /*rtl*/
}
.hoverItem.memberImg:before {
  margin: 0 0 0 3px;
}
.hoverItem.commentImg:before {
  margin: 0 0 0 4px;
}
.addDep {
  margin: 0 0 0 14px;
}
.libraryItem.addDep,
.libraryItem.addCourse,
.libraryList > .libraryItem + .box {
  float: right;
}
.boxWpr {
  margin: 30px 84px 0 7px;
  /*rtl*/
}
.box {
  float: right;
  /*rtl*/
  margin: 0 0 24px 18px;
  /*rtl*/
}
.box .boxName {
  right: 0;
  /*rtl*/
  left: auto;
}
.box .boxImg {
  right: 0;
  left: auto;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #dedede;
  /*rtl*/
  border-right: none;
}
.box .subscriber {
  right: 84px;
  /*rtl*/
  left: auto;
}
.box .subscriber:before {
  margin: 0 0 0 5px;
  /*rtl*/
}
.box .follow {
  right: 84px;
  /*rtl*/
  left: auto;
}
.notify {
  left: 16px;
  /*rtl*/
  right: auto;
  box-shadow: -1px 1px 3px rgba(57, 0, 12, 0.5);
  /*rtl*/
}
.courseCode {
  right: 84px;
  /*rtl*/
  left: auto;
}
/*#region boxesHeader */
.boxesHeader.topBar {
  right: 0;
  left: auto;
  padding: 0 314px 0 45px;
  /*rtl*/
}
.boxesHeader.topBar h2 {
  padding: 8px 0 0 8px;
  /*rtl*/
}
.back:before {
  margin: 0 0 0 5px;
  /*rtl*/
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  /*rtl flip*/
}
.boxTitle {
  padding: 0 0 0 10px;
  /*rtl*/
}
.emptyState {
  padding: 40px 236px 0 0;
  /*rtl*/
}
/*#endregion */
/*#region library empty state */
.searchEmpty {
  padding: 90px 290px 0 0;
}
/*#endregion */
/*#endregion */
/*#region Sidebar.css */
/*#region library sidebar */
.asideDash {
  border-left: 1px solid #c2c2c2;
  /*rtl*/
  border-right: none;
}
.asideDash .leaderBoard {
  right: 0;
  left: auto;
}
.recommended {
  /*.rFloat {
        border: none;
        border-right: 1px solid @borderColor; //rtl
        padding: 0 35px 0 0; //rtl
    }*/
}
.recommended .courseLink:hover .rcDetails {
  margin: 0 -105px 0 0;
}
.recommended .rcDetails {
  padding: 0 62px 0 0;
}
.recommended img {
  right: 8px;
  left: auto;
}
.recommended .friends,
.recommended .files {
  padding: 0 30px 0 0;
}
.recommended .friends:after,
.recommended .files:after {
  right: 4px;
  left: auto;
}
.podium {
  right: 96px;
  left: auto;
}
.podium:before,
.podium:after {
  right: -83px;
  left: auto;
  border: 1px solid #aaa;
  border-left: none;
  border-radius: 0 3px 3px 0;
}
.podium:after {
  left: -83px;
  right: auto;
  border: 1px solid #aaa;
  border-right: none;
  border-radius: 3px 0 0 3px;
}
.dashTop {
  padding: 0 12px 0 8px;
}
.dashTop:after {
  right: 0;
  left: auto;
}
.courses:before,
.courses:after {
  right: -3px;
  /*rtl*/
  left: auto;
}
.courses:after {
  left: -3px;
  /*rtl*/
  right: auto;
}
.outbound {
  border-left: 1px solid #c2c2c2;
  /*rtl*/
  border-right: none;
}
/*#endregion */
/*#endregion */
/*#region AccountInfo.css */
.headerRightWpr {
  padding: 0 241px 0 0;
  /*rtl*/
  margin: 0 -241px 0 0;
  /*rtl*/
}
.headerRightWpr .userSection {
  margin: 0 70px 0 0;
  /*rtl*/
}
.signUp {
  margin: 0 0 0 12px;
  /*rtl*/
}
.newInvites:after {
  right: 10px;
  /*rtl*/
  left: auto;
}
.newInvites.noInvites:after {
  right: 11px;
  /*rtl*/
  left: auto;
}
.notifyWpr {
  left: 30px;
  right: auto;
}
.notifyWpr.noResults .notifyTop {
  text-align: right;
  /*rtl*/
}
.notifyItem {
  padding: 10px 70px 0 8px;
  /*rtl*/
}
.notifyImg {
  right: 10px;
  /*rtl*/
  left: auto;
}
.invitesCounter {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  right: 18px;
  /* rtl*/
  left: auto;
}
/*#endregion */
/*#region box3.css */
.boxPage .leftPanel {
  border-left: 1px solid #c2c2c2;
  /*rtl*/
  border-right: none;
}
.boxPage .backWpr {
  margin: 13px 0 0 25px;
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.boxRight {
  padding: 0 243px 0 0;
}
.boxTab .notify {
  left: 0;
  right: auto;
}
.shareDD {
  left: -5px;
  /*rtl*/
  right: auto;
}
.shareDD h4 {
  margin: -2px 0 0 10px;
  /*rtl*/
}
.shareDD .closeItem {
  left: 15px;
  /*rtl*/
  right: auto;
}
.shareDD .shareArrow {
  left: 8px;
  /*rtl*/
  right: auto;
}
.shareDD .shareArrow:before {
  left: -12px;
  /*rtl*/
  right: auto;
}
.shareDD .shareItem {
  padding: 0 6px 0 0;
  /*rtl*/
}
.shareDD .shareItem:first-child {
  padding: 0 0 0 6px;
  /*rtl*/
}
.shareDD .fbShare:before,
.shareDD .emailShare:before {
  margin: 0 0 0 6px;
  /*rtl*/
}
.inviteBtn:after {
  margin: 0 8px 0 0;
  /*rtl*/
}
.shareMenu {
  left: -6px;
  /*rtl*/
  right: auto;
}
.shareMenu button {
  text-align: right;
  /*rtl*/
}
.boxTopWpr.boxEdit .courseCode {
  float: right;
  /*rtl*/
}
.boxTopWpr.boxEdit .propName {
  float: left;
  /*rtl*/
}
.boxTop .courseCode {
  right: 93px;
  /*rtl*/
  left: auto;
}
.boxTop .boxRename {
  left: 8px;
  /*rtl*/
  right: auto;
}
.boxTop .btn2 {
  margin: 10px 0 0 10px;
  /*rtl*/
}
.boxPrps {
  padding: 0 15px 0 0;
  /*rtl*/
}
.boxNameWpr {
  margin: 18px 84px 0 0;
  /*rtl*/
}
.boxNameWpr .boxName {
  right: 0;
  /*rtl*/
  left: auto;
}
/*#region box folders */
.boxMembers .sectionHeader,
.boxFolders .sectionHeader {
  font-size: 17px;
  /*diff rtl*/
}
.boxFolder,
.createFolder {
  /*.boxFolderName {
        &.editable {
            padding: 8px 8px 0 4px; //rtl
        }
    }*/
}
.boxFolder.current,
.createFolder.current {
  font-weight: bold;
  /*rtl*/
  border-right: none;
  border-left: none;
}
.createFolderText:before {
  margin: 14px 0 0 6px;
  /*rtl*/
}
.editFolder {
  margin: -2px 0 0 14px;
  /*rtl*/
}
.editFolder ~ .dropdown-menu {
  left: 8px;
  /*rtl*/
  right: auto;
}
/*#endregion */
.box-content .membersContent .searchWpr {
  margin: 10px 0 0 130px;
}
.box-content .inviteFriendsBtn.btn3:before {
  margin: 0 0 0 8px;
  /*rtl*/
}
/*#region boxItems */
.boxEmpty > h2 {
  font-weight: normal;
  /*rtl*/
}
.boxItemList.sponsored .listItem:first-child {
  padding: 20px 360px 0 0;
  /*rtl*/
}
.boxItemList.sponsored .listItem:first-child .itemContent {
  margin: 0 0 5px 15px;
  /*rtl*/
}
.boxItemList.sponsored .listItem:first-child .boxLink {
  margin: 0 -360px 0 0;
  /*rtl*/
  padding: 0 360px 0 0;
  /*rtl*/
}
.boxItemList.sponsored .listItem:first-child .boxLink:after {
  right: 132px;
  /*rtl*/
  left: auto;
}
.boxItemsHeader .iconTxt {
  margin: 0 0 0 15px;
  /*rtl*/
}
.listViewBtn {
  margin: 2px 10px 0 20px;
}
.tag {
  padding: 1px 6px 2px 12px;
  /*rtl*/
  border-radius: 0 3px 3px 3px;
  /*rtl*/
  margin: 0 11px 0 0;
  /*rtl*/
  /*&:before {
        left: 0; //rtl
        right: auto;
        border-width: 0 0 7px 8px; //rtl
        border-color: #f1f1f1 #0e8249 #0e8249 #f1f1f1; //rtl
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.2); //rtl
    }*/
}
.tag:before {
  right: 0;
  left: auto;
  width: 33px;
  /*diff rtl*/
  border-radius: 0 3px 3px 0;
}
.tag:after {
  left: 1px;
  /*rtl*/
  right: auto;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.listItem {
  padding: 15px 138px 15px 0;
  /*rtl*/
  text-align: right;
  /*rtl*/
}
.listItem.draft .tag {
  right: 15px;
  /*rtl*/
  left: auto;
  padding: 0 22px 0 0;
  /*rtl*/
}
.listItem .actionBtns {
  left: 0;
  /*rtl*/
  right: auto;
}
.listItem .imgBorder {
  right: 0;
  /*rtl*/
  left: auto;
}
.listItem .itemContent {
  max-height: 46px;
  /* diff rtl*/
}
.listItem .views {
  margin: 0 20px 0 0;
}
.listItem .tag {
  left: 10px;
  /*rtl*/
  right: auto;
}
.thumbItem {
  float: right;
  /* rtl */
  margin: 0 0 32px 20px;
  /*rtl*/
  text-align: right;
  /* rtl */
}
.thumbItem .boxName {
  margin: 5px 6px 0 0;
  /*rtl*/
}
.thumbItem .views {
  left: 4px;
  /*rtl*/
  right: auto;
}
.thumbItem .views:before {
  margin: 0 0 0 5px;
}
.thumbItem .tag {
  right: -6px;
  /*rtl*/
  left: auto;
}
.thumbItem.quizItem .stars {
  right: 4px;
  /*rtl*/
  left: auto;
}
/*#region box item tool tips */
.boxItemTt.noPreview .ttPreview {
  display: none;
}
.boxItemTt .ttTop > .ttDetail:before {
  margin: 0 20px 0 4px;
  /*rtl*/
}
.boxItemTt .ttTop > .ttDetail:last-child:before {
  margin: 0 24px 0 4px;
  /*rtl*/
}
.boxItemTt .ttTop > .ttDetail:after {
  right: 0;
  /*rtl*/
  left: auto;
}
.boxItemTt .moreFilesThumb {
  float: right;
  /*rtl*/
}
.boxItemTt .detailsWpr {
  right: 8px;
  /*rtl*/
  left: auto;
}
.boxItemTt .ttDetail {
  width: 40px;
  /*diff rtl*/
}
.boxItemTt .ttPreview {
  max-height: 51px;
  /* diff rtl - heb has 4 lines*/
}
/*#endregion */
/*#region box layout - Removed due to bugs */
/*#endregion */
/*#region box layout replacement */
.boxItems .thumbItem {
  margin: 0 0 32px 20px;
}
/*#endregion */
.stars {
  margin: 0 5px 0 0;
  /*rtl*/
}
.stars .full {
  right: 0;
  /*rtl*/
  left: auto;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.clamp2:after {
  text-align: left;
  /*rtl*/
  left: 0;
  /*rtl*/
  right: auto;
}
/*#region box media queries */
/*#endregion */
.actionBtns {
  left: 8px;
  /*rtl*/
  right: auto;
}
.actionBtns .downloadBtn,
.actionBtns .editBtn {
  border-radius: 0 3px 3px 0;
  /*rtl*/
}
.actionBtns .deleteBtn {
  border-radius: 3px 0 0 3px;
  /*rtl*/
  border-right: 1px solid #c2c2c2;
  /*rtl*/
  border-left: none;
}
/*#endregion */
/*#region manage */
.cbLabel {
  right: 6px;
  /*rtl*/
  left: auto;
}
.cbManage:checked ~ .cbLabel:after {
  right: 1px;
  /*rtl*/
  left: auto;
}
.cbManage:checked + div {
  right: -3px;
  /*rtl*/
  left: auto;
}
.boxManage .btn1 {
  margin: 0 10px 0 5px;
  /*rtl*/
}
/*#endregion */
/*#region friend callout */
.callout {
  box-shadow: -3px 3px 3px rgba(70, 70, 70, 0.5);
  /*rtl*/
  text-align: right;
}
.callout:after {
  right: 15px;
  /*rtl*/
  left: auto;
}
.callout > img {
  margin: 7px 6px 0 0;
  /*rtl*/
}
.callout > div {
  right: 50px;
  /*rtl*/
  left: auto;
}
.callout > button {
  right: 50px;
  /*rtl*/
  left: auto;
}
.callout > button:before {
  margin: 0 0 0 4px;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region newUpload */
.source .btn {
  float: right;
  /*rtl*/
}
.dropZone {
  right: 290px;
  /*rtl*/
  left: auto;
}
.dropMsg {
  right: 50%;
  /*rtl*/
  margin: 0 -290px 0 0;
  /*rtl*/
}
.uploads {
  left: 10px;
  /*rtl*/
  right: auto;
}
.uploadBtns,
.uploadProgress {
  left: 10px;
  /*rtl*/
  right: auto;
}
.step3 {
  text-align: left;
  /*rtl*/
}
.dragDropTxtE {
  font-weight: normal;
}
/*#endregion */
/*#region invite */
.emailUser.emailUser {
  padding: 4px 9px 6px 2px;
  /*rtl*/
}
.gConnect {
  left: 5px;
  /*rtl*/
  right: auto;
}
.gConnect:before {
  margin: -1px 0 0 5px;
  /*rtl*/
}
.emailItem {
  margin: 0 0 3px 3px;
  /*rtl*/
}
.emailMenu {
  right: 25px;
  /*rtl*/
  left: auto;
}
.eImg {
  margin: 5px 0 0 10px;
  /*rtl*/
}
.eSingleImg {
  margin: 5px 0 0 6px;
  /*rtl*/
}
/*#endregion */
/*#endregion */
.plupload {
  direction: ltr;
}
/*#region Settings page */
.settingsMenu {
  right: 0;
  /*rtl*/
  left: auto;
}
.settingsMenu ul {
  margin: 33px 23px 0 0;
  /*rtl*/
}
.settingsContent {
  text-align: right;
  /*rtl*/
  margin: 30px 288px 0 20px;
  /*rtl*/
}
/*#region profile info */
.profileInfo .btn1 {
  margin: 0 0 0 8px;
  /*take into account +4px because of inline block: 8+4=12*/
}
.profileInfo .inputText {
  margin: -6px 0 0 8px;
  /*rtl*/
}
.profileInfo .profilePhoto {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  /*rtl*/
}
.profileInfo .photoBtn {
  margin: 5px 5px 0 0;
  /*rtl*/
}
.schoolWpr {
  padding: 0 44px 0 0;
  /*rtl*/
}
.schoolWpr .imgBorder {
  right: 0;
  /*rtl*/
  left: auto;
}
.checkMailMsg {
  right: 200px;
  /*rtl*/
  left: auto;
  padding: 0 55px 0 0;
  /*rtl*/
}
.checkMailMsg:before {
  margin: 0 0 0 5px;
  /*rtl*/
  right: 28px;
  /*rtl*/
  left: auto;
}
/*#endregion */
/*#region account settings */
.changePwd.show ~ .btnTxt {
  margin: 0 143px 0 0;
  /*rtl*/
}
.changePwd .inputText {
  margin: 0 0 5px 5px;
  /*rtl*/
}
/*#endregion */
/*#region storage */
.storage .header {
  margin: 2px -1px 11px 0;
  /*rtl*/
}
.key > span:before {
  margin: 0 0 0 10px;
  /*rtl*/
}
.key .percent {
  margin: 0 2px 0 27px;
  /*rtl*/
}
/*#endregion */
/*#region notifications */
.notifications .settingsBox {
  margin: 3px 5px 0 0;
  /*rtl*/
}
.notifications label {
  margin: 0 0 0 6px;
  /*rtl*/
}
.boxesList {
  margin: 6px 1px 39px 0;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region Invite page */
/*#region aside */
.connectMore {
  margin-top: 15px;
  display: none;
  cursor: pointer;
  margin: 0 0 0 4px;
  /*rtl*/
}
/*#endregion */
/*#region invite main content */
.invMain.invBox .invHeaderText {
  padding: 0 34px 0 0;
  /*rtl*/
}
.invMain.invBox .invHeaderText:before {
  margin: 0 0 0 4px;
  /*rtl*/
}
.invboxImg {
  right: 0;
  /*rtl*/
  left: auto;
}
.inviteSources {
  margin: 3px 0 0 30px;
  /*diff rtl*/
}
.invTab {
  height: 50px;
  /*diff rtl*/
}
.invContentTop .inputText {
  left: 0;
  /*rtl*/
  right: auto;
}
.fbTop .inputText {
  left: 0;
  /*rtl*/
  right: auto;
}
.invItem:nth-child(2n + 1) {
  margin: 20px 0 0 82px;
  /*rtl*/
}
.invName {
  margin: 0 5px 0 0;
  /*rtl*/
}
.invBtn {
  left: 0;
  /*rtl*/
  right: auto;
}
.invBtn .sent:before {
  margin: 0 0 0 5px;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region user page */
.userPage,
.searchPage {
  text-align: right;
  /*rtl*/
}
/*#region user page aside */
.upSidebar {
  margin: 28px 21px 0 0;
  /*rtl*/
}
/*#region points section */
.pointsWpr:before {
  right: 0;
  /*rtl*/
  left: auto;
}
.emptyPoints {
  text-align: right;
  /*rtl*/
}
/*#endregion */
/*#region uploads 'tab' */
.uploadsItem {
  padding: 0 64px 0 10px;
  /*rtl*/
}
.uploadsItem .views {
  margin: 0 12px 0 0;
  /*rtl*/
}
/*#endregion */
/*#region QnA tabs */
.qaBoxname {
  margin: 0 10px 0 0;
  /*rtl*/
}
.qaWpr {
  padding: 10px 10px 5px 5px;
  /*rtl*/
}
.qaQuestion {
  margin: -10px -10px 0 -5px;
  /*rtl*/
  padding: 10px 10px 8px 5px;
  /*rtl*/
}
.qLink:after {
  margin: 0 5px 0 0;
  /*rtl*/
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.qaUsername {
  margin: 0 8px 11px 0;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region userpage content */
.upTop {
  padding: 0 112px 0 0;
  /*rtl*/
}
.upTop .btn3:before {
  margin: 0 0 0 5px;
  /*rtl*/
}
.upImg {
  right: 0;
  /*rtl*/
  left: auto;
}
.upSectionWpr {
  padding: 15px 14px 0 12px;
  /*rtl*/
}
.upShowAll:after {
  margin: 0 8px 0 0;
  /*rtl*/
}
.followingList .btn3 {
  right: 84px;
  /*rtl*/
  left: auto;
}
.upInvites .inviteFriendBtn.btn3:before {
  margin: 0 0 0 8px;
  /*rtl*/
}
.upInviteItem {
  padding: 0 91px 0 0;
  /*rtl*/
  float: right;
  /*rtl*/
  /*&:nth-child(even)
    {
        margin: 0 28px 29px 0; /*rtl // margin bottom defined on the item
        &:before
        {
            right: -17px; /*rtl
            left: auto;
        }
    }*/
}
.upInviteItem .userItemImg {
  right: 0;
  /*rtl*/
  left: auto;
}
.upInviteItem .semiFont {
  margin: 0 0 4px;
  /*diff rtl*/
}
.upInviteItem .btn1 {
  left: 0;
  /*rtl*/
  right: auto;
}
.invitedToWpr {
  padding: 9px 35px 0 5px;
  /*rtl*/
}
/*.invitedToImg
{
    right:0; 
    left: auto;
}*/
.emptyInvites .btn3 {
  margin: 0 15px 0 0;
  /*rtl*/
}
/*#region union*/
.upMembers .membersContent .emptySearch {
  right: 426px;
  /*rtl*/
  left: auto;
}
.upMembers .membersTop {
  text-align: right;
  /*rtl*/
}
.memberTopRow {
  text-align: right;
  /*rtl*/
}
.memberTopRow .deptCol:after {
  content: '';
  display: inline-block;
  margin: 0 4px 0 0;
  /*rtl*/
}
.memberTopRow .memberCol {
  padding: 0 36px 0 0;
  /*rtl*/
}
.memberCol {
  padding: 0 10px 0 0;
  /*rtl*/
}
.deptPopup {
  right: 514px;
  /*rtl*/
  left: auto;
}
.deptPopup .cbLabel.cbLabel {
  padding: 0 37px 0 5px;
  /*rtl*/
}
.deptPopup .cbLabel.cbLabel:before {
  right: 10px;
  /*rtl*/
  left: auto;
}
.deptPopup li {
  margin: 0 0 0 -0.25em;
  /*rtl*/
}
.upMemberBoxesTitle {
  padding: 0 10px 0 0;
  /*rtl*/
}
.upMemberBoxList {
  overflow-x: hidden;
  /*for chrome*/
}
.upMemberBoxList li {
  padding: 0 10px 0 0;
  /*rtl*/
}
.upMemberName {
  padding: 0 10px 0 0;
  /*rtl*/
}
/*#endregion*/
/*#endregion */
/*#endregion */
/*#region Search page and drop down */
/*#region search drop down */
.searchItem > .searchTitle {
  margin: 0 56px 0 0;
  /*rtl*/
}
.searchItem .userImg {
  margin: 0 3px 0 0;
  /*rtl*/
}
.searchDetails {
  padding: 0 15px 0 0;
  /*rtl*/
}
.otherUni {
  right: 71px;
  /*rtl*/
  left: auto;
}
.boxLoc:before {
  margin: 0 0 0 4px;
  /*rtl*/
}
.dpt .searchDetails:before {
  float: right;
  /*rtl*/
  margin: 0 0 0 16px;
  /*rtl*/
}
/*#endregion */
/*#region Search page - 's' prefix stands for 'search' */
.searchPage:after {
  right: 0;
  /*rtl*/
  left: auto;
}
.searchPage .upArrow {
  top: -14px;
  /*rtl (font issue)*/
}
.searchPage .upArrow:before {
  right: 10px;
  /* diff rtl*/
  left: auto;
  -webkit-transition: right 0.5s;
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;
  /*rtl*/
}
.searchPage .views {
  margin: -2px 16px 0 0;
  /*rtl*/
}
.searchPage .userItem {
  margin: 0 0 0 31px;
  /* diff rtl*/
}
.sTabs.sTab2 ~ .upArrow:before {
  right: 75px;
  /* diff rtl*/
  left: auto;
}
.sTabs.sTab3 ~ .upArrow:before {
  right: 142px;
  /* diff rtl*/
  left: auto;
}
.box.sCourseItem:nth-child(odd) {
  margin: 0 0 20px 20px;
  /*rtl*/
}
.box.sCourseItem .boxImg {
  margin: 0 0 0 24px;
  /*rtl*/
}
.sOtherUni {
  right: 100px;
  /*rtl*/
  left: auto;
}
.sMemberName {
  margin: 26px 104px 0 0;
  /*rtl*/
}
.sMaterialsItem .sOtherUni {
  right: 136px;
  /*rtl*/
  left: auto;
}
.sMaterialImg {
  margin: 0 0 0 26px;
  /*rtl*/
}
/*#endregion */
/*#endregion */
/*#region welcome*/
.genderLabel:before {
  margin-right: 0;
  margin-left: 4px;
}
/*#endregion */
/*#region Animations.css */
@-webkit-keyframes ptsAnim {
  0% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  19%,
  90% {
    opacity: 1;
    top: 53px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(100% - 200px);
    /*rtl*/
    right: calc(100% - 200px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@-moz-keyframes ptsAnim {
  0% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  19%,
  90% {
    opacity: 1;
    top: 53px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(100% - 200px);
    /*rtl*/
    right: calc(100% - 200px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@-ms-keyframes ptsAnim {
  0% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  19%,
  90% {
    opacity: 1;
    top: 53px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(100% - 200px);
    /*rtl*/
    right: calc(100% - 200px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@-o-keyframes ptsAnim {
  0% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  19%,
  90% {
    opacity: 1;
    top: 53px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(100% - 200px);
    /*rtl*/
    right: calc(100% - 200px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@keyframes ptsAnim {
  0% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  19%,
  90% {
    opacity: 1;
    top: 53px;
    right: -webkit-calc(50% - 112px);
    /*rtl*/
    right: calc(50% - 112px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    top: 38px;
    right: -webkit-calc(100% - 200px);
    /*rtl*/
    right: calc(100% - 200px);
    /*rtl*/
    left: auto;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
}
/*#endregion */
/*#region Quiz.css */
/*#region Create Quiz */
body.quiz .backWpr {
  right: 0;
  left: auto;
  padding: 0 45px 0 0;
}
body.quiz .shareBtn {
  left: 0;
  right: auto;
}
.bodyContent.noQuiz .quizSideBar {
  left: -390px;
  /*rtl*/
  right: auto;
}
.bodyContent.noQuiz .toggleQuiz {
  left: -22px;
  /*rtl*/
  right: auto;
}
.quizSideBar {
  left: 0;
  /*rtl*/
  right: auto;
  border: none;
  border-right: 1px solid #c2c2c2;
  /*rtl*/
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.15);
  /*rtl*/
  -webkit-transition: left 0.4s;
  -moz-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
  /*rtl*/
}
.quizSideBar .emptyQuiz .quizName:not(.ng-valid) {
  border: 1px solid #d1294d;
}
.quizSideBar .emptyQuiz .questionHolder:first-child.questionReq .addQuestion {
  left: 21px;
  /*rtl*/
  right: auto;
}
.quizSideBar .validated .questionHolder.ng-invalid.questionReq .addQuestion {
  left: 21px;
  /*rtl*/
  right: auto;
}
.quizSideBar header {
  margin: 0 -15px 0 -14px;
  /*rtl*/
  padding: 8px 14px 0 0;
  /*rtl*/
}
.quizSideBar header .closeDialog {
  left: 20px;
  /*rtl*/
  right: auto;
}
.toggleQuiz {
  left: 374px;
  /*rtl*/
  right: auto;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  /*diff rtl*/
}
.checkbox:checked ~ .toggleQuiz {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  /*diff rtl*/
  left: 3px;
  /*rtl*/
  right: auto;
}
.checkbox:checked ~ .quizSideBar,
.checkbox:checked ~ .quizSideBar .quizBottom {
  left: -372px;
  /*rtl*/
  right: auto;
}
.questionHolder .closeDialog {
  left: -1px;
  /*rtl*/
  right: auto;
}
.questionHolder .lFloat {
  margin: 3px 0 0 5px;
  /*rtl*/
  color: #676767;
}
.questionHolder label {
  left: 19px;
  /*rtl*/
  right: auto;
}
.questionHolder.questionReq .addQuestion {
  left: 21px;
  right: auto;
}
.quizAnswersList {
  padding: 0 16px 0 0;
  /*rtl*/
  list-style-type: decimal;
}
.quizAddQuestion {
  text-align: right;
  /*rtl*/
}
.quizBottom {
  left: 0;
  /*rtl*/
  right: auto;
  -webkit-transition: left 0.4s;
  -moz-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
  /*rtl*/
}
/*#endregion */
/*#region Quiz Preview */
.quizPreviewTop .svg-back {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.quizPreview {
  right: 0;
  /*rtl*/
  left: auto;
}
.quizPreview .closePreview {
  margin: 16px 0 0 10px;
  /*rtl*/
}
.commentWpr {
  padding: 0 10px 0 0;
  /*rtl*/
}
.commentWpr .closeDialog {
  left: 20px;
  /*rtl*/
  right: auto;
}
.commentWpr .imgBorder {
  right: 0;
  /*rtl*/
  left: auto;
}
.commentWpr .askBtn {
  margin: 0 0 10px 12px;
  /*rtl*/
}
.quizComments li {
  padding: 10px 42px 0 0;
}
.commentTxt {
  padding: 0 0 0 22px;
  /*rtl*/
}
.cTextAreaWpr .imgBorder {
  right: 10px;
  /*rtl*/
  left: auto;
}
.cTextArea {
  margin: 0 42px 0 0;
  /*rtl*/
}
.quizAList li {
  margin: 0 13px -26px 0;
  /*diff rtl for bottom*/
  list-style-type: decimal;
}
.quizAList li:before {
  padding: 0 18px 0 0;
  /*rtl*/
}
.quizAList li label {
  right: 5px;
  /*rtl*/
  left: auto;
}
.quizAList li label:before {
  right: -19px;
  /*rtl*/
  left: auto;
}
/*#endregion */
/*#region Quiz item page */
.quizPage .backWpr:before {
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.quizPage .leftPanel.leftPanel {
  right: 0;
  /*rtl*/
  left: auto;
}
.quizPage .itemRight {
  padding: 0 290px 0 0;
  text-align: right;
  /*rtl*/
}
.quizPage .quizViews {
  border: none;
  border-right: 1px solid #797979;
  margin: 10px 5px 0 -5px;
}
.quizPage .itemNameWpr {
  padding: 16px 56px 8px 15px;
}
.quizPage .itemNameWpr svg {
  right: 8px;
  left: auto;
}
.quizPage .itemOwner + .rFloat {
  margin-right: 0;
  margin-left: 7px;
}
.userCorrect .quizQuestion:before,
.userWrong .quizQuestion:before,
.userCorrect .quizAList:before,
.userWrong .quizAList:before {
  right: -45px;
  /*rtl*/
  left: auto;
}
.checkQuiz .userCorrect .quizQuestion,
.afraid .userCorrect .quizQuestion,
.checkQuiz .userWrong .quizQuestion,
.afraid .userWrong .quizQuestion,
.checkQuiz .userCorrect .quizAList,
.afraid .userCorrect .quizAList,
.checkQuiz .userWrong .quizAList,
.afraid .userWrong .quizAList {
  padding: 0 20px 18px 80px;
}
.checkQuiz .correct.correct label:before,
.afraid .correct.correct label:before,
.checkQuiz .wrong.wrong label:before,
.afraid .wrong.wrong label:before {
  margin: -5px -3px 0 0;
  /*rtl*/
}
.checkQuiz .quizQList .noAnswer:after,
.afraid .quizQList .noAnswer:after {
  left: -30px;
  /*rtl*/
  right: auto;
}
.results {
  padding: 0 38px 0 0;
}
.results.wrong {
  padding: 0 0 0 35px;
  border: none;
  border-right: 1px solid #797979;
}
.svg-correct {
  right: 0;
  left: auto;
}
.svg-wrong {
  left: 0;
  right: auto;
}
.topUser.star svg {
  left: -10px;
  right: auto;
}
/*#endregion */
/*#region Quiz Dialog */
.quizPopupHeader {
  padding: 0 30px 3px 20px;
  margin: 50px 80px 0 0;
}
.quizPopupHeader:before {
  right: -100px;
  left: auto;
}
.friendsPics {
  margin: 0 0 0 12px;
}
.friendsPics img:nth-child(odd) {
  margin: 0 0 1px 5px;
}
.friendsPics.plus:after {
  right: 56px;
  left: auto;
}
.quizPopupTxtWpr {
  text-align: right;
}
/*#endregion */
/*#endregion */
