@import "varsAndMixins";

//RTL inconsistencies

// NB: 1) Here we are overriding with greater specificity!! (so resetting ltr property is necessary)

//In General there are 3 different reasons for the need for a fix:
// (1) When no rtl should be applied
// (2) When different rtl should be applied
// (3) When an svg/image needs to be flipped in rtl
 
.rtlFix {
    .bestUserList:before {
        .flipH;
    }
    .topImg {
        &:before {
            .flipH;
        }
    }
    .qLink:after{
        .flipH;
    }
    /*.cloudIcon {
        .svg-notification {
            .flipH;
        }
    }*/
    .newActivity li.current:after {
        .flipH;
    }
    .ta-toolbar .btn-group {
        float: right;
    }
    .btn-group > .btn {
        float: right;
    }
    .svgWpr {
        border-radius: 4px 0 0 4px;
    }
    .gradeback {
        direction: rtl;
    }
    /*.profileInfo .changeUni {
        margin: 0 0 25px; //remove negative top margin
    }*/
    .btn-group>.btn:first-child:not(.dropdown-toggle) {
        border-radius: 0 4px 4px 0;
    }
    .btn-group>.btn:last-child:not(.dropdown-toggle) {
        
        border-radius: 4px 0 0 4px;
    }
    .btn-group>.btn:only-child:not(.dropdown-toggle) {
        border-radius: 4px; //this is necessary (so that above classes don't override class in textAngular less)
    }
    .btn-group {
        .btn {
            border: 1px solid #ccc; 
            border-right: none;
            &:first-child {
                border-right:  1px solid #ccc;
            }
        }
    }
    /*.headingTexts {
        .facebook, .email {
            width: 242px; // diff rtl (Hebrew css should override this)
        }
    }*/
    .pointsList {
        direction: rtl; //no rtl
    }
    .digitWpr {
        direction: rtl; //no rtl
    }
    .ptDigit {
        &:first-child {
            margin: -4px 4px 0 0; // no rtl
        }
    }
    .thumbItem.quizItem  {
        .actionBtns {
            left: 8px; //no rtl
            right: auto; //no rtl
        }
    }
    .modal.couponPopup {
        .closeModal {
            right: 120px; //no rtl
            left: auto;
        }
    }
    .popover {
        &.left {
            margin: 0 -10px 0 0; // no rtl
            > .arrow {
                left: -12px; // no rtl
                right: auto;
                border-width: 12px 12px 12px 0; //no rtl
                border-right-color: @borderColor; //no rtl
                &:after {
                    left: 2px; //rtl
                    right: auto;
                    border-width: 10px 10px 10px 0; // no rtl
                    border-left-color: none;
                    border-right-color: #f5f5f5; //no rtl
                }
            }
        }
        &.right {
            margin: 0 10px 0 0;
            > .arrow {
                left: -12px;
                right: auto;
                border-width: 12px 0 12px 12px;
                border-right-color: none; 
                border-left-color: @borderColor;
                &:after {
                    right: 2px;
                    left: auto;
                    border-width: 10px 0 10px 10px;
                    border-right-color: none;
                    border-left-color: #f5f5f5;
                }
            }
        }
    }
    
    .firstRow {
        .tooltip-arrow {
            border-left: none;
            border-right: 1px solid @blue; //no rtl
        }
    }
    .draggable {
        padding: 6px 15px 6px 4px; //no rtl
    }

    .itemReg {
        .modal-header {
            h3 {
                line-height: 40px; // diff rtl
            }
        }
    }
    .deptSettings, .leavePrompt {
        .alert {
            &:before {
                padding-top: 5px; //diff rtl
            }
        }
    }
    .join.next {
        right: 165px; //diff rtl
    }
    .ptsAwarded {   
        top: 42px; //diff rtl
    }
    .congratsTxt0 {
        letter-spacing: 0; //diff rtl
        top: 0; //diff rtl
    }
    .congratsTxt1 {
        top: 32px; //diff rtl
    }
    .congratsTxt2 {
        top: 71px; //diff rtl
    }
    .socialList {
        width: 635px; //diff rtl
        .contactName {
            direction: rtl; //no rtl (this is to ensure you don't see end of email in rtl - see bug 2823)
        }
        li {
            &.jsInviteSent {
                button {
                    &:after {
                        top:3px; //diff rtl
                    }
                }
            }
        }
    }
    .boxFolders {
        h3 {
            font-size: 17px; //diff rtl
        }
    }

    .boxItemTt {
        .ttDetail {
            width: 40px; //diff rtl
        }
    }
    .inviteSources {
        margin: 3px 30px 0 0; //diff rtl
    }

    .invTab {
        height: 50px; //diff rtl
    }
    .upInviteItem {
        .semiFont {
            margin: 0 0 4px; //diff rtl
        }
    }
    .searchPage {
        .upArrow {
            top: -14px; //rtl (font issue)
            &:before {
                left: 10px; // diff rtl
            }
        }
    }
    .sTabs {
        &.sTab2 {
            ~ .upArrow:before {
                left: 75px; // diff rtl
            }
        }

        &.sTab3 {
            ~ .upArrow:before {
                left: 142px; // diff rtl
            }
        }
    }
    .quizPage {
        .quizViews {
            margin: 10px -5px 0 5px; // diff rtl
        }
    }
}