/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.searchInputWpr {
  width: 365px;
  height: 32px;
  border: none;
  border-radius: 16px;
  position: absolute;
  z-index: 4;
  top: 67px;
  left: 500px;
  margin: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition-property: height, width, top, left, border-radius;
  transition-property: height, width, top, left, border-radius;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.searchInputWpr.searchLib {
  left: 550px;
}
.searchInputWpr.searchBox {
  top: 9px;
  z-index: 12;
  left: 320px;
}
.searchInputWpr.searchUser {
  margin: auto;
  left: 0;
  right: 0;
  top: 72px;
}
.searchInputWpr.open {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  max-width: none;
  top: 0;
  left: 0;
  border-radius: 0;
}
.searchInputWpr.open ~ .siteHeader,
.searchInputWpr.open ~ .dashboard,
.searchInputWpr.open ~ .union,
.searchInputWpr.open ~ .boxPage,
.searchInputWpr.open ~ .userPage {
  display: none !important;
}
.searchInputWpr.open form {
  width: 80%;
  height: 160px;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
}
.searchInputWpr.open .dashLibSearchInput {
  font-size: 3.6vw;
  padding: 0 10% 8px 0;
}
.searchInputWpr.open .searchBtn {
  pointer-events: auto;
  width: 60px;
  height: 60px;
  -webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
  transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.searchInputWpr.open .searchBtn .svg-search {
  width: 60px;
  height: 60px;
}
.searchInputWpr.open .searchBtn .svg-search:hover {
  fill: #3399ff;
}
.searchInputWpr.open .closeSearch {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.searchInputWpr.open .search-content {
  opacity: 1;
  height: auto;
  overflow: visible;
  /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
  pointer-events: auto;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.searchInputWpr.open .column:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.searchInputWpr.open .column:nth-child(2) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.searchInputWpr.open .column:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.searchInputWpr.open .column {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.searchInputWpr.hideInput .dashLibSearchInput {
  color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.searchInputWpr form {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  position: relative;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.searchInputWpr .dashLibSearchInput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dashLibSearchInput {
  width: 100%;
  height: 100%;
  padding: 0 10% 8px 16px;
  border-radius: 0;
  border: none;
  background: transparent;
  color: #3399ff;
  -webkit-transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  max-width: none;
}
/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}
.searchBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  overflow: hidden;
  right: 0;
  top: 43%;
  border: none;
  pointer-events: none;
  transform-origin: 50% 50%;
  -webkit-transform: translate3d(10px, -50%, 0) scale3d(0.5, 0.5, 1);
  transform: translate3d(10px, -50%, 0) scale3d(0.5, 0.5, 1);
}
.searchBtn .svg-search {
  width: 40px;
  height: 40px;
  fill: #c2c2c2;
}
.closeSearch {
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
}
.closeSearch .svg-close {
  width: 20px;
  height: 20px;
}
.closeSearch .svg-close:hover {
  fill: #3399ff;
}
.search-content {
  color: #333;
  margin-top: 4.5em;
  width: 80%;
  height: 0;
  overflow: hidden;
  padding: 0 10%;
  background: #f1f1f1;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.column {
  width: 30%;
  padding: 0 0 6em;
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.column:nth-child(2) {
  margin: 0 5%;
}
.column h2 {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  color: #3399ff;
  padding: 0.5em 0;
}
.round {
  border-radius: 50%;
}
.searchLink {
  height: 74px;
  padding: 0.75em 0.75em 0.75em 70px;
  display: block;
  margin: 0.3em 0;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(118, 117, 128, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /*&.noResults
    {
        text-align: center;
        .searchList, h3, .showAll //.showAll prob not necessary
        {
            display: none !important;
        }
    }*/
}
.searchLink:hover,
.searchLink:focus {
  background: rgba(118, 117, 128, 0.2);
}
.searchLink:hover h3 {
  color: #3399ff;
}
.searchLink img {
  position: absolute;
  left: 6px;
}
.searchLink h3 {
  vertical-align: middle;
  font-size: 1.2em;
  display: inline-block;
  font-weight: 700;
  margin: 0;
  color: rgba(145, 145, 145, 0.7);
  max-width: 100%;
}
.searchLink mark {
  background: none;
}
.searchLink .userImg {
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.searchLink .vCentered {
  max-width: 98%;
}
@media screen and (max-width: 53.125em) {
  .dashLibSearchInput {
    padding: 0 25% 0 10px;
  }
  .searchInputWpr.open .dashLibSearchInput {
    font-size: 2em;
  }
  .searchInputWpr.open .searchBtn {
    -webkit-transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
    transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
  }
  .column {
    float: none;
    width: auto;
    padding: 0 0 2em;
  }
  .column:nth-child(2) {
    margin: 0;
  }
}
@media screen and (max-width: 60.625em) {
  .searchInputWpr.open {
    width: 80%;
    top: 10%;
    right: 10%;
  }
}
/*#region search drop down */
.searchDD {
  display: none;
  margin-top: 5px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background: #fff;
  min-height: 88px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
  width: 100%;
}
.searchDD h3 {
  background: #f9f9f9;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  font-weight: normal;
  padding: 0 16px;
  font-size: 13px;
}
.searchDD h3:first-of-type {
  border-top: none;
  border-radius: 5px 5px 0 0;
}
.searchDD .boldPart {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 4px;
}
.searchDD .showAll {
  text-align: center;
  font-size: 13px;
  background: #f9f9f9;
  height: 36px;
  line-height: 36px;
  border-top: 1px solid #e3e3e3;
  border-radius: 0 0 5px 5px;
  display: block;
}
.searchDD .showAll:hover {
  background: #f5f5f5;
}
.searchList {
  margin: 6px 0;
}
.searchItem {
  padding: 5px 16px;
  overflow: hidden;
  display: block;
  position: relative;
  /*.userImg
    {
        margin-left: 3px; //rtl
    }*/
}
.searchItem:hover {
  background: #0f9d58;
  color: #fff;
}
.searchItem:hover .searchDetail,
.searchItem:hover .otherUni {
  color: #fff;
}
.searchItem:hover .boldPart {
  background: none;
  color: #fff;
}
.searchItem > .searchTitle {
  margin-left: 56px;
  /*rtl*/
}
.searchDetails {
  overflow: hidden;
  padding-left: 15px;
  /*rtl*/
  line-height: 20px;
  margin-top: 12px;
}
.searchTitle {
  font-size: 15px;
  line-height: 16px;
}
.boxLoc:before {
  content: attr(data-search-in);
  display: inline-block;
  margin-right: 4px;
  /*rtl*/
}
.allDetails:after {
  content: '|';
  display: inline-block;
  padding: 0 4px;
}
.dpt .searchDetails {
  margin: 0;
  padding: 0;
}
.dpt .searchDetails:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 32px;
  background: url(/Images/common17-sprite.png?v=4) -241px -56px no-repeat;
  vertical-align: middle;
  float: left;
  /*rtl*/
  margin-right: 16px;
  /*rtl*/
}
.searchDetail,
.otherUni {
  color: #676767;
}
.otherUni {
  position: absolute;
  top: 3px;
  line-height: 13px;
  left: 71px;
  /*rtl*/
}
/*#endregion */
/*#region Search page - 's' prefix stands for 'search' */
.searchPage:after {
  left: 0;
  /*rtl*/
  min-width: 1024px;
}
.searchPage h2 {
  font-size: 22px;
}
.searchPage h2:not(.searching) .sResult + .sResult {
  display: none;
}
.searchPage h2:not(.searching):before {
  content: attr(data-resultcount);
  display: inline-block;
}
.searchPage h2.searching .sResult:first-child {
  display: none;
}
.searchPage .upArrow {
  top: -17px;
  /*rtl (font issue)*/
  height: 13px;
}
.searchPage .upArrow:before {
  left: 19px;
  /*rtl*/
  right: auto;
  width: 12px;
  height: 12px;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  /*rtl*/
}
.searchPage .boldPart {
  background: #cde3f4;
}
.searchPage .stars,
.searchPage .views {
  margin: 0;
  display: inline-block;
}
.searchPage .views {
  margin: -2px 0 0 16px;
  /*rtl*/
  vertical-align: top;
}
.searchPage .userItem {
  margin-right: 30px;
  /* diff rtl*/
}
.searchPage .userItem:nth-child(9n) {
  margin: 0;
}
.searchContent {
  width: 1012px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.sTabs {
  margin: 30px 0 32px;
  /*button:after {
        content: '(' attr(data-stab-count) ')';
        display: inline-block;
    }*/
}
.sTabs button:nth-child(2) {
  margin: 0 25px;
}
.sTabs button {
  text-transform: capitalize;
  color: #fff;
}
.sTabs.sTab2 ~ .upArrow:before {
  left: 98px;
  /*rtl*/
}
.sTabs.sTab3 ~ .upArrow:before {
  left: 183px;
  /*rtl*/
}
.sTab1 ~ .sTabContent .sCourses,
.sTab2 ~ .sTabContent .sMaterials,
.sTab3 ~ .sTabContent .sMembers {
  display: block;
}
.sTab1 button:nth-child(1),
.sTab2 button:nth-child(2),
.sTab3 button:nth-child(3) {
  font-weight: 600;
}
.sTabContent {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 20px 20px 0 20px;
  background: #fff;
  margin-top: 15px;
  margin-bottom: 60px;
  position: relative;
  min-height: 200px;
  /*.emptySearch
    {
        display: none;
    }*/
}
.sTabContent section {
  display: none;
}
.sTabContent .splitHR {
  /*display:none;*/
  margin: 11px 0 31px;
  font-size: 17px;
}
.sTabContent.noResults.noResults {
  height: 267px;
  text-align: center;
}
.sTabContent.noResults.noResults section {
  display: none;
}
.sTabContent.noResults.noResults .emptySearch {
  font-size: 15px;
  /*&:before
            {
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 32px;
                margin: 38px auto 12px;
            }*/
}
.sTabContent.noResults.noResults .emptySearch:after {
  width: 32px;
  height: 37px;
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  background-position: -283px -51px;
}
.sTabContent.sLoading.sLoading .emptySearch {
  display: none;
}
.sTabContent.sLoading.sLoading .splitHR {
  display: none;
}
.sMembers .userItemImg {
  border-radius: 100%;
}
.box.sCourseItem {
  width: 454px;
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
  line-height: 18px;
}
.box.sCourseItem:nth-child(odd) {
  margin: 0 20px 20px 0;
  /*rtl*/
}
.box.sCourseItem:hover {
  background: #f9f9f9;
}
.box.sCourseItem .boxImg {
  margin-right: 24px;
  /*rtl*/
  position: static;
}
.sTitle {
  font-size: 17px;
  color: #0f9d58;
  margin-top: 36px;
  line-height: 18px;
}
.sDetail {
  color: #676767;
  font-size: 15px;
}
.sOtherUni {
  position: absolute;
  left: 100px;
  /*rtl*/
  top: 15px;
  font-size: 13px;
  color: #676767;
}
.sMemberName {
  margin: 26px 0 0 104px;
  /*rtl*/
  font-size: 15px;
}
.sMaterialsItem {
  display: block;
  padding-bottom: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
}
.sMaterialsItem .sTitle {
  margin-top: 18px;
  padding-top: 23px;
}
.sMaterialsItem .sTitle:hover {
  text-decoration: underline;
}
.sMaterialsItem:last-child {
  border: none;
  padding: 0;
}
.sMaterialsItem .sOtherUni.dot {
  left: 136px;
  /*rtl*/
  top: 0;
}
.sMaterialsItem .sOtherUni.dot:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #0f9d58;
  margin-right: 3px;
  margin-bottom: 1px;
}
.sMaterialLink {
  display: block;
}
.sMaterialImg {
  margin-right: 26px;
  /*rtl*/
}
.sSnippet {
  margin: 8px 0 15px;
}
.sHighlight {
  background-color: #cde3f4;
  display: inline-block;
  padding-bottom: 4px;
}
.sOtherMaterialsBtn {
  color: #383838;
  text-align: center;
  /*display: none;*/
  width: 100%;
  height: 40px;
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-bottom: 20px;
}
.sOtherMaterialsBtn:hover {
  border: 1px solid #c2c2c2;
  color: #0371c8;
}
