/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.searchPopup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #f1f1f1;
  z-index: 11;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition-property: height, width, top, right;
  transition-property: height, width, top, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
  /*.userPage & {
        .userInitial;
        height: 32px; 
        background: tomato;
    }*/
}
.searchPopup ~ .bodyContent {
  overflow: hidden;
}
.searchPopup ~ .bodyContent .siteHeader {
  visibility: hidden;
}
.searchPopup.searchLib {
  right: 550px;
}
.searchPopup.searchBox {
  top: 9px;
  z-index: 12;
  right: 320px;
  max-width: 365px;
  width: -webkit-calc(100% - 675px);
  width: calc(100% - 675px);
  min-width: 40px;
  position: fixed;
}
.searchPopup.ng-enter,
.searchPopup.ng-leave-active {
  top: 67px;
  background: #fff;
  width: 365px;
  height: 32px;
  right: 500px;
}
.searchPopup.ng-enter form,
.searchPopup.ng-leave-active form {
  width: 365px;
  height: 32px;
  position: relative;
}
.searchPopup.ng-enter .dashLibSearchInput,
.searchPopup.ng-leave-active .dashLibSearchInput {
  font-size: 18px;
  width: 100%;
  height: 32px;
  padding: 4px 10px;
  border-color: transparent;
}
.userPage .searchPopup.ng-enter,
.userPage .searchPopup.ng-leave-active {
  right: auto;
  right: calc(50% - 187px);
  top: 72px;
  width: 365px;
  height: 32px
  /*min-width: 40px;
    max-width: 365px;
    width: ~'-webkit-calc(100% - 539px)';
    width: ~'calc(100% - 539px)';*/
}
.searchPopup.ng-leave-active .searchBtn,
.searchPopup.ng-leave-active .closeSearch {
  visibility: hidden;
  opacity: 0;
}
.searchPopup.ng-enter .searchBtn {
  opacity: 0;
  visibility: hidden;
}
.searchPopup.ng-enter-active {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.searchPopup.ng-enter-active form {
  width: 80%;
  height: 160px;
}
.searchPopup.ng-enter-active .dashLibSearchInput {
  width: 100%;
  height: 100%;
  font-size: 5vw;
  padding: 4px 10px 4px 10%;
}
.searchPopup.ng-enter-active .searchBtn {
  opacity: 1;
  visibility: visible;
}
.searchPopup form {
  position: relative;
  width: 80%;
  height: 160px;
  margin: 0 auto;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.searchPopup .searchBtn {
  background: none;
  border-radius: 0;
  top: 40%;
  position: absolute;
  transition: opacity .3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}
.searchPopup .searchBtn .svg-search {
  width: 3vw;
  height: 3vw;
  fill: #c2c2c2;
}
.searchPopup .searchBtn .svg-search:hover {
  fill: #3399ff;
}
.searchPopup .dashLibSearchInput {
  width: 100%;
  height: 100%;
  font-size: 5vw;
  padding: 4px 10px 4px 10%;
  -webkit-transition: font-size 0.2s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.5s;
  transition: font-size 0.2s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.5s;
  background: transparent;
  color: #3399ff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchPopup .dashLibSearchInput::-webkit-input-placeholder {
  color: #c2c2c2;
}
.searchPopup .dashLibSearchInput:-moz-placeholder {
  color: #c2c2c2;
  opacity: 1;
}
.searchPopup .dashLibSearchInput::-moz-placeholder {
  color: #c2c2c2;
  opacity: 1;
}
.searchPopup .dashLibSearchInput:-ms-input-placeholder {
  color: #c2c2c2;
}
.searchPopup .dashLibSearchInput:focus {
  border: none;
  outline: none;
}
.searchPopup .closeSearch {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.searchPopup .search-content {
  opacity: 1;
  height: auto;
  overflow: visible;
  pointer-events: auto;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.searchPopup .column:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.searchPopup .column:nth-child(2) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.searchPopup .column:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.searchPopup .column {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.searchInputWpr {
  border-radius: 16px;
  position: absolute;
  top: 17px;
  z-index: 4;
  margin: 0;
  line-height: normal;
  background: #fff;
  color: #c2c2c2;
  padding: 4px 10px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 365px;
  height: 32px;
  right: 500px;
}
.searchInputWpr.open {
  /*~ .siteHeader, ~ .dashboard, ~ .union, ~ .boxPage, ~ .userPage {
            display: none !important; //override js
        }*/
}
.searchInputWpr.hideInput .dashLibSearchInput {
  color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.searchInputWpr.searchUser {
  right: auto;
  right: calc(50% - 187px);
  top: 72px;
  width: 365px;
  height: 32px
  /*min-width: 40px;
    max-width: 365px;
    width: ~'-webkit-calc(100% - 539px)';
    width: ~'calc(100% - 539px)';*/
}
.searchInputWpr.searchLib {
  right: 550px;
}
.searchInputWpr.searchBox {
  top: 9px;
  z-index: 12;
  right: 320px;
  max-width: 365px;
  width: -webkit-calc(100% - 675px);
  width: calc(100% - 675px);
  min-width: 40px;
  position: fixed;
}
.gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}
.closeSearch {
  position: absolute;
  left: 1em;
  top: 1em;
  overflow: hidden;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
}
.closeSearch .svg-close {
  width: 20px;
  height: 20px;
}
.closeSearch .svg-close:hover {
  fill: #3399ff;
}
.search-content {
  color: #666;
  margin-top: 4.5em;
  width: 80%;
  height: 0;
  overflow: hidden;
  padding: 0 10%;
  background: #f1f1f1;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.search-content [data-letter]:before {
  right: 13px;
}
.search-content .courseId {
  margin-bottom: 5px;
}
.search-content.boxes .column.boxes {
  display: block;
}
.search-content.quizzes .column.quizzes {
  display: block;
}
.search-content.items .column.items {
  display: block;
}
.search-content .vCentered {
  padding-right: 74px;
}
.column {
  display: none;
  width: 30%;
  padding: 0 0 6em;
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}
.column:nth-child(2) {
  margin: 0 5%;
}
.column h2 {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  color: #3399ff;
  padding: 0.5em 0;
}
.round {
  border-radius: 50%;
}
.itemList .searchImg,
.quizList .searchImg {
  width: 63px;
  height: 88px;
}
.itemList .searchImg {
  border: 1px solid #c2c2c2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.quizList [data-letter]:before {
  content: attr(data-letter);
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 22px;
  bottom: auto;
  right: 0;
  left: 0;
  font-size: 18px;
}
.quizList .searchImg {
  font-size: 10px;
  text-align: center;
}
.quizList .boxName {
  margin-top: -40px;
}
.searchLink {
  width: 100%;
  height: 106px;
  padding: 0.75em;
  display: table;
  margin: 0.3em 0;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(118, 117, 128, 0.1);
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchLink:hover,
.searchLink:focus {
  background: rgba(118, 117, 128, 0.2);
}
.searchLink svg {
  width: 63px;
  height: 88px;
}
.searchLink .searchImg {
  position: absolute;
  right: 10px;
}
.searchLink img {
  position: absolute;
  right: 6px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.searchLink h3 {
  vertical-align: middle;
  font-size: 1.2em;
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  color: #3399ff;
  max-width: 100%;
  font-weight: normal;
}
.searchLink .content {
  margin-top: 8px;
  max-height: 30px;
  overflow: hidden;
  line-height: 15px;
}
.searchLink mark {
  background: none;
  color: #3399ff;
}
.searchLink .userImg {
  border-radius: 50%;
}
/*#region Search media queries */
@media screen and (max-width: 53.125em) {
  /*.searchInputWpr.open {
        overflow: auto;
        .dashLibSearchInput {
		    //font-size: 2em;
            //padding: 0 25% 0 10px;
	    }
        .searchBtn.searchBtn { //extra specificity to override rtl
		    //-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		    //transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	    }
        .search-content {
            margin-top: 1em;
        }   
	}*/
  .column {
    float: none;
    width: auto;
    padding: 0 0 2em;
    width: 100%;
  }
  .column:nth-child(2) {
    margin: 0;
  }
}
@media screen and (max-width: 60.625em) {
  .searchInputWpr.open {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
