@import "varsAndMixins";
@bluesearch: #0e68af;
@greensearch: #178b55;
.searchTrigger {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 365px;
	height: 32px;
    border: 1px solid @borderColor;
    border-radius: 16px;
    margin: 17px 20px 0 20px;
    line-height: normal;
    background: #fff;
    color: @borderColor;
    padding: 4px 10px;
    font-size: 18px;
    //z-index: 4; //under aside which is 5
    // removed z-index because it covered tooltip in (my) user page
    .boxSizing;
    .headerBox &  {
        margin-top: 9px; //override
    }
    &.searchUser { 
        margin-top: 23px;
        + button .svg-inviteUser {
            position: relative;
            top: -9px;
        }
    }
}
.searchBtn {
    position: absolute;
    right: 10px; //rtl
    top: 6px;
}
.searchPopup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    z-index: 12;
    display:none;
    .transition(transform .5s);
    .boxSizing;

    &:not(.ng-hide) ~ .bodyContent {
        overflow: hidden;
    }

    &.ng-hide-remove, &.ng-hide-add-active {
        position: fixed;
        .scale(0);
        .column {
            opacity: 0;
            -moz-transform: translateY(100px);
            -ms-transform: translateY(100px);
            -o-transform: translateY(100px);
            -webkit-transform: translateY(100px);
            transform: translateY(100px);
        }
    }

    &.ng-hide-remove-active {
        .scale(1);
        .column {
            opacity: 1;
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    form {
        position: relative;
        width: 80%;
        height: 160px;
        margin: 0 auto;
    }

    .searchBtn {
        background: none; //override
        border-radius: 0; //override
        top: 40%;
        position: absolute;

        .svg-search {
            width: 3vw;
            height: 3vw;
            fill: #aaa;

            &:hover {
                fill: @blue;
            }
        }
    }

    .dashLibSearchInput {
        width: 100%;
        height: 100%;
        font-size: 5vw;
        padding: 36px 10% 4px 0;
        background: transparent;
        color: @blue;
        .boxSizing;
        .placeholderColor(#aaa,bold);

        &:focus {
            border: none; //remove red error borders and outlines
            outline: none;
        }
    }

    .closeSearch {
        opacity: 1;
        pointer-events: auto;
    }

    .emptySearch {
        font-size: 30px;

        svg {
            width: 155px;
            height: 145px;
        }
    }
}

// hide placeholder when active in Chrome //
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

.closeSearch {
	position: absolute;
	right: 1em; //rtl 
	top: 1em;
	overflow: hidden;
	cursor: pointer;
	//pointer-events: none;
	//opacity: 0;
	/*-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);*/
    .svg-close {
        width: 20px;
        height: 20px;
        &:hover {
            fill: @blue;
        }
    }
}

.search-content {
	color: #676767;
    margin-top: 25px;
	width: 80%;
	padding: 0 10%;
	background: #f1f1f1;
	position: absolute; //necessary!
    &:not(.boxes) {
        .boxes {
            display: none; //using :not() here so as not to interfere with the initial transition 
        }
    }
    &:not(.quizzes) {
        .quizzes {
            display: none;
        }
    }
    &:not(.items) {
        .items {
            display: none;
        }
    }
    .courseId {
        margin-bottom: 5px;
    }
    .vCentered {
        padding-left: 82px;
        width: 100%;
        .boxSizing;
        display: block;
    }
}

.column {
    width: 30%;
    padding: 0 0 6em;
    overflow: hidden;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: transform 0.5s, opacity 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    -webkit-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 1;
    position: relative;

    &:first-child {
        -moz-transition-delay: .5s;
        -o-transition-delay: .5s;
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
        margin-right: 5%;
    }

    &:nth-child(2) {
        margin-right: 5%;
        -moz-transition-delay: .6s;
        -o-transition-delay: .6s;
        -webkit-transition-delay: .6s;
        transition-delay: .6s;
    }

    &:nth-child(3) {
        -moz-transition-delay: .7s;
        -o-transition-delay: .7s;
        -webkit-transition-delay: .7s;
        transition-delay: .7s;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #aaa;
        padding: 0.5em 0;
    }
}

.itemList, .quizList {
    .searchImg {
        width: 63px;
        height: 88px;
    }
}
.itemList {
    .searchImg {
        border: 1px solid @borderColor;
        .boxSizing;
    }
}
.quizList {
    .searchImg {
        font-size: 10px;
        text-align: center;
    }
    .boxName {
        margin-top: -40px;
    }
}
.searchLink {
    width: 100%;
    height: 106px;
	padding: 0.75em; //rtl
	//display: table;
    .flexAlignV;
	margin: 8px 0;
	cursor: pointer;
	background: #e9e9e9;
    .boxSizing;
    position: relative;
    .boxSizing;
    &:hover, &:focus {
        background: rgba(118,117,128,0.2);
    }
    svg {
        width: 63px;
        height: 88px;
    }
    .searchImg {
        position: absolute;
        left: 10px;
        top:0;bottom:0;
        margin: auto;
    }
    img {
        position: absolute;
        left: 6px; //rtl
        top:0;bottom:0;
        margin: auto;
    }
    h3 {
        vertical-align: middle;
	    font-size: 1.2em;
	    display: inline-block;
	    margin: 0;
        padding: 5px 0;
	    color: @bluesearch;
        max-width: 100%; //needed to override the nowrap property on the elps
        font-weight: normal;
    }
    h4{
        color:@greensearch;
    }
    .boxSvg {
        background: #fff;
    }
    .content {
        margin-top: 8px;
        max-height: 30px;
        overflow: hidden;
        line-height: 15px;
    }
    em {
        //background: none;
        //color: @blue;
    }
}

/*#region Search media queries */
@media screen and (max-width: 53.125em) {
	.dashLibSearchInput {
		//padding: 0 25% 0 10px;
	}
	.column {
		float: none;
		//width: auto;
		padding: 0 0 2em;
        width: 100%;
	}
	.column:nth-child(2) {
		margin: 0;
	}
	
}

/*@media screen and (max-width: 60.625em) {
	.searchInputWpr.open {
		width: 100%;
		top: 0;
        left:0;right:0;
        margin: auto;
	}
}*/
/*#endregion */