@import "varsAndMixins";

.dashInitial(){
    width: 365px;
	height: 32px;
	left: 500px; //rtl
}
.userInitial(){
    left:0;right:0;
    margin: auto;
    top: 72px;
    position: absolute;
}
.libInitial() {
    left: 550px;
}
.boxInitial() {
    left: 320px;
    z-index: 11;
    top: -41px;
}
.searchInputWpr {
    border-radius: 16px;
	position: absolute;
    top: 17px;
	z-index: 4; //under aside which is 5
    margin:0;
    line-height: normal;
    background: #fff;
    color: @borderColor;
    padding: 4px 10px;
    font-size: 18px;
    .boxSizing;
    .dashInitial;

    &.searchUser {
        .userInitial; 
        + button .svg-inviteUser {
            position: relative;
            top: -9px;
        }
    }
    &.searchLib {
       .libInitial 
    }
    &.searchBox {
        //top: 9px;
        //z-index: 12;
        
        /*max-width: 365px;
        width: ~'-webkit-calc(100% - 675px)';
        width: ~'calc(100% - 675px)';
        min-width: 40px;
        position: fixed;*/
        .boxInitial
    }
    
}
.searchPopup {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #f1f1f1;
    z-index: 11;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition-property: height, width, top, left;
    transition-property: height, width, top, left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    .boxSizing;
    ~ .bodyContent {
        overflow: hidden;
        .siteHeader {
            //display: none; //this kills the transition
            //visibility: hidden;
            margin-top: -50px;
        }
        .searchBox {
            z-index: 0; //hide box searchInputWpr
        }
    }
    
     
    /*&.searchLib {
        .libInitial;
    }*/
    &.searchBox {
        /*top: 9px;
        z-index: 12;
        left: 320px; //rtl
        max-width: 365px;
        width: ~'-webkit-calc(100% - 675px)';
        width: ~'calc(100% - 675px)';
        min-width: 40px;
        position: fixed;*/
        //.boxInitial;

    }
    /*.userPage & {
        .userInitial;
        width: 365px;
        height: 32px; 
        background: tomato;
    }*/
    /*.boxPage & {
        z-index: 10; //hide searchInput
    }*/
    &.ng-enter, &.ng-leave-active {
        top: 67px;
        background: #fff;
        .dashInitial;
        form {
            width: 365px;
            height: 32px;
            position: relative;
        }

        .dashLibSearchInput {
            font-size: 18px;
            width: 100%;
            height: 32px;
            padding: 4px 10px;
            border-color: transparent;
        }
        .userPage & {
            .userInitial; 
        }
        .boxPage & {
            .boxInitial; 
        }
        .libraryPage &,.departmentPage &  {
            .libInitial; 
        }
    }
    &.ng-leave-active {
        .searchBtn, .closeSearch  {
            //display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
    &.ng-enter {
        .searchBtn  {
            opacity: 0;
            visibility: hidden;
        }
    }
    &.ng-enter-active {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;

        form {
            width: 80%;
            height: 160px;
            //height: 100%;
        }

        .dashLibSearchInput {
            width: 100%;
            height: 100%;
            font-size: 5vw;
            padding: 4px 10% 4px 10px;
            //border-bottom: 2px solid @blue;
            //height: 32px;
        }
        .searchBtn  {
            opacity: 1;
            visibility: visible;
        }
    }

    form {
        position: relative;
        width: 80%;
        height: 160px;
        //height: 100%;
        margin: 0 auto;
        //-webkit-transform: translate3d(0,2em,0);
        //transform: translate3d(0,2em,0);
        -webkit-transition-property: width, height, -webkit-transform;
        transition-property: width, height, transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .searchBtn {
        background: none; //override
        border-radius: 0; //override
        top: 40%;
        position: absolute;
	    //pointer-events: auto;
        //width: 80px;height:80px; //fallback for old android
        //width: 3vw;
        //height: 3vw;
	    //-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	    //transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	    transition: opacity .3s;
	    -webkit-transition-delay: 0.5s;
	    transition-delay: 0.5s;
        opacity: 1;
        visibility: visible;
        .svg-search {
            //width: 80px;height: 80px; //fallback for old android
            width: 3vw;
            height: 3vw;
            fill: @borderColor;
        
            &:hover {
                fill: @blue;
            }
        }
    }
    .dashLibSearchInput {
        //font-size: 18px;
        //padding: 4px 10px;
        //height: 32px;
        width: 100%;
        height: 100%;
        font-size: 5vw;
        padding: 4px 10% 4px 10px;
        //border-bottom: 2px solid @blue;
        -webkit-transition: font-size 0.2s cubic-bezier(0.7,0,0.3,1), border-color .5s;
        transition: font-size 0.2s cubic-bezier(0.7,0,0.3,1), border-color .5s;
        background: transparent;
        color: @blue;
        //opacity: 1;
        .boxSizing;
        .placeholderColor(@borderColor);

        &:focus {
            border: none; //remove red error borders and outlines
            outline: none;
        }
    }

    .closeSearch {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .search-content {
        opacity: 1;
        height: auto;
        overflow: visible; // this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 //
        pointer-events: auto;
        -webkit-transition: opacity 0.3s 0.5s;
        transition: opacity 0.3s 0.5s;
    }

    .column:first-child {
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .column:nth-child(2) {
        -webkit-transition-delay: 0.45s;
        transition-delay: 0.45s;
    }

    .column:nth-child(3) {
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .column {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

// hide placeholder when active in Chrome //
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

.closeSearch {
	position: absolute;
	right: 1em; //rtl 
	top: 1em;
	overflow: hidden;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
    .svg-close {
        width: 20px;
        height: 20px;
        &:hover {
            fill: @blue;
        }
    }
}

.search-content {
	color: #666;
	margin-top: 4.5em;
	width: 80%;
	height: 0;
	overflow: hidden;
	padding: 0 10%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
    [data-letter]:before {
        left: 13px;
    }
    .courseId {
        margin-bottom: 5px;
    }

    &.boxes {
        .column.boxes {
           display:block;
        }
    }
    &.quizzes {
        .column.quizzes {
           display:block;
        }
    }
    &.items {
        .column.items {
           display:block;
        }
    }
    .vCentered {
        padding-left: 74px;
    }
}

.column {
    display:none;
	width: 30%;
	padding: 0 0 6em;
	opacity: 0;
	-webkit-transform: translate3d(0,100px,0);
	transform: translateY(100px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
    overflow: hidden;
    &:nth-child(2) {
	    margin: 0 5%;
    }

    h2 {
	    font-size: 18px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    font-weight: 800;
	    color: @blue;
	    padding: 0.5em 0;
    }
}

.round {
	border-radius: 50%;
}
.itemList, .quizList {
    .searchImg {
        width: 63px;
        height: 88px;
    }
}
.itemList {
    .searchImg {
        border: 1px solid @borderColor;
        .boxSizing;
    }
}
.quizList {
    [data-letter]:before {
        content:attr(data-letter);
        width: 25px;
        height: 25px;
        line-height: 25px;
        top: 22px;
        bottom: auto; //override
        left: 0;right:0;
        font-size: 18px;
    }
    .searchImg {
        font-size: 10px;
        text-align: center;
    }
    .boxName {
        margin-top: -40px;
    }
}
.searchLink {
    width: 100%;
    height: 106px;
	padding: 0.75em; //rtl
	display: table;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.1);
    .boxSizing;
    position: relative;
    .boxSizing;
    &:hover, &:focus {
        background: rgba(118,117,128,0.2);
    }
    svg {
        width: 63px;
        height: 88px;
    }
    .searchImg {
        position: absolute;
        left: 10px;
    }
    img {
        position: absolute;
        left: 6px; //rtl
        top:0;bottom:0;
        margin: auto;
    }
    h3 {
        vertical-align: middle;
	    font-size: 1.2em;
	    display: inline-block;
	    margin: 0;
        padding: 5px 0;
	    color: @blue;
        max-width: 100%; //needed to override the nowrap property on the elps
        font-weight: normal;
    }
    .content {
        margin-top: 8px;
        max-height: 30px;
        overflow: hidden;
        line-height: 15px;
    }
    mark {
        background: none;
        color: @blue;
    }
}

/*#region Search media queries */
@media screen and (max-width: 53.125em) {
	.dashLibSearchInput {
		//padding: 0 25% 0 10px;
	}
	/*.searchInputWpr.open {
        overflow: auto;
        .dashLibSearchInput {
		    //font-size: 2em;
            //padding: 0 25% 0 10px;
	    }
        .searchBtn.searchBtn { //extra specificity to override rtl
		    //-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		    //transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	    }
        .search-content {
            margin-top: 1em;
        }   
	}*/
	.column {
		float: none;
		width: auto;
		padding: 0 0 2em;
        width: 100%;
	}
	.column:nth-child(2) {
		margin: 0;
	}
	
}

@media screen and (max-width: 60.625em) {
	.searchInputWpr.open {
		width: 100%;
		top: 0;
        left:0;right:0;
        margin: auto;
	}
}
/*#endregion */