/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
body {
  min-width: 1024px;
  color: #39434a;
  background: #f6f6f6;
}
/*#region header */
header {
  height: 75px;
  background: #0f9d58;
  padding: 0 calc(50% - 470px);
  color: #fff;
}
header h1 {
  padding: 20px 0 0 225px;
  /*rtl*/
  font-size: 16px;
  width: 215px;
  position: relative;
}
header .rFloat {
  padding-top: 30px;
}
.logo:before {
  content: '';
  display: inline-block;
  width: 210px;
  height: 40px;
  background: url(/Images/Store/social.png) 0 -252px no-repeat;
  position: absolute;
  left: 0;
  /*rtl*/
  top: 20px;
}
.login,
.signup {
  color: #fff;
  font-size: 18px;
}
.language {
  display: inline-block;
  margin-left: 20px;
  /*rtl*/
  color: #fff;
  background: #fff;
  padding: 2px 10px;
  border-radius: 5px;
}
.language a {
  padding: 0 6px;
  font-size: 15px;
  display: inline;
}
.langMenu {
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.langMenu.dropdown-menu {
  top: 42px;
  left: -10px;
  width: 100px;
  background: #39434a;
  border: none;
}
.langMenu.dropdown-menu:hover {
  background: #39434a;
}
.langMenu.dropdown-menu button {
  color: #fff;
  text-align: center;
  height: 42px;
  border-bottom: 1px solid silver;
}
.langMenu.dropdown-menu button:hover {
  background: #39434a;
}
.langMenu:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: -13px;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 13px 8px;
  border-color: transparent transparent #39434a transparent;
}
.langMenu .menuItem:last-child button {
  border: none;
}
.currentLang {
  color: #0f9d58;
  font-size: 15px;
}
.currentLang:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #39434a transparent transparent transparent;
  margin-left: 6px;
  /*rtl*/
}
/*#endregion */
nav,
main {
  margin: 0 auto;
  width: 940px;
}
nav {
  height: 100px;
  margin: 0 auto;
  width: 840px;
  padding-top: 35px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav ul {
  text-align: justify;
}
nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
nav.showProducts .categoryDD {
  display: block;
}
.navLinks li {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}
.navLinks li:hover,
.navLinks li.current {
  color: #0f9d58;
}
.navLinks li:hover button,
.navLinks li.current button {
  color: #0f9d58;
}
.navLinks button {
  font-weight: bold;
}
/*#region main */
main {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 30px;
}
/*#endregion */
/*#region widget */
.widget {
  width: 100%;
  height: 120px;
  border: 1px solid #39434a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget .lFloat,
.widget h2 {
  display: none;
}
.widget:before {
  content: '';
  display: inline-block;
  width: 400px;
  height: 100%;
  background: url(http://lorempixel.com/400/118/food) no-repeat;
}
.widget button {
  padding: 14px;
  border: 2px solid #8AC43E;
  font-size: 20px;
  color: #8AC43E;
  margin: -90px 30px 0 0;
  /*rtl*/
}
.widget.big {
  height: 390px;
}
.widget.big:before {
  background: url(http://lorempixel.com/400/250/food) no-repeat;
  height: 250px;
}
.widget.big .widgetWpr {
  width: 400px;
}
.widget.big .lFloat,
.widget.big h2 {
  display: block;
}
.widget.big .lFloat {
  text-align: center;
  margin-top: 5px;
  padding: 0 10px;
}
.widget.big h2 {
  font-size: 18px;
  padding: 10px 0 0 35px;
  /*rtl*/
  overflow: auto;
}
.widget.big button {
  margin: 10px 8px 0 0;
  /*rtl*/
}
/*#endregion */
/*#region search form */
.searchForm {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid #39434a;
  margin: 30px 0 40px;
  height: 90px;
  position: relative;
  font-size: 0;
}
.searchForm.showResults ~ .productsList {
  display: none;
}
.searchForm.showResults ~ .productsList.searchResultsList {
  display: block;
}
.inputSearch {
  width: 770px;
  height: 100%;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
}
.searchProducts {
  width: 150px;
  height: 100%;
  color: #fff;
  background: #0f9d58;
  font-size: 21px;
}
/*#endregion */
/*#region products drop down */
.categoryDD {
  display: none;
  width: 940px;
  height: 390px;
  position: absolute;
  top: 80px;
  left: -50px;
  /*rtl*/
  background: #39434a;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}
.categoryDD:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 19px 18px 19px;
  border-color: transparent transparent #39434a transparent;
  position: absolute;
  top: -18px;
  left: 240px;
  /*rtl*/
}
.categoryList ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  -webkit-transition: height 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: height 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: height 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  left: 0;
  /*rtl*/
  top: 174px;
  height: 0;
  background: #fff;
  color: #39434a;
  z-index: 1;
  overflow: hidden;
  height: 196px;
  width: 151px;
  margin-left: -1px;
  /*rtl*/
  padding: 8px 0 0 12px;
  /*rtl*/
}
.categoryList ul:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #39434a transparent transparent transparent;
  border-width: 13px 15px 0 15px;
  top: 0;
}
.categoryList ul li:hover {
  color: #0f9d58;
}
.categoryList > li {
  width: 150px;
  height: 175px;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  /*rtl*/
  padding: 10px 0 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: silver;
  position: relative;
  vertical-align: top;
}
.categoryList > li:hover ul {
  visibility: visible;
}
.categoryList > li:hover li {
  margin: 8px 0;
}
.categoryList > li:before {
  content: '';
  display: inline-block;
  width: 108px;
  height: 106px;
  margin: 12px 0;
  background: url(/Images/category.png) 0 0 no-repeat;
  opacity: .7;
}
.categoryList > li:nth-child(6n + 1) ul {
  width: 172px;
  margin-left: -20px;
  /*rtl*/
}
.categoryList > li:nth-child(6n) {
  border-right: none;
  /*rtl*/
}
.categoryList > li:nth-child(6n) ul {
  width: 172px;
  margin-right: -20px;
  /*rtl*/
}
.categoryList > li:nth-child(n + 7) {
  border-bottom: none;
}
.categoryList > li:nth-child(n + 7) ul {
  top: auto;
  bottom: 100%;
}
.categoryList > li:nth-child(n + 7) ul:after {
  border-width: 0 15px 13px 15px;
  border-color: transparent transparent #39434a transparent;
  bottom: 0;
  top: auto;
}
.categoryList > li.spr-chair:before {
  background-position: 0 -106px;
}
.categoryList > li.spr-computer:before {
  background-position: 0 -212px;
}
.categoryList > li.spr-covers:before {
  background-position: 0 -318px;
}
.categoryList > li.spr-dic:before {
  background-position: 0 -424px;
}
.categoryList > li.spr-eco:before {
  background-position: 0 -530px;
}
.categoryList > li.spr-house:before {
  background-position: 0 -636px;
}
.categoryList > li.spr-smartphone:before {
  background-position: 0 -742px;
}
.categoryList > li.spr-tv:before {
  background-position: 0 -848px;
}
.categoryList > li.spr-printers:before {
  background-position: 0 -954px;
}
.categoryList > li.spr-martini:before {
  background-position: 0 -1060px;
}
.categoryList > li.spr-cal:before {
  background-position: 0 -1166px;
}
/*#endregion */
/*#region product list with hover */
.productsList {
  font-size: 18px;
}
.productsList li {
  position: relative;
  width: 300px;
  height: 348px;
  display: inline-block;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #0f9d58;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}
.productsList li:nth-child(3n + 2) {
  margin: 0 20px 30px 20px;
}
.productsList li:hover .desc {
  z-index: 1;
  position: relative;
  color: orange;
  top: -167px;
  left: 0;
  /*rtl*/
}
.productsList li:hover .hover {
  display: table;
}
.productsList a {
  display: block;
  width: 100%;
  height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.productsList a:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.productsList img {
  max-width: 100%;
  max-height: 185px;
  display: inline-block;
  vertical-align: middle;
}
.productsList .desc {
  font-size: 22px;
  padding: 0 18px;
  text-align: left;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productsList .desc + .lFloat {
  color: #0f9d58;
  border-right: 1px solid #39434a;
  /*rtl*/
}
.productsList table {
  width: 100%;
  font-size: 18px;
  table-layout: fixed;
  padding: 15px 18px 0 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  /*rtl*/
}
.productsList table:before {
  content: '';
  display: inline-block;
  width: 265px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 16px;
  /*rtl*/
  background: #999;
}
.productsList tr:nth-child(1) td {
  color: #999;
}
.productsList tr:nth-child(3) td {
  color: #0f9d58;
}
.hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*rtl*/
  background: #39434a;
  color: #fff;
  padding: 85px 20px 10px 20px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hover p {
  margin-bottom: 15px;
}
.hover a {
  width: 100%;
  height: 50px;
  display: inline-block;
  background: #fff;
  font-size: 30px;
  color: #39434a;
  border: none;
  border-radius: 5px;
  padding-top: 3px;
}
.hover .lFloat {
  display: block;
  text-align: center;
  padding: 12px 0;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 25px;
  margin: -5px 0 15px;
}
.hover .sale {
  color: #0f9d58;
  border-left: 1px solid #0f9d58;
  /*rtl*/
}
.moreDetailsWpr {
  display: table-footer-group;
}
.searchResultsList {
  display: none;
}
/*#endregion */
/*#region product popup */
.productWpr {
  display: table;
  table-layout: fixed;
  margin-top: 55px;
  width: 940px;
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productWpr .left,
.productWpr .right {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding-bottom: 30px;
}
.right {
  padding-left: 15px;
  /*rtl*/
}
.right h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 8px 0 20px;
}
.right img {
  height: auto !important;
  border: 1px solid #0f9d58;
  border-radius: 5px;
  margin-bottom: 15px;
}
.pDesc {
  display: table-row;
}
.pNameWpr {
  padding: 14px 10px;
  background: #f6f6f6;
  border-radius: 5px;
}
.left {
  text-align: center;
  position: relative;
  padding-right: 15px;
  /*rtl*/
}
.productInfoWpr {
  border: 1px solid #0371c8;
  border-radius: 5px;
  padding: 20px;
  width: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.productInfoWpr .btn3 {
  font-size: 32px;
  padding: 6px 0;
  margin: 30px 0;
  display: block;
}
.productPrice {
  width: 100%;
  font-size: 22px;
  text-align: left;
  /*rtl*/
  border-collapse: collapse;
}
.productPrice:before {
  width: 265px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: 16px;
  /*rtl*/
  background: #999;
}
.productPrice td {
  padding: 6px 0;
  margin: 0;
}
.productPrice td:nth-child(2) {
  text-align: right;
  /*rtl*/
}
.productPrice tr:nth-child(1) td {
  color: #0f9d58;
}
.productPrice tr:nth-child(3) td {
  border-top: 1px solid #999;
  padding-top: 15px;
}
.productDetails {
  background: #DBEBF7;
  table-layout: fixed;
  padding: 10px 18px;
  text-align: left;
  /*rtl*/
  width: 100%;
}
.productDetails td {
  vertical-align: top;
  padding-bottom: 8px;
}
.productDetails td:first-child {
  font-weight: bold;
  padding: 0 30px 8px 0;
  /*rtl*/
}
.productDetails small {
  display: block;
}
.moreProductsList {
  list-style-type: none;
  font-size: 0;
  width: 800px;
  height: 150px;
  overflow: hidden;
  margin: 30px auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /*li:first-child {
        //-moz-animation: carousel 60s linear infinite;
        //-webkit-animation: carousel 60s linear infinite;
        //animation: carousel 60s linear infinite;
        margin-left: -300%;
    }*/
}
.moreProductsList li {
  width: 250px;
  height: 160px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #0f9d58;
  display: inline-block;
  padding: 0 10px;
}
.moreProductsList li:first-child {
  margin-left: -300%;
  /*rtl*/
}
/*ul:before, ul:after {
    content: "<";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 150px;
    display: inline-block;
    background: aqua;
    z-index:1;
    font-size: 24px;
    padding: 65px 3px 0 3px;
    box-sizing: border-box;
}
ul:after {
    content: '>';
    right: 0;
    left: auto
}*/
/*#endregion */
/*#region About Page */
.txt1 {
  font-size: 24px;
  margin-top: 45px;
}
.about {
  line-height: 30px;
  font-size: 15px;
  width: 600px;
  margin-bottom: 200px;
}
.about h2 {
  border-top: 2px solid #0f9d58;
  border-bottom: 1px solid #0f9d58;
  margin-top: 40px;
  font-size: 15px;
}
.about p {
  margin-top: 10px;
}
/*#endregion */
/*#region Contact Us */
/*#endregion */
/*#region Checkout */
.userOrder,
.userDetails {
  width: 940px;
  border: 1px solid #39434a;
  border-radius: 5px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.userOrder h2,
.userDetails h2 {
  font-size: 21px;
  background: #39434a;
  color: #fff;
  padding: 0 30px;
  margin: 0 -20px;
  line-height: 60px;
  vertical-align: middle;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: -1px;
}
.userOrder {
  width: 940px;
  border: 1px solid #39434a;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 30px;
  background: #fff;
  padding: 0 20px;
  font-size: 18px;
}
.orderTable {
  width: 100%;
  border-collapse: collapse;
}
.orderTable .btn3 {
  font-size: 18px;
  width: 230px;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.orderTable .btn1 {
  font-size: 28px;
  display: block;
  width: 100%;
}
.orderTable input,
.orderTable select {
  width: 100%;
  padding: 3px 10px;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.orderTable tr:nth-of-type(2):after,
.orderTable tr:nth-of-type(4):after {
  content: '';
  display: inline-block;
  height: 6px;
  width: 900px;
  background: silver;
  border-radius: 3px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.orderTable tr:nth-of-type(1) td:last-child {
  text-align: center;
}
.orderTable tr:nth-of-type(2) td {
  padding-top: 26px;
  border-bottom: 1px solid silver;
}
.orderTable tr:nth-of-type(5) td {
  padding-top: 0;
  vertical-align: middle;
}
.orderTable tr:nth-of-type(5) td div {
  border-bottom: 1px solid silver;
  line-height: 45px;
}
.orderTable tr:nth-of-type(5) td div:first-child {
  margin-top: -30px;
}
.orderTable tr:nth-of-type(5) td div:last-of-type {
  border: none;
  color: #0f9d58;
}
.orderTable tr:nth-of-type(5) .rFloat {
  padding-right: 35px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.orderTable th {
  color: #0f9d58;
  font-weight: bold;
  border-bottom: 1px solid silver;
}
.orderTable th:last-child {
  text-align: center;
}
.orderTable td,
.orderTable th {
  text-align: left;
  /*rtl*/
  padding: 20px 0;
}
.orderTable td:first-child,
.orderTable th:first-child {
  width: 215px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 25px;
  /*rtl*/
  text-align: center;
}
.orderTable td:nth-child(2),
.orderTable th:nth-child(2) {
  width: 350px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;
  /*rtl*/
}
.orderTable td:nth-child(3),
.orderTable th:nth-child(3) {
  width: 335px;
}
.orderTable td {
  margin: 30px 0;
}
.pName {
  font-size: 21px;
}
.userDetails {
  font-size: 15px;
  padding: 60px 75px;
  margin-top: 50px;
  overflow: hidden;
}
.userDetails h2 {
  margin: -60px -75px 0;
}
.userDetails > .lFloat,
.userDetails > .rFloat {
  width: 360px;
  margin-top: 25px;
}
.userDetails > .lFloat {
  clear: both;
}
.userDetails > .lFloat.wideInput {
  width: 100%;
}
.userDetails .inputText {
  display: block;
  margin-top: 5px;
  width: 100%;
}
.userDetails textarea {
  min-height: 94px;
}
.userDetails .btn1 {
  font-size: 24px;
  padding: 0 70px;
  height: 60px;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.userDetails .detailsTxt {
  margin-top: 30px;
}
.userDetails .secureTxt {
  font-size: 24px;
  width: auto;
  margin-top: 42px;
}
/*#endregion */
/*#region footer */
footer {
  background: #0f9d58;
}
footer > .wpr {
  text-align: justify;
  padding: 35px 42px;
}
footer > .wpr > div {
  display: inline-block;
  vertical-align: top;
  height: 210px;
}
footer > .wpr:after {
  content: '';
  display: inline-block;
  width: 100%;
}
footer > .wpr ul {
  margin-bottom: 20px;
  line-height: 23px;
  font-size: 15px;
}
footer h3,
footer a {
  color: #fff;
}
footer h3 {
  margin-bottom: 5px;
}
footer .bottom {
  height: 70px;
}
.wpr {
  width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom {
  background: #39434a;
  height: 70px;
  color: #fff;
}
.bottom .wpr {
  position: relative;
}
.bottom ul {
  padding-left: 212px;
  /*rtl*/
}
.bottom li,
.bottom a {
  display: inline-block;
}
.bottom a {
  padding: 30px 40px 0 40px;
}
.social {
  margin-top: 14px;
}
.social button {
  width: 42px;
  height: 42px;
  background: url(/Images/Store/social.png) no-repeat;
}
.social button:nth-child(2) {
  margin: 0 20px;
}
.social .fb {
  background-position: 0 0;
  opacity: .5;
}
.social .fb:hover {
  background-position: 0 -42px;
  opacity: 1;
}
.social .twtr {
  background-position: 0 -84px;
  opacity: .5;
}
.social .twtr:hover {
  background-position: 0 -126px;
  opacity: 1;
}
.social .ytube {
  background-position: 0 -168px;
  opacity: .5;
}
.social .ytube:hover {
  background-position: 0 -210px;
  opacity: 1;
}
/*#endregion */
