@import "varsAndMixins";

@wpr-padding: 42px;
@shopping-black: #39434A;
body {
    min-width: 1024px;
    color: @shopping-black;
    background: #f6f6f6;
}
/*#region header */
header {
    height: 75px;
    background: @color;
    padding: 0 ~'calc(50% - 470px)';
    color: #fff;
    h1 {
        padding: 20px 0 0 225px; /*rtl*/
        font-size: 16px;
        width: 215px;
        position: relative;
    }
    .rFloat {
        padding-top: 30px;
    }
}
.logo:before {
    .pseudo;
    display: inline-block;
    width: 210px;
    height: 40px;
    background: url(/Images/Store/social.png) 0 -252px no-repeat;
    position: absolute;
    left:0; /*rtl*/
    top: 20px;
}
.login, .signup {
    color: #fff;
    font-size: 18px;
}

.language {
    display: inline-block;
    margin-left: 20px; /*rtl*/
    color: #fff;
    background: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    
    a {
        padding: 0 6px;
        font-size: 15px;
        display: inline;
    }
}
.langMenu {
    padding: 6px;
    .boxSizing;
    &.dropdown-menu {
        top: 42px;
        left: -10px;
        width: 100px;
        background: @txtColor;
        border: none; //override

        &:hover {
            background: @txtColor; //override
        }
        button {
            color: #fff;
            text-align: center;
            height: 42px;
            border-bottom: 1px solid silver;
            &:hover {
                background: @txtColor; //override - check with Shlomi
            }
        }
    }
    
    &:before {
        .pseudo;
        position: absolute;
        left:0;right:0;
        top: -13px;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 13px 8px;
        border-color: transparent transparent @txtColor transparent;
    }
    .menuItem {
        &:last-child button {
            border: none;
        }
    }
}
.currentLang {
    color: @color;
    font-size: 15px;
    &:after {
        .pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: @txtColor transparent transparent transparent;
        margin-left: 6px; /*rtl*/

    }
}
/*#endregion */
nav, main {
    margin: 0 auto;
    width: 940px;
    
}
nav {
    height: 100px;
    margin: 0 auto;
    width: 840px;
    padding-top: 35px;
    position: relative;
    .boxSizing;
    ul {
        text-align: justify;
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    &.showProducts {
        .categoryDD {
            display: block;
        }
    }      
}
.navLinks {
    li {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        &:hover, &.current {
            color: @color;
            button {
                color: @color;
            }
        }
    }
    button {
        font-weight: bold;
    }
}
/*#region main */
main {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/*#endregion */

/*#region widget */
.widget {
    width: 100%;
    height: 120px;
    border: 1px solid @shopping-black;
    .boxSizing;
    .lFloat, h2 {
        display: none;
    }
    &:before {
        .pseudo;
        width: 400px;
        height: 100%;
        background: url(http://lorempixel.com/400/118/food) no-repeat;
    }
    button {
        padding: 14px;
        border: 2px solid #8AC43E;
        font-size: 20px;
        color: #8AC43E;
        margin: -90px 30px 0 0; /*rtl*/
    }
    &.big {
        height: 390px;
        &:before {
            background: url(http://lorempixel.com/400/250/food) no-repeat;
            height: 250px;
        }
        .widgetWpr {
            width: 400px;
        }
        .lFloat, h2 {
            display: block;
        }
        .lFloat {
            text-align: center;
            margin-top: 5px;
            padding: 0 10px;
        }
        h2 {
            font-size: 18px;
            padding: 10px 0 0 35px; /*rtl*/
            overflow: auto;
        }
        button {
            margin: 10px 8px 0 0;  /*rtl*/ //override
        }
    }
}
/*#endregion */

/*#region search form */

.searchForm {
    width: 100%;
    .boxSizing;
    border: 10px solid @shopping-black;
    margin: 30px 0 40px;
    height: 90px;
    position: relative;
    font-size: 0;
    &.showResults {
        ~ .productsList {
            display: none;
            &.searchResultsList {
                display: block;
            }
        }
    }
}

.inputSearch {
    width: 770px;
    height: 100%;
    padding: 0 8px;
    .boxSizing;
    font-size: 21px;
}
.searchProducts {
    width: 150px;
    height: 100%;
    color: #fff;
    background: @color;
    font-size: 21px;
}
/*#endregion */

/*#region products drop down */
.categoryDD {
    display: none;
    width: 940px;
    height: 390px;
    position: absolute;
    top: 80px;
    left: -50px; /*rtl*/
    background: @shopping-black;
    padding: 20px;
    .boxSizing;
    z-index:2;
    &:before {
        .pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 19px 18px 19px;
        border-color: transparent transparent @shopping-black transparent;
        position: absolute;
        top: -18px;
        left: 240px; /*rtl*/
    }
}
.categoryList {
    ul {
        .boxSizing;
        visibility: hidden;
        position: absolute;
        .transition(height 0.3s cubic-bezier(0.7,0,0.3,1));
        left: 0; /*rtl*/
        top: 174px;
        height:0;
        background: #fff;
        color: @shopping-black;
        z-index: 1;
        overflow: hidden;
        height: 196px;
        width: 151px;
        margin-left: -1px; /*rtl*/
        padding: 8px 0 0 12px; /*rtl*/

        &:after {
            .pseudo;
            position: absolute;
            left: 0;right:0;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: @shopping-black transparent transparent transparent;
            border-width: 13px 15px 0 15px;
            top:0;
        }
        li {
            &:hover {
                color: @color;
            }
        }
    }
    > li {
        width: 150px;
        height: 175px;
        text-align: center;
        display: inline-block;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff; /*rtl*/
        padding: 10px 0 30px 0;
        .boxSizing;
        color: silver;
        position: relative;
        vertical-align: top;
        &:hover {
            ul {
                visibility: visible;
            }
            li {
                margin: 8px 0;
            }

        }
        &:before {
            .pseudo;
            width: 108px;
	        height: 106px;
            margin: 12px 0;
            background: url(/Images/category.png) 0 0 no-repeat;
            opacity: .7;
        }
        &:nth-child(6n + 1) {
            ul {
                width: 172px;
                margin-left: -20px; /*rtl*/
            }
        }
        &:nth-child(6n) {
            border-right: none; /*rtl*/
            ul {
                width: 172px;
                margin-right: -20px; /*rtl*/
            }
        }
        &:nth-child(n + 7) {
            border-bottom: none;           
            ul {
                top: auto;
                bottom: 100%;
                &:after {
                    border-width: 0 15px 13px 15px;
                    border-color: transparent transparent @shopping-black transparent;
                    bottom: 0;
                    top: auto;
                }
            }         
        }
                
        &.spr-ball:before {
            
        }
        &.spr-chair:before {
	        background-position: 0 -106px;
        }
        &.spr-computer:before {
	        background-position: 0 -212px;
        }
        &.spr-covers:before {
	        background-position: 0 -318px;
        }
        &.spr-dic:before {
	        background-position: 0 -424px;
        }
        &.spr-eco:before {
	        background-position: 0 -530px;
        }
        &.spr-house:before {
	        background-position: 0 -636px;
        }
        &.spr-smartphone:before {
	        background-position: 0 -742px;
        }
        &.spr-tv:before {
	        background-position: 0 -848px;
        }
        &.spr-printers:before {
	        background-position: 0 -954px;
        }
        &.spr-martini:before {
	        background-position: 0 -1060px;
        }
        &.spr-cal:before {
	        background-position: 0 -1166px;
        }
    }
}
/*#endregion */

/*#region product list with hover */
.placeholder {
    width: 460px;
    height: 120px;
    position: absolute;
    top: 377px;
    border: 1px solid @txtColor;
    left:0;
    + .placeholder {
        right:0;
    }
}
.productsListWpr {
    position: relative;
}
.productsList {
    font-size:18px;
    
    li {
        position: relative;
        width: 300px;
        height: 348px;
        display: inline-block;
        background: #fff;
        margin-bottom: 30px;
        border: 1px solid @color;
        .boxSizing;
        text-align: center;
        vertical-align:top;
        overflow: hidden;
        &:nth-child(3) {
            margin-bottom: 180px;
        }
        &:nth-child(3n + 2) {
            margin: 0 20px 30px 20px;
        }
        &:hover {
            .desc {
                z-index: 1;
                position: relative;
                color: orange;
                top: -167px;
                left: 0; /*rtl*/
            }
            .hover {
                //display: inline-block;
                //.animation(fadein);

                //display: table;
                top:0;
                opacity: 1;
            }
        }
    }
    
    a {
        display: block;
        
        width: 100%;
        height: 180px;
        .boxSizing;
        
        margin-bottom: 8px;
        &:before {
            .pseudo;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
    }
    img {
        max-width: 100%;
        //max-height: 100%;
        max-height: 185px;
        display: inline-block;
        vertical-align: middle;
    }
    .desc {
        .transition(all 0.01s .218s ease-out);
       font-size: 22px;
       padding: 0 18px;
       text-align: left; /*rtl*/
       top:0;
       .boxSizing;
        + .lFloat {
            color: @color;
            border-right: 1px solid @shopping-black; /*rtl*/
        } 
    }
    table {
        width: 100%;
        font-size: 18px;
        table-layout: fixed;
        padding: 15px 18px 0 18px;
        .boxSizing;
        position: relative;
        text-align: left; /*rtl*/
        &:before {
            .pseudo;
            width: 265px;
            height: 1px;
            position: absolute;
            top:8px;
            left: 16px; /*rtl*/
            background: #999;
        }
    }

    tr:nth-child(1) td {
        color: #999;
    }
    tr:nth-child(3) td {
        color: @color;
    }
}
.hover {
    //display: none;
    display: table;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    //top:0;
    top: 350px;
    left:0; /*rtl*/
    background: @shopping-black;
    color: #fff;
    padding: 85px 20px 10px 20px;
    font-size: 15px;
    .boxSizing;
    .transition(all 0.218s ease-out);
    //.animation(fadein);
    p {
        margin-bottom: 15px;        
    }
    .moreDetailsWpr {
        width: 100%;
        height: 50px;
        display: inline-block;
        line-height:50px;
        background: #fff;
        font-size: 35px;
        color: @shopping-black;
        border: none;
        border-radius: 5px;
    }
    .lFloat {
        display: block;
        text-align: center;
        padding: 12px 0;
        width: 50%;
        .boxSizing;
        font-size: 22px;
        margin: -5px 0 15px;
    }
    .numSold {

    }
    .sale {
        color: @color;
        border-left: 1px solid @color; /*rtl*/
    }
    .hoverDesc {
        text-align: right;
        height: 115px;
    }
}
.moreDetailsWpr {
    display: table-footer-group;
}
.searchResultsList {
    display: none;
}

/*#endregion */

/*#region product popup */
.productWpr {
    display: table;
    table-layout: fixed;
    //background: #f6f6f6;
    margin-top: 55px;
    width: 940px;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    .boxSizing;
    .left, .right {
        display: table-cell;
        width: 50%;
        vertical-align: top;
        padding-bottom: 30px;
    }
}
.right {
    padding-left: 15px; /*rtl*/
    h3 {
        font-size: 18px;
        font-weight: normal;
        margin: 8px 0 20px;
    }
    img {
        //max-width: 450px;
        height: auto !important;
        border: 1px solid @color;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}
.pDesc {
    display:table-row;
}
.pNameWpr {
    padding: 14px 10px;
    background: #f6f6f6;
    border-radius: 5px;
}
.left {
    text-align: center;
    position: relative;
    padding-right: 15px; /*rtl*/
}
.productInfoWpr {
    border: 1px solid @attentionBlue;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    .boxSizing;

    .btn3 {
        font-size: 32px;
        padding: 6px 0;
        margin: 30px 0;
        display: block;
    }
}
.productPrice {
    width: 100%;
    font-size: 22px;
    text-align: left; /*rtl*/
    border-collapse: collapse;
    &:before {
        //.pseudo;
        width: 265px;
        height: 1px;
        position: absolute;
        top:8px;
        left: 16px; /*rtl*/
        background: #999;
    }
    td {
        padding: 6px 0;
        margin:0;
    }
    td:nth-child(2) {
        text-align: right; /*rtl*/
    }
    tr:nth-child(1) td {
        color: @color;
    }
    tr:nth-child(3) td {
        border-top: 1px solid #999;
        padding-top: 15px;
    }
}
.productDetails {
    background: #DBEBF7;
    table-layout: fixed;
    padding: 10px 18px;
    text-align: left; /*rtl*/
    width: 100%;
    td {
        vertical-align: top;
        padding-bottom: 8px;
        &:first-child {
            font-weight: bold;
            padding: 0 30px 8px 0; /*rtl*/
        }
    }
    small {
        display: block;
    }
}
.moreProductsList {
    list-style-type: none;
    font-size:0;
    width: 800px;
    height: 150px;
    overflow: hidden;
    margin: 30px auto;
    padding: 0 20px;
    .boxSizing;
    position: relative;
    li {
        width: 250px;
        height: 160px;
        .boxSizing;
        border: 1px solid @color;
        &:first-child {
            margin-left: -300%; /*rtl*/
        }
        display: inline-block;
        padding: 0 10px;
    }
    /*li:first-child {
        //-moz-animation: carousel 60s linear infinite;
        //-webkit-animation: carousel 60s linear infinite;
        //animation: carousel 60s linear infinite;
        margin-left: -300%;
    }*/
}

/*ul:before, ul:after {
    content: "<";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 150px;
    display: inline-block;
    background: aqua;
    z-index:1;
    font-size: 24px;
    padding: 65px 3px 0 3px;
    box-sizing: border-box;
}
ul:after {
    content: '>';
    right: 0;
    left: auto
}*/


/*#endregion */

/*#region About Page */
.txt1 {
    font-size: 24px;
    margin-top: 45px;
}
.about {
    line-height: 30px;
    font-size: 15px;
    width: 600px;
    margin-bottom:200px;
    h2 {
        border-top: 2px solid @color;
        border-bottom: 1px solid @color;
        margin-top: 40px; 
        font-size: 15px;
    }
    p {
        margin-top: 10px;
    }
}

/*#endregion */

/*#region Contact Us */
.contact.contact {
    font-size: 18px;
    overflow: hidden;
    .boxSizing;
    background: #fff;
    margin-top: 56px;
    padding: 0 80px 30px;
    h2 {
        font-weight: normal;       
        background: @color;
        line-height: 30px;
        padding: 20px 30px;
        margin: 0 -80px;
        text-align: center;
    }
        > .lFloat, > .rFloat {
        width: 340px;
        margin-top: 25px;
    }
    > .lFloat {
        clear: both;
        &.wideInput {
            width: 100%;
        }
    }
    .inputText {
        display: block;
        margin-top: 5px;
        width: 100%;
    }
    textarea {
        min-height: 190px;
    }
    .btn1 {
        font-size: 24px;
        padding: 0 56px;
        height: 60px; 
        width: auto; //override
        .boxSizing;
    }
}


/*#endregion */

/*#region Checkout */

.userOrder, .userDetails, .contact {
    width: 940px;
    border: 1px solid @txtColor;
    border-radius: 5px;
    background: #fff;
    .boxSizing;
    h2 {
        font-size: 21px;
        background: @txtColor;
        color: #fff;
        padding: 0 30px;
        margin: 0 -20px;
        line-height: 60px;
        vertical-align: middle;
        border-radius: 5px 5px 0 0;
        position: relative;
        top: -1px;
    }
}

.userOrder {
    width: 940px;
    border: 1px solid @txtColor;
    border-radius: 5px;
    .boxSizing;
    padding-bottom: 30px;
    background: #fff;
    padding: 0 20px;
    font-size: 18px;
}
.orderTable {
    width: 100%;
    border-collapse: collapse;
    .btn3 {
        font-size: 18px;
        width: 230px;
        height: 38px;
        .boxSizing;
    }
    .btn1 {
        font-size: 28px;
        display: block;
        width: 100%;
    }
    input,  select {
        width: 100%;
        padding: 3px 10px;
        height: 38px;
        .boxSizing;
    }
    tr {
        &:nth-of-type(2), &:nth-of-type(4) {
            &:after {
                .pseudo;
                height: 6px;
                width: 900px;
                background: silver;
                border-radius: 3px;
                position: absolute;
                right: 0;left: 0;
                margin: auto;
            } 
        }
        &:nth-of-type(1) {
            td:last-child {
                text-align: center;
            }
        }  
        &:nth-of-type(2) {
            td {
                padding-top: 26px; // take into account the absolute hr
                border-bottom: 1px solid silver;
            }
        } 
        &:nth-of-type(5) {
            td {
                padding-top: 0;
                vertical-align: middle;
                div {
                    border-bottom: 1px solid silver;
                    line-height: 45px;
                    &:first-child {
                        margin-top: -30px;
                    }
                    &:last-of-type {
                        border: none;
                        color: @color;
                    }
                }
            }
            .rFloat {
                padding-right: 35px; /*rtl*/
                .boxSizing;
            }
        }     
    }
    th {
        //font-size: 18px;
        color: @color;
        font-weight: bold;
        border-bottom: 1px solid silver;
        &:last-child {
            text-align: center;
        }
    }
    
    td, th {
        text-align: left; /*rtl*/
        padding: 20px 0;
        &:first-child {
            width: 215px;
            .boxSizing;
            padding-right: 25px; /*rtl*/
            text-align: center;
            //background: pink;
        }
        &:nth-child(2) {
            width: 350px;
            .boxSizing;
            padding-right: 60px; /*rtl*/
            //background: aqua;
        }
        &:nth-child(3) {
            width: 335px;
            //background: yellow;
        }
    }
    td {
        margin: 30px 0;
    }
}
.pName {
    font-size: 21px;
}



.userDetails {
    font-size: 15px;
    padding: 60px 75px;
    margin-top: 50px; //TEMP!!!!!
    overflow: hidden;
    h2 {
        margin: -60px -75px 0;
    }
    > .lFloat, > .rFloat {
        width: 360px;
        margin-top: 25px;
    }
    > .lFloat {
        clear: both;
        &.wideInput {
            width: 100%;
        }
    }
    .inputText {
        display: block;
        margin-top: 5px;
        width: 100%;
    }
    textarea {
        min-height: 94px;
        //padding: 10px;
        //.boxSizing;
    }
    .btn1 {
        font-size: 24px;
        padding: 0 70px;
        height: 60px; 
        width: auto; //override
        .boxSizing;
    }
    .detailsTxt {
        margin-top: 30px;
    }
    .secureTxt {
        font-size: 24px;
        width: auto; //override
        margin-top: 42px;
    }
}

.secureCode {
    position: relative;
    .rFloat {
        &:hover {
            ~ .cardHover {
                display: block;
            }
        }
    }
}
.cardHover {
    width: 270px;
    height: 220px;
    color: #fff;
    background: @color;
    border-radius: 10px;
    font-size: 15px;
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0; /*rtl*/
    margin-bottom: 20px;
    white-space: pre-wrap;
    &:before {
        .pseudo;
        position: absolute;
        top: 40px;
        width: 272px;
        height: 179px;
        margin: auto;
        left:0;right:0;
        background: url(/Images/Store/cardback.png);
    }
    &:after {
        .pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 8.5px 0 8.5px;
        border-color: @color transparent transparent transparent;
        position: absolute;
        bottom: -15px;
        right: 20px; /*rtl*/
    }

}
/*#endregion */

/*#region footer */

footer {
    background: @color;
    > .wpr {
        text-align: justify; 
        padding: 35px @wpr-padding;
        > div {
            display: inline-block;
            vertical-align: top;
            height: 210px;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
        ul {
            margin-bottom: 20px;
            line-height: 23px;
            font-size: 15px;
        }
    }
    
    h3, a {
        color: #fff;
    }
    h3 {
        margin-bottom: 5px;
    }
    .bottom {
        height: 70px;
    }
}
.wpr {
    width: 1024px;
    margin: 0 auto;
    padding: 0 @wpr-padding;
    .boxSizing;
}
.bottom {
    background: @shopping-black;
    height: 70px;
    color: #fff;
    .wpr {
        position: relative;
    }
    ul {
        padding-left: 212px; /*rtl*/
    }
    li, a {
        display: inline-block;
    }
    a {
        padding: 30px 40px 0 40px;

    }
}
.social {
    margin-top: 14px;
    button {
        width: 42px;
        height: 42px;
        background: url(/Images/Store/social.png) no-repeat;
        &:nth-child(2) {
            margin: 0 20px;
        }
    }
    .fb {
        background-position: 0 0;
        opacity: .5;
        &:hover {
            background-position: 0 -42px;
            opacity: 1;
        }
    }
    .twtr {
        background-position: 0 -84px;
        opacity: .5;
        &:hover {
            background-position: 0 -126px;
            opacity: 1;
        }
    }
    .ytube {
        background-position: 0 -168px;
        opacity: .5;
        &:hover {
            background-position: 0 -210px;
            opacity: 1;
        }
    }
}

/*#endregion */