/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region dropdown */
.topbar {
  height: 44px;
  border-bottom: 1px solid #b8a68e;
  box-shadow: 0 2px 2px rgba(116, 82, 35, 0.5);
  background: #f5f5f5;
}
.title {
  margin: 24px 0;
}
.page {
  display: none;
}
/*#region drag-drop*/
.draggable {
  border: 1px solid #0f9d58;
  color: #111;
  background-color: #fcf0ec;
  background-color: rgba(252, 240, 236, 0.75);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 6px 4px 6px 15px;
  /*no rtl*/
  z-index: 6;
}
.drop {
  color: #fff;
  border-radius: 3px;
  background: #0f9d58;
  padding: 2px 4px;
  display: none;
  position: relative;
  right: 8px;
  /*rtl*/
  font-size: 17px;
  vertical-align: top;
}
.dropHover {
  color: #0f9d58;
}
/*#endregion*/
.plupload.html5 {
  top: -500px;
}
/*#endregion */
