@import "varsAndMixins";
/*#region Static.css */
/*#region headeractions and menu */
.sideBar {
    left: -200px; /*rtl*/
    right: auto;
    text-align: right; /*rtl*/

    > button {
        left: 12px; /*rtl*/
        right: auto;
    }

    li {
        float: right; /*rtl*/
    }
}
.headerActions
{
    &.menuOpen
    {
        margin: 0 0 0 200px; /*rtl */
        .sideBar{
            left:0; /*rtl*/
            right: auto;
        }
    }
    .signUp
    {
        //float: right; /*rtl*/ //override rFloat on the signUp class in static pages
    }
}

.headerWpr{
    &.menuOpen {
        .headerActions
        {
            margin: 0 0 0 200px; /*rtl*/
        }
        
        .sideBar {
            left: 0; /*rtl*/
            right: auto;
        }
    }
}

.headerSettings
{
    margin: 0 8px 0 12px; /*rtl*/
}

/*#endregion */

/*#region forgot password; email sent; verify password */
.inputText {
    padding: 0 8px 0 4px; /* rtl */
}

.innerContent
{
    text-align: right; /*rtl*/  
}
/*#endregion */

/*#region unsupported page */
.firefox
{
    padding: 0 30px 0 40px; /*rtl*/
}
/*#endregion */

/*#region connect and register pages */

.fbImg
{
    right: 16px; /*rtl*/
    left: auto;
    &:after
    {
        right: 24px; /*rtl*/
        left: auto;
    }   
}
.connect, .create
{
    text-align: right; /*rtl*/
}
.facebook
{
    padding: 9px 55px 5px 15px; /*rtl*/
    text-align: right; /*rtl*/
}
.signIn, .register
{
    text-align: right; /*rtl*/
}

.acceptTerms {
    text-align: right; /*rtl*/
}

/*#endregion */

/*#region library empty state */
.libEmpty {
    text-align: right; /*rtl*/  
}
.uniWpr .inputText 
{
    padding: 0 25px 0 0; /*rtl*/
}

.sCountry
{
    &:after
    {
        margin: 0 5px 0 0; /*rtl*/
    }
}
/*#endregion */

/*#region AUTO COMPLETE */
.uniWpr
{
    &:before
    {
        right: 6px; /*rtl*/
        left: auto;
        .flipH(1); /*rtl*/
    }
}

.uniList {
    text-align: right; /*rtl*/
    padding: 13px 8px 13px 0; /*rtl*/
    
}

.uniDetails {
    padding: 6px 8px 0 5px; /*rtl*/
}

.uniCount {
    &:before {
        margin: 0 0 0 4px; /*rtl*/
    }
}
.newUni {
    .uniImg:before {
        margin: 0 8px 0 0; /*rtl*/
    }
}
/*#endregion */

/*#region popup */

.popupForm
{
    .field-validation-error, .validation-summary-errors 
    {
        margin: 0 15px 0 0; /*rtl*/
    }
}

.popupWrppr
{
    .cancel
	{
        margin: 18px 10px 0 0; /*rtl*/
	}

    .closeDialog
    {
        left: 20px; /*rtl*/
        right: auto;
    }
    .btn1, .btn2
    {
        //float: left; /*rtl*/
    }

    &.enterCode
    {       
        form, .noCode{
            padding: 0 9px 25px 19px; /*rtl*/
        }
        .noCode
        {
            padding: 0 9px 25px 0; /*rtl*/
        }
        .btn1
        {
            margin: 0 8px 0 0; /*rtl*/
        }
    }
    &.addSchool
    {
        text-align: right; /*rtl*/
        .country
        {
            margin: 0 0 0 13px; /*rtl*/
        }
    }
}

.requestSentDiv
{
    padding: 0 18px 0 0; /*rtl*/ // override poppwrrpr
}

/*#endregion */
/*#region faq */
.faq{
    aside{
        margin: 59px 15px 0 0; /*rtl*/
        padding: 17px 69px 0 8px; /*rtl*/
        &:before
        {
            right: 8px; /*rtl*/
            left: auto;
        }
    }
    &.staticPage
    {
        text-align: right; /*rtl*/
    }
}

.question{
    padding: 0 16px 0 18px; /*rtl*/
    &:after
    {
        left: 18px; /*rtl*/
        right: auto;
    }
}
.answer{
    padding: 0 16px 0 18px; /*rtl*/
}
/*#endregion */