/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region Static.css */
/*#region headeractions and menu */
.sideBar {
  left: -200px;
  right: auto;
  text-align: right;
}
.sideBar li {
  float: right;
}
/*#endregion */
/*#region forgot password; email sent; verify password */
.inputText {
  padding: 0 8px 0 4px;
  /* rtl */
}
.innerContent {
  text-align: right;
}
/*#endregion */
/*#region unsupported page */
.firefox {
  padding: 0 30px 0 40px;
}
/*#endregion */
/*#region faq */
.faq aside {
  margin: 55px 15px 0 0;
  padding: 17px 69px 0 8px;
}
.faq aside:before {
  right: 8px;
  left: auto;
}
.faq.staticPage {
  text-align: right;
}
.question {
  padding: 0 16px 0 18px;
}
.question:after {
  left: 18px;
  right: auto;
}
.answer {
  padding: 0 16px 0 18px;
}
/*#endregion */
/*#region  static popup */
.desktop .firstName + .field-validation-error {
  margin: 13px 4% 0 0;
}
