/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
/*#region Static.css */
/*#region headeractions and menu */
.sideBar {
  left: -200px;
  /*rtl*/
  right: auto;
  text-align: right;
  /*rtl*/
}
.sideBar > button {
  left: 12px;
  /*rtl*/
  right: auto;
}
.sideBar li {
  float: right;
  /*rtl*/
}
.headerActions.menuOpen {
  margin: 0 0 0 200px;
  /*rtl */
}
.headerActions.menuOpen .sideBar {
  left: 0;
  /*rtl*/
  right: auto;
}
.headerWpr.menuOpen .headerActions {
  margin: 0 0 0 200px;
  /*rtl*/
}
.headerWpr.menuOpen .sideBar {
  left: 0;
  /*rtl*/
  right: auto;
}
.headerSettings {
  margin: 0 8px 0 12px;
  /*rtl*/
}
/*#endregion */
/*#region forgot password; email sent; verify password */
.inputText {
  padding: 0 8px 0 4px;
  /* rtl */
}
.innerContent {
  text-align: right;
  /*rtl*/
}
/*#endregion */
/*#region unsupported page */
.firefox {
  padding: 0 30px 0 40px;
  /*rtl*/
}
/*#endregion */
/*#region faq */
.faq aside {
  margin: 6px 15px 0 0;
  /* diff rtl*/
  padding: 17px 69px 0 8px;
  /*rtl*/
}
.faq aside:before {
  right: 8px;
  /*rtl*/
  left: auto;
}
.faq.staticPage {
  text-align: right;
  /*rtl*/
}
.question {
  padding: 0 16px 0 18px;
  /*rtl*/
}
.question:after {
  left: 18px;
  /*rtl*/
  right: auto;
}
.answer {
  padding: 0 16px 0 18px;
  /*rtl*/
}
/*#endregion */
