@import "varsAndMixins";

/*#region sticky footer */
html {
    height: 100%;
}

body {
    margin: 0;
    background: #fafafa;
    height: 100%;
    color: @textColor;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: @color;
}

.wrap {
    min-height: 100%; //sticky footer
    min-height: ~"-webkit-calc(100% + 50px)";
    min-height: ~"calc(100% + 50px)";
    .boxSizing;
    margin: -@header-height 0 -@footer-height;
    padding: @header-height 0 @footer-height;
}

.staticContent {
    margin: 115px auto 0;
    //overflow:auto; //sticky footer
    padding-bottom: @footer-height; //sticky footer
    text-align: center; //needed especially for error page
}

footer {
    position: relative; //sticky footer
    margin-top: -@footer-height - 2px; //sticky footer
    height: @footer-height; //sticky footer
    clear: both; //sticky footer
    line-height: 23px;
}

/*#endregion */

/*#region headeractions and menu */
/*#region side menu */
.sideBar {
    background: #39434a;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -200px; /*rtl*/
    width: 200px;
    height: 100%;
    padding: 17px 12px 16px 12px;
    .transition(all, .5s);
    text-align: left; /*rtl*/
    font-size: 14px;
    color: #fff;
    .boxSizing;

    > button {
        position: absolute;
        top: 19px;
        right: 12px; /*rtl*/
        width: 10px;
        height: 10px;
        background: @common-sprite -68px -15px no-repeat;
    }

    li {
        line-height: 15px;
        display: inline-block;
        float: left; /*rtl*/
        clear: both;
        opacity: 0.35;
        cursor:pointer;
        margin-bottom: 10px;

        &:hover {
            opacity: 1;
        }

        &.currentItem {
            opacity: 1;
        }
    }

    .last {
        margin-bottom: 30px;
    }
}


/*#endregion */

.headerActions {
    line-height: 50px;
    height: 50px;
    .transition(all, .5s);
    vertical-align: top;
    //display: block;
    .btn {
        &:first-child {
            background: #fff;
            color: @color;
        }

        display: inline-block;
        margin: 0 4px;
        font-size: 14px;
        min-width: 78px;
        height: 25px;
        line-height: 25px;
        background: #178b55;
        color: #fff;
        border-radius: 5px;
        padding: 0 20px;
        .boxSizing;

        &:hover {
            background: #168350;

            &:first-child {
                background: #e1fff0;
            }
        }
    }


    .signUp {
        //float: left; /*rtl*/ //override rFloat on the signUp class in static pages
    }
}

.headerWpr {
    &.menuOpen {
        .headerActions {
            margin-right: 200px; /*rtl*/
        }

        .sideBar {
            right: 0; /*rtl*/
        }
    }
}

.headerSettings {
    display: inline-block;
    margin: 0 12px 0 8px; /*rtl*/
    width: 17px;
    height: 13px;
    background: @dashboard-sprite -254px -28px no-repeat;
    //vertical-align: top;
    vertical-align: middle;
    line-height: 50px;
}


/*#endregion */

/*#region error pages */

.membersOnly {
    text-align: center;
    font-size: 15px;
    color: @textColor;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        width: 304px;
        height: 177px;
        margin: 50px auto 25px;
        background: url(/Images/members-only.png) no-repeat;
    }

    h2 {
        color: @color;
        font-size: 22px;
        font-weight: normal;
    }

    a {
        color: #fff;
        border-radius: 3px;
        padding: 0 25px;
        height: 32px;
        line-height: 32px;
        margin-top: 20px;
        display: inline-block;
        background: @attentionBlue;
    }
}


.notFound {
    text-align: center;
    margin-top: -25px;
    font-size: 15px;

    &:before {
        content: '';
        display: block;
        width: 185px;
        height: 186px;
        margin: 25px auto;
        background: url(/Images/404.png) no-repeat;
    }

    h2 {
        color: @color;
        font-size: 22px;
        margin-bottom: 15px;
        font-weight: normal;
    }

    a {
        color: @color;
    }
}

/*#endregion */

/*#region about us, contact us, privacy policy; terms of service */
.staticPage {
    color: #000;
    margin: 0 auto;

    h1 {
        color: @color;
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: normal;
    }

    h3 {
        color: #43392d;
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0 -10px;
    }

    p {
        margin: 1em 0;
    }

    a {
        color: @color;
    }
}

.subHeader, .subHeaderUnderline {
    font-size: 15px;
    font-weight: bold;
    color: #43392b;
    margin-top: 15px;
}

.policy, .terms, .aboutUs, .contactUs {
    direction: ltr; /*no rtl*/
    width: 645px;
    text-align: left; /*no rtl*/
}

.lastModified {
    font-size: 11px;
    color: #B1B0B0;
    margin-bottom: 15px;
}

.subHeaderUnderline {
    border-bottom: 1px solid #43392b;
    display: inline-block;
    margin-bottom: 1em;
}

/*#endregion */

/*#region forgot password; email sent; verify password */
.inputText {
    background-color: #fff;
    padding: 0 4px 0 8px; /* rtl */
    height: 28px;
    color: #464646;
    border: 1px solid @borderColor;
}

.staticTitle {
    color: @color;
    margin-top: 70px;
    font-size: 32px;
    text-align: center;
}

.innerContent {
    width: 460px;
    display: inline-block;
    text-align: left; /*rtl*/
    > .boldFont {
        margin-top: 40px;
    }

    .linkBtn {
        color: @color;
    }
}

.forgotPwd, .emailSent, .newPwd {
    text-align: center;

    .inputText {
        width: 290px;
        display: block;
        margin-bottom: 18px;
    }

    .staticWpr {
        display: inline-block;
        padding: 33px;
    }
}

.firstP {
    margin-bottom: 15px;
}

.lastP {
    margin-bottom: 40px;
}
/*#endregion */

/*#region unsupported page */

.unsupported {
    text-align: center;

    h2 {
        font-size: 22px;
        font-weight: normal;
        color: @color;
        margin-bottom: 24px;
        line-height: 25px;
        display: block;
        white-space: pre-wrap;
    }

    > span {
        font-size: 15px;
        margin-bottom: 40px;
        display: inline-block;
        white-space: pre-wrap;
    }

    li {
        display: inline-block;
    }
}

.browser {
    display: inline-block;

    &:before {
        content: '';
        display: block;
        margin: 0 auto 15px;
        background: url(/Images/browsers-sprite.png) no-repeat;
    }

    &:hover {
        opacity: 0.85;
    }
}

.chrome:before {
    width: 68px;
    height: 67px;
    background-position: -148px -3px;
}

.firefox {
    padding: 0 40px 0 30px; /*rtl*/
    &:before {
        width: 66px;
        height: 67px;
        background-position: -78px -3px;
    }
}

.ie:before {
    width: 75px;
    height: 72px;
    background-position: -1px -1px;
}
/*#endregion */



/*#region btns */
.btn1, .btn2 {
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    min-width: 64px;
    font-size: 16px;

    &:disabled {
        background: @borderColor;
        border: 1px solid @borderColor;
        color: #464646;
    }
}

/*#endregion */

/*#region library empty state */
.libEmpty {
    color: @textColor;
    font-size: 18px;
    width: 460px;
    margin: 70px auto 0;
    text-align: left; /*rtl*/
    &.libraryChoose {
        width: 666px;
        margin-top: 170px;
    }
    h2 {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        margin-top: 5px;
    }
}


.libEmptyTitle {
    font-size: 32px;
    //color: @textColor;
    text-align: center;
    font-weight: normal;
}

/*.uni_txt {
    font-size: 15px;
    color: @textColor;
}*/

/*#endregion */

/*#region AUTO COMPLETE */
.uniWpr {
    position: relative;
    margin: 32px 0 8px;

    &:after {
        .pseudo();
        width: 18px;
        height: 20px;
        background: @dashboard-sprite -214px -2px no-repeat;
        position: absolute;
        right: 9px; /*rtl*/
        top: 8px;
    }
    /*&:hover:after
    {
        background-position: -233px -2px;
    }*/
    .inputText {
        width: 100%;
        height: 35px;
        border: 1px solid @borderColor;
        font-size: 17px;
        padding: 0 30px 0 10px; /*rtl*/
        .boxSizing;
    }
}

.uniList {
    display: none;
    text-align: left; /*rtl*/
    max-height: 500px;
    width: 100%;
    border: 1px solid @borderColor;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(17, 17, 17, .5);
    padding: 0;
    //background: #f5f5f5;
    background: #fff;
    .boxSizing;

    .emptySearch:after {
        top: 6px;
    }
}
.schoolItem {
    overflow: hidden;
    white-space: nowrap;
    .transition(background, .2s linear);
    color: #43392b;
    cursor: pointer;
    padding: 5px 0 8px 8px; /*rtl*/
    margin: 0 3px 8px 8px; /*rtl*/
    border: 1px solid @borderColor;
    border-radius: 3px;
    height: 80px;
    .boxSizing;
    background: #F9F9F9;
    //display: block;
    display: block !important;

    &:first-child {
        margin-top: 8px;
    }
    &:hover {
        .transition(background .2s);
        background: #ebeced;
    }

    &:active {
        background: #ebebeb;
    }
}
.uniImg {
    display: inline-block;
    width: 66px;
    height: 66px;
    border: 1px solid @borderColor;
    border-radius: 3px;
}

.uniDetails {
    overflow: hidden;
    display: block;
    padding: 10px 5px 0 8px; /*rtl*/
    .btn3 {
        margin: 10px 10px 0 0; /*rtl*/
    }
}

.uniName {
    color: @textColor;
    font-size: 22px;
    display: block;
}

.uniCount {
    font-size: 13px;
    position: relative;
    top: -5px;
    &:before {
        .pseudo();
        width: 14px;
        height: 11px;
        margin-right: 4px; /*rtl*/
        background: url(/Images/misc-sprite.png) -1px -15px no-repeat;
    }
}

.newUni.newUni {
    font-size: 13px;
    height: 40px;
    color: @textColor;
    background: #f5f5f5;
    border-top: 1px solid @borderColor;
    text-align: center;
    padding-top: 13px;
    margin-top: -5px;
    .boxSizing;

    .createUni {
        color: #676767;

        &:hover {
            text-decoration: underline;
        }
    }
}

/*<ul class="fbUniList">
            <li>
                <div class="schoolItem">
                    <img src="http://placehold.it/100x100" class="lFloat uniImg" width="66" height="66" alt="uni" />
                    <div class="uniDetails">
                        <div class="uniName elps boldFont">The open university</div>
                        <div class="friendsCount" data-friendscount="23">of your friends are registered</div>
                        <button type="button" class="btn3 rFloat">Choose</button>
                    </div>
                </div>
                <ul class="fbFriendsList">
                    <li><img src="http://placehold.it/32x32" class="lFloat uniImg" width="32" height="32" alt="friend" /></li>
                    <li><img src="http://placehold.it/32x32" class="lFloat uniImg" width="32" height="32" alt="friend" /></li>
                    <li><img src="http://placehold.it/32x32" class="lFloat uniImg" width="32" height="32" alt="friend" /></li>
                </ul>
            </li>*/


/*#endregion */
.fbUniList {
    margin-top: 55px;
    > li {
        margin-bottom: 20px;
    }
    .schoolItem {
        background: #ebeced;
        border-radius: 3px 3px 0 0; 
        margin:0;
        padding: 5px 15px;
    }
}
.fbFriendsList {
    background: #fff;
    padding: 8px 15px;
    .boxSizing;
    border: 1px solid #C2C2C2;
    min-height: 48px;
    border-radius: 0 0 3px 3px;
    border-top: none;
    overflow: auto;
    .imgBorder {
        margin: 0 5px 5px 0; /*rtl*/
    }
}

/*#region faq */
.faq {
    &:after {
        content: '';
        width: 100%;
        height: 113px;
        background: #fff;
        border-bottom: 1px solid @borderColor;
        display: block;
        position: absolute;
        top: @header-height;
    }

    h1 {
        font-size: 22px;
        height: 113px;
        line-height: 113px;
        color: @textColor;
        position: relative;
        z-index: 1;
        margin-bottom: 28px;
    }

    aside {
        width: 268px;
        height: 70px;
        .boxSizing;
        border: 1px solid @borderColor;
        border-radius: 5px;
        margin: 59px 0 0 15px; /*rtl*/
        display: inline-block;
        padding: 17px 8px 0 69px; /*rtl*/
        background: #fff;
        position: relative;
        font-size: 15px;
        line-height: 17px;

        &:before {
            .pseudo;
            width: 53px;
            height: 53px;
            background: @common-sprite -239px -1px no-repeat;
            position: absolute;
            left: 8px; /*rtl*/
            top: 7px;
        }
    }

    &.staticPage {
        text-align: left; /*rtl*/
        color: @textColor;
        background: url(/Images/gray_jean80.png) repeat;

        min-height: 100vh;
        .boxSizing;
        padding-top: @header-height;
        margin: -115px 0 -@header-height;
    }

    .contactLink {
        color: @attentionBlue;

        &:hover {
            text-decoration: underline;
        }
    }
}

.faqContentWpr {
    width: 945px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.faqContent {
    width: 657px;

    h2 {
        font-size: 20px;
        margin: 40px 0 20px;
    }
}

.faqItem {
    min-height: 52px;
    position: relative;
    border: 1px solid @borderColor;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #fff;

    input[type=checkbox] {
        position: absolute;
        top: 0;
        //left: 0;
        width: 100%;
        height: 52px;
        opacity: 0;

        &:checked {
            ~ .question:after {
                //background-position: -103px -49px;
                .flipV;
            }
            /*~ .answer {
                padding-top: 25px; //override
                padding-bottom: 30px; //override
                border-top: 1px solid @borderColor;
                /*max-height: 300px;
            }*/
        }
    }
}

.question {
    line-height: 52px;
    font-size: 15px;
    padding: 0 18px 0 16px; /*rtl*/
    position: relative;
    color: @attentionBlue;
    cursor: pointer;
    display: block;

    &:hover {
        color: @textColor;
    }

    &:after {
        content: '';
        width: 9px;
        height: 7px;
        position: absolute;
        right: 18px; /*rtl*/
        top: 25px;
        background: @common-sprite -98px -49px no-repeat;
    }
}

.answer {
    padding: 0 18px 0 16px; /*rtl*/
    display: none;
    padding-top: 25px; //override
    padding-bottom: 30px; //override
    border-top: 1px solid @borderColor;
    /*max-height:0;*/
    /*overflow: hidden;*/
    /*.transition(all 0.4s);*/
}
/*#endregion */

/*#region chairman - only displayed for hebrew */
.chairman {
    min-height: 100vh;
    margin-top: -170px; // -120px for top margin of staticContent;24px for footer;50px for header
    direction: rtl; /* no rtl !!!*/
    text-align: right; /*no rtl!!!*/
    width: 450px;
    .boxSizing;
    background: #ebeced;
    box-shadow: -4px 0 4px rgba(0,0,0,.15); /*rtl*/
    padding: 96px 33px 50px 33px;
    &:before {
        .pseudo;
        background: url(/Images/national-union-pic.png) no-repeat;
        margin-bottom: 15px;
        width: 385px;
        height: 150px;
        border-radius: 3px;
        border: 1px solid @borderColor;
    }
    h2 {
        font-size: 24px;
        font-weight: normal;
    }
    p {
        margin: 12px 0;
    }
    a {
        color: @attentionBlue;
    }
    ~ .page {
        padding-right: 450px; /*rtl*/
        .libraryChoose {
            width: 85%;
        }
    }
}
/*#endregion */
