



.selectBox,
.newBox {
  width: 204px;
  height: 141px;
  display: inline-block;
  border: 2px solid #bdbdbd;
  box-shadow: 2px 2px 2px #ddd8dc;
  /*rtl*/
  margin-bottom: 30px;
  /*fix for (chrome) bug 1856 */
}
.selectBox {
  background-position: 0 -247px;
  margin-left: 38px;
  /*rtl*/
}

.dragDropBox {
  border: 1px dashed #c2c2c2;
  color: #383838;
  background: #fff;
  margin: 23px 0;
  height: 155px;
  text-align: center;
}
.dragDropBox .btn1 {
  padding: 4px 28px 6px;
  border: none;
  float: none;
  margin: 0;
}
.dragDropBox ul {
  display: none;
  text-align: left;
  /*rtl*/
  overflow-x: hidden;
  overflow-y: auto;
  height: 160px;
  margin: 38px 0 0 5px;
  /*rtl*/
  border-top: 1px solid #c2c2c2;
}
.dragDropBox li {
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  padding: 10px 5px;
  z-index: 0;
}
.dragDropBox li .fileName {
  max-width: 520px;
  display: inline-block;
}
.dragDropBox li .percent {
  background-color: #f5ebf1;
  display: inline-block;
  width: 0;
  height: 36px;
  position: absolute;
  left: 0;
  /*rtl*/
  top: 1px;
  z-index: -1;
}
.dragDropBox li:last-child {
  border-bottom: 0;
}
/* pending displays cancel; finished displays tick btn */
.pending {
  color: #74646e;
  font-size: 11px;
  background-color: transparent;
  margin: 0 3px 0 0;
  /*rtl*/
}
.finished {
  display: none;
  width: 24px;
  height: 25px;
  background-position: -13px -1px;
  margin: 0 3px 0 0;
  /*rtl*/
}

/*.step2
{
    display: none;
}
.inviteHeader
{
    text-align: center;
    font-size: 15px;
}
.inviteVia
{
    font-size: 16px;
    color: #fff;
    margin: 15px auto 11px;  
}

.facebook, .email {
    cursor: pointer;
    padding: 8px 8px 8px 50px;
    font-size: 18px;
    -webkit-text-shadow: none;
    text-shadow: none;
    border-radius: 5px;
    position: relative;
    text-align: left; 
    margin: 36px auto 0;
    width: 260px;
    line-height: 25px;
}
   
.email
{
    background-color: @color;
}
.fbImg, .emailImg
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    &:after
    {
        .pseudo();
        opacity: .5;
        width: 1px;
        background: #fff;
        height: 30px;
        left: 24px; 
        position: relative;
        top: -3px;
    }   
}
.fbImg
{
    display:inline-block;   
    width: 11px;
    height: 22px;
    background: @common-sprite -130px -1px no-repeat;
    left: 16px; 
}
.emailImg
{
    width: 29px;
    height: 22px;
    left: 6px; 
    background: @home-sprite -242px 0 no-repeat;
    &:after
    {
        left: 35px; 
    }
    
}*/

.chooseFrom {
  border-top: 1px solid #c7c7c7;
  text-align: center;
}
.chooseFrom .seprtr {
  font-size: 15px;
  padding: 6px 10px;
  background: #fff;
  display: inline-block;
  position: relative;
  top: -16px;
}
.choices {
  text-align: center;
}
.source {
  width: 122px;
  height: 112px;
  display: inline-block;
}
.source:last-child {
  display: none;
}
.source:nth-child(2) {
  margin: 0 18px;
}
.source .btn {
  border-radius: 5px;
  background: #faf9fa;
  border: 1px solid #dcdcdc;
  width: 118px;
  height: 108px;
  font-size: 14px;
  color: #111;
  float: left;
  /*rtl*/
  text-align: center;
}
.source .btn:hover,
.source .btn:active {
  border: 2px solid #0f9d58;
  background: #f4f4f4;
}
.source .btn:before {
  content: '';
  display: block;
  background: url(/Images/upload15-sprite.png) no-repeat;
  margin: 0 auto 10px;
}
.source .link:before {
  background-position: -128px 0;
  width: 50px;
  height: 50px;
}
.source .dropBox:before {
  background-position: -73px 0;
  width: 53px;
  height: 48px;
}
.source .drive:before {
  background-position: -131px -51px;
  width: 53px;
  height: 48px;
}
.source .sky:before {
  background-position: 0 0;
  width: 71px;
  height: 43px;
}
.addLink {
  display: none;
}
.dropZoneOpacity {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 89px;
  left: 290px;
  /*rtl*/
  z-index: 6;
  display: none;
}
.dropZone {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 89px;
  left: 290px;
  /*rtl*/
  z-index: 5;
  background: rgba(17, 17, 17, 0.7);
  color: #fff;
  font-size: 30px;
}
.dropMsg {
  color: #fff;
  font-size: 30px;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -290px;
  /*rtl*/
  margin-top: -138px;
  pointer-events: none;
}
.dropMsg:before {
  content: '';
  width: 130px;
  height: 113px;
  background: url(/Images/upload15-sprite.png) 0 -54px;
  display: block;
  margin: 0 auto 22px;
}
.uploads {
  display: none;
  width: 500px;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 10px;
  /*rtl*/
  z-index: 100;
}
.uploads button {
  background: url(/Images/upload15-sprite.png) no-repeat;
  vertical-align: top;
}
.uploads.collapsed .uploadList {
  overflow: visible;
  height: 0;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  visibility: hidden;
}
.uploadBtns,
.uploadProgress {
  position: absolute;
  top: 10px;
  right: 10px;
  /*rtl*/
}
.uploadTop {
  height: 32px;
  line-height: 32px;
  background: #39434a;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  position: relative;
  font-size: 15px;
}
button.stopUpload {
  background-position: -144px -104px;
  width: 11px;
  height: 11px;
  display: none;
}
.uploadDetails {
  padding: 0 4px;
  max-width: 280px;
  display: inline-block;
}
.uploadPercent {
  vertical-align: top;
}
.uploadList {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 154px;
  visibility: visible;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.uploadItem {
  border: 1px solid #c7c7c7;
  border-top: none;
  background: #fff;
  color: #111;
  font-size: 13px;
  height: 30px;
  padding: 0 10px;
  position: relative;
}
.uploadItem:last-child {
  border-bottom: none;
}
.uploadItem .uploadProgress {
  top: 6px;
}
.fileName {
  max-width: 360px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}
.fileSize {
  padding: 0 5px;
  color: #878788;
  line-height: 30px;
  vertical-align: top;
}
.progress {
  display: inline-block;
  width: 75px;
  height: 10px;
  overflow: hidden;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background: #faf9fa;
  margin: 3px 5px 0 5px;
}
.progressFill {
  width: 0;
  height: 8px;
  display: block;
  margin: 1px;
  background: #868485;
  border-radius: 4px;
}
button.fileCancel {
  background: none;
  color: #0f9d58;
}
button.fileDone {
  display: none;
  width: 15px;
  height: 14px;
  background-position: -171px -100px;
}
button.fileError {
  display: none;
  width: 13px;
  height: 14px;
  background-position: -132px -101px;
}
.step3 {
  text-align: left;
  /*rtl*/
}
.dragDropTxtE {
  font-size: 18px;
  margin: 66px 0 15px;
  font-weight: bold;
  /*rtl*/
}
.addUrlHolder {
  position: relative;
}
.inputText.addUrl {
  height: 38px;
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.emailUserWpr {
  position: relative;
}
.singleEmailUserWpr {
  position: relative;
  display: none;
  margin-top: -8px;
  margin-bottom: 12px;
}
.emailUser.emailUser {
  padding: 4px 2px 6px 9px;
  /*rtl*/
  margin-bottom: 6px;
  width: 100%;
  min-height: 32px;
  max-height: 100px;
  height: auto;
  /*override height of inputText*/
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.emailUser.emailUser .inputLabel {
  padding-top: 2px;
  vertical-align: top;
  margin: 0;
  /*override .inputLabel of Model.css */
  display: inline-block;
  color: #383838;
  width: 28px;
}
.emailListWpr {
  display: inline-block;
  margin: -2px 0 -6px;
}
.inviteEmailListWpr {
  display: inline-block;
  width: 100%;
}
.emailList {
  display: inline;
}
.gConnect {
  display: none;
  width: 80px;
  vertical-align: top;
  color: #0371c8;
  padding-top: 3px;
  position: absolute;
  right: 5px;
  /*rtl*/
}
.gConnect:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 13px;
  background: url(/Images/common17-sprite.png?v=3) -73px -70px no-repeat;
  margin: -1px 5px 0 0;
  /*rtl*/
}
.inviteInput {
  vertical-align: top;
  background: transparent;
  display: inline-block;
  width: 100%;
  margin-top: 2px;
}
.inviteInput:-moz-placeholder {
  color: #919191;
  -webkit-transition: color, 2s;
  -moz-transition: color, 2s;
  -o-transition: color, 2s;
  transition: color, 2s;
  opacity: 1;
}
.inviteInput:focus:-moz-placeholder {
  color: transparent;
}
.inviteInput::-moz-placeholder {
  color: #919191;
  -webkit-transition: color, 2s;
  -moz-transition: color, 2s;
  -o-transition: color, 2s;
  transition: color, 2s;
}
.inviteInput:focus::-moz-placeholder {
  color: transparent;
}
.inviteInput::-webkit-input-placeholder {
  color: #919191;
  -webkit-transition: color, 2s;
  -moz-transition: color, 2s;
  -o-transition: color, 2s;
  transition: color, 2s;
}
.inviteInput.noFade::-webkit-input-placeholder {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
.inviteInput:focus::-webkit-input-placeholder {
  color: transparent;
}
.inviteInput.noFade:focus::-webkit-input-placeholder {
  color: #919191;
}
.inviteInput:-ms-input-placeholder {
  color: #919191;
}
.inviteInput:focus:-ms-input-placeholder {
  color: transparent;
}
.invalidEmail {
  border-bottom: red;
}
.emailItem {
  color: #383838;
  display: inline-block;
  padding: 0 10px;
  margin: 0 3px 3px 0;
  /*rtl*/
  background: #ededed;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.emailItem.invalidEmail {
  background: none;
}
.emailItem.invalidEmail .emailText {
  border-bottom: 1px solid red;
  cursor: auto;
}
.boldPart {
  font-weight: 600;
  color: #000;
}
.emailMenu {
  width: 360px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  top: -webkit-calc(100% + 5px);
  top: calc(100% + 5px);
  left: 25px;
  /*rtl*/
  display: none;
  overflow: hidden;
}
.emailMenuItem {
  display: table;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  padding: 0 10px;
}
.emailMenuItem:last-child {
  border: none;
}
.emailMenuItem:hover {
  background: #f4f4f4;
}
.eImg {
  display: table-cell;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  margin: 5px 10px 0 0;
  /*rtl*/
}
.eSingleImg {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  border: 1px solid #c2c2c2;
  margin: 5px 6px 0 0;
  /*rtl*/
}
.eSingleName {
  display: inline-block;
  vertical-align: middle;
}
.eDetails {
  display: table-cell;
  vertical-align: middle;
  height: 43px;
  width: 100%;
}

