/*#region variables */
/*#endregion */
/*#region mixins */
/*#endregion */
.userPage,
.searchPage {
  text-align: left;
  /*rtl*/
  color: #383838;
}
.userPage:after,
.searchPage:after {
  content: '';
  width: 100%;
  height: 75px;
  background: #282828;
  border-bottom: 1px solid #c2c2c2;
  display: block;
  position: absolute;
  top: 50px;
  z-index: -1;
}
.userPage .barActions,
.searchPage .barActions {
  padding: 0 20px;
  top: 14px;
}
.userPage .searchInputWpr,
.searchPage .searchInputWpr {
  margin-top: 6px;
}
.userPage .searchInputWpr + button,
.searchPage .searchInputWpr + button {
  margin-top: 21px;
}
.userPage h1 {
  font-size: 22px;
  margin-top: 18px;
  color: #fff;
  position: relative;
  /*z-index: 1;*/
  overflow: hidden;
}
.userPage .settingsLink {
  position: relative;
  top: 5px;
  display: inline-block;
  visibility: hidden;
}
.userPage .svg-settings {
  width: 25px;
  height: 23px;
  fill: #c2c2c2;
}
.userPage h2 {
  font-size: 18px;
  font-weight: 300;
}
.userPage .box {
  width: 220px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.userPage .userItem:nth-child(7n) {
  margin: 0;
}
/*#region user page aside */
.upSidebar {
  width: 227px;
  height: 332px;
  border-radius: 5px;
  margin: 28px 0 0 21px;
  /*rtl*/
  display: inline-block;
  clear: both;
}
/*#region points section */
.pointsWpr {
  width: 227px;
  min-height: 53px;
  border-radius: 5px;
  margin: 15px 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 1px solid #0f9d58;
  text-align: center;
}
.pointsWpr:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /*rtl*/
  width: 100%;
  height: 53px;
  background: #0f9d58;
}
.emptyPoints {
  padding: 15px 9px;
  color: #676767;
  text-align: left;
  /*rtl*/
}
.emptyPoints .semiFont {
  color: #39434a;
  margin-bottom: 8px;
}
.pointsList {
  padding-top: 6px;
  direction: ltr;
}
.point {
  width: 28px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  color: #39434a;
  font-size: 26px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
/*#endregion */
/*#region uploads 'tab' */
.upTabContent {
  display: none;
}
.upUploads {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
.upUploads h2 {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.upTabs {
  margin-bottom: 12px;
}
.upTabs button {
  color: #0371c8;
  font-size: 12px;
}
.upTabs span {
  color: #383838;
}
.upTabs button:before {
  content: attr(data-count);
  display: inline-block;
}
.upTabs.upTab1 .fileCount {
  color: #383838;
}
.upTabs.upTab1 ~ .filesTab {
  display: block;
}
.upTabs.upTab2 .qCount {
  color: #383838;
}
.upTabs.upTab2 ~ .qTab {
  display: block;
}
.upTabs.upTab3 .aCount {
  color: #383838;
}
.upTabs.upTab3 ~ .aTab {
  display: block;
}
.aTab .qaWpr {
  position: relative;
  z-index: 1;
}
.aTab .qaWpr:before {
  content: '';
  display: inline-block;
  background: #fafafa;
  height: 43px;
  width: 227px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.uploadsItem {
  padding: 0 10px 0 64px;
  /*rtl*/
  position: relative;
  margin-top: 11px;
  height: 67px;
}
.uploadsItem .boxName {
  line-height: 15px;
  color: #0F9D58;
  height: 30px;
  padding: 18px 0 2px;
}
.uploadsItem .stars {
  display: inline-block;
  margin: 2px 0 0 0;
}
.uploadsItem .upImg {
  top: 0;
}
.uploadsItem .views {
  margin: 0 0 0 12px;
  /*rtl*/
  display: inline-block;
  vertical-align: top;
  line-height: 14px;
  color: #676767;
}
/*.uploadsImg {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    border: 1px solid @borderColor;
}*/
.emptyTab {
  text-align: center;
  color: #676767;
  display: none;
}
.emptyTab:before {
  content: '';
  display: block;
  background: url(/Images/user13-sprite.png?v=1) no-repeat;
  margin: 32px auto 14px;
}
.upTabContent.empty .emptyTab {
  display: block;
}
.emptyUploads:before {
  width: 44px;
  height: 53px;
  background-position: -6px -42px;
}
/*#endregion */
/*#region QnA tabs */
.qaItem {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #c2c2c2;
}
.qaItem:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.qaBoxname {
  margin-left: 10px;
  /*rtl*/
  max-width: 188px;
  display: inline-block;
  padding-top: 8px;
  color: #39434a;
}
.qaWpr {
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 10px 5px 5px 10px;
  /*rtl*/
  margin-top: 18px;
  overflow: hidden;
}
.qaQuestion {
  border-bottom: 1px solid #c2c2c2;
  margin: -10px -5px 0 -10px;
  /*rtl*/
  padding: 10px 5px 8px 10px;
  /*rtl*/
  background: #fafafa;
}
.qLink {
  color: #0371c8;
  padding-top: 6px;
}
.qLink:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  /*rtl*/
  color: #383838;
  width: 7px;
  height: 10px;
  background: url(/Images/user13-sprite.png?v=1) -53px -43px no-repeat;
  vertical-align: middle;
}
.qAnswerCount {
  color: #676767;
  display: inline-block;
  padding: 6px 0 3px;
}
.qAnswerCount:before {
  content: attr(data-up-qacount);
  display: inline-block;
}
.qaUsername {
  display: inline-block;
  max-width: 168px;
  margin: 0 0 11px 8px;
  /*rtl*/
  padding-top: 7px;
}
.qaUsername ~ .qaQuestion {
  clear: both;
  color: #676767;
}
.answeredBy {
  color: #676767;
  padding: 5px 0;
}
.qaMore {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  width: 100%;
  height: 28px;
  margin: 20px 0 75px;
  background: rgba(255, 255, 255, 0.5);
}
.qaMore:hover {
  color: #0371c8;
}
.emptyQuestions:before,
.emptyAnswers:before {
  width: 154px;
  height: 34px;
  background-position: -5px -3px;
}
/*#endregion */
/*#endregion */
/*#region userpage content */
.upContentWpr {
  width: 1021px;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}
.upTop {
  padding-left: 120px;
  /*rtl*/
  position: relative;
  height: 100px;
}
.upTop .btn3 {
  padding: 4px 12px;
  position: absolute;
  top: 83px;
  left: 117px;
}
.upTop .btn3:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 19px;
  vertical-align: middle;
  background: url(/Images/common17-sprite.png?v=4) -155px -42px no-repeat;
  margin-right: 5px;
  /*rtl*/
}
.upTop .upEmail {
  margin-top: 23px;
  color: #676767;
}
.upTop:hover .settingsLink {
  visibility: visible;
}
.upImg {
  position: absolute;
  top: 20px;
  left: 0;
  /*rtl*/
  border-radius: 100%;
}
.upSchool {
  color: #c2c2c2;
  /*&:hover {
        color: @attentionBlue;
    }*/
}
.upDetails {
  display: inline-block;
}
.upContent {
  width: 772px;
}
.upContent h2 {
  margin: 28px 0 15px;
}
.upContent .boxImg.boxImg {
  height: 100%;
}
.upCourses .coursesEmpty {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 15px;
  color: #676767;
  margin-bottom: 15px;
}
.upCourses.noCourses .coursesEmpty {
  display: block;
}
.upSectionWpr {
  border: 1px solid #c2c2c2;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 15px 12px 0 14px;
  /*rtl*/
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.upSectionWpr.truncated.truncated {
  border-radius: 8px 8px 8px 8px;
  border-bottom: 1px solid #c2c2c2;
}
.upSectionWpr h4 {
  padding-bottom: 4px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 17px;
}
.upSectionWpr ul {
  overflow: hidden;
}
.upSectionWpr .box {
  margin: 0 0 24px 0;
}
.upSectionWpr .box:hover .btn3 {
  display: block;
}
.upSectionWpr .box:nth-child(3n + 2) {
  margin-left: 38px;
  margin-right: 38px;
}
.upShowAll {
  display: block;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  background: #f5f5f5;
  text-align: center;
  padding: 0 12px;
  border: 1px solid #c2c2c2;
  border-radius: 0 0 8px 8px;
}
.upShowAll:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  /*rtl*/
  background: url(/Images/common17-sprite.png?v=4) -98px -49px no-repeat;
  width: 9px;
  height: 7px;
}
.upShowAll:before {
  content: attr(data-up-showall);
  display: inline-block;
}
.upShowAll:hover {
  background: #ededed;
  color: #0371c8;
}
.upCb {
  display: none;
  /*~ .inCommonList
        {
            .upFriend:nth-child(n+9)
            {
                display: none;
            }
        }
        ~ .inAllFriendList
        {
             .upFriend:nth-child(n+9)
            {
                display: none;
            }
        }
        ~ .followingList
        {
            .box:nth-child(n+7)
            {
                display: none;
            }
        }
         ~ .upInviteList
        {
            .upInviteItem:nth-child(n+7)
            {
                display: none;
            }
        }*/
}
.upCb:checked + label:before {
  content: attr(data-up-showless);
}
.upCb:checked + label:after {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}
/*.noCommon h4{
    display: none; // if user has no commpn friends - hide title 
}*/
.inCommonList {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.inAllFriendList {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.followingList {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.followingList .btn3 {
  border: 1px solid #0371c8;
  padding: 3px 18px;
  position: absolute;
  left: 84px;
  /*rtl*/
  bottom: 5px;
  color: #0371c8;
  display: none;
}
.followingList .btn3:hover {
  background: #0371c8;
  color: #fff;
}
.upFriends + .upShowAll {
  margin-top: -20px;
}
.upFriends .userItemImg {
  border-radius: 100%;
}
.upInvites .upSectionWpr {
  min-height: 167px;
  padding: 0;
}
.upInvites .inviteFriendBtn.btn3 {
  width: auto;
  padding: 0 8px;
  line-height: 30px;
}
.upInvites .inviteFriendBtn.btn3:before {
  content: '';
  display: inline-block;
  background: url(/Images/common17-sprite.png?v=4) -143px -3px no-repeat;
  width: 22px;
  height: 19px;
  vertical-align: middle;
  margin-right: 8px;
  /*rtl*/
}
.upInvites.empty ul,
.upInvites.empty label,
.upInvites.empty input {
  display: none;
}
.upInvites.empty .upSectionWpr {
  text-align: center;
}
.upInviteList {
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  padding: 15px 12px 0 12px;
}
.upInviteItem {
  display: inline-block;
  width: 359px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 91px;
  /*rtl*/
  position: relative;
  margin-bottom: 29px;
  float: left;
  /*rtl*/
  height: 78px;
  z-index: 1;
  /*&:nth-child(even) {
        margin-left: 28px; /*rtl
        &:before {
            content: '';
            width: 1px;
            height: 100%;
            background: @borderColor;
            position: absolute;
            left: -17px; /*rtl
            top: -29px;
            padding-top: 29px;
        }
    }*/
}
.upInviteItem:hover:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  background: #f9f9f9;
  width: 379px;
  height: 96px;
}
.upInviteItem .semiFont {
  margin: -4px 0 4px;
  /*diff rtl*/
}
.upInviteItem .userItemImg {
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*rtl*/
}
.upInviteItem.upPending .inviteStatus {
  color: #d1294d;
}
.upInviteItem.upPending:hover .btn1 {
  display: block;
}
.upInviteItem.upPending:hover .usrName {
  max-width: 190px;
}
.upInviteItem .btn1 {
  display: none;
  position: absolute;
  right: 0;
  /*rtl*/
  top: 3px;
}
.inviteStatus {
  color: #c2c2c2;
  margin: -4px 0 6px;
}
.invitedToWpr {
  width: 190px;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-top: 2px;
}
.invitedToWpr .invitedTo {
  line-height: 15px;
}
.invitedToWpr .upImg {
  margin-top: 2px;
  border: none;
  border-radius: 3px;
}
/*.invitedToImg
{
    position: absolute;
    top:0;
    left:0; 
    border: 1px solid @borderColor;
    border-radius: 3px;
}*/
.emptyInvites {
  display: none;
  height: 112px;
  line-height: 142px;
}
.upInvites.empty .emptyInvites {
  display: block;
}
.emptyInvites .btn3 {
  margin-left: 15px;
  /*rtl*/
}
/*#endregion */
/*#region union*/
.upMembers {
  margin-top: 50px;
}
.upMembers .membersContent {
  min-height: 275px;
  max-height: 410px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
}
.upMembers .membersContent .emptySearch {
  position: absolute;
  top: 168px;
  left: 426px;
  /*rtl*/
}
.upMembers .membersTop {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
  text-align: left;
  /*rtl*/
}
.upMembers .membersTop .searchWpr {
  width: 80%;
}
.upMembers .memberItem {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
}
.upMembers .memberItem:first-child {
  padding-top: 5px;
  margin-top: 10px;
}
.upMembers .friendImg {
  border-radius: 100%;
}
.memberTopRow {
  text-align: left;
  /*rtl*/
  line-height: 28px;
  border-bottom: 1px solid #c2c2c2;
  background: #f5f5f5;
}
.memberTopRow .checkbox:checked ~ .deptCol:after {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  margin-top: 11px;
  vertical-align: top;
}
.memberTopRow .deptCol {
  cursor: pointer;
}
.memberTopRow .deptCol:after {
  content: '';
  display: inline-block;
  margin-left: 4px;
  /*rtl*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #676767 transparent transparent transparent;
}
.memberTopRow .deptCol:hover {
  color: #39434a;
}
.memberTopRow .deptCol:hover:after {
  border-color: #39434a transparent transparent transparent;
}
.memberTopRow .memberCol {
  padding-left: 36px;
  /*rtl*/
}
.memberCol,
.deptCol,
.dateCol,
.courseCol {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.memberCol {
  width: 304px;
  padding-left: 10px;
  /*rtl*/
}
.deptCol {
  max-width: 465px;
  padding: 0 30px;
  vertical-align: top;
}
.dateCol {
  width: 115px;
  padding: 0 15px;
}
.courseCol {
  width: 60px;
  text-align: center;
}
.courseCol .courseList:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  background: url(/Images/common17-sprite.png?v=4) -102px -88px no-repeat;
}
.courseCol .courseList:hover:before {
  background: url(/Images/common17-sprite.png?v=4) -102px -102px no-repeat;
}
.deptPopup {
  display: none;
  z-index: 1;
  position: absolute;
  top: 77px;
  left: 514px;
  /*rtl*/
  width: 279px;
  height: 241px;
  overflow: auto;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}
.deptPopup .cbLabel.cbLabel {
  padding: 0 5px 0 37px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
.deptPopup .cbLabel.cbLabel:before {
  position: absolute;
  left: 10px;
  /*rtl*/
  top: 11px;
  height: 18px;
}
.deptPopup li {
  height: 38px;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  line-height: 16px;
  overflow: hidden;
  position: relative;
}
.deptPopup li:hover {
  background: #f9f9f9;
}
.deptPopup li:last-child {
  border: none;
}
.deptPopup li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /*rtl*/
}
.upMemberBoxesWpr {
  padding: 0 5px 5px 5px;
  position: absolute;
}
.upMemberBoxes {
  width: 240px;
  max-height: 247px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  /*display: none;*/
  /*position: absolute;*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.upMemberBoxesTitle {
  padding-left: 10px;
  /*rtl*/
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e0e0e0;
  background: #f5f5f5;
  font-size: 13px;
  color: #383838;
  border-radius: 4px 4px 0 0;
}
.upMemberBoxList {
  overflow: auto;
  max-height: 215px;
  background: #fff;
}
.upMemberBoxList li {
  height: 30px;
  padding-left: 10px;
  /*rtl*/
  border-bottom: 1px solid #e0e0e0;
  line-height: 30px;
}
.upMemberBoxList li:last-child {
  border: none;
}
.upMembersList {
  height: 287px;
  overflow-y: auto;
  overflow-x: hidden;
}
.upMemberName {
  vertical-align: top;
  max-width: 228px;
  display: inline-block;
  padding-left: 10px;
  /*rtl*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*#endregion*/
