@using Zbang.Zbox.Mvc3WebRole.Views.Account.Resources
<div class="maininfo bankbb">
    <div class="maintitle">@IndexResources.BestEssays</div>
    <div class="maintext"><pre>@IndexResources.BankOperates</pre></div>
    <span class="mainImg"></span>
</div>
