@using Zbang.Zbox.Mvc3WebRole.Views.Account.Resources
<div class="maininfo">
    <div class="maintitle">@IndexResources.ShareWithPeople</div>
    <div class="maintext">@IndexResources.EasyToShare</div>
    <img src="/Images/homepage_screens.png" alt="" />
</div>