<div class="portlet box create" ng-controller="CreateClass as cc">
    <div class="portlet-title">
        <div class="caption">
            create class
        </div>
        <button type="button" class="close" ng-click="d.createBoxOn = false">X</button>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal">
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li ng-class="{active:cc.step === 1}">
                            <a class="step">
                                <span class="number">
                                    1
                                </span>
                                <span class="desc">
                                    class type
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 2}">
                            <a class="step">
                                <span class="number">
                                    2
                                </span>
                                <span class="desc">
                                    class name
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 3}">
                            <a class="step">
                                <span class="number">
                                    3
                                </span>
                                <span class="desc">
                                    department
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 4}">
                            <a class="step">
                                <span class="number">
                                    4
                                </span>
                                <span class="desc">
                                    upload
                                </span>
                            </a>
                        </li>
                        <li ng-class="{active:cc.step === 5}">
                            <a class="step">
                                <span class="number">
                                    5
                                </span>
                                <span class="desc">
                                    invite
                                </span>
                            </a>
                        </li>
                    </ul>
                    <progressbar class="progress-striped active" value="cc.step*20" type="info"></progressbar>
                    <div class="tab-content">
                        @*<div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Your form validation is successful!
                            </div>*@
                        <div class="tab-pane text-center" ng-class="{active:cc.step === 1}">
                            <button type="button" ng-click="cc.chooseBox(1)">
                                @Html.Svg("~/images/site/dashboardIcons.svg", "createBox")
                                <h6>Study group</h6>
                                To work on things in a group
                            </button>
                            <button type="button" ng-click="cc.chooseBox(2)">
                                @Html.Svg("~/images/site/dashboardIcons.svg", "createClass")
                                <h6>Class</h6>
                                To share things with your whole class
                            </button>
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 2}">
                            <div ng-hide="cc.boxType === 2">
                                class name
                                <input autofocus class="form-control" type="text" ng-model="cc.boxName" />
                            </div>
                            <div ng-hide="cc.boxType === 1">
                                class name
                                <input autofocus class="form-control" type="text" ng-model="cc.boxName" />
                                <div class="row">
                                    <div class="col-md-6">
                                        class code
                                        <input class="form-control" type="text" ng-model="cc.code" />
                                    </div>
                                    <div class="col-md-6">
                                        instructor
                                        <input class="form-control" type="text" ng-model="cc.professor" />
                                    </div>
                                    
                                </div>

                            </div>
                            @*<h3 class="block">Provide your profile details</h3>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Fullname <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="fullname" />
                                        <span class="help-block">
                                            Provide your fullname
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Phone Number <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="phone" />
                                        <span class="help-block">
                                            Provide your phone number
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Gender <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-4">
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="gender" value="M" data-title="Male" />
                                                Male
                                            </label>
                                            <label>
                                                <input type="radio" name="gender" value="F" data-title="Female" />
                                                Female
                                            </label>
                                        </div>
                                        <div id="form_gender_error">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        Address <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="address" />
                                        <span class="help-block">
                                            Provide your street address
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        City/Town <span class="required">
                                            *
                                        </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="city" />
                                        <span class="help-block">
                                            Provide your city or town
                                        </span>
                                    </div>
                                </div>*@
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 3}">
                            <h3 class="block">Provide your billing and credit card details</h3>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Card Holder Name <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="card_name" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Card Number <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="card_number" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    CVC <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" placeholder="" class="form-control" name="card_cvc" />
                                    <span class="help-block">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Expiration(MM/YYYY) <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control" name="card_expiry_date" />
                                    <span class="help-block">
                                        e.g 11/2020
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Payment Options <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="checkbox-list">
                                        <label>
                                            <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." /> Auto-Pay with this Credit Card
                                        </label>
                                        <label>
                                            <input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing." /> Email me monthly billing
                                        </label>
                                    </div>
                                    <div id="form_payment_error">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" ng-class="{active:cc.step === 4}">
                            <h3 class="block">Confirm your account</h3>
                            <h4 class="form-section">Account</h4>
                            <div class="form-group">
                                <label class="control-label col-md-3">Username:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="username">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="email">
                                    </p>
                                </div>
                            </div>
                            <h4 class="form-section">Profile</h4>
                            <div class="form-group">
                                <label class="control-label col-md-3">Fullname:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="fullname">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Gender:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="gender">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Phone:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="phone">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Address:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="address">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">City/Town:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="city">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Country:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="country">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Remarks:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="remarks">
                                    </p>
                                </div>
                            </div>
                            <h4 class="form-section">Billing</h4>
                            <div class="form-group">
                                <label class="control-label col-md-3">Card Holder Name:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="card_name">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Card Number:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="card_number">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">CVC:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="card_cvc">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Expiration:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="card_expiry_date">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Payment Options:</label>
                                <div class="col-md-4">
                                    <p class="form-control-static" data-display="payment">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" ng-class="{active:cc.step === 5}">
                            final
                        </div>
                    </div>
                </div>
                <div class="form-actions" ng-hide="cc.step === 1">

                    <div class="text-center">
                        <a href="javascript:;" class="btn default button-previous">
                            Back
                        </a>
                        <button type="button" class="btn blue button-next" ng-click="cc.goToStep()">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
