<div class="promo-box box-style" ng-if="!lb.hidePromo">
    <div class="top" ng-style="{'background': '{{::lb.color1}}'}">
        <div class="title" ng-style="{'color': '{{::lb.color2}}'}">Flashcard Contest Ends</div>
        <div class="clock-container">
            <flip-clock></flip-clock>
        </div>
    </div>
    <div class="bottom" ng-style="{'background': '{{::lb.color2}}'}">
        <div class="stats">
            <div class="rank">
                <div class="title">Your Rank</div>
                <div class="count" ng-style="{'color': '{{::lb.color2}}'}">
                    <div class="icon">#</div>
                    <div class="num" ng-bind="::lb.flashcardPromo.row"></div>
                </div>
            </div>
            <div class="likes">
                <div class="title">Your Likes</div>
                <div class="count" ng-style="{'color': '{{::lb.color2}}'}">
                    <md-icon class="icon" md-svg-icon="b:like"></md-icon>
                    <div class="num" ng-bind="::lb.flashcardPromo.count"></div>
                </div>
            </div>
        </div>
        <md-icon class="info" md-svg-icon="t:info-bubble" ng-click="lb.details($event)"></md-icon>
    </div>
</div>
