<div class="promo-box box-style">
    <div class="top">
        <div class="title"></div>
        <div class="timer">

        </div>
    </div>
    <div class="bottom">
        <div class="stats">
            <div class="rank">
                <div class="title">Your Rank</div>
                <div class="count">
                    <div class="num">20</div>
                    <div class="icon"></div>
                </div>
            </div>
            <div class="likes">
                <div class="title">Your Likes</div>
                <div class="count">
                    <div class="num">100</div>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
        <div class="info"></div>
    </div>
</div>
