<div class="leaderboardbox leaderboard score-board box-style" ng-controller="gamificationBoard as gb">
    <div class="bg-l">
        <md-icon md-svg-icon="p:stars" class="bg"></md-icon>
    </div>
    <div class="bg-r">
        <md-icon md-svg-icon="p:stars" class="bg"></md-icon>
    </div>
    <div class="top">
        <div class="points">
            <div class="points-wrapper">
                <span class="number" ng-bind="::gb.data.score | number">{{::gb}}</span>
                <span>points</span>
            </div>
        </div>
        <div class="text">Next Level in {{::gb.data.nextLevel}} pts</div>
        <md-progress-linear class="custom-progress-bar" ng-cloak md-mode="determinate" value="{{gb.score}}"></md-progress-linear>
    </div>
    <div class="bottom">
        <div class="level">
            <div class="icon"></div>
            <div class="description">
                <div>Your level {{::gb.data.level}}</div>
                <div>Level {{::gb.data.number}}</div>
            </div>
        </div>
        <div class="badges">
            <div class="icon"></div>
            <div class="description">{{::gb.data.badgeCount}} Badges</div>
        </div>
    </div>
</div>
