<div class="modal-body clearfix">
    @{Html.RenderPartial("_SocialInvite");}
    <button class="closeModal" ng-click="cancel()">
        @Html.Svg("~/Images/Defs.svg", "close", new { @class = "svg-close" })
    </button>
</div>