@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="modal-body clearfix">
    @{Html.RenderPartial("_SocialInvite");}
    <button class="closeDialog" ng-click="cancel()"></button>
</div>
