<div class="deptActions">
    <button class="search rFloat"></button>
    <div>
        <button data-bind="click: sortName, css: { selected: orderBy() === 'Name' }">Name</button>
        <button class="lastGrpBtn" data-bind="click: sortDate, css: { selected: orderBy() === 'LastModified' }">Date</button>
    </div>  
    
</div>
<ul class="courseList" data-bind="foreach: boxes">
     <li>
        <a data-bind="attr: { href: boxUrl }">
            <img class="lFloat" data-bind="attr: { src: boxPicture }" width="63" height="80" />
            <div class="description">
                <div class="courseName" data-bind="text: name"></div>
                <div class="elps" data-bind="text: professor"></div>
                <div class="elps" data-bind="text: courseCode"></div>
                <div class="elps"></div>
                <span data-bind="text: itemCount"></span>
                <span>items | </span>
                <span data-bind="text: commentCount"></span>
                <span>Comments</span>
            </div>
        </a>
    </li>
</ul>

@* FRIEND PAGE *@
@*<div class="friendPage">
    <div class="sectionHeader">142 Friends</div>
    <ul class="friendspageList">
        <li>
            <a>
            <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
            <div class="elps">Friend name appears here</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Professor Alexander Andrew Jeremy Julian William Jonathan Junior</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Friend name appears here</div>
            </a>
        </li>
        <li>
            <a>
                <img class="lFloat" src="http://127.0.0.1:10000/devstoreaccount1/zboxthumbnail/AcademicBox_29V1.png" width="32" height="32" />
                <div class="elps">Friend name appears here</div>
            </a>
        </li>
    </ul>
</div>*@

@*ITEM PAGE*@
@*<div class="itemPage">
    <img src="http://placehold.it/500x800" alt="" />
</div>*@
