@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

@model Zbang.Cloudents.Mvc4WebRole.Models.CreateBox
<form name="createBoxForm" ng-submit="createPrivateBox(createBoxForm.$valid)" novalidate>

    @Html.LabelFor(m => m.BoxName)

    <input type="text" name="boxName" class="inputText boxName" ng-model="formData.privateBox.boxName" required autocomplete="off" />

    @*@Html.AntiForgeryToken()*@
    <input type="submit" class="btn1 wz-next rFloat" ng-disabled="createBoxForm.$invalid" value="@DialogResources.Create" />
    <button type="reset" class="btn2 cancel rFloat" ng-click="cancel()">@SharedResources.Back</button>
</form>
