@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div>@IndexResources.InviteFriends</div>

<div class="socialWpr">
    <button class="cloudentsBtn"></button>
    <button class="fbBtn"></button>
    <button class="gmailBtn"></button>
</div>

<div class="socialContentWpr">
    <label class="input" data-cloud-txt="@IndexResources.SearchCloudents" data-fb-txt="@IndexResources.SearchFb" data-gm-txt="@IndexResources.SearchGmail">
        <input type="search" />
    </label>

</div>
