@using Zbang.Cloudents.Mvc4WebRole.Views.Box.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div ng-controller="UniversityController as u">
    <a class="university" ga-track-event="['dashboard', 'to university']" ng-if="u.loaded" ng-href="{{::u.info.url}}" univeristy-cover="{{::u.info.cover}}">
        <img class="universityimg" ng-src="{{::u.info.logo}}" alt="univerisy picture" width="70" height="70" />
        <div class="universityStats">
            <div class="uni-name" ng-bind="::u.info.name"></div>
            <div layout="row" layout-align="space-between center">
                <div>{{::u.info.boxes | megaNumber}} @GeneralResources.Classes</div>
                <div>{{::u.info.users | megaNumber}} @GeneralResources.Members</div>
                <div>{{::u.info.items | megaNumber}} @BoxResources.Items</div>
            </div>
        </div>
    </a>
</div>

