@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources

<div class="portlet light unibox" ng-controller="UniversityController as u">
    <md-progress-circular ng-if="u.loading" md-mode="indeterminate" class="circle-loading"></md-progress-circular>
    <div class="content clearfix" ng-if="!u.loading">
        
        <div class="universityTitle" layout="row" layout-align="center center">
            <img class="universityimg pull-left" ng-src="{{::u.info.img}}" alt="univerisy picture" width="70" height="70" />
            <span>{{::u.info.name}}</span>
        </div>
        <div class="universityStats">
            <div>{{::u.info.numOfBoxes | megaNumber}} @DashboardResource.Courses</div>
            <div>{{::u.info.numOfUsers | megaNumber}} @DashboardResource.Members</div>
            <div>{{::u.info.numOfItems | megaNumber}} @DashboardResource.Files</div>
        </div>
    </div>
    <a href="#" ui-sref="department" class="universityLink text-capitalize">@DashboardResource.Browse</a>
</div>

