<div class="clearfix">
    <div class="universityTitle">
        <img src="http://lorempixel.com/100/100/" alt="univerisy picture">
        <span>University of the witwatersrand</span>
    </div>
    <div class="universityStats">
        <div>35 courses</div>
        <div>5000 membres</div>
        <div>2520 files</div>
    </div>
</div>
<a href="#" class="universityLink">Browse courses</a>