<div class="portlet light unibox">
    <div class="clearfix">
        <div class="universityTitle">
            <img class="universityimg pull-left" src="{{::um.info.img}}" alt="univerisy picture" width="70" height="70" />
            <span>{{::um.info.name}}</span>
        </div>
        <div class="universityStats">
            <div>{{::um.info.numOfBoxes | megaNumber}} courses</div>
            <div>{{::um.info.numOfUsers | megaNumber}} membres</div>
            <div>{{::um.info.numOfItems | megaNumber}} files</div>
        </div>
    </div>
    <a href="#" ui-sref="department" class="universityLink">Browse courses</a>
</div>

