@using Zbang.Cloudents.Mvc4WebRole.Views.Dashboard.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<section class="uploadFiles" ng-controller="UploadCtrl">
    <header>@DialogResources.UploadFiles</header>

    <div class="dragDropArea" id="wizFileZone" pl-upload box-id="{{box.id}}" destroy drop-area="wizFileZone">@DialogResources.DragAndDrop</div>

    <div class="uploadSrcWpr">
        <button type="button" class="linkBtn" ng-click="saveLink()">@DialogResources.SiteLink</button>
        <button type="button" class="dropBoxBtn" ng-click="saveDropbox()">Dropbox</button>
        <button type="button" class="driveBtn" ng-click="saveGoogleDrive()">Google Drive</button>
    </div>
</section>