<div class="dashboard">
    <div class="row margin-bottom-20" collapse="!d.createBoxOn">
        <div class="col-md-12">
            <div class="create class" ng-controller="CreateClass as cc">
                <h5>Create a class</h5>
                <button type="button" class="close" ng-click="d.createBoxOn = false">X</button>
                <div class="content">
                    <div class="steps">
                        <ul class="list-inline">
                            <li ng-class="{active:cc.step === 1}"><span>1</span>class type</li>
                            <li ng-class="{active:cc.step === 2}"><span>2</span>class name</li>
                            <li ng-class="{active:cc.step === 3}"><span>3</span>select department</li>
                            <li ng-class="{active:cc.step === 4}"><span>4</span>upload</li>
                            <li ng-class="{active:cc.step === 5}"><span>5</span>invite</li>
                        </ul>
                        <progressbar class="progress-striped active" value="cc.step*20" type="info"></progressbar>
                    </div>
                    <div ng-switch="cc.step">
                        <div ng-switch-when="1" class="class-type">
                            <button type="button" ng-click="cc.goToStep(4)">
                                <h6>Study group</h6>
                                To work on things in a group
                            </button>
                            <button type="button" ng-click="cc.goToStep(2)">
                                <h6>Class</h6>
                                To share things with your whole class
                            </button>
                        </div>
                        <div ng-switch-when="2">
                            dasd
                            <button type="button" ng-click="cc.goToStep()">step</button>
                        </div>
                        <div ng-switch-when="3">
                            <button type="button" ng-click="cc.goToStep()">step</button>
                            zxc
                        </div>
                        <div ng-switch-when="4">
                            <button type="button" ng-click="cc.goToStep()">step</button>
                            cvb
                        </div>
                        <div ng-switch-when="5">
                            <button type="button" ng-click="cc.goToStep()">step</button>
                            hgj
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-head">
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>
    </div>


    <div class="row" ng-controller="UniversityMeta as um">
        <div class="col-md-6 col-sm-12">
            @{ Html.RenderPartial("_University");}
        </div>
        <div class="col-md-3 col-sm-6">
            @{ Html.RenderPartial("_Leaderboard");}
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="portlet light invite">
                <div class="portlet-body">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    Invite friends to spitball
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="box in d.boxes">
            <a href="{{::box.url}}" class="dashboard-stat2" d-color="{{::box.name.length}}">
                <div class="updates" ng-if="box.updates !== 0">{{box.updates}}</div>
                <div class="display">
                    <div class="number">
                        <h3>{{::box.name}}</h3>
                        <small>{{::box.professor}}</small><br />
                        <small>{{::box.courseCode}}</small>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                    </div>
                    <div class="status">
                        <div class="status-title">
                            {{::box.membersCount}} members
                        </div>
                        <div class="status-number">
                            {{::box.itemCount}} items
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <button type="button" class="add" ng-click="d.createBoxOn = true">+</button>
</div>