<div class="page-head">
    <div class="page-title">
        <h1>Dashboard</h1>
    </div>
</div>
<div class="dashboard">
    <div class="row margin-bottom-20" collapse="!createBoxOn">
        <div class="col-md-12">
            <div class="create">
                <h5>Create a class</h5>

            </div>
        </div>
    </div>
    <div class="row" ng-controller="UniversityMeta as um">
        <div class="col-md-6 col-sm-12">
            @{ Html.RenderPartial("_University");}
        </div>
        <div class="col-md-3 col-sm-6">
            @{ Html.RenderPartial("_Leaderboard");}
        </div>
        <div class="col-md-3 col-sm-6" >
            <div class="portlet light invite">
                <div class="portlet-body">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    Invite friends to spitball
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="box in d.boxes">
            <a href="{{::box.url}}" class="dashboard-stat2" d-color="{{::box.name.length}}">
                <div class="updates" ng-if="box.updates !== 0">{{box.updates}}</div>
                <div class="display">
                    <div class="number">
                        <h3>{{::box.name}}</h3>
                        <small>{{::box.professor}}</small><br />
                        <small>{{::box.courseCode}}</small>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                    </div>
                    <div class="status">
                        <div class="status-title">
                            {{::box.membersCount}} members
                        </div>
                        <div class="status-number">
                            {{::box.itemCount}} items
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <button type="button" class="add" ng-click="createBoxOn = true">+</button>
    @*<md-fab-speed-dial md-direction="up" class="md-fab-bottom-right">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="academic box" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="img/icons/twitter.svg" aria-label="academic box"></md-icon>
                </md-button>
                <md-button aria-label="group box" class="md-fab md-raised md-mini">
                    <md-icon md-svg-src="img/icons/facebook.svg" aria-label="group box"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>*@
</div>