<div class="dashboard">
    <div class="row " collapse="!d.inviteToSpitball">
        <div class="col-md-12">
            @{Html.RenderPartial("_Invite");}
        </div>
    </div>
    <div class="row" collapse="!d.createBoxOn">
        <div class="col-md-12">
            @{Html.RenderPartial("_Create");}
        </div>
    </div>
    <div class="page-head">
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>
    </div>


    <div class="row" ng-controller="UniversityMeta as um">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            @{ Html.RenderPartial("_University");}
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            @{ Html.RenderPartial("_Leaderboard");}
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="portlet light invite">
                <button type="button" ng-click="d.inviteToSpitball = true" class="portlet-body">
                    @Html.Svg("~/images/site/icons.svg", "invite")
                    Invite your friends to spitball
                </button>
            </div>
        </div>
     
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="box in d.boxes">
            @{ Html.RenderPartial("_boxTemplate");}
        </div>
    </div>

</div>
<button type="button" class="add" ng-click="d.createBoxOn = true" ng-hide="d.createBoxOn">+</button>