@using Zbang.Cloudents.Mobile.Views.Item.Resources
@model IEnumerable<string>

<div class="previewDenied">
    <h2>@ItemsResources.SecurityReasons</h2>
    <a class="previewDeniedBtn" href="@Model.FirstOrDefault()" target="_blank">@ItemsResources.OpenLink</a>
</div>
