@model Zbang.Cloudents.Mvc4WebRole.Models.ItemPreview


@foreach (var item in Model.Src)
{
    <div class="divWrapper">
        <img class="svgContent" src="@item" alt="" />
        <div class="copyRightWarning">@Zbang.Cloudents.Mobile.Views.Item.Resources.ItemsResources.CopyRight</div>
    </div>
}

