@using Zbang.Cloudents.Mobile.Views.Item.Resources


<div class="mediaLoading">
    <div class="mediaLoader">
        <div class="spinner"></div>
    </div>
    <h2>@ItemsResources.Processing</h2>
    <div>@ItemsResources.MayTake</div>
</div>
