@using Zbang.Cloudents.Mobile.Views.Item.Resources
@model Zbang.Cloudents.Mobile.Models.ItemPreview

<div class="previewDenied">
    <h2>@ItemsResources.SecurityReasons</h2>
    <a class="previewDeniedBtn" href="@Model.Src.FirstOrDefault()" target="_blank">@ItemsResources.OpenLink</a>
</div>
