@section styleSection {
<link rel="stylesheet" href="~/Content/ErrorPages/css/error.css">
}
<div class="error-page-500">
    <div class="header">
        <img src="~/Images/logo-spitball.svg" alt="Page not found">
    </div>
    <div class="error-content">

        <div class="image">
            <img src="~/Content/ErrorPages/img/500_image.png" alt="Page not found">
        </div>
        <div class="bottom">
            <h2>
                <span class="num">Oops!</span>
                <span class="text">Something went wrong</span>
            </h2>

            <a href="/">Return To home page</a>
        </div>
    </div>
</div>

