@using Cloudents.Web.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ConfigurationService VersionService
@{
    var image = VersionService.GetSiteName() == ConfigurationService.Site.Frymo ? "frymo-logo" : "logo-spitball";
    var location = $"~/Images/{image}.svg";
}
@section styleSection {
    <link rel="stylesheet" href="~/Content/ErrorPages/css/error.css">
}
<div class="error-page-404">
    <div class="header">
        <a href="/"><img src="@Url.Content(location)" alt="Page not found"></a>
    </div>
    <div class="error-content">
        <h2>
            <span class="num">404</span>
            <span class="text">@Localizer["OOPS THE FILE WAS NOT FOUND"]</span>
        </h2>

        <div class="image">
            <img src="~/Content/ErrorPages/img/404_image.png" alt="Page not found">
        </div>

        <a href="/">@Localizer["Return To home page"]</a>
    </div>
</div>

