@section styleSection {
    <link rel="stylesheet" href="~/Content/ErrorPages/css/error.css">
}
<div class="error-page-404">
    <div class="header">
        <img src="~/Images/logo-spitball.svg" alt="Page not found">
    </div>
    <div class="error-content">
        <h2>
            <span class="num">404</span>
            <span class="text">OOPS THE FILE WAS NOT FOUND</span>
        </h2>

        <div class="image">
            <img src="~/Content/ErrorPages/img/404_image.png" alt="Page not found">
        </div>

        <a href="/">Return To home page</a>
    </div>
</div>

