@import "../../mixin.less";

.book-cell {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    /*.btn {
        > div {
            letter-spacing: -0.3px;
            text-transform: capitalize;
        }
    }*/
    /*.buy {
        > div {
            background: @Spitball-Text;
            color: #fff;
        }
    }

    .sell {
        > div {
            background: @Chat-Suggestion-Icon-Background;
            color: @Settings;
        }
    }*/
    .details {
        font-size: 14px;
        font-weight: 600;
        //line-height: 1.14;
        letter-spacing: -0.3px;
        color: @Book-Info;
    }

    .cell-title {
        color: @Textbooks;
        margin-bottom: 6px;
    }

    .book-info {
        line-height: 22px;
        letter-spacing: -0.5px;
    }

    .imageWrapper(120px,170px);

    .img-wrap {
        .flexSameSize();
    }
}
