@import "../../mixin.less";



.book-header {

    @media(max-width: @screen-xs) {
        .toolbar-title {
            color: @color-purple;
        }

        .tabs {
            li {
                font-size: 16px;
                font-weight: 600;

                &:not(.tabs__item--active) {
                    color: #cea1ec;
                }
            }

            .tabs__slider {
                height: 4px;
            }
        }
    }
}
