<style>
    .description div:before{
        color:{{::dp.colorB}};
    }
</style>
<md-dialog class="promo-info-dialog">
    <md-toolbar ng-style="{'background': '{{::dp.colorA}}'}" >
        <md-button class="close" ng-click="dp.close()">
            <md-icon md-svg-icon="t:close"></md-icon>
        </md-button>
        <h1 ng-style="{'color': '{{::dp.colorB}}'}">Flashcard Lounch Contest</h1>
        <h2 ng-style="{'color': '{{::dp.colorB}}'}">Your chance to win $500</h2>
    </md-toolbar>
    <md-dialog-content>
        <div class="description offset-bottom" ng-style="{'background': '{{::dp.colorA}}'}">
            <div>Create a flashcard set on Spitball for any class to study for finals.</div>
            <div>Share your study set to receive as many “likes” as you can.</div>
            <div>The top 3 students with the most “likes” on their flashcard set will win cash prizes of $500, $250 and $100!</div>
        </div>
        <section class="rules">
            <h1 ng-style="{'color': '{{::dp.colorB}}'}">Rules</h1>
            <ul>
                <li>
                    <div class="icon-wrapper uni" ng-style="{'background': '{{::dp.colorB}}'}"><md-icon class="icon" md-svg-icon="t:universityMenu"></md-icon></div>
                    <div class="rule">You must be currently enrolled as a student at the {{::dp.uniName}}</div>
                </li>
                <li>
                    <div class="icon-wrapper like" ng-style="{'background': '{{::dp.colorB}}'}"><md-icon class="icon" md-svg-icon="b:like"></md-icon></div>
                    <div class="rule">The flashcard set must have a minimum of 10 likes to be considered a valid entry</div>
                </li>
                <li>
                    <div class="icon-wrapper original" ng-style="{'background': '{{::dp.colorB}}'}"><md-icon class="icon" md-svg-icon="t:original"></md-icon></div>
                    <div class="rule">Flashcards must contain original content and cannot be duplicated from another site or source</div>
                </li>
                <li>
                    <div class="icon-wrapper spy" ng-style="{'background': '{{::dp.colorB}}'}"><md-icon class="icon" md-svg-icon="t:spy"></md-icon></div>
                    <div class="rule">The contest will run until December 15, 2016, at which point the winners will be notified</div>
                </li>
            </ul>
        </section>
    </md-dialog-content>
</md-dialog>
