
<header layout="row">
    <div flex class="text-center text-capitalize">Create a Flashcard</div>
    <button flex="none" type="button" ng-click="f.close($event)" class="close" ga-track-event="['createFlashcard', 'close']"><md-icon md-svg-icon="t:close"></md-icon></button>
</header>
<div class="content">
    <div layout="row" layout-align="space-between center" class="flashcard-top">
        <form name="quizName" novalidate flex="50">
            <md-input-container flex="50">
                <input @*class="form-control"*@ name="name" @*ng-disabled="q.quizNameDisabled && q.quizData.name"*@ type="text"
                       placeholder="Enter flashcard name" autocomplete="off" autofocus required md-no-asterisk ng-model="f.data.name"
                       @*ng-model-options="{ updateOn: 'blur', debounce: {  blur: 0 } }" ng-blur="q.quizNameDisabled = true"*@ />
                @*<button type="button" ng-click="q.quizNameDisabled = false">*@@*</button>*@
                @*<div class="error-message" ng-messages="quizName.name.$error" ng-show="quizName.name.$touched">
                        <div ng-message="required">@GeneralResources.RequiredField</div>
                    </div>*@
            </md-input-container>
        </form>
        <button type="button" ng-click="f.create()" class="action-btn">Create</button>
    </div>
    <div class="flashcard-body">
        <div layout="row" layout-align="space-between center">

            <div flex="50">front</div>
            <md-button type="button" ng-click="f.flip()" class="flip-btn">
                <md-icon md-svg-icon="b:flashcard-arrow"></md-icon>
            </md-button>
            <div flex="50">back</div>
        </div>
        <ol ui-on-drop="true">
            <li id="drag{{$index}}" class="card-container" ui-on-drop="f.move($data,card)" layout="row" ng-repeat="card in f.data.cards">
            <card-form flex="50" slide="card.front" upload="f.upload"></card-form>
            <card-form flex="50" slide="card.cover" upload="f.upload"></card-form>
                <button type="button" class="drag-btn" drag="{{$index}}" ui-draggable="true" drag-image-element-id="'drag' + $index"><md-icon md-svg-icon="t:headerMenu"></md-icon></button>
                <button type="button" class="add-btn" ng-click="f.add($index)"><md-icon md-svg-icon="t:add"></md-icon></button>
            </li>
            <li ng-click="f.add()">add</li>

        </ol>
    </div>
</div>
<script type="text/ng-template" id="card-form.html">
    
   a {{f.data.name}}
    @*<img ng-src="{{slide.img}}" />*@
    <md-input-container class="md-icon-right">
        <textarea ng-model="slide.text"></textarea>
        <md-icon md-svg-icon="b:image-icon"></md-icon>
        <md-icon md-svg-icon="t:edit" plupload="upload.url"
                 plupload-options="upload.options(slide)"
                 plupload-callbacks="upload.callbacks"></md-icon>
    </md-input-container>



</script>
