
<header layout="row">
    <div flex class="text-center text-capitalize">Create a Flashcard</div>
    <button flex="none" type="button" ng-click="f.close($event)" class="close" ga-track-event="['createFlashcard', 'close']"><md-icon md-svg-icon="t:close"></md-icon></button>
</header>
<div class="content" interaction-done>
    <div layout="row" layout-align="space-between center" class="flashcard-top">
        <md-input-container flex="50">
            <input @*class="form-control"*@ name="name" @*ng-disabled="q.quizNameDisabled && q.quizData.name"*@ type="text"
                   placeholder="Enter flashcard name" autocomplete="off" autofocus required md-no-asterisk ng-model="f.data.name"
                   @*ng-model-options="{ updateOn: 'blur', debounce: {  blur: 0 } }" ng-blur="q.quizNameDisabled = true"*@ />
            @*<button type="button" ng-click="q.quizNameDisabled = false">*@@*</button>*@
            @*<div class="error-message" ng-messages="quizName.name.$error" ng-show="quizName.name.$touched">
                    <div ng-message="required">@GeneralResources.RequiredField</div>
                </div>*@
        </md-input-container>
        <button type="button" ng-click="f.create()" class="action-btn">Create</button>
    </div>
    <div class="flashcard-body">
        <div layout="row" layout-align="space-between center" class="header">

            <div flex="50">front</div>
            <md-button type="button" ng-click="f.flip()" class="flip-btn">
                <md-icon md-svg-icon="b:flashcard-arrow"></md-icon>
            </md-button>
            <div flex="50">back</div>
        </div>
        <ol ui-on-drop="true">
            <li id="drag{{$index}}" class="card-container" ui-on-drop="f.move($data,card)" layout="row" ng-repeat="card in f.data.cards" tabindex="1">
                <card-form flex="50" slide="card.front" upload="f.upload"></card-form>
                <card-form flex="50" slide="card.cover" upload="f.upload"></card-form>
                <div class="settings-btn" hide-gt-xs>
                    <md-icon md-svg-icon="t:settingMenu"></md-icon>
                </div>
                <button type="button" class="drag-btn" drag="{{$index}}" ui-draggable="true" drag-image-element-id="'drag' + $index"><md-icon md-svg-icon="t:headerMenu" tabindex="0"></md-icon></button>
                <button type="button" class="add-btn" ng-click="f.add($index)"><md-icon md-svg-icon="t:add" tabindex="0"></md-icon></button>
                <button type="button" class="remove-btn" ng-click="f.removeCard($index)"><md-icon md-svg-icon="t:close" tabindex="0"></md-icon></button>
            </li>
            <li layout="row" class="add-card" ng-click="f.add()">
                <div flex="50">
                    <md-icon md-svg-icon="t:add"></md-icon>
                </div>
                <div flex="50"></div>
            </li>

        </ol>
    </div>
</div>
<script type="text/ng-template" id="card-form.html">
    <md-input-container class="md-icon-right">
        <textarea ng-model="slide.text" tabindex="-1"></textarea>
        <md-icon ng-if="!slide.image" md-svg-icon="b:image-icon" plupload="upload.url"
                 plupload-options="upload.options(slide)"
                 plupload-callbacks="upload.callbacks" tabindex="0"></md-icon>
        <div class="image-container">
            <md-progress-circular ng-if="slide.uploadProgress" md-mode="determinate" md-diameter="50" value="{{slide.uploadProgress}}"></md-progress-circular>
            <img width="100" height="100" ng-src="{{slide.image}}" ng-if="slide.image" />
            <button type="button" class="remove-img" ng-click="" ng-if="slide.image"><md-icon md-svg-icon="t:close"></md-icon></button>
        </div>
    </md-input-container>
</script>
