<div ng-switch="f.step">
    <div ng-switch-when="0">
        <h1 ng-bind="::f.flashcard.name"></h1>
        <ng-pluralize count="::f.flashcard.cards.length"
                      when="{
                        '1': '1 card',
                        'other': '{} cards'
                      }"></ng-pluralize>
        <button type="button" ng-click="f.start()">start</button>
        <md-switch ng-model="f.shuffle">
            shuffle cards
        </md-switch>
    </div>
    <div ng-switch-when="1">
        <h4>cards</h4>
        <md-progress-linear md-mode="determinate" value="{{f.slidepos / f.flashcard.cards.length * 100}}"></md-progress-linear>
        <span>progress</span>
        <span>{{f.slidepos}}/{{::f.flashcard.cards.length}}</span>
        <button type="button" ng-click="f.style=true">front</button>
        <button type="button" ng-click="f.style=false">back</button>
        <button type="button" ng-click="f.style=null">both</button>
        <div ng-init="f.style=true" ng-class="{front: f.style==true,back:f.style==false,both:f.style==null}">
            <button type="button" ng-click="f.pin()" ng-class="{pinned:f.slide.pin}">pin</button>
            <div>
                <img ng-src="{{f.slide.front.image}}" ng-if="f.slide.front.image" alt="font image"/>
                <p>
                    {{f.slide.front.text}}
                </p>
            </div>
            <div>
                <img ng-src="{{f.slide.cover.image}}" ng-if="f.slide.cover.image" alt="font image"/>
                <p>
                    {{f.slide.cover.text}}
                </p>
            </div>
            <button type="button" ng-if="f.style !== null" ng-click="f.style = !f.style">flip</button>
        </div>
        <button type="button" ng-click="f.prev()">left</button>
        <button type="button" ng-click="f.next()">right</button>
    </div>
    <div ng-switch-when="2">
        <h1>Nice work!</h1>
        <h4>You just studied </h4>
        <ng-pluralize count="::f.flashcard.cards.length"
                      when="{
                        '1': '1 card!',
                        'other': '{} cards!'
                      }"></ng-pluralize>
        <button type="button" ng-click="f.start()">Start over</button>
        <button type="button">Study 2 pinned card</button>
        <md-switch ng-model="f.shuffle">
            shuffle cards
        </md-switch>
        <span>Enjoy this set? give it a like:</span>&nbsp;<button ng-click="f.like()">like</button>
        <button type="button" ng-click="f.prev()">left</button>
        <button type="button" disabled>right</button>
    </div>
</div>
