<div ng-switch="f.step" * class="flashcard-wrapper">
    <div ng-switch-when="0" class="card-template step-1">
        <div class="content">
            <h1 ng-bind="::f.flashcard.name"></h1>
            <ng-pluralize count="::f.flashcard.cards.length"
                          when="{
                        '1': '1 card',
                        'other': '{} cards'
                      }"></ng-pluralize>
            <button type="button" class="action-btn" ng-click="f.start()">start</button>
            <button type="button" class="action-btn" ng-if="::f.pinCount" ng-click="f.startPin()">
                Study <ng-pluralize count="::f.pinCount"
                                    when="{
                        '1': '1 pin',
                        'other': '{} pinned'
                      }"></ng-pluralize>
            </button>
            <div class="shuffle">
                <md-icon md-svg-icon="b:shuffle"></md-icon>
                <md-switch ng-model="f.shuffle">
                    shuffle cards
                </md-switch>
            </div>
        </div>
    </div>
    <div ng-switch-when="1" class="step-2">
        <div class="header">
            <div class="progress-wrapper">
                <div class="title">
                    <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    <h4>cards</h4>
                </div>
                <md-progress-linear md-mode="determinate" value="{{f.slidepos / f.fc.length * 100}}"></md-progress-linear>
                <div class="progress-text">
                    <span>progress</span>
                    <span>{{f.slidepos}}/{{::f.flashcard.cards.length}}</span>
                </div>
            </div>
            <div class="card-sides">
                <button type="button" ng-click="f.style=true" ng-class="{active:f.style===true}">
                    <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    front
                </button>
                <button type="button" ng-click="f.style=false" ng-class="{active:f.style===false}">
                    <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    back
                </button>
                <button type="button" ng-click="f.style=null" ng-class="{active:f.style===null}">
                    <md-icon md-svg-icon="b:flashcard-icon"></md-icon>
                    both
                </button>
            </div>
        </div>
        <div class="card-template" ng-init="f.style=true" ng-class="{front: f.style==true,back:f.style==false,both:f.style==null}">
            <button type="button" class="pin-btn" ng-click="f.pin()" ng-class="{pinned:f.slide.pin}">
                <md-icon md-svg-icon="b:pin"></md-icon>
            </button>
            <div class="card-content">
                <div class="side front">
                    <div class="img-container" ng-if="f.slide.front.image">
                        <img ng-src="{{f.slide.front.image}}" alt="font image" />
                    </div>
                    <div class="text-container">
                        <p ng-bind="f.slide.front.text" fit-text></p>
                    </div>
                </div>
                <div class="side back">
                    <div class="img-container" ng-if="f.slide.cover.image">
                        <img ng-src="{{f.slide.cover.image}}" alt="font image" />
                    </div>
                    <div class="text-container" @*fit-text ng-bind="f.slide.cover.text"*@>
                        <p ng-bind="f.slide.cover.text" fit-text></p>
                    </div>
                </div>
            </div>
            <button type="button" class="flip-btn" ng-if="f.style !== null" ng-click="f.style = !f.style">
                <md-icon md-svg-icon="b:flip"></md-icon>
                Click to flip
            </button>
        </div>
        <button type="button" ng-click="f.prev()">left</button>
        <button type="button" ng-click="f.next()">right</button>
    </div>
    <div ng-switch-when="2">
        <h1>Nice work!</h1>
        <h4>You just studied </h4>
        <ng-pluralize count="::f.fc.length"
                      when="{
                        '1': '1 card!',
                        'other': '{} cards!'
                      }"></ng-pluralize>
        <button type="button" ng-click="f.start()">Start over</button>
        <button type="button" class="action-btn" ng-if="::f.pinCount" ng-click="f.startPin()">
            Study <ng-pluralize count="::f.pinCount"
                                when="{
                        '1': '1 pin',
                        'other': '{} pinned'
                      }"></ng-pluralize>
        </button>
        <md-switch ng-model="f.shuffle">
            shuffle cards
        </md-switch>
        <span>Enjoy this set? give it a like:</span>&nbsp;<button ng-click="f.like()" ng-class="{liked:f.flashcard.like}">like</button>
        <button type="button" ng-click="f.prev()">left</button>
        <button type="button" disabled>right</button>
    </div>
</div>
