@using Zbang.Cloudents.Mvc4WebRole.Views.User.Resources
@helper AppInsight()
{
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '7f8df0c1-018b-4f0c-95bc-0441481acf0a'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
}

@helper UserGamification(string alias)
{
    <div class="gamification-header">
        <div class="gamification-data">
            <span class="title">@GamificationResources.Rank</span>
            <span class="value" ng-bind="::@(alias).rank"></span>
        </div>
        <div class="middle">
            <div class="image-progress">
                <md-progress-circular md-mode="determinate" value="{{@(alias).progress}}" md-diameter="120px"></md-progress-circular>
                <user-image class="img-circle" name="::@(alias).name" image="::@(alias).image" width="35" height="110" @*noremove="true"*@></user-image>
            </div>
            <span class="name" ng-bind="::@(alias).name"></span>
            <span class="level" ng-bind="::@(alias).levelName"></span>
        </div>
        <div class="gamification-data">
            <span class="title">@GamificationResources.Points</span>
            <span class="value" ng-bind="::@(alias).points"></span>
        </div>
    </div>
}
