@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="popupWrppr invite" data-strap="invitapp">
    <header class="popupHeader"><span class="invHeader boldFont">@DialogResources.InviteTo</span>&nbsp;<q><span id="iboxName" class="iBoxName"></span></q>‎</header>
    @using (Ajax.BeginForm("InviteBox", "Share", null, new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "mmc.inviteSuccess",
        //OnBegin = "Share.ValidateShareForm"
    }, new { id = "fInvite", @class = "popupForm" }))
    {
        Html.RenderPartial("_MailPopUp", new Zbang.Cloudents.Mvc4WebRole.Models.Message { BoxUid = ViewBag.boxid }); 
        <button type="button" class="closeDialog uploadSprite"></button>
        <input type="button" id="iCancel" class="btn2 cancel" value="@DialogResources.Cancel" />
        <input type="submit" class="btn1 next" value="@DialogResources.Send"/> 
   }

</div>
