<script type="text/ng-template" id="boxHeaderSearch">
    <a class="searchLink" ng-href="{{::box.url}}">
        <div class="vCentered" data-letter="{{::box.nameWithoutHighLight[0]}}">
            <h3 class="elps" ng-bind-html="::box.name"></h3>
            <div class="courseId" ng-bind-html="::box.courseCode"></div>
            <div ng-bind-html="::box.proffessor"></div>
        </div>
    </a>
</script>

<script type="text/ng-template" id="quizHeaderSearch">
    <a class="searchLink" ng-href="{{::quiz.url}}">
        <div class="vCentered">
            <h3 class="elps" ng-bind-html="::quiz.name"></h3>
            <div class="elps">{{::quiz.boxname}} - {{::quiz.uniName}}</div>
            <div class="content" ng-bind-html="::quiz.content"></div>
        </div>
        <div class="searchImg" data-letter="{{::quiz.nameWithoutHighLight[0]}}">
            @Html.Svg("~/Images/Defs.svg", "quiz-bg", new { @class = "svg-quizBg" })
            <div class="elps boxName">{{::quiz.nameWithoutHighLight}}</div>           
        </div>
    </a>
</script>

<script type="text/ng-template" id="itemHeaderSearch">
    <a class="searchLink" ng-href="{{::item.url}}">
        <div class="vCentered">
            <h3 class="elps" ng-bind-html="::item.name"></h3>
            <div class="elps">{{::item.boxname}} - {{::item.uniName}}</div>
            <div class="content" ng-bind-html="::item.content"></div>
        </div>
        <img class="searchImg" width="63" height="88" ng-src="{{::item.image}}" alt="" />
    </a>
</script>