@*@model Zbang.Zbox.ViewModel.Dto.UserDtos.UserDetailDto*@
@using Zbang.Cloudents.Mvc4WebRole.Views.Account.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<span ng-if="$root.user.isAuthenticated">
    <ul class="userNav">
        <li class="navItem navUser" ng-controller="UserDetailsCtrl" bindonce>
            <a bo-href="user.url" class="userAnchor">
                <img id="userImg" bo-src="user.image" class="lFloat userImg" alt="user image" width="36" height="36" />
                @*data-id we need for old code*@
                <div id="userName" class="userName elps" bo-attr bo-attr-title="user.name" bo-text="user.firstName"></div>
                <div id="userPts" class="userPts" data-points="&nbsp;@SharedResources.Pts" bo-text="user.score" user-points></div>
            </a>
        </li>
    </ul>
    @{Html.RenderPartial("_SettingsAuth");}
</span>

<span ng-if="!$root.user.isAuthenticated">
    <ul class="userNav">
        <li class="navItem signUp">
            <button class="btn addRegister" login-btn="register">@LogOnResources.SignUp</button>
            <button class="btn addConnect" login-btn>@SharedResources.SignIn</button>
        </li>
    </ul>
    @{Html.RenderPartial("_SettingsUnauth");}
</span>