<div id="FriendsSection" data-strap="dashboardfriend">
    <h4 class="sectiontitle">@Zbang.Zbox.Mvc3WebRole.Views.Dashboard.Resources.IndexResources.Friends</h4>
    <ul class="friendsList" data-bind="template: { name:'friends-template', foreach: friends }"></ul>
</div>