<div class="inlineSearch" id="InlineSearch" data-strap="dashboardInlineSearch">
    <form>
        <input placeholder="@Zbang.Zbox.Mvc3WebRole.Views.Dashboard.Resources.IndexResources.InlineSearch" type="text" data-bind="value: search, valueUpdate: 'afterkeydown'" />
        <input type="submit" value="" data-bind="click: inlineSearch" />
    </form>
</div>