<div id="wallSection" class="wallSection" data-strap="dashboardWall">
    <h4 class="sectiontitle">Wall</h4>
    <ol class="wallPosts" data-bind="template: { name: 'wall-template', foreach: activity }"></ol>
</div>

