@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div id="Library" style="display: none;">
    <input class="rFloat" type="search" placeholder="Search the Academic bank" />
    @{Html.RenderPartial("_Library");}
</div>
<div id="My" style="display: none">
    @{Html.RenderPartial("_Boxes");}
</div>
@{
    Html.RenderPartial("_Template");
}

