/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-Images-HomePage2-testimonial1() {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_en.jpg') -1px -1px;
}
.sprite-Images-HomePage2-testimonial2() {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_en.jpg') -1px -112px;
}
.sprite-Images-HomePage2-testimonial3() {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_en.jpg') -1px -223px;
}
.sprite-Images-HomePage2-testimonial4() {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_en.jpg') -1px -334px;
}
