/*
This is an example of how to use the image sprite in your own CSS files
*/
.Images-HomePage2-testimonial1_he {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_he.jpg') -1px -1px;
}
.Images-HomePage2-testimonial2_he {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_he.jpg') -1px -112px;
}
.Images-HomePage2-testimonial3_he {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_he.jpg') -1px -223px;
}
.Images-HomePage2-testimonial4_he {
/* You may have to set 'display: block' */
	width: 110px;
	height: 110px;
	background: url('testimonials_he.jpg') -1px -334px;
}
