@import "../../../../mixin.less";

.registration .step-wrapper {


  .phone-field {
    margin-top: 24px;
    padding-left: 36px;
  }
  .code-field {
    margin-top: 20px;
    padding-left: 50px;
    margin-bottom: 4px;
  }
  .continue-btn {
    margin-top: 40px;
    &.submit-code{
        margin-top: 12px;
    }
  }
  .phone-num{
    margin-top: 6px;
  }
  .confirm-title{
    letter-spacing: -0.3px;
  }
}