<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="ZBox"
       connectionString="Server=tcp:on0rodxe8f.database.windows.net;Database=ZBoxNew;User ID=ZBoxAdmin@on0rodxe8f;Password=Pa$$W0rd;Trusted_Connection=False;Encrypt=True;"
       providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DataCache" value="AzureMVC1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BeitBerlAgudatStudentID" value="322" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlToRedirect" value="https://www.multimicloud.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="RemoveAttributes(debug)" />

    <sessionState xdt:Transform="Insert" mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="default"
             useBlobMode="true"
             dataCacheClientName="default" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer xdt:Transform="Insert">
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" location="Client" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" location="Client" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" location="Client" />
      </profiles>
    </caching>
    <rewrite>
      <rules>
        <rule name="non www to wwww" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="multimicloud.com" />
          </conditions>
          <action type="Redirect" url="https://www.multimicloud.com/{R:0}" />
        </rule>
      </rules>
    </rewrite>
    <!--<httpProtocol allowKeepAlive="true">
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>-->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />

  </system.webServer>
</configuration>