
@-webkit-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-moz-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-ms-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@-o-keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}

@keyframes color_change_doc_type {
  from {
    background-color: transparent
  }
  to {
    background-color: @uploadGreyBackground;
  }
}