@import "../../mixin.less";

.place-cell {
    position: relative;
    .imageWrapper(96px,120px);
    width: 100%;
    text-align: left;
    background: #fff;

    .cell-title {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.4px;
        color: @Food;
    }

    .rate {
        margin-top: 2px;

        .vue-star-rating {
            margin-left: 2px; //
            > span {
                margin-left: 2px;
            }
        }

        span {
            font-size: 14px;
            letter-spacing: -0.3px;
            color: @Feed-Like-count;
        }
    }

    .address {
        font-size: 12px;
        letter-spacing: 0.1px;
        color: @Book-Info;
    }

    .hooked-container {
        background-color: #69B74A;
        position: absolute;
        right: 8px;
        bottom: -8px;
        padding: 3px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;

        .logo {
            margin: 4px 0 -5px 0;
        }

        .text {
            color: @color-white;
            font-size: 12px;
            letter-spacing: -0.3px;
        }
    }

    .bottom {
        font-size: 14px;
        letter-spacing: -0.3px;
        color: @Feed-Like-count;
        .flexSameSize();
        margin-bottom: 4px;
    }

    .imageWrapper(96px,120px,39px);

    .img-wrap {
        .flexSameSize();
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #2cbfa5;
    }

    @media(max-width: @screen-xs) {
        iframe {
            max-height: 100vh;
        }
    }
}


.loading-skeleton {

    .cell-title, .rate-num, .address, .bottom {
        background: @Site-Background;
        color: transparent !important;
    }

    .img-wrap {
        background: @Site-Background !important;
        border: none;

        svg {
            display: none;
        }
    }

    .cell-title {
        font-size: 12px;
        line-height: 0;
    }

    .rate-num, .address, .bottom {
        font-size: 7px !important;
        line-height: 7px;
    }

    .vue-star-rating {
        display: none !important;
    }

    .bottom {
        display: none;
    }
}
