@import "../../mixin.less";

@media(max-width: @screen-xs) {

    .food-detail {
        height: 100%;

        .d-block {
            position: fixed;
            bottom: 0;
            background: #fff;
            border-radius: 4px;
            width: calc(~"100% - 16px");

        }
            iframe {
                height: 100%;
                width: 100%;
                margin: 0 !important;
            }
    }
}
