<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00" />
    </staticContent>
    <httpCompression
          noCompressionForHttp10="false"
          noCompressionForProxies="false"
          sendCacheHeaders="true"
          minFileSizeForComp="0" />
  </system.webServer>
</configuration>
