<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="180.00:00:00"  />
      
    </staticContent>
    <httpCompression noCompressionForHttp10="false" noCompressionForProxies="false" sendCacheHeaders="true" minFileSizeForComp="0" />
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />  
        <add name="Access-Control-Allow-Origin" value="*" />
        <remove name="Strict-Transport-Security" />
        <add name="Strict-Transport-Security" value="max-age=0" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
