@using System.Globalization

<a href="#" as data-toggle="dropdown">@CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToUpper()</a>
<div class="dropdown-menu">
    @foreach (var lang in Startup.SupportedCultures.Where(w => !Equals(w, CultureInfo.CurrentCulture)))
    {
        <a asp-action="SetLanguage" asp-route-culture="@lang.Name" class="dropdown-item">@lang.TwoLetterISOLanguageName.ToUpper()</a>
    }
</div>