@import "../../styles/mixin.less";



.cell-title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.3px;
    .giveMeEllipsisOne();
    max-width: ~"calc(100% - 5px)";
    display: block;

    &.text-note {
        //TODO ui change
        //color: @color-dark-purple;
        color: @color-main-purple
    }

    //.giveMeEllipsis(1,1.14);
    //margin-right: 40px;
}

.right-section {
    min-width: 0; // elipsis casus issue this is the solution
    margin-left: 2px;
    margin-right: 36px;

    @media(max-width: 599px) {
        margin-right: 0;
    }

    .item-data {
        max-width: 100%;
    }
}

.snippet-wrap {
    margin-top: 4px;
    margin-bottom: 8px;

    .snippet {
        font-size: 14px;
        color: #000;
        height: 72px;
        //margin-right: 40px;
        line-height: 1.29;
        letter-spacing: -0.3px;
        overflow: hidden;
        //.giveMeEllipsis(4,1.29);
        .giveEllipsisUpdated(2, 1.29, 4);

    }
}



.bottom-wrap {
    flex-grow: 0;
    .flexSameSize();

    .bottom {
        color: #9b9b9b;
        font-size: 12px;
        letter-spacing: -0.03em;
    }
}

.imageWrapper(118px,160px,39px);

@media only screen and (max-device-width : 600px) {
    .imageWrapper(88px,120px, 32);
}

.img-wrap {
    .flexSameSize();
    box-shadow: 0 0 1px black;
}