@import "../../mixin.less";



.studyblue {
    padding: 16px;
    outline: none;
    .responsive-property(min-height, 160px, null, 120px);

    .cell-text {
        text-align: left;
        margin-left: 16px;
    }

    img {
        width: 72px;
        height: 72px;
    }
}
