@import "../../styles/mixin.less";

.suggestCard-container{
    border-radius: 4px;
    background: #FFF;
    width: 100%;
    padding: 0;
    line-height: normal;
    @media(max-width: @screen-xs) {
        padding: 18px 13px;
    }
    .suggestCard-sections{
        .suggestCard-texts{
            color: #000;
            .responsive-property(max-width, 65%, null, 100%);
            .responsive-property(padding, 30px 16px, null, 0);
            h3{
              .responsive-property(font-size, 18px, null, 20px);
            }
            h4{
                padding-top: 11px;
                font-weight: normal;
                line-height: normal;
                color: @global-purple;
                .responsive-property(font-size, 16px, null, 12px);
                .responsive-property(padding-bottom, 0, null, 12px);

            }
        }
        .suggestCard-btn-section{
            display: flex;
            .responsive-property(width, 35%, null, 100%);
                justify-content: flex-end;
                .responsive-property(padding-right, 32px, null, 0px);
                @media(max-width: @screen-xs) {
                    justify-content: flex-start;
                }
            button{
                outline: none;
                border: solid 1px rgba(68, 82, 252, 0.38);
                font-size: 14px;
                font-weight: bold;
                color: @global-blue;
                background-color: #FFF;
                border-radius: 60px;
                padding: 10px 20px
            }
        }
    }
}

.suggest {
    background: #FFF;
    width: 100%;
    //cursor: pointer;
    border-radius: 4px;
    color: #000;
    text-align: start;
    font-size: 16px;

    .container {
        padding: 14px 8px;
        display: flex;
        flex-direction: column;

        @media(max-width: @screen-md) {
            padding: 8px;
            flex-direction: row;
            align-items: center;
            min-height: 72px;
        }

        .wrapper {
            .action {
                color: @color-blue;
            }
        }

        .icon {
            display: flex;
            align-items: center;
            padding: 0 20px 3px 20px;
            flex-grow: 0;

            svg {
                width: 56px;
            }
        }

        .text {
            margin: 16px 0 14px 0;

            @media(max-width: @screen-md) {
                margin: 2px 0;
            }
        }
    }
}
