@import "../../mixin.less";

.settings.dialog__content.dialog__content__active {
    background-image: linear-gradient(328deg, #3293f6, #3023ae);
}

.dialog-choose {
    background-image: linear-gradient(328deg, #3293f6, #3023ae);

    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #A8A8A8;
        outline: 1px solid #A8A8A8;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: @color-light-grey-2;
        opacity: 0.5;
    }

    .navigation-buttons {
        font-size: 22px;
        font-weight: 600;

        .sbf-arrow-button {
            transform: rotate(-90deg);
            color: white;
            font-size: 10px;
            margin-top: -7px;
        }
    }

    .d-header {
        button {
            height: 100%;

            svg {
                fill: white;
            }
        }

        .title-text {
            padding: 72px 0 24px 0;

            img {
                width: 64px;
                height: 64px;
            }

            h1 {
                font-size: 60px;
                font-weight: 300;
                color: white;
                text-align: center;
            }

            h5 {
                margin-bottom: 0;
                font-size: 24px;
                font-weight: 600;
                line-height: 1.21;
                letter-spacing: -0.5px;
                //text-align: center;
                color: white;
            }
        }

        .search-b {
            border-radius: 4px;
        }
    }

    .d-wrapper {
        max-width: 784px;
        margin: 0 auto;
        max-height: 100vh;
        height: 100%;

        .loader {
            height: auto;
            position: absolute;
            top: ~"calc(50% - 25px)";
            right: ~"calc(50% - 25px)";
            width: auto;
        }


        .selected-items {
            .chip__content {
                background: white;
                padding: 8px 0 8px 8px;
                border-radius: 4px;
                overflow: hidden;

                .name {
                    color: @color-blue;
                    font-weight: normal;
                }

                .close {
                    display: flex;
                    align-items: center;
                    height: 26px;

                    svg {
                        width: 10px;
                        height: 10px;
                        fill: @Feed-Date;
                    }
                }
            }
            /*.first-time-message {
                width: 100%;
                border: 1px solid white;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
                font-size: 20px;
                padding: 24px 36px;
                font-weight: 100;
                position: relative;

                b {
                    font-weight: 600;
                }

                button {
                    @button-width: 26px;
                    position: absolute;
                    top: -@button-width/2 + 4px;
                    right: -@button-width/2 + 4px;
                    background: white;
                    border-radius: 100%;
                    width: @button-width;
                    height: @button-width;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        fill: @color-blue;
                        width: 12px;
                        height: 12px;
                    }
                }
            }*/
        }

        .results-container {
            overflow-y: auto;

            .result {
                flex-grow: 0;
            }

            .uni, .course{
            cursor: pointer;
            }
            .uni {
                width: 96px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                line-height: 1.17;
                letter-spacing: -0.5px;

                .image {
                    border-radius: 4px;
                    overflow: hidden;
                    height: 96px;
                    width: 96px;
                    background-color: white;
                    background-size: contain;
                    background-position: center;
                }
            }

            .course, .add-course-form {
                width: 136px;
                border-radius: 4px;
                overflow: hidden;
                height: 144px;
            }

            .course {

                .code {
                    height: 50%;
                    font-size: 16px;
                    background: @color-blue;
                    color: white;
                    text-align: center;
                }

                .name {
                    background: white;
                    height: 72px;
                }
            }

            .add-course-form {
                width: 280px;
                color: white;
                font-weight: 100;
                border: 1px solid white;

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    height: 100%;

                    .form-title {
                        font-size: 16px;
                        padding-bottom: 10px;
                    }


                    .input-group {
                        padding: 0;
                    }

                    .input-group__input {
                        align-items: flex-end;
                    }

                    input {
                        font-size: 14px;
                    }

                    .actions {
                        display: flex;
                        justify-content: space-between;

                        button {
                            width: ~"calc(50% - 8px)";
                            margin: 0;
                            color: white;
                            height: 24px;

                            &.save {
                                background: @color-blue;
                            }

                            &.clear {
                                background: #9b9b9b;
                            }
                        }

                        .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
                            background-color: #bbbbbb !important;
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    &:before {
        background-color: #eee;
        opacity: 0.95;
    }

    &:after {
        filter: blur(20px);
    }
}
