@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<script type="text/ng-template" id="quizChallenge.html">
    <h4>Time to</h4>
    <h5>take a quiz</h5>
    <div class="classmates backgrounds">
        <div>
            <div ng-repeat="user in ::q.topUsers">
                <user-image class="img-circle c-img" name="::user.name" image="::user.image" width="25" height="25"></user-image>
            </div>
        </div>
        <span>{{::q.classmatesCount}} of your classmates took this quiz</span>
    </div>
    <div class="ready backgrounds">
        @Html.Svg("/images/site/quizicons.svg", "bald")
        <span>Are you read to test yourself?</span>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-default scared" ng-click="q.afraid()">Not yet, I'm scared</button>
        <button type="button" class="btn btn-primary chance" ng-click="q.start()">Take a chance</button>
    </div>
</script>


<script type="text/ng-template" id="quizGoodJob.html">
    <div class="goodjob">
        <h5 class="text-uppercase good">Good </h5>
        <h4 class="text-uppercase"> job</h4>
    </div>
    <div class="complete backgrounds">
        @Html.Svg("/images/site/quizicons.svg", "checkmark")
        <span>you have completed the quiz</span>
    </div>
    <div class="ranking backgrounds">
        @Html.Svg("/images/site/quizicons.svg", "rank")
        <span>you have answered {{q.answersCount}}/{{::q.questions.length}}</span>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-default scared" ng-click="q.back()">Go back and check</button>
        <button type="button" class="btn btn-primary chance" ng-click="q.checkAnswers()">Submit</button>
     </div>
</script>


