@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<script type="text/ng-template" id="quizScore.html">    
    <div class="modal-body">
        <div class="time">            
            @Html.Svg(svgUrl, "clock", new { @class = "clock" })
            <span>{{::s.sheet.timeTaken}}</span>
        </div>

        <div class="score">
            <div class="title">
                Your score:
            </div>
            <div class="number">
                {{::s.sheet.score}}
            </div>
        </div>

        <div class="results">
            <div class="correct">
                @Html.Svg(svgUrl, "correct", new { @class = "correct" })
                <div class="section">
                    <div class="number">{{::s.sheet.correct}}</div>
                    <div class="title">Correct</div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="wrong">                
                <div class="section">
                    <div class="number">{{::s.sheet.wrong}}</div>
                    <div class="title">Wrong</div>
                </div>
                @Html.Svg(svgUrl, "wrong", new { @class = "wrong" })
            </div>
        </div>

        <div class="top-quiz">Top three for this quiz:</div>

        <ul class="top-users">
            <li class="top-user" ng-repeat="user in s.topUsers">
                <img ng-src="{{user.image}}" />
                @Html.Svg(svgUrl, "star", new { @class = "star" })
                
            </li>
        </ul>


        <div class="button-wrapper">
            <button class="retake" type="button" ng-click="s.retakeQuiz()">Retake quiz</button>
            <button class="answers" type="button" ng-click="s.seeAnswers()">See your answers</button>
        </div>
    </div>    
</script>


