@*THIS IS THE ANGULAR/BOOTSTRAP DIALOG STRUCTURE*@
@*<div class="modal-backdrop fade in"  style="z-index: 1051;"></div> <- TO REMOVE

    <div class="modal-dialog"><- TO REMOVE
        <div class="modal-content"><- TO REMOVE
            <div class="modal-body"><- KEEP THIS

            </div>
        </div>
    </div>*@

<div class="modal-backdrop fade in" style="z-index: 1051;"></div>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="quizPopupHeader"></div>
            <div class="classmatesWpr">
                <img alt="" src="http://placehold.it/51x51" />
                <img alt="" src="http://placehold.it/51x51" />
                @*<span></span>*@
                <img alt="" src="http://placehold.it/51x51" />
                <img alt="" src="http://placehold.it/51x51" />
            </div>
            <div class="quizPopupTxt1"></div>
            <div class="quizPopupTxt2"></div>
            <div class="quizPopupBtnWpr">
                <button class="btn1"></button>
                <button class="btn1"></button>
            </div>
        </div>
    </div>
</div>

