@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<script type="text/ng-template" id="quizChallenge.html">    
    <div class="modal-body">
        @Html.Svg(svgUrl, "quiz", new { @class = "quiz-icon" })
        
        <div class="quiz-time">Time to take a quiz</div>


        <ul class="top-users">
            <li class="top-user" ng-repeat="user in c.topUsers">
                <user-image name="user.name" image="user.image" width="64" height="64"></user-image>
            </li>
        </ul>

        <div class="classmates">{{c.classmatesCount}} of your classmates took tihs quiz</div>
        <div class="ready">Are you ready to test yourself?</div>

        <div class="button-wrapper">
            <button class="chance" type="button" ng-click="c.chance()">Take a chance</button>
            <button class="scared" type="button" ng-click="c.scared()">Not yet, i'm scared</button>
        </div>
    </div>    
</script>


