@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<script type="text/ng-template" id="quizChallenge.html">
    <h4>Time to</h4>
    <h5>take a quiz</h5>
    <div class="classmates backgrounds">
        <div>
            <div ng-repeat="user in ::q.topUsers">
                <user-image class="img-circle c-img" name="::user.name" image="::user.image" width="25" height="25"></user-image>
            </div>
        </div>
        {{::q.classmatesCount}} of your classmates took this quiz
    </div>
    <div class="ready backgrounds">
        @Html.Svg("/images/site/quizicons.svg", "bald")
        <div>
            <span>Are you read to test yourself?</span>
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-default scared" ng-click="q.afraid()">Not yet, I'm scared</button>
        <button type="button" class="btn btn-primary chance" ng-click="q.start()">Take a chance</button>
    </div>
</script>


<script type="text/ng-template" id="quizGoodJob.html">
    <h4>Good job</h4>
    <h5>you have completed the quiz</h5>
    <div class="backgrounds">you have answered {{q.answersCount}}/{{::q.questions.length}}</div>
    <button type="button" ng-click="q.back()">Go back and check</button>
    <button type="button" ng-click="q.checkAnswers()">Submit</button>
</script>


