@{
    const string svgUrl = "~/images/site/quizIcons.svg";
}

<script type="text/ng-template" id="quizChallenge.html">    
    Time to take a quiz

    {{::q.classmatesCount}} of your classmates took this quiz

    Are you read to test yourself?

    <button type="button" ng-click="q.afraid()">Not yet, I'm scared</button>
    <button type="button" ng-click="q.start()">Take a chance</button>
</script>


