<div class="full-screen quiz-create">
    <header>
        <div class="text-center create-quiz-header">create a quiz</div>
        <a class="close" href="{{::q.boxUrl}}">X</a>
    </header>
    <div class="not-supported">this is not supported section</div>
    <form class="supported" ng-submit="q.publish()" novalidate name="createQuiz">
        <span>Course: Name</span>
        <input type="text" class="form-control quiz-name" placeholder=" choose quiz name" autofocus required ng-model="q.name" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" ng-change="q.saveName()" />
        <ol>
            <li class="question" ng-repeat="question in q.questions">
                <div class="" placeholder="question #{{$index + 1}}" ng-blur="q.saveQuestion(question)" text-angular ta-text-editor-class="question-content" ng-model="question.text"></div>
                <span class="answers-header">Answers:</span>
                <ol class="answers">
                    <li class="answer" ng-repeat="answer in question.answers">
                        <div class="form-inline">
                            <input type="text" class="form-control" ng-model=" answer.text" placeholder="Answer {{$index + 1}}" />
                            <input type="radio" name="question {{$parent.$index}}" ng-checked="answer.id === question.correctAnswer" />
                        </div>
                    </li>
                </ol>
            </li>

        </ol>
        <button type="button" ng-click="q.addQuestion()">+ add question</button>
        <button type="submit" class="btn btn-primary">publish</button>
        <button type="button" class="pull-right">preview quiz</button>
    </form>
</div>