
@{
    const string svgUrl = "~/images/site/itemIcons.svg";
}

<div class="itemPage quizPage">
    <header>
        <div class="stop-watch-wrapper">
            @Html.Svg(svgUrl, "clock")
            <stopwatch control="q.timerControl"></stopwatch>
        </div>
        <a class="closeItem" href="{{::q.boxUrl}}">@Html.Svg(svgUrl, "close")</a>
    </header>

    <div class="itemContent">
        <div class="fileName">{{::q.name}}</div>
        <div class="questions">
            <ul class="question-list">
                <li class="question" ng-repeat="question in ::q.questions">
                    <div ng-bind-html="question.text"></div>

                    <ul class="answer-list">
                        <li class="answer" ng-repeat="answer in question.answers">
                            <input id="{{::q.createId(answer)}}" type="radio" name="{{::q.createId(question)}}" /> 
                            <label for="{{::q.createId(answer)}}" ng-bind-html="answer.text"></label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" ng-click="q.checkAnswers()">check answers</button>
    </div>
</div>