@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="searchPage page" id="search" data-data="@ViewBag.data">
    <div class="sTabs sTab2">
        <button type="button" data-stab-count="7">Courses&nbsp;</button>
        <button type="button" data-stab-count="63">Materials&nbsp;</button>
        <button type="button" data-stab-count="11">Members&nbsp;</button>
    </div>
    <div class="arrow upArrow"></div>
    <h2 class="semiFont" data-resultcount="7">&nbsp;results for <q>math</q></h2>
    @*Guy: please add the class 'noResults' when user query produces no search results*@
    <div class="sTabContent">
        <section class="sCourses">
            <ul id="sCourseList" class="sCourseList"></ul>
        </section>
        <section class="sMaterials">
            <ul id="sMaterialsList" class="sMaterialsList"></ul>
            <div class="splitHR"><span class="splitHRText">Results from other universities</span></div>
            <ul id="sOtherMaterialsList" class="sMaterialsList"></ul>
        </section>
        <section class="sMembers">
            <ul id="sMembersList" class="sMembersList"></ul>
        </section>
        <div class="emptySearch">No results were found</div>
    </div>
</div>


<script type="text/html" id="sCourseItemTemplate">
    <li class="box sCourseItem">
        <a data-navigation="box" href="{{url}}" title="{{name}}">
            <img class="lFloat boxImg" alt="" width="77" height="98" src="{{image}}">
            <div class="sTitle">{{name}}</div>
            @*Guy: Add the 'allDetails' class to the professor when we have both prof and code values*@
            <span class="sDetail {{allDetails}}">{{proffessor}}</span>
            <span class="sDetail">{{courseCode}}</span>
        </a>
    </li>
</script>

<script type="text/html" id="sMaterialItemTemplate">

    <li class="sMaterialsItem">
        <a class="sMaterialLink" data-navigation="item" href="{{url}}">
            <div class="sOtherUni semiFont">{{universityName}}</div>
            <img class="lFloat imgBorder sMaterialImg" alt="" width="110" height="141" src="{{image}}">
            <div class="sTitle">{{name}}</div>
            <div class="sSnippet">{{content}}</div>
            <div class="stars">
                <div class="full" style="width:{{width}}px;"></div>
            </div>
            <div title="@SharedResources.Views" class="views">{{views}}</div>
        </a>
    </li>
</script>

<script type="text/html" id="sMemberItemTemplate">
    <li class="sMembersItem">
        <a href="{{url}}" data-navigation="user">
            <img class="imgBorder lFloat" src="{{image}}" width="74" height="74" />
        </a>
        <div class="sMemberName elps">{{name}}</div>
        <button type="button" title="@DialogResources.SendMessage" class="inviteUserBtn"></button>
    </li>
</script>
