@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<div class="searchPage page" id="search" data-data="@ViewBag.data">
    <div id="sTabsMenu" class="sTabs sTab1">
        <button id="sTabCourses" type="button" data-type="courses" data-stab-count="0">Courses&nbsp;</button>
        <button id="sTabMaterials" type="button" data-type="materials" data-stab-count="0">Materials&nbsp;</button>
        <button id="sTabMembers" type="button" data-type="members" data-stab-count="0">Members&nbsp;</button>
    </div>
    <div class="arrow upArrow"></div>
    <h2 id="sTabResults"class="semiFont searching" data-resultcount="0"><span class="sResult">&nbsp;results for </span><span class="sResult">Searching for </span><q id="sSearchTerm"></q></h2>
    @*Guy: please add the class 'noResults' when user query produces no search results*@
    <div id="sTabContent" class="sTabContent">
        <section class="sCourses">
            <ul id="sCourseList" class="sCourseList" data-list="courses"></ul>
        </section>
        <section class="sMaterials">
            <ul id="sMaterialsList" class="sMaterialsList" data-list="materials"></ul>
            <div class="splitHR"><span class="splitHRText">Results from other universities</span></div>
            <ul id="sOtherMaterialsList" class="sMaterialsList"></ul>
        </section>
        <section class="sMembers">
            <ul id="sMembersList" class="sMembersList" data-list="members"></ul>
        </section>
        <div class="emptySearch">No results were found</div>
    </div>
</div>


<script type="text/html" id="sCourseItemTemplate">
    <li class="box sCourseItem">
        <a data-navigation="box" href="{{url}}" title="{{name}}">
            <img class="lFloat boxImg" alt="" width="77" height="98" src="{{image}}">
            <div class="sTitle">{{name}}</div>
            @*Guy: Add the 'allDetails' class to the professor when we have both prof and code values*@
            <span class="sDetail {{allDetails}}">{{proffessor}}</span>
            <span class="sDetail">{{courseCode}}</span>
        </a>
    </li>
</script>

<script type="text/html" id="sMaterialItemTemplate">

    <li class="sMaterialsItem clearfix">
        <a class="sMaterialLink" data-navigation="item" href="{{url}}">
            <div class="sOtherUni semiFont">{{universityName}}</div>
            <img class="lFloat imgBorder sMaterialImg" alt="" width="110" height="141" src="{{image}}">
            <div class="sTitle elps">{{name}}</div>
            <div class="sSnippet">{{content}}</div>
            <div class="stars">
                <div class="full" style="width:{{width}}px;"></div>
            </div>
            <div title="@SharedResources.Views" class="views">{{views}}</div>
        </a>
    </li>
</script>

<script type="text/html" id="sMemberItemTemplate">
    <li class="sMembersItem">
        <a href="{{url}}" data-navigation="user">
            <img class="imgBorder lFloat calloutTrgr" src="{{image}}" width="74" height="74" data-uid="{{id}}" />
        </a>
        <div class="sMemberName elps">{{name}}</div>
        <button type="button" title="@DialogResources.SendMessage" class="inviteUserBtn"></button>
    </li>
</script>
