
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}

<div class="productWpr">
    <div class="left">
        <h2>Laptop</h2>
        <h1>Dell Inspiron 15.6" 3537</h1>
        <h3>Intel 2955u processor, 4Gb RAM, Windows 8 included</h3>
        <p>
            Lorem ipsum dolor sit amet, ut eam repudiare complectitur. Mei ne erat laboramus disputationi, vix eu affert quaeque voluptua. Cu has mazim omittam, est id alia dicunt splendide. Ne vis erat simul, ius detraxit tractatos reprehendunt ne. Ocurreret reprimique liberavisse ut pro. Aliquid referrentur cum ut, augue quaestio pertinacia ei vix, ea case primis dictas nec. Ex consul atomorum pri, no sit ornatus platonem.

            Vim atqui instructior id, vim legere latine ex. Et graeci delenit antiopam his, melius nusquam per et. His at alii consul, ei sed purto fugit maiestatis. Ei mollis oblique moderatius duo. Id his illud dignissim, quo ad labore fuisset.

            Cibo tamquam labitur in est, ea mei pericula postulant reprehendunt, at tantas audiam qui. Stet epicuri eos ei. Ea scripta nusquam quo, usu laudem lobortis an. Eu essent luptatum qui. Id vel quidam tractatos mediocrem, eirmod maiorum quo at, dico omnesque quaerendum eam ea.

            Elit eripuit vim cu, ius cu labitur ponderum periculis. Vix ut commodo postulant, sed atomorum persequeris eu, eu mei solet altera verterem. Unum etiam tation in mel. No erat vivendum indoctum mei, quis accusamus ei his, nec discere eruditi debitis ei.


            Vix inermis salutandi in, vel porro vivendo nominavi ad, dicunt perpetua periculis usu ut. Ea augue intellegat necessitatibus sit, ius tation aeterno praesent ex. Eu vix detracto principes, id his vidit patrioque, his apeirian partiendo aliquando te. Cu eum quot hendrerit. Solum fugit assueverit eu sit, at nec facilis facilisis, nemore mentitum has ex.
            Lorem ipsum dolor sit amet, ut eam repudiare complectitur. Mei ne erat laboramus disputationi, vix eu affert quaeque voluptua. Cu has mazim omittam, est id alia dicunt splendide. Ne vis erat simul, ius detraxit tractatos reprehendunt ne. Ocurreret reprimique liberavisse ut pro. Aliquid referrentur cum ut, augue quaestio pertinacia ei vix, ea case primis dictas nec. Ex consul atomorum pri, no sit ornatus platonem.

            Vim atqui instructior id, vim legere latine ex. Et graeci delenit antiopam his, melius nusquam per et. His at alii consul, ei sed purto fugit maiestatis. Ei mollis oblique moderatius duo. Id his illud dignissim, quo ad labore fuisset.

            Cibo tamquam labitur in est, ea mei pericula postulant reprehendunt, at tantas audiam qui. Stet epicuri eos ei. Ea scripta nusquam quo, usu laudem lobortis an. Eu essent luptatum qui. Id vel quidam tractatos mediocrem, eirmod maiorum quo at, dico omnesque quaerendum eam ea.

            Elit eripuit vim cu, ius cu labitur ponderum periculis. Vix ut commodo postulant, sed atomorum persequeris eu, eu mei solet altera verterem. Unum etiam tation in mel. No erat vivendum indoctum mei, quis accusamus ei his, nec discere eruditi debitis ei.


            Vix inermis salutandi in, vel porro vivendo nominavi ad, dicunt perpetua periculis usu ut. Ea augue intellegat necessitatibus sit, ius tation aeterno praesent ex. Eu vix detracto principes, id his vidit patrioque, his apeirian partiendo aliquando te. Cu eum quot hendrerit. Solum fugit assueverit eu sit, at nec facilis facilisis, nemore mentitum has ex.
            Lorem ipsum dolor sit amet, ut eam repudiare complectitur. Mei ne erat laboramus disputationi, vix eu affert quaeque voluptua. Cu has mazim omittam, est id alia dicunt splendide. Ne vis erat simul, ius detraxit tractatos reprehendunt ne. Ocurreret reprimique liberavisse ut pro. Aliquid referrentur cum ut, augue quaestio pertinacia ei vix, ea case primis dictas nec. Ex consul atomorum pri, no sit ornatus platonem.

            Vim atqui instructior id, vim legere latine ex. Et graeci delenit antiopam his, melius nusquam per et. His at alii consul, ei sed purto fugit maiestatis. Ei mollis oblique moderatius duo. Id his illud dignissim, quo ad labore fuisset.

            Cibo tamquam labitur in est, ea mei pericula postulant reprehendunt, at tantas audiam qui. Stet epicuri eos ei. Ea scripta nusquam quo, usu laudem lobortis an. Eu essent luptatum qui. Id vel quidam tractatos mediocrem, eirmod maiorum quo at, dico omnesque quaerendum eam ea.

            Elit eripuit vim cu, ius cu labitur ponderum periculis. Vix ut commodo postulant, sed atomorum persequeris eu, eu mei solet altera verterem. Unum etiam tation in mel. No erat vivendum indoctum mei, quis accusamus ei his, nec discere eruditi debitis ei.


            Vix inermis salutandi in, vel porro vivendo nominavi ad, dicunt perpetua periculis usu ut. Ea augue intellegat necessitatibus sit, ius tation aeterno praesent ex. Eu vix detracto principes, id his vidit patrioque, his apeirian partiendo aliquando te. Cu eum quot hendrerit. Solum fugit assueverit eu sit, at nec facilis facilisis, nemore mentitum has ex.
            Lorem ipsum dolor sit amet, ut eam repudiare complectitur. Mei ne erat laboramus disputationi, vix eu affert quaeque voluptua. Cu has mazim omittam, est id alia dicunt splendide. Ne vis erat simul, ius detraxit tractatos reprehendunt ne. Ocurreret reprimique liberavisse ut pro. Aliquid referrentur cum ut, augue quaestio pertinacia ei vix, ea case primis dictas nec. Ex consul atomorum pri, no sit ornatus platonem.

            Vim atqui instructior id, vim legere latine ex. Et graeci delenit antiopam his, melius nusquam per et. His at alii consul, ei sed purto fugit maiestatis. Ei mollis oblique moderatius duo. Id his illud dignissim, quo ad labore fuisset.

            Cibo tamquam labitur in est, ea mei pericula postulant reprehendunt, at tantas audiam qui. Stet epicuri eos ei. Ea scripta nusquam quo, usu laudem lobortis an. Eu essent luptatum qui. Id vel quidam tractatos mediocrem, eirmod maiorum quo at, dico omnesque quaerendum eam ea.

            Elit eripuit vim cu, ius cu labitur ponderum periculis. Vix ut commodo postulant, sed atomorum persequeris eu, eu mei solet altera verterem. Unum etiam tation in mel. No erat vivendum indoctum mei, quis accusamus ei his, nec discere eruditi debitis ei.


            Vix inermis salutandi in, vel porro vivendo nominavi ad, dicunt perpetua periculis usu ut. Ea augue intellegat necessitatibus sit, ius tation aeterno praesent ex. Eu vix detracto principes, id his vidit patrioque, his apeirian partiendo aliquando te. Cu eum quot hendrerit. Solum fugit assueverit eu sit, at nec facilis facilisis, nemore mentitum has ex.

        </p>
    </div>
    <div class="right">
        <ul class="thumbsList">
            <li><img src="https://dl.dropboxusercontent.com/u/51558405/pc.png" alt="" /></li>
            <li><img src="https://dl.dropboxusercontent.com/u/51558405/pc.png" alt="" /></li>
            <li><img src="http://www.hatavot.co.il/uploadimages/170/109876.JPG" alt="" /></li>
            <li></li>
        </ul>
        <div class="productInfoWpr">
            <table class="productPrice">
                <tr>
                    <td>Student price:</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td>Shipping:</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Total (Including shipping):</td>
                    <td>$520</td>
                </tr>
            </table>
            <a href="#" class="btn3">Purchase now</a>
            <table class="productDetails">
                <tr>
                    <td>Item No:</td>
                    <td>562348923</td>
                </tr>
                <tr>
                    <td>Payment conditions:</td>
                    <td>Up to 6 installments no interest</td>
                </tr>
                <tr>
                    <td>Warranty:</td>
                    <td>1 year - by the official importer</td>
                </tr>
                <tr>
                    <td>Delivery time:</td>
                    <td>Up to 2 working days</td>
                </tr>
                <tr>
                    <td>Name of supplier:</td>
                    <td>New Vision Digital LTD</td>
                </tr>
                <tr>
                    <td>Further details:</td>
                    <td>09-8989567 <small>Mon-Thurs between 9:00AM and 4:00PM</small></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<section>
    <header>Similar products of interest</header>
    <button type="button" class="prev"></button>
    <ul class="moreProductsList">
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=one" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=two" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=three" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=four" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=five" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=six" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=seven" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=eight" alt="" />
            </a>
        </li>
        <li>
            <a href="#"><img src="http://placehold.it/150x150&text=nine" alt="" /></a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=ten" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=eleven" alt="" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="http://placehold.it/150x150&text=twelve" alt="" />
            </a>
        </li>
    </ul>
    <button type="button" class="next"></button>
</section>

