/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-Images-back_back() {
/* You may have to set 'display: block' */
	width: 35px;
	height: 35px;
	background: url('site.png') 0 0;
}
@mixin sprite-Images-books() {
/* You may have to set 'display: block' */
	width: 65px;
	height: 59px;
	background: url('site.png') 0 -35px;
}
@mixin sprite-Images-close() {
/* You may have to set 'display: block' */
	width: 19px;
	height: 19px;
	background: url('site.png') 0 -94px;
}
@mixin sprite-Images-course() {
/* You may have to set 'display: block' */
	width: 130px;
	height: 128px;
	background: url('site.png') 0 -113px;
}
@mixin sprite-Images-department() {
/* You may have to set 'display: block' */
	width: 130px;
	height: 128px;
	background: url('site.png') 0 -241px;
}
@mixin sprite-Images-document() {
/* You may have to set 'display: block' */
	width: 56px;
	height: 62px;
	background: url('site.png') 0 -369px;
}
@mixin sprite-Images-drive_upload() {
/* You may have to set 'display: block' */
	width: 86px;
	height: 76px;
	background: url('site.png') 0 -431px;
}
@mixin sprite-Images-friends_cloudents_black() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -507px;
}
@mixin sprite-Images-friends_cloudents_green() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -598px;
}
@mixin sprite-Images-friends_facebook_black() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -689px;
}
@mixin sprite-Images-friends_facebook_blue() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -780px;
}
@mixin sprite-Images-friends_gmail_black() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -871px;
}
@mixin sprite-Images-friends_gmail_red() {
/* You may have to set 'display: block' */
	width: 91px;
	height: 91px;
	background: url('site.png') 0 -962px;
}
@mixin sprite-Images-placeholder_user_img() {
/* You may have to set 'display: block' */
	width: 46px;
	height: 37px;
	background: url('site.png') 0 -1053px;
}
@mixin sprite-Images-share_white() {
/* You may have to set 'display: block' */
	width: 22px;
	height: 18px;
	background: url('site.png') 0 -1090px;
}
@mixin sprite-Images-uni_logo() {
/* You may have to set 'display: block' */
	width: 41px;
	height: 34px;
	background: url('site.png') 0 -1108px;
}
@mixin sprite-Images-upload() {
/* You may have to set 'display: block' */
	width: 126px;
	height: 98px;
	background: url('site.png') 0 -1142px;
}
@mixin sprite-Images-web_upload() {
/* You may have to set 'display: block' */
	width: 82px;
	height: 79px;
	background: url('site.png') 0 -1240px;
}
@mixin sprite-Images-quiz() {
/* You may have to set 'display: block' */
	width: 55px;
	height: 65px;
	background: url('site.png') 0 -1319px;
}
@mixin sprite-Images-icon_doc() {
/* You may have to set 'display: block' */
	width: 21px;
	height: 21px;
	background: url('site.png') 0 -1384px;
}
@mixin sprite-Images-icon_man() {
/* You may have to set 'display: block' */
	width: 21px;
	height: 21px;
	background: url('site.png') 0 -1405px;
}
