/*
This is an example of how to use the image sprite in your own CSS files
*/
.Zbang.Cloudents.Mvc4WebRole-Images-close {
/* You may have to set 'display: block' */
	width: 19px;
	height: 19px;
	background: url('site.png') -1px -1px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-course {
/* You may have to set 'display: block' */
	width: 130px;
	height: 128px;
	background: url('site.png') -1px -21px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-drive_upload {
/* You may have to set 'display: block' */
	width: 86px;
	height: 76px;
	background: url('site.png') -1px -150px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-uni_logo {
/* You may have to set 'display: block' */
	width: 41px;
	height: 34px;
	background: url('site.png') -1px -227px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-web_upload {
/* You may have to set 'display: block' */
	width: 82px;
	height: 79px;
	background: url('site.png') -1px -262px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-earth {
/* You may have to set 'display: block' */
	width: 79px;
	height: 78px;
	background: url('site.png') -1px -342px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-logo2 {
/* You may have to set 'display: block' */
	width: 222px;
	height: 65px;
	background: url('site.png') -1px -421px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-spitball_invite_off {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('site.png') -1px -487px;
}
.Zbang.Cloudents.Mvc4WebRole-Images-spitball_invite_on {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('site.png') -1px -558px;
}
