@import "../../../../mixin.less";

.input-wrapper {
  position: relative;

  .error-message {
    position: absolute;
    top: -26px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #d0021b;
  }

  .input-field {
    height: @registrationFieldHeight;
    width: 100%;
    //margin-top: 36px;
    border-radius: 4px;
    border: solid 1px #979797;
    font-size: 18px;
    letter-spacing: -0.5px;
    padding: 10px;

    &:focus {
      outline: none;
    }
    &.invalid {
      border-color: #d0021b;
    }
  }
  .icon{
    color: #4a4a4a;
  }
}