/*
@import this file directly into your existing Less files to use these mixins
*/
.accountPage-wrapper {
  max-width: 800px;
  /*svg {
        width: 17px;
        height: 17px;
        fill: #fff;
        vertical-align: middle;
        margin-right: 12px;
    }*/
}
.accountPage-wrapper h2 {
  font-size: 12px;
  margin-top: 6px;
  color: #888b8e;
}
.accountPage-wrapper .themeDark {
  /* You may have to set 'display: block' */
  width: 150px;
  height: 75px;
  background: url('themeSelector.png') -1px -1px;
}
.accountPage-wrapper .themeLight {
  /* You may have to set 'display: block' */
  width: 150px;
  height: 75px;
  background: url('themeSelector.png') -1px -77px;
}
.accountPage-wrapper .page-tabs {
  border-radius: 5px;
}
.accountPage-wrapper .page-tabs md-tabs-wrapper {
  background: #4190b9;
}
.accountPage-wrapper .section {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.42);
}
.accountPage-wrapper .section md-input-container {
  margin-bottom: 0;
}
.accountPage-wrapper .section md-input-container label {
  font-size: 18px;
}
.accountPage-wrapper .section .action-btn {
  margin-left: 10px;
}
.accountPage-wrapper .change-uni,
.accountPage-wrapper h2 {
  font-size: 14px;
}
.accountPage-wrapper .fileinput {
  margin-bottom: 20px;
}
.accountPage-wrapper .fileinput .thumbnail {
  background: none;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 96px;
  height: 96px;
  border: none;
}
.accountPage-wrapper .ov-hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
}
.accountPage-wrapper .ov-hidden input {
  cursor: pointer;
}
.accountPage-wrapper .ontop {
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  display: block;
  margin-top: calc(100% - 20px);
  position: initial !important;
  background: #3293F6;
  color: #212325;
}
.accountPage-wrapper .portlet.light > .portlet-title {
  border-bottom: 1px solid #F4F4F4;
  min-height: 12px;
  display: flex;
  padding-left: 5px;
}
.accountPage-wrapper .portlet.light > .portlet-title > .caption {
  align-self: flex-end;
  flex-grow: 1;
}
.accountPage-wrapper .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
  font-size: 12px;
}
.accountPage-wrapper .left-flex {
  margin-right: 20px;
}
.accountPage-wrapper md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-bottom: 1px solid #2698D4;
}
.accountPage-wrapper .tab-from-r > li {
  margin: 0;
}
.accountPage-wrapper .tab-from-r > li:hover {
  border: none;
}
.accountPage-wrapper .tab-from-r > li:hover > a {
  color: #2698D4;
}
.accountPage-wrapper .tab-from-r > li.active {
  border-bottom: 3px solid #3598dc;
}
.accountPage-wrapper .tab-from-r > li.active > a {
  color: #212325;
}
.accountPage-wrapper .tab-from-r > li > a {
  color: #888b8e;
  font-size: 11px;
  padding: 13px 8px 5px 8px;
  border: none;
}
.accountPage-wrapper .page-head .page-title {
  padding: 10px 0;
  /*> h1 {
            font-size: 18px;
        }*/
}
.accountPage-wrapper .nav-tabs {
  padding: 0;
}
.accountPage-wrapper .notification-list {
  color: #fff;
}
.accountPage-wrapper .notification-list li {
  display: flex;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #e9eaed;
}
.accountPage-wrapper .notification-list li select {
  background: #353A3F;
  align-self: center;
}
.accountPage-wrapper .notification-list li .box-data {
  flex-grow: 1;
  max-width: 100%;
}
.accountPage-wrapper .notification-list li .owner {
  color: #888b8e;
  font-size: 12px;
  font-weight: bold;
}
.accountPage-wrapper .notification-list li .name {
  font-size: 18px;
}
.accountPage-wrapper .notification-list li:not(.subscription) .name {
  max-width: 500px;
}
.accountPage-wrapper .notification-list li.subscription .name {
  color: #323538;
}
.accountPage-wrapper .uni-image {
  border-radius: 50%;
  margin-right: 20px;
  background-color: #f1f1f1;
}
.accountPage-wrapper .change-uni {
  color: #888b8e;
}
.accountPage-wrapper .change-uni:hover {
  color: #4190b9;
}
.accountPage-wrapper .uni-name {
  font-size: 20px;
}
.accountPage-wrapper .md-tab {
  padding-right: 15px;
  padding-left: 15px;
}
.accountPage-wrapper .university {
  margin-bottom: 20px;
}
.accountPage-wrapper .private-departments .panel-group .panel .panel-body {
  padding: 5px 0;
}
.accountPage-wrapper .private-departments .panel-group .panel .panel-body .requests-wrapper {
  height: 300px;
}
.accountPage-wrapper .private-departments .panel-group .panel .panel-body .requests-wrapper ul {
  margin-bottom: 0;
}
.accountPage-wrapper .private-departments .panel-group .panel .panel-body .requests-wrapper ul li {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 48%;
  padding: 0 15px;
}
@media (max-width: 600px) {
  .accountPage-wrapper .private-departments .panel-group .panel .panel-body .requests-wrapper ul li {
    width: 100%;
  }
}
.accountPage-wrapper .private-departments .requests .user-name {
  margin-left: 10px;
  color: #212325;
  -ms-word-break: break-word;
  word-break: break-word;
}
.accountPage-wrapper .private-departments .requests .userLetter {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.change-email-dialog {
  padding: 30px 50px 30px 30px;
}
.change-email-dialog .icon,
.change-email-dialog .content {
  float: left;
}
.change-email-dialog svg {
  width: 25px;
  height: 25px;
  fill: #ffffff;
}
.change-email-dialog .content {
  margin-left: 10px;
}
.change-email-dialog .content md-input-container {
  margin-bottom: 0;
}
.change-email-dialog .content span {
  font-size: 16px;
}
.change-email-dialog .content button {
  padding: 6px 13px;
  border-radius: 5px;
}
.change-email-dialog .content .btn-default {
  background: #c3c3c3;
}