.accountPage-wrapper {
  /*svg {
        width: 17px;
        height: 17px;
        fill: #fff;
        vertical-align: middle;
        margin-right: 12px;
    }*/
}
.accountPage-wrapper .profile-content {
  max-width: 800px;
}
.accountPage-wrapper .profile-content .section {
  background: #323538;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}
.accountPage-wrapper .profile-content .portlet-body .form-group .fileinput h2 {
  font-size: 12px;
  margin-top: 6px;
}
.accountPage-wrapper .profile-content .portlet-body .form-group .fileinput .thumbnail {
  background: none;
  border: none;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.accountPage-wrapper .ov-hidden {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
}
.accountPage-wrapper .ov-hidden input {
  cursor: pointer;
}
.accountPage-wrapper .ontop {
  text-align: center;
  background: #3293f6;
  color: #f5f5f5;
  font-size: 11px;
  line-height: 25px;
  display: block;
  margin-top: calc(100% - 25px);
  position: initial !important;
}
.accountPage-wrapper .portlet.light > .portlet-title {
  border-bottom: 1px solid #F4F4F4;
  min-height: 12px;
  display: flex;
  padding-left: 5px;
}
.accountPage-wrapper .portlet.light > .portlet-title > .caption {
  align-self: flex-end;
  flex-grow: 1;
}
.accountPage-wrapper .portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
  font-size: 12px;
}
.accountPage-wrapper .left-flex {
  margin-right: 20px;
}
.accountPage-wrapper md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-bottom: 1px solid #2698d4;
}
.accountPage-wrapper .tab-from-r > li {
  margin: 0;
}
.accountPage-wrapper .tab-from-r > li:hover {
  border: none;
}
.accountPage-wrapper .tab-from-r > li:hover > a {
  color: #2698d4;
}
.accountPage-wrapper .tab-from-r > li.active {
  border-bottom: 3px solid #3598dc;
}
.accountPage-wrapper .tab-from-r > li.active > a {
  color: #f5f5f5;
}
.accountPage-wrapper .tab-from-r > li > a {
  color: #888b8e;
  font-size: 11px;
  padding: 13px 8px 5px 8px;
  border: none;
}
.accountPage-wrapper .page-head .page-title {
  padding: 10px 0;
}
.accountPage-wrapper .page-head .page-title > h1 {
  font-size: 18px;
}
.accountPage-wrapper .nav-tabs {
  padding: 0;
}
.accountPage-wrapper .notification-list {
  color: #fff;
}
.accountPage-wrapper .notification-list li {
  display: flex;
  padding: 10px 0 10px 5px;
  border-bottom: 1px solid #5d6063;
}
.accountPage-wrapper .notification-list li select {
  background: #353A3F;
  align-self: center;
}
.accountPage-wrapper .notification-list li .box-data {
  flex-grow: 1;
}
.accountPage-wrapper .notification-list li .owner {
  color: #888b8e;
  font-size: 12px;
  font-weight: bold;
}
.accountPage-wrapper .notification-list li .name {
  font-size: 18px;
}
.accountPage-wrapper .uni-image {
  border-radius: 50%;
  margin-right: 20px;
}
.accountPage-wrapper .uni-name {
  font-size: 20px;
}
.accountPage-wrapper .md-tab {
  padding-right: 15px;
  padding-left: 15px;
}
.accountPage-wrapper .university {
  margin-bottom: 20px;
}
.change-email-dialog {
  padding: 30px 50px 30px 30px;
}
.change-email-dialog .icon,
.change-email-dialog .content {
  float: left;
}
.change-email-dialog svg {
  width: 25px;
  height: 25px;
  fill: #323538;
}
.change-email-dialog .content {
  margin-left: 10px;
}
.change-email-dialog .content md-input-container {
  margin-bottom: 0;
}
.change-email-dialog .content span {
  font-size: 16px;
}
.change-email-dialog .content button {
  padding: 6px 13px;
  border-radius: 5px;
}
.change-email-dialog .content .btn-default {
  background: #c3c3c3;
}
