.dd-list md-content {
  background: #ffffff;
  color: #212325;
}
.dd-list md-option {
  margin: 0 15px;
  font-size: 13px;
  border-bottom: 1px solid #212325;
}
.dd-list md-option:last-child {
  border: none;
}
.dd-list md-option[selected] {
  color: #2698d4;
}
.dd-list md-option[selected]:focus {
  color: #2698d4;
}
.dd-list md-select-menu:not(.md-overflow) md-content {
  padding-top: 0;
  padding-bottom: 0;
}
md-select:not([disabled]):focus .md-select-value {
  color: #212325;
  border-bottom: 1px solid #376e8c;
}
md-select .md-select-value.md-select-placeholder {
  color: #212325;
}
md-select-menu md-option:focus:not([disabled]):not([selected]) {
  background: #ffffff;
}
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #888b8e;
}
md-input-container label {
  color: #c3c3c3;
}
md-input-container {
  width: 100%;
  font-size: 18px;
}
md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: inherit;
}
.md-select-value *:first-child {
  max-width: calc(100% - 20px);
}
md-dialog-actions {
  order: 2;
}
.md-select-value .md-select-icon,
md-select .md-select-value,
md-input-container .md-input,
.form-group.form-md-line-input .form-control {
  border-color: #4190b9;
}
.md-select-value .md-select-icon:active,
md-select .md-select-value:active,
md-input-container .md-input:active,
.form-group.form-md-line-input .form-control:active {
  color: #2698d4;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #4190b9;
}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after,
.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after,
.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ .form-control-focus:after {
  background: #4190b9;
}
md-input-container .md-input {
  color: #ffffff;
}
md-dialog {
  color: #212325;
}
md-menu-content md-menu-item > button.md-button,
md-menu-content md-menu-item > .md-button span {
  color: #212325;
}
md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
  background: #ec610d;
}
.layout-padding {
  padding: 0;
}
.layout-padding > .flex {
  padding: 8px;
}
md-toast .md-toast-content {
  min-height: 40px;
  margin-top: 12px;
}
md-toast.md-warn-theme .md-toast-content {
  background: #db4437;
}
.profile-content md-tabs-wrapper {
  margin-bottom: 0;
}
/*tabs*/
md-tabs.borderTC19 {
  border: 1px solid;
}
md-tabs md-tabs-wrapper {
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px 0;
  margin-bottom: 20px;
}
md-tabs md-pagination-wrapper {
  right: 0;
}
@media (max-width: 600px) {
  md-tabs md-pagination-wrapper {
    left: 0 ;
    right: auto ;
  }
}
md-tabs .md-tab {
  float: right;
  color: #888b8e;
  font-size: 16px;
  text-transform: capitalize;
}
md-tabs .md-tab.md-active {
  color: #ffffff;
}
md-tabs .md-tab.md-active span.textTC20 {
  color: #ffffff !important;
}
@media (max-width: 600px) {
  md-tabs .md-tab {
    float: left ;
  }
}
md-tabs md-ink-bar {
  color: #3598dc;
  background: #3598dc;
}
md-tabs-canvas {
  height: 40px;
}
md-pagination-wrapper {
  height: 40px;
}
.md-tab {
  padding: 8px 24px;
}
md-progress-linear .md-bar {
  background: #4190b9;
}
/*#endregion*/
