.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #3293f6;
  color: #f5f5f5;
}
.nav-tabs {
  border: 0;
}
.nav-tabs > li > a:hover {
  border: 1px solid transparent;
}
a {
  color: #5f6871;
}
a:hover,
a:focus {
  color: #5f6871;
}
.tabbable {
  background-color: #353a3f;
  padding: 0 10px;
}
.extraDetails {
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
  background-color: black;
  z-index: 1;
}
.extraDetails > span:first-child {
  float: left;
}
.extraDetails > span:last-child {
  float: right;
}
.mix-subDetails {
  position: absolute;
  bottom: 75px;
}
