.folder-selected .folder-name {
  max-width: calc(100% - 40px);
}
.folder-selected .name-and-icon {
  width: 100%;
  max-width: calc(100% - 40px);
}
.folder-selected .folder-name,
.folders .folder-name {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.folder-selected .folder-name .folder-name-inner,
.folders .folder-name .folder-name-inner {
  padding: 0 6px;
  width: 100%;
}
.folder-selected .folder-name .content,
.folders .folder-name .content {
  width: 100%;
}
.folder-selected .folder-name .icon,
.folders .folder-name .icon {
  width: 18px;
  height: 18px;
  margin: 0 7px;
  vertical-align: middle;
}
.folder-selected .folder-name.on-drag-hover,
.folders .folder-name.on-drag-hover {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 2;
}
.folder-selected .name-and-icon,
.folders .name-and-icon {
  width: 100%;
}
.folder-selected .name-and-icon .name,
.folders .name-and-icon .name {
  background: #4190b9;
}
.folders .folder-name .content {
  text-align: center;
  color: #f5f5f5;
}
.folders .folder-name .content div:last-child {
  margin-top: 3px;
}
.folder-selected {
  margin-bottom: 20px;
}
.folder-selected .md-menu {
  padding: 0;
}
.folder-selected .md-menu button {
  height: 0;
  width: 30px;
}
.folder-selected .dots-3 {
  margin-left: 0;
}
.folder-selected .arrow {
  width: 25px;
  height: 25px;
  -moz-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -ms-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -o-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -webkit-transform: rotate(180deg) /*rtl:rotate(0)*/;
  transform: rotate(180deg) /*rtl:rotate(0)*/;
  fill: #f5f5f5;
  opacity: .8;
  margin-right: 15px;
}
.search-box {
  width: 100%;
  display: inline-block;
}
.search-box input {
  border: 5px solid #4190b9;
  background: #f5f5f5;
  color: #212325;
  margin-top: -15px;
  border-radius: 0 0 4px 4px;
  width: 200px;
  float: right;
  padding: 0 8px;
  height: 36px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}
@media (max-width: 600px) {
  .search-box input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 601px) {
  .search-box input:focus {
    width: 50%;
  }
}
.feed-wrapper,
.members,
.quizzes-list,
library-list {
  margin-top: 10px;
}
.members .member-invite {
  color: #f5f5f5;
}
.members .member-invite svg {
  fill: #f5f5f5;
}
.page-title.box-title {
  padding: 0;
}
.page-title.box-title h1 {
  line-height: 29px;
  max-height: 58px;
  -ms-word-break: break-word;
  word-break: break-word;
}
.add svg {
  fill: #f5f5f5;
}
.folders .add-folder .content {
  padding: 6px;
  background: none;
}
.folders .add-folder .content button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.folders .add-folder .content button div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.folders .add-folder svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.folders .add-folder span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  vertical-align: middle;
}
.folders .text,
.folder-selected .text {
  font-size: 18px;
  padding: 0 10px;
}
.folder-selected .text {
  padding-left: 6px;
}
.designed-input {
  width: 100%;
  background: none;
  border-width: 0 0 1px 0;
  padding: 0 10px;
}
.page-head .need-follow {
  border-radius: 5px;
  padding: 5px 10px;
}
.invite-btn {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 5px 3vw 3px;
}
.add-button {
  position: relative;
}
.add-button:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 141.42%;
}
.add-button > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.add-button .content {
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 8px;
}
.add-button .content.quizCreate {
  margin-bottom: 13px;
}
.add-button a,
.add-button button {
  font-size: 18px;
  text-align: center;
}
.add-button svg {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}
.settings {
  width: calc(100% - 60px);
}
@media (min-width: 960px) {
  .settings .padding {
    padding-right: 30px;
  }
}
.boxes-side-area {
  /*@media(min-width: 960px) {
        max-width: 400px !important;
    }*/
}
@media (max-width: 600px) {
  .boxes-side-area > div {
    margin: -8px;
  }
}
.boxes-side-area.flex {
  padding: 0;
}
.boxes-side-area .leaderboard-container {
  display: flex;
}
.boxes-side-area .leaderboard-container .leaderboard {
  width: 100%;
}
@media (min-width: 960px) and (max-width: 1280px) {
  .boxes-side-area .box-style .progress-info .status-title {
    display: none;
  }
}
.member-invite {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 15px 0 13px;
  font-size: 16px;
}
.member-invite svg {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin-right: 2px;
  margin-bottom: 5px;
}
.member-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.member-wrapper .user-section,
.member-wrapper .admin {
  min-width: 0;
}
.member-wrapper .user-section {
  width: 100%;
}
.member-wrapper .admin {
  padding: 2px 10px;
  background: #73b435;
  border-radius: 10px;
  margin-left: 10px;
  color: #f5f5f5;
  flex-shrink: 0;
}
.member {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.member a:hover {
  color: transparent;
  text-decoration: none;
}
.member .member-name {
  font-size: 15px;
  margin-left: 10px;
  width: calc(100% - 45px);
}
.invite-members {
  background: #4190b9;
  display: block;
  padding: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 8px;
}
.invite-members svg {
  margin: 0 auto;
  fill: #f9f9f9;
  width: 30px;
  height: 30px;
}
.item .base,
.quiz .base {
  padding: 5px 5px 2px 5px;
  display: inline-block;
  width: 100%;
}
.item .extra-details,
.quiz .extra-details {
  display: none;
}
.item .stats,
.quiz .stats {
  font-size: 14px;
  padding: 3px 12px 0 12px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.item .stats .views,
.quiz .stats .views,
.item .stats .likes,
.quiz .stats .likes {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 26px;
}
.item .stats .likes svg,
.quiz .stats .likes svg {
  margin-bottom: 2px;
}
.item .stats svg,
.quiz .stats svg {
  width: 14px;
  height: 14px;
}
.quiz .quiz-ratio {
  position: relative;
}
.quiz .quiz-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 141.42%;
}
.quiz .quiz-ratio > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.quiz .top {
  height: 45%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.quiz .top .first-letter,
.quiz .top .draft {
  font-size: 20vw;
  width: 20vw;
  height: 20vw;
  text-align: center;
  line-height: 90%;
  text-transform: lowercase;
}
@media (min-width: 600px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 13vw;
    width: 13vw;
    height: 13vw;
  }
}
@media (min-width: 960px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 8vw;
    width: 8vw;
    height: 8vw;
  }
}
@media (min-width: 1280px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 3vw;
    width: 3vw;
    height: 3vw;
  }
}
.quiz .top .draft {
  text-transform: uppercase;
  width: 100%;
  font-size: 9.75vw;
}
@media (min-width: 600px) {
  .quiz .top .draft {
    font-size: 6.5vw;
  }
}
@media (min-width: 960px) {
  .quiz .top .draft {
    font-size: 4vw;
  }
}
@media (min-width: 1280px) {
  .quiz .top .draft {
    font-size: 3vw;
  }
}
@media (min-width: 1920px) {
  .quiz .top .draft {
    font-size: 1.5vw;
  }
}
.quiz .top.draft-wpr {
  border: 1px solid #fff;
}
.quiz .bottom {
  position: relative;
  height: calc(100% - 45%);
  background: #eeeeee;
}
.quiz .bottom .name {
  display: inline-block;
  margin-top: 5px;
  padding: 0 6px;
  max-height: 40px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  color: #282828;
}
.quiz .stats {
  padding-top: 5px;
}
.quiz .details {
  display: none;
  height: 325px;
  padding: 10px;
  direction: ltr /*rtl:ignore*/;
  position: relative;
}
.quiz .details .first-letter {
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
.quiz .details .name {
  text-align: left /*rtl:ignore*/;
  display: block;
  max-height: 80px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.quiz .details .more {
  position: absolute;
  bottom: 10px;
}
.item {
  display: block;
  /*.base {
        border: 1px solid #42494F;
        padding: 5px 5px 0;
        display: inline-block;
        //float: left;
    }*/
  /*&:hover .extra {
        top: 0;
    }*/
}
.item .item-ratio {
  position: relative;
}
.item .item-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 141.42%;
}
.item .item-ratio > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item .extra-details {
  display: none;
}
.item .content {
  position: relative;
  display: inline-block;
  width: 100%;
}
.item h2 {
  font-size: 15px;
  -ms-word-break: break-word;
  word-break: break-word;
  margin: 5px;
  margin-right: 20px;
  -webkit-line-clamp: 3;
  line-height: 22px;
}
.item .extra {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 70px;
  background: rgba(24, 28, 29, 0.75);
}
.i-q-wrapper {
  position: relative;
}
.i-q-wrapper > md-menu {
  position: absolute;
  right: 15px;
}
.i-q-wrapper > md-menu.item-menu {
  bottom: 90px;
}
.i-q-wrapper > md-menu.quiz-menu {
  top: 42%;
}
.i-q-wrapper .delete {
  top: 3px;
  margin: 0;
  width: inherit;
  padding: 0;
  height: inherit;
}
.i-q-wrapper .delete svg {
  fill: #c5c5c5;
  margin-top: 0;
}
.item-animate.ng-move,
.item-animate.ng-enter,
.item-animate.ng-leave {
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.item-animate.ng-leave.ng-leave-active,
.item-animate.ng-move,
.item-animate.ng-enter {
  opacity: 0;
}
.item-animate.ng-leave,
.item-animate.ng-move.ng-move-active,
.item-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.upload .form-body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}
.upload .tab-content {
  min-height: 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 20px;
}
.upload .tab-content .alert-danger {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border: none;
}
.upload .tab-content md-input-container {
  width: 100%;
}
.upload .uploadSection {
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
.upload .uploadSection > div {
  margin: 15px 0;
}
.upload .uploadSection md-icon {
  width: 50px;
  height: 50px;
}
.upload .uploadSection span {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  margin: 0 auto 10px;
}
.upload .form-horizontal {
  padding: 0 10px 10px 10px;
  font-size: 18px;
}
.upload .actions {
  text-align: right;
  padding: 20px 10px 10px 0;
}
#dropElement h5 .completed {
  margin-right: 5px;
}
#dropElement h5 .failed {
  margin-left: 5px;
}
.file-upload-area.list-inline,
.reply-wrapper.list-inline {
  padding: 17px 0 10px 0;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
}
.file-upload-area .file-upload,
.reply-wrapper .file-upload {
  color: #323538;
  text-align: center;
  width: 115px;
  height: 165px;
  font-size: 14px;
  position: relative;
  margin: 0 10px;
  border: none;
  padding: 5px 5px 0;
}
.file-upload-area .file-upload .file,
.reply-wrapper .file-upload .file {
  height: 100%;
}
.file-upload-area .file-upload .file-footer,
.reply-wrapper .file-upload .file-footer {
  width: 100%;
  margin-bottom: 8px;
}
.file-upload-area .file-upload .btn,
.reply-wrapper .file-upload .btn {
  padding: 5px 40px;
  font-size: 18px;
}
.file-upload-area .file-upload .check-mark,
.reply-wrapper .file-upload .check-mark {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.file-upload-area .file-upload .check-mark svg,
.reply-wrapper .file-upload .check-mark svg {
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.file-upload-area .file-upload .check-mark svg:hover,
.reply-wrapper .file-upload .check-mark svg:hover {
  fill: #4190b9;
}
.file-upload-area .file-upload .file-size,
.reply-wrapper .file-upload .file-size {
  font-weight: bold;
  line-height: 20px;
  color: #282828;
}
.file-upload-area .file-upload .file-upload-progress,
.reply-wrapper .file-upload .file-upload-progress {
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.file-upload-area .file-upload .file-name,
.reply-wrapper .file-upload .file-name {
  height: 105px;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0 4px;
}
.file-upload-area .file-upload .file-name .multi-line-ellipsis,
.reply-wrapper .file-upload .file-name .multi-line-ellipsis {
  line-height: 16px;
}
.file-upload-area .file-upload button,
.reply-wrapper .file-upload button {
  width: 100%;
  border-radius: 5px;
  line-height: 20px;
  margin: 0;
  color: #f5f5f5;
}