@import "variables.less";



.folder-selected, .folders {
    .folder-name {
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        .displayFlex();

        .folder-name-inner {
            background: @buttonColorBlue;
            padding: 0 6px;
            width: 100%;
        }

        .content {
            background: @borderColorBottomGrey;
            box-shadow: 0 0 2px @backgroundColor;
            width: 100%;
        }

        .icon {
            width: 18px;
            height: 18px;
            fill: @backgroundColor2;
            margin: 0 7px;
            vertical-align: middle;
        }

        &.on-drag-hover {
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            z-index: 2;
        }
    }

    .name-and-icon {
        width: 100%;

        .name {
            background: @buttonColorBlue;
        }
    }
}

.folders .folder-name .content {
    //padding: 2px 6px;
    text-align: center;
    color: @textColorWhite;

    div:last-child {
        margin-top: 3px;
    }
}

.folder-selected {
    .folder-name {
        max-width: ~"calc(100% - 40px)";
    }

    .name-and-icon {
        width: 100%;
        max-width: ~"calc(100% - 40px)";
    }

    margin: 8px 8px 20px 8px;

    .folder-name .content {
        background: @buttonColorBlue;
        box-shadow: none;
        width: 100%;

        input {
            color: @textColorWhite;
            border-color: @textColorWhite;
        }
    }

    .text {
        color: @textColorWhite;
    }

    .md-menu {
        padding: 0;

        button {
            height: 0;
            width: 30px;
        }
    }

    .dots-3 {
        margin-left: 0;
        fill: @textColorLightGrey;
    }

    .arrow {
        width: 25px;
        height: 25px;
        -moz-transform: rotate(180deg) /*rtl:rotate(0)*/;
        -ms-transform: rotate(180deg) /*rtl:rotate(0)*/;
        -o-transform: rotate(180deg) /*rtl:rotate(0)*/;
        -webkit-transform: rotate(180deg) /*rtl:rotate(0)*/;
        transform: rotate(180deg) /*rtl:rotate(0)*/;
        fill: @textColorBlack;
        opacity: .8;
        margin-right: 15px;
    }
}

.search-box {
    width: 100%;
    display: inline-block;
    padding: 0 8px;
    .placeHolder(@textColorWhite);

    input {
        border: 5px solid @buttonColorBlue;
        //border: 10px solid @backgroundColorMenu;
        background: #f5f5f5;
        color: @textColorBlack;
        margin-top: -15px;
        border-radius: 0 0 4px 4px;
        width: 200px;
        float: right;
        padding: 0 8px;
        //background: @textColorLightGrey;
        height: 36px;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
        //color: @textColorBlack;
        @media (max-width: 600px) {
            width: 100%;
            margin-bottom: 20px;
        }

        &:focus {
            @media (min-width: 601px) {
                width: 50%;
            }
        }
    }
}

.feed-wrapper {
    margin: 0 -8px;
}

.feed-wrapper, .members, .quizzes-list, library-list {
    margin-top: 10px;
    max-width: 100%;
}

.members {
    .member-invite {
        color: @textColorBlack;

        svg {
            fill: @textColorBlack;
        }
    }
}

.page-title.box-title {
    padding: 0;

    h1 {
        line-height: 29px;
        max-height: 58px;
        -ms-word-break: break-word;
        word-break: break-word;
        //font-weight: bold;
        @media(min-width: 600px) {
            &.multi-line-ellipsis.limit-two {
                -webkit-line-clamp: 1;
            }
        }
    }
}

.add svg {
    fill: @textColorWhite;
}

md-menu-item > a.md-button {
    padding-top: 0;
}

.folders {
    md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
        background: @buttonColorRed;
    }

    .add-folder {
        &:hover {
            .content {
                border: 1px solid @buttonColorBlue;

                svg {
                    fill: @buttonColorBlue;
                }

                span {
                    color: @buttonColorBlue;
                }
            }
        }

        .content {
            border: 1px solid @textColorGrey;
            padding: 6px 12px;
            background: none;
            color: @textColorBlack;

            svg {
                fill: @textColorGrey;
            }

            span {
                color: @textColorGrey;
            }

            button {
                .displayFlex();

                div {
                    .displayFlex();
                    align-items: center;
                }
            }
        }

        svg {
            width: 15px;
            height: 15px;
            vertical-align: middle;
            fill: @borderColorGrey;
        }

        span {
            font-weight: bold;
            color: @borderColorGrey;
            font-size: 16px;
            line-height: 20px;
            padding-left: 10px;
            vertical-align: middle;
        }
    }
}

.folders .text, .folder-selected .text {
    font-size: 18px;
    padding: 0 10px;
}

.folder-selected .text {
    padding-left: 6px;
}

.designed-input {
    width: 100%;
    background: none;
    border-width: 0 0 1px 0;
    border-color: @borderColorGrey;
}
//dont think we need that

.page-head .need-follow {
    //background: @backgroundColorFollow;
    border-radius: 5px;
    padding: 5px 10px;
    align-items: flex-start;

    .notificationButton {
        margin: 3px 0;
        font-weight: bold;
        font-size: 16px;
        padding: 0 20px;
        line-height: 25px;
        border-radius: 4px;
        .colored-button(@notificationColor, @textColorWhite);
        .colored-button-hover(@notificationColorHover, @textColorWhite);
        white-space: nowrap;

        @media(max-width: 600px) {
            padding: 0 10px;
        }

        &.ng-enter {
            animation-name: breathing;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;
        }
    }

    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes breathing {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes breathing {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes breathing {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes breathing {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.box-nav-bar {
    ~ div {
        margin: 0 -8px;
    }

    .md-tab .flashcard-title {
        padding: 5px 15px;
    }

    .md-tab:not(.md-active) {
        .flashcard-title {
            border-radius: 5px;
            background: #ebbc18;
        }

        &:hover .flashcard-title {
            background: #ffdc61;
            color: #0d3a52;
        }
    }
}

.invite-btn {
    // border: 1px solid @borderColorWhite;
    border-radius: 4px;
    // color: @textColorWhite;
    text-transform: uppercase;
    padding: 5px 3vw 3px;
}
//add button
.add-button {
    .aspect-ratio();

    &:hover {
        .content {
            border: 1px solid @buttonColorBlue;
        }


        a, button {
            color: @buttonColorBlue;
        }

        svg {
            fill: @buttonColorBlue;
        }
    }

    .content {
        border: 1px solid @textColorGrey;
        padding: 15px;
        //TODO: angular flex
        .displayFlex();
        .justifyContet(center);
        .align-items(center);
        margin: 8px; //same as angular material padding
        &.quizCreate {
            margin-bottom: 13px; //fix issue with quiz
        }
    }


    a, button {
        font-size: 18px;
        color: @textColorGrey;
        text-align: center;

        .text {
            line-height: normal;
            margin-top: 5px;
        }
    }

    svg {
        fill: @textColorGrey;
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
    }
}

.settings {
    width: ~"calc(100% - 60px)";

    .padding {
        @media (min-width: 960px) {
            padding-right: 30px;
        }
    }
}





.boxes-side-area {
    /*@media(min-width: 960px) {
        max-width: 400px !important;
    }*/
    @media(max-width: 600px) {
        > div {
            margin: -8px;
        }
    }

    @media(min-width: 600px) {
        &.flex {
            padding: 0;
        }
    }

    .leaderboard-container {
        display: flex;

        .leaderboard {
            width: 100%;
        }
    }

    @media(min-width: 960px) and (max-width: 1280px) {
        .box-style .progress-info .status-title {
            display: none;
        }
    }
}

.member-invite {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 15px 0 13px;
    font-size: 16px;

    svg {
        height: 25px;
        width: 25px;
        vertical-align: middle;
        margin-right: 2px;
        margin-bottom: 5px;
    }
}

.member-wrapper {
    .displayFlex;
    .align-items(center);
    padding: 0 8px;

    .user-section, .admin {
        min-width: 0;
    }

    .user-section {
        width: 100%; // ios fix
    }

    .admin {
        padding: 2px 10px;
        background: #73b435;
        border-radius: 10px;
        margin-left: 10px;
        color: @textColorBlack;
        flex-shrink: 0;
    }
}


.add-comment {
    .placeHolder(@textColorDarkGrey);

    .list-inline > li {
        border: 1px solid @borderColorGrey;
    }

    background: @backgroundColor;
    /*textarea {
            background: @backgroundColor;
        }*/
    ::-webkit-input-placeholder {
        color: @borderColorBottomGrey;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: @borderColorBottomGrey;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: @borderColorBottomGrey;
    }

    :-ms-input-placeholder {
        color: @borderColorBottomGrey;
    }


    input[type=checkbox] {
        &:checked + label {
            .text {
                @media (min-width: 600px) {
                    color: @anonymousColor;
                }
            }

            svg {
                fill: @anonymousColor;
            }
        }
    }

    .dropbox:hover {
        md-icon {
            fill: @dropboxColor;
        }
    }

    .link {
        &:hover {
            fill: @linkColor;
        }
    }

    .new-comment-border, .reply-wrapper {
        ::-webkit-input-placeholder {
            color: @textColorGrey;
        }

        :-moz-placeholder {
            color: @textColorGrey;
        }

        ::-moz-placeholder {
            color: @textColorGrey;
        }

        :-ms-input-placeholder {
            color: @textColorGrey;
        }

        :placeholder-shown {
            color: @textColorGrey;
        }
    }

    &.new-post {
        .top img {
            background: @borderColorWhite;
        }
    }
}

.member {
    //TODO: angular flex
    .displayFlex();
    .align-items(center);
    //override bootstrap
    a:hover {
        color: transparent;
        text-decoration: none;
    }

    .info {
        width: ~"calc(100% - 45px)";
        padding: 18px 0;
        margin-left: 4px;
        border-bottom: 1px solid rgba(50,53,56,0.2);


        .member-name {
            font-size: 15px;
            margin-left: 6px;
            color: @textColorBlack;
            display: block;
        }

        .achievements {
            padding-left: 6px;
            color: @buttonColorBlue;

            .separator {
                background: @borderColorBottomGrey;
            }
        }
    }
}


.invite-members {
    background: @buttonColorBlue;
    display: block;
    padding: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 8px;

    svg {
        margin: 0 auto;
        fill: @fileColor;
        width: 30px;
        height: 30px;
    }
}

.item, .quiz {

    .base {
        padding: 5px 5px 2px 5px;
        display: inline-block;
        width: 100%;
    }

    .extra-details {
        display: none;
    }

    .stats {
        font-size: 14px;
        padding: 3px 12px 0 12px;
        //TODO:angular flex
        .displayFlex();
        .justifyContet(space-between);
        color: @headerbackground;

        .views, .likes {
            .displayFlex;
            .align-items(center);
            .justifyContet(space-between);

            md-icon {
                margin-left: 4px;
            }
        }

        .likes svg {
            margin-bottom: 2px;
        }

        svg {
            width: 14px;
            height: 14px;
            fill: @headerbackground;
        }
    }
}

.quiz {
    .quiz-ratio {
        .aspect-ratio();
    }

    @heightOfTop: 45%;

    .top {
        height: @heightOfTop;
        color: @textColorBlack;
        .displayFlex();
        .justifyContet(center);
        .align-items(center);

        @sizeOfTextSmall: 13vw;
        @sizeOfDraftSmall: @sizeOfTextSmall / 2;
        @sizeOfTextMedium: 8vw;
        @sizeOfDraftMedium: @sizeOfTextMedium / 2;
        @sizeOfTextLarge: 3vw;
        @sizeOfDraftLarge: @sizeOfTextLarge;
        @sizeOfTextXL: 3vw;
        @sizeOfDraftXL: @sizeOfTextXL / 2;



        .first-letter, .draft {
            font-size: 20vw;
            width: 20vw;
            height: 20vw;
            text-align: center;
            line-height: 90%;
            text-transform: lowercase;

            @media (min-width: 600px) {
                .sizeOfLetter(@sizeOfTextSmall);
            }

            @media (min-width: 960px) {
                .sizeOfLetter(@sizeOfTextMedium);
            }

            @media (min-width: 1280px) {
                .sizeOfLetter(@sizeOfTextLarge);
            }
        }

        .draft {
            text-transform: uppercase;
            width: 100%;
            font-size: @sizeOfDraftSmall*1.5;

            @media (min-width: 600px) {
                font-size: @sizeOfDraftSmall;
            }

            @media (min-width: 960px) {
                font-size: @sizeOfDraftMedium;
            }

            @media (min-width: 1280px) {
                font-size: @sizeOfDraftLarge;
            }

            @media (min-width: 1920px) {
                font-size: @sizeOfDraftXL;
            }
        }

        &.draft-wpr {
            border: 1px solid #fff;
        }
    }

    .bottom {
        // height: 101px;
        position: relative;
        //padding: 10px;
        //padding-bottom: 80.5%;
        height: ~"calc(100% - @{heightOfTop})";
        background: #eeeeee;

        .name {
            display: inline-block;
            margin-top: 5px;
            padding: 0 25px 0 6px;
            max-height: 40px; /* Fallback for non-webkit */
            font-size: 14px;
            line-height: 16px;
            width: 100%;
        }
    }

    .stats {
        padding-top: 5px;
    }

    .details {
        display: none;
        height: 325px;
        padding: 10px;
        direction: ltr /*rtl:ignore*/;
        position: relative;
        background: @backgroundColorMenu;
        color: @textColorBlack;



        .first-letter {
            width: 50px;
            height: 50px;
            line-height: 30px;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            margin-top: 15px;
        }

        .name {
            text-align: left /*rtl:ignore*/;
            display: block;
            max-height: 80px; /* Fallback for non-webkit */
            font-size: 14px;
            line-height: 20px;
            .elipsisWebKit(4);
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .more {
            position: absolute;
            bottom: 10px;
        }
    }
}

.quiz-dots {
    fill: @textColorBlack;
}

.item {
    display: block;

    .item-ratio {
        .aspect-ratio();
    }
    /*.base {
        border: 1px solid #42494F;
        padding: 5px 5px 0;
        display: inline-block;
        //float: left;
    }*/
    .extra-details {
        display: none;
    }

    .content {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    /*&:hover .extra {
        top: 0;
    }*/
    h2 {
        font-size: 15px;
        -ms-word-break: break-word;
        word-break: break-word;
        margin: 5px;
        margin-right: 20px;
        -webkit-line-clamp: 3;
        line-height: 22px;
    }

    .extra {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 70px;
        background: rgba(24,28,29,0.75);
        color: @textColorBlack;
    }
}



.i-q-wrapper {
    position: relative;

    > md-menu {
        position: absolute;
        right: 15px;

        &.item-menu {
            bottom: 110px;
        }

        &.quiz-menu {
            top: 42%;
        }
    }






    .delete {
        top: 3px;
        margin: 0;
        width: inherit;
        padding: 0;
        height: inherit;

        svg {
            fill: @svgQuizArrows;
            margin-top: 0;
        }
    }
}



.drop {
    border: 5px dashed red;
}

.upload {
    .form-body {
        .displayFlex;
        border-radius: 4px;
        overflow: hidden;
        background: @backgroundColor;
    }

    md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
        background: @buttonColorRed;
    }

    .tab-content {
        background: @backgroundColor;
        min-height: 300px;
        .displayFlex();
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        .justifyContet(center);
        padding: 0 10px;

        .uploadFile {
            .displayFlex();
            .align-items(center);
            .justifyContet(center);
            position: relative;
            flex-grow: 1;
            flex-shrink: 0;
            margin: 10px 0;

            &.drop {
                border: 2px dashed #888b8e;
            }
        }

        .alert-danger {
            background-color: #f44336;
            color: #fff;
            padding: 10px;
            border: none;
        }

        md-input-container {
            width: 100%;
        }
    }

    .uploadSection {
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        margin: 0 auto;
        max-width: 600px;
        width: 100%;

        > div {
            margin: 15px 0;
        }

        md-icon {
            width: 50px;
            height: 50px;
        }

        .file {
            fill: @textColorBlue;
        }

        .link {
            fill: @linkColor;
        }

        .dropbox {
            fill: @dropboxColor;
        }

        span {
            background: @backgroundColorMenu;

            &:hover {
                background: @buttonColorCancelHover;
            }

            display: block;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            padding: 15px;
            margin: 0 auto 10px;
        }
    }





    .form-horizontal {
        padding: 0 10px 10px 10px;
        font-size: 18px;
    }

    .actions {
        text-align: right;
        padding: 20px 10px 10px 0;
        background-color: @backgroundColor;
    }
}

#dropElement {
    h5 {
        color: @borderColorBottomGrey;

        .completed {
            color: @textColorGreen;
            margin-right: 5px;
        }

        .failed {
            color: @textColorRed;
            margin-left: 5px;
        }
    }
}

.file-upload-area, .reply-wrapper {



    &.list-inline {
        padding: 17px 0 10px 0;
        overflow-x: hidden;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        margin: 0;
    }

    .file-upload {
        background: @fileColor;
        color: @textColorDarkGrey;
        text-align: center;
        width: 115px;
        height: 165px;
        font-size: 14px;
        position: relative;
        //override bootstrap
        margin: 10px;
        border: none;
        padding: 5px 5px 0;


        .file {
            height: 100%;
        }

        .file-footer {
            width: 100%;
            margin-bottom: 8px;
        }

        .btn {
            border: 1px solid @borderColorSpitballBlue;
            color: @textColorSpitballBlue;
            padding: 5px 40px;
            font-size: 18px;
        }

        .check-mark {
            position: absolute;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.4);
            z-index: 1;
            height: 30px;
            width: 30px;
            line-height: 30px;

            svg {
                fill: @checkMarkColor;
                margin: 0;
                width: 20px;
                height: 20px;
                vertical-align: middle;

                &:hover {
                    fill: @buttonColorBlue;
                }
            }

            &.error {
                svg {
                    fill: @textColorRed;
                }
            }
        }



        .file-size {
            font-weight: bold;
            line-height: 20px;
            color: @textColorWhite;
        }

        .file-upload-progress {
            height: 5px;
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .md-bar2 {
                background-color: @progressbarColor;
            }
        }

        .file-name {
            height: 105px;
            width: 100%;
            position: relative;
            text-align: left;
            padding: 0 4px;
            background: @textColorLightGrey;

            .multi-line-ellipsis {
                line-height: 16px;
            }
        }

        button {
            width: 100%;
            border-radius: 5px;
            line-height: 20px;
            margin: 0;
            color: @textColorWhite;
            background-color: @backgroundColorRed;
        }
    }
}

.flashcard-element {
    .content {
        .draft-wpr {
            background: @textColorGrey;
            .displayFlex;
            .justifyContet(center);
            .align-items(center);

            .draft {
                color: @textColorWhite;
                height: auto;
                font-size: 24px;
            }
        }

        md-icon {
            width: 40%;
            fill: rgba(255, 255, 255, 0.5);
        }
    }
}
