.class {
  /*.nav-tabs, .tabbable {
        border: 0;
    }*/
}
.class .location-search-area .folder-name,
.class .folders .folder-name {
  background: #6a737d;
  border: 1px solid #6a737d;
}
.class .location-search-area .folder-name .icon svg,
.class .folders .folder-name .icon svg {
  width: 21px;
  height: 21px;
  fill: #9e9e9e;
  margin: 0 7px;
}
.class .location-search-area {
  padding-bottom: 40px;
}
.class .location-search-area .md-menu {
  padding: 0;
}
.class .location-search-area .md-menu button {
  height: 0;
  width: 30px;
}
.class .location-search-area .name-and-icon {
  width: calc(100% - 40px);
}
.class .location-search-area .dots-3 {
  margin-right: 0;
  fill: #181c1d;
}
.class .location-search-area .search-box md-input-container {
  padding-bottom: 0;
  width: 150px;
  float: left;
  -moz-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}
.class .location-search-area md-input-container.md-input-focused {
  width: 95%;
}
.class .location-search-area .arrow svg {
  width: 22px;
  height: 22px;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  fill: #6a737d;
  margin-left: 15px;
}
.class .folders .folder-name {
  padding: 2px;
  margin-bottom: 15px;
}
.class .folders .add-folder {
  background: none;
}
.class .folders .add-folder svg {
  width: 15px;
  height: 15px;
  fill: #3d4348;
}
.class .folders .add-folder span {
  font-weight: bold;
  color: #3d4348;
  font-size: 16px;
  line-height: 20px;
  padding-right: 10px;
}
.class .designed-input {
  width: 100%;
  background: none;
  border-width: 0 0 1px 0;
  border-color: #3d4348;
  padding: 0 10px;
}
.class .need-follow {
  margin-top: 20px;
  background: #006072;
}
.class .invite-btn {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #f5f5f5;
  text-transform: uppercase;
  padding: 5px 50px 3px;
}
.class .add-button {
  margin-bottom: 15px;
  position: relative;
}
.class .add-button:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 141.42%;
}
.class .add-button > .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.class .add-button .content {
  border: 1px solid #3d4348;
  padding: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class .add-button a,
.class .add-button button {
  font-size: 18px;
  color: #323538;
}
.class .add-button svg {
  fill: #323538;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}
.class .settings {
  width: calc(100% - 60px);
}
@media (min-width: 960px) {
  .class .settings .padding {
    padding-left: 30px;
  }
}
.feed {
  font-size: 16px;
  line-height: 1;
}
.feed .extra {
  display: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.feed .like {
  width: 80px;
}
.feed .ribbon {
  bottom: 1em;
}
.feed .comment-date {
  color: #5d6063;
  font-size: 12px;
}
.feed .items-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 47px;
  margin-left: 15px;
}
.feed .items-container li:first-child {
  padding-right: 0;
}
.feed .posts-list .actions {
  margin: 10px 40px 0 0;
}
.feed .quiz .top .first-letter {
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.feed .comment {
  background: #181c1d;
  position: relative;
  border-radius: 10px;
  margin-bottom: 25px;
}
.feed .comment .c-img {
  border: 3px solid #323538;
}
.feed .comment > .top {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px 10px 0 0;
  color: #f5f5f5;
  position: absolute;
  top: -15px;
  right: -18px;
}
.feed .comment .margins {
  margin: 0 0 10px 10px;
}
.feed .comment .like {
  color: #4190b9;
  margin-right: 18px;
  margin-left: 0;
}
.feed .comment .user-name {
  color: #2698d4;
  font-weight: 400;
  margin-right: 10px;
}
.feed .comment .comment-date {
  margin-right: 47px;
}
.feed .reply {
  position: relative;
  margin-right: 26px;
}
.feed .reply .actions {
  margin-top: 0;
}
.feed .reply .c-img {
  border: none;
  top: -7px;
}
.feed .reply .like {
  color: #323538;
  margin-left: 0;
}
.feed .reply .margins {
  margin: 0 0 10px 10px;
}
.feed .reply .margins:hover {
  border-color: #5b9cc2;
  color: #5b9cc2;
}
.feed .reply .padding {
  padding-right: 9px;
  margin-top: 10px;
}
.feed .reply .items-container {
  padding-right: 40px;
  margin: 0 5px;
}
.feed .reply .user-name {
  color: #2698d4;
  font-weight: normal;
}
.feed .reply .comment-date {
  margin-right: 51px;
}
.feed .reply .content-text {
  margin-right: 50px;
}
.feed .actions {
  color: #5d6063;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
  position: relative;
}
.feed .actions svg {
  width: 20px;
  height: 20px;
  fill: #5d6063;
  vertical-align: middle;
}
.feed .actions svg:hover {
  fill: #5B9CC2;
}
.feed .actions .anonymous {
  width: 28px;
  height: 28px;
}
.feed .actions .anonymous:hover {
  fill: #d39f10;
}
.feed .actions .dropbox:hover {
  fill: #007ee5;
}
.feed .replies {
  border-top: 2px solid #323538;
  padding-top: 15px;
}
.feed .post > .content-text {
  padding: 38px 46px 0 0;
}
.feed li.post:last-child {
  margin-bottom: 0;
}
.feed .content-text {
  line-height: 22px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.feed .content-text img {
  max-width: 100%;
}
.feed .add-reply {
  display: none;
}
.feed .add-reply .reply-wrapper {
  border: 1px solid #5d6063;
  margin-bottom: 10px;
}
.feed .quiz .base {
  width: 100px;
}
.add-comment {
  margin-bottom: 25px;
  background: #181c1d;
  padding: 10px;
  /*.actions {
        display: none;
    }*/
  /*&.open {
        .actions {
            display: block;
            //height: auto;
        }

        textarea {
            
        }
    }*/
  /*button[type=submit] {
        .buttonBlue();
        padding: 2px 10px 0 10px;
        font-size: 13px;
        border-radius: 6px;
        color: @textColorWhite;
    }*/
}
.add-comment ::-webkit-input-placeholder {
  color: #323538;
}
.add-comment :-moz-placeholder {
  /* Firefox 18- */
  color: #323538;
}
.add-comment ::-moz-placeholder {
  /* Firefox 19+ */
  color: #323538;
}
.add-comment :-ms-input-placeholder {
  color: #323538;
}
.add-comment label {
  margin-bottom: 0;
}
.add-comment .list-inline {
  padding: 22px 0 10px 0;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0;
}
.add-comment .list-inline > li {
  margin: 0 10px;
  border: 1px solid #3d4348;
  padding: 5px 5px 0;
}
.add-comment .new-comment-border {
  border: 1px solid #5d6063;
  max-height: 250px;
  overflow: auto;
}
.add-comment textarea {
  width: 100%;
  border: none;
  background: #181c1d;
  padding-right: 10px;
}
.add-comment md-input-container {
  padding-bottom: 0;
}
.add-comment md-input-container .md-input:active,
.add-comment md-input-container .md-input:focus {
  color: #fff;
}
.add-comment input[type=checkbox] {
  display: none;
}
.add-comment input[type=checkbox]:checked + label svg {
  fill: #d39f10;
}
.add-comment svg {
  width: 25px;
  height: 35px;
  vertical-align: middle;
  margin: 0 12px;
  fill: #484f56;
}
.add-comment .file:hover {
  fill: #f9f9f9;
}
.add-comment .dropbox:hover {
  fill: #007ee5;
}
.add-comment .google svg:first-child {
  display: none;
}
.add-comment .google svg:last-child {
  display: inline;
}
.add-comment .google:hover svg:first-child {
  display: inline;
}
.add-comment .google:hover svg:last-child {
  display: none;
}
.add-comment .link:hover {
  fill: #64d0ff;
}
.add-comment .anonymous {
  width: 35px;
  height: 35px;
}
.add-comment .anonymous:hover {
  fill: #d39f10;
}
.member {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 20px;
}
.member a:hover {
  color: transparent;
  text-decoration: none;
}
.member .member-name {
  color: #f5f5f5;
  font-size: 15px;
  margin-right: 10px;
  width: calc(100% - 45px);
}
.quiz {
  /*.triangle-up-left {
        width: 0;
        height: 0;
        padding-bottom: 40%;
        padding-left: 40%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        background: @backgroundColor;
    }

    .triangle-up-left:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left: -500px;
        border-bottom: 500px solid transparent;
        border-left: 500px solid #4679BD;
    }*/
}
.quiz .top {
  padding-bottom: 60.5%;
  position: relative;
  color: #f5f5f5;
}
.quiz .top .first-letter,
.quiz .top .draft {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 20vw;
  width: 20vw;
  height: 20vw;
  text-align: center;
  line-height: 90%;
  text-transform: lowercase;
}
@media (min-width: 600px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 13vw;
    width: 13vw;
    height: 13vw;
  }
}
@media (min-width: 960px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 8vw;
    width: 8vw;
    height: 8vw;
  }
}
@media (min-width: 1200px) {
  .quiz .top .first-letter,
  .quiz .top .draft {
    font-size: 3vw;
    width: 3vw;
    height: 3vw;
  }
}
.quiz .top .draft {
  text-transform: uppercase;
  width: 100%;
  font-size: 6.5vw;
}
@media (min-width: 600px) {
  .quiz .top .draft {
    font-size: 6.5vw;
  }
}
@media (min-width: 960px) {
  .quiz .top .draft {
    font-size: 4vw;
  }
}
@media (min-width: 1200px) {
  .quiz .top .draft {
    font-size: 1.5vw;
  }
}
.quiz .top.draft-wpr {
  border: 1px solid #fff;
}
.quiz .top .first-letter {
  border: 1px solid #f5f5f5;
}
.quiz .bottom {
  background: #f5f5f5;
  position: relative;
  padding-bottom: 80.5%;
}
.quiz .bottom .name {
  margin-top: 5px;
  padding: 0 6px;
  position: absolute;
  color: #282828;
  max-height: 40px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 16px;
  width: 100%;
}
.quiz .bottom .corner {
  position: absolute;
  bottom: -1px;
  right: -1px ;
  width: 40%;
  fill: #181c1d;
}
.quiz .details {
  display: none;
  height: 325px;
  background: #323538;
  padding: 10px;
  color: #f5f5f5;
  direction: ltr ;
  position: relative;
}
.quiz .details .first-letter {
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
.quiz .details .name {
  text-align: left ;
  display: block;
  display: -webkit-box;
  max-height: 80px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.quiz .details .more {
  position: absolute;
  bottom: 10px;
}
.quiz .stats {
  width: 100%;
  height: 38px;
  color: #f5f5f5;
  font-size: 14px;
  padding: 12px;
}
.quiz-dots {
  fill: #f5f5f5;
}
.item {
  display: block;
  /*.base {
        border: 1px solid #42494F;
        padding: 5px 5px 0;
        display: inline-block;
        //float: left;
    }*/
}
.item .extra-details {
  display: none;
}
.item .content {
  position: relative;
  display: inline-block;
  width: 100%;
}
.item:hover .extra {
  top: 0;
}
.item h5 {
  font-size: 15px;
  -ms-word-break: break-word;
  word-break: break-word;
  margin-top: 30px;
  margin-bottom: 4px;
  padding-right: 10px;
  line-height: 20px;
}
.item .uploader-date {
  margin-top: 33%;
  padding-right: 10px;
  line-height: 16px;
}
.item .extra {
  color: #f5f5f5;
  background: #323538;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
.item .extra svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #f5f5f5;
}
.item svg {
  vertical-align: top;
  margin-top: 5px;
}
.item .stats {
  color: #f5f5f5;
  font-size: 14px;
  padding: 0 12px;
}
.item,
.quiz {
  margin-bottom: 15px;
}
.item .base,
.quiz .base {
  border: 1px solid #3d4348;
  padding: 5px;
  display: inline-block;
  width: 100%;
}
.item .extra-details,
.quiz .extra-details {
  display: none;
}
.item-quiz-likes {
  float: left;
}
.item-quiz-likes svg {
  width: 12px;
  height: 12px;
  fill: #f5f5f5;
}
.item-quiz-views {
  float: right;
}
.item-quiz-views svg {
  width: 14px;
  height: 14px;
  fill: #f5f5f5;
}
.i-q-wrapper {
  position: relative;
  margin: 0 0.5%;
}
@media (min-width: 960px) and (max-width: 1200px) {
  .i-q-wrapper {
    margin: 0 1%;
  }
}
@media (min-width: 600px) and (max-width: 960px) {
  .i-q-wrapper {
    margin: 0 1.2%;
  }
}
@media (max-width: 600px) {
  .i-q-wrapper {
    margin: 0 2%;
  }
}
.item-animate.ng-move,
.item-animate.ng-enter,
.item-animate.ng-leave {
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.item-animate.ng-leave.ng-leave-active,
.item-animate.ng-move,
.item-animate.ng-enter {
  opacity: 0;
}
.item-animate.ng-leave,
.item-animate.ng-move.ng-move-active,
.item-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.upload .tab-content {
  background: #181c1d;
  min-height: 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.upload .uploadSection {
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  width: 58%;
  margin: 0 auto;
}
.upload .uploadSection svg {
  fill: #f9f9f9;
  width: 50px;
  height: 50px;
}
.upload .uploadSection .link {
  fill: #64d0ff;
}
.upload .uploadSection .dropbox {
  fill: #007ee5;
}
.upload .uploadSection span {
  display: block;
  background: #323538;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  margin: 0 auto 10px;
}
.upload .uploadSection span:hover {
  background: #212325;
}
.upload .form-horizontal {
  padding: 10px;
  font-size: 18px;
}
.upload .actions {
  text-align: left;
  background-color: #181c1d;
  padding: 20px 0 10px 10px;
}
.file-upload {
  text-align: center;
  color: #323538;
  width: 115px;
  height: 165px;
  font-size: 14px;
  position: relative;
  padding: 0;
  margin: 5px;
  background: #f9f9f9;
  margin: 0 10px;
  border: none;
  padding: 5px 5px 0;
}
.file-upload .file {
  height: 100%;
}
.file-upload .file-footer {
  width: 100%;
  margin-bottom: 8px;
}
.file-upload .progress-wrap {
  background: #f5f5f5;
  padding-bottom: 10px;
}
.file-upload .progress {
  margin: 0 10px;
  border-radius: 0;
  height: 10px;
}
.file-upload .progress .progress-bar {
  background-color: #8dc63f;
}
.file-upload .btn {
  border: 1px solid #3293f6;
  padding: 5px 40px;
  font-size: 18px;
  color: #3293f6;
}
.file-upload .check-mark {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  z-index: 1;
}
.file-upload .check-mark svg {
  fill: #8dc63f;
  margin: 0;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.file-upload h5 {
  color: #8dc63f;
}
.file-upload .file-size {
  text-align: right;
  font-weight: bold;
}
.file-upload .file-upload-progress {
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.file-upload .file-name {
  height: 100px;
  position: relative;
  background: #c3c3c3;
  padding-top: 4px;
}
.file-upload button {
  background-color: #db4437;
  color: #f5f5f5;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-top: 3px;
}
