.class .nav-tabs > li.active > a,
.class .nav-tabs > li.active > a:hover {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #3293f6;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}
.class .nav-tabs {
  border: 0;
}
.class .nav-tabs > li > a:hover {
  border: 1px solid transparent;
}
.class a {
  color: #8c99a6;
}
.class a:hover,
.class a:focus {
  color: #3598dc;
}
.class .tabbable {
  background-color: #353a3f;
  padding: 0 10px;
}
.class .extraDetails {
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
  background-color: black;
  z-index: 1;
}
.class .extraDetails > span:first-child {
  float: left;
}
.class .extraDetails > span:last-child {
  float: right;
}
.class .mix-subDetails {
  position: absolute;
  bottom: 75px;
}
.class .no-background {
  background-color: transparent;
}
.class .attach {
  background: rgba(0, 0, 0, 0.48);
  margin: 8px -20px -8px -10px;
}
.class .likes {
  background: rgba(0, 0, 0, 0.48);
  margin: 8px -20px -7px -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50px;
  line-height: 50px;
}
.class .likes .share {
  height: 20px;
  width: 20px;
  fill: currentColor;
  float: right;
  position: absolute;
  bottom: 14px;
  right: 15px;
}
.class .likes .blue.btn {
  float: left;
  margin: 5px;
  border-radius: 45px;
  padding: 3px 10px;
  margin: 10px 10px 10px 15px;
}
.member-name {
  color: #bababa;
  font-size: 15px;
  margin-left: 10px;
}
.stats {
  width: 100%;
  height: 38px;
  color: #f5f5f5;
  font-size: 14px;
  padding: 12px;
}
.stats svg {
  vertical-align: top;
  margin-top: 5px;
}
.stats .likes2 svg {
  width: 12px;
  height: 12px;
  fill: #f5f5f5;
}
.stats .views svg {
  width: 14px;
  height: 14px;
  fill: #f5f5f5;
}
.quiz {
  border: 1px solid #42494F;
  padding: 5px;
}
.quiz.color0 .top,
.quiz.color0 .details .first-letter {
  background: #64a9f8;
}
.quiz.color1 .top,
.quiz.color1 .details .first-letter {
  background: #9d87b7;
}
.quiz.color2 .top,
.quiz.color2 .details .first-letter {
  background: #666e70;
}
.quiz.color3 .top,
.quiz.color3 .details .first-letter {
  background: #ff9853;
}
.quiz.color4 .top,
.quiz.color4 .details .first-letter {
  background: #e775ce;
}
.quiz.color5 .top,
.quiz.color5 .details .first-letter {
  background: #ffb933;
}
.quiz.color6 .top,
.quiz.color6 .details .first-letter {
  background: #848fa6;
}
.quiz.color7 .top,
.quiz.color7 .details .first-letter {
  background: #5474cf;
}
.quiz.color8 .top,
.quiz.color8 .details .first-letter {
  background: #e3b75f;
}
.quiz.color9 .top,
.quiz.color9 .details .first-letter {
  background: #695b47;
}
.quiz.color10 .top,
.quiz.color10 .details .first-letter {
  background: #f36f6e;
}
.quiz.color11 .top,
.quiz.color11 .details .first-letter {
  background: #f76446;
}
.quiz.color12 .top,
.quiz.color12 .details .first-letter {
  background: #73b435;
}
.quiz.color13 .top,
.quiz.color13 .details .first-letter {
  background: #6ea77b;
}
.quiz.color14 .top,
.quiz.color14 .details .first-letter {
  background: #c33f40;
}
.quiz.color15 .top,
.quiz.color15 .details .first-letter {
  background: #549af7;
}
.quiz.color16 .top,
.quiz.color16 .details .first-letter {
  background: #4e5384;
}
.quiz.color17 .top,
.quiz.color17 .details .first-letter {
  background: #4faf61;
}
.quiz .top {
  height: 72px;
  position: relative;
  color: #f5f5f5;
}
.quiz .top .first-letter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  font-size: 22px;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #f5f5f5;
}
.quiz .bottom {
  height: 101px;
  background: #f5f5f5;
  position: relative;
  padding: 10px;
}
.quiz .bottom .name {
  color: #353a3f;
  display: block;
  display: -webkit-box;
  max-height: 40px;
  /* Fallback for non-webkit */
  font-size: 16px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quiz .bottom:before {
  content: "";
  bottom: 0;
  right: 0;
  height: 42px;
  width: 42px;
  position: absolute;
  background: #212427;
}
.quiz .bottom:after {
  content: '';
  display: block;
  right: 0;
  bottom: 0;
  position: absolute;
  border-style: solid;
  border-width: 39px 39px 0 0;
  border-color: #f5f5f5 transparent;
}
.quiz .details {
  display: none;
  height: 325px;
  background: #484F56;
  padding: 10px;
  color: #fff;
  direction: ltr;
  position: relative;
}
.quiz .details .first-letter {
  width: 50px;
  height: 50px;
  line-height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
}
.quiz .details .name {
  text-align: left;
  display: block;
  display: -webkit-box;
  max-height: 80px;
  /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quiz .details .more {
  position: absolute;
  bottom: 10px;
}
.item {
  border: 1px solid #42494F;
  padding: 5px;
}
