@import "variables.less";

.class {
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
        background: transparent;
        border: 0;
        border-bottom: 1px solid @loginColor;
        color: @color2;
    }

    .nav-tabs {
        border: 0;
    }

    .nav-tabs > li > a:hover {
        border: 1px solid transparent;
    }

    a {
        color: @color1;
    }

    a:hover, a:focus {
        color: @color1;
    }

    .tabbable {
        background-color: @color4;
        padding: 0 10px;
        //padding:0 10px;
    }

    .extraDetails {
        color: @color2;
        overflow: hidden;
        position: relative;
        background-color: black;
        z-index: 1;

        > span:first-child {
            float: left;
        }

        > span:last-child {
            float: right;
        }
    }

    .mix-subDetails {
        position: absolute;
        bottom: 75px;
    }

    .no-background {
        background-color: transparent;
    }

    .attach {
        background: rgba(0, 0, 0, 0.48);
        margin: 8px -20px -7px -11px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .member {
        .img-circle {
            vertical-align:middle;
            width:45px;
            height:45px;
        }//display:table;
    }
    .member-name {
        //display:table-cell;
        //vertical-align:middle;
        color:#bababa;
        font-size:15px;
    }
}
