.chat-counter {
  background: #db4437;
  color: #f5f5f5;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0;
  text-align: center;
}
.chat-icon {
  position: relative;
  height: 65px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-left: 22px;
  padding-right: 14px;
}
.chat-icon svg {
  width: 30px;
  height: 30px;
  fill: #f5f5f5;
}
.chat-icon .chat-counter {
  position: absolute;
  top: 12px;
  left: 12px;
}
md-sidenav.chat {
  position: fixed;
  z-index: 130;
  top: 0;
  bottom: 0;
  background: #eee !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
md-sidenav.chat md-content {
  background: none;
  position: relative;
  height: 100vh;
  overflow: hidden;
  /*.conversasion {
           
        }*/
}
md-sidenav.chat md-content .header {
  background: #111111;
  position: relative;
  /*.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
        }
    */
  /*.menu-item:hover {
        background: white;
        color: #00bcd4;
    }*/
}
md-sidenav.chat md-content .header .tabs {
  background: #eee;
  color: #f5f5f5;
  border: 1px solid #D7DDE0;
}
md-sidenav.chat md-content .header .tabs .tab {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  padding-top: 3px;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  color: #888b8e;
}
md-sidenav.chat md-content .header .tabs .tab.active {
  color: #4190b9;
  border-bottom: 3px solid #4190b9;
}
md-sidenav.chat md-content .header .menu-item,
md-sidenav.chat md-content .header .menu-open-button {
  background: #111;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
md-sidenav.chat md-content .header .menu-open {
  display: none;
}
md-sidenav.chat md-content .header .menu {
  position: absolute;
  right: 260px;
  top: 15px;
  width: 650px;
  height: 150px;
  box-sizing: border-box;
  z-index: 1;
}
md-sidenav.chat md-content .header .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
md-sidenav.chat md-content .header .menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
md-sidenav.chat md-content .header .menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
md-sidenav.chat md-content .header .menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
md-sidenav.chat md-content .header .menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
md-sidenav.chat md-content .header .menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
md-sidenav.chat md-content .header .menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
md-sidenav.chat md-content .header .menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
  -webkit-transform: translate3d(0, 55px, 0);
  transform: translate3d(0, 55px, 0);
}
md-sidenav.chat md-content .header .menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
  transition-duration: 290ms;
  -webkit-transform: translate3d(0, 110px, 0);
  transform: translate3d(0, 110px, 0);
}
md-sidenav.chat md-content .header .menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
  transition-duration: 390ms;
  -webkit-transform: translate3d(0, 165px, 0);
  transform: translate3d(0, 165px, 0);
}
md-sidenav.chat md-content .attach-menu {
  position: absolute;
}
md-sidenav.chat md-content .tab-content {
  height: calc(100vh - 113px);
}
md-sidenav.chat md-content .tab-content.noChats {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
md-sidenav.chat md-content .tab-content.noChats .empty-state {
  text-align: center;
  width: 100%;
}
md-sidenav.chat md-content .tab-content.noChats .empty-state .text {
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
}
md-sidenav.chat md-content .tab-content.noChats .empty-state .text span {
  color: #4190b9;
  display: block;
  margin-bottom: 10px;
}
md-sidenav.chat md-content .tab-content.noChats .empty-state svg {
  fill: #c5c5c5;
  opacity: 0.5;
}
md-sidenav.chat md-content .tab-content.noChats .search-friend,
md-sidenav.chat md-content .tab-content.noChats .users-list {
  display: none;
}
md-sidenav.chat md-content .tab-content:not(.noChats) .empty-state {
  display: none;
}
md-sidenav.chat md-content .tab-content .search-friend {
  margin: 12px 6px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 0;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(93, 96, 99, 0.7);
  border-radius: 3px;
}
md-sidenav.chat md-content .tab-content .search-friend input {
  border: none;
  flex-grow: 1;
  padding: 0 12px;
}
md-sidenav.chat md-content .tab-content .search-friend button {
  padding: 5px 8px;
}
md-sidenav.chat md-content .tab-content .search-friend button svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: #4190b9;
}
md-sidenav.chat md-content .tab-content .users-list {
  padding: 0;
  color: #282828;
}
md-sidenav.chat md-content .tab-content .users-list .user .chat-counter {
  padding: 0;
  margin: 0 10px 0 25px;
  flex-shrink: 0;
}
md-sidenav.chat md-content .tab-content .users-list .user .name-counter {
  width: 100%;
  line-height: 55px;
  font-size: 16px;
}
md-sidenav.chat md-content .tab-content .users-list .user:not(:last-child) .name-counter {
  border-bottom: 1px solid #dfe2e9;
}
md-sidenav.chat md-content.stateChat .menu-content,
md-sidenav.chat md-content .conversasion,
md-sidenav.chat md-content:not(.stateChat) .menu-content {
  -moz-transition: transform 0.2s ease-in-out !important;
  -o-transition: transform 0.2s ease-in-out !important;
  -webkit-transition: transform 0.2s ease-in-out !important;
  transition: transform 0.2s ease-in-out !important;
}
md-sidenav.chat md-content.stateChat .conversasion,
md-sidenav.chat md-content.stateChat .menu-content,
md-sidenav.chat md-content .conversasion.ng-leave {
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
md-sidenav.chat md-content .conversasion.ng-leave.ng-leave-active,
md-sidenav.chat md-content:not(.stateChat) .menu-content {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
md-sidenav.chat md-content.stateChat .menu-content svg,
md-sidenav.chat md-content.stateChat .menu-content .chat-counter {
  -moz-animation: fadeout 0.2s;
  /* Firefox */
  -webkit-animation: fadeout 0.2s;
  /* Safari and Chrome */
  -o-animation: fadeout 0.2s;
  animation: fadeout 0.2s;
  /* Opera */
}
md-sidenav.chat md-content:not(.stateChat) .menu-content svg,
md-sidenav.chat md-content:not(.stateChat) .menu-content .chat-counter {
  -moz-animation: fadein 0.2s;
  /* Firefox */
  -webkit-animation: fadein 0.2s;
  /* Safari and Chrome */
  -o-animation: fadein 0.2s;
  animation: fadein 0.2s;
  /* Opera */
}
md-sidenav.chat md-content .menu-content {
  left: 0;
}
md-sidenav.chat md-content .conversasion,
md-sidenav.chat md-content .menu-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
md-sidenav.chat md-content .conversasion {
  left: -100%;
}
md-sidenav.chat md-content .conversasion .header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 65px;
}
md-sidenav.chat md-content .conversasion .header svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
md-sidenav.chat md-content .conversasion .header svg.attach {
  fill: #f5f5f5;
}
md-sidenav.chat md-content .conversasion .header svg.dropbox {
  fill: #007EE5;
}
md-sidenav.chat md-content .conversasion .header md-fab-actions {
  margin-top: 20px;
}
md-sidenav.chat md-content .conversasion .header md-fab-actions .md-fab-action-item {
  background: #323538;
  margin: 3px;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
md-sidenav.chat md-content .conversasion .header md-fab-actions .md-fab-action-item button {
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
md-sidenav.chat md-content .conversasion .header .user-side {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
md-sidenav.chat md-content .conversasion .header .user-side .back {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}
md-sidenav.chat md-content .conversasion .header .user-side .back:after {
  content: "";
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 3px;
  right: 0;
  margin: 6px 10px;
  width: 14px;
  height: 14px;
  background: transparent;
  border-right: 3px solid #f5f5f5;
  border-bottom: 3px solid #f5f5f5;
}
md-sidenav.chat md-content .conversasion .header .user-side .user {
  color: #f5f5f5;
}
md-sidenav.chat md-content .conversasion .chat-content .messages {
  padding: 0;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 70px;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 8px;
  max-width: 80%;
  overflow: hidden;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message:not(.partner) {
  margin-right: auto;
  background: #CBDBE3;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message.partner {
  background: #ffffff;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message .text {
  padding: 8px 12px 0 12px;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message .time {
  color: #888b8e;
  font-size: 11px;
  margin-top: 5px;
  padding: 0 12px 8px 12px;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message a {
  color: blue;
  text-decoration: underline;
}
md-sidenav.chat md-content .conversasion .chat-content .messages .message img {
  max-width: 100%;
}
md-sidenav.chat md-content .conversasion .chat-content .new-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background: #EEEEEE;
}
md-sidenav.chat md-content .conversasion .chat-content .new-message md-input-container {
  margin: 0;
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
md-sidenav.chat md-content .conversasion .chat-content .new-message md-input-container textarea {
  color: #282828;
  border: none !important;
  min-height: 45px;
  line-height: 20px;
}
md-sidenav.chat md-content .conversasion .chat-content .new-message md-input-container .md-errors-spacer,
md-sidenav.chat md-content .conversasion .chat-content .new-message md-input-container .md-errors-space {
  display: none;
}
md-sidenav.chat md-content .conversasion .chat-content .new-message button {
  border-radius: 100%;
  padding: 8px;
  position: absolute;
  top: -15px;
  left: 15px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}
md-sidenav.chat md-content .conversasion .chat-content .new-message button svg {
  width: 25px;
  height: 25px;
  display: block;
}
md-sidenav.chat md-content .user,
md-sidenav.chat md-content .name-counter {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
md-sidenav.chat md-content .name-counter {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
md-sidenav.chat md-content .user {
  position: relative;
}
md-sidenav.chat md-content .user.online:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #0CFF00;
  position: absolute;
  right: 35px;
  bottom: 10px;
}
md-sidenav.chat md-content .user .img-circle {
  margin: 10px;
  flex-shrink: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}