.chat-counter {
  background: #db4437;
  color: #ffffff;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  padding: 0;
  text-align: center;
}
#chatLoadMore {
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
}
.chat-icon {
  position: relative;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-left: 14px;
  padding-right: 14px;
}
.chat-icon md-icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
.chat-icon .chat-counter {
  position: absolute;
  top: 4px;
  left: 12px;
}
.chat-side-nav .chat {
  position: fixed;
  z-index: 10;
  top: 70px;
  bottom: 0;
  width: 320px;
  left: 0;
  transition: left 0.1s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}
.chat-side-nav .chat .content {
  height: calc(100vh - 70px);
  background: none;
  position: relative;
  overflow: hidden;
}
.chat-side-nav .chat .content .users-list {
  height: calc(100vh + 5px - 70px - 50px);
}
.chat-side-nav .chat .content .conversasion,
.chat-side-nav .chat .content .menu-content {
  position: absolute;
  width: 100%;
  height: calc(100vh - 70px);
}
.chat-side-nav .chat .content .conversasion .new-message,
.chat-side-nav .chat .content .menu-content .new-message {
  position: absolute;
}
.chat-side-nav .chat .content .conversasion .chat-content .messages {
  height: calc(100vh - 10px - 50px - 70px - 50px);
}
.chat-side-nav .chat .tab {
  position: absolute;
  top: 15px;
  right: -20px;
  height: 35px;
  width: 20px;
  border-radius: 0 5px 5px 0;
  background: #4190b9;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.chat-side-nav .chat .tab:hover {
  background: #297095;
}
.chat-side-nav .chat .tab:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: calc(50% - 7px);
  right: 4px;
  border-width: 7px 10px 7px 0;
  border-color: transparent #ffffff transparent transparent;
  right: 6px;
}
.chatPage .chat {
  margin: -5px;
}
.chatPage .chat .users-list {
  padding-top: 50px;
}
.chatPage .chat .tab {
  display: none;
}
.chatPage .chat .search-friend {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  background: #eeeeee;
  z-index: 1;
}
.chatPage .chat .content.stateChat .conversasion .header {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 1;
}
.chatPage .chat .content.stateChat .chat-content .messages {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 10px - 70px);
}
.chatPage .chat .content.stateChat .chat-content .new-message {
  position: fixed !important;
}
.chatPage .chat .content.stateChat .chat-content .new-message .menu {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.mdno-cssscrollbar .chat .users-list {
  height: calc(100vh - 119px);
}
.chat {
  background: #eeeeee !important;
  min-height: calc(100vh - 70px);
}
.chat .stateChat ~ .tab {
  display: none;
}
.chat .error {
  z-index: 1;
  color: #ffffff;
  position: absolute;
  width: 100%;
  top: 50px;
  box-shadow: 0 0 3px black;
  text-align: center;
  background: #db4437;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 0;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.chat .error.disconnected {
  padding: 5px 10px;
  height: 60px;
}
.chat .content {
  /*&.stateChat .menu-content, .conversasion, &:not(.stateChat) .menu-content {
            .transition(transform, 0.2s, ease-in-out)
        }*/
  /*&.stateChat .conversasion,
        &.stateChat .menu-content,
        .conversasion.ng-leave {
            .translate3d(-100%, 0, 0);
        }

        .conversasion.ng-leave.ng-leave-active,
        &:not(.stateChat) .menu-content {
            .translate3d(0, 0, 0);
        }*/
  /*.conversasion {
           
        }*/
}
.chat .content .attach-menu {
  position: absolute;
}
.chat .content .tab-content .search-friend {
  margin-top: 6px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 0;
  overflow: hidden;
  margin: 0;
}
.chat .content .tab-content .search-friend input {
  background: none;
  border: none;
  flex-grow: 1;
  border-bottom: 1px solid #4190b9;
  max-width: calc(100% - 85px);
  font-size: 16px;
  padding-top: 16px;
  margin-bottom: 4px;
}
.chat .content .tab-content .search-friend .reset-btn {
  padding: 10px 10px 0 10px;
}
.chat .content .tab-content .search-friend .reset-btn md-icon {
  width: 10px;
  height: 10px;
  display: block;
  fill: #323538;
}
.chat .content .tab-content .search-friend .search-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 24px;
  margin: 0 16px;
  padding: 16px 0 6px 0;
}
.chat .content .tab-content .search-friend .search-btn md-icon {
  width: 20px;
  height: 20px;
  display: block;
  fill: #4190b9;
}
.chat .content .tab-content .users-list {
  width: calc(100% - 20px);
  overflow: auto;
}
.chat .content .tab-content .users-list section {
  margin-top: 16px;
}
.chat .content .tab-content .users-list section:not(:last-child):after {
  content: '';
  display: block;
  border-bottom: 2px solid rgba(136, 139, 142, 0.3);
  margin-right: 10px;
  width: calc(100% - 20px);
  margin: 0 8px;
}
.chat .content .tab-content .users-list section .header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.chat .content .tab-content .users-list section .header md-icon {
  fill: #888b8e;
  width: 38px;
  margin: 0 9px;
}
.chat .content .tab-content .users-list section .header h1 {
  font-size: 16px;
  margin: 0;
  color: #888b8e;
  line-height: 25px;
}
.chat .content .tab-content .users-list section.favorits md-icon {
  height: 20px;
}
.chat .content .tab-content .users-list section.classmates md-icon {
  height: 28px;
}
.chat .content .tab-content .users-list section.schoolmates .header md-icon {
  height: 38px;
}
.chat .content .tab-content .users-list .users-sub-list {
  padding: 0;
  margin: 0;
  color: #212325;
  overflow: auto;
}
.chat .content .tab-content .users-list .users-sub-list .mCSB_container {
  width: auto !important;
}
.chat .content .tab-content .users-list .users-sub-list .user {
  margin-top: 4px;
  margin-bottom: 4px;
}
.chat .content .tab-content .users-list .users-sub-list .user:hover {
  background: rgba(218, 218, 218, 0.4);
}
.chat .content .tab-content .users-list .users-sub-list .user .chat-counter {
  position: absolute;
  right: 4px;
  top: 4px;
  box-shadow: 0 0 0px 2px #eeeeee;
}
.chat .content .tab-content .users-list .users-sub-list .user .name-date {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(100% - 64px);
  font-size: 16px;
  height: 54px;
  color: #212325;
}
.chat .content .tab-content .users-list .users-sub-list .user .member-name,
.chat .content .tab-content .users-list .users-sub-list .user .comment-date {
  display: block;
  width: 100%;
}
.chat .content .tab-content .users-list .users-sub-list .user .comment-date {
  font-size: 11px;
  color: #9E9E9E;
}
.chat .content .tab-content .empty-state {
  text-align: center;
}
.chat .content .tab-content .empty-state md-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 5vh auto 0 auto;
  fill: #888b8e;
  animation: none !important;
}
.chat .content .tab-content .empty-state span {
  display: block;
}
.chat .content .tab-content .empty-state span.title {
  color: #888b8e;
  font-size: 18px;
  padding: 12px 16px;
}
.chat .content .tab-content .empty-state span.subtitle {
  color: #dadce2;
  font-size: 16px;
}
.chat .content.stateChat .menu-content md-icon,
.chat .content.stateChat .menu-content .chat-counter {
  -moz-animation: fadeout 0.2s;
  /* Firefox */
  -webkit-animation: fadeout 0.2s;
  /* Safari and Chrome */
  -o-animation: fadeout 0.2s;
  animation: fadeout 0.2s;
  /* Opera */
}
.chat .content:not(.stateChat) .menu-content md-icon,
.chat .content:not(.stateChat) .menu-content .chat-counter {
  -moz-animation: fadein 0.2s;
  /* Firefox */
  -webkit-animation: fadein 0.2s;
  /* Safari and Chrome */
  -o-animation: fadein 0.2s;
  animation: fadein 0.2s;
  /* Opera */
}
.chat .content.stateChat .menu-content {
  left: 100%;
}
.chat .content.stateChat .conversasion {
  left: 0;
}
.chat .content:not(.stateChat) .menu-content {
  left: 0;
}
.chat .content:not(.stateChat) .conversasion {
  left: -100%;
}
.chat .content .conversasion,
.chat .content .menu-content {
  background: #eeeeee;
  transition: left 0.3s;
  top: 0;
}
.chat .content .conversasion .header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 50px;
  background: #042E5E;
  position: relative;
}
.chat .content .conversasion .header .user {
  max-width: calc(100% - 40px);
  color: #ffffff;
}
.chat .content .conversasion .header .user user-image {
  display: none;
}
.chat .content .conversasion .header .user.online:before {
  bottom: 2px;
  box-shadow: 0 0 1px 2px #042E5E;
}
.chat .content .conversasion .header md-fab-actions {
  margin-top: 20px;
}
.chat .content .conversasion .header md-fab-actions .md-fab-action-item {
  background: #323538;
  margin: 3px;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.chat .content .conversasion .header md-fab-actions .md-fab-action-item button {
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.chat .content .conversasion .header .back {
  background: #ffffff;
  border-radius: 100%;
  padding: 2px;
  margin: 0 10px;
}
.chat .content .conversasion .header .back .close {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  margin: 0;
}
.chat .content .conversasion .header .back .close:before,
.chat .content .conversasion .header .back .close:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  margin-top: -1px;
  background: #042E5E;
  height: 2px;
}
.chat .content .conversasion .header .back .close:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chat .content .conversasion .header .back .close:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.chat .content .conversasion .chat-content .messages {
  width: calc(100% - 5px);
  padding: 0;
  font-size: 15px;
  padding-bottom: 6px;
  overflow: auto;
  color: #212325;
}
.chat .content .conversasion .chat-content .messages .mCSB_outside + .mCSB_scrollTools {
  left: -5px;
}
.chat .content .conversasion .chat-content .messages .message {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 8px;
  max-width: 80%;
  overflow: hidden;
}
.chat .content .conversasion .chat-content .messages .message:not(.partner) {
  margin-right: auto;
  background: #CBDBE3;
}
.chat .content .conversasion .chat-content .messages .message.partner {
  background: #ffffff;
}
.chat .content .conversasion .chat-content .messages .message .text {
  padding: 8px 12px 0 12px;
  word-wrap: break-word;
}
.chat .content .conversasion .chat-content .messages .message .time {
  color: #9E9E9E;
  font-size: 11px;
  margin-top: 5px;
  padding: 0 12px 8px 12px;
}
.chat .content .conversasion .chat-content .messages .message a {
  color: blue;
  text-decoration: underline;
}
.chat .content .conversasion .chat-content .messages .message img {
  max-width: 100%;
}
.chat .content .conversasion .chat-content .new-message {
  bottom: 0;
  width: 100%;
  background: #CBDBE3;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 50px;
  padding: 6px 10px 6px 6px;
  /*@media(max-width: 600px) {
                        padding: 6px 6px 20px 10px;
                    }*/
}
.chat .content .conversasion .chat-content .new-message form {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  border-radius: 8px;
  margin-right: 8px;
  background: #ffffff;
  border: 1px solid #cbdbe3;
  position: relative;
  min-height: 38px;
}
.chat .content .conversasion .chat-content .new-message .menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.chat .content .conversasion .chat-content .new-message .menu md-icon.attach {
  width: 26px;
  height: 26px;
  display: block;
  margin-bottom: 5px;
  fill: #4190b9;
}
.chat .content .conversasion .chat-content .new-message md-input-container {
  margin: 0;
  font-size: 15px;
  max-height: 200px;
  overflow: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  margin-left: 50px;
}
.chat .content .conversasion .chat-content .new-message md-input-container textarea {
  color: #212325;
  border: none !important;
  line-height: 22px;
  padding: 0 10px 0 0;
  /*@media(max-width: 600px) {
                                padding: 0 0 50px 10px;
                                min-height: @newChatMessageHeightMobile;
                            }*/
}
.chat .content .conversasion .chat-content .new-message md-input-container .md-errors-spacer,
.chat .content .conversasion .chat-content .new-message md-input-container .md-errors-space {
  display: none;
}
.chat .content .conversasion .chat-content .new-message button {
  border-radius: 100%;
  padding: 8px;
  position: absolute;
  height: auto;
  top: -16px;
  left: 8px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}
.chat .content .conversasion .chat-content .new-message button md-icon {
  width: 25px;
  height: 25px;
  display: block;
}
.chat .content .user,
.chat .content .name-counter {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.chat .content .name-counter {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.chat .content .user {
  position: relative;
}
.chat .content .user.online:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #3293f6;
  position: absolute;
  right: 37px;
  bottom: 7px;
}
.chat .content .user .img-circle {
  margin: 0 8px;
  flex-shrink: 0;
}
.theme-dark .chat .content .conversasion .user.online:before {
  box-shadow: 0 0 1px 2px #375068;
}
.theme-dark .chat .content .user.online:before {
  box-shadow: 0 0 1px 2px #212325;
}
.theme-light .chat .content .user.online:before {
  box-shadow: 0 0 1px 2px #f9f9f9;
}
.theme-light .chat .content .conversasion .user.online:before {
  box-shadow: 0 0 1px 2px #042E5E;
}
.chat-tooltip {
  text-align: center;
}
.chat-tooltip .md-content {
  padding: 4px 10px;
}
.chat-tooltip .md-content div {
  line-height: normal;
}
.chat-item-preview {
  max-height: 95vh;
  position: relative;
  max-width: calc(100% - 700px);
}
.chat-item-preview md-toolbar {
  background: rgba(50, 53, 56, 0.9);
  min-height: 0;
  position: absolute;
}
.chat-item-preview md-toolbar .md-toolbar-tools {
  font-size: 18px;
  height: 40px !important;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.chat-item-preview md-toolbar .md-toolbar-tools > .md-button {
  margin-left: 0;
  margin-right: 0;
}
.chat-item-preview md-toolbar .download-btn {
  min-width: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40px;
  margin: 0;
}
.chat-item-preview md-toolbar .download-btn md-icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}
.chat-item-preview md-toolbar .close-btn {
  min-width: 0;
  line-height: normal;
  padding: 0;
  width: 36px;
}
.chat-item-preview md-toolbar .close-btn md-icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}
.chat-item-preview md-dialog-content {
  padding-top: 40px;
}
.chat-item-preview md-dialog-content img,
.chat-item-preview md-dialog-content iframe {
  max-width: 100%;
}
.chat-item-preview md-dialog-content img.svg-item {
  width: 800px;
  max-width: 100%;
}
.chat-item-preview md-dialog-content iframe {
  border: none;
  width: calc(100vw - 700px);
  height: 80vh;
}
.chat-item-preview md-dialog-content .preview-faild {
  text-align: center;
  padding: 30px;
}
.chat-item-preview md-dialog-content .preview-faild img {
  margin-bottom: 15px;
}
html.expanded-chat .chat-tooltip,
html.mdtouchevents .chat-tooltip {
  display: none;
}
@media (min-width: 600px) and (max-width: 960px) {
  html:not(.expanded-chat) .chat {
    left: -100vw;
    display: none;
  }
}
html:not(.expanded-chat) .chat .content .tab-content .search-friend .search-btn {
  -webkit-justify-content: center;
  justify-content: center;
}
html:not(.expanded-chat) .chat-side-nav .chat {
  left: -265px;
}
html:not(.expanded-chat) .chat-side-nav .chat .content .tab-content .users-list section:not(:last-child):after {
  border-bottom-color: transparent;
}
html:not(.expanded-chat) .chat-side-nav .chat .tab:after {
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #ffffff;
  right: 4px;
}
html:not(.expanded-chat) .chat-side-nav .error {
  display: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}