@import "variables.less";


.color0 {
    .progress {
        background: @boxColor0;
    }

    border-color: @boxColor0;
    color: @boxColor0;
}

.color1 {
    .progress {
        background: @boxColor1;
    }

    border-color: @boxColor1;
    color: @boxColor1;
}

.color2 {
    .progress {
        background: @boxColor2;
    }

    border-color: @boxColor2;
    color: @boxColor2;
}

.color3 {
    .progress {
        background: @boxColor3;
    }

    border-color: @boxColor3;
    color: @boxColor3;
}

.color4 {
    .progress {
        background: @boxColor4;
    }

    border-color: @boxColor4;
    color: @boxColor4;
}

.color5 {
    .progress {
        background: @boxColor5;
    }

    border-color: @boxColor5;
    color: @boxColor5;
}

.color6 {
    .progress {
        background: @boxColor6;
    }

    border-color: @boxColor6;
    color: @boxColor6;
}

.color7 {
    .progress {
        background: @boxColor7;
    }

    border-color: @boxColor7;
    color: @boxColor7;
}

.color8 {
    .progress {
        background: @boxColor8;
    }

    border-color: @boxColor8;
    color: @boxColor8;
}

.color9 {
    .progress {
        background: @boxColor9;
    }

    border-color: @boxColor9;
    color: @boxColor9;
}

.color10 {
    .progress {
        background: @boxColor10;
    }

    border-color: @boxColor10;
    color: @boxColor10;
}

.color11 {
    .progress {
        background: @boxColor11;
    }

    border-color: @boxColor11;
    color: @boxColor11;
}

.color12 {
    .progress {
        background: @boxColor12;
    }

    border-color: @boxColor12;
    color: @boxColor12;
}

.color13 {
    .progress {
        background: @boxColor13;
    }

    border-color: @boxColor13;
    color: @boxColor13;
}

.color14 {
    .progress {
        background: @boxColor14;
    }

    border-color: @boxColor14;
    color: @boxColor14;
}

.color15 {
    .progress {
        background: @boxColor15;
    }

    border-color: @boxColor15;
    color: @boxColor15;
}

.color16 {
    .progress {
        background: @boxColor16;
    }

    border-color: @boxColor16;
    color: @boxColor16;
}

.color17 {
    .progress {
        background: @boxColor17;
    }

    border-color: @boxColor17;
    color: @boxColor17;
}

.dashboard {
    .leaderBoardTitle {
        float: left;
        -ms-word-break: break-word;
        word-break: break-word;
        font-size: 38px;
        // width: 28%;
        margin-bottom: 15px;
        line-height: 35px;
        color: @color5;
        text-transform: uppercase;
    }

    .leaderBoardBody {
        font-size: 20px;
    }

    .leaderbordPosition {
        color: #ff7a04 !important;
    }

    .updates {
        position: absolute;
        top: -10px;
        left: 12px;
        background-color: red;
        border-radius: 10px;
        padding: 0 5px;
        color: #fff;
    }
}

md-fab-speed-dial.md-fab-bottom-right {
    position: fixed;
}
