.dashboard {
  /*.content {
        .displayFlex();
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        flex-grow: 1;


        .universityTitle {
            .displayFlex();
            .justifyContet(center);
            flex-grow: 1;

            span {
                font-size: 17px;
                padding-left: 10px;
                line-height: 20px;
                align-self: center;
                text-align: center;
                width: 50%;
                max-height: 60px;
                color: @textColorWhite;
            }
        }

        
    }*/
  /*.universityLink {
        width: 100%;
        display: inline-block;
        font-size: 17px;
        text-align: center;
        border-radius: 5px;
        margin-top: 9px;
        line-height: 26px;
        text-decoration: none;
        //.buttonBlue();
    }*/
}
.dashboard .leaderboardbox {
  height: 179px;
  padding: 0;
}
.dashboard .dashboard-actions .actions-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: start;
  justify-content: start;
}
@media (max-width: 450px) {
  .dashboard .dashboard-actions .actions-container {
    flex-wrap: wrap;
  }
}
.dashboard .dashboard-actions .actions-container .box-style {
  margin: 8px;
}
@media (min-width: 600px) {
  .dashboard .dashboard-actions .actions-container .box-style {
    max-width: calc(50% - 16px);
  }
}
.dashboard .dashboard-actions .actions-container .create-btn .icon {
  width: 14px;
  height: 14px;
}
.dashboard .box-cube {
  position: relative;
}
.dashboard .delete {
  left: -5px;
}
.dashboard .updates {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 11px;
  font-weight: 300;
  border-radius: 12px;
  padding: 4px 9px;
  height: 24px;
  background-color: #db4437;
  color: #ffffff;
}
.dashboard .university {
  height: 100%;
  position: relative;
  height: 179px;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.34);
  text-align: center;
  background: linear-gradient(to bottom, rgba(50, 53, 56, 0.6) 0, transparent 179px, transparent 100%);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.dashboard .university .top {
  flex-grow: 1;
}
.dashboard .university .uni-name {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  padding: 0 16px;
  margin-top: 3px;
}
.dashboard .university .bottom {
  margin-bottom: 30px;
}
.dashboard .university .bottom .stats-bg {
  background: #212325;
  opacity: 0.8;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.dashboard .university .bottom .action-btn {
  margin: 0 auto;
  margin: 0 auto 16px auto;
  font-size: 12px;
  line-height: normal;
  min-height: 23px;
  width: 162px;
  background: #ffce2f;
  color: #212325;
  text-transform: uppercase;
  font-weight: bold;
}
.dashboard .university .bottom .universityStats {
  font-size: 12px;
  color: #fff;
  padding: 0 20px 6px;
  color: #ffffff;
  padding: 6px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /*div {
                height: 10px;
                line-height: 10px;
                display: inline-block;
            }

            div:nth-child(2) {
                padding: 0 6px;
                margin: 0 6px;
            }*/
}
.dashboard .universityimg {
  background: #f5f5f5;
  margin-top: 15px;
  border: 1px solid #c3c3c3;
}
.dashboard .portlet {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.dashboard .ad {
  text-align: center;
  padding: 8px;
}
.dashboard .ad > div {
  margin: 0 auto;
}