.dashboard {
  /*.content {
        .displayFlex();
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        flex-grow: 1;


        .universityTitle {
            .displayFlex();
            .justifyContet(center);
            flex-grow: 1;

            span {
                font-size: 17px;
                padding-left: 10px;
                line-height: 20px;
                align-self: center;
                text-align: center;
                width: 50%;
                max-height: 60px;
                color: @textColorWhite;
            }
        }

        
    }*/
  /*.universityLink {
        width: 100%;
        display: inline-block;
        font-size: 17px;
        text-align: center;
        border-radius: 5px;
        margin-top: 9px;
        line-height: 26px;
        text-decoration: none;
        //.buttonBlue();
    }*/
}
.dashboard .leaderboardbox {
  height: 179px;
  padding: 10px;
}
.dashboard .score-board {
  padding: 0;
}
.dashboard .dashboard-actions .actions-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: start;
  justify-content: start;
}
@media (max-width: 450px) {
  .dashboard .dashboard-actions .actions-container {
    flex-wrap: wrap;
  }
}
.dashboard .dashboard-actions .actions-container .box-style {
  margin: 8px;
}
@media (min-width: 600px) {
  .dashboard .dashboard-actions .actions-container .box-style {
    max-width: calc(50% - 16px);
  }
}
.dashboard .dashboard-actions .actions-container .create-btn .icon {
  width: 14px;
  height: 14px;
}
.dashboard .box-cube {
  position: relative;
}
.dashboard .delete {
  left: -5px;
}
.dashboard .updates {
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 11px;
  font-weight: 300;
  border-radius: 12px;
  padding: 4px 9px;
  height: 24px;
  background-color: #db4437;
  color: #ffffff;
}
.dashboard .university {
  height: 100%;
  position: relative;
  height: 179px;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.34);
  text-align: center;
  background: linear-gradient(to bottom, rgba(50, 53, 56, 0.6) 0, transparent 179px, transparent 100%);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.dashboard .university .top {
  flex-grow: 1;
}
.dashboard .university .uni-name {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  padding: 0 16px;
  margin-top: 3px;
}
.dashboard .university .bottom {
  margin-bottom: 30px;
}
.dashboard .university .bottom .stats-bg {
  background: #212325;
  opacity: 0.8;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.dashboard .university .bottom .action-btn {
  margin: 0 auto;
  margin: 0 auto 16px auto;
  font-size: 12px;
  line-height: normal;
  min-height: 23px;
  width: 162px;
  background: #ffce2f;
  color: #212325;
  text-transform: uppercase;
  font-weight: bold;
}
.dashboard .university .bottom .universityStats {
  font-size: 12px;
  color: #fff;
  padding: 0 20px 6px;
  color: #ffffff;
  padding: 6px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /*div {
                height: 10px;
                line-height: 10px;
                display: inline-block;
            }

            div:nth-child(2) {
                padding: 0 6px;
                margin: 0 6px;
            }*/
}
.dashboard .universityimg {
  background: #f5f5f5;
  margin-top: 15px;
  border: 1px solid #c3c3c3;
}
.dashboard .portlet {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.dashboard .ad {
  text-align: center;
  padding: 8px;
}
.dashboard .ad > div {
  margin: 0 auto;
}
.promo-info-dialog {
  max-width: 650px;
  border-radius: 10px;
  overflow: hidden;
}
.promo-info-dialog md-toolbar {
  display: block;
  padding: 28px 8px 10px 8px;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
}
.promo-info-dialog md-toolbar .close {
  position: absolute;
  top: 12px;
  left: 12px;
  min-width: 0;
  padding: 4px;
  line-height: 0;
  min-height: 0;
  margin: 0;
}
.promo-info-dialog md-toolbar .close md-icon {
  fill: #212325;
  width: 20px;
  height: 20px;
}
.promo-info-dialog md-toolbar h1,
.promo-info-dialog md-toolbar h2 {
  margin: 0;
}
.promo-info-dialog md-toolbar h1 {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-toolbar h1 {
    font-size: 36px;
  }
}
.promo-info-dialog md-toolbar h2 {
  color: #212325;
  font-size: 28px;
  margin-top: 8px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-toolbar h2 {
    font-size: 20px;
    margin-top: 8px;
  }
}
.promo-info-dialog md-dialog-content {
  border-radius: 0 0 10px 10px;
}
.promo-info-dialog md-dialog-content .description {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.promo-info-dialog md-dialog-content .description > div {
  margin-left: 32px;
  margin-right: 18px;
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: normal;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .description > div {
    margin-right: 28px;
  }
}
.promo-info-dialog md-dialog-content .description > div:before {
  content: '\2022';
  position: absolute;
  right: -20px;
  font-size: 40px;
  line-height: 18px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .description > div:before {
    line-height: 20px;
  }
}
@media (min-width: 600px) {
  .promo-info-dialog md-dialog-content .description > div:not(:last-child) {
    flex: 1 1 calc(50% - 100px);
  }
}
@media (min-width: 600px) {
  .promo-info-dialog md-dialog-content .description > div:last-child {
    margin-top: 8px;
  }
}
.promo-info-dialog md-dialog-content .rules {
  background: #ffffff;
}
.promo-info-dialog md-dialog-content .rules h1,
.promo-info-dialog md-dialog-content .rules ul {
  max-width: 1200px;
  margin: 0 auto;
}
.promo-info-dialog md-dialog-content .rules h1 {
  padding-right: 70px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules h1 {
    padding-right: 70px;
    margin-bottom: 10px;
  }
}
.promo-info-dialog md-dialog-content .rules ul {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.promo-info-dialog md-dialog-content .rules ul li {
  display: -webkit-flex;
  display: -ms-flex;
  display: inline-flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li {
    margin-bottom: 20px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .rule {
  margin: 6px 20px 0 10px;
  font-size: 16px;
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li .icon-wrapper {
    width: 50px;
    height: 50px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.uni .icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.uni .icon {
    width: 34px;
    height: 34px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.like .icon {
  width: 28px;
  height: 28px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.like .icon {
    width: 26px;
    height: 26px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.original .icon {
  width: 62px;
  height: 50px;
  margin: -30px;
  padding-left: 2px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.original .icon {
    width: 70px;
    height: 30px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.spy .icon {
  width: 34px;
  height: 34px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .rules ul li .icon-wrapper.spy .icon {
    width: 32px;
    height: 30px;
  }
}
.promo-info-dialog md-dialog-content .rules ul li .icon-wrapper .icon {
  fill: #ffffff;
}
.promo-info-dialog md-dialog-content .description,
.promo-info-dialog md-dialog-content .rules {
  padding: 30px;
}
@media (max-width: 600px) {
  .promo-info-dialog md-dialog-content .description,
  .promo-info-dialog md-dialog-content .rules {
    padding: 15px;
  }
}