.error-page {
  width: 100%;
  margin-top: 100px;
}
@media (min-width: 960px) {
  .error-page {
    margin-right: -125px;
  }
}
.error-page h2 {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
}
.error-page h2 span {
  font-size: 25px;
  display: block;
  text-transform: uppercase;
  color: #888b8e;
}
.error-page .image {
  position: absolute;
  top: 120px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}
.error-page .image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.error-page a {
  text-align: center;
  position: absolute;
  z-index: 9999;
  right: 0;
  left: 0;
  padding-top: 6vh;
}
@media (min-width: 960px) {
  .members-only-page {
    margin-right: -250px;
    margin-left: -95px;
  }
}
.members-only-page img {
  max-width: 240px;
  width: 95%;
  margin: 0 auto;
  display: block;
  padding-top: 50px;
  margin-bottom: 3px;
}
.members-only-page .text {
  text-align: center;
}
.members-only-page .text h2,
.members-only-page .text p {
  font-size: 15px;
  margin: 0 auto;
}
.members-only-page .text h2 {
  font-weight: bold;
  font-size: 25px;
  white-space: pre-line;
  color: #4190b9;
}
.members-only-page .text p {
  color: #212325;
  font-size: 20px;
  margin: 10px 0;
}
.unsupported-error {
  text-align: center;
}
.unsupported-error .text {
  text-align: center;
  margin: 100px auto 0 auto;
}
.unsupported-error .text h2 {
  font-weight: bold;
  font-size: 28px;
  color: #4190b9;
}
.unsupported-error .text p {
  font-size: 27px;
  line-height: 30px;
  max-width: 570px;
  margin: 0 auto;
  color: #212325;
}
.unsupported-error .browsers ul {
  padding: 0;
}
.unsupported-error .browsers ul li {
  text-align: center;
  font-size: 22px;
  padding: 65px 30px 0 30px;
  display: inline-block;
}
.unsupported-error .browsers ul li a {
  display: block;
  color: #212325;
}
.unsupported-error .browsers .ie svg {
  width: 117px;
}
.unsupported-error .browsers .ff svg {
  width: 109px;
}
.unsupported-error .browsers .chrome svg {
  width: 107px;
}
.unsupported-error .browsers svg {
  height: 135px;
}
.error-500-page {
  text-align: center;
  margin-top: 70px;
  right: 0;
  left: 0;
  position: absolute;
}
.error-500-page .text {
  margin-top: -128px;
}
@media (max-width: 768px) {
  .error-500-page .text {
    margin-top: -15vw;
  }
}
.error-500-page .text h2 {
  font-size: 25px;
  font-weight: bold;
  color: #5f6871;
}
.error-500-page img {
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .error-page h2 {
    font-size: 24vw;
  }
  .error-page h2 span {
    font-size: 3.3vw;
  }
  .error-page a {
    font-size: 3vw;
    padding: 3vh;
  }
  .error-page .image {
    top: 23vw;
  }
}
@media only screen and (max-width: 450px) {
  .error-page h2 {
    font-size: 25vw;
  }
  .error-page h2 span {
    font-size: 4.6vw;
  }
  .error-page a {
    font-size: 4vw;
  }
  .error-page .image {
    top: 40vw;
  }
}
