@import "variables.less";

.flashcard {
    .content {
        max-width: 800px;
        margin: 0 auto;
    }

    .flashcard-top {
        margin-top: @heightOfHeader;

        form {
            //color: @textColorWhite;
            max-width: 800px;
            padding-top: 10px;


            input {
                right: 0;
                .placeHolder(@textColorGrey);
            }

            svg {
                width: 16px;
                height: 16px;
                fill: @svgColorGrey;
            }
        }
    }

    .flashcard-body {
        .flip-btn {
            min-height: 0;
            line-height: normal;
            min-width: 0;
            padding: 5px 10px;

            md-icon {
                width: 20px;
                height: 16px;
            }
        }

        .card-container {
            .displayFlex;
            .align-items(stretch);
            position: relative;

            card-form {
                .displayFlex;

                md-input-container {
                    border: 1px solid #b7b7b7;
                    background: @textColorWhite;
                    margin: 7px 0;

                    .md-errors-spacer {
                        display: none;
                    }

                    &.md-input-focused md-icon {
                        display: block;
                    }

                    md-icon {
                       // display: none;
                        width: 23px;
                        height: 19px;
                        margin-right: 4px;
                    }
                }

                .md-resize-wrapper {
                    min-height: 60px;
                    .displayFlex;
                    .align-items(center);

                    textarea {
                        border: none;
                    }
                }
            }

            .drag-btn {
                position: absolute;
                left: -26px;
                top: ~"calc(50% - 10px)";

                md-icon {
                    width: 14px;
                    height: 14px;
                }
            }

            .add-btn {
                position: absolute;
                bottom: -10px;
                left: -28px;

                md-icon {
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
}
