.flashcard .content {
  max-width: 860px;
  padding: 10px 30px 0 30px;
  margin: 0 auto;
}
.flashcard .content .bottom {
  display: none;
}
@media (max-width: 600px) {
  .flashcard .content {
    padding: 10px;
  }
  .flashcard .content .bottom {
    display: block;
    text-align: left;
  }
}
.flashcard .flashcard-top {
  margin-top: 95px;
}
.flashcard .flashcard-top form {
  max-width: 800px;
  padding-top: 10px;
}
.flashcard .flashcard-top form md-input-container {
  margin-bottom: 0;
}
.flashcard .flashcard-top form input {
  left: 0;
}
.flashcard .flashcard-top form input::-webkit-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
.flashcard .flashcard-top form input:-moz-placeholder {
  /* Firefox 18- */
  color: #888b8e;
  opacity: 1;
}
.flashcard .flashcard-top form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #888b8e;
  opacity: 1;
}
.flashcard .flashcard-top form input:-ms-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
.flashcard .flashcard-top form svg {
  width: 16px;
  height: 16px;
  fill: #484F56;
}
.flashcard .flashcard-body .header {
  text-transform: capitalize;
  color: #888b8e;
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px;
}
.flashcard .flashcard-body .flip-btn {
  min-height: 0;
  line-height: normal;
  min-width: 0;
  padding: 5px 10px;
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .flip-btn {
    display: none;
  }
}
.flashcard .flashcard-body .flip-btn md-icon {
  width: 20px;
  height: 16px;
}
.flashcard .flashcard-body ol {
  counter-reset: counter;
}
.flashcard .flashcard-body .card-container:before,
.flashcard .flashcard-body .add-card:before {
  content: counter(counter, decimal);
  counter-increment: counter;
  align-self: center;
  margin-right: -20px;
  margin-left: 12px;
}
.flashcard .flashcard-body .card-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: relative;
}
.flashcard .flashcard-body .card-container .settings-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 40px;
  background: #eeeeee;
  border: 1px solid #b7b7b7;
  border-right: none;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container .settings-btn {
    display: none;
  }
}
.flashcard .flashcard-body .card-container .settings-btn md-icon {
  width: 20px;
  height: 20px;
  fill: #c3c3c3;
}
.flashcard .flashcard-body .card-container .add-btn {
  display: none;
  /*@media(min-width: 600px) {
                        position: absolute;
                        bottom: -16px;
                        left: -28px;
                    }*/
}
.flashcard .flashcard-body .card-container .add-btn md-icon {
  width: 19px;
  height: 19px;
  /*@media(max-width: 600px) {
                            width: 16px;
                            height: 16px;
                        }*/
}
.flashcard .flashcard-body .card-container .drag-btn {
  display: none;
}
.flashcard .flashcard-body .card-container .drag-btn md-icon {
  width: 14px;
  height: 14px;
  background: #dadada;
}
.flashcard .flashcard-body .card-container .remove-btn {
  display: none;
}
.flashcard .flashcard-body .card-container .remove-btn md-icon {
  width: 15px;
  height: 15px;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container.focused .drag-btn,
  .flashcard .flashcard-body .card-container.focused .remove-btn,
  .flashcard .flashcard-body .card-container.focused .add-btn {
    display: inline-block;
  }
}
.flashcard .flashcard-body .card-container card-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /*&:focus md-icon {
                    display: block;
                }*/
}
.flashcard .flashcard-body .card-container card-form md-input-container {
  border: 1px solid #b7b7b7;
  background: #ffffff;
  padding-right: 10px;
  margin: 0;
  padding: 0 0 65px 0;
  /*.add-image-btn:focus {
                        display: block;
                        outline: none;
                    }*/
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container card-form md-input-container {
    padding: 0 0 0 65px;
    /*&:focus, &.md-input-focused {
                            md-icon {
                                display: block;
                                outline: none;
                            }
                        }*/
  }
}
.flashcard .flashcard-body .card-container card-form md-input-container .md-errors-spacer {
  display: none;
}
.flashcard .flashcard-body .card-container card-form md-input-container .add-image-btn {
  display: none;
  width: 23px;
  height: 19px;
  margin-left: 4px;
  fill: #484F56;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container card-form.focused .add-image-btn {
    display: block;
    outline: none;
  }
}
.flashcard .flashcard-body .card-container card-form .md-resize-wrapper {
  min-height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container card-form .md-resize-wrapper {
    min-height: 60px;
  }
}
.flashcard .flashcard-body .card-container card-form .md-resize-wrapper textarea {
  border: none;
  flex: 1;
}
.flashcard .flashcard-body .card-container card-form .image-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container card-form .image-container {
    bottom: 0;
    top: initial;
    right: 0;
  }
}
.flashcard .flashcard-body .card-container card-form .image-container md-progress-circular {
  position: absolute;
  top: 4px;
  left: 4px;
  stroke: #4190b9;
}
.flashcard .flashcard-body .card-container card-form .image-container img {
  max-width: 58px;
  max-height: 58px;
  width: 100%;
  height: auto;
}
.flashcard .flashcard-body .card-container card-form .image-container:hover .remove-img {
  display: block;
}
.flashcard .flashcard-body .card-container card-form .image-container .remove-img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 0;
  padding: 6px;
  z-index: 1;
}
.flashcard .flashcard-body .card-container card-form .image-container .remove-img md-icon {
  margin: 0;
  width: 10px;
  height: 10px;
}
.flashcard .flashcard-body .card-container .card-settings {
  position: absolute;
  right: 0;
  left: 0;
  top: 1px;
  bottom: 1px;
  /*@media(min-width: 600px) {
                    visibility: hidden;
                }*/
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container .card-settings {
    right: calc(100% - 36px);
    left: 36px;
    overflow: hidden;
    -moz-transition: right 0.2s ease !important;
    -o-transition: right 0.2s ease !important;
    -webkit-transition: right 0.2s ease !important;
    transition: right 0.2s ease !important;
    background: #eeeeee;
  }
}
.flashcard .flashcard-body .card-container .card-settings.active {
  /*@media(min-width: 600px) {
                        visibility: visible;
                    }*/
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container .card-settings.active {
    right: 0;
  }
  .flashcard .flashcard-body .card-container .card-settings.active ~ .settings-btn md-icon {
    fill: #4190b9;
  }
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container .card-settings .content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background: #eeeeee;
    height: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container .card-settings .content button md-icon {
    fill: #4190b9;
  }
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .card-container .card-settings button {
    border: none;
    min-width: 30px;
    padding: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flashcard .flashcard-body .card-container .card-settings button md-icon {
    fill: #4190b9;
  }
}
.flashcard .flashcard-body .card-container .card-settings button md-icon {
  fill: #484F56;
}
.flashcard .flashcard-body .card-container .card-settings .add-image md-icon {
  width: 18px;
  height: 15px;
}
.flashcard .flashcard-body .card-container .card-settings .flip md-icon {
  width: 16px;
  height: 12px;
}
.flashcard .flashcard-body .card-container .card-settings .move-up:after,
.flashcard .flashcard-body .card-container .card-settings .move-down:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  margin: 0 auto;
}
.flashcard .flashcard-body .card-container .card-settings .move-up:after {
  border-width: 0 7px 10px 7px;
  border-color: transparent transparent #4190b9 transparent;
}
.flashcard .flashcard-body .card-container .card-settings .move-down:after {
  border-width: 10px 7px 0 7px;
  border-color: #4190b9 transparent transparent transparent;
}
.flashcard .flashcard-body .add-card div {
  background: #eeeeee;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  border: 1px solid #b7b7b7;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .add-card div {
    height: 60px;
    line-height: 60px;
  }
}
.flashcard .flashcard-body .add-card div md-icon {
  width: 19px;
  height: 19px;
  fill: #484F56;
}
@media (max-width: 600px) {
  .flashcard .flashcard-body .add-card div md-icon {
    width: 14px;
    height: 14px;
  }
}
.flashcard .flashcard-body .card-container,
.flashcard .flashcard-body .add-card {
  margin: 8px 0;
}
@media (min-width: 600px) {
  .flashcard .flashcard-body .card-container,
  .flashcard .flashcard-body .add-card {
    margin: 14px 0;
  }
}