@import "variables.less";

.flashcard {
    .content {
        max-width: 860px;
        padding: 10px 30px 0 30px;
        margin: 0 auto;

        .bottom {
            display: none;
        }

        @media(max-width: 600px) {
            padding: 10px;

            .bottom {
                display: block;
                text-align: right;
            }
        }
    }

    .flashcard-top {
        margin-top: @heightOfHeader + 30px;

        form {
            max-width: 800px;
            padding-top: 10px;

            md-input-container {
                margin-bottom: 0;
            }

            input {
                right: 0;
                .placeHolder(@textColorGrey);
            }

            svg {
                width: 16px;
                height: 16px;
                fill: @svgColorGrey;
            }
        }
    }

    .flashcard-body {
        @cardHeight: 60px;
        @mobileCardHeight: 40px;

        .header {
            text-transform: capitalize;
            color: @textColorGrey;
            font-size: 16px;
            font-weight: bold;
            padding-right: 40px;
        }

        .flip-btn {
            min-height: 0;
            line-height: normal;
            min-width: 0;
            padding: 5px 10px;

            @media(max-width: 600px) {
                display: none;
            }

            md-icon {
                width: 20px;
                height: 16px;
            }
        }

        ol {
            counter-reset: counter;
        }

        .card-container, .add-card {
            &:before {
                content: counter(counter,decimal);
                counter-increment: counter;
                align-self: center;
                margin-left: -20px;
                margin-right: 12px;
            }
        }

        .card-container {
            .displayFlex;
            .align-items(stretch);
            position: relative;

            &.on-drag-hover:not(.focused) {
                padding-top: 100px;
            }

            .settings-btn {
                .displayFlex;
                .align-items(center);
                .justifyContet(center);
                width: @mobileCardHeight;
                background: @backgroundCalmGrey;
                border: 1px solid #b7b7b7;
                border-left: none;
                height: 100%;

                @media(min-width: 600px) {
                    display: none;
                }

                md-icon {
                    width: 20px;
                    height: 20px;
                    fill: @textColorLightGrey;
                }
            }

            .add-btn {
                display: none;

                @media(min-width: 600px) {
                    position: absolute;
                    left: -31px;
                    bottom: -18px;
                }

                md-icon {
                    width: 19px;
                    height: 19px;
                }
            }


            .drag-btn {
                display: none;

                @media(min-width: 600px) {
                    position: absolute;
                    left: -26px;
                    top: ~"calc(50% - 10px)";
                }

                md-icon {
                    width: 14px;
                    height: 14px;
                    background: @backgroundColor;
                }
            }

            .remove-btn {
                display: none;

                @media(min-width: 600px) {
                    position: absolute;
                    right: -27px;
                    top: ~"calc(50% - 10px)";
                }

                md-icon {
                    width: 15px;
                    height: 15px;
                }
            }


            @media(min-width:600px) {
                &.focused, &:hover {
                    .drag-btn, .remove-btn, .add-btn {
                        display: inline-block;
                    }
                }
            }

            card-form {
                .displayFlex;

                md-input-container {
                    border: 1px solid #b7b7b7;
                    background: @textColorWhite;
                    padding-left: 10px;
                    margin: 0;

                    &.has-image {
                        padding: 0 0 65px 0;

                        @media(min-width: 600px) {
                            padding: 0 65px 0 0;
                        }
                    }

                    .md-errors-spacer {
                        display: none;
                    }

                    .add-image-btn {
                        display: none;
                        width: 23px;
                        height: 19px;
                        margin-right: 4px;
                        fill: @svgColorGrey;
                        cursor: pointer;
                    }
                }


                @media(min-width:600px) {
                    &.focused {
                        .add-image-btn {
                            display: block;
                            outline: none;
                        }
                    }
                }

                .md-resize-wrapper {
                    min-height: @mobileCardHeight;
                    .displayFlex;
                    .align-items(center);
                    flex-direction: column;
                    height: 100%;

                    @media(min-width: 600px) {
                        min-height: @cardHeight;
                    }

                    textarea {
                        border: none;
                        flex: 1;
                    }
                }

                .image-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 5px;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;

                    @media(max-width: 600px) {
                        bottom: 0;
                        top: initial;
                        left: 0;
                    }


                    md-progress-circular {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        stroke: @buttonColorBlue;
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        img {
                            opacity: 0.4;
                        }

                        .remove-img {
                            display: block;
                        }
                    }

                    .remove-img {
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 0;
                        text-align: center;
                        line-height: 0;
                        padding: 6px;
                        z-index: 1;

                        md-icon {
                            margin: 0;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }

            .card-settings {
                position: absolute;
                left: 0;
                right: 0;
                top: 1px;
                bottom: 1px;

                @media(max-width: 600px) {
                    left: ~"calc(100% - 36px)";
                    right: 36px;
                    overflow: hidden;
                    .transition(left, 0.2s, ease);
                    background: @backgroundCalmGrey;
                }

                &.active {
                    @media(max-width: 600px) {
                        left: 0;

                        ~ .settings-btn {
                            md-icon {
                                fill: @buttonColorBlue;
                            }
                        }
                    }
                }

                .content {
                    @media(max-width: 600px) {
                        .displayFlex;
                        .align-items(stretch);
                        .justifyContet(flex-end);
                        background: @backgroundCalmGrey;
                        height: 100%;
                        padding: 0 10px;
                    }

                    @media(max-width: 600px) {
                        button md-icon {
                            fill: @buttonColorBlue;
                        }
                    }
                }

                button {
                    @media(max-width: 600px) {
                        border: none;
                        min-width: 30px;
                        padding: 0;
                        margin: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        md-icon {
                            fill: @buttonColorBlue;
                        }
                    }

                    md-icon {
                        fill: @svgColorGrey;
                    }
                }







                .add-image {
                    md-icon {
                        width: 18px;
                        height: 15px;
                    }
                }

                .flip {
                    md-icon {
                        width: 16px;
                        height: 12px;
                    }
                }

                .move-up, .move-down {
                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        margin: 0 auto;
                    }
                }

                .move-up {
                    &:after {
                        border-width: 0 7px 10px 7px;
                        border-color: transparent transparent @buttonColorBlue transparent;
                    }
                }

                .move-down {
                    &:after {
                        border-width: 10px 7px 0 7px;
                        border-color: @buttonColorBlue transparent transparent transparent;
                    }
                }
            }

            .settings-toggler {
                display: none;

                &:checked ~ .card-settings {
                    @media(max-width: 600px) {
                        left: 0;

                        ~ .settings-btn {
                            md-icon {
                                fill: @buttonColorBlue;
                            }
                        }
                    }
                }
            }
        }

        .add-card div {
            background: @backgroundCalmGrey;
            height: @mobileCardHeight;
            line-height: @mobileCardHeight;
            padding-left: 10px;
            border: 1px solid #b7b7b7;

            @media(min-width: 600px) {
                height: @cardHeight;
                line-height: @cardHeight;
            }

            md-icon {
                width: 19px;
                height: 19px;
                fill: @svgColorGrey;

                @media(max-width: 600px) {
                    width: 14px;
                    height: 14px;
                }
            }
        }


        .card-container, .add-card {
            margin: 8px 0;

            @media(min-width: 600px) {
                margin: 14px 0;
            }
        }
    }
}

.mdno-object-fit .flashcard .flashcard-body .card-container card-form .image-container img {
    width: 100%;
    height: auto;
}
