@import "variables.less";

.flashcard {
    .content {
        max-width: 800px;
        margin: 0 auto;
    }

    .flashcard-top {
        margin-top: @heightOfHeader + 30px;

        form {
            //color: @textColorWhite;
            max-width: 800px;
            padding-top: 10px;

            md-input-container {
                margin-bottom: 0;
            }

            input {
                right: 0;
                .placeHolder(@textColorGrey);
            }

            svg {
                width: 16px;
                height: 16px;
                fill: @svgColorGrey;
            }
        }
    }

    .flashcard-body {
        @cardHeight: 60px;

        .header {
            text-transform: capitalize;
            color: @textColorGrey;
            font-size: 16px;
            font-weight: bold;
        }

        .flip-btn {
            min-height: 0;
            line-height: normal;
            min-width: 0;
            padding: 5px 10px;

            md-icon {
                width: 20px;
                height: 16px;
            }
        }

        .card-container {
            .displayFlex;
            .align-items(stretch);
            position: relative;

            card-form {
                .displayFlex;
                /*&:focus md-icon {
                    display: block;
                }*/
                md-input-container {
                    border: 1px solid #b7b7b7;
                    background: @textColorWhite;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 10px;
                    margin: 0;

                    .md-errors-spacer {
                        display: none;
                    }

                    md-icon {
                        /*display: none;*/
                        width: 23px;
                        height: 19px;
                        margin-right: 4px;
                    }
                }

                .md-resize-wrapper {
                    min-height: @cardHeight;
                    .displayFlex;
                    .align-items(center);

                    textarea {
                        border: none;
                    }
                }
            }

            .drag-btn {
                position: absolute;
                left: -26px;
                top: ~"calc(50% - 10px)";

                md-icon {
                    width: 14px;
                    height: 14px;
                }
            }

            .add-btn {
                position: absolute;
                bottom: -16px;
                left: -28px;

                md-icon {
                    width: 19px;
                    height: 19px;
                }
            }
        }

        .add-card div {
            background: @backgroundCalmGrey;
            height: @cardHeight;
            line-height: @cardHeight;
            padding-left: 10px;
            border: 1px solid #b7b7b7;

            md-icon {
                width: 19px;
                height: 19px;
            }
        }


        .card-container, .add-card {
            margin: 14px 0;
        }
    }
}
