@import "variables.less";

@boxColor0: #64A9F8;
@boxColor1: #9d87b7;
@boxColor2: #666e70;
@boxColor3: #ff9853;
@boxColor4: #e775ce;
@boxColor5: #ffb933;
@boxColor6: #848fa6;
@boxColor7: #5474cf;
@boxColor8: #e3b75f;
@boxColor9: #695b47;
@boxColor10: #f36f6e;
@boxColor11: #f76446;
@boxColor12: #73b435;
@boxColor13: #6ea77b;
@boxColor14: #c33f40;
@boxColor15: #549af7;
@boxColor16: #4e5384;
@boxColor17: #4faf61;

@iterations: 17;

.define(@var) {
  @colorSet: 'boxColor@{var}';
}


.mixin-loop (@index) when (@index >= 0) {
.color@{index}{
    .define(@index);
    color:  @@colorSet;
    
    &.background {
        background: @@colorSet;
    }
  }



.mixin-loop(@index - 1);
}
//.mixin-loop (0) {}
.mixin-loop(@iterations);




button {
    border: 0;
    background: transparent;
    outline: none;
}

//user image letter
.userLetter {
  
    border-radius: 50%;
    color: #f5f5f5;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}

//leaderboard

.leaderboad {
    h4 {
        font-size: 21px;
        font-weight: 700;
        margin-top: 0;
        color:@color1;
        text-align:center;
        margin-bottom:10px;
    }

    .userLetter {
        font-size: 17px;
    }

    .user-name {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 7vw;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: middle;
    }

    .img-circle {
        margin-right: 10px;
    }

    .r-table {
        display: table;
        text-align: center;
        font-size: 12px;
        width: 100%;
    }

    .r-table-row {
        display: table-row;
        height: 40px;
        line-height: 40px;
    }

    .r-table-cell {
        display: table-cell;
        //width: 45%;
        text-align: left;

        &:nth-child(even) {
            width: 10%;
            color: orange;
            text-align: center;
        }

        &.last {
            text-align: right;
            width:25%;
        }
    }
}

//invite

.portlet.light.invite {
    background: #3293F6;
    text-align: center;
    font-size: 18px;
    height:180px;

    svg {
        fill: @color2;
        width: 75px;
        height: 75px;
        display: block;
        margin: 0 auto;
    }
}

//create
.create {
    background: @color4;
    //height: 475px;

    h5 {
        display: inline-block;
        font-size: 18px;
        margin: 15px 0 0 20px;
    }

    .closeFrom {
        float: right;
        margin: 10px 10px 0 0;
        //override
        color: @color2;
        text-shadow: none;
        opacity: 1;
        font-weight: 400;
    }

    .content {
        width: ~"calc( 100% - 20px)";
        height: ~"calc( 100% - 60px)";
        margin: 10px;
        background: #212427;
    }

    
}

//add btn
.add {
    position: fixed;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #db4437;
    z-index: 1;
    right: 24px;
    bottom: 25px;
    font-size: 28px;
    line-height: 55px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
    }
