.color10 {
  color: #4faf61;
}
.color10.background {
  background: #4faf61;
}
.color9 {
  color: #a27c22;
}
.color9.background {
  background: #a27c22;
}
.color8 {
  color: #a55fff;
}
.color8.background {
  background: #a55fff;
}
.color7 {
  color: #73b435;
}
.color7.background {
  background: #73b435;
}
.color6 {
  color: #f76446;
}
.color6.background {
  background: #f76446;
}
.color5 {
  color: #f36f6e;
}
.color5.background {
  background: #f36f6e;
}
.color4 {
  color: #848fa6;
}
.color4.background {
  background: #848fa6;
}
.color3 {
  color: #ffb933;
}
.color3.background {
  background: #ffb933;
}
.color2 {
  color: #e775ce;
}
.color2.background {
  background: #e775ce;
}
.color1 {
  color: #ff9853;
}
.color1.background {
  background: #ff9853;
}
.color0 {
  color: #64A9F8;
}
.color0.background {
  background: #64A9F8;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input,
li,
[contenteditable],
span,
textarea,
[role="button"] {
  outline: 0;
}
html {
  background: transparent;
}
body {
  margin-top: 0;
  -moz-transition: margin-top 0.2s ease !important;
  -o-transition: margin-top 0.2s ease !important;
  -webkit-transition: margin-top 0.2s ease !important;
  transition: margin-top 0.2s ease !important;
}
.blue-button {
  background: #4190b9;
  color: #f5f5f5;
  padding: 0 16px;
  line-height: 25px;
  height: 25px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.notificationButton {
  background: #ec610d;
  color: #fff;
  padding: 0 16px;
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  min-width: 130px;
}
.notificationButton:hover {
  background: #c4510b;
  color: #fff;
}
.mdno-touchevents .blue-button:hover {
  background: #26566e;
  color: #f5f5f5;
}
.grey-button {
  background: #c3c3c3;
  color: #282828;
  padding: 0 16px;
  line-height: 25px;
  height: 25px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.mdno-touchevents .grey-button:hover {
  background: #9E9E9E;
  color: #282828;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(157, 153, 156, 0.5);
}
#ssIFrame_google {
  right: -9999px !important;
}
.button-Blue {
  background: #4190b9 !important;
  text-transform: initial;
}
.button-Blue:hover {
  background: #26566e !important;
  color: #f5f5f5 !important;
}
.page-footer .scroll-to-top {
  -moz-transform: rotate(270deg) ;
  -ms-transform: rotate(270deg) ;
  -o-transform: rotate(270deg) ;
  -webkit-transform: rotate(270deg) ;
  transform: rotate(270deg) ;
}
.page-footer .scroll-to-top svg {
  width: 32px;
  height: 32px;
  fill: #3598dc;
}
#intercom-container,
#intercom-launcher {
  z-index: 120;
}