.color10 {
  color: #4faf61;
}
.color10.background {
  background: #4faf61;
}
.color9 {
  color: #4e5384;
}
.color9.background {
  background: #4e5384;
}
.color8 {
  color: #c33f40;
}
.color8.background {
  background: #c33f40;
}
.color7 {
  color: #73b435;
}
.color7.background {
  background: #73b435;
}
.color6 {
  color: #f76446;
}
.color6.background {
  background: #f76446;
}
.color5 {
  color: #f36f6e;
}
.color5.background {
  background: #f36f6e;
}
.color4 {
  color: #848fa6;
}
.color4.background {
  background: #848fa6;
}
.color3 {
  color: #ffb933;
}
.color3.background {
  background: #ffb933;
}
.color2 {
  color: #e775ce;
}
.color2.background {
  background: #e775ce;
}
.color1 {
  color: #ff9853;
}
.color1.background {
  background: #ff9853;
}
.color0 {
  color: #64a9f8;
}
.color0.background {
  background: #64a9f8;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
ol {
  padding: 0;
}
em {
  font-style: normal;
}
/*h5 {
    margin: 0;
}*/
input,
li,
[contenteditable],
span,
textarea,
[role="button"] {
  outline: 0;
}
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[disabled],
button[disabled] {
  cursor: wait !important;
}
html {
  background: transparent;
}
.page-body {
  margin-top: 90px;
  padding: 0 10px;
}
@media (min-width: 960px) {
  .page-body {
    margin-left: 250px;
    padding: 0 20px;
  }
}
.userLetter {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  color: #f5f5f5;
}
.multi-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -ms-word-break: break-word;
  word-break: break-word;
}
.multi-line-ellipsis.limit-three {
  -webkit-line-clamp: 3;
}
.multi-line-ellipsis.limit-two {
  -webkit-line-clamp: 2;
}
/*.create {
    background: @color4;
    //height: 475px;
    h5 {
        display: inline-block;
        font-size: 18px;
        margin: 15px 0 0 20px;
    }
    .content {
        width: ~"calc( 100% - 20px)";
        height: ~"calc( 100% - 60px)";
        margin: 10px;
        background: #212427;
    }
}*/
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(157, 153, 156, 0.5);
}
.circle-loading {
  margin: 0 auto;
}
.add {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  left: 20px /*rtl:ignore*/;
  bottom: 20px;
  font-size: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  padding: 0 12px;
  background: #db4437;
}
.add svg {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  fill: #f5f5f5;
}
/*#region angularmaterial*/
.dd-list md-content {
  background: #323538;
  color: #f5f5f5;
}
.dd-list md-option {
  margin: 0 15px;
  font-size: 13px;
  border-bottom: 1px solid #282828;
}
.dd-list md-option:last-child {
  border: none;
}
.dd-list md-option[selected] {
  color: #2698d4;
}
.dd-list md-option[selected]:focus {
  color: #2698d4;
}
.dd-list md-select-menu:not(.md-overflow) md-content {
  padding-top: 0;
  padding-bottom: 0;
}
md-select:not([disabled]):focus .md-select-value {
  color: #f5f5f5;
  border-bottom: 1px solid #376e8c;
}
md-select .md-select-value.md-select-placeholder {
  color: #f5f5f5;
}
md-select-menu md-option:focus:not([disabled]):not([selected]) {
  background: #323538;
}
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #888b8e;
}
md-input-container label {
  color: #c3c3c3;
}
md-input-container {
  width: 100%;
}
md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: inherit;
}
.md-select-value *:first-child {
  max-width: 100%;
}
md-dialog-actions {
  order: 2;
}
.md-select-value .md-select-icon,
md-select .md-select-value,
md-input-container .md-input,
.form-group.form-md-line-input .form-control {
  color: #4190b9;
  border-color: #4190b9;
}
.md-select-value .md-select-icon:focus,
md-select .md-select-value:focus,
md-input-container .md-input:focus,
.form-group.form-md-line-input .form-control:focus,
.md-select-value .md-select-icon:active,
md-select .md-select-value:active,
md-input-container .md-input:active,
.form-group.form-md-line-input .form-control:active {
  color: #2698d4;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #4190b9;
}
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after,
.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after,
.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ label:after,
.form-group.form-md-line-input .form-control.focus:not([readonly]) ~ .form-control-focus:after {
  background: #4190b9;
}
md-input-container .md-input {
  color: #f5f5f5;
}
md-dialog {
  color: #282828;
}
md-menu-item > .md-button span {
  color: #282828;
}
md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
  background: #4190b9;
}
.layout-padding {
  padding: 0;
}
.layout-padding > .flex {
  padding: 12px;
}
md-toast.md-warn-theme .md-toast-content {
  background: #db4437;
}
.profile-content md-tabs-wrapper {
  margin-bottom: 0;
}
/*tabs*/
md-tabs md-tabs-wrapper {
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px 0;
  margin-bottom: 20px;
  background: #323538;
}
md-tabs md-pagination-wrapper {
  left: 0;
}
@media (max-width: 600px) {
  md-tabs md-pagination-wrapper {
    left: 0 /*rtl:ignore*/;
    right: auto /*rtl:ignore*/;
  }
}
md-tabs .md-tab {
  float: left;
  color: #888b8e;
  font-size: 16px;
  text-transform: capitalize;
}
md-tabs .md-tab.md-active {
  color: #f5f5f5;
}
@media (max-width: 600px) {
  md-tabs .md-tab {
    float: left /*rtl:ignore*/;
  }
}
md-tabs md-ink-bar {
  color: #3598dc;
  background: #3598dc;
}
/*#endregion*/
.page-title {
  align-items: center;
}
.page-title .share-social {
  line-height: 32px;
  border-right: 2px solid #323538;
  margin-right: 5px;
  padding-right: 5px;
}
.page-title svg {
  width: 30px;
  height: 30px;
  fill: #f5f5f5;
}
.page-title .facebook,
.page-title .whatsapp {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.page-title .facebook {
  position: relative;
  padding: 0;
}
.page-title .facebook svg {
  fill: #3a5795 !important;
  position: absolute;
}
.page-title .facebook:before {
  content: '';
  background: white;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  border-radius: 100%;
  z-index: 0;
}
.page-title .box-settings {
  display: flex;
}
.page-title .box-settings svg {
  opacity: .3;
}
.close {
  float: right;
  margin-top: 6px;
}
.close:hover {
  color: #f5f5f5;
}
.close svg {
  width: 17px;
  height: 17px;
  fill: #f5f5f5;
}
#ssIFrame_google {
  left: -9999px !important;
}
.create-box:hover .dashboard-stat2 {
  border: 2px solid #4190b9;
  color: #4190b9;
}
.create-box:hover .plus svg {
  fill: #4190b9;
}
.create-box .dashboard-stat2 {
  background: transparent;
  padding-bottom: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 0;
  border: 2px solid #888b8e;
  color: #888b8e;
}
.create-box .dashboard-stat2 form {
  width: 100%;
  align-self: center;
}
.create-box .dashboard-stat2 form span {
  margin: 0;
}
.create-box .create-btn {
  width: 100%;
  height: 100%;
}
.create-box .create-btn div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 16px;
}
.create-box .create-txt,
.create-box .create-department {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.create-box .create-txt form,
.create-box .create-department form {
  width: 100%;
  align-self: center;
}
.create-box .create-txt form span,
.create-box .create-department form span {
  margin: 0;
}
.create-box .plus {
  margin-bottom: 25px;
  margin-top: 20px;
}
.create-box .plus svg {
  width: 50px;
  height: 50px;
  fill: #888b8e;
}
.create-box span {
  margin-top: 15px;
}
.create-box md-content {
  background: transparent;
}
.create-box md-input-container {
  padding-bottom: 2px;
  margin-bottom: 0;
}
.create-box md-input-container .md-input {
  font-size: 18px;
  color: #f5f5f5;
  border-color: #8c99a6;
}
.create-box.create-box-show,
.create-box.create-deparment-show {
  display: block !important;
}
.create-box.create-box-show .dashboard-stat2,
.create-box.create-deparment-show .dashboard-stat2 {
  border: 2px solid #8c99a6;
}
.create-box.create-init {
  display: block !important;
}
.create-box .btn-primary {
  margin-left: 15px;
}
.create-box md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-bottom: 1px solid #888b8e;
  color: #888b8e;
}
.full-screen {
  z-index: 20;
  background: #f5f5f5;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}
.full-screen.itemPage {
  top: 0;
}
.full-screen.itemPage header > div {
  height: 80px;
}
.full-screen.quizPage {
  top: 0;
}
.full-screen header {
  top: 0;
  color: #f5f5f5;
  background-color: #323538;
  border-bottom: 5px solid #282828;
  height: 80px;
  line-height: 75px;
  position: fixed;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 5;
}
.full-screen header .close {
  opacity: 0.7;
}
.full-screen header .close:hover {
  opacity: 1;
}
.full-screen .full-screen-body {
  margin-top: 80px;
  min-height: calc( 100% - 80px);
}
.md-dialog-container {
  z-index: 80;
}
.r-table {
  display: table;
}
.r-table-row {
  display: table-row;
}
.r-table-cell {
  display: table-cell;
}
.counter {
  counter-reset: section;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}
.counter .counter-inc {
  counter-increment: step-counter;
}
.counter .counter-view:before {
  content: counter(step-counter, upper-alpha);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.page-animation {
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.page-animation.search {
  -moz-transform-origin: 275px 20px;
  -ms-transform-origin: 275px 20px;
  -o-transform-origin: 275px 20px;
  -webkit-transform-origin: 275px 20px;
  transform-origin: 275px 20px;
}
.page-animation.ng-enter,
.page-animation.ng-leave {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.page-animation.ng-enter {
  -webkit-transform: scale3d(0.1, 0.1, 0.1);
  -moz-transform: scale3d(0.1, 0.1, 0.1);
  -ms-transform: scale3d(0.1, 0.1, 0.1);
  -o-transform: scale3d(0.1, 0.1, 0.1);
  transform: scale3d(0.1, 0.1, 0.1);
}
.page-animation.ng-enter-active {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.page-animation.ng-leave {
  display: none;
}
.page-animation.ng-leave-active {
  display: none;
}
.page-animation.itemPage {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.delete {
  position: absolute;
  top: 5px;
  right: 0;
}
.delete-icon {
  height: 30px;
  width: 30px;
}
.dots-3 {
  height: 20px;
  width: 20px;
  fill: #5d6063;
}
.button-Blue {
  background: #4190b9 !important;
  text-transform: initial;
  /*&:focus {
        color: inherit;
    }*/
}
.button-Blue:hover {
  background: #26566e !important;
  color: #f5f5f5 !important;
}
.tab-from-r {
  background: none;
  margin: 0;
  float: right;
  display: inline-block;
  border: 0;
}
.tab-from-r > li {
  background: none;
  margin: 0 5px 0 10px;
  border: 0;
  padding: 0;
  text-align: center;
}
.tab-from-r > li > a {
  background: none;
  margin: 0;
  border: 0;
  padding: 12px 13px 5px 13px;
  font-size: 13px;
  color: #323538;
}
.tab-from-r > li.active {
  border-bottom: 3px solid #3598dc;
  position: relative;
}
.tab-from-r > li.active > a {
  background: none;
  border: 0;
  margin: 0;
  color: #f5f5f5;
}
.tab-from-r > li.active > a:hover {
  background: none;
  border: 0;
  margin: 0;
  color: #f5f5f5;
}
.tab-from-r > li.active > a:focus {
  background: none;
  border: 0;
  margin: 0;
  color: #f5f5f5;
}
.tab-from-r > li:hover > a {
  background: none;
  border: 0;
  margin: 0;
  color: #f5f5f5;
}
.nav-tabs,
.tabbable {
  background: #323538;
  border-bottom: none;
  border-radius: 5px;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  font-size: 16px;
}
.nav-tabs li,
.tabbable li {
  color: #f5f5f5;
  margin: 0 20px 0 10px;
  background: transparent;
  outline: none;
}
.nav-tabs li:hover,
.tabbable li:hover,
.nav-tabs li:focus,
.tabbable li:focus {
  color: #2698d4;
  background: transparent;
}
.nav-tabs li.active,
.tabbable li.active,
.nav-tabs li:active,
.tabbable li:active {
  border-bottom: 3px solid #3598dc;
  color: #f5f5f5;
  background: transparent;
  border: 0;
  font-weight: bold;
}
.nav-tabs li.active > a,
.tabbable li.active > a,
.nav-tabs li.active > a:hover,
.tabbable li.active > a:hover,
.nav-tabs li.active > a:focus,
.tabbable li.active > a:focus {
  background: transparent;
  color: #f5f5f5;
  border: 0;
  font-weight: bold;
  cursor: auto;
}
.nav-tabs li > a,
.tabbable li > a {
  font-size: 16px;
  border: none;
  color: #888b8e;
}
.nav-tabs li > a:hover,
.tabbable li > a:hover {
  border: none;
  color: #2698d4;
}
.ribbon {
  position: absolute;
  bottom: 5em;
  right: 0;
  margin-left: 1em;
  padding: .75em 1.25em .75em .75em;
  border-radius: .5em 0 0 .5em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: inset 0 0.062em 0 rgba(255, 255, 255, 0.6), 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 -0.062em 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  background-color: #db4437;
}
.ribbon:before,
.ribbon:after {
  position: absolute;
  background-color: inherit;
  content: "";
}
.ribbon:before {
  bottom: 0;
  right: -0.5em;
  width: .5em;
  height: 3em;
  border-radius: 0 0 .5em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 100%);
}
.ribbon:after {
  top: -1em;
  right: -0.5em;
  width: .5em;
  height: 1em;
  border-radius: 0 .5em .5em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: 0 0.062em 0 rgba(255, 255, 255, 0.6);
}
.md-button.md-icon-button .md-ripple-container {
  left: 10px;
  top: -5px;
}
md-menu-content {
  padding: 0;
  border-radius: 5px;
}
md-menu-item {
  min-height: 36px;
  height: 36px;
}
.scroll-to-top svg {
  width: 32px;
  height: 32px;
  -moz-transform: rotate(270deg) /*rtl:ignore*/;
  -ms-transform: rotate(270deg) /*rtl:ignore*/;
  -o-transform: rotate(270deg) /*rtl:ignore*/;
  -webkit-transform: rotate(270deg) /*rtl:ignore*/;
  transform: rotate(270deg) /*rtl:ignore*/;
  fill: #3598dc;
}
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #4190b9;
}
.back-arrow {
  margin-right: 10px;
  -moz-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -ms-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -o-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -webkit-transform: rotate(180deg) /*rtl:rotate(0)*/;
  transform: rotate(180deg) /*rtl:rotate(0)*/;
  display: flex;
  align-items: center;
}
.btn {
  padding: 0 16px;
}
.btn-default {
  border: none;
}
.sb-loader {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 90;
}
.feed-wrapper {
  margin: -12px;
  /* This is a patch - to be fixed in future*/
}
#intercom-container,
#intercom-launcher {
  z-index: 120;
}
.ads {
  padding: 4px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.google-ad {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.i-student-ad {
  padding: 12px;
}
.i-student-ad a {
  display: inline-block;
  width: 100%;
}
.i-student-ad img {
  max-width: 100%;
}
body.menuOpened {
  overflow: hidden;
}
.md-dialog-content {
  padding: 24px 65px;
}
.md-dialog-content .md-dialog-content-body p {
  font-size: 16px;
  padding-top: 10px;
}
