.color10 {
  color: #4faf61;
}
.color10.border {
  border-color: #4faf61;
}
.color10.background {
  background: #4faf61;
}
.color10.fill {
  fill: #4faf61;
}
.color-parent10 .child-color {
  color: #4faf61;
}
.color-parent10 .child-color.border {
  border-color: #4faf61;
}
.color-parent10 .child-color.background {
  background: #4faf61;
}
.color-parent10 .child-color.fill {
  fill: #4faf61;
}
.color9 {
  color: #a27c22;
}
.color9.border {
  border-color: #a27c22;
}
.color9.background {
  background: #a27c22;
}
.color9.fill {
  fill: #a27c22;
}
.color-parent9 .child-color {
  color: #a27c22;
}
.color-parent9 .child-color.border {
  border-color: #a27c22;
}
.color-parent9 .child-color.background {
  background: #a27c22;
}
.color-parent9 .child-color.fill {
  fill: #a27c22;
}
.color8 {
  color: #a55fff;
}
.color8.border {
  border-color: #a55fff;
}
.color8.background {
  background: #a55fff;
}
.color8.fill {
  fill: #a55fff;
}
.color-parent8 .child-color {
  color: #a55fff;
}
.color-parent8 .child-color.border {
  border-color: #a55fff;
}
.color-parent8 .child-color.background {
  background: #a55fff;
}
.color-parent8 .child-color.fill {
  fill: #a55fff;
}
.color7 {
  color: #73b435;
}
.color7.border {
  border-color: #73b435;
}
.color7.background {
  background: #73b435;
}
.color7.fill {
  fill: #73b435;
}
.color-parent7 .child-color {
  color: #73b435;
}
.color-parent7 .child-color.border {
  border-color: #73b435;
}
.color-parent7 .child-color.background {
  background: #73b435;
}
.color-parent7 .child-color.fill {
  fill: #73b435;
}
.color6 {
  color: #f76446;
}
.color6.border {
  border-color: #f76446;
}
.color6.background {
  background: #f76446;
}
.color6.fill {
  fill: #f76446;
}
.color-parent6 .child-color {
  color: #f76446;
}
.color-parent6 .child-color.border {
  border-color: #f76446;
}
.color-parent6 .child-color.background {
  background: #f76446;
}
.color-parent6 .child-color.fill {
  fill: #f76446;
}
.color5 {
  color: #f36f6e;
}
.color5.border {
  border-color: #f36f6e;
}
.color5.background {
  background: #f36f6e;
}
.color5.fill {
  fill: #f36f6e;
}
.color-parent5 .child-color {
  color: #f36f6e;
}
.color-parent5 .child-color.border {
  border-color: #f36f6e;
}
.color-parent5 .child-color.background {
  background: #f36f6e;
}
.color-parent5 .child-color.fill {
  fill: #f36f6e;
}
.color4 {
  color: #848fa6;
}
.color4.border {
  border-color: #848fa6;
}
.color4.background {
  background: #848fa6;
}
.color4.fill {
  fill: #848fa6;
}
.color-parent4 .child-color {
  color: #848fa6;
}
.color-parent4 .child-color.border {
  border-color: #848fa6;
}
.color-parent4 .child-color.background {
  background: #848fa6;
}
.color-parent4 .child-color.fill {
  fill: #848fa6;
}
.color3 {
  color: #10b2c1;
}
.color3.border {
  border-color: #10b2c1;
}
.color3.background {
  background: #10b2c1;
}
.color3.fill {
  fill: #10b2c1;
}
.color-parent3 .child-color {
  color: #10b2c1;
}
.color-parent3 .child-color.border {
  border-color: #10b2c1;
}
.color-parent3 .child-color.background {
  background: #10b2c1;
}
.color-parent3 .child-color.fill {
  fill: #10b2c1;
}
.color2 {
  color: #e775ce;
}
.color2.border {
  border-color: #e775ce;
}
.color2.background {
  background: #e775ce;
}
.color2.fill {
  fill: #e775ce;
}
.color-parent2 .child-color {
  color: #e775ce;
}
.color-parent2 .child-color.border {
  border-color: #e775ce;
}
.color-parent2 .child-color.background {
  background: #e775ce;
}
.color-parent2 .child-color.fill {
  fill: #e775ce;
}
.color1 {
  color: #ff9853;
}
.color1.border {
  border-color: #ff9853;
}
.color1.background {
  background: #ff9853;
}
.color1.fill {
  fill: #ff9853;
}
.color-parent1 .child-color {
  color: #ff9853;
}
.color-parent1 .child-color.border {
  border-color: #ff9853;
}
.color-parent1 .child-color.background {
  background: #ff9853;
}
.color-parent1 .child-color.fill {
  fill: #ff9853;
}
.color0 {
  color: #64A9F8;
}
.color0.border {
  border-color: #64A9F8;
}
.color0.background {
  background: #64A9F8;
}
.color0.fill {
  fill: #64A9F8;
}
.color-parent0 .child-color {
  color: #64A9F8;
}
.color-parent0 .child-color.border {
  border-color: #64A9F8;
}
.color-parent0 .child-color.background {
  background: #64A9F8;
}
.color-parent0 .child-color.fill {
  fill: #64A9F8;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize !important;
}
.upper-case {
  text-transform: uppercase;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input,
li,
[contenteditable],
span,
textarea,
[role="button"] {
  outline: 0;
}
html {
  background: transparent;
}
body {
  margin-top: 0;
  -moz-transition: margin-top 0.2s ease !important;
  -o-transition: margin-top 0.2s ease !important;
  -webkit-transition: margin-top 0.2s ease !important;
  transition: margin-top 0.2s ease !important;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(157, 153, 156, 0.5);
}
#ssIFrame_google {
  left: -9999px !important;
}
.page-footer .scroll-to-top {
  -moz-transform: rotate(270deg) /*rtl:ignore*/;
  -ms-transform: rotate(270deg) /*rtl:ignore*/;
  -o-transform: rotate(270deg) /*rtl:ignore*/;
  -webkit-transform: rotate(270deg) /*rtl:ignore*/;
  transform: rotate(270deg) /*rtl:ignore*/;
}
.page-footer .scroll-to-top svg {
  width: 32px;
  height: 32px;
  fill: #3598dc;
}
.suggested .box-style {
  position: relative;
}
.box-template-flex {
  display: -webkit-flex !important;
  display: -ms-flex !important;
  display: flex !important;
  -webkit-align-items: stretch !important;
  align-items: stretch !important;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
  flex-direction: column !important;
  padding: 10px !important;
}
.box-template-flex > * {
  box-sizing: border-box;
}
.box-template-flex .info {
  color: #212325;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}
.box-template-flex .info .top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding-right: 10px;
}
.box-template-flex .info .top .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  text-transform: capitalize;
  flex-shrink: 0;
}
.box-template-flex .info .top h5 {
  font-size: 22px;
  line-height: 29px;
  height: 58px;
  margin: 0;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: normal;
  text-align: left;
}
.box-template-flex .info .bottom {
  width: 100%;
}
.box-template-flex .info .bottom span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  text-align: left;
}
.box-template-flex .stats {
  border-top: 1px solid;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  height: 24px;
  font-size: 12px;
}
.box-template-flex .stats .members-count,
.box-template-flex .stats .items-count {
  max-width: 50%;
  color: #212325;
}
.box-style {
  background: #ffffff;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.34);
  display: block;
  width: 100%;
  height: 179px;
  line-height: 1;
  color: #212325;
}
.box-style:not(.leaderboardbox):not(.box-style-form):not(.active):hover {
  background: #f0f0f0;
}
.box-style:not(.leaderboardbox):not(.box-style-form):not(.active):hover .wrapper .icon {
  fill: #4190b9;
}
.box-style:not(.leaderboardbox):not(.box-style-form):not(.active):hover .wrapper span {
  color: #4190b9;
}
.box-style#createCourse {
  padding-bottom: 16px;
}
.box-style#createCourse md-input-container {
  margin-bottom: 12px;
}
.box-style#createCourse .md-errors-spacer {
  display: none;
}
.box-style.action {
  border-radius: 4px;
  height: auto;
  padding: 8px 0;
}
.box-style.active {
  background: #4190b9;
}
.box-style.active .wrapper .text {
  color: #ffffff;
}
.box-style.active .wrapper .icon {
  fill: #ffffff;
}
.box-style:not(.active):hover .wrapper .icon {
  fill: #4190b9 !important;
}
.box-style:not(.active):hover .wrapper span {
  color: #4190b9 !important;
}
.box-style .wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.box-style .wrapper .icon {
  fill: #4190b9;
  margin-right: 10px;
}
.box-style .wrapper .text {
  color: #4190b9;
  font-size: 14px;
}
.box-style .wrapper span {
  line-height: normal;
  padding-right: 6px;
}
#intercom-container,
#intercom-launcher {
  z-index: 120;
}
/*#region: multi line ellipsis classes*/
.multi-line-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -ms-word-break: break-word;
  word-break: break-word;
}
.multi-line-ellipsis.limit-three {
  -webkit-line-clamp: 3;
}
.multi-line-ellipsis.limit-two {
  -webkit-line-clamp: 2;
}
/*#endregion*/
/*#region: new button classes*/
.action-btn,
.signin-header-btn {
  font-size: 14px;
  line-height: normal;
  text-align: center;
  min-width: 92px;
  max-width: 180px;
  min-height: 26px;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.42);
  margin: 4px 0;
  padding: 5px 16px;
  border-radius: 4px;
  white-space: normal;
  background: #4190b9;
  color: #ffffff;
}
.action-btn.no-text,
.signin-header-btn.no-text {
  border-radius: 100%;
  padding: 10px;
  min-width: 0;
  margin: 0;
  box-shadow: none;
}
.action-btn.space-before,
.signin-header-btn.space-before {
  margin-left: 10px;
}
.action-btn.space-after,
.signin-header-btn.space-after {
  margin-right: 10px;
}
.action-btn svg,
.signin-header-btn svg,
.action-btn md-icon,
.signin-header-btn md-icon {
  fill: #ffffff;
}
.action-btn:hover:not([disabled]),
.signin-header-btn:hover:not([disabled]) {
  background: #297095;
  color: #ffffff;
}
.action-btn:hover:not([disabled]) svg,
.signin-header-btn:hover:not([disabled]) svg,
.action-btn:hover:not([disabled]) md-icon,
.signin-header-btn:hover:not([disabled]) md-icon {
  fill: #ffffff;
}
.action-btn[disabled],
.signin-header-btn[disabled] {
  background: #297095;
  color: #83b6d0;
  cursor: default;
}
.action-btn[disabled] svg,
.signin-header-btn[disabled] svg,
.action-btn[disabled] md-icon,
.signin-header-btn[disabled] md-icon {
  fill: #83b6d0;
}
.cancel-btn,
.signup-header-btn {
  font-size: 14px;
  line-height: normal;
  text-align: center;
  min-width: 92px;
  max-width: 180px;
  min-height: 26px;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.42);
  margin: 4px 0;
  padding: 5px 16px;
  border-radius: 4px;
  white-space: normal;
  background: #ffffff;
  color: #212325;
}
.cancel-btn.no-text,
.signup-header-btn.no-text {
  border-radius: 100%;
  padding: 10px;
  min-width: 0;
  margin: 0;
  box-shadow: none;
}
.cancel-btn.space-before,
.signup-header-btn.space-before {
  margin-left: 10px;
}
.cancel-btn.space-after,
.signup-header-btn.space-after {
  margin-right: 10px;
}
.cancel-btn svg,
.signup-header-btn svg,
.cancel-btn md-icon,
.signup-header-btn md-icon {
  fill: #212325;
}
.cancel-btn:hover:not([disabled]),
.signup-header-btn:hover:not([disabled]) {
  background: #f0f0f0;
  color: #212325;
}
.cancel-btn:hover:not([disabled]) svg,
.signup-header-btn:hover:not([disabled]) svg,
.cancel-btn:hover:not([disabled]) md-icon,
.signup-header-btn:hover:not([disabled]) md-icon {
  fill: #212325;
}
.cancel-btn[disabled],
.signup-header-btn[disabled] {
  background: #b4b3b3;
  color: #7d7d7d;
  cursor: default;
}
.cancel-btn[disabled] svg,
.signup-header-btn[disabled] svg,
.cancel-btn[disabled] md-icon,
.signup-header-btn[disabled] md-icon {
  fill: #7d7d7d;
}
/*#endregion*/