/*@color1: #5f6871;
@loginColor : #3293f6;
@registerColor: #fff;
//@siteBg: #212427;

@textColor:#282828; //text color over white background

@color4: #353a3f;
@color2: #f5f5f5;
@color3:#292d31;
@color5:#6a737d;
@color6:#326F2D;
@color7:#3598dc;
@color8:#90A5DB;
@color9:#cccccc;
@color10:#8c99a6;
@color11:#db4437;*/
.color17 {
  color: #4faf61;
}
.color17.background {
  background: #4faf61;
}
.color16 {
  color: #4e5384;
}
.color16.background {
  background: #4e5384;
}
.color15 {
  color: #549af7;
}
.color15.background {
  background: #549af7;
}
.color14 {
  color: #c33f40;
}
.color14.background {
  background: #c33f40;
}
.color13 {
  color: #6ea77b;
}
.color13.background {
  background: #6ea77b;
}
.color12 {
  color: #73b435;
}
.color12.background {
  background: #73b435;
}
.color11 {
  color: #f76446;
}
.color11.background {
  background: #f76446;
}
.color10 {
  color: #f36f6e;
}
.color10.background {
  background: #f36f6e;
}
.color9 {
  color: #695b47;
}
.color9.background {
  background: #695b47;
}
.color8 {
  color: #e3b75f;
}
.color8.background {
  background: #e3b75f;
}
.color7 {
  color: #5474cf;
}
.color7.background {
  background: #5474cf;
}
.color6 {
  color: #848fa6;
}
.color6.background {
  background: #848fa6;
}
.color5 {
  color: #ffb933;
}
.color5.background {
  background: #ffb933;
}
.color4 {
  color: #e775ce;
}
.color4.background {
  background: #e775ce;
}
.color3 {
  color: #ff9853;
}
.color3.background {
  background: #ff9853;
}
.color2 {
  color: #666e70;
}
.color2.background {
  background: #666e70;
}
.color1 {
  color: #9d87b7;
}
.color1.background {
  background: #9d87b7;
}
.color0 {
  color: #64a9f8;
}
.color0.background {
  background: #64a9f8;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
ol {
  padding: 0;
}
em {
  font-style: normal;
}
/*h5 {
    margin: 0;
}*/
input,
li,
[contenteditable],
span,
textarea,
[role="button"] {
  outline: 0;
}
.userLetter {
  border-radius: 50%;
  color: #f5f5f5;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
}
/*.create {
    background: @color4;
    //height: 475px;
    h5 {
        display: inline-block;
        font-size: 18px;
        margin: 15px 0 0 20px;
    }
    .content {
        width: ~"calc( 100% - 20px)";
        height: ~"calc( 100% - 60px)";
        margin: 10px;
        background: #212427;
    }
}*/
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(157, 153, 156, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.circle-loading {
  margin: 0 auto;
}
.add {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  z-index: 1;
  right: 24px;
  bottom: 25px;
  font-size: 28px;
  line-height: 55px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  display: none;
  /*@media only screen and (max-width : 768px) {
        display: block;
    }*/
}
.dd-list md-content {
  background: #323538;
  color: #f5f5f5;
}
.dd-list md-option {
  margin: 0 15px;
  border-bottom: 1px solid #282828;
  font-size: 13px;
}
.dd-list md-option[selected] {
  color: #2698d4;
}
.dd-list md-option[selected]:focus {
  color: #2698d4;
}
.dd-list md-option:last-child {
  border: none;
}
.dd-list md-select-menu:not(.md-overflow) md-content {
  padding-top: 0;
  padding-bottom: 0;
}
md-select:not([disabled]):focus .md-select-value {
  color: #f5f5f5;
  border-bottom: 1px solid #376e8c;
}
md-select .md-select-value.md-select-placeholder {
  color: #f5f5f5;
}
md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: #888b8e;
}
md-input-container label {
  color: #323538;
}
.md-select-value .md-select-icon,
md-select .md-select-value,
md-input-container .md-input {
  color: #4190b9;
  border-color: #4190b9;
}
.md-select-value .md-select-icon:focus,
md-select .md-select-value:focus,
md-input-container .md-input:focus,
.md-select-value .md-select-icon:active,
md-select .md-select-value:active,
md-input-container .md-input:active {
  color: #2698d4;
}
md-input-container .md-input {
  color: #f5f5f5;
}
.md-select-value *:first-child {
  max-width: 100%;
}
md-dialog {
  color: #282828;
}
md-menu-item > .md-button span {
  color: #282828;
}
md-dialog-actions {
  order: 2;
}
.close {
  float: right;
  margin-top: 6px;
}
.close:hover {
  color: #f5f5f5;
}
.close svg {
  fill: #f5f5f5;
  width: 17px;
  height: 17px;
}
.create-box .dashboard-stat2 {
  border: 2px solid #323538;
  background: transparent;
  color: #323538;
  padding-bottom: 5px;
  padding-top: 5px;
}
.create-box .create-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.create-box .plus {
  margin-bottom: 12px;
}
.create-box .plus svg {
  width: 50px;
  height: 50px;
  fill: #323538;
}
.create-box span {
  margin-top: 15px;
}
.create-box md-content {
  background: transparent;
}
.create-box md-input-container {
  padding-bottom: 2px;
  margin-bottom: 0;
}
.create-box md-input-container .md-input {
  color: #f5f5f5;
  border-color: #8c99a6;
  font-size: 18px;
}
.create-box md-input-container label {
  color: #888b8e;
}
.create-box .btn {
  background: #4190b9;
  margin: 0 5px;
  display: block;
  color: #f5f5f5;
  border-radius: 5px;
}
.create-box .btn:hover {
  background: #26566e;
  color: inherit;
}
.create-box .btn:focus {
  color: inherit;
}
.create-box .btn-default {
  background: #f5f5f5;
  color: #323538;
}
.create-box .error {
  color: #db4437;
  order: 3;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .create-box {
    display: none;
  }
}
.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow-y: auto;
  background: #181c1d;
  background: #f5f5f5;
}
.full-screen header {
  height: 80px;
  color: #f5f5f5;
  background-color: #323538;
  line-height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 5;
  border-bottom: 5px solid #282828;
}
.full-screen header .close {
  position: absolute;
  top: 20px;
  right: 50px;
}
.full-screen header .close svg {
  width: 20px;
  height: 20px;
  fill: #C2C2C2;
}
.full-screen .full-screen-body {
  margin-top: 80px;
}
.r-table {
  display: table;
}
.r-table-row {
  display: table-row;
}
.r-table-cell {
  display: table-cell;
}
.counter {
  counter-reset: section;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}
.counter .counter-inc {
  counter-increment: step-counter;
}
.counter .counter-view:before {
  content: counter(step-counter, upper-alpha);
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
[ui-view] {
  /*-moz-transform-origin: ~"100% 100%";
    -ms-transform-origin: ~"100% 100%";
    -o-transform-origin: ~"100% 100%";
    -webkit-transform-origin: ~"100% 100%";
    transform-origin: ~"100% 100%";*/
}
[ui-view].searchState {
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
[ui-view].searchState.ng-enter,
[ui-view].searchState.ng-leave {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
[ui-view].searchState.ng-enter {
  -webkit-transform: scale3d(0.1, 0.1, 0.1);
  -moz-transform: scale3d(0.1, 0.1, 0.1);
  transform: scale3d(0.1, 0.1, 0.1);
}
[ui-view].searchState.ng-enter-active {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
[ui-view].searchState.ng-leave {
  display: none;
  /*-webkit-transform: translate3d(1,1, 1);
        -moz-transform: translate3d(1,1, 1);
        transform: translate3d(1,1, 1);*/
}
[ui-view].searchState.ng-leave-active {
  display: none;
  /*-webkit-transform: translate3d(0.1, 0.1, 0.1);
        -moz-transform: translate3d(0.1, 0.1, 0.1);
        transform: translate3d(0.1, 0.1, 0.1);*/
}
.delete {
  position: absolute;
  top: 5px;
  right: 0;
}
.delete-icon {
  height: 30px;
  width: 30px;
}
.dots-3 {
  margin-left: 27px;
  height: 20px;
  width: 20px;
  fill: #5d6063;
}
.page-title svg {
  fill: #484f56;
  width: 30px;
  height: 30px;
}
.tab-from-right {
  background: none;
  margin: 0;
  float: right;
  display: inline-block;
  border: 0;
}
.tab-from-right > li {
  background: none;
  margin: 0 5px 0 10px;
  border: 0;
  padding: 0;
  text-align: center;
}
.tab-from-right > li > a {
  background: none;
  margin: 0;
  border: 0;
  padding: 12px 13px 5px 13px;
  font-size: 13px;
  color: #323538;
}
.tab-from-right > li.active {
  border-bottom: 3px solid #3598dc;
  position: relative;
}
.tab-from-right > li.active > a {
  color: #f5f5f5;
  background: none;
  border: 0;
  margin: 0;
}
.tab-from-right > li.active > a:hover {
  color: #f5f5f5;
  background: none;
  border: 0;
  margin: 0;
}
.tab-from-right > li.active > a:focus {
  color: #f5f5f5;
  background: none;
  border: 0;
  margin: 0;
}
.tab-from-right > li:hover > a {
  color: #f5f5f5;
  background: none;
  border: 0;
  margin: 0;
}
.nav-tabs,
.tabbable {
  border-bottom: none;
  border-radius: 5px;
  background: #323538;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  font-size: 16px;
}
.nav-tabs li,
.tabbable li {
  margin: 0 20px 0 10px;
  background: transparent;
  color: #f5f5f5;
  outline: none;
}
.nav-tabs li:hover,
.tabbable li:hover,
.nav-tabs li:focus,
.tabbable li:focus {
  background: transparent;
  color: #2698d4;
}
.nav-tabs li.active,
.tabbable li.active,
.nav-tabs li:active,
.tabbable li:active {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #3598dc;
  font-weight: bold;
  color: #f5f5f5;
}
.nav-tabs li.active > a,
.tabbable li.active > a,
.nav-tabs li.active > a:hover,
.tabbable li.active > a:hover,
.nav-tabs li.active > a:focus,
.tabbable li.active > a:focus {
  background: transparent;
  border: 0;
  font-weight: bold;
  color: #f5f5f5;
  cursor: auto;
}
.nav-tabs li > a,
.tabbable li > a {
  color: #888b8e;
  font-size: 16px;
  border: none;
}
.nav-tabs li > a:hover,
.tabbable li > a:hover {
  color: #2698d4;
  border: none;
}
.ribbon {
  position: absolute;
  bottom: 5em;
  right: 0;
  margin-left: 1em;
  padding: .75em 1.25em .75em .75em;
  border-radius: .5em 0 0 .5em;
  background-color: #db4437;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: inset 0 0.062em 0 rgba(255, 255, 255, 0.6), 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 0 -0.062em 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.ribbon:before,
.ribbon:after {
  position: absolute;
  background-color: inherit;
  content: "";
}
.ribbon:before {
  bottom: 0;
  right: -0.5em;
  width: .5em;
  height: 3em;
  border-radius: 0 0 .5em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.ribbon:after {
  top: -1em;
  right: -0.5em;
  width: .5em;
  height: 1em;
  border-radius: 0 .5em .5em 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  box-shadow: 0 0.062em 0 rgba(255, 255, 255, 0.6);
}
.md-button.md-icon-button .md-ripple-container {
  left: 10px;
  top: -5px;
}
md-menu-content {
  padding: 0;
  border-radius: 5px;
}
md-menu-item {
  min-height: 36px;
  height: 36px;
}
.scroll-to-top svg {
  width: 32px;
  height: 32px;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  fill: #3598dc;
}
.mobile-plus svg {
  width: 20px;
  height: 20px;
  fill: #f5f5f5;
}
