.color0 {
  border-color: #64a9f8;
  color: #64a9f8;
}
.color0 .progress {
  background: #64a9f8;
}
.color1 {
  border-color: #9d87b7;
  color: #9d87b7;
}
.color1 .progress {
  background: #9d87b7;
}
.color2 {
  border-color: #666e70;
  color: #666e70;
}
.color2 .progress {
  background: #666e70;
}
.color3 {
  border-color: #ff9853;
  color: #ff9853;
}
.color3 .progress {
  background: #ff9853;
}
.color4 {
  border-color: #e775ce;
  color: #e775ce;
}
.color4 .progress {
  background: #e775ce;
}
.color5 {
  border-color: #ffb933;
  color: #ffb933;
}
.color5 .progress {
  background: #ffb933;
}
.color6 {
  border-color: #848fa6;
  color: #848fa6;
}
.color6 .progress {
  background: #848fa6;
}
.color7 {
  border-color: #5474cf;
  color: #5474cf;
}
.color7 .progress {
  background: #5474cf;
}
.color8 {
  border-color: #e3b75f;
  color: #e3b75f;
}
.color8 .progress {
  background: #e3b75f;
}
.color9 {
  border-color: #695b47;
  color: #695b47;
}
.color9 .progress {
  background: #695b47;
}
.color10 {
  border-color: #f36f6e;
  color: #f36f6e;
}
.color10 .progress {
  background: #f36f6e;
}
.color11 {
  border-color: #f76446;
  color: #f76446;
}
.color11 .progress {
  background: #f76446;
}
.color12 {
  border-color: #73b435;
  color: #73b435;
}
.color12 .progress {
  background: #73b435;
}
.color13 {
  border-color: #6ea77b;
  color: #6ea77b;
}
.color13 .progress {
  background: #6ea77b;
}
.color14 {
  border-color: #c33f40;
  color: #c33f40;
}
.color14 .progress {
  background: #c33f40;
}
.color15 {
  border-color: #549af7;
  color: #549af7;
}
.color15 .progress {
  background: #549af7;
}
.color16 {
  border-color: #4e5384;
  color: #4e5384;
}
.color16 .progress {
  background: #4e5384;
}
.color17 {
  border-color: #4faf61;
  color: #4faf61;
}
.color17 .progress {
  background: #4faf61;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
.userLetter {
  border-radius: 50%;
  color: #f5f5f5;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  background: #4faf61;
}
.leaderboad h4 {
  font-size: 21px;
  font-weight: 700;
  margin-top: 0;
  color: #5f6871;
  text-align: center;
  margin-bottom: 10px;
}
.leaderboad .userLetter {
  font-size: 17px;
}
.leaderboad .user-name {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 7vw;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.leaderboad .img-circle {
  margin-left: 10px;
}
.leaderboad .r-table {
  display: table;
  text-align: center;
  font-size: 12px;
  width: 100%;
}
.leaderboad .r-table-row {
  display: table-row;
  height: 40px;
  line-height: 40px;
}
.leaderboad .r-table-cell {
  display: table-cell;
  text-align: right;
}
.leaderboad .r-table-cell:nth-child(even) {
  width: 10%;
  color: orange;
  text-align: center;
}
.leaderboad .r-table-cell.last {
  text-align: left;
  width: 25%;
}
.portlet.light.invite {
  background: #3293F6;
  text-align: center;
  font-size: 18px;
  height: 180px;
}
.portlet.light.invite svg {
  fill: #f5f5f5;
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}
.create {
  background: #353a3f;
}
.create h5 {
  display: inline-block;
  font-size: 18px;
  margin: 15px 20px 0 0;
}
.create .closeFrom {
  float: left;
  margin: 10px 0 0 10px;
  color: #f5f5f5;
  text-shadow: none;
  opacity: 1;
  font-weight: 400;
}
.create .content {
  width: calc( 100% - 20px);
  height: calc( 100% - 60px);
  margin: 10px;
  background: #212427;
}
.add {
  position: fixed;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  z-index: 1;
  left: 24px;
  bottom: 25px;
  font-size: 28px;
  line-height: 55px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
