@import "variables";

.headerMenu {
    width: 20px;
    height: 20px;
}


.searchIcon {
    width: 15px;
    height: 15px;
}

.headerHelp {
    //TODO: why important
    padding: 0 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}

.headerPoints {
    display: block;
    margin-top: -7px;
}

.top-menu {
    svg {
        height: 20px;
        width: 20px;
        margin-top: 30px;
        margin-right: 20px;
    }

    .navbar-nav .open li {
        a {
            display: flex;
            padding-top: 10px !important;
            padding-bottom: 10px !important;

            svg, span {
                align-self: center;
            }

            svg {
                margin-top: 0;
            }
        }
    }

    .headerNotification {
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 0;
    }
}

.login, .signin {
    display: inline-block !important;
    border-radius: 25px;
    margin-top: 13px;
    //background:#3293f6;
    font-size: 20px;
    text-transform: capitalize;

}


.search-wrapper {
    display: inline;
}


.md-user-menu {



    &:before {
        position: absolute;
        top: -8px;
        right: 25px;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        content: '';
    }



    .user-menu-item {
        height: inherit;

        svg {
            width: 20px;
            height: 20px;
        }



        .md-button {
            margin: 0;
            padding: 5px 0;
            width: 180px;
            text-align: left;

        }

        md-icon {
            margin: 0 10px;
        }
    }
}

.login-buttons {
    padding: 10px;
    white-space: nowrap;

    @media (max-width: 600px) {
        display: none;
    }
}

.nav-bar {
    padding: 0 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 85px;
    z-index: 10;

    .logo-search {
        height: 100%;

        .search-form {
            max-width: 250px;
            width: 100%;
            margin: 0 30px;



            .search-area {
                position: relative;

                .search-btn {
                    position: absolute;
                    right: 15px;
                    top: 12px;
                }

                .text {
                    font-size: 15px;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 15px;
                    padding-right: 37px;
                }
            }
        }

        .logo {
            margin: 0 16px;

            .logo-default {
                width: 180px;
                fill: #fff;
                height: 35px;
                margin-top: 15px;

                @media (max-width: 600px) {
                    display: none;
                }
            }

            .logo-small {
                height: 30px;
                width: 60px;
                fill: #fff;
                margin-top: 7px;
                display: none;

                @media (max-width: 600px) {
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }

    .menu-toggler {
        height: 20px;

        @media (min-width: 990px) {
            display: none;
        }
    }

    .user-md-menu {
        display: inline-block;
        padding: 0;

        .md-ripple-container {
            display: none;
        }


        .md-icon-button {
            width: inherit;
            height: 80px;

            @media (max-width: 600px) {
                display: none;
            }

            span {
                text-transform: none;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        md-icon {
            width: 40px;
            height: 40px;
        }
    }
}
//to be deleted
.page-header {
    top: 100px;
}
