.itemPage header {
  position: fixed;
}
.itemPage header a {
  margin: 0 15px;
  height: 17px;
  width: 17px;
}
.itemPage header svg {
  width: 17px;
  height: 17px;
  fill: #c2c2c2;
}
.itemPage header .fb-like {
  white-space: nowrap;
}
.itemPage header .fb-like button {
  font-size: 14px;
  color: #c2c2c2;
  padding-left: 25px;
  text-transform: capitalize;
}
.itemPage header .fb-like button svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  margin-bottom: 14px;
}
.itemPage header .item-actions {
  white-space: nowrap;
}
.itemPage header .item-actions .md-icon-button {
  margin: 0;
}
.itemPage header .close-btn {
  padding: 15px;
  margin-left: 50px;
  line-height: normal;
}
@media (max-width: 400px) {
  .itemPage header .like-text {
    display: none;
  }
  .itemPage header .close-btn {
    margin-left: 15px;
  }
}
.itemPage header .fb-like.blue svg {
  fill: #4190b9;
}
.itemPage md-select:not([disabled]):focus .md-select-value {
  color: #282828;
  border-bottom: 1px solid #376e8c;
}
.itemPage md-select .md-select-value.md-select-placeholder {
  color: #282828;
}
.itemPage .fileName {
  text-align: center;
  color: #282828;
  font-size: 20px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.itemPage .fileName .name-info {
  margin: 0 auto;
}
.itemPage .fileName .name-info,
.itemPage .fileName .flag-form {
  max-width: 430px;
  width: 100%;
  padding: 0 20px;
}
.itemPage .fileName .rename-form {
  max-width: 746px;
  width: 100%;
}
.itemPage .fileName form {
  margin: 0 auto;
}
.itemPage .fileName form .title,
.itemPage .fileName form label {
  text-align: left;
}
.itemPage .fileName form .layout-column {
  background: none;
}
.itemPage .fileName form md-content {
  background: none;
}
.itemPage .fileName form md-input-container .md-input {
  color: #323538;
}
.itemPage .fileName form .rounded-input {
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.itemPage .fileName a {
  line-height: 0;
  margin-left: 10px;
}
.itemPage .fileName svg {
  fill: #c2c2c2;
  width: 20px;
  height: 20px;
}
.itemPage .iframeContent {
  border: 0;
  height: calc(100vh - 175px);
  width: calc(100% - 155px);
}
@media (max-width: 600px) {
  .itemPage .iframeContent {
    width: calc(100% - 20px);
  }
}
.itemPage .comments-wrapper {
  text-align: right;
  padding-left: calc(50vw - 720px);
  top: 85px;
  bottom: 0;
  position: fixed;
}
.itemPage .comments-wrapper > div {
  margin: 0 auto;
}
.itemPage .comments-wrapper .title {
  font-size: 16px;
  padding: 10px 0;
}
.itemPage .comments-wrapper .comments {
  text-align: left;
  width: 300px;
  padding: 15px;
  display: inline-block;
}
.itemPage .comments-wrapper .comments .user-image {
  padding-right: 10px;
}
.itemPage .comments-wrapper .comments md-input-container {
  margin: 0;
}
.itemPage .comments-wrapper .comments md-menu {
  padding: 0;
}
.itemPage .comments-wrapper .comments md-menu .md-button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 0;
}
.itemPage .comments-wrapper .comments md-menu .md-ripple-container {
  left: 0;
  top: 0;
}
.itemPage .comments-wrapper .comments .buttons {
  text-align: right;
}
.itemPage .comments-wrapper .comments .comments-list > li {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.itemPage .comments-wrapper .comments .comment-replies .reply-data > div,
.itemPage .comments-wrapper .comments .comment-replies .reply-data > md-menu {
  margin-top: 10px;
  padding-top: 10px;
}
.itemPage .comments-wrapper .comments .comment-text,
.itemPage .comments-wrapper .comments .reply-text {
  width: 100%;
}
.itemPage .comments-wrapper .new-comment {
  padding: 0 10px;
}
.itemPage .comments-wrapper .new-comment .new-comment-form {
  width: 100%;
}
.itemPage .comments-wrapper .reply-btn {
  padding-top: 10px;
  margin-top: 10px;
}
.itemPage .arrows svg {
  width: 40px;
  height: 40px;
}
.itemPage .arrows .arrow {
  position: fixed;
  top: calc(50% + 80px);
  fill: #c2c2c2;
}
.itemPage .right {
  -moz-transform: rotate(0) /*rtl:rotate(180deg)*/;
  -ms-transform: rotate(0) /*rtl:rotate(180deg)*/;
  -o-transform: rotate(0) /*rtl:rotate(180deg)*/;
  -webkit-transform: rotate(0) /*rtl:rotate(180deg)*/;
  transform: rotate(0) /*rtl:rotate(180deg)*/;
  right: 20px;
}
.itemPage .left {
  -moz-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -ms-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -o-transform: rotate(180deg) /*rtl:rotate(0)*/;
  -webkit-transform: rotate(180deg) /*rtl:rotate(0)*/;
  transform: rotate(180deg) /*rtl:rotate(0)*/;
  left: 10px;
}
.preview {
  text-align: center;
  margin: 0 auto;
  padding: 0 12px;
}
.preview .preview-page {
  max-width: 800px;
}
.preview .videoframe {
  width: calc(100% - 155px) !important;
}
@media (max-width: 600px) {
  .preview .videoframe {
    width: calc(100% - 20px) !important;
  }
}
.preview .previewFailed p {
  color: #282828;
  font-size: 22px;
}
@media (max-width: 600px) {
  .preview .previewFailed p {
    font-size: 16px;
  }
}
.preview .previewFailed img {
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .preview .previewFailed img {
    width: 27vw;
  }
}
.preview .preview-svg .svgContent,
.preview .preview-image .imageContent {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 8px #dfe2e9;
}
.preview .preview-svg .svgContent {
  height: 100%;
}
.preview img {
  max-width: 100%;
  background: #f5f5f5;
  margin: 10px 0;
}
.copy-right {
  width: 500px;
}
.tooltip-inner {
  max-width: 500px;
}
