@import "variables.less";
@headerHeight: 60px;

.itemPage {
    background: #F4F4F4;

    header {
        height: @headerHeight;
        color: @color2;
        background-color: @color4;
        padding-top: 20px;
        position: fixed;
        left: 0;
        right: 0;

        a {
            margin: 22.5px 15px 0 15px;
            height:17px;
            width:17px;
        }

        svg {
            width: 17px;
            height: 17px;
            fill: #C2C2C2;
        }
    }

    .itemContent {
        margin-top: @headerHeight;
    }

    .fileName {
        text-align: center;
        color: #000;
        font-size: 20px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 430px;
        margin: 0 auto;
        overflow: hidden;
    }

    .preview {
        text-align: center;
        width: 800px;
        margin: 0 auto;

        img {
            max-width: 100%;
            background: #fff;
            margin: 10px 0;
        }
    }

    .like {
        float: left;
    }

    .actions {
        text-align: center;
    }

    .closeItem {
        float: right;
    }

    svg {
        width: 17px;
        height: 17px;
    }

    button {
        border: 0;
        background: transparent;
    }

    .copy-right {
        width:500px;
    }
    //override bootstrap
    .tooltip-inner {
        max-width:500px;
    }
}
