.itemPage {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #F4F4F4;
  z-index: 10000;
  overflow-y: auto;
}
.itemPage header {
  height: 60px;
  color: #f5f5f5;
  background-color: #353a3f;
  padding-top: 20px;
  position: fixed;
  right: 0;
  left: 0;
}
.itemPage header a {
  margin: 0 15px;
}
.itemPage header svg {
  width: 17px;
  height: 17px;
  fill: #C2C2C2;
}
.itemPage .itemContent {
  margin-top: 60px;
}
.itemPage .fileName {
  text-align: center;
  color: #000;
  font-size: 20px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 430px;
  margin: 0 auto;
  overflow: hidden;
}
.itemPage .preview {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.itemPage .preview img {
  max-width: 100%;
  background: #fff;
  margin: 10px 0;
}
.itemPage .like {
  float: right;
}
.itemPage .actions {
  text-align: center;
}
.itemPage .closeItem {
  float: left;
}
.itemPage svg {
  width: 17px;
  height: 17px;
}
.itemPage button {
  border: 0;
  background: transparent;
}
.itemPage .copy-left {
  width: 500px;
}
.itemPage .tooltip-inner {
  max-width: 500px;
}
