@import "variables.less";
.itemPage {
    //position:fixed;
    //top:0;
    //bottom:0;
    //left:0;
   // right:0;
    //background:#F4F4F4;
    //z-index:10000;
    //overflow-y: auto;

    header {
        height:80px;
        color:@color2;
        background-color:@color4;
    }
    .fileName {
        text-align:center;
    }
    .preview {
        text-align:center;
    }
    .like{
        float:left;
    }
    .actions {
        text-align:center;
    }
    .closeItem {
        float:right;
    }
}