@import "variables.less";

.itemPage {

    header {

        a {
            margin: 0 15px;
            height: 17px;
            width: 17px;
        }

        svg {
            width: 17px;
            height: 17px;
            fill: @svgLightGrey;
        }
    }


    .fileName {
        text-align: center;
        color: @textColorBlack;
        font-size: 20px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        max-width: 430px;
        margin: 0 auto;
        overflow: hidden;
        padding: 20px 0;
    }

    .preview {
        text-align: center;
        width: 800px;
        margin: 0 auto;

        .previewFailed {
            p {
                color: @textColorBlack;
                font-size: 22px;
            }

            img {
                margin-bottom: 30px;
            }
        }

        img {
            max-width: 100%;
            background: @backgroundColorWhite;
            margin: 10px 0;
        }
    }

    .like {
        float: left;
    }

    .actions {
        text-align: center;
    }

    .closeItem {
        float: right;
    }

    svg {
        width: 17px;
        height: 17px;
    }

    .copy-right {
        width: 500px;
    }
    //override bootstrap
    .tooltip-inner {
        max-width: 500px;
    }
}
