@import "variables.less";

body.gallery-open {
    position: fixed;
    overflow: hidden;
    max-height: 100vh;
    width: 100%;
}

.gallery {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    padding-top: 70px;

    .content {
        .displayFlex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 700px;
        image{
             min-height: ~"calc(100vh - 150px)";
        }
        img {
            margin: 40px 0;
            max-width: 100%;
            box-shadow: 0 0 50px #000;
            max-height: ~"calc(100vh - 150px)";
        }



        .arrow {
            &.prev:after {
                content: '❮';
            }

            &.next:after {
                content: '❯';
            }

            &:hover:after {
                color: @svgDots;
            }

            &:after {
                font-size: 30px;
                color: #fff;
                padding-top: 13px;
                text-align: center;
                display: block;
                width: 50px;
                height: 50px;
                line-height: 20px;
                border-radius: 100%;
                cursor: pointer;

                &:hover {
                    color: @buttonColorBlue;
                }
            }

            &.disabled:after {
                color: transparent;
                cursor: auto;
            }
        }
    }

    .close-button:hover:after {
        color: @svgDots;
    }

    .close-button:after {
        content: '✕';
        font-size: 30px;
        text-align: center;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        line-height: 30px;
        padding: 10px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        cursor: pointer;
        font-weight: bold;
    }
}
