/*@color1: #5f6871;
@loginColor : #3293f6;
@registerColor: #fff;
//@siteBg: #212427;

@textColor:#282828; //text color over white background

@color4: #353a3f;
@color2: #f5f5f5;
@color3:#292d31;
@color5:#6a737d;
@color6:#326F2D;
@color7:#3598dc;
@color8:#90A5DB;
@color9:#cccccc;
@color10:#8c99a6;
@color11:#db4437;*/
.itemPage header a {
  margin: 0 15px;
  height: 17px;
  width: 17px;
}
.itemPage header svg {
  width: 17px;
  height: 17px;
  fill: #c2c2c2;
}
.itemPage .fileName {
  text-align: center;
  color: #282828;
  font-size: 20px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 430px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.itemPage .preview {
  text-align: center;
  margin: 0 auto;
  /*width: 800px;*/
}
.itemPage .preview .preview-page {
  width: 800px;
}
.itemPage .preview .previewFailed p {
  color: #282828;
  font-size: 22px;
}
.itemPage .preview .previewFailed img {
  margin-bottom: 30px;
}
.itemPage .preview .previewDenied {
  width: 100%;
}
.itemPage .preview .previewDenied p {
  color: #282828;
  font-size: 22px;
}
.itemPage .preview .previewDenied a {
  background: #5b9bd1;
  color: #f5f5f5;
  padding: 5px 30px;
  border-radius: 7px;
}
.itemPage .preview .previewDenied a :hover {
  color: #f5f5f5;
}
.itemPage .preview .preview-svg .svgContent,
.itemPage .preview .preview-image .imageContent {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 8px #dfe2e9;
}
.itemPage .preview img {
  max-width: 100%;
  background: #f5f5f5;
  margin: 10px 0;
}
.itemPage .like {
  float: right;
}
.itemPage .actions {
  text-align: center;
}
.itemPage .closeItem {
  float: left;
}
.itemPage svg {
  width: 17px;
  height: 17px;
}
.itemPage .copy-left {
  width: 500px;
}
.itemPage .tooltip-inner {
  max-width: 500px;
}
