.page-header-fixed .page-container {
  margin-top: 70px;
}
.page-footer-fixed.page-footer-fixed-mobile .page-container {
  margin-bottom: 20px !important;
}
@media (min-width: 1260px) {
  /* 1200px */
  .container {
    width: 1270px;
  }
}
@media (min-width: 961px) {
  /* 992px */
  /* Page container in fixed footer */
  .page-footer-fixed .page-container {
    margin-bottom: 20px !important;
  }
}
@media (max-width: 991px) {
  /* 991px */
  /* Page container */
  /*.page-container {
        padding: 0 10px 0 10px;
    }*/
  .page-header-fixed.page-header-fixed-mobile .page-container {
    margin-top: 75px !important;
  }
}
@media (max-width: 480px) {
  /* 480px */
  /* Page container */
  .page-header-fixed.page-header-fixed-mobile .page-container {
    margin-top: 150px !important;
  }
}
/******************
Page Quick Sidebar
******************/
/***
Quick Sidebar Layout
***/
/* Page Portlet Fullscreen */
.page-portlet-fullscreen .page-quick-sidebar-wrapper,
.page-portlet-fullscreen .page-quick-sidebar-toggler {
  z-index: -1;
}
/*@media (min-width: 961px) {
    

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
        display: none;
        width: 234px;
        z-index: 2000;
        position: absolute;
        border-radius: 4px;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu > li > a {
        margin: 3px;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li.active .sub-menu, .page-sidebar-menu.page-sidebar-menu-hover-submenu li.open .sub-menu {
        display: none !important;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li a > .arrow {
        display: none;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > a > .arrow {
        display: block;
        float: right;
        position: absolute;
        right: 0;
        margin-top: -20px;
        background: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 12px double transparent;
        border-bottom: 12px double transparent;
        border-left: 0;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > a > .arrow:after, .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > a > .arrow:before {
        display: none;
    }

    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > a > .arrow {
        right: auto;
        left: 0;
        border-right: 0;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
        display: inline-block !important;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > a > .arrow {
        z-index: 1;
        right: -1px;
        margin-top: -20px;
    }

    .page-fontawesome .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > a > .arrow {
        margin-top: -34px;
    }

    .page-glyphicons .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > a > .arrow {
        margin-top: -38px;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        margin-left: 236px;
        margin-top: -50px;
    }

    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        margin-left: -234px !important;
    }

    .page-sidebar-closed .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
        margin-left: 0;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu > li .sub-menu {
        margin-left: 234px;
        margin-top: -44px !important;
    }

    .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu > li .sub-menu {
        margin-left: -234px !important;
    }

    .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu > li .sub-menu > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
}*/
/*@media (max-width: 960px) {
    .page-sidebar {
        border-top: 0 !important;
        margin: 20px;
    }

    .page-sidebar .selected {
        display: none !important;
    }

    .page-sidebar.navbar-collapse {
        max-height: none;
    }

    .page-sidebar.navbar-collapse.collapse {
        display: none !important;
    }

    .page-sidebar.navbar-collapse.in {
        border-top: 0 !important;
        margin: 20px;
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important;
    }

    .page-sidebar.navbar-collapse.navbar-no-scroll {
        max-height: none !important;
    }

    .page-sidebar .mega-menu-responsive-content {
        padding: 10px 18px 10px 45px;
    }

    .page-full-width .page-sidebar-menu {
        display: block;
    }
}*/
/*@media (min-width: 768px) and (max-width: 991px) {
    .page-sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    .page-sidebar .btn-navbar .arrow {
        position: absolute;
        right: 25px;
        width: 0;
        height: 0;
        top: 50px;
        border-bottom: 15px solid #5f646b;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}*/
/*@media (max-width: 767px) {
    .page-sidebar,
    .page-sidebar.in {
        margin: 10px 10px 10px 10px !important;
    }

    .page-header-fixed.page-header-fixed-mobile .page-sidebar, .page-header-fixed.page-header-fixed-mobile .page-sidebar.in {
        margin-top: 10px !important;
    }
}*/
/***
Page content
***/
/* Page header */
.page-head {
  padding: 10px 0;
}
.page-head:before,
.page-head:after {
  content: " ";
  display: table;
}
.page-head:after {
  clear: both;
}
.page-title {
  padding: 10px;
}
.page-title > h1 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
/* Page content */
.page-content {
  margin-top: 0;
  padding: 0;
}
.page-full-width .page-content {
  margin-left: 0 !important;
}
/*@media (min-width: 961px) {
    .page-content-wrapper {
        float: left;
        width: 100%;
        //do not change that
    }

    .page-content-wrapper .page-content {
        margin-left: @sideBarWidth;
        margin-top: 0;
        min-height: 600px;
        padding: 0 0 0 20px;
    }

    .page-content-wrapper .page-content.no-min-height {
        min-height: auto;
    }

    .page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
        margin-left: 54px;
    }

    .page-sidebar-reversed .page-content-wrapper .page-content {
        margin-left: 0 !important;
        margin-right: 235px !important;
        padding-left: 0;
        padding-right: 20px;
    }

    .page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
        margin-left: 0;
        margin-right: 54px;
    }

    .page-sidebar-reversed.page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 0 !important;
        margin-right: 54px !important;
    }

    .page-sidebar-closed .page-content-wrapper .page-content {
        margin-left: 54px !important;
    }

    .page-sidebar-closed.page-sidebar-hide .page-content-wrapper .page-content {
        margin-left: 0 !important;
    }

    .page-sidebar-closed.page-sidebar-reversed.page-sidebar-hide .page-content-wrapper .page-content {
        margin-right: 0 !important;
    }

    .page-full-width .page-content-wrapper .page-content {
        margin-left: 0 !important;
    }
}*/
@media (max-width: 600px) {
  .page-content-wrapper .page-content {
    overflow: hidden;
  }
  .page-title > h1 {
    font-size: 5vw;
  }
}
/***
Page footer
***/
.page-footer {
  padding: 5px 20px 10px 20px;
  font-size: 13px;
  height: 33px;
}
.page-footer:before,
.page-footer:after {
  content: " ";
  display: table;
}
.page-footer:after {
  clear: both;
}
.page-footer .page-footer-inner {
  float: left;
  display: inline-block;
}
.page-footer .page-footer-tools {
  float: right;
  display: inline-block;
}
.page-footer .page-footer-tools .go-top {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding: 0 6px 0 6px;
}
.page-footer .page-footer-tools .go-top i {
  font-size: 22px;
  margin-bottom: 5px;
}
.page-footer-fixed.page-footer-fixed-mobile .page-footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10000;
  bottom: 0;
}
.page-footer-fixed.page-footer-fixed-mobile.page-sidebar-fixed .page-footer {
  margin-left: 0 !important;
}
@media (min-width: 961px) {
  .page-footer {
    clear: left;
  }
  .page-boxed .page-footer {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* Fixed footer */
  .page-footer-fixed .page-footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
  }
  /* Footer with footer sidebar */
  .page-sidebar-fixed.page-sidebar-closed .page-footer {
    margin-left: 54px;
  }
  .page-sidebar-fixed.page-footer-fixed .page-footer {
    margin-left: 0 !important;
    padding: 8px 20px 5px 20px;
  }
  /* Fixed Sidebar */
  .page-sidebar-fixed .page-footer {
    margin-left: 235px;
    padding: 8px 20px 5px 40px;
  }
  /* Boxed page */
  /*.page-boxed .page-footer {
        padding: 8px 0 5px 0;
    }

    .page-boxed.page-sidebar-fixed .page-footer {
        padding-right: 20px;
        padding-left: 20px;
    }*/
  /* Page sidebar reversed */
  /*.page-sidebar-reversed.page-sidebar-fixed .page-footer {
        margin-left: 0;
        margin-right: 235px;
        padding: 8px 20px 5px 20px;
    }

    .page-sidebar-reversed.page-sidebar-fixed.page-footer-fixed .page-footer {
        margin-left: 0;
        margin-right: 0;
    }

    .page-sidebar-reversed.page-sidebar-fixed.page-sidebar-closed .page-footer {
        margin-right: 54px;
    }*/
}
@media (max-width: 991px) {
  .page-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*@media (max-width: 767px) {
    .page-footer,
    .page-boxed .page-footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-footer-fixed .page-footer .container {
        padding-left: 0;
        padding-right: 0;
    }
}*/
/* Scroll Top Top */
.page-footer .scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 70px;
  display: none;
  right: 60px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .page-footer {
    display: none !important;
  }
}
/***
Theme Panel
***/
/*.btn-theme-panel {
    margin-top: 10px;
}

.btn-theme-panel .btn {
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 0 6px;
}

.btn-theme-panel .btn > i {
    font-size: 24px;
    color: #62707a;
}

.btn-theme-panel .btn:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-theme-panel.open .btn {
    opacity: 1;
    filter: alpha(opacity=100);
}

.theme-panel {
    z-index: 999;
    min-width: 575px;
    padding: 20px 10px;
    font-family: "Open Sans", sans-serif;
}

.theme-panel h3 {
    margin: 8px 0 8px 0;
    font-size: 15px;
    padding-left: 12px;
}

.theme-panel .seperator {
    border-left: 1px solid #EFF2F4;
}

.theme-panel .theme-colors {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theme-panel .theme-colors > li.theme-color {
    padding: 8px 12px;
}

.theme-panel .theme-colors > li.theme-color:hover, .theme-panel .theme-colors > li.theme-color.active {
    background: #f5f7f8;
}

.theme-panel .theme-colors > li.theme-color:hover {
    cursor: pointer;
}

.theme-panel .theme-colors > li.theme-color > .theme-color-view {
    float: left;
    margin-top: 0;
    margin-right: 8px;
    display: inline-block;
    border-radius: 10px !important;
    height: 20px;
    width: 20px;
}

.theme-panel .theme-colors > li.theme-color > .theme-color-name {
    display: inline-block;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    padding-top: -4px;
}

.theme-panel .theme-colors > li.theme-color.theme-color-default .theme-color-view {
    background: #3B3F51;
}

.theme-panel .theme-colors > li.theme-color.theme-color-light .theme-color-view {
    background: #cbced9;
}

.theme-panel .theme-settings {
    list-style: none;
    padding: 0;
    margin: 0;
}

.theme-panel .theme-settings > li {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 300;
    color: #777;
}

.theme-panel .theme-settings > li .form-control {
    color: #777;
    margin-top: -3px;
    float: right;
}*/
/*@media (max-width: 767px) {
    .theme-panel {
        left: 20px;
        right: 20px;
        min-width: 285px;
    }

    .theme-panel .seperator {
        border: 0;
    }

    .theme-panel .theme-settings .form-control {
        width: 105px !important;
    }
}*/
/***          
Page Loading         
***/
/*.page-on-load {
    background: #fefefe;
}

.page-on-load .page-header,
.page-on-load .page-container,
.page-on-load .page-footer,
.page-on-load > .clearfix {
    display: none;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
}*/
.signin-options-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.signin-options-section button::before {
  display: none;
}
.signin-options-section .social-signin {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.signin-options-section .social-signin .login-option.facebook,
.signin-options-section .social-signin .login-option.google {
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  border-radius: 16px;
  padding: 8px;
}
@media (max-width: 460px) {
  .signin-options-section .social-signin .login-option.facebook,
  .signin-options-section .social-signin .login-option.google {
    width: 100%;
  }
}
.signin-options-section .social-signin .login-option.facebook svg,
.signin-options-section .social-signin .login-option.google svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  fill: #ffffff;
}
.signin-options-section .social-signin .login-option.google {
  background: #dd4b39;
}
.signin-options-section .social-signin .login-option.facebook {
  background: #3a5795;
}
.signin-options-section .login-option {
  border: none;
  padding: 8px;
  border-radius: 16px;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}
.signin-options-section .login-option > div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.signin-options-section .login-option.facebook,
.signin-options-section .login-option.google {
  background: none;
  width: inherit;
  padding: 0;
}
.signin-options-section .login-option.signup {
  width: 100%;
  display: inline-block;
  background: rgba(24, 28, 29, 0.85);
  text-align: center;
  line-height: 25px;
  margin-bottom: 170px;
}
@media (max-width: 600px) {
  .signin-options-section .login-option.signup {
    margin-bottom: 100px;
  }
}
.signin-options-section .login-option span {
  align-self: center;
  padding-top: 2px;
  width: calc(100% - 65px);
}
@media (max-width: 460px) {
  .signin-options-section {
    max-width: 300px;
  }
  .signin-options-section .login-option {
    width: 100%;
  }
}
.unreg-user {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 110;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.unreg-user .close-wrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 700px;
  height: 20px;
  margin: 0 auto;
}
.unreg-user .close-wrapper:after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  padding: 18px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 0;
  z-index: -1;
}
@media (max-width: 600px) {
  .unreg-user .close-wrapper:after {
    width: 45px;
    height: 45px;
    top: -18px;
  }
}
.unreg-user .close-wrapper button.close {
  padding: 18px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 0;
  background: #eeeeee;
}
.unreg-user .close-wrapper button.close md-icon {
  width: 24px;
  height: 24px;
  fill: #323538;
}
@media (max-width: 600px) {
  .unreg-user .close-wrapper button.close {
    padding: 15px;
    top: -18px;
  }
  .unreg-user .close-wrapper button.close md-icon {
    width: 15px;
    height: 15px;
    display: block;
  }
}
.unreg-user .content-wrapper {
  position: relative;
  display: block;
  background: #eeeeee;
  /*.displayFlex();
        .align-items(center);*/
}
.unreg-user .content-wrapper .content-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.unreg-user .content-wrapper .content {
  margin: 0 auto;
}
.unreg-user .noHeight,
.unreg-user .smallHeight,
.unreg-user .mediumHeight,
.unreg-user .largeHeight {
  -webkit-transition: height 0.5s cubic-bezier(0.26, 0.87, 0.74, 0.93);
  -moz-transition: height 0.5s cubic-bezier(0.26, 0.87, 0.74, 0.93);
  -o-transition: height 0.5s cubic-bezier(0.26, 0.87, 0.74, 0.93);
  transition: height 0.5s cubic-bezier(0.26, 0.87, 0.74, 0.93);
}
.unreg-user .noHeight {
  height: 0;
  overflow: hidden;
}
.unreg-user .smallHeight {
  height: 400px;
}
.unreg-user .mediumHeight {
  height: 50vh;
}
.unreg-user h1 {
  font-weight: normal;
  font-size: 24px;
  display: inline-block;
  width: 300px;
  /*white-space: pre-wrap;*/
  color: #fff;
}
.unreg-user .facebook {
  background: #3b5998;
  color: #fff;
}
.unreg-user .fbImg:after,
.unreg-user .emailImg:after {
  background: #fff;
}
.unreg-user .svg-fb {
  fill: #fff;
}
.unreg-user .emailImg:after {
  background: #676767;
}
.unreg-user .svg-email {
  fill: silver;
}
.unreg-user .addConnect {
  color: #3293F6;
}
.unreg-user .facebook,
.unreg-user .google {
  background: #3a5795;
  color: #fff;
}
.unreg-user .facebook svg,
.unreg-user .google svg {
  fill: #fff;
}
.unreg-user .google {
  color: #676767;
  background: #DD4B39;
}
.unreg-user .text {
  width: 100%;
  max-width: 550px /*rtl:470px*/;
  margin: 0 auto;
  margin-bottom: 44px;
  position: relative;
}
@media (max-width: 600px) {
  .unreg-user .text {
    width: 85vw /*rtl:70vw*/;
    margin: 20px auto;
  }
}
.unreg-user .text p {
  margin-bottom: 0;
}
.unreg-user .text .large {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0;
  max-width: 100% /*rtl: 714px*/;
  width: 100%;
  text-align: center;
  margin: 0 auto 10px auto;
  line-height: initial;
}
@media (max-width: 600px) {
  .unreg-user .text .large {
    font-size: 7vw;
  }
}
.unreg-user .text .normal {
  text-align: center;
  width: 100%;
  font-size: 4.5vw;
}
@media (min-width: 600px) {
  .unreg-user .text .normal {
    white-space: pre-wrap;
    font-size: 20px;
  }
}
.unreg-user .signin-options-section .signup {
  margin-bottom: 0;
  background: #5d6063;
}