/* Set default body */
.library {
  margin-bottom: 50px;
}
.library .university {
  height: 136px;
}
.library .university h1 {
  height: 80px;
  background: rgba(4, 4, 4, 0.6);
  color: #fff;
  padding: 0 3%;
  margin: 0;
}
.library .university h1 img {
  background-color: #f1f1f1;
}
.library .university span {
  padding-right: 20px;
}
.library .corner:after {
  content: "";
  display: inline-block;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid;
  position: absolute;
  top: 0;
  left: 0;
}
.library .department-wrap {
  position: relative;
}
.library .department {
  border-radius: 0;
}
.library .department .display {
  margin-bottom: 0;
}
.library .department .display h3 {
  margin-top: 22px;
  height: 58px;
  line-height: 29px;
}
.library .department .display .number {
  height: 100px;
}
.library .department .status {
  margin-top: 15px;
}
.library .department .status .lock {
  width: 22px;
  height: 22px;
  fill: #c3c3c3;
}
.library .back-arrow svg {
  vertical-align: middle;
}
.library .delete {
  top: 15px;
}
.library .course-nav {
  margin-top: 20px;
}
.library .course-nav > a {
  width: 50%;
}
@media (max-width: 600px) {
  .library .course-nav > a {
    width: calc(100% - 40px);
  }
}
.library .course-nav h2 {
  margin: 0;
}
.library .course-nav .name {
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.library .course-nav button {
  display: flex;
}
.library .settings {
  width: calc(100% - 24px);
  margin: 0 auto;
}
.library .settings md-input-container {
  margin-bottom: 0;
}
.library .settings md-input-container.private-switch {
  margin: 0;
}
.library .settings md-input-container.private-switch md-switch {
  margin-top: 0;
  margin-bottom: 0;
}
.library .settings .set-private .warning {
  font-size: 12px;
  color: #888b8e;
  padding-right: 45px;
  margin-top: -10px;
}
.library .empty-top h2,
.library .empty-top > div {
  text-align: center;
}
.library .empty-top h2 {
  white-space: pre-wrap;
  font-size: 30px;
  font-weight: 700;
  max-width: 515px;
  text-align: center;
  width: 100%;
}
.library .empty-top > div {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .library .empty-top h2 {
    font-size: 6vw;
  }
  .library .empty-top > div {
    max-width: 260px;
  }
}
.library .empty-top form {
  max-width: 550px;
  width: 100%;
}
.library .empty-top form > div {
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}