/* Set default body */
@import "variables.less";
.library {
    .corner:after {
            content: "";
    display: inline-block;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid;
    position: absolute;
    top: -0px;
    right: -0px;
    color:@boxColor14;
    }
    .department {
        position:relative;
        border: 2px solid ;
        margin-bottom:50px;
        color:@color9;
    }
    .display .number {
    height:50px;



    } 
}
