/* Set default body */
.library .corner:after {
  content: "";
  display: inline-block;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid;
  position: absolute;
  top: 0;
  left: 0;
}
.library .department-wrap {
  position: relative;
}
.library .department {
  border-radius: 0;
}
.library .department .display {
  margin-bottom: 0;
}
.library .department .display h3 {
  margin-top: 22px;
  line-height: initial;
}
.library .department .display .number {
  height: 100px;
}
.library .department .status {
  margin-top: 15px;
}
.library .back-arrow svg {
  vertical-align: middle;
}
.library .delete {
  top: 15px;
}
.library .course-nav {
  margin-top: 20px;
}
.library .course-nav h2 {
  margin: 0;
}
.library .course-nav .name {
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.library .course-nav button {
  display: flex;
}
.library .settings {
  width: calc(100% - 24px);
  margin: 0 auto;
}
