/* Set default body */
.library .corner:after {
  content: "";
  display: inline-block;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid;
  position: absolute;
  top: 0;
  right: 0;
}
.library .department {
  position: relative;
  border: 2px solid;
  color: #a8b3bb;
}
