@import "variables.less";

.library-choose {
    //.row {
    //    margin-top: 20px;
    //}
    .univeristy {
        .displayFlex();
        color: @textColorGrey;
        font-weight: 700;
        overflow: hidden;

        > div {
            margin-left: 15px;
            width: ~"calc( 100% - 85px)";
        }

        span {
            font-size: 18px;
            display: inline-block;
            width: 100%;
        }

        .img-circle {
            background: @backgroundColorWhite;
            overflow: hidden;
        }

        .list-inline img {
            border-radius: 4px;
        }
    }

    .search-text {
        width: 100%;
    }

    .add-uni-btn {
        .displayFlex();
        .align-items(center);
        color: @textColorDarkGrey;
        margin-bottom: 30px;

        span {
            height: 70px;
            width: 70px;
            line-height: 70px;
            font-size: 35px;
            text-align: center;
            border: 3px solid @borderColorDarkGrey;
            border-radius: 50%;

            svg {
                width: 35px;
                height: 35px;
                fill: @backgroundColorMenu;
            }
        }

        div {
            margin-left: 15px;
            font-size: 22px;
        }
    }

    .add-univeristy {
        max-width: 450px;
        margin: 0 auto;

        .btn {
            padding: 0 16px;
        }

        .btn-primary {
            .buttonBlue();
        }

        .btn-default {
            margin-right: 20px;
            border: none;
        }
    }

    .code {
        max-width: 430px;
        margin: 0 auto;
        position: relative;

        .top-contant {
            padding-top: 50px;
            max-width: 420px;
        }

        h4 {
            color: @textColorWhite;
        }

        > div, > form > div {
            .displayFlex();
            .align-items(center);
        }

        .btn {
            padding: 0 16px;
        }

        .btn-primary {
            .buttonBlue();
        }

        .closed-uni-i {
            width: 150px;
            height: 150px;
            fill: @fileColor;
            margin-right: 15px;
            padding-top: 30px;
        }

        .uni-details {
            color: @textColorWhite;
            line-height: 20px;
            font-size: 17px;
        }

        form {
            padding-left: 30px;
            min-height: 400px;
        }

        .info-i {
            width: 30px;
            height: 30px;
            fill: @headerImagesColor;
        }

        .arrow-up {
            display: none;
            position: absolute;
            top: 55px;
            left: -25px;
            background: @textColorDarkGrey;
            border-radius: 5px;
            padding: 15px;
            width: 300px;

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid @backgroundColorMenu;
                position: absolute;
                top: -20px;
                left: 30px;
            }
        }

        .info-tooltip {
            padding-bottom: 25px;
            position: relative;

            &:hover .arrow-up {
                display: block;
            }
        }

        md-input-container {
            width: 100%;
            margin-left: 15px;
        }
    }
}
