/* here you can put your own css to customize and override the theme */
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
/*.header-menu {
    background: transparent;
    border: transparent;

    svg {
        width: 24px;
        height: 24px;
        fill: @color1;
    }
}*/
.headerMenu {
  width: 20px;
  height: 20px;
  fill: #5f6871;
}
.searchIcon {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.headerHelp {
  padding: 0 !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.headerPoints {
  display: block;
  margin-top: -7px;
}
.top-menu svg {
  fill: #5f6871;
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 20px;
}
.top-menu .headerNotification {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: 0;
}
.top-menu .badge-notifcation {
  background-color: #db4437;
}
.login,
.signin {
  display: inline-block !important;
  border-radius: 25px;
  background: #ffffff;
  color: #000;
  margin-top: 13px;
  font-size: 20px;
  text-transform: capitalize;
}
.login:hover,
.signin:hover {
  background: #ffffff !important;
}
.login {
  background: #3293f6;
  color: #fff;
}
.login:hover {
  background: #3293f6 !important;
}
