.page-sidebar-menu .icon {
  margin-right: 15px;
  width: 22px;
  display: inline-block;
}
.page-sidebar-menu .icon md-icon {
  vertical-align: middle;
  fill: #212325;
}
.page-sidebar-menu .arrow.icon md-icon,
.page-sidebar-menu .arrow.icon svg {
  width: 19px;
  height: 19px;
}
.page-sidebar-menu .dashboard.icon md-icon,
.page-sidebar-menu .dashboard.icon svg {
  width: 20px;
  height: 20px;
}
.page-sidebar-menu .settings.icon md-icon,
.page-sidebar-menu .settings.icon svg {
  width: 21px;
  height: 21px;
}
.page-sidebar-menu .uni.icon md-icon,
.page-sidebar-menu .user.icon md-icon,
.page-sidebar-menu .uni.icon svg,
.page-sidebar-menu .user.icon svg {
  width: 22px;
  height: 22px;
}
.fill-height {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-height: 100%;
}
.fill-height > div {
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.page-body .main-md-sidenav {
  left: 0;
  position: fixed !important;
  top: 65px;
  border-radius: 5px;
  width: 235px;
  margin-left: 0;
  z-index: 10;
  height: calc(100vh - 65px);
  background: #dadada;
}
@media (max-width: 960px) {
  .page-body .main-md-sidenav {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 960px) {
  .page-body .main-md-sidenav {
    margin-top: 10px;
  }
}
.page-body .main-md-sidenav md-content,
.page-body .main-md-sidenav .side-menu ul {
  background: transparent;
}
.page-body .main-md-sidenav md-content .md-button {
  color: #212325;
}
.page-body .main-md-sidenav md-content .md-button span {
  text-transform: capitalize;
}
.page-body .main-md-sidenav md-content .md-button:hover,
.page-body .main-md-sidenav md-content .md-button.active {
  background: rgba(65, 144, 185, 0.2);
  color: #4190b9;
}
.page-body .main-md-sidenav md-content .md-button svg {
  fill: #4190b9;
}
.page-body .main-md-sidenav .expendable md-icon,
.page-body .main-md-sidenav .expendable svg {
  width: 19px;
  height: 19px;
}
.page-body .main-md-sidenav .expendable menu-link span:not(.badge) {
  width: 100%;
}
.page-body .main-md-sidenav li {
  width: 100%;
  padding-right: 10px;
  margin: 2px 0;
}
.page-body .main-md-sidenav .dashboard md-icon,
.page-body .main-md-sidenav .help md-icon,
.page-body .main-md-sidenav .logout md-icon,
.page-body .main-md-sidenav .dashboard svg,
.page-body .main-md-sidenav .help svg,
.page-body .main-md-sidenav .logout svg {
  width: 20px;
  height: 20px;
}
.page-body .main-md-sidenav .settings md-icon,
.page-body .main-md-sidenav .blog md-icon,
.page-body .main-md-sidenav .settings svg,
.page-body .main-md-sidenav .blog svg {
  width: 21px;
  height: 21px;
}
.page-body .main-md-sidenav .uni md-icon,
.page-body .main-md-sidenav .user md-icon,
.page-body .main-md-sidenav .uni svg,
.page-body .main-md-sidenav .user svg {
  width: 22px;
  height: 22px;
}
.page-body md-backdrop.md-sidenav-backdrop {
  z-index: 9;
}
.side-menu,
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.side-menu {
  height: calc(100vh - 90px);
}
.side-menu .mCSB_container_wrapper {
  margin: 0 !important;
}
.side-menu .mCSB_container_wrapper .mCSB_container {
  padding: 0 !important;
}
.side-menu li > .md-button,
.side-menu li > button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.side-menu li > .md-button > span:not(.icon),
.side-menu li > button > span:not(.icon),
.side-menu li > .md-button .title,
.side-menu li > button .title {
  margin-left: 17px;
}
.side-menu md-icon {
  width: 20px;
  height: 20px;
  display: inherit;
}
.side-menu .menu-toggle-list a.md-button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  padding-left: 55px;
}
.md-button-toggle .arrow {
  -moz-transform: rotate(0) /*rtl: rotate(180deg)*/;
  -ms-transform: rotate(0) /*rtl: rotate(180deg)*/;
  -o-transform: rotate(0) /*rtl: rotate(180deg)*/;
  -webkit-transform: rotate(0) /*rtl: rotate(180deg)*/;
  transform: rotate(0) /*rtl: rotate(180deg)*/;
}
.md-button-toggle .arrow.toggled {
  -moz-transform: rotate(90deg) /*rtl: rotate(90deg)*/;
  -ms-transform: rotate(90deg) /*rtl: rotate(90deg)*/;
  -o-transform: rotate(90deg) /*rtl: rotate(90deg)*/;
  -webkit-transform: rotate(90deg) /*rtl: rotate(90deg)*/;
  transform: rotate(90deg) /*rtl: rotate(90deg)*/;
}
.side-menu .md-button-toggle .arrow {
  background-size: 100% auto;
  display: inline-block;
  /*margin: auto 0 auto auto;*/
  /*width: 15px;*/
  color: darkgray;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}
.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  max-height: 50px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.side-menu .md-button span:not(.icon) {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.side-menu .md-button span.icon {
  width: 22px;
}
.side-menu .md-button span.badge {
  width: initial;
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 7px;
  background-color: #F3565D;
}
.main-md-sidenav .menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  -o-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition-property: max-height;
  transition-property: max-height;
}
.main-md-sidenav .menu-toggle-list li {
  padding: 0;
}
.side-menu menu-toggle span {
  padding-top: 12px;
  padding-bottom: 12px;
}
.side-menu .ad {
  width: 300px;
  margin: 50px auto;
}