@import "variables.less";

/*.menuSvg {
    width: 30px;
    height: 25px;
    fill: #fff;
}*/

.page-sidebar-menu {


    .icon {
        margin-right: 15px;
        width: 22px;
        display: inline-block;

        svg {
            fill: @textColorWhite;
            vertical-align: middle;
        }
    }

    .arrow.icon svg {
        width: 19px;
        height: 19px;
    }

    .dashboard.icon svg, .help.icon svg, .logout.icon svg {
        width: 20px;
        height: 20px;
    }

    .settings.icon svg, .blog.icon svg {
        width: 21px;
        height: 21px;
    }

    .uni.icon svg, .user.icon svg {
        width: 22px;
        height: 22px;
    }
}


//header

