.quiz-create {
  /*header {
        position: relative;

       

        .close {
            position: absolute;
            right: 10px;
            top: 0;
        }

        .create-quiz-header {
            color: #39f;
            font-size: 20px;
            padding: 7px 30px 0 30px;
        }
    }*/
}
.quiz-create .not-supported {
  display: none;
}
.quiz-create .supported {
  margin: 160px auto;
  color: #9d9d9d;
  width: 800px;
  padding: 10px 15px 0;
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .quiz-create .supported {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
.quiz-create .supported .form-control {
  color: #464646;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 0;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .quiz-create .not-supported {
    display: block;
  }
  .quiz-create .supported {
    display: none;
  }
}
.quiz-create .portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}
.quiz-create .form-control[disabled] {
  border: 0;
  background: transparent;
  color: #4190B9;
  cursor: default;
  width: calc(100% - 32px);
  display: inline-block;
}
.quiz-create .form-control[disabled] + button {
  display: inline-block;
}
.quiz-create .form-control + button {
  display: none;
}
.quiz-create .form-control + button svg {
  width: 16px;
  height: 16px;
  fill: #B7B7B7;
}
.create-question .tools svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.create-question .question {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 12px;
}
.create-question .question-content {
  border: 1px solid #c2c2c2;
  margin-bottom: 12px;
}
.create-question .ta-toolbar {
  background: #cfd1cf;
  padding: 8px 0;
  margin: 0;
}
.create-question .ta-toolbar .btn-group {
  border: 1px solid #a6a6a6;
}
.create-question .ta-toolbar button {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: #e4e4e4;
}
.create-question .ta-toolbar.focussed {
  display: block;
}
.create-question .ta-toolbar svg {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.create-question .ta-file {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0;
}
.create-question .ta-file input[type=file],
.create-question .ta-file input[type=color] {
  width: 100%;
  height: 100%;
}
.create-question .ta-file label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  background: #e4e4e4;
  line-height: 28px;
}
.create-question .counter-view:before {
  width: 25px;
  height: 25px;
  background: #4190B9;
  color: white;
  vertical-align: middle;
  display: inline-block;
  line-height: 25px;
  padding-right: 8px;
}
.create-question .counter-view:after {
  content: '';
  display: inline-block;
  border-top: 25px solid #4190b9;
  border-left: 10px solid transparent;
  vertical-align: middle;
}
.create-question .answers-header {
  display: inline-block;
  width: 70%;
}
.create-question .answer {
  margin-bottom: 5px;
}
.create-question .answer div {
  display: inline-block;
  border: 1px solid #4190B9;
  width: 70%;
}
.create-question .answer div input {
  border: 0;
  height: 25px;
  line-height: 24px;
  width: calc(100% - 35px);
  margin-right: -4px;
  padding-right: 15px;
}
.create-question .answer svg {
  width: 20px;
  height: 20px;
  fill: #B7B7B7;
  vertical-align: middle;
}
.create-question .answer button {
  display: none;
}
.create-question .answer input[type=radio] {
  margin: 0 15px;
}
.create-question .answer:hover button {
  display: inline-block;
}
.create-question .error [contenteditable="true"] {
  border: 1px solid #FF0000;
  background: #FFD0C5;
}
.create-question .error .counter-view:before {
  background: #FF0000;
}
.create-question .error .counter-view:after {
  border-top-color: #FF0000;
  border-left-color: #FFD0C5;
}
.create-question .error .answer div {
  border-color: #FF0000;
}
.create-question .error .ng-invalid {
  background: #FFD0C5;
}
.create-question .error .error-answer-msg {
  display: inline;
}
.create-question .correct-answer-error {
  display: none;
  color: #ff0000;
  width: 50px;
}
.create-question .correct-answer-error.error {
  display: inline-block;
}
.create-question .error-answer-msg {
  display: none;
  color: #ff0000;
}
.create-question .add-answer .counter-view:before {
  background: #B7B7B7;
}
.create-question .add-answer .counter-view:after {
  border-top-color: #B7B7B7;
}
.create-question .add-answer div {
  border-color: #B7B7B7;
}
.modal-backdrop.quiz-create-backdrop {
  opacity: 0.9;
}
.quiz-create-window {
  position: fixed;
}
.quiz-create-window.modal.in .modal-dialog {
  position: absolute;
  top: 50%;
  right: 50%;
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.quiz-create-window .modal-content {
  background: transparent;
  color: #fff;
  box-shadow: none;
  border: 0;
  text-align: center;
}
.quiz-create-window h4 {
  color: #F76446;
}
