.full-screen {
  z-index: 20;
  background: #212325;
  background: #dadada;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  top: 0;
}
.full-screen header {
  top: 0;
  color: #ffffff;
  background-color: #4190b9;
  border-bottom: 5px solid #dadada;
  height: 70px;
  line-height: 65px;
  position: fixed;
  right: 0;
  left: 0;
  font-size: 20px;
  z-index: 5;
}
.full-screen header .close {
  opacity: 0.7;
}
.full-screen header .close:hover {
  opacity: 1;
}
.full-screen .full-screen-body {
  margin-top: 70px;
  min-height: calc( 100% - 80px);
  margin-bottom: 80px;
}
.quiz-create header {
  padding: 0 25px;
}
.quiz-create .not-supported {
  height: 100vh;
  padding: 0 15px;
  background: #dadada;
  color: #888b8e;
}
.quiz-create .not-supported .bubble {
  max-width: 360px;
  padding-top: 150px;
  margin: 0 auto;
}
.quiz-create .not-supported .bubble .text {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #888b8e;
  padding: 25px 10px;
  text-align: center;
  position: relative;
}
.quiz-create .not-supported .bubble img {
  width: 100%;
  padding-bottom: 10px;
}
.quiz-create .not-supported .text:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 60%;
  top: -40px;
  border: 20px solid;
  border-color: transparent #888b8e #888b8e transparent;
}
.quiz-create .not-supported .text:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: calc(60% + 1px);
  top: -37px;
  border: 19px solid;
  border-color: transparent #dadada #dadada transparent;
}
.quiz-create .supported {
  margin: 86px auto;
  color: #ffffff;
  width: 800px;
  padding: 10px 15px 0;
}
.quiz-create .supported .quiz-name {
  margin-top: 0;
}
.quiz-create .supported .quiz-name input::-webkit-input-placeholder {
  color: #212325;
  opacity: 1;
}
.quiz-create .supported .quiz-name input:-moz-placeholder {
  /* Firefox 18- */
  color: #212325;
  opacity: 1;
}
.quiz-create .supported .quiz-name input::-moz-placeholder {
  /* Firefox 19+ */
  color: #212325;
  opacity: 1;
}
.quiz-create .supported .quiz-name input:-ms-input-placeholder {
  color: #212325;
  opacity: 1;
}
.quiz-create .supported .quiz-name button {
  position: absolute;
  top: 15px;
  left: 0;
  display: none;
}
.quiz-create .supported .quiz-name button svg {
  width: 16px;
  height: 16px;
  fill: #484F56;
}
.quiz-create .supported .quiz-name:hover button {
  display: block;
}
.quiz-create .supported .course-name {
  font-size: 20px;
  margin-bottom: 31px;
  color: #323538;
  padding-right: 5px;
}
.quiz-create .supported .add-question svg {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .quiz-create .supported {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
.quiz-create .counter {
  padding-right: 0;
}
.quiz-create .header {
  color: #9E9E9E;
  padding: 10px 0;
}
.quiz-create .quiz-wrapper {
  background: #fff;
  padding: 0;
  border: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.quiz-create .quiz-wrapper .quiz-question {
  padding: 15px;
}
.quiz-create .form-control {
  color: #212325;
  background-color: #dadada;
  border-radius: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
.quiz-create .form-control[disabled] {
  border: 0;
  background: transparent;
  color: #4190b9;
  cursor: default;
  width: calc(100% - 32px);
  display: inline-block;
}
.quiz-create .form-control[disabled] + button {
  display: inline-block;
}
.quiz-create .form-control + button {
  display: none;
}
.quiz-create .form-control + button svg {
  width: 16px;
  height: 16px;
  fill: #B7B7B7;
}
.create-question {
  background-color: #4190b9;
  border-radius: 4px;
}
.create-question .title {
  padding: 0 10px;
  margin-bottom: 0;
  min-height: 41px;
  border-radius: 4px 4px 0 0;
  color: #fff;
}
.create-question .title .text {
  float: right;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px 0 0;
  text-transform: capitalize;
}
.create-question .title .tools svg {
  width: 18px;
  height: 18px;
  fill: #f9f9f9;
}
.create-question .question-body {
  background-color: #fff;
  border: 5px solid #4190b9;
  padding: 10px;
  border-top-width: 0;
}
.create-question .question-content {
  border: 1px solid #8c99a6;
  margin-bottom: 12px;
}
.create-question .question-content img {
  width: 100%;
}
.create-question .question-content ol {
  padding-right: 40px;
}
.create-question .question-content div[contenteditable="true"]:before {
  color: #9E9E9E;
}
.create-question .ta-scroll-window > .ta-bind {
  min-height: 90px;
}
.create-question .ta-toolbar {
  display: none;
  padding: 8px 0;
  background: #ffffff;
  margin: 0;
}
.create-question .ta-toolbar .btn-group {
  border: 1px solid #8c99a6;
}
.create-question .ta-toolbar button {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: #ffffff;
}
.create-question .ta-toolbar.focussed {
  display: block;
}
.create-question .ta-toolbar svg {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.create-question .ta-file {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0;
}
.create-question .ta-file input[type=file],
.create-question .ta-file input[type=color] {
  width: 100%;
  height: 100%;
}
.create-question .ta-file label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  background: #ffffff;
  line-height: 28px;
}
.create-question .counter-view {
  width: 25px;
  height: 25px;
  display: block;
  background: #4190b9;
  margin: 0;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
}
.create-question .counter-view:before {
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 25px;
  text-align: center;
  width: 100%;
}
.create-question .counter-view:after {
  content: '';
  display: inline-block;
  border-top: 25px solid #4190b9;
  border-left: 10px solid #fff;
  vertical-align: middle;
  position: absolute;
  right: 25px;
}
.create-question .answers-header {
  display: inline-block;
  width: 70%;
}
.create-question .answer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 5px;
}
.create-question .answer > div {
  display: flex;
  border: 1px solid #3293F6;
  width: 70%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.create-question .answer > div input,
.create-question .answer > div .disabled {
  border: 0;
  height: 25px;
  line-height: 24px;
  width: 100%;
  padding-right: 20px;
}
.create-question .answer > div .disabled {
  color: #9E9E9E;
}
.create-question .answer .ng-dirty.ng-invalid {
  background: #ffffff;
}
.create-question .answer md-radio-button {
  display: inline-block;
  width: 46px;
  height: 27px;
  margin: 0 0 20px 0;
}
.create-question .answer md-radio-button:focus {
  outline: none;
}
.create-question .answer md-radio-button .md-container {
  right: 13px;
}
.create-question .answer md-radio-button.md-checked .md-off {
  border-color: #8dc63f;
}
.create-question .answer md-radio-button.md-checked .md-ink-ripple {
  color: rgba(141, 198, 63, 0.26);
}
.create-question .answer md-radio-button .md-on {
  background-color: #8dc63f;
}
.create-question .answer svg {
  width: 15px;
  height: 15px;
  fill: #9E9E9E;
  vertical-align: middle;
}
.create-question .answer button {
  display: none;
}
.create-question .answer input[type=radio] {
  margin: 0 15px;
}
.create-question .answer:hover button {
  display: inline-block;
  height: 27px;
}
.create-question .error-message {
  color: #db4437;
}
.create-question .correct-answer {
  width: 50px;
  line-height: 15px;
  margin-right: 4px;
}
.create-question .correct-answer.error {
  color: #db4437;
}
.create-question .error-answer-msg {
  display: none;
  color: #db4437;
}
.create-question .add-answer .counter-view:before {
  background: #9E9E9E;
}
.create-question .add-answer .counter-view:after {
  border-top-color: #9E9E9E;
}
.create-question .add-answer div {
  border-color: #9E9E9E;
}
.create-question .add-answer input:disabled {
  background: #fff;
}
.modal-backdrop.quiz-create-backdrop {
  opacity: 0.9;
}
.quiz-create-window {
  position: fixed;
}
.quiz-create-window.modal.in .modal-dialog {
  position: absolute;
  top: 50%;
  right: 50%;
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.quiz-create-window .modal-content {
  background: transparent;
  color: #ffffff;
  box-shadow: none;
  border: 0;
  text-align: center;
}
.quiz-create-window h4 {
  color: #db4437;
  font-size: 20px;
}
.quiz-create-window .buttons {
  margin-top: 20px;
}
.quiz-create-window .buttons button:last-child:hover {
  background-color: #fff;
}
.quiz-create-window button {
  width: 25%;
  border-radius: 10px;
}
.quiz-create-window .save {
  color: #212325;
  background-color: #4190b9;
  border: none;
}