.quiz-create header {
  padding: 0 25px;
}
.quiz-create .not-supported {
  height: 100vh;
  padding: 0 15px;
}
.quiz-create .not-supported .bubble {
  max-width: 360px;
  padding-top: 150px;
  margin: 0 auto;
}
.quiz-create .not-supported .bubble .text {
  font-size: 16px;
  border-radius: 10px;
  padding: 25px 10px;
  text-align: center;
  position: relative;
}
.quiz-create .not-supported .bubble img {
  width: 100%;
  padding-bottom: 10px;
}
.quiz-create .not-supported .text:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 60%;
  top: -40px;
  border: 20px solid;
}
.quiz-create .not-supported .text:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: calc(60% + 1px);
  top: -37px;
  border: 19px solid;
}
.quiz-create .supported {
  margin: 96px auto;
  width: 800px;
  padding: 10px 15px 0;
}
.quiz-create .supported .quiz-name {
  margin-top: 0;
}
.quiz-create .supported .quiz-name button {
  position: absolute;
  top: 15px;
  right: 0;
  display: none;
}
.quiz-create .supported .quiz-name button svg {
  width: 16px;
  height: 16px;
}
.quiz-create .supported .quiz-name:hover button {
  display: block;
}
.quiz-create .supported .course-name {
  font-size: 20px;
  margin-bottom: 31px;
  color: #323538;
  padding-left: 5px;
}
.quiz-create .supported .add-question {
  background: transparent;
}
.quiz-create .supported .add-question svg {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .quiz-create .supported {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
.quiz-create .counter {
  padding-left: 0;
}
.quiz-create .header {
  padding: 10px 0;
}
.quiz-create .quiz-wrapper {
  background: #fff;
  padding: 0;
  border: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.quiz-create .quiz-wrapper .portlet-title .caption {
  padding-left: 10px;
}
.quiz-create .quiz-wrapper .quiz-question {
  padding: 15px;
}
.quiz-create .portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
  border-top-width: 0;
}
.quiz-create .form-control {
  border-radius: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
.quiz-create .form-control[disabled] {
  border: 0;
  background: transparent;
  cursor: default;
  width: calc(100% - 32px);
  display: inline-block;
}
.quiz-create .form-control[disabled] + button {
  display: inline-block;
}
.quiz-create .form-control + button {
  display: none;
}
.quiz-create .form-control + button svg {
  width: 16px;
  height: 16px;
  fill: #B7B7B7;
}
.create-question .tools svg {
  width: 18px;
  height: 18px;
}
.create-question .question-content {
  margin-bottom: 12px;
}
.create-question .question-content img {
  width: 100%;
}
.create-question .question-content ol {
  padding-left: 40px;
}
.create-question .ta-scroll-window > .ta-bind {
  min-height: 90px;
}
.create-question .ta-toolbar {
  display: none;
  padding: 8px 0;
  margin: 0;
}
.create-question .ta-toolbar button {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 0;
  border: 0;
}
.create-question .ta-toolbar.focussed {
  display: block;
}
.create-question .ta-toolbar svg {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.create-question .ta-file {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 0;
}
.create-question .ta-file input[type=file],
.create-question .ta-file input[type=color] {
  width: 100%;
  height: 100%;
}
.create-question .ta-file label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  line-height: 28px;
}
.create-question .counter-view:before {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  display: inline-block;
  line-height: 25px;
  padding-left: 8px;
}
.create-question .counter-view:after {
  content: '';
  display: inline-block;
  border-right: 10px solid #fff;
  vertical-align: middle;
}
.create-question .answers-header {
  display: inline-block;
  width: 70%;
}
.create-question .answer {
  margin-bottom: 5px;
}
.create-question .answer > div {
  display: inline-block;
  width: 70%;
}
.create-question .answer > div input,
.create-question .answer > div .disabled {
  border: 0;
  height: 25px;
  line-height: 24px;
  width: calc(100% - 35px);
  margin-left: -4px;
  padding-left: 15px;
}
.create-question .answer > div .disabled {
  color: #9E9E9E;
}
.create-question .answer md-radio-button {
  display: inline-block;
  width: 46px;
}
.create-question .answer md-radio-button:focus {
  outline: none;
}
.create-question .answer md-radio-button .md-container {
  left: 13px;
}
.create-question .answer md-radio-button.md-checked .md-off {
  border-color: #8dc63f;
}
.create-question .answer md-radio-button.md-checked .md-ink-ripple {
  color: rgba(141, 198, 63, 0.26);
}
.create-question .answer md-radio-button .md-on {
  background-color: #8dc63f;
}
.create-question .answer svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.create-question .answer button {
  display: none;
}
.create-question .answer input[type=radio] {
  margin: 0 15px;
}
.create-question .answer:hover button {
  display: inline-block;
}
.create-question .error [contenteditable="true"] {
  background: #FFD0C5;
}
.create-question .error .error-answer-msg {
  display: inline;
}
.create-question .correct-answer {
  width: 50px;
  line-height: 15px;
  margin-left: 4px;
}
.create-question .error-answer-msg {
  display: none;
}
.create-question .add-answer input:disabled {
  background: #fff;
}
.modal-backdrop.quiz-create-backdrop {
  opacity: 0.9;
}
.quiz-create-window {
  position: fixed;
}
.quiz-create-window.modal.in .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.quiz-create-window .modal-content {
  background: transparent;
  box-shadow: none;
  border: 0;
  text-align: center;
}
.quiz-create-window h4 {
  font-size: 20px;
}
.quiz-create-window .buttons {
  margin-top: 20px;
}
.quiz-create-window button {
  width: 25%;
  border-radius: 10px;
}
.quiz-create-window .save {
  border: none;
}
