.quiz-create .not-supported {
  display: none;
}
.quiz-create .supported {
  margin: 20px auto 60px;
  background: #fff;
  border-radius: 10px;
  color: #9d9d9d;
  width: 800px;
  padding: 10px 15px 0;
}
@media only screen and (min-width: 768px) and (max-width: 920px) {
  .quiz-create .supported {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
.quiz-create .supported .form-control {
  color: #464646;
  background-color: #fff;
  border: 1px solid #c2c2c2;
}
.quiz-create .supported ol {
  list-style-position: inside;
  -webkit-padding-start: 0;
}
.quiz-create .supported ol .answers {
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  .quiz-create .not-supported {
    display: block;
  }
  .quiz-create .supported {
    display: none;
  }
}
.quiz-create header {
  position: relative;
  /*svg {
            width: 30px;
            height: 30px;
            fill: #fff;
        }*/
}
.quiz-create header .close {
  position: absolute;
  left: 10px;
  top: 0;
}
.quiz-create header .create-quiz-header {
  color: #39f;
  font-size: 20px;
  padding: 7px 30px 0 30px;
}
.quiz-create .quiz-name {
  width: 100%;
  margin: 10px 0 17px;
  height: 32px;
  font-size: 17px;
}
.quiz-create .question {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 12px;
}
.quiz-create .question-content {
  border: 1px solid #c2c2c2;
  margin-bottom: 12px;
}
.quiz-create .ta-toolbar {
  display: none;
  background: grey;
  padding-top: 5px;
  margin: 0;
}
.quiz-create .ta-toolbar.focussed {
  display: block;
}
.quiz-create .ta-toolbar svg {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.quiz-create .answers-header {
  color: #9d9d9d;
  margin: 3px 0 0 5px;
}
.quiz-create .answer {
  margin-bottom: 5px;
}
.quiz-create .ta-file {
  width: 43px;
  height: 38px;
  padding: 0;
}
.quiz-create .ta-file input[type=file],
.quiz-create .ta-file input[type=color] {
  width: 100%;
  height: 100%;
}
.quiz-create .ta-file label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  background: #fff;
  line-height: 38px;
}
