.quizPage {
  margin-top: -5px;
  color: #212325;
  /*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
@media (min-width: 960px) {
  .quizPage {
    margin-right: -270px;
    width: calc(100% + 290px);
  }
}
.quizPage header {
  align-items: center;
  white-space: nowrap;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.quizPage header .text-center {
  margin: 5px auto 10px auto;
  padding: 0 30px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #212325;
}
.quizPage header .close {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 10px 6px 0 10px;
}
.quizPage header .close svg {
  fill: #888b8e;
}
@media (max-width: 400px) {
  .quizPage header .like-text {
    display: none;
  }
  .quizPage header .close {
    margin-right: 40px;
  }
}
.quizPage .arrows {
  position: fixed;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  right: 5px;
}
.quizPage .arrows svg {
  width: 30px;
  height: 30px;
  fill: #888b8e;
}
.quizPage .arrows.prev {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.quizPage .arrows.next {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 65px;
  right: auto;
}
.quizPage .wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.quizPage .wrapper .retake-wrapper {
  margin: 0 auto;
}
.quizPage .quiz-take-stats {
  margin-bottom: 12px;
  border: 2px solid #3598dc;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  /*.progress {
            width: 100%;
            margin: 0;
            background: @backgroundColorWhite;
            border: 1px solid grey;

            .progress-bar {
                background: @progressbarColorQuiz;
            }
        }*/
}
@media (max-width: 600px) {
  .quizPage .quiz-take-stats {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.quizPage .quiz-take-stats .stop-watch-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 11px 10px 9px 15px;
  background: #f5f5f5;
}
.quizPage .quiz-take-stats md-icon {
  width: 36px;
  height: 36px;
  fill: #3598dc;
}
.quizPage .quiz-take-stats .stopwatch {
  font-size: 36px;
  color: #000;
}
@media (max-width: 450px) {
  .quizPage .quiz-take-stats .stopwatch {
    font-size: 7vw;
  }
}
.quizPage .quiz-take-stats .seperator {
  width: 100%;
}
.quizPage .quiz-take-stats .question-progress {
  margin-left: 10px;
  font-size: 26px;
}
.quizPage .quiz-take-stats .progress-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 10px;
  background: #ddd;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
}
.quizPage .quiz-take-stats .progress-wrapper md-progress-linear .md-container {
  background-color: #fff;
}
.quizPage .solveActions > div {
  margin-bottom: 15px;
}
.quizPage .solveActions .row {
  margin: 0;
}
.quizPage .solveActions .col-sm-4 {
  padding: 0 5px;
}
@media (min-width: 600px) {
  .quizPage .solveActions .action-btn {
    max-width: 32%;
  }
}
.quizPage .retake {
  width: 100%;
  background: #4190b9;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 0;
  font-size: 24px;
}
.quizPage .black-bullet {
  background: #323538;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}
@media (min-width: 600px) {
  .quizPage .black-bullet {
    width: 32%;
  }
}
.quizPage .score {
  font-size: 60px;
  line-height: normal;
  font-weight: bold;
}
@media (min-width: 600px) {
  .quizPage .score {
    font-size: 5vmin;
    line-height: 58px;
  }
}
.quizPage .score h5 {
  margin: 0;
  font-size: 16px;
  padding-top: 15px;
}
.quizPage .score-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 60px;
  font-weight: bold;
  line-height: 57px;
}
.quizPage .score-details h6 {
  margin: 0;
  font-size: 16px;
  /*padding: 0 5px;*/
}
.quizPage .score-details > div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 50%;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 15px 0;
}
.quizPage .score-details > div:first-child {
  border-left: 1px solid #8c99a6;
}
.quizPage .score-details .svg-wrapper {
  align-self: center;
}
.quizPage .score-details .correct {
  padding-left: 10px;
  margin-left: 10px;
}
.quizPage .score-details .correct svg {
  margin-right: 5px;
  fill: #007E01;
}
.quizPage .score-details .wrong md-icon {
  width: 45px;
  fill: #BE2A4A;
  margin-left: 5px;
}
.quizPage .score-details md-icon {
  width: 42px;
  height: 39px;
  margin-top: 20px;
  align-self: center;
}
.quizPage .score-details .text {
  width: 70%;
  line-height: normal;
}
@media (min-width: 600px) {
  .quizPage .score-details .text {
    font-size: 5vmin;
  }
}
@media (min-width: 600px) {
  .quizPage .time-taken .text {
    font-size: 3.5vmin;
  }
}
.quizPage .time-taken {
  font-size: 36px;
  color: #2698D4;
}
.quizPage .time-taken md-icon {
  fill: #2698D4;
  width: 46px;
  height: 52px;
  vertical-align: middle;
  margin-left: 10px;
}
.quizPage .add-discussion {
  margin: 0 50px;
}
.quizPage .add-discussion form {
  margin-bottom: 15px;
}
.quizPage .add-discussion textarea {
  width: 100%;
  margin-bottom: 10px;
  color: #212325;
}
.quizPage .feed {
  padding: 0 !important;
}
.quizPage .feed .comment {
  background: none;
  box-shadow: none;
}
.quizPage .feed .info.indent {
  margin: 0;
}
.quizPage .feed .userblock {
  position: relative;
}
.quizPage .feed .userblock .user-name {
  padding-bottom: 16px;
}
@media (max-width: 600px) {
  .quizPage .feed .userblock .user-name {
    margin-right: 12px;
  }
}
.quizPage .feed .comment-date {
  margin-right: 12px;
  position: absolute;
  bottom: 14px;
}
.quizPage .feed .content-text {
  margin-right: 74px;
}
.quiz-question p {
  margin: 0 10px 0 0;
}
.quiz-question .index {
  color: #2698D4;
}
.quiz-question .q {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 14px;
}
.quiz-question .q-body {
  width: 100%;
  margin-bottom: 20px;
}
.quiz-question .q-actions {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  visibility: hidden;
}
.quiz-question .q-actions svg {
  width: 16px;
  height: 16px;
  fill: #484F56;
}
.quiz-question:hover .q-actions {
  visibility: visible;
}
.quiz-question li {
  padding: 0 0 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.quiz-question li:last-child .a-body {
  border: none;
}
.quiz-question .counter-view {
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid #3598dc;
  color: #2698D4;
}
.quiz-question .circle {
  padding: 10px;
}
.quiz-question .circle span {
  padding: 5px 10px;
}
.quiz-question .circle button {
  padding: 0 10px;
  height: 38px;
  width: 38px;
}
.quiz-question .a-body {
  border-bottom: 1px solid #3598dc;
  width: 100%;
  padding: 15px 10px 20px;
  margin-left: 50px;
}
.quiz-question .answer-selected {
  background: #3293F6;
  color: #ffffff;
}
.quiz-challenge {
  margin-top: 30px;
  padding: 100px 10px;
  background-image: url("/images/site/quizbackground.png");
  text-align: center;
  background-size: cover;
  border-radius: 15px;
}
@media (max-width: 600px) {
  .quiz-challenge {
    padding-top: 35px;
  }
}
.quiz-challenge .completed-quiz {
  margin: 0 auto;
  font-size: 20px;
}
@media (max-width: 600px) {
  .quiz-challenge .completed-quiz {
    font-size: 5vmin;
  }
}
.quiz-challenge .goodjob {
  display: -webkit-flex;
  display: -ms-flex;
  display: inline-flex;
}
.quiz-challenge h5 {
  color: #4190b9;
  font-size: 50px;
  margin: 0 0 0 10px;
  padding-bottom: 10px;
  font-weight: normal;
}
@media (max-width: 600px) {
  .quiz-challenge h5 {
    font-size: 11vmin;
  }
}
.quiz-challenge .good {
  line-height: normal;
}
.quiz-challenge .backgrounds {
  margin: 25px auto;
  background: #323538;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 20px;
}
.quiz-challenge .backgrounds svg {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.quiz-challenge .backgrounds > span {
  margin: auto;
}
.quiz-challenge .classmates .classmates-images {
  width: 70px;
  margin-left: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.quiz-challenge .classmates .classmates-images .img-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5px;
}
.quiz-challenge .ready {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.quiz-challenge .ready .img-wrapper {
  padding: 5px;
}
.quiz-challenge .ready svg {
  width: 50px;
  height: 50px;
  fill: #4190b9;
}
.quiz-challenge .ready span {
  margin: auto;
}
.quiz-challenge .complete svg {
  fill: #9782B1;
}
.quiz-challenge .ranking svg {
  fill: #F76446;
}
.quiz-challenge .buttons {
  margin: 0 auto;
}
.quiz-challenge .buttons .scared,
.quiz-challenge .buttons .chance {
  width: 50%;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  white-space: normal;
}
@media (max-width: 600px) {
  .quiz-challenge .buttons .scared,
  .quiz-challenge .buttons .chance {
    font-size: 5vmin;
  }
}
.quiz-challenge .buttons .scared {
  background: #9E9E9E;
  color: #ffffff;
}
.md-open-menu-container {
  z-index: 9999;
}
.quiz-wrapper {
  color: #212325;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 26px;
}
@media (max-width: 600px) {
  .quiz-wrapper {
    padding: 15px;
  }
  .quiz-wrapper .counter {
    padding-right: 0;
  }
  .quiz-wrapper .counter .a-body {
    margin-left: 0;
  }
  .quiz-wrapper .add-discussion {
    margin: 0;
  }
}
.quiz-wrapper .no-answer-element {
  display: none;
  text-align: center;
  background: #db4437;
  color: #ffffff;
  font-size: 20px;
}
.quiz-wrapper.no-answer .no-answer-element {
  display: block;
}
.quiz-wrapper.no-answer .correct-answer {
  background: #3293F6;
  color: #ffffff;
}
.quiz-wrapper.no-answer .correct-answer:before {
  content: '\2714';
}
.quiz-wrapper.wrong .answer-selected {
  background: #db4437;
  color: #fff;
  border-color: #db4437;
}
.quiz-wrapper.wrong .answer-selected:before {
  content: '\2716';
}
.quiz-wrapper.wrong .correct-answer {
  background: #008000;
  color: #fff;
  border-color: #008000;
}
.quiz-wrapper.wrong .correct-answer:before {
  content: '\2714';
}
.quiz-wrapper.correct .correct-answer {
  background: #008000;
  color: #fff;
  border-color: #008000;
}
.quiz-wrapper.correct .correct-answer:before {
  content: '\2714';
}
.quiz-wrapper .quiz-question .q-body img {
  max-width: 100%;
}