/*@color1: #5f6871;
@loginColor : #3293f6;
@registerColor: #fff;
//@siteBg: #212427;

@textColor:#282828; //text color over white background

@color4: #353a3f;
@color2: #f5f5f5;
@color3:#292d31;
@color5:#6a737d;
@color6:#326F2D;
@color7:#3598dc;
@color8:#90A5DB;
@color9:#cccccc;
@color10:#8c99a6;
@color11:#db4437;*/
.quizPage {
  color: #282828;
}
.quizPage header + div {
  margin-top: 160px;
}
.quizPage .arrows {
  position: fixed;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  right: 10px;
}
.quizPage .arrows svg {
  width: 30px;
  height: 30px;
  fill: #c5c5c5;
}
.quizPage .arrows.prev svg {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.quizPage .arrows.next {
  left: 10px;
  right: auto;
}
.quizPage .wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.quizPage .quiz-take-stats {
  margin-bottom: 12px;
  border: 3px solid #3598dc;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
.quizPage .quiz-take-stats.no-progress {
  width: 200px;
}
@media (max-width: 768px) {
  .quizPage .quiz-take-stats {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.quizPage .quiz-take-stats .stop-watch-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 11px 10px 9px 15px;
}
.quizPage .quiz-take-stats svg {
  margin-top: 8px;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  fill: #3598dc;
}
.quizPage .quiz-take-stats .stopwatch {
  font-size: 36px;
  color: #000;
}
.quizPage .quiz-take-stats .seperator {
  width: 100%;
}
.quizPage .quiz-take-stats .question-progress {
  margin-left: 10px;
  font-size: 36px;
}
.quizPage .quiz-take-stats .progress-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 10px;
  background: #f5f5f5;
  /*display:inline-block;
            background:grey;*/
  width: 100%;
  align-items: center;
}
.quizPage .quiz-take-stats .progress {
  width: 100%;
  margin: 0;
  background: #f5f5f5;
  border: 1px solid grey;
}
.quizPage .quiz-take-stats .progress .progress-bar {
  background: #85a7b8;
}
.quizPage .solveActions .row {
  margin: 0;
}
.quizPage .solveActions .col-sm-4 {
  padding: 0 5px;
}
.quizPage .retake {
  width: 100%;
  background: #4190b9;
  color: #f5f5f5;
  border-radius: 10px;
  padding: 2px 0;
  font-size: 24px;
}
.quizPage .black-bullet {
  background: #323538;
  color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
}
.quizPage .score {
  font-size: 60px;
  font-weight: bold;
  line-height: 74px;
}
.quizPage .score h5 {
  margin: 0;
  font-size: 20px;
  padding: 10px 0 0;
  line-height: 20px;
}
.quizPage .score-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 60px;
  font-weight: bold;
  line-height: 57px;
}
.quizPage .score-details h6 {
  margin: 0;
  font-size: 16px;
}
.quizPage .score-details > div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 15px 0;
}
.quizPage .score-details > div:first-child {
  border-left: 1px solid #8c99a6;
}
.quizPage .score-details svg {
  width: 42px;
  height: 39px;
  fill: #007e01;
  margin-top: 20px;
  margin-right: 5px;
  align-self: center;
}
.quizPage .score-details svg:last-child {
  width: 45px;
  fill: #be2a4a;
}
.quizPage .time-taken {
  font-size: 36px;
  color: #2698d4;
}
.quizPage .time-taken svg {
  fill: #2698d4;
  width: 46px;
  height: 52px;
  vertical-align: middle;
  margin: 25px 0;
}
.quizPage .add-discussion {
  margin: 0 50px;
}
.quizPage .add-discussion form {
  margin-bottom: 15px;
}
.quizPage .add-discussion textarea {
  width: 100%;
  margin-bottom: 10px;
}
.quizPage .add-discussion .send {
  background: #4190b9;
  color: #f5f5f5;
  padding: 5px 35px;
}
.quizPage .add-discussion .send:hover {
  background: #26566e;
  color: #f5f5f5;
}
.quizPage .add-discussion .send:focus {
  color: inherit;
}
.quizPage .feed .comment {
  background: transparent;
}
.quizPage .feed .comment > .top {
  color: #282828;
}
.quizPage .feed .reply .user-name {
  color: #282828;
  font-weight: 700;
}
.quiz-question {
  /*border: 1px solid #B7B7B7;
    background: #fff;
    color: #000;
    padding: 26px;
    margin: 10px 0;*/
}
.quiz-question p {
  margin: 0 10px 0 0;
}
.quiz-question .index {
  color: #2698d4;
}
.quiz-question .q {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.quiz-question .q-body {
  width: 100%;
  margin-bottom: 20px;
}
.quiz-question .q-actions {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  visibility: hidden;
}
.quiz-question .q-actions svg {
  width: 16px;
  height: 16px;
  fill: #484f56;
}
.quiz-question:hover .q-actions {
  visibility: visible;
}
.quiz-question li {
  padding: 0 0 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.quiz-question .circle {
  padding: 10px;
}
.quiz-question .circle .counter-view {
  border-radius: 50%;
  border: 2px solid #3598dc;
  color: #2698d4;
  font-size: 20px;
}
.quiz-question .circle span {
  padding: 5px 10px;
}
.quiz-question .circle button {
  padding: 0 10px;
}
.quiz-question .a-body {
  border-bottom: 1px solid #3598dc;
  width: 100%;
  padding: 15px 10px 20px;
  margin-left: 50px;
}
.quiz-question .answer-selected {
  background: #3293f6;
  color: #f5f5f5;
}
.quiz-challenge {
  margin-top: 30px;
  padding-top: 100px;
  background-image: url("/images/site/quizbackground.png");
  text-align: center;
  height: calc(100vh - 277px);
}
.quiz-challenge .goodjob {
  display: -webkit-flex;
  display: -ms-flex;
  display: inline-flex;
}
.quiz-challenge h4 {
  color: #3293f6;
  font-size: 50px;
  margin: 0;
}
.quiz-challenge h5 {
  color: #3293f6;
  font-weight: bold;
  font-size: 50px;
  margin: 0 0 0 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.quiz-challenge .good {
  line-height: normal;
}
.quiz-challenge .backgrounds {
  margin: 25px auto;
  padding: 5px 0;
  background: #323538;
  border-radius: 10px;
  color: #f5f5f5;
  width: 52%;
}
.quiz-challenge .classmates {
  margin-bottom: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.quiz-challenge .classmates > div {
  margin: 0 25px 0 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 70px;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.quiz-challenge .classmates > div > div {
  margin: 5px 0 5px 10px;
}
.quiz-challenge .classmates > span {
  margin: auto;
  margin-right: 50px;
  font-size: 20px;
  width: 48%;
  line-height: 24px;
}
.quiz-challenge .ready {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.quiz-challenge .ready svg {
  width: 50px;
  height: 50px;
  fill: #4190b9;
  margin: 5px 30px 5px 10px;
}
.quiz-challenge .ready span {
  margin: auto;
  font-size: 20px;
  width: 48%;
  line-height: 24px;
}
.quiz-challenge .complete {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.quiz-challenge .complete svg {
  width: 50px;
  height: 50px;
  fill: #9782b1;
  margin: 5px 30px 5px 10px;
}
.quiz-challenge .complete > span {
  margin: auto;
  margin-right: 50px;
  font-size: 20px;
  width: 48%;
  line-height: 24px;
}
.quiz-challenge .ranking {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.quiz-challenge .ranking svg {
  width: 50px;
  height: 50px;
  fill: #f76446;
  margin: 5px 30px 5px 10px;
}
.quiz-challenge .ranking > span {
  margin: auto;
  margin-right: 50px;
  font-size: 20px;
  width: 48%;
  line-height: 24px;
}
.quiz-challenge .buttons .scared {
  background: #9e9e9e;
  color: #f5f5f5;
  border: 0;
  margin: 10px 0 0;
  width: 25%;
  font-size: 18px;
  border-radius: 10px;
}
.quiz-challenge .buttons .chance {
  margin: 10px 5px 0;
  width: 25%;
  font-size: 18px;
  border-radius: 10px;
}
.quiz-wrapper {
  border: 1px solid #8c99a6;
  background: #f5f5f5;
  color: #282828;
  padding: 26px;
  margin: 10px 0;
}
.quiz-wrapper .no-answer-element {
  display: none;
  text-align: center;
  background: #db4437;
  color: #f5f5f5;
  font-size: 20px;
}
.quiz-wrapper.no-answer .no-answer-element {
  display: block;
}
.quiz-wrapper.no-answer .correct-answer {
  background: #3293f6;
  color: #f5f5f5;
}
.quiz-wrapper.no-answer .correct-answer:before {
  content: '\2714';
}
.quiz-wrapper.wrong .answer-selected {
  background: #db4437;
  color: #fff;
  border-color: #db4437;
}
.quiz-wrapper.wrong .answer-selected:before {
  content: '\2716';
}
.quiz-wrapper.wrong .correct-answer {
  background: #008000;
  color: #fff;
  border-color: #008000;
}
.quiz-wrapper.wrong .correct-answer:before {
  content: '\2714';
}
.quiz-wrapper.correct .correct-answer {
  background: #008000;
  color: #fff;
  border-color: #008000;
}
.quiz-wrapper.correct .correct-answer:before {
  content: '\2714';
}
