@import "variables.less";

.quiz-create {
    .not-supported {
        display: none;
    }

    .supported {
        margin: @fullScreenHeaderHeight + 80px auto;
        color: #9d9d9d;
        width: 800px;
        padding: 10px 15px 0;

        .add-question {
            color: #3293f6;
            border: 1px solid #3293f6;
            background: transparent;
        }

        @media only screen and (min-width : 768px ) and (max-width:920px) {
            margin: 0 20px;
            width: ~"calc(100% - 40px)";
        }
    }

    @media only screen and (max-width : 768px) {
        .not-supported {
            display: block;
        }

        .supported {
            display: none;
        }
    }

    .portlet.box > .portlet-body {
        background-color: #fff;
        padding: 10px;
        border: 5px solid #3598dc;
        border-top-width: 0;
    }


    .form-control {
        color: #464646;
        background-color: #fff;
        border: 1px solid #c2c2c2;
        border-radius: 0;
        margin-bottom: 20px;

        &[disabled] {
            border: 0;
            background: transparent;
            color: #4190B9;
            cursor: default;
            width: ~"calc(100% - 32px)";
            display: inline-block;

            + button {
                display: inline-block;
            }
        }

        + button {
            svg {
                width: 16px;
                height: 16px;
                fill: #B7B7B7;
            }

            display: none;
        }
    }
}

.create-question {
    .tools {
        svg {
            width: 18px;
            height: 18px;
            fill: #fff;
        }
    }



    /*.question {
        border: 1px solid #c2c2c2;
        border-radius: 3px;
        margin-bottom: 10px;
        padding: 12px;
    }*/

    .question-content {
        border: 1px solid #c2c2c2;
        margin-bottom: 12px;
        //color: #000;
    }


    .ta-toolbar {
        display: none;
        background: #cfd1cf;
        padding: 8px 0;
        margin: 0; //override on bootstrap
        .btn-group {
            border: 1px solid #a6a6a6;
        }

        button {
            width: 28px;
            height: 28px;
            padding: 0;
            border-radius: 0;
            border: 0;
            background: #e4e4e4;
        }

        &.focussed {
            display: block;
        }

        svg {
            height: 15px;
            width: 15px;
            vertical-align: middle;
        }
    }



    .ta-file {
        @heightContent: 28px;
        width: 28px;
        height: @heightContent;
        padding: 0;
        border: 0;


        input[type=file], input[type=color] {
            width: 100%;
            height: 100%;
        }

        label {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background: #e4e4e4;
            line-height: @heightContent;
        }
    }

    @heightOfAnswer: 25px;

    .counter-view {
        &:before {
            width: @heightOfAnswer;
            height: @heightOfAnswer;
            background: #4190B9;
            color: white;
            vertical-align: middle;
            display: inline-block;
            line-height: 25px;
            padding-left: 8px;
        }

        &:after {
            content: '';
            display: inline-block;
            border-top: @heightOfAnswer solid #4190B9;
            border-right: 10px solid transparent;
            vertical-align: middle;
        }
    }

    .answers-header {
        display: inline-block;
        width: 70%;
    }

    .answer {
        margin-bottom: 5px;

        div {
            display: inline-block;
            border: 1px solid #4190B9;
            width: 70%;

            input {
                border: 0;
                height: @heightOfAnswer;
                line-height: @heightOfAnswer - 1px;
                width: ~"calc(100% - 35px)";
                margin-left: -4px;
                padding-left: 15px;
            }
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #B7B7B7;
            vertical-align: middle;
        }

        button {
            display: none;
        }

        input[type=radio] {
            margin: 0 15px;
        }

        &:hover {
            button {
                display: inline-block;
            }
        }
    }

    .error {
        [contenteditable="true"] {
            border: 1px solid #FF0000;
            background: #FFD0C5;
        }

        .counter-view {
            &:before {
                background: #FF0000;
            }

            &:after {
                border-top-color: #FF0000;
                border-right-color: #FFD0C5;
            }
        }

        &.answer div {
            border-color: #FF0000;
        }

        .ng-invalid {
            background: #FFD0C5;
        }

        .error-answer-msg {
            display: inline;
        }
    }

    .correct-answer-error {
        display: none;
        color: #ff0000;
        width: 50px;

        &.error {
            display: inline-block;
        }
    }

    .error-answer-msg {
        display: none;
        color: #ff0000;
    }

    .add-answer {
        .counter-view {
            &:before {
                background: #B7B7B7;
            }

            &:after {
                border-top-color: #B7B7B7;
            }
        }

        div {
            border-color: #B7B7B7;
        }
    }
}

.modal-backdrop.quiz-create-backdrop {
    opacity: 0.9;
}

.quiz-create-window {
    position: fixed;

    &.modal.in .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .modal-content {
        background: transparent;
        color: #fff;
        box-shadow: none;
        border: 0;
        text-align: center;
    }

    h4 {
        color: #F76446;
        font-size: 20px;
    }

    .buttons {
        margin-top: 20px;
    }

    button {
        width: 25%;
        border-radius: 10px;
    }

    .save {
        color: #f5f5f5;
        background-color: #3293f6;
        border: none;
    }
}
