@import "variables.less";


.quizPage {
    color: @textColor;

    header + div {
        margin-top: @fullScreenHeaderHeight + 80px;
    }

    .arrows {
        position: fixed;
        top: 50%;
        height: 30px;
        margin-top: -15px;
        left: 10px;

        svg {
            width: 30px;
            height: 30px;
            fill: #C5C5C5;
        }

        &.prev {
            svg {
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        &.next {
            right: 10px;
            left: auto;
        }
    }

    .wrapper {
        max-width: 800px;
        margin: 0 auto;
    }

    .stop-watch-wrapper {
        color: #4190b9;
        margin-bottom: 12px;
        border: 3px solid #4190b9;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        //width: 100%;
        svg {
            width: 46px;
            height: 46px;
            fill: #4190b9;
            //display: inline-block;
            //vertical-align: middle;
        }

        .stopwatch {
            font-size: 36px;
            color: #000;
        }

        .progress-wrapper {
            /*display:inline-block;
            background:grey;*/
            width: 100%;
            line-height: 54px;
        }

        .progress {
            display: inline-block;
            width: 100%;
            margin:0;
        }

        margin: 0;
        vertical-align: middle;
    }
}



.quiz-wrapper {
    border: 1px solid #B7B7B7;
    background: #fff;
    color: #000;
    padding: 26px;
    margin: 10px 0;


    .no-answer-element {
        display: none;
        text-align: center;
        background: red;
        color: white;
        font-size: 20px;
    }

    &.no-answer {
        .no-answer-element {
            display: block;
        }
    }

    &.no-answer {
        .correct-answer {
            background: #4190B9;
            color: #fff;

            &:before {
                content: '\2714';
            }
        }
    }


    &.wrong {
        .answer-selected {
            background: red;

            &:before {
                content: '\2716';
            }
        }

        .correct-answer {
            background: green;
            color: #fff;

            &:before {
                content: '\2714';
            }
        }
    }

    &.correct {
        .correct-answer {
            background: green;
            color: #fff;

            &:before {
                content: '\2714';
            }
        }
    }
}

.quiz-question {

    p {
        margin: 0 0 0 10px;
    }
    /*border: 1px solid #B7B7B7;
    background: #fff;
    color: #000;
    padding: 26px;
    margin: 10px 0;*/
    .index {
        color: #4190B9;
    }

    .q {
        display: flex;
    }

    .q-body {
        width: 100%;
        margin-bottom: 20px;
    }

    .q-actions {
        display: flex;
        visibility: hidden;

        svg {
            width: 16px;
            height: 16px;
            fill: #676767;
        }
    }

    &:hover .q-actions {
        visibility: visible;
    }

    li {
        padding: 0 0 10px;
        display: flex;
    }

    .circle {
        padding: 10px;
    }

    .counter-view {
        border-radius: 50%;
        border: 2px solid #4190B9;
        color: #4190B9;
        font-size: 20px;
        padding: 5px 10px;
    }

    .a-body {
        border-bottom: 1px solid #4190B9;
        width: 100%;
        padding: 15px 10px 20px;
        margin-right: 50px;
    }

    .answer-selected {
        background: #4190B9;
        color: #fff;
    }
}
