.rtlFix .quiz .bottom:before {
  right: 0;
  left: auto;
}
.rtlFix .quiz .bottom:after {
  right: 0;
  left: auto;
  border-width: 39px 39px 0 0;
}
.rtlFix .quiz .details {
  direction: ltr;
}
.rtlFix .quiz .details .name {
  text-align: left;
}
