.search::-webkit-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
.search:-moz-placeholder {
  /* Firefox 18- */
  color: #888b8e;
  opacity: 1;
}
.search::-moz-placeholder {
  /* Firefox 19+ */
  color: #888b8e;
  opacity: 1;
}
.search:-ms-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
@media (max-width: 450px) {
  .search {
    margin-top: 60px;
  }
  .search .page-head {
    display: none;
  }
  .search .page-head .close svg {
    fill: #888b8e;
  }
}
.search em {
  color: #ff4500;
}
.search .page-head .close svg {
  fill: #888b8e;
}
.search .item,
.search .quiz {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  display: block;
}
.search .item .base,
.search .quiz .base {
  width: 40%;
}
.search .item .extra-details,
.search .quiz .extra-details {
  width: 60%;
  display: block;
  position: absolute;
  height: 100%;
  right: 40%;
  top: 0;
  padding-right: 15px;
  line-height: 16px;
  color: #212325;
}
.search .item .extra-details h5,
.search .quiz .extra-details h5 {
  margin: 7px 0 12px 0;
  font-weight: 700;
  color: #323538;
}
.search .item .extra-details span,
.search .quiz .extra-details span {
  font-size: 12px;
  line-height: 18px;
}
.search .quiz .top .first-letter {
  font-size: 10vw;
  width: 10vw;
  height: 10vw;
}
@media (min-width: 600px) {
  .search .quiz .top .first-letter {
    font-size: 6vw;
    width: 6vw;
    height: 6vw;
  }
}
@media (min-width: 960px) {
  .search .quiz .top .first-letter {
    font-size: 3vw;
    width: 3vw;
    height: 3vw;
  }
}
.search .no-results {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 600px) {
  .search .no-results {
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
    background-image: url('../../Images/Site/no_search_results.png');
    background-repeat: no-repeat;
    padding: 0 160px 0 0 ;
    background-position: 100% 0 ;
    background-size: 180px;
    min-height: 400px;
    margin-top: 80px;
  }
}
.search .no-results .wrapper div {
  color: #ffffff;
}
.search .no-results .text-wrapper {
  margin: 0 auto;
}
.search .no-results .text-wrapper h2 {
  color: #F76446;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}
.search .no-results .text-wrapper .text {
  color: #c3c3c3;
}
.search .no-results .text-wrapper div {
  font-size: 20px;
  white-space: pre-wrap;
}
.search .no-results .text-wrapper button.button-Blue {
  padding: 0 20px;
  margin: 30px;
  color: #f5f5f5;
}
.search .no-results .text-wrapper button.button-Blue:hover {
  color: #f5f5f5 !important;
}
.search .no-results .text-wrapper .create-class {
  font-size: 16px;
  color: #888b8e;
  padding-top: 10px;
}
.search .no-results .text-wrapper .create-class button {
  color: #5b9bd1;
}
.search .no-results .text-wrapper .create-class button:hover {
  color: #23527c;
}
.search-text {
  color: #4190b9;
}
/*.search-text {
    font-size: 7vw;
    background: transparent;
    border: none;
    outline: none;
    line-height: normal;
    padding-top: 25px;
    padding-bottom: 25px;

    @media (min-width: 960px) {
        padding-left: 5%;
    }
}*/