.search ::-webkit-input-placeholder {
  color: #646e77;
}
.search :-moz-placeholder {
  /* Firefox 18- */
  color: #646e77;
}
.search ::-moz-placeholder {
  /* Firefox 19+ */
  color: #646e77;
}
.search :-ms-input-placeholder {
  color: #646e77;
}
.search .search-text {
  font-size: 7em;
  background: transparent;
  border: none;
  color: #3293f6;
  outline: none;
}
.search .nav-tabs {
  border-bottom: none;
  background: #353a3f;
}
.search .nav-tabs a {
  color: #8c99a6;
  border: none;
}
.search .nav-tabs a:hover {
  color: #f5f5f5;
}
.search .nav-tabs a:active {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #3293f6;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
}
.search em {
  color: yellow;
}
.search .item {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  display: block;
}
.search .item .base {
  width: 40%;
}
.search .item .extra-details {
  width: 55%;
  display: block;
  position: absolute;
  height: 100%;
  left: 40%;
  top: 0;
  text-align: justify;
}
