@import "variables.less";

.search {
    //.fullScreen();
    @media (max-width: 450px) {
        margin-top: 60px;

        .page-head {
            display: none;
        }
    }


    .item, .quiz {
        position: relative;
        overflow: hidden;
        padding-bottom: 0;
        display: block;
        margin: 20px;

        .base {
            width: 40%;
        }

        .extra-details {
            width: 60%;
            display: block;
            position: absolute;
            height: 100%;
            left: 40%;
            top: 0;
            // text-align: justify;
            padding-left: 15px;
            line-height: 16px;

            h5 {
                margin: 7px 0;
                font-weight: 700;
                color: @textColorGrey;
            }
        }
    }

    .quiz .top .first-letter {
        .sizeOfLetter(10vw);

        @media (min-width: 600px) {
            .sizeOfLetter(6vw);
        }

        @media (min-width: 960px) {
            .sizeOfLetter(3vw);
        }
    }
}

.no-results {
    text-align: center;

    @media (min-width: 960px) {
        .s-content {
            padding: 0 5%;
        }
    }

    .wrapper {
        display: inline-block;
        position: relative;
        padding: 15px;

        div {
            top: 37%;
            right: 16% /*rtl:ignore*/;
            position: absolute;
            font-size: 38px;
            width: 30%;
            font-weight: bold;
            line-height: 34px;

            @media (max-width: 730px) {
                font-size: 5vw;
                line-height: 5vw;
            }
        }

        img {
            max-width: 700px;
            width: 100%;
        }
    }
}

/*.search-text {
    font-size: 7vw;
    background: transparent;
    border: none;
    outline: none;
    line-height: normal;
    padding-top: 25px;
    padding-bottom: 25px;

    @media (min-width: 960px) {
        padding-left: 5%;
    }
}*/

//search btn on header
.search-form {
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
    opacity: 1;
}

.search-form.ng-hide {
    //line-height: 0;
    opacity: 0;
    //width:0;
    //height:0;
    //padding: 0 10px;
}