@import "variables.less";

.class-choose {
    @media (min-width: 960px) {
        margin-left: -@widthOfSideMenu;
        margin-right: -@widthOfChat;
    }

    .content {
        max-width: 600px;
        margin: 0 auto;
    }
}
