@import "variables.less";

.class-choose {
    @media (min-width: 960px) {
        margin-left: -@widthOfSideMenu;
        margin-right: -@widthOfChat;
    }

    .title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;
        font-size: 32px;
        padding-top: 50px;
        //padding: 50px 0;
        font-weight: bold;
        color: @textColorPurple;

        @media(max-width: 600px) {
            font-size: 24px;
            line-height: normal;
            max-width: 360px;
            padding: 0 0 10px 0;
        }
    }

    .content {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        img {
            margin: 40px auto 0 auto;
            display: block;
        }

        &.default {
            .search-image {
                position: relative;
                display: inline-block;

                @media(max-width: 600px) {
                    img {
                        height: 275px;
                    }
                }

                .text {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
                    font-size: 18px;
                    color: @buttonColorBlue;
                }
            }
        }

        .box-style {
            padding: 10px 15px;
            text-align: left;
            height: 86px;

            .course-name {
                margin: 0 auto 12px auto;
                font-size: 25px;
            }

            .number, .instructor {
                min-height: 14px;
                line-height: 14px;
            }
        }

        &.search-results {
            .wrapper {
                .result {
                    height: auto;
                    padding: 10px 15px;
                    text-align: left;
                }
            }

            .empty-state {
                margin: 0 auto;

                .text {
                    margin: 50px 0 14px 0;
                    font-size: 16px;

                    @media(max-width: 600px) {
                        font-size: 15px;
                    }
                }
            }
        }

        &.selected-boxes {
            .subtitle {
                font-size: 16px;
                margin: 0;
            }

            .header {
                .displayFlex;
                .align-items(center);
                .justifyContet(space-between);
                padding: 40px 8px 0 8px;

                @media(max-width:600px) {
                    padding-top: 30px;
                }

                .text {
                    color: @buttonColorBlue;
                }

                .progress {
                    color: @textColorGrey;
                }

                .text, .progress {
                    font-size: 16px;
                }
            }

            .empty {
                .displayFlex;
                .align-items(center);
                .justifyContet(center);
                border: 1px dashed @textColorGrey;
                background: @backgroundCalmGrey;
                color: @textColorGrey;

                h2 {
                    margin: 0;
                    font-size: 25px;
                }

                &:hover {
                    background: @backgroundCalmGrey;
                }
            }

            @media(max-width: 600px) {
                .selected {
                    .instructor, .number {
                        display: none;
                    }
                }

                .box-style {
                    height: 50px;
                }

                .buttons button {
                    width: 80%;
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .buttons {
                .displayFlex;
                .align-items(center);
                .justifyContet(flex-end);
                flex-wrap: wrap;

                button {
                    &.done {
                        background: @notificationColor;

                        &:hover {
                            background: #d5580c;
                        }
                    }
                }
            }
        }

        &.add-class {
            h1 {
            }

            .department {
                margin-bottom: 30px;
            }

            form {
                margin: 20px auto;
            }

            .form-field {
                text-align: left;
                margin-bottom: 18px;

                .md-errors-spacer {
                    display: none;
                }
            }

            .md-errors-spacer {
                display: none;
            }

            .buttons {
                text-align: right;
            }
        }

        &.add-class, &.select-department {

            .box-style {
                height: 50px;
                margin: 0 auto;

                span {
                    font-size: 25px;
                }
            }
        }

        &.select-department, &.selected-boxes {
            @media(max-width: 600px) {
                .department, .add-department, .wrapper {
                    padding: 4px 8px;
                }

                .box-style, h2 {
                    line-height: 30px;
                }
            }

            .add-department {
                button {
                    width: 100%;
                    padding: 0 10px;
                    .displayFlex;
                    .align-items(center);
                    .justifyContet(center);

                    md-icon {
                        width: 16px;
                        height: 16px;
                        fill: @buttonColorBlue;
                    }

                    h2 {
                        color: @buttonColorBlue;
                        font-size: 16px;
                        height: auto;
                        margin: 0 10px;
                    }
                }

                form input {
                    height: 100%;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid @textColorGrey;
                    background: none;
                    font-size: 16px;
                }
            }

            .buttons {
                text-align: right;
                padding: 8px;
            }
        }
    }

    .search-form {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 30px;
        max-width: 600px;
        margin: 0 auto 8px auto;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.42);

        input {
            background: @textColorWhite;
            font-size: 20px;
            height: 37px;
            padding: 0 10px 0 25px;
            width: ~"calc(100% - 60px)";
            border: 0;
        }

        .search-button {
            background: @buttonColorBlue;
            width: 60px;
            line-height: 100%;

            svg {
                width: 22px;
                height: 22px;
                fill: @textColorWhite;
            }
        }
    }

    .search-form, .select-department .departments {
        margin-top: 50px;

        @media(max-width: 600px) {
            margin-top: 30px;
        }
    }

    .add-class .title {
        padding-bottom: 50px;

        @media(max-width: 600px) {
            padding-bottom: 30px;
        }
    }
}
