@media (min-width: 960px) {
  .class-choose {
    margin-right: -240px;
    margin-left: -95px;
  }
}
.class-choose .title {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  font-size: 32px;
  padding-top: 50px;
  font-weight: bold;
  color: #33076e;
}
@media (max-width: 600px) {
  .class-choose .title {
    font-size: 24px;
    line-height: normal;
    max-width: 360px;
    padding: 0 0 10px 0;
  }
}
.class-choose .content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.class-choose .content img {
  margin: 40px auto 0 auto;
  display: block;
}
.class-choose .content.default .search-image {
  position: relative;
  display: inline-block;
}
@media (max-width: 600px) {
  .class-choose .content.default .search-image img {
    height: 275px;
  }
}
.class-choose .content.default .search-image .text {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #4190b9;
}
.class-choose .content .box-style {
  padding: 10px 15px;
  text-align: right;
  height: 86px;
}
.class-choose .content .box-style .course-name {
  margin: 0 auto 12px auto;
  font-size: 25px;
}
.class-choose .content .box-style .number,
.class-choose .content .box-style .instructor {
  min-height: 14px;
  line-height: 14px;
}
.class-choose .content.search-results .wrapper .result {
  height: auto;
  padding: 10px 15px;
  text-align: right;
}
.class-choose .content.search-results .empty-state {
  margin: 0 auto;
}
.class-choose .content.search-results .empty-state .text {
  margin: 50px 0 14px 0;
  font-size: 16px;
}
@media (max-width: 600px) {
  .class-choose .content.search-results .empty-state .text {
    font-size: 15px;
  }
}
.class-choose .content.selected-boxes .subtitle {
  font-size: 16px;
  margin: 0;
}
.class-choose .content.selected-boxes .header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 40px 8px 0 8px;
}
@media (max-width: 600px) {
  .class-choose .content.selected-boxes .header {
    padding-top: 30px;
  }
}
.class-choose .content.selected-boxes .header .text {
  color: #4190b9;
}
.class-choose .content.selected-boxes .header .progress {
  color: #888b8e;
}
.class-choose .content.selected-boxes .header .text,
.class-choose .content.selected-boxes .header .progress {
  font-size: 16px;
}
.class-choose .content.selected-boxes .empty {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px dashed #888b8e;
  background: #eeeeee;
  color: #888b8e;
}
.class-choose .content.selected-boxes .empty h2 {
  margin: 0;
  font-size: 25px;
}
.class-choose .content.selected-boxes .empty:hover {
  background: #eeeeee;
}
@media (max-width: 600px) {
  .class-choose .content.selected-boxes .selected .instructor,
  .class-choose .content.selected-boxes .selected .number {
    display: none;
  }
  .class-choose .content.selected-boxes .box-style {
    height: 50px;
  }
  .class-choose .content.selected-boxes .buttons button {
    width: 80%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.class-choose .content.selected-boxes .buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.class-choose .content.selected-boxes .buttons button.done {
  background: #ec610d;
}
.class-choose .content.selected-boxes .buttons button.done:hover {
  background: #d5580c;
}
.class-choose .content.add-class .department {
  margin-bottom: 30px;
}
.class-choose .content.add-class form {
  margin: 20px auto;
}
.class-choose .content.add-class .form-field {
  text-align: right;
  margin-bottom: 18px;
}
.class-choose .content.add-class .form-field .md-errors-spacer {
  display: none;
}
.class-choose .content.add-class .md-errors-spacer {
  display: none;
}
.class-choose .content.add-class .buttons {
  text-align: left;
}
.class-choose .content.add-class .box-style,
.class-choose .content.select-department .box-style {
  height: 50px;
  margin: 0 auto;
}
.class-choose .content.add-class .box-style span,
.class-choose .content.select-department .box-style span {
  font-size: 25px;
}
@media (max-width: 600px) {
  .class-choose .content.select-department .department,
  .class-choose .content.selected-boxes .department,
  .class-choose .content.select-department .add-department,
  .class-choose .content.selected-boxes .add-department,
  .class-choose .content.select-department .wrapper,
  .class-choose .content.selected-boxes .wrapper {
    padding: 4px 8px;
  }
  .class-choose .content.select-department .box-style,
  .class-choose .content.selected-boxes .box-style,
  .class-choose .content.select-department h2,
  .class-choose .content.selected-boxes h2 {
    line-height: 30px;
  }
}
.class-choose .content.select-department .add-department button,
.class-choose .content.selected-boxes .add-department button {
  width: 100%;
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.class-choose .content.select-department .add-department button md-icon,
.class-choose .content.selected-boxes .add-department button md-icon {
  width: 16px;
  height: 16px;
  fill: #4190b9;
}
.class-choose .content.select-department .add-department button h2,
.class-choose .content.selected-boxes .add-department button h2 {
  color: #4190b9;
  font-size: 16px;
  height: auto;
  margin: 0 10px;
}
.class-choose .content.select-department .add-department form input,
.class-choose .content.selected-boxes .add-department form input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 1px solid #888b8e;
  background: none;
  font-size: 16px;
}
.class-choose .content.select-department .buttons,
.class-choose .content.selected-boxes .buttons {
  text-align: left;
  padding: 8px;
}
.class-choose .search-form {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 600px;
  margin: 0 auto 8px auto;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.42);
}
.class-choose .search-form input {
  background: #ffffff;
  font-size: 20px;
  height: 37px;
  padding: 0 25px 0 10px;
  width: calc(100% - 60px);
  border: 0;
}
.class-choose .search-form .search-button {
  background: #4190b9;
  width: 60px;
  line-height: 100%;
}
.class-choose .search-form .search-button svg {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}
.class-choose .search-form,
.class-choose .select-department .departments {
  margin-top: 50px;
}
@media (max-width: 600px) {
  .class-choose .search-form,
  .class-choose .select-department .departments {
    margin-top: 30px;
  }
}
.class-choose .add-class .title {
  padding-bottom: 50px;
}
@media (max-width: 600px) {
  .class-choose .add-class .title {
    padding-bottom: 30px;
  }
}