@import "variables.less";

@animationDuration: 0.5s;

.safariTransitionFixes() {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
}

body #main-nav {
    .transition(transform, 0.1s, ease);
    .safariTransitionFixes();
}

body.collapseHeader .class-choose .top-container {
    transform: translate(0, -@heightOfHeader);
}

.class-choose {
    @media (min-width: 960px) {
        margin-left: -@widthOfSideMenu;
        margin-right: -@widthOfChat;
    }

    md-input-container {
        margin: 5px 0;
    }

    .explore .results {
        padding-top: 205px;
    }

    .status-strip {
        .displayFlex;
        align-items: center;
        justify-content: center;
        background: #FF9900;
        color: @textColorWhite;
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        z-index: 1;

        transition: all linear 0.5s;


        &.ng-enter,&.ng-leave-active {
            height: 0;
            opacity:0;
        }

        &.ng-enter-active, &.ng-leave {
            height: 40px;
            opacity:1;
        }
        div {
            position: relative;
            width: 270px;
            height: 40px;
            display: flex;
            align-items: center;
            overflow-y: hidden;
            @media(max-width: 600px) {
                width: 170px;
            }
        }

        h2, ng-pluralize {
            font-size: 20px;
            line-height: normal;
            margin: 0;
            white-space: nowrap;

            @media(max-width: 600px) {
                font-size: 14px;
            }

            transition: all linear 0.5s;

            &.ng-enter, &.ng-leave {
                position: absolute;
                top: 10px;
            }

            &.ng-enter {
                transform: translateY(-150%);
            }

            &.ng-enter-active {
                transform: translateY(0%);
            }

            &.ng-leave {
                transform: translateY(0%);
            }

            &.ng-leave-active {
                transform: translateY(150%);
            }
        }

        ng-pluralize {
            text-transform: lowercase;
        }

        a {
            color: @textColorWhite;
            text-decoration: underline;
        }
    }



    .title-strip {
        opacity: 0;
        .transition(all, 0.1s, ease);
        .safariTransitionFixes();
    }

    .title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: block;
        font-size: 30px;
        padding-top: 20px;
        //padding: 50px 0;
        font-weight: bold;
        color: @textColorPurple;

        @media(max-width: 600px) {
            line-height: normal;
            max-width: 360px;
            font-size: 18px;
            padding-top: 10px;
        }
    }

    .search-container {
        margin: 0 auto;
    }

    .top-container {
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        padding-top: 40px;
        transform: translate(0, 0);
        background: #dadada;
        .transition(transform, 0.1s, ease);
        -webkit-backface-visibility: hidden;

        .wrapper {
            margin: 0 auto;
        }

        .title {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .top {
        .displayFlex;
        .align-items(center);
        .justifyContet(space-between);
        margin: 46px 0 30px 0;

        @media(max-width: 600px) {
            flex-wrap: wrap;
            .justifyContet(center);
            margin: 20px 0 0 0;
        }

        #selected-classes {
            flex-shrink: 0;
            .displayFlex();
            .align-items(center);
            .justifyContet(flex-start);

            button {
                color: @textColorWhite;
                padding: 0;
                text-align: center;

                span {
                    width: 100%;
                    line-height: inherit;
                    text-transform: capitalize;
                }
            }

            .empty {
                border: 1px dashed @textColorGrey;
                background: @backgroundCalmGrey;
                color: @textColorGrey;
                padding: 0;
            }

            button, .empty {
                @selectedButtonSize: 40px;
                width: @selectedButtonSize;
                height: @selectedButtonSize;
                line-height: @selectedButtonSize;
                margin: 16px 3px;
                font-size: 20px;
                text-align: center;
                z-index: 1;
            }
        }

        #selected-classes, .search-form {
            margin: 0 15px;
        }
    }

    .search-form {
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.42);
        background: @textColorWhite;
        position: relative;
        overflow: visible;

        @media(max-width: 600px) {
            margin-top: 30px;
        }

        input {
            font-size: 20px;
            height: 37px;
            padding: 0 40px 0 25px;
            width: 100%;
            border: 0;
            .placeHolder(@textColorGrey);
            color: @buttonColorBlue;
            border-radius: 5px;

            @media(max-width: 600px) {
                font-size: 16px;
                padding: 0 40px 0 10px;
            }

            &:focus {
                box-shadow: 0 0 3px 1px @buttonColorBlue;
            }

            &::-ms-clear {
                display: none;
            }
        }

        .search-button {
            width: 40px;
            line-height: 100%;
            position: absolute;
            z-index: 6;
            right: 0;
            top: 0;
            height: 38px;

            md-icon {
                width: 22px;
                height: 22px;
                fill: @buttonColorBlue;
            }
        }
    }

    .grid-container {
        width: 100%;
        margin: 0 auto;
    }

    .results {
        @media(min-width: 600px) {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }

        @media(min-width: 960px) {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }

        @media(min-width: 1280px) {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
            -moz-column-gap: 0;
            -webkit-column-gap: 0;
            column-gap: 0;
        }

        width: 100%;

        .closed-department .box-style {
            .displayFlex;
            .align-items(center);
            .justifyContet(space-between);
            flex-direction: column;
            padding: 10px 15px;
            text-align: center;
            margin-top: 5px;

            h5 {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin: 0;
            }

            .subtitle {
                font-size: 16px;
            }
        }

        > li > div {
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
        }

        .title {
            .displayFlex;
            .align-items(center);
            .justifyContet(space-between);

            .department-name {
                font-weight: bold;
                font-size: 20px;
            }

            .lock md-icon {
                width: 18px;
                height: 18px;
            }

            .add-class md-icon {
                width: 16px;
                height: 16px;
            }
        }

        .department-courses {
            width: 100%;

            li > button {
                width: 100%;
                padding: 0;
                margin: 5px 0;
            }
        }
    }

    .empty-state {
        width: 100%;
        max-width: 600px;
        margin: 40px auto 0 auto;
        text-align: center;
        background-image: url(../../Images/Site/no_search_results.png);
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: 100% 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 140px;
        padding-bottom: 100px;

        @media(max-width: 600px) {
            background-image: none;
            padding: 0;
            .justifyContet(flex-start);
            height: auto;
            margin-top: 0;
        }

        h2 {
            color: @color-beige;
            font-weight: bold;

            @media(max-width: 600px) {
                font-size: 26px;
            }
        }

        .text {
            font-size: 18px;
            white-space: pre-wrap;
            margin-top: 20px;

            @media(max-width: 600px) {
                margin-top: 10px;
                font-size: 16px;
            }
        }


        .create-class {
            margin: 30px auto 0 auto;
            padding: 0 10px;

            .buttons {
                text-align: right;
            }
        }
    }

    .create-class-wrapper {
        text-align: center;
        margin: 80px 0;

        .text {
            margin-bottom: 8px;
            font-size: 16px;
        }
    }
}

.create-class-dialog {
    max-width: 450px;
    max-height: 100vh;

    md-toolbar {
        display: block;
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px;

        .form-field:last-of-type .md-errors-spacer {
            display: none;
        }

        md-input-container {
            margin-bottom: 0;
            margin-top: 8px;

            &.md-input-focused label:not(.md-no-float),
            &.md-input-has-placeholder label:not(.md-no-float),
            &.md-input-has-value label:not(.md-no-float) {
                -moz-transform: translate3d(0,6px,0) scale(.65);
                -ms-transform: translate3d(0,6px,0) scale(.65);
                -o-transform: translate3d(0,6px,0) scale(.65);
                -webkit-transform: translate3d(0,6px,0) scale(.65);
                transform: translate3d(0,6px,0) scale(.65);
            }

            .md-input-message-animation:not(.ng-animate) {
                font-size: 11px;
                text-align: right;
            }
        }
    }

    .buttons {
        text-align: right;
        margin-top: 10px;
    }
}

.md-toast-animating {
    overflow: auto !important;
}

.create-class-dialog, .selected-class-dialog {
    background: @backgroundColor;
    max-width: 90%;

    .title {
        font-weight: bold;
        color: @headerbackground;
        font-size: 22px;
    }
}

.selected-class-dialog {

    .department-name {
        font-size: 22px;
        font-weight: bold;
        text-transform: capitalize;
    }

    md-toolbar {
        min-height: 0;

        .title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 24px;
            text-align: center;

            @media(max-width: 600px) {
                font-size: 3.7vw;
            }
        }
    }

    md-dialog-content {
        width: 100%;
        padding: 10px;

        .data-wrapper {
            .department-name, .box-container {
                margin: 0 auto 10px auto;
                max-width: 300px;
                width: 100%;
            }

            .center {
                .displayFlex;
                .align-items(center);

                .box-container {
                    flex-shrink: 0;
                    flex-grow: 1;
                    max-width: 300px;
                    width: 100%;
                }
            }

            .buttons .action-btn {
                background: #DB4437;
            }
        }

        .buttons {
            text-align: center;
            margin: 20px 0 10px 0;

            .action-btn {
                margin-left: 10px;
            }

            button {
                text-transform: capitalize;
            }
        }

        .confirm {
            text-align: center;

            md-icon {
                width: 30px;
                height: 30px;
                fill: #ffb918;
                margin: 10px;
            }

            .text {
                font-size: 16px;
                max-width: 200px;
                margin: 0 auto;
            }
        }

        .confirm, .data-wrapper {
            .content {
                flex-grow: 1;
                flex-shrink: 0;
                .displayFlex;
                flex-direction: column;
                .align-items(center);
                .justifyContet(center);
            }

            min-height: 200px;
            .displayFlex;
            flex-direction: column;
            .align-items(stretch);
            .justifyContet(space-between);
        }
    }
}

.class-choose .slim.box-style .icon, body > .icon {
    @icon-size: 60px;
    width: @icon-size;
    height: @icon-size;
    line-height: @icon-size;
    text-align: center;
    color: @textColorWhite;
    font-size: 28px;
    flex-shrink: 0;
    text-transform: capitalize;
}

.class-choose #selected-classes button,
.class-choose #selected-classes .empty,
body > .cart-animated {
    @selectedButtonSize: 40px;
    width: @selectedButtonSize;
    height: @selectedButtonSize;
    line-height: @selectedButtonSize;
    margin-left: 6px;
    font-size: 20px;
    text-align: center;
}

body > .cart-animated {
    margin: 0;
    transition: all @animationDuration linear;
}

.slim.box-style {
    height: auto;
    padding: 6px;
    .displayFlex();
    .align-items(stretch);
    .justifyContet(flex-start);

    .icon {
        @icon-size: 60px;
        width: @icon-size;
        height: @icon-size;
        line-height: @icon-size;
        text-align: center;
        color: @textColorWhite;
        font-size: 28px;
        flex-shrink: 0;
        text-transform: capitalize;
    }

    .data {
        padding: 1px 2px 1px 6px;
        text-align: left;
        font-size: 12px;
        overflow: hidden;
        line-height: normal;
        .displayFlex();
        flex-direction: column;
        .align-items(flex-start);
        .justifyContet(space-between);
        width: 100%;

        .name {
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            width: 100%;
            margin-bottom: 2px;
        }

        .details {
            width: 100%;
        }

        .stats, .metadata {
            color: @textColorGrey;
        }

        .stats {
            .displayFlex;
            .align-items(center);
            .justifyContet(space-between);
            width: 100%;

            .stat {
                .displayFlex;
                .align-items(center);
                .justifyContet(flex-start);

                .num {
                    margin-top: 2px;
                }
            }

            md-icon {
                width: 12px;
                height: 12px;
                fill: @textColorGrey;
                margin-right: 3px;
            }
        }
    }
}
