@import "variables.less";

//invite btn in dashboard/box
.inviteBtn {
    .displayFlex();
}

.portlet.light.invite {
    text-align: center;
    font-size: 18px;
    width: 100%;
    .justifyContet(center);

    svg {
        width: 75px;
        height: 75px;
        display: block;
        margin: 0 auto;
    }

    span {
        max-width: 250px;
        display: inline-block;
        line-height: 22px;
    }
}



.invite-container {
    display: flex;
    padding: 12px;
    .align-items(stretch);
}

.invite-container .invite {
    display: flex;
}

.invite {
    position: relative;
    padding: 0 10px 10px;
    margin-top: 10px;
    margin: 10px;

    .portlet-title {
        padding-right: 25px;
    }

    &.light {
        margin: 0;
    }

    .nav-tabs {
        list-style: none;
        margin-top: 15px;
        .displayFlex;
    }

    .tab-from-r {
        background: none;
        padding-top: 0;
        padding-right: 0;

        .mail {
            margin-right: 0;
        }
    }

    .md-chip-input-container input {
        .placeHolder(@svgLightGrey) !important;
    }

    button.btn-default.close {
        background: transparent;
        top: 0;
        position: absolute;
        right: 0;
        padding: 7px 15px;
        margin: 6px auto;

        &:active:hover {
            background: transparent;
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }


    md-content {
        position: relative;
    }

    md-list md-list-item button.md-button:not([disabled]):hover {
        background-color: transparent;
    }

    .send {
        margin: 10px 15px;
    }

    .gmail {
        .displayFlex();
        padding: 10px 0 10px 16px;
        margin: 0 auto;
        width: 196px;
        white-space: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        svg {
            width: 60px;
            height: 44px;
            vertical-align: middle;
        }

        span {
            line-height: 18px;
            width: 60%;
            margin-top: 3px;
            padding-left: 5px;
        }
    }

    md-chips .md-chips {
        box-shadow: 0 1px #888b8e;
    }

    .tab-content {
        .buttons {
            margin-top: 15px;
            .displayFlex;

            > * {
                min-height: 0;
                line-height: 25px;
                margin-top: 0;
                text-transform: capitalize;
            }
        }

        .uploadLink .buttons {
            justify-content: flex-end;
        }

        .uploadFile .buttons {
            justify-content: center;
        }
    }
}



.chipsdemoContactChips md-content.autocomplete {
    min-height: 300px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 900px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: auto;

    .contact-item .md-list-item-text h3 {
        white-space: normal;
        -ms-word-break: break-word;
        word-break: break-word;
    }
}

//override bootstrap
.md-contact-suggestion img {
    vertical-align: baseline;
}

.md-contact-chips .md-chips .md-chip .md-contact-avatar img {
    vertical-align: baseline;
}
