@import "variables.less";

.invite {
    background: @color4;

    .body {
        margin: 0 15px;
        padding-bottom: 10px;
    }

    md-content {
        background: #212427;
    }
    /*.closeForm{
    float: right;
    margin: 10px 10px 0 0;
    //override
    color: #f5f5f5;
    text-shadow: none;
    opacity: 1;
    font-weight: 400;  

    }*/
    .gmail {
        background: #C2C2C2;

        svg {
            width: 60px;
            fill: #ED1921;
            background-color: #fff;
            vertical-align: middle;
        }
    }
}

.md-chips .md-chip-input-container {
    color: #f5f5f5;
}

.chipsdemoContactChips md-content.autocomplete {
    min-height: 300px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #A8B3BB;
}

@media (min-width: 900px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: hidden;
}
