.invite-container {
  display: flex;
  padding: 12px;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.invite-container .invite {
  display: flex;
}
.invite {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #4190b9;
  /*.nav-tabs {
        list-style: none;
        margin-top: 15px;
        .displayFlex;
    }*/
  /*.tab-from-r {
        background: none;
        padding-top: 0;
        padding-right: 0;

        .mail {
            margin-right: 0;
        }
    }*/
  /*md-content {
        position: relative;
    }*/
  /*md-list md-list-item button.md-button:not([disabled]):hover {
        background-color: transparent;
    }*/
  /*md-chips .md-chips {
        box-shadow: 0 1px #888b8e;
    }*/
}
.invite button.btn-default:active:hover svg {
  fill: #9E9E9E;
}
.invite button.btn-default svg {
  fill: #c3c3c3;
}
.invite .body {
  background: #dadada;
}
.invite md-content {
  background: #dadada;
}
.invite md-content::-webkit-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
.invite md-content:-moz-placeholder {
  /* Firefox 18- */
  color: #888b8e;
  opacity: 1;
}
.invite md-content::-moz-placeholder {
  /* Firefox 19+ */
  color: #888b8e;
  opacity: 1;
}
.invite md-content:-ms-input-placeholder {
  color: #888b8e;
  opacity: 1;
}
.invite .invite-list-wrapper {
  height: 290px;
  width: 100%;
}
.invite.invite-dialog {
  max-width: 900px;
  background: none;
}
.invite.invite-dialog .caption {
  color: #323538;
}
.invite.invite-dialog .content {
  border: 1px solid #4190b9;
  border-radius: 5px;
}
.invite.invite-dialog .content .tabs {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.invite.invite-dialog .content .tabs button {
  height: 55px;
  background: #888b8e;
  /*&:not(.active) svg {
                        fill: #585F66;
                    }*/
}
.invite.invite-dialog .content .tabs button span {
  margin: 0;
  width: 100%;
  text-align: center;
}
.invite.invite-dialog .content .tabs button span svg {
  fill: #585f66;
  margin: 0;
}
@media (max-width: 600px) {
  .invite.invite-dialog .content .tabs button.spitball .desktop-icon {
    display: none;
  }
  .invite.invite-dialog .content .tabs button.spitball svg {
    width: 50px;
    height: 25px;
  }
}
@media (min-width: 600px) {
  .invite.invite-dialog .content .tabs button.spitball .mobile-icon {
    display: none;
  }
  .invite.invite-dialog .content .tabs button.spitball svg {
    width: 140px;
    height: 40px;
    padding-top: 12px;
  }
}
.invite.invite-dialog .content .tabs button.spitball.active svg {
  fill: #3293F6;
}
.invite.invite-dialog .content .tabs button.email svg {
  width: 35px;
  height: 25px;
}
.invite.invite-dialog .content .tabs button:not(:last-child) {
  margin-right: 4px;
}
.invite.invite-dialog .content .tabs button.facebook svg {
  height: 35px;
  width: 35px;
}
.invite.invite-dialog .content .tabs button.active {
  background: #ffffff !important;
}
.invite.invite-dialog .content .center {
  min-height: 350px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /*md-checkbox {
                    margin: 0;
                }

                md-checkbox.md-default-theme .md-icon,
                md-checkbox .md-icon {
                    border-color: rgba(255, 255, 255, 0.54);
                }

                md-checkbox .md-ink-ripple {
                    color: rgba(50, 147, 246,0.87);
                }

                md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
                    background-color: rgba(50, 147, 246,0.87);
                }*/
}
.invite.invite-dialog .content .center .contacts {
  width: 100%;
}
.invite.invite-dialog .content .center .search-user {
  padding: 10px 15px;
}
.invite.invite-dialog .content .center .search-user md-input-container .md-errors-spacer {
  display: none;
}
.invite.invite-dialog .content .center .email,
.invite.invite-dialog .content .center .facebook {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.invite.invite-dialog .content .center .email .text-wrapper,
.invite.invite-dialog .content .center .facebook .text-wrapper {
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.invite.invite-dialog .content .center .email .text,
.invite.invite-dialog .content .center .facebook .text {
  text-align: center;
  color: #212325;
  max-width: 300px;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 20px;
}
.invite.invite-dialog .content .center md-input-container {
  margin-bottom: 0;
}
.invite.invite-dialog .content .center .empty-state {
  height: 290px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #888b8e;
  max-width: 420px;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  white-space: pre-wrap;
}
.invite.invite-dialog .content .center .text,
.invite.invite-dialog .content .center .empty-state {
  color: #212325;
}
.invite.invite-dialog .content .center md-list {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.invite.invite-dialog .content .center .user {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 80%;
  /*****************/
  /* entire container, keeps perspective */
  /* flip the pane when hovered */
  /*.flip-container:hover .flipper, .flip-container.hover .flipper {
                        transform: rotateY(180deg);
                    }*/
  /* flip speed goes here */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */
  /****************/
  /*.checkbox:before {
                        content: '\2714';
                        width: 40px;
                        height: 40px;
                        background: @buttonColorBlue;
                        color: @textColorWhite;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 100%;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        margin-right: 16px;
                        display: none;
                    }

                    &.selected {
                        .md-avatar {
                            display: none;
                        }

                        &:before {
                            display: block;
                        }
                    }*/
}
.invite.invite-dialog .content .center .user .avatar img,
.invite.invite-dialog .content .center .user .avatar span {
  margin: 0;
}
.invite.invite-dialog .content .center .user .md-list-item-text {
  margin-left: 16px;
}
.invite.invite-dialog .content .center .user .checkbox:before {
  content: '\2714';
  width: 40px;
  height: 40px;
  background: #4190b9;
  color: #212325;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  display: block;
  font-size: 24px;
}
.invite.invite-dialog .content .center .user .flip-container {
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.invite.invite-dialog .content .center .user.selected .flip-container .flipper {
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -ms-transform: none;
}
.invite.invite-dialog .content .center .user.selected .flip-container .checkbox {
  -ms-transform: rotateY(0deg);
}
.invite.invite-dialog .content .center .user.selected .flip-container .avatar {
  -ms-transform: rotateY(180deg);
}
.invite.invite-dialog .content .center .user .flip-container,
.invite.invite-dialog .content .center .user .avatar,
.invite.invite-dialog .content .center .user .checkbox {
  width: 40px;
  height: 40px;
}
.invite.invite-dialog .content .center .user .flipper {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 40px;
}
.invite.invite-dialog .content .center .user .avatar,
.invite.invite-dialog .content .center .user .checkbox {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
.invite.invite-dialog .content .center .user .avatar {
  z-index: 2;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.invite.invite-dialog .content .center .user .checkbox {
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.invite.invite-dialog .content .bottom {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
  margin: 1px 5px;
  min-height: 35px;
}
.invite .portlet-title {
  padding-right: 25px;
}
.invite.light {
  margin: 0;
}
.invite.upload .portlet-title {
  color: #ffffff;
}
.invite.upload button.close {
  background: transparent;
  top: 0;
  position: absolute;
  right: 0;
  padding: 7px 15px;
  margin: 6px auto;
}
.invite.upload button.close:active:hover {
  background: transparent;
}
.invite.upload button.close svg {
  fill: #ffffff;
  width: 15px;
  height: 15px;
}
.invite .tab-content .buttons {
  margin-top: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.invite .tab-content .uploadLink .buttons {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.invite .tab-content .uploadFile .buttons {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .invite-container {
    position: fixed;
    bottom: 0;
    left: 15px;
    z-index: 9;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    /*&.hidden-elemnt {
            display: none;
        }*/
  }
  .invite-container .portlet.light.invite {
    border-radius: 100%;
    width: initial;
    background: #db4437 !important;
  }
  .invite-container .portlet.light.invite button {
    padding: 10px;
  }
  .invite-container .portlet.light.invite button svg {
    width: 30px;
    height: 30px;
    fill: #f9f9f9;
  }
  .invite-container .portlet.light.invite button span {
    display: none;
  }
}
@media (max-width: 600px) {
  .invite-container.hideMobile {
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
}
/*.chipsdemoContactChips md-content.autocomplete {
    min-height: 300px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}*/
/*@media (min-width: 900px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}*/
/*.md-contact-suggestion img {
    vertical-align: baseline;
}

.md-contact-chips .md-chips .md-chip .md-contact-avatar img {
    vertical-align: baseline;
}*/