@import "variables.less";

//invite btn in dashboard/box
.portlet.light.invite {
    text-align: center;
    font-size: 18px;
    height: @dashboardCubeHeight;

    svg {
        fill: @fileColor;
        width: 75px;
        height: 75px;
        display: block;
        margin: 0 auto;
    }

    .buttonBlue();
}

.invite {
    background: @backgroundColorMenu;
    padding: 0 10px 10px;
    margin-top: 10px;
    margin: 0;

    .tab-from-right {
        background: none;
        padding-top: 0;
        padding-right: 0;

        .mail {
            margin-right: 0;
        }
    }

    button {
        margin: 0 auto;
    }

    .body {
        //margin: 0 15px;
        background: @backgroundColor;
    }

    md-content {
        @colorplaceholder: #646E77;

        ::-webkit-input-placeholder {
            color: @textColorGrey;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: @textColorGrey;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: @textColorGrey;
        }

        :-ms-input-placeholder {
            color: @textColorGrey;
        }

        background: @backgroundColor;
        position: relative;
    }

    md-list md-list-item button.md-button:not([disabled]):hover {
        background-color: transparent;
    }

    .send {
        margin: 0 15px 15px 15px;
    }

    .gmail {
        .displayFlex();
        padding: 10px 0 10px 16px;
        background: @backgroundColor2;
        margin: 0 auto;
        width: 196px;
        white-space: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        svg {
            width: 60px;
            fill: @svgGmail;
            background-color: @backgroundColorWhite;
            vertical-align: middle;
        }

        span {
            line-height: 18px;
            width: 60%;
            margin-top: 3px;
        }
    }
}

.md-chips .md-chip-input-container {
    color: @textColorWhite;
}

md-chips .md-chips.md-focused {
    box-shadow: 0 2px @textColorGrey;
}

.chipsdemoContactChips md-content.autocomplete {
    min-height: 300px;
}

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsdemoContactChips .contact-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: @textColorLightGrey;
}

@media (min-width: 900px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px;
}

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: auto;
}

//override bootstrap
.md-contact-suggestion img {
    vertical-align: baseline;
}

.md-contact-chips .md-chips .md-chip .md-contact-avatar img {
    vertical-align: baseline;
}
