.static-page {
  background: #f5f5f5;
  color: #181C1D;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 10px;
  max-width: 800px;
}
.static-page h1 {
  background: #4190B9;
  color: #f5f5f5;
  margin-top: 0;
  font-size: 18px;
  padding: 10px;
}
.static-page > div {
  margin: 10px;
}
.static-page .content {
  background: #f5f5f5;
  color: #181C1D;
}
.help-page {
  max-width: 800px;
}
.help-page .portlet.light,
.help-page .nav-tabs {
  background: none;
}
.help-page ol,
.help-page ul {
  margin-right: 15px;
}
.help-page .panel-default > .panel-heading {
  background: #808080;
  color: #f5f5f5;
  font-size: 18px;
  border-radius: 0;
}
.help-page .in ~ .panel-heading {
  background: #4190B9;
}
.help-page .panel-group .panel {
  color: #181C1D;
  border: none;
  border-radius: 7px;
  overflow: hidden;
}
.help-page .nav-tabs {
  margin-bottom: 0;
}
.help-page .nav-tabs li {
  margin: 0;
}
.help-page .nav-tabs li > a {
  font-size: 14px;
}
.help-page .portlet.light .portlet-body {
  padding-top: 15px;
}
.help-page .portlet.light .caption {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.help-page .portlet.light > .portlet-title {
  border-bottom: 1px solid #F4F4F4;
  min-height: 12px;
}
.help-page .accordion-toggle .panel-heading {
  color: #f5f5f5;
  background: #888b8e;
}
.help-page .accordion-toggle:not(.collapsed) .panel-heading {
  background: #4190b9;
}
.help-page md-tabs {
  background: none;
  overflow: inherit;
  /*md-tabs-content-wrapper {
            top: 58px;
        }*/
}
.help-page md-tabs md-tab-content {
  margin-top: 15px;
}
.help-page h2 {
  font-size: 16px;
}
.contactUs-page {
  margin: 0 auto;
}
.contactUs-page .page-title {
  padding: 0;
}
.contactUs-page .page-title h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
}
.contactUs-page #map {
  color: #282828;
}
@media (min-width: 960px) {
  .contactUs-page .contact-us {
    padding-left: 25px;
  }
}
.contactUs-page .contact-us .data {
  background: #f5f5f5;
  color: #282828;
  font-size: 28px;
  font-weight: normal;
}
.contactUs-page .contact-us .data h4 {
  background: #4190b9;
  color: #f5f5f5;
  display: inline-block;
  width: 180px;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.contactUs-page .contact-us .data address {
  padding: 8px;
  margin: 0;
}
.contactUs-page .contact-us .data address.address {
  margin-bottom: 30px;
}
.contactUs-page .contact-us .data address a {
  color: #282828;
}
.contactUs-page .feedback md-content {
  background: transparent;
}
.contactUs-page .feedback label {
  color: #888b8e !important;
}
.contactUs-page .feedback .submit-wrapper {
  text-align: left;
}
.contactUs-page .contact-us .data,
.contactUs-page .feedback .data,
.contactUs-page .contact-us h3,
.contactUs-page .feedback h3 {
  padding: 25px;
  margin: 0;
  font-size: 22px;
}
.contactUs-page .contact-us h3,
.contactUs-page .feedback h3 {
  font-weight: bold;
}
.contactUs-page .feedback .data {
  padding-top: 0;
  line-height: initial;
}
.contactUs-page .social-links {
  margin-top: 15px;
}
.contactUs-page .social-links svg {
  fill: #4190b9;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 100%;
}
.contactUs-page .social-links a {
  float: right;
  border-radius: 100%;
}
.contactUs-page .social-links .wrapper {
  display: inline-block;
}
.aboutUs-page .advantages {
  color: #888b8e;
}
.aboutUs-page .advantages .portlet {
  background-color: #f5f5f5;
  border-radius: 0;
  text-align: center;
  padding: 22px 30px;
  min-height: 240px;
}
.aboutUs-page .advantages .card-icon {
  border-radius: 100%;
  border: 1px solid #dfe2e9;
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 14px;
  margin-bottom: 20px;
}
.aboutUs-page .advantages .card-icon.speech svg {
  width: 40px;
  height: 40px;
}
.aboutUs-page .advantages .card-icon.web svg {
  width: 40px;
  height: 40px;
}
.aboutUs-page .advantages .card-icon.social-network {
  padding: 10px;
}
.aboutUs-page .advantages .card-icon.social-network svg {
  width: 45px;
  height: 45px;
}
.aboutUs-page .advantages .card-icon.hand {
  padding: 15px;
}
.aboutUs-page .advantages .card-icon.hand svg {
  width: 37px;
  height: 37px;
}
.aboutUs-page .advantages .card-icon svg {
  width: 65px;
  height: 65px;
  fill: #282828;
}
.aboutUs-page .advantages .card-title {
  color: #323538;
  font-weight: bold;
}
.aboutUs-page .advantages .card-desc span {
  line-height: 17px;
  display: block;
}
.aboutUs-page .about-text {
  font-size: 16px;
  line-height: initial;
  background: transparent;
  padding: 0;
  height: 360px;
  overflow: scroll;
  color: #f5f5f5;
  padding-left: 10px;
  margin-bottom: 20px;
}
.aboutUs-page .about-text h4 {
  font-weight: bold;
  margin: 0;
}
.aboutUs-page .about-text div {
  margin-bottom: 20px;
}
.aboutUs-page .team-header h1 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.aboutUs-page .team > div {
  padding: 15px;
}
.aboutUs-page .team .portlet {
  text-align: center;
  background: #f5f5f5;
  color: #282828;
  border-radius: 0;
}
.aboutUs-page .team .portlet .desc {
  height: 44px;
  display: block;
}
.aboutUs-page .team .portlet .photo {
  display: inline-block;
  width: 50%;
}
.aboutUs-page .middle-area {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.aboutUs-page .middle-area .about-text-wrapper {
  text-align: right;
}
.aboutUs-page .middle-area .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.aboutUs-page .middle-area .video-wrapper iframe,
.aboutUs-page .middle-area .video-wrapper object,
.aboutUs-page .middle-area .video-wrapper embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.aboutUs-page .about-header {
  height: 500px;
  background-image: url("/Images/aboutUs/aboutBg.jpg");
  background-position: center;
  margin: 0 -5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
}
.aboutUs-page .about-header h1 {
  font-weight: 600;
  font-size: 52px;
}
.aboutUs-page .about-header h2 {
  text-transform: uppercase;
  font-size: 22px;
}
