@import "variables.less";


@textColorBlack: #ffffff;
@textColorWhite: #212325;
@textColorGrey: #888b8e;
@textColorDarkGrey: #ffffff;
@textColorLightGrey: #c3c3c3;
@textColorLike: #4190b9;
@textColorBlue: #2698D4;
@textColorHover: #5B9CC2;
@textColorSpitballBlue: #3293F6;
@textColorGreen: #8dc63f;
@textColorRed: #db4437;
@textColorOrange: #ffa500;

//backgrounds
@backgroundColor: #e9eaed;
@backgroundColor2: #9E9E9E;
@backgroundColorWhite: #212325;
@backgroundColorMenu: #ffffff;
@backgroundColorFollow: #006072;
@backgroundColorItem: #6a737d;
@backgroundColorRed: #db4437;
@backgroundColorSpitballBlue: #3293F6;
@backgroundColorDropdown: #536470;
@backgroundColorHover: #404346;
@backgroundColorGreen: #008000;
@backgroundColorMenuSelect: #292d31;
@backgroundColorMouseOver: #dadce2;

//borders
@borderColorGrey: #3D4348;
@borderColorLightGrey: #8c99a6;
@borderColorDarkGrey: #ffffff;
@borderColorWhite: #212325;
@borderColorBlack: #282828;
@borderColorDarkBlue: #376E8C;
@borderColorBlue: #3598dc;
@borderColorSpitballBlue: #3293F6;
@borderColorRed: #db4437;
@borderColorGreen: #008000;
@borderColorBottomGrey: #5d6063;
//buttons
@buttonColorBlue: #4190b9;
@buttonColorHover: #26566e;
@buttonColorRed: #db4437;

//svg/images
@fileColor: #f9f9f9;
@linkColor: #64D0FF;
@svgColorGrey: #484F56;
@dropboxColor: #007EE5;
@anonymousColor: #d39f10;
@checkMarkColor: #8dc63f;
@headerImagesColor: #5f6871;
@svgLightGrey: #c2c2c2;
@svgQuizArrows: #c5c5c5;
@svgQuizPlay: #3598dc;
@svgQuizCorrect: #007E01;
@svgQuizWrong: #BE2A4A;
@svgQuizTime: #2698D4;
@svgQuizBald: #4190b9;
@svgQuizCompleted: #9782B1;
@svgQuizRanking: #F76446;
@svgGmail: #ED1921;
@svgDots: #5d6063;

//scrollbar
@scrollbarColor: rgba(157,153,156,.5);

//progressbar
@progressbarColor: #8dc63f;
@progressbarColorQuiz: #85A7B8;
@progressbarBackgroundColor: #dfe2e9;

@color-beige: #DFB07C;


/*#endregion*/
@import "siteColors.less";


.theme-light {
    .userLetter {
        color: @textColorWhite;
    }

    ::-webkit-scrollbar-thumb {
        background: @scrollbarColor;
    }
    //add btn
    .add {
        background: @buttonColorRed;

        svg {
            fill: @textColorWhite;
        }
    }
    /*#region angularmaterial*/
    .dd-list {
        md-content {
            background: @backgroundColorMenu;
            color: @textColorWhite;
        }

        md-option {
            border-bottom: 1px solid @borderColorBlack;

            &[selected] {
                color: @textColorBlue;

                &:focus {
                    color: @textColorBlue;
                }
            }
        }
    }


    md-select:not([disabled]):focus .md-select-value {
        color: @textColorWhite;
        border-bottom: 1px solid @borderColorDarkBlue;
    }

    md-select .md-select-value.md-select-placeholder {
        color: @textColorWhite;
    }

    md-select-menu md-option:focus:not([disabled]):not([selected]) {
        background: @backgroundColorMenu;
    }

    md-input-container:not(.md-input-invalid).md-input-has-value label {
        color: @textColorGrey;
    }

    md-input-container label {
        color: @textColorLightGrey;
    }

    .md-select-value .md-select-icon,
    md-select .md-select-value,
    md-input-container .md-input,
    .form-group.form-md-line-input .form-control {
        color: @buttonColorBlue;
        border-color: @buttonColorBlue;

        &:focus, &:active {
            color: @textColorBlue;
        }
    }

    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
    md-input-container:not(.md-input-invalid).md-input-focused .md-input {
        border-color: @textColorLike;
    }

    .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ label:after,
    .form-group.form-md-line-input .form-control.edited:not([readonly]) ~ .form-control-focus:after,
    .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ label:after,
    .form-group.form-md-line-input .form-control:focus:not([readonly]) ~ .form-control-focus:after,
    .form-group.form-md-line-input .form-control.focus:not([readonly]) ~ label:after,
    .form-group.form-md-line-input .form-control.focus:not([readonly]) ~ .form-control-focus:after {
        background: @textColorLike;
    }

    md-input-container .md-input {
        color: @textColorWhite;
    }

    md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
        background: @buttonColorBlue;
    }
    /*tabs*/
    md-tabs {
        md-tabs-wrapper {
            background: #323538;
        }

        .md-tab {
            color: @textColorGrey;

            &.md-active {
                color: @textColorWhite;
            }
        }

        md-ink-bar {
            color: @borderColorBlue;
            background: @borderColorBlue;
        }
    }
    /*#endregion*/
    .close {
        &:hover {
            color: @textColorWhite;
        }

        svg {
            fill: @textColorWhite;
        }
    }

    .create-box {
        &:hover {
            .dashboard-stat2 {
                border: 2px solid @buttonColorBlue;
                color: @buttonColorBlue;
            }

            .plus {
                svg {
                    fill: @buttonColorBlue;
                }
            }
        }

        .dashboard-stat2 {
            border: 2px solid @textColorGrey;
            color: @textColorGrey;
        }

        .plus {
            svg {
                fill: @textColorGrey;
            }
        }

        md-input-container .md-input {
            color: @textColorWhite;
            border-color: @borderColorLightGrey;
        }

        &.create-box-show, &.create-deparment-show {
            .dashboard-stat2 {
                border: 2px solid @borderColorLightGrey;
            }
        }

        md-input-container:not(.md-input-invalid).md-input-focused .md-input {
            border-bottom: 1px solid @textColorGrey;
            color: @textColorGrey;
        }
    }

    .page-title {
        svg {
            fill: @backgroundColorMenu;
        }
    }

    .button-Blue {
        background: @buttonColorBlue !important;

        &:hover {
            background: @buttonColorHover !important;
            color: @textColorWhite !important;
        }
        /*&:focus {
        color: inherit;
    }*/
    }

    .tab-from-r {
        & > li {
            & > a {
                color: @textColorDarkGrey;
            }

            .overElement() {
                color: @textColorWhite;
            }

            &.active {
                border-bottom: 3px solid @borderColorBlue;
            }
        }
    }

    .nav-tabs, .tabbable {
        background: @backgroundColorMenu;

        li {
            color: @textColorWhite;

            &:hover, &:focus {
                color: @textColorBlue;
            }

            &.active, &:active {
                border-bottom: 3px solid @borderColorBlue;
                color: @textColorWhite;
            }

            &.active > a, &.active > a:hover, &.active > a:focus {
                color: @textColorWhite;
            }

            & > a {
                color: @textColorGrey;

                &:hover {
                    color: @textColorBlue;
                }
            }
        }
    }
    //footer arrow up
    .scroll-to-top {
        svg {
            fill: @borderColorBlue;
        }
    }
    //md-input colors override:
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
    md-input-container:not(.md-input-invalid).md-input-focused label {
        color: @textColorLike;
    }
    /*#region header.less*/
    .headerMenu {
        fill: @borderColorBottomGrey;
    }

    .headerMenu:hover {
        fill: @backgroundColorMouseOver;
    }

    .searchIcon {
        fill: @textColorWhite;
    }

    .top-menu {
        svg {
            fill: @headerImagesColor;
        }

        .navbar-nav .open li {
            a {
                svg {
                    fill: @backgroundColorWhite;
                }
            }
        }

        .badge-notifcation {
            background-color: @backgroundColorRed;
        }
    }

    .login, .signin {
        background: @backgroundColorWhite;
        color: @textColorBlack;

        &:hover {
            background: @backgroundColorWhite !important;
        }
    }

    .login {
        background: @backgroundColorSpitballBlue;
        color: @textColorWhite;

        &:hover {
            background: @backgroundColorSpitballBlue !important;
        }
    }

    .md-user-menu {
        background: @backgroundColorMenu;



        &:before {
            border-bottom: 8px solid @backgroundColorMenu;
        }



        .user-menu-item {

            svg {
                fill: @textColorWhite;
            }



            .md-button {
                span {
                    color: @textColorWhite;
                }
            }
        }
    }

    .nav-bar {
        background: @backgroundColorMenu;
        border-bottom: 5px solid @backgroundColor;

        .user-md-menu {
            &:hover {
                background: @backgroundColorMouseOver;
            }
        }
    }
    /*#endregion*/
    /*#region accountSettings.less*/
    .accountPage-wrapper {
        //.profile-content {
        .section {
            background: @textColorDarkGrey;
        }
        //}
        .ontop {
            background: @backgroundColorSpitballBlue;
            color: @textColorWhite;
        }

        md-input-container:not(.md-input-invalid).md-input-focused .md-input {
            border-bottom: 1px solid @textColorBlue;
        }

        .tab-from-r > li {
            &:hover {
                > a {
                    color: @textColorBlue;
                }
            }

            &.active {
                border-bottom: 3px solid @borderColorBlue;

                > a {
                    color: @textColorWhite;
                }
            }

            > a {
                color: @textColorGrey;
            }
        }

        .notification-list {
            li {
                border-bottom: 1px solid @borderColorBottomGrey;

                .owner {
                    color: @textColorGrey;
                }
            }
        }
    }

    .change-email-dialog {
        svg {
            fill: @backgroundColorMenu;
        }
    }
    /*#endregion*/
    /*#region box.less*/
    .folder-selected {
        .arrow {
            fill: @backgroundColorMenu;
        }
    }
    /*#endregion*/
    /*#region feed.less*/
    .feed {
        .comment-date {
            color: @svgDots;
        }

        .comment, .add-comment {
            & > .top {
                color: @textColorWhite;
            }
        }

        .comment {
            background: @backgroundColor;

            .c-img {
                border: 3px solid @borderColorDarkGrey;
            }
            //.like {
            //    color: @textColorLike;
            //}
            .user-name {
                color: @textColorBlue;
            }
        }

        .reply {
            //.like {
            //    color: @textColorDarkGrey;
            //}
            //.margins {
            //    &:hover {
            //        border-color: @textColorHover;
            //        color: @textColorHover;
            //    }
            //}
            .user-name {
                color: @textColorBlue;
            }
        }

        .actions {
            color: @textColorBlue;
            //border-top: 1px solid @textColorDarkGrey;
            svg {
                fill: @textColorGrey;
            }


            .dropbox {
                &:hover {
                    fill: @dropboxColor;
                }
            }
        }

        .replies {
            border-top: 2px solid @borderColorDarkGrey;
        }

        .add-reply {
            .reply-wrapper {
                border: 1px solid @svgDots;
            }
        }
    }

    .mdno-touchevents .feed .actions .anonymous-wrapper .anonymous:hover {
        fill: @anonymousColor;
    }
    /*#endregion*/
    .theme();
    /*#region ***************  OVERRIDE  ***************/
    @Color1: @backgroundColor; // #e9eaed
    @Color2: @svgQuizBald; // #4190b9
    @Color3: @textColorBlack; // #ffffff
    @Color4: #29769e;
    @Color5: #777777;
    @Color6: @textColorLightGrey; // #c3c3c3
    @Color7: @textColorWhite; // #212325
    @Color8: #f5f5f5;
    @Color9: @textColorGrey; //#888b8e
    @Color10: @borderColorLightGrey; //#8c99a6
    @Color11: @buttonColorHover; //#26566e
    @Color12: #a9a9a9; //#26566e
    @Transparent: transparent;
    /*
    Usage in HTML:
    color-override backgroundColor#
    color-override textColor#
    color-override svgColor#
    color-override borderColor#
    color-override outlineColor#
    color-override hoverBackgroundColor#
    color-override hoverTextColor#
    color-override hoverSvgColor#
    */
    &.color-override.backgroundColor1 {
        background: @Color1 !important;
        color: @Color7;
    }

    .color-classes(@name, @Color) {
        &.background@{name} {
            background: @Color !important;
        }

        &.text@{name} {
            color: @Color !important;
        }

        &.input@{name} {
            .placeHolder(@Color) !important;
        }

        &.svg@{name} {
            fill: @Color !important;
        }

        &.border@{name} {
            border-color: @Color !important;
        }

        &.hoverBackground@{name} {
            &:hover {
                background: @Color !important;
            }
        }

        &.hoverText@{name} {
            &:hover {
                color: @Color !important;
            }
        }

        &.hoverSvg@{name} {
            &:hover {
                fill: @Color !important;
            }
        }
    }

    .color-override {
        .color-classes(Color1, @Color1);
        .color-classes(Color2, @Color2);
        .color-classes(Color3, @Color3);
        .color-classes(Color4, @Color4);
        .color-classes(Color5, @Color5);
        .color-classes(Color6, @Color6);
        .color-classes(Color7, @Color7);
        .color-classes(Color8, @Color8);
        .color-classes(Color9, @Color9);
        .color-classes(Color10, @Color10);
        .color-classes(Color11, @Color11);
        .color-classes(Color12, @Color12);
        .color-classes(Transparent, @Transparent);
    }
    /*#region TODO*/
    // TODO: find a better way than leaving this css peace
    md-tabs {
        md-tabs-wrapper {
            background: @textColorBlack;
        }

        .md-tab.md-active {
            color: #4190b9;
        }
    }
    // color fixes to be changed to color classes
    .dashboard .portlet md-chips .md-chip {
        background: @textColorLightGrey;
    }


    .need-follow.box-title h1 {
        color: @Color8;
    }

    .itemPage header .fb-like.blue svg {
        fill: #26566e !important;
    }

    .library-choose .search-form-wrapper form {
        border: 1px solid @textColorGrey;
    }
    /*#endregion*/
    /*#endregion*/
}


.theme-light {
    .themeClasses(TC1, @backgroundColorMenu);
    .themeClasses(TC2, @textColorLightGrey);
    .themeClasses(TC3, @buttonColorBlue);
    .themeClasses(TC4, @textColorBlack);
    .themeClasses(TC5, @textColorGrey);
    .themeClasses(TC6, @textColorBlue);
    .themeClasses(TC7,@color-beige);
    .themeClasses(TC8,@textColorLightGrey);
    .themeClasses(TC9,#E0B17D);
    .themeClasses(TC10, @textColorGrey);
    .themeClasses(TC11, @textColorGrey);
    .themeClasses(TC12, @svgDots);
}
