@import "variables.less";

@textColorBlack: #282828;
@textColorWhite: #f5f5f5;
@textColorGrey: #888b8e;
@textColorDarkGrey: #323538;
@textColorLightGrey: #c3c3c3;
@textColorLike: #4190b9;
@textColorBlue: #2698D4;
@textColorHover: #5B9CC2;
@textColorSpitballBlue: #3293F6;
@textColorGreen: #8dc63f;
@textColorRed: #db4437;
@textColorOrange: #ffa500;

//backgrounds
@backgroundColor: #181c1d;
@backgroundColor2: #9E9E9E;
@backgroundColorWhite: #f5f5f5;
@backgroundColorMenu: #323538;
@backgroundColorFollow: #006072;
@backgroundColorItem: #6a737d;
@backgroundColorRed: #db4437;
@backgroundColorSpitballBlue: #3293F6;
@backgroundColorDropdown: #536470;
@backgroundColorHover: #404346;
@backgroundColorGreen: #008000;
@backgroundColorMenuSelect: #292d31;
@backgroundColorMouseOver: #212325;

//borders
@borderColorGrey: #3D4348;
@borderColorLightGrey: #8c99a6;
@borderColorDarkGrey: #323538;
@borderColorWhite: #f5f5f5;
@borderColorBlack: #282828;
@borderColorDarkBlue: #376E8C;
@borderColorBlue: #3598dc;
@borderColorSpitballBlue: #3293F6;
@borderColorRed: #db4437;
@borderColorGreen: #008000;
@borderColorBottomGrey: #5d6063;
//buttons
@buttonColorBlue: #4190b9;
@buttonColorHover: #26566e;
@buttonColorRed: #db4437;

//svg/images
@fileColor: #f9f9f9;
@linkColor: #64D0FF;
@svgColorGrey: #484F56;
@dropboxColor: #007EE5;
@anonymousColor: #d39f10;
@checkMarkColor: #8dc63f;
@headerImagesColor: #5f6871;
@svgLightGrey: #c2c2c2;
@svgQuizArrows: #c5c5c5;
@svgQuizPlay: #3598dc;
@svgQuizCorrect: #007E01;
@svgQuizWrong: #BE2A4A;
@svgQuizTime: #2698D4;
@svgQuizBald: #4190b9;
@svgQuizCompleted: #9782B1;
@svgQuizRanking: #F76446;
@svgGmail: #ED1921;
@svgDots: #5d6063;

//scrollbar
@scrollbarColor: rgba(157,153,156,.5);

//progressbar
@progressbarColor: #8dc63f;
@progressbarColorQuiz: #85A7B8;
@progressbarBackgroundColor: #dfe2e9;

@color-beige: #DFB07C;

@import "siteColors.less";
.theme();
.themeClasses(TC1, @backgroundColorMenu);
.themeClasses(TC2, @textColorGrey);
.themeClasses(TC3, @buttonColorBlue);
.themeClasses(TC4, @textColorWhite);
.themeClasses(TC5, @borderColorGrey);
.themeClasses(TC6, @textColorBlue);
.themeClasses(TC7,@color-beige);
.themeClasses(TC8,@textColorLightGrey);
.themeClasses(TC9,#E0B17D);
.themeClasses(TC10, @textColorGrey);
.themeClasses(TC11, @svgColorGrey);
.themeClasses(TC12, @backgroundColor2);
