@import "variables.less";

.userPage {
    .portlet {
        margin-bottom: 0; //override
        border-radius: 0; //override
    }

    .portlet.box {
        background: #353a3f;
        text-transform: uppercase;
        color: @textColorBlack;
    }

    .profile-usertitle-job {
        margin-bottom: 7px;
        margin-top: 2px;
        font-size: 15px;
        color: @textColorGrey;
    }

    .profile-userpic {
        .userLetter {
            font-size: 75px;
        }
    }

    .profile-usertitle-name {
        font-size: 20px;
        word-wrap: break-word;
        margin-right: 10px;
        margin-left: 10px;
        color: @textColorBlack;
    }

    .message {
        font-size: 16px;
        background: @svgQuizRanking;
        color: @textColorWhite;
        padding: 3px 13px;
        border-radius: 8px;
        margin: 20px 0 9px 0;
        .displayFlex;
        margin: 20px auto 9px auto;

        .content {
            .displayInlineFlex;
            .align-items(center);
        }

        svg {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            fill: @textColorWhite;
        }
    }

    .points-container {
        text-align: center;
        margin-top: 7px;
        background: @backgroundColorSpitballBlue;
        color: @textColorWhite;
    }

    h5 {
        font-size: 16px;
        margin: 0;
        padding: 3px 0 12px 0;
    }

    #points {
        font-size: 30px;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .points-awards {
        margin-top: 18px;
        line-height: 18px;
        padding-left: 13px;
        color: @textColorBlack;

        .earn {
            font-size: 16px;
        }

        hr {
            margin: 5px 5px 7px 0;
            border-color: @borderColorLightGrey;
        }

        ul {
            padding-left: 0;
            margin-top: 2px;
            margin-bottom: 20px;
        }
    }
    // svg {
    //     width: 17px;
    //     height: 17px;
    //     fill: @fileColor;
    //     vertical-align: middle;
    //     margin-right: 12px;
    // }
    .r-table {
        display: table;
        border-spacing: 15px;
        border-collapse: separate;
    }

    .r-table-row {
        display: table-row;
    }

    .r-table-cell {
        display: table-cell;
    }

    .header {
        .r-table-cell {
            text-align: center;
        }
    }

    md-tabs-canvas, md-pagination-wrapper {
        height: 54px;
        .displayFlex;
        .align-items(center);
    }

    .tab-content {
        margin: 0 -8px;
        //bottom: 0;
        //TODO: need to fix that
    }

    md-tab-content {
        background: @backgroundColor;
    }


    md-tabs {
        padding: 0;
        /*Fixed color box overalying members and items*/
        md-tab-content.md-left:not(.md-active) {
            -webkit-transform: none !important;
            transform: none !important;
            -webkit-animation: none !important;
            animation: none !important;
        }

        md-tab-item {
            padding: 0 10px;
            margin: 0 10px;

            .number {
                font-size: 18px;
                padding-bottom: 0;
                font-weight: bold;
            }
        }

        h3 {
            font-size: 16px;
            margin: 0;
            margin-bottom: 4px;
        }

        md-tab {
            margin: 0 20px 0 10px;
            background: transparent;
            outline: none;
            color: @textColorBlack;
        }
    }

    .portlet.light {
        padding: 0; //override
    }

    .posts {
        margin-bottom: 20px;
        .displayFlex();
        .align-items(center);
        color: @textColorBlack;

        > div {
            width: 100%;
        }

        .post-headline {
            display: block;
            font-size: 18px;
        }

        .post-content {
            width: 70%;
            display: inline-block;
        }

        .time-ago {
            font-size: 11px;
            flex-basis: 200px;
            text-align: right;
            color: @textColorGrey;
        }
    }

    .profile-content {
        .container {
            margin: 0 3px;
        }

        .portlet.light {
            margin: 0 12px;
            background: none;
        }
        .user-box{
            min-width: 300px;
        }
    }

    .quiz .top .first-letter {
        //.sizeOfLetter(10vw);
        @media (max-width: 599px) {
            .sizeOfLetter(10vw);
        }

        @media (min-width: 601px) and (max-width: 960px) {
            .sizeOfLetter(7vw);
        }

        @media (min-width: 961px) and (max-width: 1280px) {
            .sizeOfLetter(4vw);
        }
    }
}
