.userPage {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  /*#show-points-info {
        display: none;
    }*/
  /*@media(max-width: 600px) {
        #show-points-info ~ .points-info {
            max-height: 0;
            overflow: hidden;
            -moz-transition: max-height 0.3s ease-in;
            -o-transition: max-height 0.3s ease-in;
            -webkit-transition: max-height 0.3s ease-in;
            transition: max-height 0.3s ease-in;
        }

        #show-points-info:checked ~ .points-info {
            max-height: 100vh;
        }
    }*/
  /*.points-awards {
        margin-top: 18px;
        line-height: 18px;
        padding-left: 13px;
        color: @textColorBlack;

        .earn {
            font-size: 16px;
        }

        hr {
            margin: 5px 5px 7px 0;
            border-color: @borderColorLightGrey;
        }

        ul {
            padding-left: 0;
            margin-top: 2px;
            margin-bottom: 20px;
        }
    }*/
}
.userPage .portlet {
  margin-bottom: 0;
  border-radius: 0;
}
.userPage .portlet.box {
  background: #353a3f;
  text-transform: uppercase;
  color: #212325;
}
.userPage .profile-usertitle-job {
  margin-bottom: 7px;
  margin-top: 2px;
  font-size: 15px;
  color: #888b8e;
}
.userPage .profile-userpic .userLetter {
  font-size: 75px;
}
.userPage .profile-usertitle-name {
  font-size: 20px;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  color: #212325;
}
.userPage .message {
  font-size: 16px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 8px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.userPage .message .content {
  display: -webkit-flex;
  display: -ms-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.userPage .message .content md-icon {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  fill: #ffffff;
}
@media (max-width: 600px) {
  .userPage .message {
    padding: 4px 10px;
  }
  .userPage .message .content span {
    display: none;
  }
  .userPage .message .content md-icon {
    margin-left: 0;
  }
}
.userPage .points-container {
  display: block;
  text-align: center;
  background: #ffce2f;
  color: #212325;
}
.userPage .points-container #points {
  font-weight: bold;
  color: #ffffff;
}
.userPage .points-container span {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 3px 0 12px 0;
}
.userPage #points {
  font-size: 30px;
  margin: 0;
  padding: 10px 0 0 0;
}
.userPage .points-info {
  background: #ffffff;
}
.userPage .points-info h1 {
  background: #73b435;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  margin: 0;
}
.userPage .points-info table {
  width: 100%;
  text-align: center;
  /*.odd, .even {
                th, tr:nth-child(1) td {
                    padding-top: 10px;
                }

                th, tr:nth-last-child(1) td {
                    padding-bottom: 10px;
                }
            }*/
}
.userPage .points-info table th {
  vertical-align: top;
  text-align: right;
  padding: 0 6px;
  font-size: 14px;
  color: #2a5501;
  min-width: 120px;
  width: 1%;
  line-height: 36px;
  text-transform: capitalize;
}
.userPage .points-info table tr:nth-child(even) {
  background: rgba(115, 180, 53, 0.3);
}
.userPage .points-info table .titles {
  line-height: 40px;
}
.userPage .points-info table .titles md-icon {
  fill: #73b435;
}
.userPage .points-info table .titles md-icon.view {
  width: 30px;
  height: 20px;
}
.userPage .points-info table .titles md-icon.download {
  width: 17px;
  height: 22px;
}
.userPage .points-info table .titles md-icon.like {
  width: 20px;
  height: 19px;
}
.userPage .profile-sidebar-portlet,
.userPage .points-container,
.userPage .points-info {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
}
.userPage .r-table {
  display: table;
  border-spacing: 15px;
  border-collapse: separate;
}
.userPage .r-table-row {
  display: table-row;
}
.userPage .r-table-cell {
  display: table-cell;
}
.userPage .header .r-table-cell {
  text-align: center;
}
.userPage md-tabs-canvas,
.userPage md-pagination-wrapper {
  height: 60px;
}
.userPage .badges-tabs md-tabs-canvas,
.userPage .badges-tabs md-pagination-wrapper {
  height: 56px;
}
@media (min-width: 600px) {
  .userPage .badges-tabs md-tabs-canvas,
  .userPage .badges-tabs md-pagination-wrapper {
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .userPage .badges-tabs md-tabs-canvas,
  .userPage .badges-tabs md-pagination-wrapper {
    height: 40px;
  }
  .userPage .badges-tabs md-tabs-canvas md-tab-item,
  .userPage .badges-tabs md-pagination-wrapper md-tab-item {
    padding: 10px 0;
  }
}
.userPage .custom-progress-bar {
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
.userPage .custom-progress-bar.md-default-theme .md-container,
.userPage .custom-progress-bar .md-container {
  border-radius: 15px;
}
.userPage .custom-progress-bar.md-default-theme .md-container,
.userPage .custom-progress-bar .md-bar,
.userPage .custom-progress-bar .md-container {
  height: 30px;
}
.userPage .custom-progress-bar .md-container {
  background: #2a5501;
  height: 30px;
}
.userPage .custom-progress-bar .md-container .md-bar {
  background: #73b435;
}
@media (max-width: 600px) {
  .userPage .custom-progress-bar {
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
  }
  .userPage .custom-progress-bar.md-default-theme .md-container,
  .userPage .custom-progress-bar .md-container {
    border-radius: 15px;
  }
  .userPage .custom-progress-bar.md-default-theme .md-container,
  .userPage .custom-progress-bar .md-bar,
  .userPage .custom-progress-bar .md-container {
    height: 30px;
  }
  .userPage .custom-progress-bar .md-container {
    background: #2a5501;
    height: 30px;
  }
  .userPage .custom-progress-bar .md-container .md-bar {
    background: #73b435;
  }
}
.userPage .badges-wrapper {
  margin-top: -10px;
}
.userPage .badges-wrapper .badges-bar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.userPage .badges-wrapper .info {
  flex-grow: 0;
  flex-shrink: 1;
}
.userPage .badges-wrapper .info md-icon {
  width: 28px;
  height: 28px;
  margin-right: 32px;
  margin-bottom: 14px;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper .info md-icon {
    width: 16px;
    height: 16px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.userPage .badges-wrapper md-tab-item {
  color: #212325;
  padding: 14px 0;
}
@media (min-width: 600px) {
  .userPage .badges-wrapper md-tab-item {
    min-width: 33%;
  }
}
.userPage .badges-wrapper md-tabs {
  flex-grow: 1;
  flex-shrink: 0;
  border-bottom: 1px solid #73b435;
}
.userPage .badges-wrapper md-tabs h4 {
  font-size: 16px;
  margin: 6px 0;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper md-tabs h4 {
    font-size: 12px;
    margin: 5px 0;
  }
}
.userPage .badges-wrapper md-tabs .md-tab.md-active {
  color: #73b435;
}
.userPage .badges-wrapper .tab {
  /*&.badges {
                .expanded {
                    padding: 70px 0;
                    position: relative;
                    .displayFlex;
                    .align-items(center);
                    .justifyContet(space-between);

                    .badge-container {
                        max-width: 290px;
                        width: 100%;
                        flex-grow: 0;

                        @media(max-width:600px) {
                            max-width: 200px;
                            margin: 0 10px;
                        }

                        .image {
                            width: 100%;
                            max-width: 126px;

                            @media(max-width:600px) {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        md-icon {
                            width: 32px;
                            height: 32px;
                            padding: 8px;

                            @media(max-width:600px) {
                                width: 28px;
                                height: 28px;
                                padding: 6px;
                            }
                        }
                    }

                    .details {
                        background: @gamificationYellow;
                        margin: 20px -8px -16px -8px;
                        color: @textColorWhite;
                        padding: 20px;
                        font-size: 20px;

                        @media(max-width:600px) {
                            margin-top: 10px;
                            padding: 10px;
                            font-size: 16px;
                        }

                        .condition {
                            margin-bottom: 26px;

                            @media(max-width:600px) {
                                margin-bottom: 10px;
                            }
                        }

                        .points {
                            display: inline-block;
                            margin: 0 auto;
                            padding: 2px 10px;
                            border: 2px solid @textColorWhite;
                            border-radius: 20px;

                            @media(max-width:600px) {
                                padding: 2px 6px;
                            }
                        }
                    }

                    .next, .prev {
                        flex-grow: 1;
                        flex-shrink: 0;
                        text-align: center;

                        md-icon {
                            width: 25px;
                            height: 25px;
                            fill: @headerbackground;

                            &.disabled {
                                cursor: auto;
                                opacity: 0;
                            }
                        }
                    }

                    .prev md-icon {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                    .close {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        width: 16px;
                        height: 16px;
                        fill: @headerbackground;
                    }
                }

                .badges-container {
                    margin-top: 20px;
                    padding-bottom: 20px;
                    .align-items(center);
                    .justifyContet(center);
                }

                .wrapper {
                    padding: 10px;
                    width: 190px;
                    display: inline-block;

                    @media(max-width: 600px) {
                        padding: 8px;
                    }
                }

                .badge-container {
                    width: 100%;
                    text-align: center;
                    padding: 26px 8px 16px 8px;
                    display: inline-block;
                    border: 1px solid @backgroundColor2;
                    font-size: 14px;
                    position: relative;


                    md-icon {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        padding: 4px;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        background: @gamificationYellow;
                    }

                    .image {
                        width: 100%;
                        max-width: 100px;
                        margin: 0 auto;
                    }

                    .text {
                        margin: 8px 0 6px 0;

                        @media(max-width: 600px) {
                            margin-top: 10px;
                        }
                    }

                    .progress {
                        padding: 6px;
                        border: 2px solid @gamificationYellow;
                        border-radius: 20px;
                        max-width: 140px;
                        margin: 0 auto;

                        @media(max-width: 600px) {
                            padding: 6px;
                        }
                    }
                }
            }*/
}
.userPage .badges-wrapper .tab.levels {
  position: relative;
}
.userPage .badges-wrapper .tab.levels ul {
  padding: 0;
}
.userPage .badges-wrapper .tab.levels .level {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 14px;
  padding: 25px;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper .tab.levels .level {
    padding: 25px 0 25px 10px;
  }
}
.userPage .badges-wrapper .tab.levels .level:nth-child(odd) {
  background: #ebebeb;
}
.userPage .badges-wrapper .tab.levels .level .title {
  min-width: 110px;
  flex-shrink: 0;
  text-align: center;
}
.userPage .badges-wrapper .tab.levels .level .name {
  font-weight: bold;
  color: #536470;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper .tab.levels .level .name {
    font-size: 14px;
    text-align: center;
  }
}
.userPage .badges-wrapper .tab.levels .level .body {
  padding-right: 25px;
  width: 100%;
  position: relative;
  max-width: 500px;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper .tab.levels .level .body {
    padding-right: 10px;
    font-size: 12px;
  }
}
.userPage .badges-wrapper .tab.levels .level .body .text {
  padding: 0 15px;
}
.userPage .badges-wrapper .tab.levels .level .body .progress {
  position: relative;
}
.userPage .badges-wrapper .tab.levels .level .body .progress .text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #ffffff;
}
.userPage .badges-wrapper .tab.levels .level .inprogress {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.userPage .badges-wrapper .tab.levels .image {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  top: 0;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper .tab.levels .image {
    width: 80px;
    height: 80px;
  }
}
.userPage .badges-wrapper .tab.levels .image img {
  max-width: 100%;
}
.userPage .badges-wrapper .tab.levels md-progress-linear {
  margin: 14px 0 10px 0;
}
.userPage .badges-wrapper .tab.levels .counter {
  text-align: left;
  color: #4190b9;
  margin-top: 16px;
}
.userPage .badges-wrapper md-ink-bar {
  background: #73b435;
  height: 4px;
}
@media (max-width: 600px) {
  .userPage .badges-wrapper md-ink-bar {
    height: 3px;
  }
}
.userPage md-tab-content {
  background: #dadada;
}
.userPage .page-tabs {
  border-radius: 4px 4px 0 0;
  padding: 0;
  /*Fixed color box overalying members and items*/
}
.userPage .page-tabs md-tab-content.md-right:not(.md-active) {
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  animation: none !important;
}
.userPage .page-tabs md-tab-item {
  padding: 0 10px;
  margin: 7px 10px;
}
.userPage .page-tabs md-tab-item.md-active:after {
  content: '';
  display: block;
}
.userPage .page-tabs md-tab-item .number {
  font-size: 18px;
  padding-bottom: 0;
  font-weight: bold;
}
.userPage .page-tabs h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}
.userPage .page-tabs md-tab {
  margin: 0 10px 0 20px;
  background: transparent;
  outline: none;
  color: #212325;
}
.userPage .portlet.light {
  padding: 0;
}
.userPage .post-data {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #212325;
  background: #eeeeee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 10px;
}
.userPage .post-data > div {
  width: 100%;
}
.userPage .post-data .top {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 14px;
}
.userPage .post-data .top .name {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.userPage .post-data .top .name .box-letters {
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  margin-left: 10px;
}
.userPage .post-data .top .name .post-headline {
  text-transform: capitalize;
}
.userPage .post-data .post-headline {
  display: block;
  font-size: 18px;
}
.userPage .post-data .time-ago {
  font-size: 11px;
  color: #888b8e;
}
.userPage .profile-content {
  max-width: 1040px;
  flex-grow: 1;
  min-width: 0;
}
@media (max-width: 960px) {
  .userPage .profile-content {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  .userPage .profile-sidebar {
    display: none;
  }
}
@media (min-width: 960px) {
  .userPage .profile-sidebar {
    margin-right: 24px;
  }
}
.userPage .profile-sidebar .container {
  margin: 0 3px;
}
.userPage .profile-sidebar .portlet.light {
  background: #f5f5f5;
  min-height: 500px;
}
.userPage .profile-sidebar .user-box {
  min-width: 300px;
}
@media (min-width: 600px) {
  .userPage .profile-sidebar .files .file-element,
  .userPage .profile-sidebar .quizzes .quiz-element {
    padding: 20px;
  }
}
@media (max-width: 599px) {
  .userPage .quiz .top .first-letter {
    font-size: 10vw;
    width: 10vw;
    height: 10vw;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .userPage .quiz .top .first-letter {
    font-size: 7vw;
    width: 7vw;
    height: 7vw;
  }
}
@media (min-width: 961px) and (max-width: 1280px) {
  .userPage .quiz .top .first-letter {
    font-size: 4vw;
    width: 4vw;
    height: 4vw;
  }
}
.userPage .ad {
  text-align: center;
  padding: 8px;
}
.userPage .ad > div {
  margin: 0 auto;
}
/*.info-dialog {
    overflow: visible;
    width: 100%;
    max-width: 1000px;
    margin: 0 30px;

    @media(max-width: 600px) {
        margin: 0 10px;
    }

    .close {
        position: absolute;
        right: -20px;
        top: -20px;
        min-width: 0;
        min-height: 0;
        padding: 0;
        line-height: 0;
        margin: 0;
        background: @textColorWhite;
        padding: 10px;
        border-radius: 100%;
        z-index: 3;

        @media(max-width: 600px) {
            right: -8px;
            top: -8px;
            padding: 5px;
        }

        md-icon {
            fill: @headerbackground;
            width: 20px;
            height: 20px;

            @media(max-width: 600px) {
                width: 14px;
                height: 14px;
            }
        }
    }

    md-toolbar {
        .displayFlex();
        .align-items(stretch);
        background: @headerbackground;
        flex-shrink: 0;

        .text {
            color: @textColorWhite;
            text-align: center;
            font-size: 18px;
            margin: 30px 0;

            @media(max-width: 600px) {
                font-size: 12px;
                margin: 0;
            }

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin: 18px 0;

                @media(max-width: 600px) {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 8px 0;
                    max-width: 224px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }

            p {
                padding: 0 10px;
            }
        }

        .bg-r, .bg-l {
            background-repeat: no-repeat;
            width: 30%;
            background-size: contain;
            background-position: 0 100%;
            width: 100%;
            max-width: 220px;
        }

        .bg-l {
            background-image: url(/Images/Site/stars-l.png);
            background-position: 0 100%;
        }

        .bg-r {
            background-image: url(/Images/Site/stars-r.png);
            background-position: 100% 100%;
        }
    }

    md-dialog-content {
        padding: 50px 60px;

        @media(max-width: 600px) {
            padding: 14px 12px;
        }

        .wrapper {
            .displayFlex();
            .align-items(flex-start);
            .justifyContet(space-between);

            .text {
                font-size: 26px;

                @media(max-width: 600px) {
                    font-size: 14px;
                }
            }

            button {
                .colored-button(@gamificationYellow,@textColorWhite);
                .colored-button-hover(@gamificationYellow,@textColorWhite);
                border-radius: 5px;
                font-size: 22px;
                padding: 0 18px;
                margin-top: 3px;

                @media(max-width: 600px) {
                    margin-top: 0;
                    font-size: 12px;
                    padding: 2px 10px;
                    flex-shrink: 0;
                }
            }
        }

        .custom-progress-bar {
            .custom-progress-bar(@gamificationYellow,@backgroundCalmGrey,10px,5px);
        }

        md-progress-linear {
            margin-top: 20px;

            .md-container {
                .md-bar {
                    &.md-bar2:after {
                        content: '';
                        display: block;
                        right: -14px;
                        position: absolute;
                        width: 20px;
                        height: 0;
                        border-top: 22px solid @gamificationYellow;
                        border-right: 14px solid transparent;
                    }
                }
            }

            @media(max-width: 600px) {
                height: 12px;

                .md-container {
                    height: 12px;
                }
            }
        }

        .points-data {
            list-style: none;

            @media(min-width: 600px) {
                margin-top: 30px;
            }

            .point-data {
                text-align: center;
                margin-top: 32px;

                @media(max-width: 600px) {
                    margin-top: 10px;
                }

                .icon-wrapper {
                    height: 52px;

                    @media(max-width: 600px) {
                        height: 36px;
                    }
                }

                .points {
                    font-weight: bold;
                }

                md-icon, svg {
                    width: 40px;
                    height: 40px;
                    fill: @buttonColorBlue;

                    @media(max-width: 600px) {
                        width: 30px;
                        height: 30px;
                    }
                }

                &.class-invite {
                    md-icon, svg {
                        width: 53px;
                        height: 38px;

                        @media(max-width: 600px) {
                            width: 43px;
                            height: 28px;
                        }
                    }
                }

                &.upload-doc {
                    md-icon, svg {
                        width: 28px;
                        height: 40px;

                        @media(max-width: 600px) {
                            width: 18px;
                            height: 30px;
                        }
                    }
                }

                &.comment {
                    md-icon, svg {
                        height: 35px;

                        @media(max-width: 600px) {
                            height: 25px;
                        }
                    }
                }

                &.like {
                    md-icon, svg {
                        height: 38px;

                        @media(max-width: 600px) {
                            height: 28px;
                        }
                    }
                }

                &.post {
                    .icon-bg {
                        background: @buttonColorBlue;
                        border-radius: 100%;
                        padding: 8px;
                        display: inline-block;
                        line-height: 0;
                    }

                    md-icon, svg {
                        height: 24px;
                        width: 24px;

                        @media(max-width: 600px) {
                            height: 14px;
                            width: 14px;
                        }
                    }
                }

                &.accept-invite {
                    md-icon, svg {
                        width: 44px;
                        height: 44px;

                        @media(max-width: 600px) {
                            width: 34px;
                            height: 34px;
                        }
                    }
                }
            }
        }
    }
}*/