@import "variables.less";

.userPage {
    .portlet {
        margin-bottom: 0; //override
        border-radius: 0; //override
    }

    .portlet.box {
        background: #353a3f;
        color: @textColorWhite;
        text-transform: uppercase;

        &.friends > .portlet-title {
        }
    }

    .profile-usertitle-job {
        //color: #5b9bd1;
        margin-bottom: 7px;
        padding-bottom: 20px;
        color: @textColorWhite;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
    }

    .profile-usertitle-name {
        color: #f5f5f5;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
    }

    .points-container {
        text-align: center;
        background: @backgroundColorSpitballBlue;
        padding: 8px 0;
    }

    h5 {
        font-size: 16px;
        margin: 0;
    }

    #points {
        font-size: 30px;
    }

    .points-awards {
        margin-top: 18px;
        color: @textColorGrey;
        line-height: 18px;
        padding-left: 13px;

        .earn {
            font-size: 16px;
        }

        hr {
            margin: 5px 5px 7px 0;
            border-color: @borderColorLightGrey;
        }

        ul {
            padding-left: 0;
            margin-top: 11.5px;
        }
    }

   // svg {
   //     width: 17px;
   //     height: 17px;
   //     fill: @fileColor;
   //     vertical-align: middle;
   //     margin-right: 12px;
   // }

    .r-table {
        display: table;
        border-spacing: 15px;
        border-collapse: separate;
    }

    .r-table-row {
        display: table-row;
    }

    .r-table-cell {
        display: table-cell;
    }

    .header {
        .r-table-cell {
            text-align: center;
        }
    }

    .nav-tabs, .tabbable {
        padding: 0; //override
        button {
            font-size: 25px;
            padding-bottom: 5px;
        }

        h3 {
            font-size: 13px;
            margin: 12px 0 8px 0;
            color: @textColorGrey;
        }
    }

    .portlet.light {
        padding: 0; //override
    }

    .posts {
        margin-bottom: 20px;
        .displayFlex();
        color: @textColorWhite;
        align-items: center;

        > div {
            width: 100%;
        }

        .post-headline {
            display: block;
            font-size: 18px;
        }

        .post-content {
            width: 70%;
            display: inline-block;
        }

        .time-ago {
            color: @textColorGrey;
            font-size: 11px;
            flex-basis: 200px;
            text-align: right;
        }
    }

    .profile-content {
        .container {
            margin: 0 3px;
        }

        .portlet.light {
            margin: 0 12px;
        }
    }

    .quiz .top .first-letter {
        //.sizeOfLetter(10vw);
        @media (max-width: 599px) {
            .sizeOfLetter(10vw);
        }
        @media (min-width: 601px) and (max-width: 960px) {
            .sizeOfLetter(7vw);
        }

        @media (min-width: 961px) and (max-width: 1280px) {
            .sizeOfLetter(4vw);
        }
    }
}
