.userPage {
    .portlet.box {
        background:#fff;
        text-transform:uppercase;
        &.friends > .portlet-title {
            background:red;
        }
    }
   
    .table-scrollable > .table{
        background-color:transparent;
    }
    .friends
     {
        
    }
}
