.userPage .portlet.box {
  background: #353a3f;
  color: #f5f5f5;
  text-transform: uppercase;
}
.userPage .profile-usertitle-job {
  margin-bottom: 7px;
  color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.userPage .profile-usertitle-name {
  color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.userPage svg {
  width: 17px;
  height: 17px;
  fill: #fff;
  vertical-align: middle;
  margin-left: 12px;
}
.userPage .r-table {
  display: table;
  border-spacing: 15px;
  border-collapse: separate;
}
.userPage .r-table-row {
  display: table-row;
}
.userPage .r-table-cell {
  display: table-cell;
}
.userPage .header .r-table-cell {
  text-align: center;
}
