@color1: #5f6871;
@loginColor : #3293f6;
@registerColor: #fff;


@color4: #353a3f;
@color2: #f5f5f5;
@color3:#292d31;
@color5:#6a737d;
@color6:#326F2D;
@color7:#3598dc;

@boxColor0: #64A9F8;
@boxColor1: #9d87b7;
@boxColor2: #666e70;
@boxColor3: #ff9853;
@boxColor4: #e775ce;
@boxColor5: #ffb933;
@boxColor6: #848fa6;
@boxColor7: #5474cf;
@boxColor8: #e3b75f;
@boxColor9: #695b47;
@boxColor10: #f36f6e;
@boxColor11: #f76446;
@boxColor12: #73b435;
@boxColor13: #6ea77b;
@boxColor14: #c33f40;
@boxColor15: #549af7;
@boxColor16: #4e5384;
@boxColor17: #4faf61;