@using Zbang.Zbox.Mvc3WebRole.Views.Home.Resources

<div class="staticPage aboutUs">
    <header class="header">About Us</header>

    <div class="lFloat leftCol">
        <div class="teamSprite eidan" ></div>
        <div class="subHeader">Eidan Appelbaum</div>
        <div>CEO</div>
        <p>Eidan is a veteran Internet professional with extensive experience in leading Internet companies.</p>

        <p>
            Prior to joining MultiMi Cloud, Eidan worked as Director of Product Management and Strategy at Yahoo! He was responsible, among others, for Yahoo!&#700;s Front Page and managed the Business Intelligence group that oversaw strategic development of Yahoo!&#700;s client-facing applications (Mail, Messenger, My Yahoo!, groups, etc.).
        </p>
        <p>
            Since Eidan's return to Israel in 2007, he has provided consulting services to various companies such as Random Logic, Pelephone, Veezuu, Vestopia, and Topodia and has founded, managed, and sponsored the development of MultiMi Cloud.
        </p>
    </div>
    <ul class="rFLoat teamList">
        <li>
            <div class="teamSprite ram" ></div>
            <div class="subHeader">Ram Yaari</div>
            <div>CTO</div>
        </li>
        <li>
            <div class="teamSprite daniel"></div>
            <div class="subHeader">Daniel David</div>
            <div>Software Developer</div>
        </li>
        <li>
            <div class="teamSprite yaniv"></div>
            <div class="subHeader">Yaniv Priess</div>
            <div>Software Developer</div>
        </li>
        <li>
            <div class="teamSprite neta"></div>
            <div class="subHeader">Neta Priess</div>
            <div>QA and Administration</div>
        </li>
        <li>
            <div class="teamSprite galit"></div>
            <div class="subHeader">Galit Lurya</div>
            <div>UX and Design</div>
        </li>
    </ul>
</div>
