<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IWcfZboxService"
          type="Zbang.Zbox.WCFServiceWebRole.IWcfZboxService, Zbang.Zbox.WCFServiceWebRole"/>

    <alias alias="WcfZboxService"
          type="Zbang.Zbox.WCFServiceWebRole.WcfZboxService, Zbang.Zbox.WCFServiceWebRole"/>
    
    <container> 

      <register type="IWcfZboxService"
               mapTo="WcfZboxService">
        <!--<lifetime type="PerWebRequest"/>-->
      </register>
    </container>
  </unity>
</configuration>
