@model Zbang.Cloudents.Mvc4WebRole.Models.ItemPreview


@foreach (var item in Model.Src)
{
    <div class="divWrapper">
        <iframe seamless sandbox="" class="txtContent" src="@item"></iframe>
        <div class="copyRightWarning">@Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources.ItemsResources.CopyRight</div>
    </div>
}


