@using Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources
@model Zbang.Cloudents.Mvc4WebRole.Models.ItemPreview

<div class="preview-page previewDenied">
    <img src="@Url.CdnContent("~/Images/Site/preview_denied.png")" alt="Preview failed">
    <p>@ItemsResources.SecurityReasons</p>
    <a class="previewDeniedBtn" href="@Model.Src.FirstOrDefault()" target="_blank" ga-track-event="['itemPage'', 'open link']">@ItemsResources.OpenLink</a>
</div>
