@model IEnumerable<string>

@foreach (var item in Model)
{
    <div class="divWrapper">
        <h1><img class="svgContent" src="@item" alt="" /></h1>
        <div class="copyRightWarning">@Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources.ItemsResources.CopyRight</div>
    </div>

}
