@model Zbang.Zbox.ViewModel.Dto.ItemDtos.ItemWithDetailDto
<div class="boxContent">
    <div class="">This is a box</div>
    <div class="">To view the content of this box<a href="@Model.Name">&nbsp;click here</a></div>
</div>
