@model Zbang.Cloudents.Mvc4WebRole.Models.ItemPreview

<div class="preview preview-page">
    <div class="preview-svg">
        @foreach (var item in Model.Src)
        {
            <img class="svgContent" src="@item" alt="" />
        }
    </div>
</div>