@model IEnumerable<string>

@foreach (var item in Model)
{
    <div class="divWrapper"> 
       <img class="imageContent" src="@item" alt="" />
        <div class="copyRightWarning">@Zbang.Cloudents.Mvc4WebRole.Views.Item.Resources.ItemsResources.CopyRight</div>
    </div>
     
}

