<div class="itemFulscrn">
    <div ng-bind-html="$parent.preview"></div>
    <button type="button" class="exitFulscrn" id="exitFulscrn"></button>
    <button type="button" class="itemPrev" id="itemPrev"><svg class="svg-prev"><use xlink:href="~/Images/Defs.svg#right" /></svg></button>
    <button type="button" class="itemNext" id="itemNext"><svg class="svg-next"><use xlink:href="~/Images/Defs.svg#right" /></svg></button>
</div>
