<div class="itemFulscrn">
    <div ng-bind-html="$parent.preview"></div>
    <button type="button" class="exitFulscrn" id="exitFulscrn"></button>
    <button type="button" class="itemPrev" id="itemPrev" tooltip="Previous document"></button>
    <button type="button" class="itemNext" id="itemNext" tooltip="Next document"></button>
</div>
