<div class="itemPage">
    <header>
        <div class="like">Rate</div>
        <div class="actions">Some actions</div>
        <a class="closeItem" href="{{::i.details.boxUrl}}">Close</a>
    </header>
    <div class="fileName">{{::i.details.name}}</div>
    <div class="preview" ng-bind-html="i.preview">
        <img src="https://az779114.vo.msecnd.net/preview/88c1424d-cedc-45b2-be99-ec9dd48a7809.pdf.jpg?width=1000&height=1500" />
    </div>
</div>
