@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Cloudents Print</title>
    <style>
        img {
            width: 1200px;
        }
    </style>
</head>
    <body style="margin: 0">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <img src="@item" alt="" />
            }
        }
        <script>
            window.onload = function () {
                window.focus();
                window.print();
                window.close();
            };
        </script>
    </body>

</html>
