<div id="item_rename" data-diag="itemRename">
    <div class="popupWrppr itemRename">
        <header class="popupHeader"><span>Rename item</span></header>
        <button type="button" class="closeDialog" data-closediag="itemRename"></button>
        <form id="itemRenameForm" class="itemRenameForm">
            <label for="itemName">Item name:</label>
            <input class="inputText" type="text" id="itemName" name="itemRename" />
            <input id="itemRenameSave" type="submit" class="btn1 next" value="Save">
            <button id="itemRenameCancel" type="reset" class="btn2 cancel">Cancel</button>
        </form>

    </div>
    <div class="modal2"></div>
</div>