<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration, Version=2.0.414.0,
                   Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Lifetime Manager -->
    <alias alias="PerWebRequest"
           type="Zbang.Zbox.Infrastructure.Web.Ioc.UnityPerWebRequestLifetimeManager,Zbang.Zbox.Infrastructure.Web"/>

    <!-- Interfaces -->

    <alias alias="IZboxService"
           type="Zbang.Zbox.Domain.Common.IZboxService,Zbang.Zbox.Domain.Common"/>
    
    <!-- Implementations -->

    <alias alias="ZboxServiceAgent"
           type="Zbang.Zbox.Domain.Common.ZboxServiceAgent,Zbang.Zbox.Domain.Common"/>

    <alias alias="ZboxService"
           type="Zbang.Zbox.Domain.Services.ZboxService,Zbang.Zbox.Domain.Services"/>
    
    <container>

      <register type="IZboxService"
                mapTo="ZboxService">
        <lifetime type="PerWebRequest"/>
      </register>

    </container>

  </unity>

</configuration>
