@{
    ViewBag.Title = "About Us | Cloudents";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}
<div class="staticPage aboutUs">
<h1>About Us</h1>
<h3>What is Cloudents?</h3>

<p>Cloudents is a free online and mobile social studying platform. A community focused on academic activity so you can focus on studying. It is a place to work together on assignments, find the study material you need, test your knowledge or discuss ideas and texts.
</p>

<h3>The background</h3>

<p>Many students are caught between various online services for collaboration. On one side official virtual learning environments provided by their university, official but often clunky and inflexible. On the other side Facebook –geared for social life, not academic collaboration– where distractions are never far away.</p>

<p>To fill this gap we set out to create a social studying platform that combines the flexibility and social elements of Facebook with the focus on academic work of official virtual learning environments.</p>


<p>All Cloudents features are specifically designed with students’ needs in mind, integrated as part of a single, easy to use and free social studying platform.</p>




<h3>Our mission</h3>

<p>We want our users to improve academically. We want to facilitate cross-pollination of ideas, the sharing of materials and academic collaboration. We want our users to become better students.</p>


<h3>Our company</h3>
<p>The Cloudents platform is developed by a young bunch of specialists in online platforms. Our combined background includes various online platforms such as AVG MultiMi and Yahoo’s client facing applications such as Mail, Messenger, Groups and My Yahoo!
</p>
</div>
