<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>

    </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Encoding" />
        <add name="Content-Encoding" value="gzip" />

      </customHeaders>
    </httpProtocol>
        <urlCompression doStaticCompression="false" />
  </system.webServer>
</configuration>
