@import "../../../../styles/mixin.less";
@import "style-helpers/scroll-bar.less";
@import "style-helpers/uploadAnimation.less";

@uploadGreyBackground: rgba(68, 82, 252, 0.09);
@uploadGrey: #D1D1D1;
@stepContentBackground: rgba(68, 82, 252, 0.02);
@maxWidthForm: 430px;
@borderOpacityGrey: rgba(151, 151, 151, 0.18);
@chipActiveColor: #4452FC;
@colorPrice: rgba(74, 74, 74, 0.87);
@placeholderGrey: rgba(74, 74, 74, 0.25);
@inputGreyBorder: #979797;
@buttonHeigh: 48px;
@rowMobileTopPadding: 32px;

//error block
.error-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .error-container {
    border-radius: 4px;
    background-color: @colorErrorBackground;
    height: 74px;
    width: 426px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: @screen-xs) {
      width: 375px;
      height: 144px;
      margin-top: 16px;
    }

    .error-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.57;
      letter-spacing: -0.3px;
      color: @colorErrorText;
    }
    .supported-extensions {
      span {
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: -0.2px;
        color: @colorErrorText;
      }
    }
  }
}

//END error block

//confirm close dialog
.confirmation-dialog {
  max-width: 426px !important;
  @media (max-width: @screen-xs) {
    max-width: 338px !important;
  }
  .confirm-card {
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.33);
    overflow: hidden;
    .warning-icon {
      font-size: 18px;
      font-weight: 600;
      color: @textColor;
      position: absolute;
      z-index: 9;
      right: 13px;
      top: 2px;
    }
    &:after {
      content: ' ';
      border-top: 50px solid #ffeb3b;
      border-left: 50px solid transparent;
      width: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    @media (max-width: @screen-xs) {
      align-items: center;
    }
    .confirm-headline {
      font-family: @fontFiraSans;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.56;
      color: @textColor;
      padding-bottom: 8px;
      @media (max-width: @screen-xs) {
        padding-top: 32px;
        padding-bottom: 16px;
      }

    }
    .confirm-text {
      font-family: @fontFiraSans;
      font-size: 14px;
      line-height: 1.43;
      color: @colorBlackNew;
      text-align: left;
      padding-top: 0;
      padding-bottom: 32px;
      @media (max-width: @screen-xs) {
        text-align: center;
      }

    }
    .card-actions {
      background: #F7F7F7;
      width: 100%;
      justify-content: center;
      height: 78px;

      button {
        height: 32px;
        background-color: transparent;
        font-size: 14px;
        box-shadow: none;
        border-radius: 16px;
        text-transform: none;
        &.close-upload {
          color: @colorBlackNew;
          border: solid 1px @colorTypeDocDefault;

        }
        &.cancel {
          color: @color-blue-new;
          border: solid 1px @color-blue-new;
        }
      }

    }
  }
}

//end confirm dialog

.paddingTopSm {
  padding-top: 44px;
  @media (max-width: @screen-xs) {
    padding-top: 7%;
  }
}

.v-select__selections {
  min-height: 42px !important;
  padding-top: 0 !important;
}

.paddingTopBg {
  padding-top: 88px;
}

#upload-input {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: rotate(0deg);
  cursor: pointer;
  label {
    display: none;
  }
  input {
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
}

.upload-dialog {
  position: relative;
  font-family: @fontFiraSans;
  //mobile first step class
  &.mobile-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    #upload-input {
      input {
        height: 86px !important;
      }
    }
    .close-upload-btn-icon {
      display: none;
    }
    .sb-steps-wrap {
      padding: 0 !important;
      .sb-stepper {
        .sb-stepper-item {
          .step-1 {
            &.sb-stepper-content {
              border: none;
              padding: 0;
              margin: 0;
              .sb-step-card {
                min-height: unset;
                .upload-row-1 {
                  padding: 36px 0;
                }

                .upload-row-2 {
                  border-top: solid 1px rgba(0, 0, 0, 0.11);
                  padding: 0;
                  height: 86px;
                  justify-content: space-around;
                  align-items: stretch;

                  .btn-holder {
                    flex-direction: row;
                    justify-content: center;
                    flex-grow: 1;
                    align-items: center;
                    &:last-child {
                      padding-left: 0;
                      border-left: solid 1px rgba(0, 0, 0, 0.11);
                      margin-left: 36px;

                    }

                    .btn-label {
                      font-size: 16px;
                      font-weight: 300;
                    }
                  }
                }
                .upload-row-3 {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .close-upload-btn-icon {
    position: absolute;
    right: 16px;
    top: 21px;
    z-index: 99;
    font-size: 14px;
    cursor: pointer;
    @media (max-width: @screen-xs) {
      top: 0px;
      right: 3px;
      width: 40px;
      height: 40px;
      font-size: 12px;
    }
  }
  .sb-steps-wrap {
    font-family: @fontFiraSans;
    padding: 12px 0 0 0;
    @media (max-width: @screen-xs) {
      //for mobile fix
      height: 100%;
      padding: 0;
    }
    .bottom-upload-controls {
      height: 82px;
      padding-top: 0;
      @media (max-width: @screen-xs) {
        height: 120px;
      }
      .step-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 96%;
        background: @color-white;
        @media (max-width: @screen-xs) {
          flex-direction: column;
          height: 100%;
          justify-content: flex-start;

        }

        &.mobile-controls-last {
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-top: 0px;
          .upload-result-file {
            flex: 0 0 100%;
            height: 64px;
          }
          .sb-close-mobile {
            position: relative;
            width: 50%;
            margin: 0;
            padding: 0;
            height: 56px;
            border-top: 1px solid @borderOpacityGrey;
            border-right: 1px solid @borderOpacityGrey;
          }
          .another-doc {
            border: none;
            width: 50%;
            margin: 0;
            padding: 0;
            border-radius: 0;
            height: 56px;
            border-top: 1px solid @borderOpacityGrey;
          }
        }
        .upload-result-file {
          display: flex;
          align-items: center;
          position: absolute;
          left: 0;
          height: 82px;
          width: auto;
          min-width: 300px;
          padding: 0 32px;
          border-right: 1px solid @borderOpacityGrey;
          @media (max-width: @screen-xs) {
            align-items: center;
            justify-content: center;
            position: relative;
            height: 64px;
            padding: 0;
            width: 100%;
            border-right: none;
          }
          .file-item {
            display: flex;
            align-items: center;
            justify-content: center;
            .load-container {
              width: auto;
              margin-right: 12px;
            }
            .sbf {
              color: @labelColorMobile;
              font-size: 22px;
              &.sb-close {
                font-size: 8px;
                cursor: pointer;
              }
            }
            .upload-file-name {
              margin-left: 12px;
              color: @colorBlackNew;
              font-size: 13px;

            }

          }
          //file-item
        }
        //upload-result-file
        .next-btn {
          width: 182px;
          background-color: @color-blue-new;
          color: @color-white;
          font-size: 14px;
          font-weight: 500;
          height: @buttonHeigh;
          &[disabled] {
            color: @color-white !important;
            .credit-card {
              color: @color-white !important;
            }
          }
          &.sell {
            width: 223px;
            padding: 0 16px;
            @media (max-width: @screen-xs) {
              width: 100%;
            }
            .credit-card {
              font-size: 18px;
              margin-left: 16px;
            }
          }
          @media (max-width: @screen-xs) {
            flex: 1;
            width: 100%;
            border-radius: 0;
            margin: 0;
            position: fixed;
            height: @buttonHeigh;
            bottom: 0;
            right: 0;
            left: 0;
            &[disabled] {
              background-color: @colorDisbaled !important;
              z-index: 9;
              //height: 51px;
            }
          }
        }
        .sb-back-flat-btn {
          color: @colorBlackNew;
          text-transform: capitalize;
          @media (max-width: @screen-xs) {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 0;
          }
          .arrow-back {
            font-size: 16px;
            transform: rotate(-90deg);
          }
        }
        .another-doc {
          border: 1px solid @color-blue-new;
          color: @color-blue-new;
          height: @buttonHeigh;
          font-weight: 500;
          width: 284px;
          .cloud-upload {
            color: @color-blue-new;
            font-size: 18px;
            margin-left: 9px;
          }
        }
      }
    }
    .sb-stepper {
      background-image: linear-gradient(to bottom, rgba(68, 82, 252, 0), rgba(68, 82, 252, 0) 27%, rgba(68, 82, 252, 0.05));
      box-shadow: none;
      @media (max-width: @screen-xs) {
        height: 100%;
      }
      .sb-stepper-header {
        height: 92px;
        background-color: @uploadGreyBackground;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        @media (max-width: @screen-xs) {
          display: none;
        }
        .sb-step-title {
          font-size: 26px;
          font-weight: 600;
          line-height: 1.23;
          text-align: center;
          color: @textColor

        }
        // sb-step-title
        .sb-step-subtitle {
          height: 32px;
          font-size: 16px;
          font-weight: 300;
          line-height: 2;
          text-align: center;
          color: @textColor
        }
      }
      //sb-stepper-header
      .sb-stepper-item {
        .scrollBarStyle();
        @media (max-width: @screen-xs) {
          height: 100%;
          display: flex;
          overflow-y: scroll;
          flex-direction: column;
        }
        input[type="text"] {
          font-size: 13px;
        }
        .input-wrapper {
          width: 100%;
          .input-field {
            .placeholder-color(@colorGreyLight);
            font-size: 13px;
            padding: 12px;
            &:not(.inputPrepIcon) {
              .glowingBorder();

              &:focus {
                .glowingBorderFocused();
              }
            }
          }
        }
        .sb-stepper-content {
          border: 1px dashed @color-blue-new;
          //padding: 0;
          @media (max-width: @screen-xs) {
            padding: 24px 12px 16px 12px;
          }
          &.step-1 {
            margin-bottom: 12px;
            .or-upload {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              padding-top: 44px;
            }
            .upload-row-2 {
              flex-grow: 1;
            }

          }
          .sb-step-card {
            background-color: transparent;
            //min-height: 367px;
            min-height: 275px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-shadow: none;
            &.drop-card {
              transform: scale(1.02);
              z-index: 2
            }
            @media (max-width: @screen-xs) {
              min-height: unset;
            }
            .upload-row-1 {
              padding-top: 24px;
              display: flex;
              flex: 0 0 100%;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              @media (max-width: @screen-xs) {
                padding-top: 44px;
              }
              &.referal-row-1 {
                align-items: center;
                justify-content: center;
              }
              .sbf-upload-cloud {
                font-size: 18px;
                color: @color-blue-new;
                @media (max-width: @screen-xs) {
                  color: @colorInputFocus;
                  font-size: 18px;
                }
              }
              .upload-cloud-text {
                font-size: 18px;
                font-weight: normal;
                margin-left: 12px;
                &.text-blue {
                  color: @color-blue-new;
                  @media (max-width: @screen-xs) {
                    color: @colorInputFocus;
                    font-size: 16px;
                  }
                }
                //text-blue
              }
              //upload-cloud-text
            }
            //upload-row-1
            .upload-row-2 {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: center;
              align-items: flex-start;
              align-content: center;
              @media (max-width: @screen-xs) {
                padding-top: @rowMobileTopPadding;
              }
              &.referral-row {
                padding-top: 21px;
                .v-card {
                  box-shadow: none;
                  @media (max-width: @screen-xs) {
                    width: 100%;
                  }
                  .close-btn, h2 {
                    display: none;
                  }
                  .referral-container {
                    display: flex;
                    flex-direction: column;
                    .share-icon-container {
                      span {
                        margin-right: 24px;
                      }
                    }
                    .input-container {
                      width: 100%;
                      @media (max-width: @screen-xs) {
                        margin-left: 0 !important;
                      }
                      .link-container {
                        width: 100%;
                        margin-top: 0;
                        .referral-input {
                          min-width: 320px;
                          @media (max-width: @screen-xs) {
                            min-width: unset;
                          }
                        }
                      }
                    }
                    .share-icon-container {
                      @media (max-width: @screen-xs) {
                        display: flex;
                        flex-direction: row;
                        width: 80%;
                        justify-content: space-evenly;
                      }

                    }
                    .text-style-wrap {
                      display: none;
                    }
                  }
                }
              }

              .btn-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                &:last-child {
                  padding-left: 48px;
                  &.price-holder{
                    @media(max-width: @screen-xs){
                      margin-left: unset;
                    }
                  }
                }
                .upload-option-btn {
                  height: 48px;
                  width: 48px;
                  box-shadow: none;
                  border: none;
                  background-color: @uploadGreyBackground;
                  align-items: center;
                  border-radius: 50%;
                  display: inline-flex;
                  flex: 0 0 auto;
                  font-size: 14px;
                  font-weight: 500;
                  justify-content: center;
                  margin: 6px 8px;
                  min-width: 48px;
                  outline: 0;
                  text-transform: uppercase;
                  text-decoration: none;
                  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
                  position: relative;
                  vertical-align: middle;
                  user-select: none;
                  &:hover {
                    background-color: #E2E2E5;
                    cursor: pointer;

                  }
                  .sbf {
                    font-size: 18px;
                    color: @color-blue-new;
                  }
                  //sbf
                }
                //upload-option-btn
                .btn-label {
                  padding-top: 10px;
                  font-size: 14px;
                  color: @color-blue-new;
                }
                //btn-label
              }
              //btn-holder
            }
            //upload-row-2
            .upload-row-3 {
              padding-top: 48px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              &.referal-row-3 {
                display: flex;
                flex-direction: column;
                padding-top: 72px;
                @media (max-width: @screen-xs) {
                  padding-top: 64px;

                }
                .sb-subtitle {
                  font-size: 14px;
                  color: @colorBlackNew;
                  font-weight: normal;
                  line-height: 0.75;
                }
                .referal-ask {
                  background: @color-blue-new;
                  color: rgba(255, 255, 255, 0.87);
                  height: @buttonHeigh;
                  font-weight: 500;
                  .referal-edit-icon {
                    color: @color-white;
                  }
                }
                .referal-answer {
                  border: 1px solid @color-blue-new;
                  color: @color-blue-new;
                  height: @buttonHeigh;
                  font-weight: 500;
                }
                .referal-btns-wrap {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  @media (max-width: @screen-xs) {
                    flex-direction: column;
                    padding-top: 24px;

                  }
                }
              }
              .btn-holder {
                display: flex;
                flex-direction: row;
                align-items: center;
                .sbf {
                  font-size: 18px;
                  color: @color-blue-new;
                }
                //sbf
                .btn-label {
                  font-size: 16px;
                  color: @color-blue-new;
                  padding-left: 12px;
                  font-weight: 300;
                }
                //btn-label
                &.drop-active {
                  .sbf {
                    font-size: 18px;
                    color: darken(@color-blue-new, 10%);
                    .transition (all 0.3s ease-in-out);
                  }
                  .btn-label {
                    font-size: 18px;
                    color: darken(@color-blue-new, 10%);
                    .transition (all 0.3s ease-in-out);
                  }

                }
                //drop-active
              }
              //btn-holder
            }
            //upload-row-3
          }
          //sb-step-card
          &.step-2, &.step-6 {
            border: 1px solid transparent;
            .sb-step-card {
              align-items: center;
              .upload-row-1 {
                padding-top: 0;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
                max-width: @maxWidthForm;
                @media (max-width: @screen-xs) {
                  padding-top: 44px;
                }
                .sb-title {
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 1.56;
                  margin-left: 0;
                }
                //title
                .sb-subtitle {
                  font-size: 14px;
                  color: @colorBlackNew;
                  font-weight: normal;
                  line-height: 0.75;
                  @media (max-width: @screen-xs) {
                    line-height: 1;
                    font-size: 13px;
                  }
                  .sbl-faq {
                    color: rgba(68, 82, 252, 0.59);
                  }
                }
                // subtitle
              }
              //upload-row-1
              .upload-row-2 {
                width: 100%;
                max-width: @maxWidthForm;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                @media (max-width: @screen-xs) {
                  padding-top: @rowMobileTopPadding;
                }
                .btn-holder {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  .wrap-row-price {
                    display: flex;
                    min-width: 134px;
                    align-items: center;
                    justify-content: center;
                    .price-wrap {
                      position: relative;
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      max-width: 270px;
                      min-width: 270px;
                      border-radius: 4px;
                      border: 1px solid rgba(0, 0, 0, .25);
                      justify-content: center;
                      .balance-label {
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        color: @labelColorMobile;
                        font-size: 12px;

                      }
                      .sb-input-upload-price {
                        max-width: 125px;
                        height: 90px;
                        .input-field {
                          .placeholder-color(@placeholderGrey, 1);
                          font-size: 36px;
                          color: @colorPrice;
                          text-align: center;
                          height: 100%;
                          width: 100%;
                          &:focus {
                            outline: none;
                          }
                        }
                      }
                      .sbl-suffix {
                        color: @colorBlackNew;
                        font-size: 14px;
                      }
                    }
                  }
                  .sb-current-balance {
                    background-color: @uploadGreyBackground;
                    height: 92px;
                    min-width: 134px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-left: 16px;
                    position: relative;

                    .sb-wallet-icon {
                      font-size: 26px;
                      color: fade(@color-black, 25%);
                      margin-right: unset;
                    }
                    .sb-account-amount {
                      color: #4a4a4a;
                      opacity: 0.67;
                      font-size: 16px;
                      padding-top: 12px;
                      &.account-label {
                        color: #4a4a4a;
                      }
                    }
                    .balance-label {
                      position: absolute;
                      bottom: -20px;
                      left: 0;
                      font-size: 12px;
                      color: @colorGreyLight;
                    }
                  }
                  .steps-form-label {
                    font-family: 'Open Sans', sans-serif;
                    color: @labelColorMobile;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    .responsive-property(font-size, 12px, null, 13px);
                  }
                  .sbf {
                    font-size: 12px;
                    color: @labelColorMobile;
                    margin-right: 12px;
                    @media (max-width: @screen-xs) {
                      font-size: 13px;
                    }
                  }
                }
              }
              //upload-row-2
              .upload-row-3 {
                width: 100%;
                max-width: @maxWidthForm;
                flex-wrap: wrap;
                padding-top: 32px;
                &.chip-classes-row {
                  justify-content: flex-start;
                }
                .steps-form-label {
                  font-family: 'Open Sans', sans-serif;
                  .responsive-property(font-size, 12px, null, 13px);
                  color: @labelColorMobile;
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                }
                .sbf {
                  font-size: 14px;
                  color: @labelColorMobile;
                  margin-right: 12px;
                  &.sbf-expand-bottom {
                    margin-right: unset;
                    cursor: pointer;
                  }
                }
                .chip-wrap {
                  width: 100%;
                  max-width: 426px;
                  @media (max-width: @screen-xs) {
                  }
                  .combo-class {
                    .v-input__slot {
                      padding: 0 12px;
                      box-shadow: none;
                      .glowingBorder();
                      border-radius: 4px;
                      .sbf-close {
                        font-size: 6px;
                        color: @colorBlackNew;
                      }
                      .sbf-expand-bottom {
                        font-size: 22px;
                      }
                      .v-input__append-inner {
                        &:last-child {
                          &:before {
                            content: '';
                            display: block;
                            background-color: @colorInputFocused;
                            margin-right: 6px;
                            width: 1px;
                          }
                        }
                      }
                    }
                    &.v-input--is-focused {
                      .v-input__slot {
                        box-shadow: none;
                        .glowingBorderFocused();
                        border-radius: 4px;
                      }

                    }
                  }
                }
              }
              //upload-row-3
            }
            //sb-step-card
          }
          //step two end

          &.step-3 {
            border: 1px solid transparent;
            .sb-step-card {
              align-items: center;
              .upload-row-1 {
                padding-top: 0;
                @media (max-width: @screen-xs) {
                  padding-top: 44px;
                }
                .sb-title {
                  font-weight: 600;
                  font-size: 18px;
                }
              }
              .upload-row-2 {
                flex-direction: row;
                padding-top: 88px;
                @media (max-width: @screen-xs) {
                  width: 100%;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding-top: @rowMobileTopPadding;
                }
                .sb-doc-type {
                  border: 1px solid @colorGreyLight;
                  border-radius: 4px;
                  display: flex;
                  flex-direction: column;
                  width: 134px;
                  height: 91px;;
                  margin: 0 6px;
                  align-items: center;
                  justify-content: space-around;
                  cursor: pointer;
                  @media (max-width: @screen-xs) {
                    width: 100%;
                    max-width: 254px;
                    margin-bottom: 16px;
                    height: 90px;
                    max-height: 91px;
                    &:hover {
                      animation: color_change_doc_type 0.7s ease-in-out;
                      animation-iteration-count: 1;
                      border: solid 1px @color-blue-new;
                      background-color: @uploadGreyBackground;
                      .sb-doc-title {
                        color: @color-blue-new;
                      }
                      .sb-doc-icon {
                        color: @color-blue-new;
                      }
                    }
                  }

                  .sb-doc-icon {
                    font-size: 35px;
                    color: @colorGreyLight;

                  }
                  .sb-doc-title {
                    font-size: 14px;
                    color: @textColor;
                  }
                  &.selected {
                    //animate background change
                    animation: color_change_doc_type 0.7s ease-in-out;
                    animation-iteration-count: 1;
                    border: solid 1px @color-blue-new;
                    background-color: @uploadGreyBackground;
                    .sb-doc-title {
                      color: @color-blue-new;
                    }
                    .sb-doc-icon {
                      color: @color-blue-new;
                    }

                  }
                }
              }

            }
            //step card step three

          }
          //step-three end
          &.step-4, &.step-5, &.step-6, &.step-7, &.step-8 {
            //&.step-4, &.step-5, &.step-7, &.step-8{
            border: 1px solid transparent;
            .sb-step-card {
              align-items: center;
              .v-input__slot {
                box-shadow: none;
                border: none;
                .sb-chip-tag {
                  background-color: @uploadGreyBackground;
                  &.selected {
                    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
                  }
                  .chip-button {
                    color: @chipActiveColor;
                  }
                }
              }
              .final-item {
                border-bottom: 2px solid rgba(68, 82, 252, 0.14);
                display: flex;
                flex-direction: row;
                align-items: baseline;
                width: 100%;
                padding: 12px 0 12px 12px;
                position: relative;
                &.price {
                  background-color: #eeefff;
                  border: none;
                }
                &.tags-selected {
                  border: none;
                }
                @media (max-width: @screen-xs) {
                  flex-direction: row;
                  align-items: baseline;
                  width: 100%;
                  margin: 0;
                }
                .price {
                  color: @textColor;
                  font-size: 18px;
                  font-weight: 600;
                  .price-sbl {
                    font-size: 12px;
                  }
                }
                .edit {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  opacity: 0;
                  position: absolute;
                  right: 8px;
                  top: 8px;
                  font-size: 12px;
                  color: @colorGreyLight;
                  .edit-icon {
                    font-size: 14px;
                    color: @colorGreyLight;
                  }
                }
                &:hover {
                  .edit {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                    .transition(all .4s ease-in-out);
                  }
                }
                .final-tags {
                  overflow: hidden;
                  display: flex;
                  flex-basis: 65%;
                  flex-direction: row;
                  .scrollBarStyle();
                  &:hover {
                    .transition (all .2s ease-in-out);
                    overflow-x: scroll;
                  }
                  .sb-chip-tag {
                    height: 22px;
                    margin: 2px 3px 2px 3px;
                    background-color: @uploadGreyBackground;
                    .chip-button {
                      color: @chipActiveColor;
                      display: flex;
                      text-transform: capitalize;
                      font-size: 12px;
                    }
                    .chip-close {
                      font-size: 6px;
                    }

                  }
                }
                .final-item-wrap {
                  .final-icon {
                    color: @chipActiveColor;
                    font-size: 14px;
                  }
                  .item-name {
                    color: @chipActiveColor;
                    margin-left: 12px;
                    font-size: 12px;
                    margin-right: 16px;
                    &.doc-type-name {
                      text-transform: capitalize;
                    }

                  }
                }
                .class-name, .school-name {
                  color: @textColor;
                  font-size: 12px;
                  line-height: 1.5;
                }
                .sb-doc-type {
                  color: @colorBlackNew;
                  font-size: 12px;
                }
              }

              .upload-row-1 {
                padding-top: 0;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
                max-width: @maxWidthForm;
                @media (max-width: @screen-xs) {
                  padding-top: 44px;
                }
                &.final-row{
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                }
                &.referal-row-1 {
                  align-items: center;
                  @media (max-width: @screen-xs) {
                    align-items: flex-start;
                  }
                }
                .sb-title {
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 1.56;
                  margin-left: 0;
                }
                //title
                .sb-subtitle {
                  font-size: 14px;
                  color: @colorBlackNew;
                  font-weight: normal;
                  line-height: 0.75;
                }
                // subtitle
                .five {
                  font-size: 36px;
                  color: @textColor;
                  min-width: 50px;
                  @media (max-width: @screen-xs) {
                    font-size: 33px;
                  }
                }
              }
              //upload-row-1
              .upload-row-2 {
                width: 100%;
                max-width: @maxWidthForm;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;

                &.final-row {
                  flex-direction: row;
                  justify-content: space-around;
                  @media (max-width: @screen-xs) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  }

                }
                .btn-holder {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  flex-wrap: wrap;
                  align-items: stretch;

                  //keep it here cause of dynamicly generated slot of vuetify, to classes to take affect
                  .v-input__slot {
                    box-shadow: none;
                    border: 1px solid @inputGreyBorder;
                    border-radius: 4px;
                    padding: 0 8px;
                    background: transparent;
                    .v-select__selections {

                    }
                    .sb-chip-tag {
                      background-color: @uploadGreyBackground;
                    }
                  }
                  .steps-form-label {
                    font-family: 'Open Sans', sans-serif;
                    color: @labelColorMobile;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .responsive-property(font-size, 12px, null, 13px);
                  }
                  .sbf {
                    margin-right: 12px;
                    font-size: 14px;
                    color: @labelColorMobile;
                  }
                  .sb-combo {
                    //height: 48px;
                    max-width: 430px;

                    .chip-button {
                      color: @chipActiveColor;
                      display: flex;
                      text-transform: capitalize;

                    }
                    .chip-close {
                      font-size: 8px;
                    }
                  }
                }
              }
              //upload-row-2
              .upload-row-3, .upload-row-4 {
                width: 100%;
                max-width: @maxWidthForm;
                flex-wrap: wrap;
                justify-content: flex-start;
                &:not(.referal-row-3) {
                  padding-top: 32px;
                }
                .legal-wrap {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  font-size: 12px;
                  opacity: 0.54;
                  line-height: 18px;
                  @media (max-width: @screen-xs) {
                    padding-top: 32px;
                  }
                  .legal-ownership {
                    color: @colorBlackNew;
                    font-size: 18px;
                    height: 24px;
                    width: 24px;
                    .v-input--selection-controls__ripple {
                      border-radius: 50%;
                      cursor: pointer;
                      height: 24px;
                      position: absolute;
                      transition: inherit;
                      width: 24px;
                      left: -6px;
                      top: ~"calc(50% - 20px)";
                      margin: 7px;
                    }
                    .sbf {
                      font-size: 22px;
                      color: @labelColorMobile;

                    }
                    label {
                      font-size: 12px;
                    }
                  }
                }
                //}
                .input-wrapper {
                  width: 100%;
                  .input-field {
                    font-size: 13px;
                  }
                }
                .steps-form-label {
                  font-family: 'Open Sans', sans-serif;
                  color: @labelColorMobile;
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  .responsive-property(font-size, 12px, null, 13px);

                }
                .sbf {
                  margin-right: 12px;
                  font-size: 14px;
                  color: @labelColorMobile;
                }
                .chip-wrap {
                  .sbf-class-chip {
                    margin-left: 0;
                    margin-right: 8px;
                    font-size: 12px;
                    &.v-chip {
                      .v-chip__content {
                        //ellipsis for too long class chip
                        @media (max-width: @screen-xs) {
                          max-width: 300px;
                          min-width: 0;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          display: block;
                          line-height: 32px;
                        }

                      }
                    }

                    &.v-chip--selected {
                      color: @chipActiveColor;
                      background-color: @uploadGreyBackground;
                      border: 1px solid @uploadGreyBackground;
                      box-shadow: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
