@import "../../../../mixin.less";

.upload-files{
  border-radius: 4px;
  //TODO ui changes
  background-color: @Textbooks;
  color: @color-white;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.5px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 17px;
  .transition (all .2s ease-in-out);
  &:hover {
    background-color: lighten(@Textbooks, 10%);
  }
}