@using Zbang.Cloudents.Mobile.Extensions
@using Zbang.Cloudents.Mobile.Views.Shared.Resources
<div class="searchWpr">
    <button type="button" class="backBtn lFloat" ng-click="search.goBack()">
        @Html.Svg("~/Images/Defs.svg", "back", new { @class = "svg-back rtl" })
    </button>

    <form class="searchForm rFloat" close-keyboard>
        <input class="searchInput" placeholder="@SharedResources.SearchFor" ng-change="search.query()" type="search" name="query" ng-model="search.formData.query" ng-model-options="{debounce:250}" />
    </form>
</div>
<div class="searchContent" scroll-paging on-scroll="search.query(true)">
    <div class="tabs">
        <button type="button" class="tab" ng-click="search.setCurrentTab('courses')" ng-class="{ active : search.currentTab === 'courses'}">@SharedResources.Courses</button>
        <button type="button" class="tab" ng-click="search.setCurrentTab('items')" ng-class="{ active : search.currentTab === 'items'}">@SharedResources.Items</button>
        @*<span class="tab">Members</span>*@
    </div>

    <div ng-switch="search.currentTab">
        <ul class="courseList" ng-switch-when="courses">
            <li ng-repeat="course in search.courses">
                <a href="{{::course.url}}" class="ghost">
                    <div class="courseName vCentered">{{::course.name}}</div>
                    <img width="40" height="40" ng-src="{{::course.image}}" />
                </a>
            </li>
        </ul>
        <ul class="itemsList" ng-switch-when="items">
            <li ng-repeat="item in search.items">
                <a target="_self" href="{{::item.url}}" class="ghost">
                    <div class="details vCentered">
                        <div class="filename elps">{{::item.name}}</div>
                        <div class="elps">To be disscused</div>
                    </div>
                    <img width="64" height="78" ng-src="{{::item.image}}" />
                </a>
            </li>
        </ul>
    </div>
    @*<ul class="membersList">
            <li>
                <a href="#" class="ghost">
                    <div class="userName vCentered">{Username should go here}</div>
                    <img width="40" height="40" src="http://placehold.it/40x40" />
                </a>
            </li>
        </ul>*@
</div>
