

<div class="category-wrapper">
	<input id="toggleK-@Model.J" class="toggle-level-2" type="radio" name="toggle-inner"  />
	<label for="toggleK-@Model.J">@Model.Question</label>
	<section id="content-@Model.J" class="content-level-2 tab-content">
		<div><span>@Html.Raw(@Model.Answer)</span></div>
	</section>
</div>
