

<div class="category-wrapper">
	<input id="toggle-@Model.i@Model.j" class="toggle-level-2" type="checkbox" name="toggle-inner"  />
	<label for="toggle-@Model.i@Model.j">@Model.question</label>
	<section id="content-@Model.i@Model.j" class="content-level-2 tab-content">
		<p><span>@Html.Raw(@Model.answer)</span></p>
	</section>
</div>
