
<div class="header-wrapper-static">
	<header class="header fluid-width mobile-full-width">
		<a class="fader-link close-overlay" href="@Url.RouteUrl("Alex")">
			<h1 class="spitball-logo float-left">spitball</h1>
		</a>
		<div class="header-nav-links">
			<a class="header-nav-link js-ga-track fader-link about-link" href="@Url.RouteUrl("Alex_ABOUT")">About us</a>
			<a class="header-nav-link js-ga-track fader-link faq-link" href="@Url.RouteUrl("Alex_FAQ")">FAQ</a>
		</div>
	</header>
</div>
