@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
<div id="libraryChooseWrapper">
    @{
        Html.RenderPartial("_AddSchoolDialog", new Zbang.Cloudents.Mvc4WebRole.Models.CreateUniversity());
    }
    <div class="selectUni popup" id="libraryChoose">
        <div class="popupWpr">
            <div class="subTitle topContent">@MainViewResources.WelcomeAcademic</div>

            <input type="search" id="uni_search" class="inputText" placeholder="@MainViewResources.SearchSchool" />      
            <ul class="uniList" id="uniList">
                <li class="newUni">
                    <button type="button" data-modelnav="addSchool">
                        <span class="lFloat uniImg"></span>
                        <span class="uniName">@MainViewResources.AddSchool</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

@section script
{
    <script type="text/html" id="universityItemTemplate">
    <li data-id="{{id}}" data-ncode="{{nCode}}">
        <img src="{{image}}" class="lFloat uniImg" width="32" height="32" alt="" />
        <span>
            <span class="uniName elps">{{name}}</span>
            <span>{{membersCount}}</span>
        </span>
    </li>
</script>
@Html.Script2("MChooseLib")
}