@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div uib-collapse="!l.settingsOpen" class="settings">
    <form ng-submit="l.renameNode(nodeSettings)" novalidate name="nodeSettings" layout="row" layout-wrap>
        <md-input-container flex="100">
            <label class="text-capitalize">@GeneralResources.Rename</label>
            <input type="text" autocomplete="off" name="name" required ng-model="l.settings.name" ng-change="nodeSettings.name.$setValidity('server',true)" />
            <div ng-messages="nodeSettings.name.$error">
                <div ng-message="required">@GeneralResources.RequiredField</div>
                <div ng-message="server">{{l.error}}</div>
            </div>
        </md-input-container>
        <div layout="row" layout-align="end center" class="text-capitalize" flex="100">
            <button type="button" class="btn btn-default" ng-click="l.settingsOpen = false" ga-track-event="['university', 'cancel settings']">@GeneralResources.Cancel</button>
            <button type="submit" class="btn button-Blue btn-primary" ng-disabled="!nodeSettings.$valid || l.submitDisabled" ga-track-event="['itemPage', 'save settings']">@GeneralResources.SaveChanges</button>
        </div>
    </form>
</div>
