@using Zbang.Cloudents.Mvc4WebRole.Views.Library.Resources
@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources
<script type="text/ng-template" id="library-department">
    <a class="navigation deptLink union-sprite" ng-href="{{::box.url}}">
        <div class="deptNameWpr clamp2">
            <div class="deptName">{{::box.name}}</div>
        </div>
        <span class="courseCount" data-dept-numcourses="{{::box.noBoxes}}">&nbsp;@SharedResources.Courses</span>
    </a>
</script>

