<div class="page-head">
    <div class="page-title">
        <h1>university name</h1>
    </div>
</div>
<div class="row">
    <div class="tiles">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="tile double selected bg-green-turquoise dashboard-stat2">
                <div class="corner">
                </div>

                <div class="display">
                    <div class="number">
                        <h3>Some test</h3>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                    </div>
                    <div class="status">
                        <div class="status-title">
                            10 courses
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile double selected bg-green-turquoise">
                <div class="corner">
                </div>
                <div class="check">
                </div>
                <div class="tile-body">
                    <h4>support@metronic.com</h4>
                    <p>
                        Re: Metronic v1.2 - Project Update!
                    </p>
                    <p>
                        24 March 2013 12.30PM confirmed for the project plan update meeting...
                    </p>
                </div>
                <div class="tile-object">
                    <div class="name">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="number">
                        14
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>