<div class="page-head">
    <div class="page-title">
        <h1>{{::l.universityName}}</h1>
    </div>
</div>
<div class="row library margin-top-10">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="dep in l.departments">

        <a href="{{::dep.url}}" class="dashboard-stat2" d-color="{{::dep.name.length}}">
            <div class="corner">
            </div>
            <div class="display">
                <div class="number">
                    <h3>{{::dep.name}}</h3>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                </div>
                <div class="status">
                    <div class="status-title">
                        {{::dep.noBoxes}} boxes
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
