@using Zbang.Cloudents.Mvc4WebRole.Views.Shared.Resources

<div class="modal-header">
    <h3 class="modal-title"><span>@SharedResources.Rename</span></h3>
</div>
<div class="modal-body">
    <form ng-submit="renameDepartment()">
        <input class="inputText" type="text" ng-model="formdata.newName" required />
        <input type="submit" class="btn1 next" ng-disabled="disable" value="@SharedResources.Save">
        <button ng-click="cancel()" type="reset" class="btn2 cancel">@SharedResources.Cancel</button>
    </form>
    <button type="button" class="closeDialog" ng-click="cancel()"></button>
    <button type="button" ng-if="canDelete" ng-click="deleteDepartment()" class="btn1 rFloat delDeptBtn">Delete this department</button>
</div>
