@page
@model Cloudents.Management.Pages.CashOutModel
@{
    ViewData["Title"] = "CashOut";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td:last-child {
        width: 85px
    }

    td:nth-child(4n) {
        width: 80px;
    }

    td:first-child {
        width: 60px;
    }

    td {
        overflow-wrap: break-word;
    }
</style>


<h2>CashOut</h2>


<table>
    <tr>
        <td>User Id</td>
        <td>Cash Out Amount</td>
        <td>Cash Out Time</td>
        <td>Is suspect?</td>

        @foreach (var q in Model.CashOuts)
        {
        <tr>
            <td>@q.UserId</td>
            <td>@q.CashOutPrice</td>
            <td>@q.CashOutTime</td>
            <td>"@q.IsSuspect"</td>
        </tr>
    }
    </table>