@page
@model Cloudents.Management.Pages.DeleteQuestionModel
@{
    ViewData["Title"] = "DeleteQuestion";
}

<h2>DeleteQuestion</h2>


<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Model.QuestionId"></label>
    <input asp-for="Model.QuestionId" />
    <br />
    <input type="submit" />
</form>

