@page
@using Cloudents.Core.Extension
@model SendTokensModel
@{
    ViewData["Title"] = "SendTokens";
}



<h2>SendTokens</h2>


<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Model.UserId"></label>
        <input asp-for="Model.UserId" />
    </div>

    <div>
        <label asp-for="Model.Tokens"></label>

        <input asp-for="Model.Tokens" />
    </div>
    <div>
        <label asp-for="Model.TypeId"></label>
        @Html.DropDownList("Model.TypeId",
              new SelectList(EnumExtension.GetPublicEnumNames(typeof(Cloudents.Core.Enum.TransactionType))),
                                "Transaction Type",
                                new { @class = "Model.TypeId" })
    </div>
    <input type="submit" />

</form>
