@page
@model SendTokensModel
@{
    ViewData["Title"] = "SendTokens";
}



<h2>SendTokens</h2>


<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Model.UserId"></label>
        <input asp-for="Model.UserId" />
    </div>

    <div>
        <label asp-for="Model.Price"></label>

        <input asp-for="Model.Price" />
    </div>
    <div>
        <label asp-for="Model.TypeId"></label>
        @Html.DropDownList("form-control",
              new SelectList(Enum.GetValues(typeof(Cloudents.Core.Enum.TransactionType))),
                                "Transaction Type",
                                new { @class = "form-control" })
    </div>
    <input type="submit" />

</form>
