@page
@model Cloudents.Management.Pages.SuspendUserModel
@{
    ViewData["Title"] = "Suspend User";
}

<h2>Suspend User</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Model.Id"></label>
        <input asp-for="Model.Id" />
    </div>
    
    <div>
        <label asp-for="Model.DeleteUserQuestions"></label>
        <input asp-for="Model.DeleteUserQuestions" />
    </div>
    <input type="submit" />
</form>


<div>
    @if (!string.IsNullOrEmpty(Model.Email))
    {
        <div>User Was suspended</div>
        <div>User email: @Model.Email</div>
    }
</div>